﻿@{
    ViewBag.Title = "SIM Order List";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
}
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div style="font-size: 22px; background-color: #4b8df8; color: #fff; padding: 10px; padding-left: 15px; border-top-left-radius: 5px !important; border-top-right-radius: 5px !important;">Free SIM Order</div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12" style="background-color: #ffffff; border: 1px solid #81adf5; padding: 18px 15px 10px 15px;">
        <table class="tblOrderDetail" border="0" cellspacing="3" cellpadding="3" style="width: 50%">
            <tbody>
                <tr style="text-align: right;">
                    <td colspan="2"><span style="color: rgb(255, 0, 0); display: inline;">*</span> marked fields are mandatory</td>
                </tr>
                <tr>
                    <td style="width: 20%">First Name<span style="color: rgb(255, 0, 0); display: inline;">*</span></td>
                    <td>
                        <input type="text" id="txtFSOFirstName" name="txtFSOFirstName" style="width: 100%" maxlength="30">
                    </td>
                </tr>
                <tr>
                    <td>Last Name<span style="color: rgb(255, 0, 0); display: inline;">*</span></td>
                    <td>
                        <input type="text" id="txtFSOLastName" name="txtFSOLastName" style="width: 100%" maxlength="30">
                    </td>
                </tr>
                <tr id="trHouseno">
                    <td>House No<span style="color: rgb(255, 0, 0); display: inline;">*</span></td>
                    <td>
                        <input type="text" id="txtFSOHouseNo" name="txtFSOHouseNo" style="width: 100%" maxlength="50">
                    </td>
                </tr>
                <tr id="trAddress">
                    <td>Address<span style="color: rgb(255, 0, 0); display: inline;">*</span></td>
                    <td>
                        <input type="text" id="txtFSOAddress1" name="txtFSOAddress1" style="width: 100%" maxlength="50">
                    </td>
                </tr>
                <tr id="trAddress1">
                    <td>Address1</td>
                    <td>
                        <input type="text" id="txtFSOAddress2" name="txtFSOAddress2" style="width: 100%" maxlength="50">
                    </td>
                </tr>
                <tr>
                    <td>City<span style="color: rgb(255, 0, 0); display: inline;">*</span></td>
                    <td>
                        <input type="text" id="txtFSOCity" name="txtFSOCity" style="width: 100%" maxlength="20">
                    </td>
                </tr>
                <tr style="visibility: collapse;">
                    <td>State<span style="color: rgb(255, 0, 0); display: inline;">*</span></td>
                    <td>
                        <input type="text" id="txtFSOState" name="txtFSOState" style="width: 100%" maxlength="20">
                    </td>
                </tr>
                <tr>
                    <td>Postcode<span style="color: rgb(255, 0, 0); display: inline;">*</span></td>
                    <td>
                        <input type="text" id="txtFSOPostcode" name="txtFSOPostcode" style="width: 100%" maxlength="8">
                    </td>
                </tr>
                <tr>
                    <td>Mobile No<span style="color: rgb(255, 0, 0); display: inline;">*</span></td>
                    <td>
                        <input type="text" id="txtFSOMobileNo" name="txtFSOMobileNo" style="width: 100%" maxlength="15">
                    </td>
                </tr>
                <tr>
                    <td>Email<span style="color: rgb(255, 0, 0); display: inline;">*</span></td>
                    <td>
                        <input type="text" id="txtFSOEmail" name="txtFSOEmail" style="width: 70%" maxlength="48">
                        <button id="btnFSOReferAFriend" class="btn blue" style="float: right; width: 130px; height: 40px;">Refer A Friend</button>
                    </td>
                </tr>
                <tr>
                    <td>Qty<span style="color: rgb(255, 0, 0); display: inline;">*</span></td>
                    <td>
                        <input type="number" id="txtFSOQty" name="txtFSOQty" style="width: 7%" min="1" max="3">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr style="text-align: right;">
                    <td colspan="2" style="color: red; font-weight: bold">
                        <label id="lblFSOError"></label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="margin-top: 20px;">
                            <button id="btnFSOClear" class="btn darkgrey" style="float: right; margin-right: -10px; width: 130px; height: 40px;">Clear</button>
                            <button id="btnFSOPlaceOrder" class="btn blue" style="float: right; width: 130px; height: 40px; margin-right: 10px">Place Order</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div id="SuccessMessage" class="popup-message modal hide border-lightblue" style="width: 300px; height: 180px">
    <div class="modal-header background-lightblue" style="font-family: Arial">Success</div>
    <div class="modal-body" style="height: 50px">
        <table class="tblOrderDetailResuilt" border="0" cellspacing="3" cellpadding="3">
            <tbody>
                <tr>
                    <td style="width: 50%; font-weight: bold;">Subscriber Id : </td>
                    <td id="tdSubscriberId"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">SIM Order Id : </td>
                    <td id="tdFreeSimId"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn blue" type="button" style="float: right; width: 100px;">Close</button>
    </div>
</div>
@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")

@section Scripts {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.FreeSIMOrder.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            ActivateTopbarMenu(3);

            $("#txtFSOQty").val("1");
            $("[type='number']").keypress(function (evt) {
                evt.preventDefault();
            });

            /* PLACE ORDER */
            $("#btnFSOPlaceOrder").live("click", function () {
                if (Validate()) {
                    PlaceOrder('@ViewBag._sitecode', $("#txtFSOFirstName").val().trim(), $("#txtFSOLastName").val().trim(), $("#txtFSOHouseNo").val().trim(), $("#txtFSOAddress1").val().trim(), $("#txtFSOAddress2").val().trim(), $("#txtFSOCity").val().trim(), $("#txtFSOPostcode").val().trim(), '', $("#txtFSOMobileNo").val().trim(), $("#txtFSOEmail").val().trim(), "NewOrder(3 in 1 SIM fits all)", "CRM - " + $(".username").html(), location.href, "", $("#txtFSOQty").val());
                }
            });

            /* Refer A Friend */
            $("#btnFSOReferAFriend").live("click", function () {
                if ($("#txtFSOFirstName").val().trim() != "") {
                    if ($("#txtFSOMobileNo").val().trim() != "") {
                        if ($("#txtFSOEmail").val().trim() != "") {
                            if (ValidateEmail($("#txtFSOEmail").val().trim())) {
                                ReferAFriend($("#txtFSOFirstName").val().trim(), $("#txtFSOEmail").val().trim(), $("#txtFSOMobileNo").val().trim(), $(".username").html(), '@ViewBag._sitecode');
                            }
                            else {
                                $("#lblFSOError").html("Invalid Email Address.");
                            }
                        } else {
                            $('#lblFSOError').html("Enter Email!");
                        }
                    } else {
                        $('#lblFSOError').html("Enter Mobile No!");
                    }
                } else {
                    $('#lblFSOError').html("Enter First Name!");
                }
            });

            /* CLEAR */
            $("#btnFSOClear").live("click", function () {
                Clear();
            });


        });
    </script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.simorderlist.js"></script>
}