﻿@{
    ViewBag.Title = "SIM Order List";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
}

<input type="hidden" class="pagename" value="OrderList" />
<div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
<div class="row-fluid">
	<div class="span12">
        <div style="font-size:22px;background-color:#4d90fe;color:#fff;padding:10px;padding-left:15px;border-top-left-radius: 5px !important;border-top-right-radius: 5px !important;">SIM Order List</div>
	</div>
</div>
<div class="row-fluid" id="SIMOrderListContainer" >
	<div class="span12" style="background-color:#ffffff;border:1px solid #81adf5" id="SIMorderListPanel">
        <input type="hidden" id="accessedPage" name="accessedPage" />
        <table border="0">
            <tr>
                <td style="width:100px">&nbsp;</td>
                @*<td style="width:100px"><div style="margin-top:-10px;text-align:left">Select Country&nbsp;</div></td>
                <td colspan="1">
                    <select id="SIMOrderCountryList" name="SIMOrderCountryList" disabled style="font-size:13px;width:205px"></select>
                    <img id="SIMOrderCountryLoader" src="~/Assets/Main/img/ajaxloader-03.gif" style="margin-top: -10px;" />
                </td>*@
                <td colspan="6">
                    <div style="margin-top:-8px;text-align:left;font-weight:bold;">&emsp;<input type="checkbox" name="cbSearchSIMOrder" value="SearchSIMOrder" style="margin-top:-4px;margin-left:-13px">&nbsp;&nbsp;<span id="OSS">Order Search</span></div>
                </td>
            </tr>
            <tr id="trOrderList" >
                <td><div style="margin-top:-10px;text-align:left">Filter By&nbsp;</div></td>
                <td>
                    <select id="orderType" name="orderType" style="font-size:13px;width:205px">
                        <option value="registerdateunprocessed" style="padding:3px 5px">Unprocessed New Requests</option>
                        <option value="registerdate" style="padding:3px 5px">New Requests</option>
                        <option value="sentdate" style="padding:3px 5px">Processed Requests</option>
                    </select>
                </td>
                <td><div style="margin-top:-10px">&emsp;From&nbsp;</div></td>
                <td>
                    <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
					  <input class="span8 dateInput" id="startdate" size="16" type="text" value="" style="margin-top:-10px;width:90px">
					  <input type="hidden" id="lastdate1" value="">
					  <span class="add-on" style="margin-top:-10px"><i class="icon-calendar"></i></span>
					</div>
                </td>
                <td><div style="margin-top:-10px">&emsp;To&nbsp;</div></td>
                <td>
                    <div class="dateInputMasking" style="width:118px;height:30px;background:rgba(0, 0, 0, 0.1);z-index:5000;position:absolute;margin-top:-7px;display:none">&nbsp;</div>
                    <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
					  <input class="span8 dateInput" id="enddate" size="16" type="text" value="" style="margin-top:-10px;width:90px">
                        <input type="hidden" id="lastdate2" value="">
					  <span class="add-on" style="margin-top:-10px"><i class="icon-calendar"></i></span>
					</div>
                </td>
                <td>
                    <button class="btn blue" id="OrderListBtn" style="margin-top:-10px;margin-left:10px;width:100px;height:35px;">GO</button>
                </td>
            </tr>
            <tr id="trOrderSearch" style="display:none">
                <td><div style="margin-top:-10px;text-align:left">Search By&nbsp;</div></td>
                <td>
                    <select id="SearchType" name="SearchType" style="font-size:13px;width:205px">
                        <option value="" style="padding:3px 5px">--- Select ---</option>
                        <option value="fullname" style="padding:3px 5px">Full Name</option>
                        <option value="freesimid" style="padding:3px 5px">SIM ID</option>
                        <option value="cybersourceid" style="padding:3px 5px" onchange="window.reload()">Payment Reference</option>
                         <option value="email" style="padding:3px 5px" onchange="window.reload()">Email Address</option>
                         <option value="iccid" style="padding:3px 5px" onchange="window.reload()">ICCID</option>
                         <option value="mobileno" style="padding:3px 5px" onchange="window.reload()">Mobile No</option>
                    </select>
                </td>
                <td colspan="4">&emsp;<input type="text" id="searchWith" name="searchWith" style="width:290px;font-size:13px;" /></td>
                <td>
                    <button class="btn blue" id="OrderSearchBtn" style="margin-top:-10px;margin-left:10px;width:100px;height:35px;">Search</button>
                </td>
            </tr>
        </table>
	</div>
</div>
<div class="row-fluid" id="TableSIMOrderListContainer" style="display:none;margin-top:5px">
	<div class="span12" style="background-color:#ffffff;border:1px solid #81adf5;padding:20px 10px;">
        <input type="hidden" id="ResultCountry" name="ResultCountry" />
        <table class="table table-bordered table-hover" id="TableSIMOrderList" ></table>
	</div>
</div>
<div id="ExportDataContainer" style="display:none;">
    <input type="hidden" id="ExportSitecode" name="ExportSitecode" />
    <input type="hidden" id="ExportCountry" name="ExportCountry" />
    <input type="hidden" id="ExportProduct" name="ExportProduct" />
    <input type="hidden" id="ExportOrderType" name="ExportOrderType" />
    <input type="hidden" id="ExportFromDate" name="ExportFromDate" />
    <input type="hidden" id="ExportToDate" name="ExportToDate" />
    <input type="hidden" id="ExportSearchBy" name="ExportSearchBy" />
    <input type="hidden" id="ExportSearchValue" name="ExportSearchValue" />
    <input type="hidden" id="ExportActiveOrderSearch" name="ExportActiveOrderSearch" />
</div>

<div id="orderDetail" class="popup-message modal hide border-blue" style="width:900px;">
    <div id="ajax-screen-masking2" style="background:rgba(255, 255, 255, 0.4);"><div id="ajax-loader" style="background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') 0 0 no-repeat;"></div></div>
	<div class="modal-header background-blue">
		Order Detail
	</div>
	<div class="modal-body">
        <div id="SIMOrderDetailError" class="alert alert-error" style="margin-bottom:5px;display:none">&nbsp;</div>
        <div style="float:left;width:48%">
            <input type="hidden" id="arrFreeSIMID" name="arrFreeSIMID" />
            <input type="hidden" id="arrMIMSIOrderID" name="arrMIMSIOrderID" />
            <input type="hidden" id="arrICCID" name="arrICCID" />
            <input type="hidden" id="QTYOrder" name="QTYOrder" />
            <input type="hidden" id="hdSubscriberType" name="SubscriberType" />
		    <table class="tblOrderDetail" border="0" cellspacing="3" cellpadding="3" style="width:100%">
                <tbody>
                    <tr>
                        <td style="width:30%">Title</td>
                        <td id="tdODTitle" style="width:70%;border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td id="tdODFirstName" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td id="tdODLastName" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr id="trHouseno" >
                        <td>House No</td>
                        <td id="tdODHouseNo" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr id="trAddress" >
                        <td>Address</td>
                        <td id="tdODAddress" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr id="trAddress1" >
                        <td>Address1</td>
                        <td id="tdODAddress1" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                     <tr id="trAddress2" >
                        <td>Address2</td>
                        <td id="tdODAddress2" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                     <tr id="trAddress3" >
                        <td>Address3</td>
                        <td id="tdODAddress3" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td id="tdODCity" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td id="tdODPostcode" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Telephone</td>
                        <td id="tdODTelp" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Mobile Phone</td>
                        <td id="tdODMobilePhone" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td id="tdODEmail" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Birth Date</td>
                        <td id="tdODBirthdate" style="border-bottom:1px dotted #e5e5e5;color:#505050"></td>
                    </tr>
                    
                     <tr>
                        <td>Country you call most</td>
                        <td id="tdOfavcallcountry" style="border-bottom:1px dotted #e5e5e5;color:#505050"></td>
                    </tr>
                </tbody>
		    </table>
        </div>
        <div style="float:right;width:50%">
            <table class="tblOrderDetail" border="0" cellspacing="3" cellpadding="3" style="width:100%">
                <tbody>
                    <tr>
                        <td style="width:30%">Status</td>
                        <td id="tdODStatus" style="width:70%;border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30%">Qty</td>
                        <td id="tdODQty" style="width:70%;border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Source Address</td>
                        <td id="tdODSourceAddress" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Order SIM URL</td>
                        <td id="tdODOrderSIMURL" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr id="trODICCID">
                        <td>ICCID</td>
                        <td id="tdODICCID" >
                            <span id="prefix_89_1" style="font-size:14px;color:#505050;border:1px solid #c0c0c0;background-color:#eeeeee;margin-right:1px;padding:5px 2px;display:none">89</span>
                            <input type="text" id="input_iccid" name="input_iccid" style="margin-top:5px;display:none"/>
                            <select id="optICCIDList" name="optICCIDList" style="width: 180px;font-size:12px"></select>
                        </td>
                    </tr>
                    <tr id="trODICCID2">
                        <td>New ICCID</td>
                        <td id="tdODICCID2">
                            <span id="prefix_89_2" style="font-size:14px;color:#505050;border:1px solid #c0c0c0;background-color:#eeeeee;margin-right:1px;padding:5px 2px;display:none">89</span>
                            <input type="text" id="input_iccid2" name="input_iccid2" maxlength="17" style="margin-top:5px;display:none"/>
                            <select id="optICCIDList2" name="optICCIDList2" style="width: 180px;font-size:12px"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>Register Date</td>
                        <td id="tdODRegDate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Sent Date</td>
                        <td id="tdODSentDate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Replacement Date</td>
                        <td id="tdODReplacementDate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Activate Date</td>
                        <td id="tdODActivateDate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Update Status</td>
                        <td id="tdODUpdateStatus" style="color:#505050">
                            <div id="hint" style="margin-top:-50px;display:none">
                                <span id="hintext">Please select the update status...</span>
                                <div class="arrow-down"></div>
                            </div>
                            <select id="updateStatus" name="updateStatus"></select>
                            
                        </td>
                    </tr>
                    <tr id="trODMailRef">
                        <td>Mail Reference</td>
                        <td id="tdODMailRef">
                            <input type="text" id="input_mailref" name="input_mailref"/>
                        </td>
                    </tr>
                </tbody>
		    </table>
        </div>
	</div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" id="btnODBack" style="width:100px;float:left;">Back</button>
		<button class="btn blue" id="btnODSubmit" style="width:100px;float:right;">Submit</button>
    </div>
</div>
<div id="ICCIDList" class="popup-message modal hide border-blue" style="width:375px;">
    <div class="modal-header background-blue">INPUT ICCID NUMBER</div>
	<div class="modal-body">
        <input type="hidden" id="ICCIDListMode" name="ICCIDListMode" value="1" />
        <table id="tblICCIDList1" border="0" style="width:100%"></table>
        <table id="tblICCIDList2" border="0" style="width:100%;display:none"></table>
	</div>
    <div class="modal-footer">
		<button class="btn blue" id="btnODICCIDListSave" style="width:100px;float:right;">Add</button>
        <button class="btn blue" id="btnODICCIDListClear" style="width:100px;float:right;">Clear</button>
        <button class="btn blue" id="btnODICCIDListBack" style="width:100px;float:right;">Back</button>
    </div>
</div>
<div id="DispatchingProcess" class="popup-message modal hide border-blue" style="width:500px;">
    <div class="modal-header background-blue">Dispatching Process</div>
	<div class="modal-body" style="padding-bottom:40px">
        <input type="hidden" id="arrResult" name="arrResult" />
        <b>Please wait until all dispatching process done.</b><br />
        Processing&nbsp;<span style="font-weight:bold;" id="currentDispatchingProcess">0</span>&nbsp;of&nbsp;<span style="font-weight:bold;" id="totalDispatchingProcess">0</span>&nbsp;order(s).<br />
        <table id="tblDispatchingProcess" border="0" cellspacing="3" cellpadding="3" style="width:100%;">
            <thead>
                <tr style="background-color:#f5f5f5">
                    <th style="border:1px solid #c0c0c0">No</th>
                    <th style="border:1px solid #c0c0c0">ICCID</th>
                    <th style="border:1px solid #c0c0c0">Update Status To</th>
                    <th style="border:1px solid #c0c0c0">Dispatching Status</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
	</div>
    <div class="modal-footer">
        <button class="btn" id="btnODDispatchingOK" style="width:100px;float:right;">OK</button>
    </div>
</div>
<br />
@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            ActivateTopbarMenu(3);

            var URLListStatus = apiServer + '/api/SIMOrderSearch/1';
            $.getJSON(URLListStatus, function (data) {
                $.each(data, function (index, val) {
                    var StatusId = val.Id;
                    var StatusVal = val.Value;
                    var StatusDesc = val.Description;
                    $('#updateStatus').append('<option value="' + StatusVal + '">' + StatusVal + '</option>');
                });
            });

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;

            var lastdate1 = $('#lastdate1').val();
            if (lastdate1 == '') {
                $('#dp1').attr('data-date', today);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', today);
                $('#lastdate1').val(today);
            }
            else {
                $('#dp1').attr('data-date', lastdate1);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', lastdate1);
            }

            var lastdate2 = $('#lastdate2').val();
            if (lastdate2 == '') {
                $('#dp2').attr('data-date', today);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', today);
                $('#lastdate2').val(today);
            }
            else {
                $('#dp2').attr('data-date', lastdate2);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', lastdate2);
            }

            $("input[name=cbSearchSIMOrder]").live("click", function () {
                if ($("input[name=cbSearchSIMOrder]").prop('checked') == true) {
                    $("tr#trOrderSearch").show();
                    $("tr#trOrderList").hide();
                } else {
                    $("tr#trOrderList").show();
                    $("tr#trOrderSearch").hide();
                    $("select[name=SearchType]").val("");
                    $("input[name=searchWith]").attr("disabled", true).val("");
                }
            });

            $("input[name=searchWith]").attr("disabled", true).val("");
            $("select#SearchType").live("change", function () {
                if ($(this).val() == '') {
                    $("input[name=searchWith]").attr("disabled", true).val("");
                } else if ($(this).val() == 'fullname') {
                    $("input[name=searchWith]").removeAttr("disabled");
                } else if ($(this).val() == 'freesimid') {
                    $("input[name=searchWith]").removeAttr("disabled");
                }
                else if ($(this).val() == 'cybersourceid') {
                    $("input[name=searchWith]").removeAttr("disabled");
                }
                else if ($(this).val() == 'email') {
                    $("input[name=searchWith]").removeAttr("disabled");
                }
                else if ($(this).val() == 'iccid') {
                    $("input[name=searchWith]").removeAttr("disabled");
                }
                else if ($(this).val() == 'mobileno') {
                    $("input[name=searchWith]").removeAttr("disabled");
                }
            });

            $('#OrderListBtn').click(function () {
                var gProductCode = $.trim('@ViewBag._productcode');
                var gSiteCode = $("input[name=gSiteCode]").val();
                var gCountryName = $("input[name=gCountryName]").val();
                var orderType = $("select[name=orderType] option:selected").val();
                var fromDate = convertDate01($.trim($('#startdate').val()));
                var toDate = convertDate01($.trim($('#enddate').val()));

                $("input[name=ResultCountry]").val(gCountryName);

                $("input[name=ExportSitecode]").val(gSiteCode);
                $("input[name=ExportCountry]").val(gCountryName);
                $("input[name=ExportProduct]").val(gProductCode);
                $("input[name=ExportOrderType]").val(orderType);
                $("input[name=ExportFromDate]").val(fromDate);
                $("input[name=ExportToDate]").val(toDate);
                $("input[name=ExportSearchBy]").val("");
                $("input[name=ExportSearchValue]").val("");
                $("input[name=ExportActiveOrderSearch]").val("0");
                
                SIMOrderList(gSiteCode, gProductCode, orderType, fromDate, toDate);
                
            });

            $('#OrderSearchBtn').click(function () {
                var searchBy = $.trim($('#SearchType').val());
                var searchValue = $.trim($('#searchWith').val());
                var gProductCode = $.trim('@ViewBag._productcode');
                var gSiteCode = $("input[name=gSiteCode]").val();
                var gCountryName = $("input[name=gCountryName]").val();

                $("input[name=ResultCountry]").val(gCountryName);

                $("input[name=ExportSitecode]").val(gSiteCode);
                $("input[name=ExportCountry]").val(gCountryName);
                $("input[name=ExportProduct]").val(gProductCode);
                $("input[name=ExportOrderType]").val("");
                $("input[name=ExportFromDate]").val("");
                $("input[name=ExportToDate]").val("");
                $("input[name=ExportSearchBy]").val(searchBy);
                $("input[name=ExportSearchValue]").val(searchValue);
                $("input[name=ExportActiveOrderSearch]").val("1");

                SIMOrderSearch(gSiteCode, searchBy, searchValue, gProductCode);
            });

            /* SUBMIT NEW ORDER */
            $("button#btnODSubmit").live("click", function () {debugger
                var prefixICCID = "89";
                var arrFreeSIMID = $("input[name=arrFreeSIMID]").val();
                var arrMIMSIOrderID = $("input[name=arrMIMSIOrderID]").val();
                var QTYOrder = parseInt($("input[name=QTYOrder]").val());
                var newStatus = $("select[name=updateStatus] option:selected").val();
                var SubscriberType= $("#hdSubscriberType").val();

                var royalMailReference = "";
                if ($("input[name=input_mailref]").length) {
                    royalMailReference = $("input[name=input_mailref]").val();
                }

                var arrICCIDSent = "";

                if (QTYOrder > 1) {
                    var ICCIDListMode = parseInt($.trim($("input[name=ICCIDListMode]").val()));
                    if (ICCIDListMode == 1) {
                        $("input[type=hidden].iccid_list_h0").each(function (index, value) {
                            if ($.trim($(this).val()) != "") {
                                if (SubscriberType == 'TELE SALES') {
                                    arrICCIDSent +=  $(this).val() + "|";
                                }
                                else {
                                    arrICCIDSent += prefixICCID + $(this).val() + "|";
                                }
                            } 
                        });
                        if (arrICCIDSent != "") {
                            arrICCIDSent = arrICCIDSent.replace(/\|$/, '');
                        }

                    } else if (ICCIDListMode == 2) {
                        $("input[type=hidden].iccid_list_h1").each(function (index, value) {
                            if ($.trim($(this).val()) != "") {
                                if (SubscriberType == 'TELE SALES') {
                                    arrICCIDSent += $(this).val() + "|";
                                }
                                else {
                                    arrICCIDSent += prefixICCID + $(this).val() + "|";
                                }
                            }
                        });
                        if (arrICCIDSent != "") {
                            arrICCIDSent = arrICCIDSent.replace(/\|$/, '');
                        }
                    }
                } else {
                    var ICCID = $.trim(convertNulltoEmptyString($("input[name=input_iccid]").val()));
                    var NewICCID = $.trim(convertNulltoEmptyString($("input[name=input_iccid2]").val()));
                    if ($("input[name=input_iccid]").is("[readonly]")) {

                        arrICCIDSent = prefixICCID + NewICCID;
                    } else {
                        arrICCIDSent = prefixICCID + ICCID;
                    }
                }
                
                var gProductCode = $.trim('@ViewBag._productcode');
                var gSiteCode = $("input[name=gSiteCode]").val();
                var gCountryName = $("input[name=gCountryName]").val();
                
                var passed = true;
                var errMsg = "";

                /* Check the submit status */
                if (newStatus == '') {
                    passed = false;
                    errMsg = "Please select the update status.";
                } else if (newStatus == 'Fixed') {
                    if (arrICCIDSent == '') {
                        passed = false;
                        errMsg = "Please enter the ICCID number.";
                    } else {
                        //Modif by saravana kumar ICCID validation error
                        if (QTYOrder == 1) {
                            if (gSiteCode == 'MBE')
                            {
                                if (arrICCIDSent.length != 18)
                                {
                                    passed = false; 
                                    errMsg = "The ICCID number must be 18 digits.";
                                }
                            }
                            else
                            {
                                if (arrICCIDSent.length != 19)
                                {
                                    passed = false;
                                    errMsg = "The ICCID number must be 19 digits.";
                                }
                            }
                        }

                        if (passed) {
                            if (royalMailReference == "") {
                                    passed = false;
                                    errMsg = "Please Enter a valid Mail Reference ID";
                                }
                            }                            
                        }
                    }

                /* If all conditions were passed then do submit */
                if (passed) {
                    $("#orderDetail #SIMOrderDetailError").html("").hide();
                    $('#orderDetail').modal("hide");
                    $('#DispatchingProcess').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                    $("input[name=arrResult]").val("");
                    $("button#btnODDispatchingOK").removeClass("blue").attr("disabled", true);
                    $("table#tblDispatchingProcess tbody").html("");

                    /* Check if the order has more than one */
                    if (QTYOrder > 1) {
                        arrFreeSIMIDSplit = arrFreeSIMID.split("|");
                        arrMIMSIOrderIDSplit = arrMIMSIOrderID.split("|");
                        arrICCIDSentSplit = arrICCIDSent.split("|");
                        $("#DispatchingProcess span#totalDispatchingProcess").html(QTYOrder);
                        for (var idx = 0; idx < QTYOrder; idx++) {
                            $("#DispatchingProcess span#currentDispatchingProcess").html((idx + 1));
                            //Commented for adding replacement
                            //if (arrICCIDSentSplit[idx] != undefined && newStatus == 'Fixed') {
                            if (arrICCIDSentSplit[idx] != undefined && newStatus == 'Fixed' || newStatus == 'Replacement') {
                                var arrICCIDSentTemp = arrICCIDSentSplit[idx];
                            } else {
                                var arrICCIDSentTemp = "";
                            }
                            var rowProcessed = "<tr>";
                            rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">" + (idx + 1) + "</td>";
                            rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">" + arrICCIDSentTemp + "</td>";
                            rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">" + newStatus + "</td>";
                            rowProcessed += "<td class=\"currentDispatchStatus\" style=\"border:1px solid #c0c0c0;text-align:center\"><img src=\"/Assets/Main/img/ajaxloader-03.gif\" /></td>";
                            rowProcessed += "</tr>";
                            $("table#tblDispatchingProcess tbody").append(rowProcessed);

                            var arrSettings = {
                                logged_user: '@ViewBag.UserName',
                                freesim_order_id: arrFreeSIMIDSplit[idx],
                                order_status: newStatus,
                                iccid: arrICCIDSentTemp,
                                mimsi_order_id: arrMIMSIOrderIDSplit[idx],
                                Sitecode: gSiteCode,
                                royal_mail_reference: royalMailReference
                            };
                            UpdateOrder(arrSettings);
                        }
                        $("button#btnODDispatchingOK").addClass("blue").removeAttr("disabled");

                    /* Order just have one */
                    } else {
                        $("#DispatchingProcess span#totalDispatchingProcess").html(QTYOrder);
                        $("#DispatchingProcess span#currentDispatchingProcess").html("1");

                        if (arrICCIDSent != undefined && (newStatus == 'Fixed' || newStatus == 'Replacement')) {
                            var arrICCIDSentTemp = arrICCIDSent;
                        } else {
                            var arrICCIDSentTemp = "";
                        }
                        var rowProcessed = "<tr>";
                        rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">1</td>";
                        rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">" + arrICCIDSentTemp + "</td>";
                        rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">" + newStatus + "</td>";
                        rowProcessed += "<td class=\"currentDispatchStatus\" style=\"border:1px solid #c0c0c0;text-align:center\"><img src=\"/Assets/Main/img/ajaxloader-03.gif\" /></td>";
                        rowProcessed += "</tr>";
                        $("table#tblDispatchingProcess tbody").append(rowProcessed);

                        var arrSettings = {
                            logged_user: '@ViewBag.UserName',
                            freesim_order_id: arrFreeSIMID,
                            order_status: newStatus,
                            iccid: arrICCIDSentTemp,
                            mimsi_order_id: arrMIMSIOrderID,
                            Sitecode: gSiteCode,
                            royal_mail_reference: royalMailReference
                        };
                        UpdateOrder(arrSettings);
                        $("button#btnODDispatchingOK").addClass("blue").removeAttr("disabled");
                    }
                    
                } else {
                    $("#orderDetail #SIMOrderDetailError").html(errMsg).show();
                }
            });

            $("button#ExportToExcelBtn").live("click", function () {
                var url = '/Download/DownloadSIMOrderList';
                var ajaxSpinnerTop = ($(window).outerHeight() / 2) + $(window).scrollTop();
                $("#ajax-screen-masking #ajax-loader").css({ "margin-top": ajaxSpinnerTop + "px" });
                $("#ajax-screen-masking").css({ "height": $(document).outerHeight() + "px" });
                $("#ajax-screen-masking #downloadIFrame").remove();

                var siteCode = $("input[name=ExportSitecode]").val();
                var CountryName = $("input[name=ExportCountry]").val();
                var productCode = $.trim('@ViewBag._productcode');
                var IFrameURL = "";
                if ($("input[name=cbSearchSIMOrder]").prop('checked') == true) {
                    var searchBy = $.trim($("input[name=ExportSearchBy]").val());
                    var searchValue = $.trim($("input[name=ExportSearchValue]").val());
                    
                    var JSONSendData = {
                        sitecode: siteCode,
                        searchby: searchBy,
                        searchvalue: searchValue,
                        product_code: productCode,
                        isDownload: true,
                        CountryName: CountryName
                    };
                } else {
                    var orderType = $("input[name=ExportOrderType]").val();
                    var fromDate = $("input[name=ExportFromDate]").val();
                    var toDate = $("input[name=ExportToDate]").val();
                    var JSONSendData = {
                        status: orderType,
                        fromdate: fromDate,
                        todate: toDate,
                        sitecode: siteCode,
                        product_code: productCode,
                        isDownload: true,
                        CountryName: CountryName
                    };
                }

                $.ajax
                ({
                    url: url,
                    type: 'post',
                    data: JSON.stringify(JSONSendData),
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    beforeSend: function () {
                        $("#ajax-screen-masking").show();
                    },
                    success: function (feedback) {
                        if (feedback.errcode == 0) {
                            var IFrameData = $('<iframe/>', { id: 'downloadIFrame', src: '/Download/GoDownloadSIMOrderList?id=' + feedback.Text, style: 'display:none' });
                            $("#ajax-screen-masking").append(IFrameData);
                        }
                        $("#ajax-screen-masking").hide();
                    }
                });
                
            });

            $("a.orderIDAnchor, a.firstnameAnchor, a.lastnameAnchor").live("click", function () {
                var mimsi = parseInt($(this).attr("mimsi-data"));
                var orderID = $(this).attr("param-data");
                var gProductCode = $.trim('@ViewBag._productcode');
                var gSiteCode = $("input[name=gSiteCode]").val();
                var gCountryName = $("input[name=gCountryName]").val();
                //if (mimsi > 0) {
                //    // alert('this should go 2 in 1')
                //    orderID = parseInt(orderID.substr(3));
                //    SIM2in1Detail(orderID);
                //} else {
                //    // alert('free sim');
                //    SIMOrderDetail(orderID, gSiteCode);
                //}
                SIMOrderDetail(orderID, gSiteCode);
                //var row = $(this).closest('tr');
                //var nRow = row[0];
                //$('#TableSIMOrderList').dataTable().fnDeleteRow(nRow);
            });

            $('button#btnODOpenICCIDList1').live("click", function () {
                $("td#tdErrorICCIDList1").html("");
                $("tr#trErrorICCIDList1").hide();
                $("input[name=ICCIDListMode]").val("1");
                $("table#tblICCIDList1").show();
                $("table#tblICCIDList2").hide();
                $('#orderDetail').modal("hide");
                $('#ICCIDList').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
                $("input[type=text].iccid_list_0").attr("disabled", true);
                $("input[type=hidden].iccid_list_h0").each(function (index, value) {
                    if ($(this).val() != "") {
                        $("input[type=text].iccid_list_0").eq(index).removeAttr("disabled").val($(this).val());
                    } else {
                        $("input[type=text].iccid_list_0").eq(index).val("");
                    }
                });
                $("input[type=text].iccid_list_0").eq(0).removeAttr("disabled").focus();
            });

            $('button#btnODOpenICCIDList2').live("click", function () {
                $("td#tdErrorICCIDList2").html("");
                $("tr#trErrorICCIDList2").hide();
                $("input[name=ICCIDListMode]").val("2");
                $("table#tblICCIDList1").hide();
                $("table#tblICCIDList2").show();
                $('#orderDetail').modal("hide");
                $('#ICCIDList').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
                $("input[type=text].iccid_list_1").attr("disabled", true);
                $("input[type=hidden].iccid_list_h1").each(function (index, value) {
                    if ($(this).val() != "") {
                        $("input[type=text].iccid_list_1").eq(index).removeAttr("disabled").val($(this).val());
                    } else {
                        $("input[type=text].iccid_list_1").eq(index).val("");
                    }
                });
                $("input[type=text].iccid_list_1").eq(0).removeAttr("disabled").focus();
            });

            $("[name=input_iccid]").keypress(function (e) {
                if (e.which == 13) {
                    $("td#tdODUpdateStatus #hint").fadeIn(300).delay(4000).fadeOut(300);
                    $("[name=updateStatus]").focus();
                }
            });
            $("[name=input_iccid2]").keypress(function (e) {
                if (e.which == 13) {
                    $("td#tdODUpdateStatus #hint").fadeIn(300).delay(4000).fadeOut(300);
                    $("[name=updateStatus]").focus();
                }
            });
            
            $("[name=updateStatus]").click(function () {
                $("td#tdODUpdateStatus #hint").hide();
            });

            $(".btnPMSuccessOK").live("click", function () {
                var attrAlt = parseInt($(this).attr("alt"));
                if (attrAlt == 0) {
                    window.location = '/SIMOrder/List';
                } else if (attrAlt == 1) {
                    var ActiveOrderSearch = $("input[name=ExportActiveOrderSearch]").val();
                    if (ActiveOrderSearch == "0") {
                        RefreshSIMOrderList($.trim('@ViewBag._productcode'));
                    } else {
                        RefreshSIMOrderSearch();
                    }
                }
            });

            $(".btnPMFailedOK").live("click", function () {
                var attrAlt = parseInt($(this).attr("alt"));
                if (attrAlt == 0) {
                    window.location = '/SIMOrder/List';
                }
            });

            $("button#btnODDispatchingOK").live("click", function () {
                $("#DispatchingProcess").modal("hide");
                var ActiveOrderSearch = $("input[name=ExportActiveOrderSearch]").val();
                if (ActiveOrderSearch == "0") {
                    RefreshSIMOrderList($.trim('@ViewBag._productcode'));
                } else {
                    RefreshSIMOrderSearch();
                }
            });

            $(".btnDPViewError").live("click", function () {
                var idx = $(".btnDPViewError").index(this);
                if ($(".DPDetailError").eq(idx).is(":visible")) {
                    $(".DPDetailError").hide();
                } else {
                    $(".DPDetailError").hide();
                    $(".DPDetailError").eq(idx).show();
                }
            });

            /* ==========================================================  */
            /* INPUT ICCID Window */

            $('button#btnODICCIDListSave').live("click", function () {
                var ICCIDListMode = $("input[name=ICCIDListMode]").val();
                var SubscriberType = $("#hdSubscriberType").val();
                var prefixICCID = "89";
                if (ICCIDListMode == 1) {
                    var totalICCIDInput = $("input[type=text].iccid_list_0").length;
                    var ICCIDListNo = "";
                    var readyToSave = true;
                    var ICCID19Digits = true;
                    var allBlanks = true;
                    $("input[type=text].iccid_list_0").each(function (index, value) {
                        if ($(this).val() != "") {
                            allBlanks = false;
                            /*
                                Date : 20 January 2014 - 16:59
                                CHANGED From:
                                    if ($(this).val().length == 19) {
                                To:
                                    if ($(this).val().length == 17) {
                                Reason:
                                    2 digits prefix(89) --> set as default
                            */
                            if ($(this).val().length == 17 || $(this).val().length == 19) {
                                if (SubscriberType != 'TELE SALES') {
                                    ICCIDListNo += "<option value=\"" + prefixICCID + $(this).val() + "\">" + prefixICCID + $(this).val() + "</option>";
                                }
                                else {
                                    ICCIDListNo += "<option value=\"" +  $(this).val() + "\">" +  $(this).val() + "</option>";
                                }
                                $("input[type=hidden].iccid_list_h0").eq(index).val($(this).val());
                            } else {
                                readyToSave = false;
                                ICCID19Digits = false;
                            }
                        } else {
                            ICCIDListNo += "";
                        }
                    });
                    if (allBlanks) {
                        readyToSave = false;
                    }
                    if (readyToSave) {
                        $("select[name=optICCIDList]").html("").append(ICCIDListNo);
                        $("button#btnODOpenICCIDList1").html("Edit ICCID No");
                        $('button#btnODICCIDListBack').trigger("click");
                    } else {
                        if (allBlanks) {
                            $("td#tdErrorICCIDList1").html("").append("<div class=\"alert alert-error\">Please enter the ICCID number.</div>");
                        } else {
                            if (! ICCID19Digits) {
                                $("td#tdErrorICCIDList1").html("").append("<div class=\"alert alert-error\">The ICCID number must be 19 digits.</div>");
                            }
                        }
                        $("tr#trErrorICCIDList1").show();
                    }
                } else if (ICCIDListMode == 2) {
                    var totalICCIDInput = $("input[type=text].iccid_list_1").length;
                    var ICCIDListNo1 = "";
                    var readyToSave = true;
                    var ICCID19Digits = true;
                    var allBlanks = true;
                    $("input[type=text].iccid_list_1").each(function (index, value) {
                        if ($(this).val() != "") {
                            allBlanks = false;
                            /*
                                Date : 20 January 2014 - 16:59
                                CHANGED From:
                                    if ($(this).val().length == 19) {
                                To:
                                    if ($(this).val().length == 17) {
                                Reason:
                                    2 digits prefix(89) --> set as default
                            */

                            if ($(this).val().length == 17 || $(this).val().length == 19) {
                                if (SubscriberType != 'TELE SALES') {
                                    ICCIDListNo1 += "<option value=\"" + prefixICCID + $(this).val() + "\">" + prefixICCID + $(this).val() + "</option>";
                                }
                                else{
                                    ICCIDListNo1 += "<option value=\"" + $(this).val() + "\">" + $(this).val() + "</option>";
                                }
                                $("input[type=hidden].iccid_list_h1").eq(index).val($(this).val());
                            } else {
                                readyToSave = false;
                                ICCID19Digits = false;
                            }
                        } else {
                            ICCIDListNo1 += "";
                        }
                    });
                    if (allBlanks) {
                        readyToSave = false;
                    }
                    if (readyToSave) {
                        $("select[name=optICCIDList2]").html("").append(ICCIDListNo1);
                        $("button#btnODOpenICCIDList2").html("Edit ICCID");
                        $('button#btnODICCIDListBack').trigger("click");
                    } else {
                        if (allBlanks) {
                            $("td#tdErrorICCIDList2").html("").append("<div class=\"alert alert-error\">Please enter the ICCID number.</div>");
                        } else {
                            if (! ICCID19Digits) {
                                $("td#tdErrorICCIDList2").html("").append("<div class=\"alert alert-error\">The ICCID number must be 19 digits.</div>");
                            }
                        }
                        $("tr#trErrorICCIDList2").show();
                    }
                }
                
            });

            $('button#btnODICCIDListClear').live("click", function () {
                var ICCIDListMode = $("input[name=ICCIDListMode]").val();
                if (ICCIDListMode == 1) {
                    $("input[type=text].iccid_list_0").attr("disabled", true).val("");
                    $("input[type=text].iccid_list_0").eq(0).removeAttr("disabled").focus();
                } else if (ICCIDListMode == 2) {
                    $("input[type=text].iccid_list_1").attr("disabled", true).val("");
                    $("input[type=text].iccid_list_1").eq(0).removeAttr("disabled").focus();
                }
            });

            $('button#btnODICCIDListBack').live("click", function () {
                $('#ICCIDList').modal("hide");
                $('#orderDetail').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("input[type=text].iccid_list_0").live("keypress", function (e) {
                var totalICCIDInput = $("input[type=text].iccid_list_0").length;
                var IndexICCIDInput = $("input[type=text].iccid_list_0").index(this);
                if (e.which == 13) {
                    if ((IndexICCIDInput + 1) < totalICCIDInput) {
                        $("input[type=text].iccid_list_0").eq(IndexICCIDInput + 1).removeAttr("disabled").focus();
                    }
                }
            });

            $("input[type=text].iccid_list_1").live("keypress", function (e) {
                var totalICCIDInput = $("input[type=text].iccid_list_1").length;
                var IndexICCIDInput = $("input[type=text].iccid_list_1").index(this);
                if (e.which == 13) {
                    if ((IndexICCIDInput + 1) < totalICCIDInput) {
                        $("input[type=text].iccid_list_1").eq(IndexICCIDInput + 1).removeAttr("disabled").focus();
                    }
                }
            });
            /* ==========================================================  */

        });
    </script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.simorderlist.js"></script>
}