﻿@{
    ViewBag.Title = "[SIM Order] Search Order";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

    //ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
    //    CRM_API.Helpers.Session.CurrentUser.user_login :
    //    string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    //Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //ViewBag.Title = "Customer Detail";
}
<input type="hidden" class="pagename" value="OrderSearch" />
<div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
<div class="row-fluid">
	@*<div class="span1">&nbsp;</div>*@
	<div class="span12"><h2>Search Order</h2></div>
</div>
<br />
<div class="row-fluid">
	@*<div class="span1">&nbsp;</div>*@
	<div class="span12" style="background-color:#ffffff;border:1px solid #81adf5;padding:8px 8px 7px 8px"  id="SIMOrderSearchPanel" style="padding-top:15px">
        <div style="width:100%;height:80px">
            <div style="float:left;width:110px;font-size:16px;height:100%;line-height:80px;text-align:center;border:1px solid #c9dde7;margin-right:8px">Search By</div>
            <div style="float:left;width:870px;height:100%;margin-top:5px">
                
                <div style="float:left;width:100%">
                    <div class="dateInputMasking" style="width:550px;height:30px;background-color:transparent;z-index:5000;position:absolute;display:none">&nbsp;</div>
                    
                    <div style="margin-top:5px;float:left;">Select Country&nbsp;&nbsp;</div>
                    <div style="float:left;margin-right:10px">
				        <select id="SIMOrderCountryList" name="SIMOrderCountryList" disabled style="font-size:13px;width:205px"></select>
				        <img id="SIMOrderCountryLoader" src="~/Assets/Main/img/ajaxloader-03.gif" style="margin-top: -35px;margin-left: 212px;position:absolute;" />
			        </div>

                    <div style="margin-top:5px;float:left;margin-left:29px;">From&nbsp;&nbsp;</div>
                    <div style="float:left;margin-right:10px;" class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
				        <input class="span8 dateInput" id="startdate" style="width:200px" type="text" value="">
                        <input type="hidden" id="lastdate1" value="">
				        <span class="add-on"><i class="icon-calendar"></i></span>
			        </div>
                    <div style="margin-top:5px;float:left;">To&nbsp;&nbsp;</div>
                    <div style="float:left;" class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
				        <input class="span8 dateInput" id="enddate" style="width:200px" type="text" value="">
                        <input type="hidden" id="lastdate2" value="">
				        <span class="add-on"><i class="icon-calendar"></i></span>
			        </div>
                    
                </div>
                <div style="float:left;width:100%">
                    <select id="orderType" name="orderType" style="float:left;font-size:14px;width:240px;margin-right:3px;">
                        <option value="0" style="padding:3px 5px">Unprocessed New Requests</option>
                        <option value="1" style="padding:3px 5px">New Requests</option>
                        <option value="2" style="padding:3px 5px">Processed Requests</option>
                    </select>
                    <select id="SearchType" name="SearchType" style="float:left;font-size:14px;width:130px;margin-right:3px;">
                        <option value="0" style="padding:3px 5px">Full Name</option>
                        <option value="1" style="padding:3px 5px">SIM ID</option>
                    </select>
                    &nbsp;
                    <input type="text" id="searchWith" name="searchWith" style="width:472px;float:left;font-size:13px;" />
                </div>
            </div>
            <div style="float:left;width:80px;height:100%;">
                <button class="btn blue" id="OrderSearchBtn" style="width:80px;height:70px;margin-top:5px">Search</button>
            </div>

            <input type="hidden" id="lastdate1" value="">
            <input type="hidden" id="lastdate2" value="">
        </div>
	</div>
    @*<div class="span1">&nbsp;</div>*@
</div>

<div class="row-fluid" id="orderSearchContainer" style="display:none;margin-bottom:20px;margin-top:20px">
	@*<div class="span1">&nbsp;</div>*@
	<div class="span12" style="background-color:#ffffff;border:1px solid #81adf5;padding:10px;overflow:auto;">
        <table class="table table-bordered table-hover" id="tbOrderSearch"></table>
	</div>
</div>

<div id="orderDetail" class="popup-message modal hide border-blue" style="width:900px;">
	<div class="modal-header background-blue">
		Order Detail
	</div>
	<div class="modal-body">
        <div style="float:left;width:48%">
		    <table class="tblOrderDetail" border="0" cellspacing="3" cellpadding="3" style="width:100%">
                <tbody>
                    <tr>
                        <td style="width:30%">Title</td>
                        <td id="tdODTitle" style="width:70%;border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td id="tdODFirstName" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td id="tdODLastName" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>House No</td>
                        <td id="tdODHouseNo" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Address City</td>
                        <td id="tdODAddress" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td id="tdODCity" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Postcode</td>
                        <td id="tdODPostcode" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    @*<tr>
                        <td>Telephone</td>
                        <td id="tdODTelp" style="border-bottom:1px dotted #e5e5e5;color:#505050">0900000000</td>
                    </tr>*@
                    <tr>
                        <td>Mobile Phone</td>
                        <td id="tdODMobilePhone" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td id="tdODEmail" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    @*<tr>
                        <td>Birth Date</td>
                        <td id="tdODBirthdate" style="border-bottom:1px dotted #e5e5e5;color:#505050">8/28/1975</td>
                    </tr>*@
                    
                </tbody>
		    </table>
        </div>
        <div style="float:right;width:50%">
            <table class="tblOrderDetail" border="0" cellspacing="3" cellpadding="3" style="width:100%">
                <tbody>
                    <tr>
                        <td style="width:30%">Status</td>
                        <td id="tdODStatus" style="width:70%;border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Source Address</td>
                        <td id="tdODSourceAddress" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Order SIM URL</td>
                        <td id="tdODOrderSIMURL" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>ICCID</td>
                        <td id="tdODICCID" ><input type="text" id="input_iccid" name="input_iccid" /></td>
                    </tr>
                    <tr>
                        <td>ICCID2</td>
                        <td id="tdODICCID2"><input type="text" id="input_iccid2" name="input_iccid2" /></td>
                    </tr>
                    <tr>
                        <td>Register Date</td>
                        <td id="tdODRegDate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Sent Date</td>
                        <td id="tdODSentDate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Activate Date</td>
                        <td id="tdODActivateDate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Update Status</td>
                        <td id="tdODUpdateStatus" style="color:#505050">
                            <div id="hint" style="margin-top:-50px;display:none">
                                <span id="hintext">Please select the update status...</span>
                                <div class="arrow-down"></div>
                            </div>
                            <select id="updateStatus" name="updateStatus">
                                <option value="">-- Select the status --</option>
                            </select>
                            
                        </td>
                    </tr>
                </tbody>
		    </table>
        </div>
	</div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnODBack" style="width:100px;float:left;">Back</button>
		<button data-dismiss="modal" class="btn blue" type="button" id="btnODSubmit" style="width:100px;float:right;">Submit</button>
        @*<button data-dismiss="modal" class="btn blue" type="button" id="btnODBack" style="width:100px;float:right;">Close</button>*@
    </div>
</div>
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(3);

            var URLCountry = apiServer + '/api/countryinfo';
            //$.getJSON(URLCountry, function (data) {
            //    $.each(data, function (index, val) {
            //        var Country = val.Country,
            //            Sitecode = val.Sitecode;
            //        if (Country != 'MMI' && Sitecode != 'MMI') {
            //            $('#SIMOrderCountryList').append('<option value="' + Sitecode + '">' + Country + '</option>');
            //        }
            //    });
            //    $('#SIMOrderCountryLoader').hide();
            //    $('#SIMOrderCountryList, #OrderListSearchBtn').removeAttr('disabled');
            //    $('#OrderListSearchBtn').addClass('blue');
            //});
            $.getJSON(URLCountry, function (data) {
                var ProductCode = $.trim('@ViewBag._productcode');
                $.each(data, function (index, val) {
                    var optCountry = val.Country;
                    var optSitecode = val.Sitecode;
                    var validCountry = '';

                    switch (ProductCode) {
                        case 'DMAT':
                        case 'VMAT':
                            validCountry = 'BAU';
                            break;
                        case 'DMDK':
                        case 'VMDK':
                            validCountry = 'BDK';
                            break;
                        case 'DMFI':
                        case 'VMFI':
                            validCountry = 'MFI';
                            break;
                        case 'DMFR':
                        case 'VMFR':
                            validCountry = 'MFR';
                            break;
                        case 'DMNL':
                        case 'VMNL':
                            validCountry = 'BNL';
                            break;
                        case 'DMPT':
                        case 'VMPT':
                            validCountry = 'MPT';
                            break;
                        case 'DMSE':
                        case 'VMSE':
                            validCountry = 'BSE';
                            break;
                        case 'DMUK':
                        case 'VMUK':
                        case 'CTPUK':
                            validCountry = 'MCM';
                            break;
                        default:
                            validCountry = 'ALL';
                    }

                    if (optSitecode != 'MMI') {
                        if (validCountry != 'ALL') {
                            if (optSitecode == validCountry) {
                                $('#SIMOrderCountryList').append('<option value="' + optSitecode + '">' + optCountry + '</option>');
                            }
                        } else {
                            $('#SIMOrderCountryList').append('<option value="' + optSitecode + '">' + optCountry + '</option>');
                        }
                    }
                });
                $('#SIMOrderCountryLoader').hide();
                $("select[name=SIMOrderCountryList]").css({ "width": "205px" });
                $('#SIMOrderCountryList, #OrderListSearchBtn').removeAttr('disabled');
                $('#OrderListSearchBtn').addClass('blue');
            });

            var URLListStatus = apiServer + '/api/SIMOrderSearch/1';
            $.getJSON(URLListStatus, function (data) {
                $.each(data, function (index, val) {
                    var StatusId = val.Id;
                    var StatusVal = val.Value;
                    var StatusDesc = val.Description;
                    $('#updateStatus').append('<option value="' + StatusId + '">' + StatusVal + '</option>');
                });
            });

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;

            var lastdate1 = $('#lastdate1').val();
            if (lastdate1 == '') {
                $('#dp1').attr('data-date', today);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', today);
                $('#lastdate1').val(today);
            }
            else {
                $('#dp1').attr('data-date', lastdate1);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', lastdate1);
            }

            var lastdate2 = $('#lastdate2').val();
            if (lastdate2 == '') {
                $('#dp2').attr('data-date', today);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', today);
                $('#lastdate2').val(today);
            }
            else {
                $('#dp2').attr('data-date', lastdate2);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', lastdate2);
            }

            $('#OrderSearchBtn').click(function () {
                var orderType = $("select#orderType").val();
                var searchType = $("select#SearchType").val();
                var searchText = $.trim($('#searchWith').val());
                var fromDate = convertDate01($.trim($('#startdate').val()));
                var toDate = convertDate01($.trim($('#enddate').val()));
                if (searchType == '0') { // Full Name
                    switch (orderType) {
                        case '0':
                            orderSearch(11, searchText, fromDate, toDate); // Unprocessed New Requests 
                            break;
                        case '1':
                            orderSearch(13, searchText, fromDate, toDate); // New Requests
                            break;
                        case '2':
                            orderSearch(15, searchText, fromDate, toDate); // Processed Requests
                            break;
                    }

                } else if (searchType == '1') { // SIM ID
                    switch (orderType) {
                        case '0':
                            orderSearch(12, searchText, '', ''); // Unprocessed New Requests 
                            break;
                        case '1':
                            orderSearch(14, searchText, '', ''); // New Requests
                            break;
                        case '2':
                            orderSearch(16, searchText, '', ''); // Processed Requests
                            break;
                    }
                } else {
                    return false;
                }
            });

            $("select#SearchType").live("change", function () {
                if ($(this).val() == 0) {
                    $(".dateInputMasking").hide();
                    $(".dateInput").removeAttr("disabled");
                    $("span.add-on").bind("click");
                } else if ($(this).val() == 1) {
                    $(".dateInputMasking").show();
                    $(".dateInput").attr({ "disabled": "disabled" });
                    $("span.add-on").unbind("click");
                }
            });

            $("a.orderIDAnchor").live("click", function () {
                var attrAlt = $(this).attr("alt");
                var splitAlt = attrAlt.split('|');

                var orderID = splitAlt[0];
                var searchText = splitAlt[1];
                var fromDate = convertDate01(splitAlt[2]);
                var toDate = convertDate01(splitAlt[3]);

                $("select[name=updateStatus], [name=input_iccid], [name=input_iccid2]").val("");
                orderDetail(orderID, searchText, fromDate, toDate);

            });

            $("[name=input_iccid]").keypress(function (e) {
                if (e.which == 13) {
                    $("[name=input_iccid2]").focus();
                }
            });
            $("[name=input_iccid2]").keypress(function (e) {
                if (e.which == 13) {
                    $("td#tdODUpdateStatus #hint").fadeIn(300).delay(4000).fadeOut(300);
                    $("[name=updateStatus]").focus();
                }
            });

            $("[name=updateStatus]").click(function () {
                $("td#tdODUpdateStatus #hint").hide();
            });

            $("button#btnODSubmit").live("click", function () {
                alert("Under Development");
            });
        });
    </script>
    
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.simordersearch.js"></script>
}