﻿@model CRM_API.Models.EmailModel

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Email Detail";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")
<style type="text/css">
    .btn.blue
    {
        text-decoration: none !important;
    }
</style>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Emails</div>
                    </h4>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
                                <li id="litab0"><a id="aTabEmailQueue" href="javascript:void(0)">Email Queue</a></li>
                                <li id="litab1"><a id="aTabTicketQueue" href="javascript:void(0)">Ticket Queue</a></li>
                                <li id="litab2"><a id="aTabMyQueue" href="javascript:void(0)">My Queue</a></li>
                            </ul>
                            <!-- End Header Tabs -->
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_1_0">
                                   @* @if (Model.ActiveTab == "TabEmailQueue")
                                    {
                                        @Html.Partial("~/TabEmailQueue.cshtml")
                                    }*@
                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

