﻿@model CRM_API.Models.EmailModel
@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Email List";   
}
<style>
    .portlet.box.blue
    {
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }

    /* Popup Corner */
    .border-lightblue
    {
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
    }

    /* Title Back Color*/
    .portlet.box.blue .portlet-title
    {
        /*background-color: #6E5CA8; #0378a9*/
    }

    .collapsed
    {
        /* hide it for small displays*/
        display: none;
    }
</style>
<div class="portlet box blue">
    <div class="portlet-title" style="height: 30px; border-bottom: 0">
        <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
            @Html.Partial("~/Views/Customer/_EmailListHeaderButton.cshtml")
        </div>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            @*@if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader)
            { 
                <div class="tab-pane" id="tab_1_0">
                    @if (Model.ActiveTab == "TabEmailQueue")
                    {
                        @Html.Partial("~/Views/Emails/TabEmailQueue.cshtml")
                    }
                </div>
            }*@
            @if ((CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader) || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Agent)
            {
                <div class="tab-pane" id="tab_1_1">
                    @if (Model.ActiveTab == "TabMyEmailQueue")
                    {
                        @Html.Partial("~/Views/Emails/TabMyEmailQueue.cshtml")
                    }
                </div>
            }
            @if ((CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader) || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.EsclatingTeam)
            {
                <div class="tab-pane" id="tab_1_2">
                    @if (Model.ActiveTab == "TabMyEmailTickets")
                    {
                        @Html.Partial("~/Views/Emails/TabMyEmailTickets.cshtml")
                    }
                </div>
            }
        </div>
    </div>
</div>
@section ScriptsTab {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#txtEGTMobileNo").keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 107) {
                    //display error message
                    // $("#errmsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });
            ActivateTopbarMenu(10);
            //Highlight Tab
            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            //if ($.trim(splitURL[3]) == 1) {
            //    $("div.tab-content div").removeClass("active");
            //    $("#tab_1_0").addClass("active");
            //    $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
            //    $("a#detailEmailQueue").removeClass("lightblue").addClass("white");
            //}
            //else
            //removeClass("white").addClass("lightblue");
            if ($.trim(splitURL[3]) == 1) {
                $("div.tab-content div").removeClass("active");
                $("#tab_1_1").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailMyQueue").removeClass("lightblue").addClass("white");
            }
            else {
                $("div.tab-content div").removeClass("active");
                $("#tab_1_2").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailMyTickets").removeClass("lightblue").addClass("white");
            }

            //$("a#detailEmailQueue").live("click", function () {
            //    window.location = '/Emails/EmailList/1';
            //});
            $("a#detailMyQueue").live("click", function () {
                window.location = '/Emails/EmailList/1';
            });
            $("a#detailMyTickets").live("click", function () {
                window.location = '/Emails/EmailList/2';
            });
        });
    </script>

    @*@if (Model.ActiveTab == "TabEmailQueue")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.EmailQueue.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.com.js"></script>
        
        <script type="text/javascript">
            $(document).ready(function () {
                $("#infoEmail").live("click", function () {
                    GetEmailQueueByID($(this).attr('ctlvalue'));
                });

                $("#btnEQRefresh").live("click", function () {
                    GetEmailQueue();
                });

                GetEmailQueue();
            });
        </script>
    }*@

    @if (Model.ActiveTab == "TabMyEmailQueue")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.MyEmailQueue.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.com.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.EmailGenerateTicket.js"></script>
@*<script type="text/javascript" src="~/Assets/ThirdParty/pagination/list.js"></script>*@
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.MyEmailOpen.js"></script>
            
        <!-- Open Screen -->
        <link href="~/Assets/ThirdParty/cleditor/jquery.cleditor.css" rel="stylesheet" />
        <script src="~/Assets/ThirdParty/cleditor/jquery.cleditor.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                //Refresh Button 
                $("#btnMEQRefresh").live("click", function () {
                    GetMyEmailQueue($.trim('@ViewBag._userid'), $.trim('@ViewBag._role_id'), $('#ddlMEQSelectFilter option:selected').val());
                });

                $("#ddlMEQSelectFilter").live("change", function () {
                    //$('.dataTables_paginate').show();
                    GetMyEmailQueue($.trim('@ViewBag._userid'), $.trim('@ViewBag._role_id'), $('#ddlMEQSelectFilter option:selected').val());
                });

                //Bind Main Grid
                GetMyEmailQueue($.trim('@ViewBag._userid'), $.trim('@ViewBag._role_id'), $('#ddlMEQSelectFilter option:selected').val());

                $("select[name=ddlEGTTicketType]").live("change", function () {
                    var sitecode = $.trim('@ViewBag._sitecode');
                    var Issue_Id = $("select[name=ddlEGTTicketType] option:selected").val();
                    FillCategory(sitecode, Issue_Id);
                });

                $("select[name=ddlEGTCategory]").live("change", function () {
                    var sitecode = $.trim('@ViewBag._sitecode');
                    var Function_Id = $("select[name=ddlEGTCategory] option:selected").val();
                    FillSubCategory(sitecode, Function_Id);
                });

                //Preview Popup
                $("button#btnMEOPreview").live("click", function () {
                    if ($("#ddlEmailTemplate option:selected").val() == "-1") {
                        $('#divHTML').attr("src", "");
                        //alert("Select Template!");
                    }
                    else {
                        $('#divHTML').attr("src", $("#ddlEmailTemplate option:selected").attr('ctlvalue'));
                        $('#PreviewPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                    }

                });

                //Generate Ticket Clear button
                $("button#btnMEOClearTicket").live("click", function () {
                    $('#lblGTError').html('');
                    $("#txtEGTCustomerName").val('');
                    $("#txtEGTMobileNo").val('');
                    $("#txtTicketID").val('');

                    $("#ddlEGTStatus").val("-1");
                    $("#ddlEGTTicketType").val("0");

                    $('#ddlEGTCategory').find('option').remove();
                    $('#ddlEGTSubCategory').find('option').remove();
                    $("#ddlEGTEscalatingTeam").val("0");
                    //$('#ddlEGTEscalatingTeam').find('option').remove();

                    $("#txtEGTDescription").val("");
                });

                $("button#btnMEOGenerateTicket").live("click", function () {
                    $('#lblGTError').html('');
                    if (validateGenerateTicketInput()) {
                        var product_code = $.trim('@ViewBag._productcode');

                        var pkqueueid = $('#hdqueueid').val();
                        var process_type = $('#hdproccesstype').val();
                        //var custemail = $('#hdcustemail').val();

                        var custemail = $('#ddlEGTEscalatingTeam').val();

                        var status = $("#txtEGTStatus").val();

                        var result = "";
                        //20-Dec-2018
                        if ($("#btnMEOGenerateTicket").html() == "Re-Assign") {

                            if (document.getElementById("txtEGTStatus").value == "Assigned") {
                                result = 1;
                            }
                            if (document.getElementById("txtEGTStatus").value == "Inprogress") {
                                result = 2;
                            }
                            else if (document.getElementById("txtEGTStatus").value == "Resolved") {
                                result = 3;
                            }
                            else if (document.getElementById("txtEGTStatus").value == "Pending") {
                                result = 4;
                            }
                            else if (document.getElementById("txtEGTStatus").value == "Closed") {
                                result = 5;
                            }
                            else if (document.getElementById("txtEGTStatus").value == "Open") {
                                result = 0;
                            }
                            MyEmailQueueGenerateTicket($.trim($('#txtEGTCustomerName').val()), $.trim($('#txtEGTMobileNo').val()), $('#ddlEGTTicketType').val(), $('#ddlEGTCategory').val(), $('#ddlEGTSubCategory').val(), result, $('#ddlEGTEscalatingTeam').val(), $('#txtEGTDescription').val(), $('#hdpkqueueid').val(), product_code, pkqueueid, process_type, $.trim('@ViewBag._userid'), $("select[name=ddlEGTEscalatingTeam] option:selected").attr('ctlvalue'), $("select[name=ddlEGTEscalatingTeam] option:selected").text(), custemail);
                        }
                        else {
                            MyEmailQueueGenerateTicket($.trim($('#txtEGTCustomerName').val()), $.trim($('#txtEGTMobileNo').val()), $('#ddlEGTTicketType').val(), $('#ddlEGTCategory').val(), $('#ddlEGTSubCategory').val(), $('#ddlEGTStatus').val(), $('#ddlEGTEscalatingTeam').val(), $('#txtEGTDescription').val(), $('#hdpkqueueid').val(), product_code, pkqueueid, process_type, $.trim('@ViewBag._userid'), $("select[name=ddlEGTEscalatingTeam] option:selected").attr('ctlvalue'), $("select[name=ddlEGTEscalatingTeam] option:selected").text(), custemail);
                        }

                    }
                });

                function validateGenerateTicketInput() {
                    //if ($.trim($('#txtEGTDescription').val()).length > 0) {

                    //}
                    //else {
                    //    $('#lblGTError').html('Enter descripion!');
                    //}
                    if ($.trim($('#txtEGTCustomerName').val()).length > 0) {
                        if ($.trim($('#txtEGTMobileNo').val()).length > 0) {
                            if ($.trim($('#txtEGTDescription').val()).length > 0) {
                                if ($('#ddlEGTTicketType').val() != "0") {
                                    if ($('#ddlEGTCategory').val() != "0") {
                                        if ($('#ddlEGTSubCategory').val() != "0") {
                                            if ($('#ddlEGTStatus').val() != "-1") {
                                                if ($('#ddlEGTEscalatingTeam').val() != "0") {
                                                    return true;
                                                }
                                                else {
                                                    $('#lblGTError').html('Select Escalating Team!');
                                                }
                                            }
                                            else {
                                                $('#lblGTError').html('Select Status!');
                                            }
                                        }
                                        else {
                                            $('#lblGTError').html('Select Sub Category!');
                                        }
                                    }
                                    else {
                                        $('#lblGTError').html('Select Category!');
                                    }
                                }
                                else {
                                    $('#lblGTError').html('Select Ticket Type!');
                                }
                            }
                            else {
                                $('#lblGTError').html('Enter descripion!');
                            }
                        }
                        else {
                            $('#lblGTError').html('Enter Mobile No!');
                        }
                    }
                    else {
                        $('#lblGTError').html('Enter Customer Name!');
                    }

                    return false;
                }

                $("button#btnEGTCopytoClipboard").live("click", function () {
                    var ddlEGTTicketType = $("#ddlEGTTicketType option:selected").text();
                    var ddlEGTCategory = $("#ddlEGTCategory option:selected").text();
                    var ddlEGTSubCategory = $("#ddlEGTSubCategory option:selected").text();
                    var desc = ddlEGTTicketType + ' ' + ddlEGTCategory + ' ' + ddlEGTSubCategory;
                    $("textarea[name=txtEGTDescription]").val(desc);
                });

                $("#btnRestore").live("click", function () {
                    //View Reply & Generate Ticket Tab
                    $(".nav-tabs").show();
                    $("#tblReplyGenerateTicket").show();

                    //$("#MyEmailOpenTitle").html($(this)[0].innerText);
                    $("#navsecond>a").html("Generate Ticket");
                    $("#ajax-screen-masking").show();
                    $("#navfirst").hide();
                    $("#divReplyTop").hide();
                    $("#divReplyBottom").hide();
                    $("#navsecond").hide();
                    //$("#btnCustomerHistory").hide();

                    $("#editor").css("width", "1140px");
                    $("#divLeftView").removeClass("row-9");
                    $("#divLeftView").addClass("row-12");
                    $("#divRightView").addClass("collapsed");


                    //Variables
                    var sitecode = $.trim('@ViewBag._sitecode');
                    var user_id = $.trim('@ViewBag._userid');
                    var pk_queue_id = $(this).attr('ctlValue');
                    var customer_email = $(this).attr('custemail');
                    var status = $(this).attr('statValue');
                    var assigned_user = $(this).attr('assValue');
                    var queue_status_id = $(this).attr('queue_status_id');

                    $("#btnRestore").hide();

                    //Hidden Fields
                    $("#hdsitecode").val(sitecode);
                    $("#hduserid").val(user_id);
                    $("#hdqueueid").val(pk_queue_id);
                    $("#hdcustemail").val(customer_email);
                    $("#hdstatus").val(status);
                    $("#hdassuser").val(assigned_user);

                    //Reply
                    $("#lblReplyError").html("");
                    $('#ddlEmailTemplate').find('option').remove();
                    $('#editor').val("");

                    //Generate Ticket
                    $('#lblGTError').html('')
                    $("#txtEGTCustomerName").val('');
                    $('#ddlEGTTicketType').find('option').remove();
                    $("#txtEGTTicketType").val('');
                    $("#txtEGTMobileNo").val('');
                    $('#ddlEGTCategory').find('option').remove();
                    $("#txtEGTCategory").val('');
                    $("#txtTicketID").val('');
                    $('#ddlEGTSubCategory').find('option').remove();
                    $("#txtEGTSubCategory").val('');
                    $("#txtEGTDescription").val('');
                    $('#ddlEGTStatus').find('option').remove();
                    $("#txtEGTStatus").val('');
                    $('#ddlEGTEscalatingTeam').find('option').remove();
                    $("#txtEGTEscalatingTeam").val('');
                    $('#hdproccesstype').val('');
                    if (status.toUpperCase() == "ASSIGNED") {
                        $("#navsecond>a").html("Generate Ticket");
                        $("#navfirst").show();
                        $("#divReplyTop").show();
                        $("#divReplyBottom").show();
                        $("#navsecond").show();
                        //$("#btnCustomerHistory").show();

                        $("#btnMEOReplySend").show();
                        $("#btnMEOGenerateTicket").show();
                        $("#btnMEOClearTicket").show();

                        //Reply
                        $("#divIsClosed").show();
                        $("#ddlEmailTemplate").removeAttr("disabled");
                        $("#editor").removeAttr("disabled");

                        //Generate Ticket
                        $('#hdproccesstype').val('1');
                        $("#lblEGTTitle").html("New Ticket");
                        $("#txtEGTTicketType").hide();
                        $("#txtEGTCategory").hide();
                        $("#txtEGTSubCategory").hide();
                        $("#txtEGTStatus").hide();
                        $("#txtEGTEscalatingTeam").hide();
                        $("#ddlEGTTicketType").show();
                        $("#ddlEGTCategory").show();
                        $("#ddlEGTSubCategory").show();
                        $("#ddlEGTStatus").show();
                        $("#ddlEGTEscalatingTeam").show();
                        $("#btnEGTCopytoClipboard").show();
                        $("#txtEGTCustomerName").removeAttr('disabled');
                        $("#txtEGTMobileNo").removeAttr('disabled');
                        $("#txtEGTDescription").removeAttr('disabled');

                        FillTicketType(sitecode);
                        FillEscalatingTeam();
                        FillStatus(user_id);

                        $(".nav-tabs li").removeClass("active");
                        $("#navfirst").addClass("active");
                        $(".tab-pane2").removeClass("active");
                        $("#tab1").addClass("active");
                    }
                    else if (status.toUpperCase() == "INPROGRESS") {
                        $("#navsecond>a").html("View Ticket");
                        $("#navsecond").show();
                        $("#btnMEOReplySend").hide();
                        $("#btnMEOGenerateTicket").hide();
                        $("#btnMEOClearTicket").hide();

                        //Reply
                        $("#divIsClosed").hide();
                        $("#ddlEmailTemplate").attr("disabled", "dsiabled");
                        $("#editor").attr("disabled", "dsiabled");

                        //Generate Ticket
                        $('#hdproccesstype').val('1');
                        //$("#lblEGTTitle").html("View Ticket");
                        $("#txtEGTTicketType").show();
                        $("#txtEGTCategory").show();
                        $("#txtEGTSubCategory").show();
                        $("#txtEGTStatus").show();
                        $("#txtEGTEscalatingTeam").show();
                        $("#ddlEGTTicketType").hide();
                        $("#ddlEGTCategory").hide();
                        $("#ddlEGTSubCategory").hide();
                        $("#ddlEGTStatus").hide();
                        $("#ddlEGTEscalatingTeam").hide();
                        $("#btnEGTCopytoClipboard").hide();
                        $("#txtEGTCustomerName").attr('disabled', 'disabled');
                        $("#txtEGTMobileNo").attr('disabled', 'disabled');
                        $("#txtEGTDescription").attr('disabled', 'disabled');
                        ViewTicket(pk_queue_id);

                        $(".nav-tabs li").removeClass("active");
                        $("#navsecond").addClass("active");
                        $(".tab-pane1").removeClass("active");
                        $("#tab2").addClass("active");
                    }
                    else if (status.toUpperCase() == "RESOLVED") {
                        $("#navsecond>a").html("View Ticket");
                        $("#navfirst").show();
                        $("#divReplyTop").show();
                        $("#divReplyBottom").show();
                        $("#navsecond").show();

                        $("#btnMEOReplySend").show();
                        $("#btnMEOGenerateTicket").hide();
                        $("#btnMEOClearTicket").hide();
                        //$("#btnCustomerHistory").show();

                        //Reply
                        $("#divIsClosed").show();
                        $("#ddlEmailTemplate").removeAttr("disabled");
                        $("#editor").removeAttr("disabled");

                        //Generate Ticket
                        $('#hdproccesstype').val('1');
                        //$("#lblEGTTitle").html("View Ticket");
                        $("#txtEGTTicketType").show();
                        $("#txtEGTCategory").show();
                        $("#txtEGTSubCategory").show();
                        $("#txtEGTStatus").show();
                        $("#txtEGTEscalatingTeam").show();
                        $("#ddlEGTTicketType").hide();
                        $("#ddlEGTCategory").hide();
                        $("#ddlEGTSubCategory").hide();
                        $("#ddlEGTStatus").hide();
                        $("#ddlEGTEscalatingTeam").hide();
                        $("#btnEGTCopytoClipboard").hide();
                        $("#txtEGTCustomerName").attr('disabled', 'disabled');
                        $("#txtEGTMobileNo").attr('disabled', 'disabled');
                        $("#txtEGTDescription").attr('disabled', 'disabled');
                        ViewTicket(pk_queue_id);

                        $(".nav-tabs li").removeClass("active");
                        $("#navfirst").addClass("active");
                        $(".tab-pane2").removeClass("active");
                        $("#tab1").addClass("active");
                    }
                    else if (status.toUpperCase() == "CLOSED") {
                        $("#btnMEOReplySend").hide();
                        $("#btnMEOGenerateTicket").hide();
                        $("#btnMEOClearTicket").hide();

                        //Reply
                        $("#divIsClosed").hide();
                        $("#ddlEmailTemplate").attr("disabled", "dsiabled");
                        $("#editor").attr("disabled", "dsiabled");

                        $(".nav-tabs li").removeClass("active");
                        $("#navfirst").addClass("active");
                        $(".tab-pane2").removeClass("active");
                        $("#tab1").addClass("active");
                    }
                    else {
                        $("#btnMEOReplySend").hide();
                        $("#btnMEOGenerateTicket").hide();
                        $("#btnMEOClearTicket").hide();

                        //Reply
                        $("#divIsClosed").hide();
                        $("#ddlEmailTemplate").attr("disabled", "dsiabled");
                        $("#editor").attr("disabled", "dsiabled");

                        $(".nav-tabs li").removeClass("active");
                        $("#navfirst").addClass("active");
                        $(".tab-pane2").removeClass("active");
                        $("#tab1").addClass("active");
                    }

                    //Reply
                    BindEmailTemplate();
                    //status_id	status
                    //0	Open
                    //1	Assigned
                    //2	Inprogress
                    //3	Resolved
                    //4	Pending
                    //5	Closed



                    BindMainGrid(user_id, pk_queue_id, $.trim('@ViewBag._role_id'), queue_status_id);
                    FillMailItems(pk_queue_id);
                    FillTicketItems(customer_email);

                    //Tab
                    //$(".nav-tabs li").removeClass("active");
                    //$("#navfirst").addClass("active");
                    //$(".tab-pane2").removeClass("active");
                    //$("#tab1").addClass("active");
                });
                $("#remove").live("click", function () {
                    if (confirm('Are you sure, you want to delete this email?')) {
                        var requestid = $(this).attr('ctlValue');
                        var agent_name = $('.username').html();
                        RemoveEmailFromList(requestid, agent_name);
                    }
                });
                function RemoveEmailFromList(requestid, agent_name) {
                    $("#ajax-screen-masking").show();
                    var url = apiServer + '/api/Emails';
                    jQuery.support.cors = true;
                    var JSONSendData = {
                        modetype: 11,
                        request_id: requestid,
                        agent_name: agent_name
                    };
                    $.ajax
                    ({
                        url: url,
                        type: 'post',
                        data: JSON.stringify(JSONSendData),
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        cache: false,
                        success: function (data) {
                            if (data.length > 0) {
                                $("#ajax-screen-masking").hide();
                                if (data[0].errcode == 0) {
                                    GetMyEmailQueue($.trim('@ViewBag._userid'), $.trim('@ViewBag._role_id'), $('#ddlMEQSelectFilter option:selected').val());
                                    $('.PMSuccess .modal-footer .btnPMSuccessOK').attr({ "alt": "1" });
                                    $('.PMSuccess').attr({ "alt": "1" });
                                    $('.PMSuccess .modal-header').html('Success');
                                    $('.PMSuccess .modal-body').html(data[0].errmsg);
                                    $('.PMSuccess').modal({ keyboard: false, backdrop: 'static' }).css({
                                        'margin-left': function () {
                                            return window.pageXOffset - ($(this).width() / 2);
                                        }
                                    });
                                }
                                else {
                                    $('.PMFailed .modal-footer .btnPMFailedOK').attr({ "alt": "1" });
                                    $('.PMFailed .modal-header').html('Failed');
                                    $('.PMFailed .modal-body').html(data[0].errmsg);
                                    $('.PMFailed').modal({ keyboard: false, backdrop: 'static' }).css({
                                        'margin-left': function () {
                                            return window.pageXOffset - ($(this).width() / 2);
                                        }
                                    });
                                }
                            }
                        },
                        error: function (data) {
                            $("#ajax-screen-masking").hide();
                            $('.PMFailed .modal-footer .btnPMFailedOK').attr({ "alt": "1" });
                            $('.PMFailed .modal-header').html('Failed');
                            $('.PMFailed .modal-body').html(data[0].errmsg);
                            $('.PMFailed').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                        }
                    });
                }
                $("#open").live("click", function () {
                    FillEscalatingTeam();
                    //View Reply & Generate Ticket Tab
                    $("#btnRestore").hide();
                    $(".nav-tabs").show();
                    $("#tblReplyGenerateTicket").show();

                    $("#MyEmailOpenTitle").html($(this)[0].innerText);
                    $("#navsecond>a").html("Generate Ticket");
                    $("#ajax-screen-masking").show();
                    $("#navfirst").hide();
                    $("#divReplyTop").hide();
                    $("#divReplyBottom").hide();
                    $("#navsecond").hide();
                    //$("#btnCustomerHistory").hide();

                    $("#editor").css("width", "1140px");
                    $("#divLeftView").removeClass("row-9");
                    $("#divLeftView").addClass("row-12");
                    $("#divRightView").addClass("collapsed");


                    //Variables
                    var sitecode = $.trim('@ViewBag._sitecode');
                    var user_id = $.trim('@ViewBag._userid');
                    var role_id = $.trim('@ViewBag._role_id');
                    var pk_queue_id = $(this).attr('ctlValue');
                    var customer_email = $(this).attr('custemail');
                    var status = $(this).attr('statValue');
                    var assigned_user = $(this).attr('assValue');
                    var queue_status_id = $(this).attr('queue_status_id');


                    $("#btnRestore").attr('sitecode', sitecode);
                    $("#btnRestore").attr('user_id', user_id);
                    $("#btnRestore").attr('ctlValue', $(this).attr('ctlValue'));
                    $("#btnRestore").attr('custemail', $(this).attr('custemail'));
                    $("#btnRestore").attr('statValue', $(this).attr('statValue'));
                    $("#btnRestore").attr('assValue', $(this).attr('assValue'));
                    $("#btnRestore").attr('queue_status_id', $(this).attr('queue_status_id'));

                    //Hidden Fields
                    $("#hdsitecode").val(sitecode);
                    $("#hduserid").val(user_id);
                    $("#hdqueueid").val(pk_queue_id);
                    $("#hdcustemail").val(customer_email);
                    $("#hdstatus").val(status);
                    $("#hdassuser").val(assigned_user);

                    //Reply
                    $("#lblReplyError").html("");
                    $('#ddlEmailTemplate').find('option').remove();
                    $('#editor').val("");

                    //Generate Ticket
                    $('#lblGTError').html('')
                    $("#txtEGTCustomerName").val('');
                    $('#ddlEGTTicketType').find('option').remove();
                    $("#txtEGTTicketType").val('');
                    $("#txtEGTMobileNo").val('');
                    $('#ddlEGTCategory').find('option').remove();
                    $("#txtEGTCategory").val('');
                    $("#txtTicketID").val('');
                    $('#ddlEGTSubCategory').find('option').remove();
                    $("#txtEGTSubCategory").val('');
                    $("#txtEGTDescription").val('');
                    $('#ddlEGTStatus').find('option').remove();
                    $("#txtEGTStatus").val('');
                    //$('#ddlEGTEscalatingTeam').find('option').remove();
                    $('#ddlEGTEscalatingTeam').val('-1');
                    $("#txtEGTEscalatingTeam").val('');
                    $('#hdproccesstype').val('');
                    if (status.toUpperCase() == "ASSIGNED") {
                        $("#navsecond>a").html("Generate Ticket");
                        $("#navfirst").show();
                        $("#divReplyTop").show();
                        $("#divReplyBottom").show();
                        $("#navsecond").show();
                        //$("#btnCustomerHistory").show();

                        $("#btnMEOReplySend").show();
                        $("#btnMEOGenerateTicket").show();
                        $("#btnMEOClearTicket").show();

                        //Reply
                        $("#divIsClosed").show();
                        $("#ddlEmailTemplate").removeAttr("disabled");
                        $("#editor").removeAttr("disabled");

                        //Generate Ticket
                        $('#hdproccesstype').val('1');
                        $("#lblEGTTitle").html("New Ticket");
                        $("#txtEGTTicketType").hide();
                        $("#txtEGTCategory").hide();
                        $("#txtEGTSubCategory").hide();
                        $("#txtEGTStatus").hide();
                        $("#txtEGTEscalatingTeam").hide();
                        $("#ddlEGTTicketType").show();
                        $("#ddlEGTCategory").show();
                        $("#ddlEGTSubCategory").show();
                        $("#ddlEGTStatus").show();
                        $("#ddlEGTEscalatingTeam").show();
                        $("#btnEGTCopytoClipboard").show();
                        $("#txtEGTCustomerName").removeAttr('disabled');
                        $("#txtEGTMobileNo").removeAttr('disabled');
                        $("#txtEGTDescription").removeAttr('disabled');

                        FillTicketType(sitecode);
                        //FillEscalatingTeam();
                        FillStatus(user_id);
                        $("#btnMEOGenerateTicket").html('Create');
                        $(".nav-tabs li").removeClass("active");
                        $("#navfirst").addClass("active");
                        $(".tab-pane2").removeClass("active");
                        $("#tab1").addClass("active");
                    }
                    else if (status.toUpperCase() == "INPROGRESS") {
                        $("#navsecond>a").html("View Ticket");
                        $("#navsecond").show();
                        $("#btnMEOReplySend").hide();
                        $("#btnMEOGenerateTicket").hide();
                        $("#btnMEOClearTicket").hide();

                        //Reply
                        $("#divIsClosed").hide();
                        $("#ddlEmailTemplate").attr("disabled", "dsiabled");
                        $("#editor").attr("disabled", "dsiabled");

                        //Generate Ticket
                        $('#hdproccesstype').val('1');
                        //$("#lblEGTTitle").html("View Ticket");
                        $("#txtEGTTicketType").show();
                        $("#txtEGTCategory").show();
                        $("#txtEGTSubCategory").show();
                        $("#txtEGTStatus").show();
                        $("#txtEGTEscalatingTeam").show();
                        $("#ddlEGTTicketType").hide();
                        $("#ddlEGTCategory").hide();
                        $("#ddlEGTSubCategory").hide();
                        $("#ddlEGTStatus").hide();
                        $("#ddlEGTEscalatingTeam").hide();
                        $("#btnEGTCopytoClipboard").hide();
                        $("#txtEGTCustomerName").attr('disabled', 'disabled');
                        $("#txtEGTMobileNo").attr('disabled', 'disabled');
                        $("#txtEGTDescription").attr('disabled', 'disabled');
                        ViewTicket(pk_queue_id);
                        $("#btnMEOGenerateTicket").hide();
                        //ReAssign
                        if (role_id == "5") {
                            //FillEscalatingTeam();
                            $("#txtEGTEscalatingTeam").hide();
                            $("#btnMEOGenerateTicket").show();
                            $("#ddlEGTEscalatingTeam").show();
                            //$("#ddlEGTEscalatingTeam").val($("#txtEGTEscalatingTeam").val().toUpperCase());
                            //$("#ddlEGTEscalatingTeam option:contains('" + $("#txtEGTEscalatingTeam").val().toUpperCase() + "')").attr('selected', 'selected');
                            $('#hdproccesstype').val('2');
                            $("#btnMEOGenerateTicket").html('Re-Assign');
                        }

                        $("#txtEGTStatus").val()
                        $(".nav-tabs li").removeClass("active");
                        $("#navsecond").addClass("active");
                        $(".tab-pane1").removeClass("active");
                        $("#tab2").addClass("active");
                    }
                    else if (status.toUpperCase() == "RESOLVED") {
                        $("#navsecond>a").html("View Ticket");
                        $("#navfirst").show();
                        $("#divReplyTop").show();
                        $("#divReplyBottom").show();
                        $("#navsecond").show();

                        $("#btnMEOReplySend").show();
                        $("#btnMEOGenerateTicket").hide();
                        $("#btnMEOClearTicket").hide();
                        //$("#btnCustomerHistory").show();

                        //Reply
                        $("#divIsClosed").show();
                        $("#ddlEmailTemplate").removeAttr("disabled");
                        $("#editor").removeAttr("disabled");

                        //Generate Ticket
                        $('#hdproccesstype').val('1');
                        //$("#lblEGTTitle").html("View Ticket");
                        $("#txtEGTTicketType").show();
                        $("#txtEGTCategory").show();
                        $("#txtEGTSubCategory").show();
                        $("#txtEGTStatus").show();
                        $("#txtEGTEscalatingTeam").val($("#hdassuser").val());
                        $("#txtEGTEscalatingTeam").show();
                        $("#ddlEGTTicketType").hide();
                        $("#ddlEGTCategory").hide();
                        $("#ddlEGTSubCategory").hide();
                        $("#ddlEGTStatus").hide();
                        $("#ddlEGTEscalatingTeam").hide();
                        $("#btnEGTCopytoClipboard").hide();
                        $("#txtEGTCustomerName").attr('disabled', 'disabled');
                        $("#txtEGTMobileNo").attr('disabled', 'disabled');
                        $("#txtEGTDescription").attr('disabled', 'disabled');
                        ViewTicket(pk_queue_id);

                        $(".nav-tabs li").removeClass("active");
                        $("#navfirst").addClass("active");
                        $(".tab-pane2").removeClass("active");
                        $("#tab1").addClass("active");
                    }
                    else if (status.toUpperCase() == "CLOSED") {
                        $("#btnMEOReplySend").hide();
                        $("#btnMEOGenerateTicket").hide();
                        $("#btnMEOClearTicket").hide();

                        //Reply
                        $("#divIsClosed").hide();
                        $("#ddlEmailTemplate").attr("disabled", "dsiabled");
                        $("#editor").attr("disabled", "dsiabled");

                        $(".nav-tabs li").removeClass("active");
                        $("#navfirst").addClass("active");
                        $(".tab-pane2").removeClass("active");
                        $("#tab1").addClass("active");
                    }
                    else {
                        $("#btnMEOReplySend").hide();
                        $("#btnMEOGenerateTicket").hide();
                        $("#btnMEOClearTicket").hide();

                        //Reply
                        $("#divIsClosed").hide();
                        $("#ddlEmailTemplate").attr("disabled", "dsiabled");
                        $("#editor").attr("disabled", "dsiabled");

                        $(".nav-tabs li").removeClass("active");
                        $("#navfirst").addClass("active");
                        $(".tab-pane2").removeClass("active");
                        $("#tab1").addClass("active");
                    }

                    //Reply
                    BindEmailTemplate();
                    BindMainGrid(user_id, pk_queue_id, $.trim('@ViewBag._role_id'), queue_status_id);
                    FillMailItems(pk_queue_id);
                    FillTicketItems(customer_email);
                    $("#hdqueueid").val(pk_queue_id);
                    //Tab
                    //$(".nav-tabs li").removeClass("active");
                    //$("#navfirst").addClass("active");
                    //$(".tab-pane2").removeClass("active");
                    //$("#tab1").addClass("active");

                    $("#ajax-screen-masking").hide();
                    $('#divMyEmailOpen').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                $("#view").live("click", function () {
                    var pk_queue_id = $(this).attr('ctlValue');
                    ViewOnlyTicket(pk_queue_id);
                    $('#divEmailViewTicket').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                //Ticket Clicked
                $("#liTicket").live("click", function () {
                    $("#btnRestore").show();
                    $(".liTicket").css("color", "#000");
                    $(this).css("color", "#2F128E");
                    var queueId = $(this).attr('ctlValue');
                    var queue_status_id = -1;
                    BindMainGrid($.trim('@ViewBag._userid'), queueId, $.trim('@ViewBag._role_id'), queue_status_id);
                    FillMailItems(queueId);
                    //Hide Reply Generate Ticket Tab
                    $(".nav-tabs").hide();
                    $("#tblReplyGenerateTicket").hide();
                });

                //Reply Button
                $("#btnMEOReplySend").live("click", function () {
                    $("#lblReplyError").html("");
                    if ($('#ddlEmailTemplate').val() != null && $('#ddlEmailTemplate').val() != -1) {
                        if ($('#editor').val() != "") {
                            var subject = $('#hdsubject').val();
                            if (!subject.startsWith("RE:")) {
                                subject = "RE: " + subject;
                            }
                            var is_closed = ($('#chkIsClosed').prop('checked') == true) ? 1 : 0;
                            if (is_closed == 1) {
                                if (confirm("Are you sure you want to close this ticket?") == true) {
                                    MyEmailQueueReply($("#hdqueueid").val(), $('#hdcustemail').val(), "", subject, $("#editor").val().replace(/\n/gi, '<br />'), is_closed, $('#ddlEmailTemplate').val());
                                }
                            } else {
                                MyEmailQueueReply($("#hdqueueid").val(), $('#hdcustemail').val(), "", subject, $("#editor").val().replace(/\n/gi, '<br />'), is_closed, $('#ddlEmailTemplate').val());
                            }
                        }
                        else {
                            $("#lblReplyError").html("Enter mail content!");
                        }
                    }
                    else {
                        $("#lblReplyError").html("Select Template!");
                    }
                });

                //Customer History Button
                $("#btnCustomerHistory").live("click", function () {
                    if ($("#divLeftView").hasClass("row-9"))
                        $("#editor").css("width", "1140px");
                    else
                        $("#editor").css("width", "788px");
                    $("#divLeftView").toggleClass("row-12 row-9");
                    $("#divRightView").toggleClass("collapsed");
                });
            });
        </script>
    }
    @if (Model.ActiveTab == "TabMyEmailTickets")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.MyEmailTickets.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.com.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.EmailGenerateTicket.js"></script>
        <script type="text/javascript" src="~/Assets/ThirdParty/pagination/list.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.MyEmailOpen.js"></script>
            
        <!-- Open Screen -->
        <link href="~/Assets/ThirdParty/cleditor/jquery.cleditor.css" rel="stylesheet" />
        <script src="~/Assets/ThirdParty/cleditor/jquery.cleditor.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {

                $("#btnMETRefresh").live("click", function () {
                    //$('#tblPBEmailTickets').dataTable().fnFilter("Inprogress");
                    GetMyEmailTickets($.trim('@ViewBag._userid'), $.trim('@ViewBag._role_id'), $('#ddlMETSelectFilter option:selected').val());
                });

                $("#ddlMETSelectFilter").live("change", function () {
                    GetMyEmailTickets($.trim('@ViewBag._userid'), $.trim('@ViewBag._role_id'), $('#ddlMETSelectFilter option:selected').val());
                });

                GetMyEmailTickets($.trim('@ViewBag._userid'), $.trim('@ViewBag._role_id'), $('#ddlMETSelectFilter option:selected').val());

                //Search Filter
                //$("#ddlMETSelectFilter").live("change", function () {
                //    alert($(this).text());
                //});

                //Generate Ticket
                $("#generateticket").live("click", function () {
                    var sitecode = $.trim('@ViewBag._sitecode');

                    var pk_queue_id = $(this)[0].attributes['ctlValue'].value;
                    $('#hdpkqueueid').val(pk_queue_id);

                    var agent_email = $(this)[0].attributes['agent_email'].value;
                    $('#hdagentemail').val(agent_email);

                    var cust_email = $(this)[0].attributes['cust_email'].value;
                    $('#hdcustemail').val(cust_email);

                    var hdproccesstype = "2";
                    $('#hdproccesstype').val(hdproccesstype);

                    $('#hdcompaint_category').val($(this)[0].attributes['category'].value);


                    $('#lblError').html('')
                    $("#txtEGTCustomerName").val($(this)[0].attributes['customer_name'].value);
                    $("#txtEGTCustomerName").attr("disabled", "disabled");
                    $("#txtEGTMobileNo").val($(this)[0].attributes['mobileno'].value);
                    $("#txtEGTMobileNo").attr("disabled", "disabled");
                    $("#txtTicketID").val($(this)[0].attributes['Ticket_id'].value);
                    $("#txtEGTTicketType").val($(this)[0].attributes['Issue_Name'].value);
                    $("#txtEGTCategory").val($(this)[0].attributes['Function_Name'].value);
                    $("#txtEGTSubCategory").val($(this)[0].attributes['Complaint_Name'].value);
                    $("#txtEGTEscalatingTeam").val($(this)[0].attributes['esclating_user_txt'].value);
                    $("#txtEGTStatus").val($(this)[0].attributes['queue_status_txt'].value);
                    $("textarea[name=txtEGTDescription]").val($(this)[0].attributes['desc'].value);

                    $("#ddlEGTEscalatingTeam").removeAttr("disabled");

                    MyEmailTicketsFillStatus();
                    FillEscalatingTeam();

                    $("#ddlEGTTicketType").hide();
                    $("#ddlEGTCategory").hide();
                    $("#ddlEGTSubCategory").hide();

                    $('#ddlEGTEscalatingTeam').hide();

                    $("#txtEGTTicketType").show();
                    $("#txtEGTCategory").show();
                    $("#txtEGTSubCategory").show();
                    $("#txtEGTEscalatingTeam").show();

                    $("#txtEGTDescription").attr("disabled", "disabled");

                    $("#btnEGTCopytoClipboard").hide();

                    $("#btnEGTClear").hide();
                    if ($(this)[0].innerText == "Open" || $(this)[0].innerText == "Assigned") {
                        $("#lblEGTTitle").html($(this)[0].innerText + " Ticket");
                        $("#ddlEGTStatus").show();
                        $("#txtEGTStatus").hide();
                        $("#btnEGTSubmit").show();
                        $('#ddlEGTEscalatingTeam').show();
                        $("#txtEGTEscalatingTeam").hide();
                        $("#txtEGTDescription").removeAttr('disabled');
                    }
                    else if ($(this)[0].innerText == "Inprogress") {
                        $("#lblEGTTitle").html("Inprogress");
                        $("#ddlEGTStatus").show();
                        $("#txtEGTStatus").hide();
                        $("#btnEGTSubmit").show();
                        $('#ddlEGTEscalatingTeam').show();
                        $("#txtEGTEscalatingTeam").hide();
                        $("#txtEGTDescription").removeAttr('disabled');
                    }
                    else if ($(this)[0].innerText == "Resolved") {
                        $("#lblEGTTitle").html("Ticket Resolved");
                        $("#ddlEGTStatus").hide();
                        $("#txtEGTStatus").show();
                        $("#btnEGTSubmit").hide();

                        var user_role = $.trim('@ViewBag._roleid');
                        if (user_role == "Admin" || user_role == "Agent" || user_role == "Manager" || user_role == "TeamLeader") {
                            $("#txtEGTDescription").removeAttr('disabled');
                            $("#ddlEGTStatus").show();
                            $("#txtEGTStatus").hide();
                            $('#ddlEGTStatus').find('option').remove();
                            var actionOption = '<option ctlValue="' + "5" + '"   value="' + "5" + '" style=\"padding:3px\">' + "Closed" + '</option>';
                            $('#ddlEGTStatus').append(actionOption);
                            $("#btnEGTSubmit").show();
                        }

                    }
                    else {
                        $("#lblEGTTitle").html("Ticket Closed");
                        $("#ddlEGTStatus").hide();
                        $("#txtEGTStatus").show();
                        $("#btnEGTSubmit").hide();
                    }

                    $('#divEmailGenerateTicket').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                $("#ddlEGTStatus").live("change", function () {
                    if ($('#ddlEGTStatus option:selected').val() == "3") {
                        $("#ddlEGTEscalatingTeam option:contains('" + $("#txtEGTEscalatingTeam").val().toUpperCase() + "')").attr('selected', 'selected');
                        $("#ddlEGTEscalatingTeam").attr("disabled", "disabled");
                    }
                    else {
                        $("#ddlEGTEscalatingTeam").removeAttr("disabled");
                    }
                });

                $("button#btnEGTSubmit").live("click", function () {
                    $('#lblError').html('');
                    if ($('#ddlEGTStatus').val() != "-1") {
                        //if ($('#ddlEGTStatus').val() == "3" && $('#ddlEGTEscalatingTeam').val() != "0") {
                        if ($('#ddlEGTEscalatingTeam').val() != "0") {
                            ChangeEmailQueueStatus($('#hdpkqueueid').val(), $('#ddlEGTStatus').val(), $('#hdagentemail').val(), $('#ddlEGTEscalatingTeam option:selected').attr("ctlvalue"), $('#ddlEGTEscalatingTeam').val(), $("#txtEGTDescription").val(), $('#hdcompaint_category').val()); //$('#hdcustemail').val());
                        }
                        else {
                            $('#lblError').html("Select Escalation Team!");
                        }
                    }
                    else {
                        $('#lblError').html("Select Status!");
                    }
                });
            });
        </script>
    }
}