﻿@model CRM_API.Models.EmailModel
@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Email Settings";   
}
<style>
    .greybgcol
    {
        background: #e1e1e1;
    }

    .rightbox
    {
        background: #fff;
        border: 2px solid #ccc;
        width: 78%;
        float: right;
        margin: 0;
    }

        .rightbox h3
        {
            background: #4b8df8;
            height: 20px;
            padding: 10px;
            color: #fff;
            font-size: 18px;
            line-height: 24px;
            margin: 0;
        }

    .leftbox
    {
        width: 20%;
        float: left;
    }

    .mar
    {
        margin-top: 20px;
    }

    .greybgcol .accordion-group
    {
        margin-bottom: 0;
        border-top: 2px solid #ccc;
        border-left: 2px solid #ccc;
        border-right: 2px solid #ccc;
        border-radius: 0;
    }

        .greybgcol .accordion-group:last-child
        {
            margin-bottom: 0;
            border-top: 2px solid #ccc;
            border-left: 2px solid #ccc;
            border-right: 2px solid #ccc;
            border-bottom: 2px solid #ccc;
            border-radius: 0;
        }

        .greybgcol .accordion-group a.accordion-toggle
        {
            font-size: 14px;
            color: #fff;
            text-decoration: none;
        }

    .greybgcol li
    {
        border-top: 2px solid #ccc;
        padding: 10px;
        font-size: 14px;
    }

    .greybgcol .accordion-group:hover
    {
        background: #fff;
    }

    .greybgcol li a
    {
        font-size: 14px;
        color: #000000;
        text-decoration: none;
    }

    .insidemenu
    {
        margin: 0;
        list-style: none;
    }

    .greybgcol .accordion-body.collapse.in
    {
        background: #fff;
    }

    .divinner
    {
        /*background: #efefef;*/
        width: 95.68%;
        margin: 10px 10px;
        padding: 10px 20px;
        border-radius: 4px;
    }

    .leftradio
    {
        padding-top: 0;
    }

    .rightradio
    {
        padding-top: 0;
    }

    #div1
    {
        margin-left: 20px;
        font-size: 13px;
        color: #000;
        vertical-align: -webkit-baseline-middle;
    }

    #div2
    {
        margin-left: 20px;
        font-size: 13px;
        color: #000;
        vertical-align: -webkit-baseline-middle;
    }

    .accordion-inner
    {
        cursor: pointer;
    }

    .accordion-heading
    {
        background: #4b8df8;
    }
</style>
<div class="portlet box blue">
    <div class="portlet-title" style="height: 30px; border-bottom: 0">
        Admin Panel
    </div>
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div class="portlet-body">
        <div class="leftbox greybgcol">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#onestart">
                        <span class="pull-right"><i class="icon-chevron-down"></i></span>
                        Rule
                    </a>
                </div>
                <div id="onestart" class="accordion-body collapse">
                    <div>
                        <div id="divRuleAssigning" class="accordion-inner">Rule Assigning</div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#twostart">
                        <span class="pull-right"><i class="icon-chevron-down"></i></span>
                        Email
                    </a>
                </div>
                <div id="twostart" class="accordion-body collapse">
                    <div>
                        <div id="divEmailAssigning" class="accordion-inner">Email Assigning</div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#threestart">
                        <span class="pull-right"><i class="icon-chevron-down"></i></span>
                        SMS
                    </a>
                </div>
                <div id="threestart" class="accordion-body collapse">
                    <div>
                        <div id="divSMSAssigning" class="accordion-inner">SMS Assigning</div>
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#fourstart">
                        <span class="pull-right"><i class="icon-chevron-down"></i></span>
                        Category
                    </a>
                </div>
                <div id="fourstart" class="accordion-body collapse">
                    <div>
                        <div id="divMainCategory" class="accordion-inner">Category</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rightbox">
            <h3 id="headName">Template</h3>
            <div class="divinner" id="divRuleAssigningRight">
                <div class="control-group">
                    <div class="controls">
                        <input type="hidden" name="hdruletemplateid" id="hdruletemplateid" />
                        <fieldset>
                            <legend>Email:</legend>
                            <div style="width: 99%">
                                <div style="float: left">
                                    <input type="radio" name="RuleAssigning" id="rdRoundRobin" checked="checked">
                                    <label style="float: right; margin-left: 5px;">Round Robin</label>
                                </div>
                                <div style="clear: both">&nbsp;</div>
                                <div style="float: left">
                                    <input type="radio" name="RuleAssigning" id="rdMasterKick">
                                    <label style="float: right; margin-left: 5px;">Master Kick</label>
                                </div>
                            </div>
                            <div style="clear: both">&nbsp;</div>
                            <div style="width: 99%; margin-bottom: 25px;">
                                <div id="divRuleLimit" class="hide" style="width: 50%; float: left">
                                    <label>Limit :<input type="number" id="ruleLimit" style="width: 50px; margin-left: 5px;" value="1" min="1" max="10"></label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div style="clear: both">&nbsp;</div>
                <div class="control-group">
                    <div class="controls">
                        <fieldset>
                            <legend>Escalation:</legend>
                            <div style="width: 99%">
                                <div style="float: left">
                                    <input type="radio" name="EscalationRule" id="rdEOn" checked="checked">
                                    <label style="float: right; margin-left: 5px;">On</label>
                                </div>
                                <div style="clear: both">&nbsp;</div>
                                <div style="float: left">
                                    <input type="radio" name="EscalationRule" id="rdEOff">
                                    <label style="float: right; margin-left: 5px;">Off</label>
                                </div>
                            </div>
                            <div style="clear: both">&nbsp;</div>
                            <div style="width: 99%; margin-bottom: 25px;">
                                <div id="divEscalationLimit" class="hide" style="width: 50%; float: left">
                                    <label>Limit :<input type="number" id="escalationLimit" style="width: 50px; margin-left: 5px;" value="1" min="1" max="9"></label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div style="clear: both">&nbsp;</div>
                <div class="control-group">
                    <div class="controls">
                        <div style="width: 50%; float: right; margin-bottom: 10px;">
                            <button id="btnRuleAssigning" class="pull-right btn blue" style="margin-right: 10px;">Update Rule</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divinner" id="divEmailAssigningRight">
                <div class="control-group">
                    <div class="controls">
                        <div style="width: 49%; float: left;">
                            <div style="width: 99%; float: left;">
                                <div style="width: 30%; float: left;">
                                    <label style="float: left; padding-right: 10px;">Template Name<span style="color: red">*</span></label>
                                </div>
                                <div style="width: 55%; float: left;">
                                    <select id="ddlEmailTemplate" name="ddlEmailTemplate" style="float: left; font-size: 13px; width: 180px"></select>
                                </div>
                                <div style="width: 0%; float: left;">
                                    <button id="btnAddEmailAssigning" class="pull-right btn blue" style="margin-right: 10px">Add</button>
                                </div>
                                <div style="width: 8%; float: left;margin-left: 20px;">
                                    <button id="btnEditEmailAssigning" class="pull-right btn blue" style="margin-right: 10px">Edit</button>
                                </div>
                            </div>
                            <div style="clear: both">&nbsp;</div>
                            <div style="width: 99%; float: left;">
                                <div style="width: 30%; float: left;">
                                    <label style="float: left; padding-right: 25px;">Subject<span style="color: red">*</span></label>
                                </div>
                                <div style="width: 60%; float: left;">
                                    <input type="text" id="txtEmailSubject" name="txtEmailSubject" maxlength="200" style="width: 300px" />
                                </div>
                            </div>

                            <div style="clear: both">&nbsp;</div>
                            <div style="width: 99%; float: left;">
                                <div style="width: 30%; float: left;">
                                    <label style="float: left;">Mail Chimp Template<span style="color: red">*</span></label>
                                </div>
                                <div style="width: 60%; float: left;">
                                    <select id="ddlMailChimpTemplate" name="ddlMailChimpTemplate" style="float: left; font-size: 13px; width: 315px"></select>
                                </div>
                            </div>
                            @*<div style="clear: both">&nbsp;</div>
                            <div style="width: 99%; float: left;">
                                <div style="width: 30%; float: left;">
                                    <label style="float: left; padding-right: 25px;">Template File<span style="color: red">*</span></label>
                                </div>
                                <div style="width: 60%; float: left;">
                                    <input type="file" id="htmlFile" name="htmlFile" accept=".html">
                                </div>
                            </div>*@
                        </div>
                        <div style="width: 49%; float: left;">
                            <div style="width: 99%; float: left">Preview</div>
                            <div style="width: 99%; float: left; border: 1px solid #efefef;">
                                @*<object id="divHTML" type="text/html" data="" style="width: 100%; min-height: 300px;"></object>*@
                                <iframe src="" id="divHTML"  style="width: 100%; min-height: 300px;"></iframe>
                            </div>
                        </div>
                        <div style="clear: both">&nbsp;</div>
                        <div style="width: 99%; margin-bottom: 25px;">
                            <label class="errLabel" id="lblEmailError" style="color: red;"></label>
                        </div>
                        <div style="clear: both">&nbsp;</div>
                        <div style="width: 99%; margin-bottom: 25px;">
                            <div style="width: 99%; float: right;">
                                <button id="btnEmailAssigning" class="pull-right btn blue" style="margin-right: 10px">Update Email</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divinner" id="divSMSAssigningRight">
                <div class="control-group">
                    <div class="controls">
                        <input type="hidden" name="hdsmstemplateid" id="hdsmstemplateid" />
                        <div style="width: 99%">
                            <div style="width: 99%; float: left;">
                                <div style="width: 20%">
                                    <label style="float: left; padding-right: 10px;">Template Name<span style="color: red">*</span></label>
                                </div>
                                <div style="width: 30%; float: left;">
                                    <select id="ddlSMSTemplate" name="ddlSMSTemplate" style="float: left; font-size: 13px; width: 186px"></select>
                                </div>
                                <div style="width: 0%; float: left;">
                                    <button id="btnAddSMSAssigning" class="pull-right btn blue" style="margin-right: 10px">Add</button>
                                </div>
                                <div style="width: 7%; float: left;">
                                    <button id="btnEditSMSAssigning" class="pull-right btn blue" style="margin-right: 10px">Edit</button>
                                </div>
                            </div>
                            <div style="clear: both">&nbsp;</div>
                            <div style="width: 99%; float: left;">
                                <div style="width: 20%">
                                    <label style="float: left; padding-right: 25px;">SMS Content<span style="color: red">*</span></label>
                                </div>
                                <div style="width: 78%">
                                    <textarea id="txtSMSDescription" name="txtSMSDescription" style="float: left; width: 600px; height: 95px; resize: none; padding: 5px; font-size: 13px" spellcheck="false" maxlength="160"></textarea>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both">&nbsp;</div>
                        <div style="width: 99%; margin-bottom: 25px;">
                            <label class="errLabel" id="lblSMSError" style="color: red;"></label>
                        </div>
                        <div style="clear: both">&nbsp;</div>
                        <div style="width: 99%; margin-bottom: 25px;">
                            <div style="width: 99%; float: right;">
                                <button id="btnSMSAssigning" class="pull-right btn blue" style="margin-right: 10px">Update SMS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divinner" id="divCategoryRight">
                <div class="control-group">
                    <div class="controls">
                        <div style="width: 99%">
                            <div style="width: 99%; float: left;">
                                <div style="width: 20%">
                                    <label style="float: left; padding-right: 10px; width: 60%;">Ticket Type<span style="color: red">*</span></label>
                                </div>
                                <div style="width: 30%; float: left;">
                                    <select id="ddlTicketType" name="ddlTicketType" style="float: left; font-size: 13px; width: 186px"></select>
                                </div>
                                <div style="width: 0%; float: left;">
                                    <button id="btnAddTicketType" class="pull-right btn blue" style="margin-right: 10px">Add</button>
                                </div>
                                <div style="width: 7%; float: left;">
                                    <button id="btnEditTicketType" class="pull-right btn blue" style="margin-right: 10px">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both">&nbsp;</div>
                        <div style="width: 99%" id="divCategory">
                            <div style="width: 99%; float: left;">
                                <div style="width: 20%">
                                    <label style="float: left; padding-right: 10px; width: 60%;">Category<span style="color: red">*</span></label>
                                </div>
                                <div style="width: 30%; float: left;">
                                    <select id="ddlCategory" name="ddlCategory" style="float: left; font-size: 13px; width: 186px"></select>
                                </div>
                                <div style="width: 0%; float: left;">
                                    <button id="btnAddCategory" class="pull-right btn blue" style="margin-right: 10px">Add</button>
                                </div>
                                <div style="width: 7%; float: left;">
                                    <button id="btnEditCategory" class="pull-right btn blue" style="margin-right: 10px">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both">&nbsp;</div>
                        <div style="width: 99%" id="divSubCategory">
                            <div style="width: 99%; float: left;">
                                <div style="width: 20%">
                                    <label style="float: left; padding-right: 10px; width: 60%;">Sub Category<span style="color: red">*</span></label>
                                </div>
                                <div style="width: 30%; float: left;">
                                    <select id="ddlSubCategory" name="ddlSubCategory" style="float: left; font-size: 13px; width: 186px"></select>
                                </div>
                                <div style="width: 0%; float: left;">
                                    <button id="btnAddSubCategory" class="pull-right btn blue" style="margin-right: 10px">Add</button>
                                </div>
                                <div style="width: 7%; float: left;">
                                    <button id="btnEditSubCategory" class="pull-right btn blue" style="margin-right: 10px">Edit</button>
                                </div>
                            </div>
                        </div>
                        <div style="clear: both">&nbsp;</div>
                        <div style="width: 99%; margin-bottom: 25px;">
                            <label class="errLabel" id="lblCategoryError" style="color: red;"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<div id="SMSSettingsPopup" class="popup-message modal hide border-lightblue" style="width: 500px; height: 265px">
    <input type="hidden" id="hdPopupSMSTemplateId" name="hdPopupSMSTemplateId" />
    <div class="modal-header background-lightblue" style="font-family: Arial"><span class="SMSSettingsStr"></span></div>
    <div class="modal-body" style="height: 135px">
        <div style="border: 1px solid #c0c0c0; height: 75px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
            <table border="0" style="width: 100%">
                <tr>
                    <td style="width: 22%;">Template Name <span style="color: red">*</span></td>
                    <td style="width: 78%">
                        <input type="text" id="txtPopupSMSTemplateName" name="txtPopupSMSTemplateName" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label id="lblPopupSMSError" style="color: red"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnPopupSMSCancel" style="float: left; width: 100px;">Cancel</button>
        <button class="btn blue" type="button" id="btnPopupSMSConfirm" style="float: right; width: 100px;">Submit</button>
    </div>
</div>
<div id="EmailSettingsPopup" class="popup-message modal hide border-lightblue" style="width: 500px; height: 265px">
    <input type="hidden" id="hdPopupEmailTemplateId" name="hdPopupEmailTemplateId" />
    <div class="modal-header background-lightblue" style="font-family: Arial"><span class="EmailSettingsStr"></span></div>
    <div class="modal-body" style="height: 135px">
        <div style="border: 1px solid #c0c0c0; height: 75px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
            <table border="0" style="width: 100%">
                <tr>
                    <td style="width: 22%;">Template Name <span style="color: red">*</span></td>
                    <td style="width: 78%">
                        <input type="text" id="txtPopupEmailTemplateName" name="txtPopupEmailTemplateName" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label id="lblPopupEmailError" style="color: red"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnPopupEmailCancel" style="float: left; width: 100px;">Cancel</button>
        <button class="btn blue" type="button" id="btnPopupEmailConfirm" style="float: right; width: 100px;">Submit</button>
    </div>
</div>
<div id="TicketTypePopup" class="popup-message modal hide border-lightblue" style="width: 500px; height: 265px">
    <div class="modal-header background-lightblue" style="font-family: Arial"><span class="TicketTypeSettingsStr"></span></div>
    <div class="modal-body" style="height: 135px">
        <div style="border: 1px solid #c0c0c0; height: 75px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
            <table border="0" style="width: 100%">
                <tr>
                    <td style="width: 22%;">Ticket Type<span style="color: red">*</span></td>
                    <td style="width: 78%">
                        <input type="text" id="txtPopupTicketTypeName" name="txtPopupTicketTypeName" maxlength="30" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label id="lblPopupTicketTypeError" style="color: red"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnPopupTicketTypeCancel" style="float: left; width: 100px;">Cancel</button>
        <button class="btn blue" type="button" id="btnPopupTicketTypeConfirm" style="float: right; width: 100px;">Submit</button>
    </div>
</div>
<div id="CategoryPopup" class="popup-message modal hide border-lightblue" style="width: 500px; height: 265px">
    <div class="modal-header background-lightblue" style="font-family: Arial"><span class="CategorySettingsStr"></span></div>
    <div class="modal-body" style="height: 135px">
        <div style="border: 1px solid #c0c0c0; height: 75px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
            <table border="0" style="width: 100%">
                <tr>
                    <td style="width: 22%;">Category<span style="color: red">*</span></td>
                    <td style="width: 78%">
                        <input type="text" id="txtPopupCategoryName" name="txtPopupCategoryName" maxlength="30" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label id="lblPopupCategoryError" style="color: red"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnPopupCategoryCancel" style="float: left; width: 100px;">Cancel</button>
        <button class="btn blue" type="button" id="btnPopupCategoryConfirm" style="float: right; width: 100px;">Submit</button>
    </div>
</div>
<div id="SubCategoryPopup" class="popup-message modal hide border-lightblue" style="width: 500px; height: 265px">
    <div class="modal-header background-lightblue" style="font-family: Arial"><span class="SubCategorySettingsStr"></span></div>
    <div class="modal-body" style="height: 135px">
        <div style="border: 1px solid #c0c0c0; height: 75px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
            <table border="0" style="width: 100%">
                <tr>
                    <td style="width: 22%;">Sub Category<span style="color: red">*</span></td>
                    <td style="width: 78%">
                        <input type="text" id="txtPopupSubCategoryName" name="txtPopupSubCategoryName" maxlength="30" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label id="lblPopupSubCategoryError" style="color: red"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnPopupSubCategoryCancel" style="float: left; width: 100px;">Cancel</button>
        <button class="btn blue" type="button" id="btnPopupSubCategoryConfirm" style="float: right; width: 100px;">Submit</button>
    </div>
</div>
@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.EmailSettings.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //Prevent typing in the number textbox
            $("[type='number']").keypress(function (evt) {
                evt.preventDefault();
            });

            ActivateTopbarMenu(10);

            //General
            $('.divinner').hide();
            $('div.accordion-body').on('shown', function () {
                $(this).parent("div").find(".icon-chevron-down").removeClass("icon-chevron-down").addClass("icon-chevron-up");

            });

            $('div.accordion-body').on('hidden', function () {
                $(this).parent("div").find(".icon-chevron-up").removeClass("icon-chevron-up").addClass("icon-chevron-down");
            });

            //Rule Assigning
            $('#divRuleAssigning').live("click", function () {
                $('.divinner').hide();
                //$(".accordion-body").removeClass("in");
                $('#headName').html("Rule Assigning");
                $('#divRuleAssigningRight').show();
                BindRuleAssigning();
            });

            $('#rdRoundRobin').live("click", function () {
                $("#divRuleLimit").hide();
            });

            $('#rdMasterKick').live("click", function () {
                $("#divRuleLimit").show();
            });

            $('#rdEOn').live("click", function () {
                $("#divEscalationLimit").show();
            });

            $('#rdEOff').live("click", function () {
                $("#divEscalationLimit").hide();
            });

            $('#btnRuleAssigning').live("click", function () {
                var queue_type = $('#rdRoundRobin').prop('checked') ? 1 : 2;
                var queue_per_user = 0;
                if (queue_type == 2)
                    queue_per_user = $('#ruleLimit').val();
                var template_id = $('#hdruletemplateid').val();
                if (template_id != "")
                    processtype = 2;
                else
                    processtype = 1;
                var esclation_delay = 0;
                if ($('#rdEOn').prop('checked'))
                    esclation_delay = $('#escalationLimit').val();
                UpdateRuleAssigning(queue_type, queue_per_user, processtype, template_id, esclation_delay);
            });

            //Email Assigning
            $('#divEmailAssigning').live("click", function () {
                $('.divinner').hide();
                $('#headName').html("Email Assigning");
                $('#divEmailAssigningRight').show();
                $('#btnEditEmailAssigning').hide();
                $('#divHTML').attr("src", "");
                //$('#divHTML').removeAttr('data');
                //$('#htmlFile').val("");
                BindEmailAssigning();
                BindMailChimpTemplate();
            });

            $('#ddlEmailTemplate').change(function () {
                $('#lblEmailError').html('');
                $('#txtEmailSubject').val('');
                $('#divHTML').attr("src", "");
                //$('#divHTML').removeAttr('data');
                //$('#htmlFile').val("");
                $('#txtEmailSubject').val($("#ddlEmailTemplate option:selected").attr('subValue'));
                $('#ddlMailChimpTemplate').val($("#ddlEmailTemplate option:selected").attr('ctlvalue'));
                //$('#divHTML').attr('data', $("#ddlEmailTemplate option:selected").attr('ctlValue3'));
                if ($("#ddlEmailTemplate option:selected").val() == "-1") {
                    $("#btnEditEmailAssigning").hide();
                }
                else {
                    $("#btnEditEmailAssigning").show();
                }
            });

            $('#ddlMailChimpTemplate').change(function () {
                if ($("#ddlMailChimpTemplate option:selected").val() == "-1") {
                    $('#divHTML').attr("src", "");
                }
                else {
                    $('#divHTML').attr("src", $("#ddlMailChimpTemplate option:selected").attr('ctlvalue'));
                }
            });
            //Preview Template File
            //$("#htmlFile").change(function () {
            //    $('#divHTML').removeAttr('data');
            //    if (this.files && this.files[0]) {
            //        readURL(this.files[0]);
            //    }
            //});

            //function readURL(file) {
            //    var reader = new FileReader();
            //    reader.onload = function (e) {
            //        $('#divHTML').attr('data', e.target.result);
            //    }
            //    reader.readAsDataURL(file);
            //}

            $('#btnEmailAssigning').live("click", function () {
                $('#lblEmailError').html('');
                if ($('#ddlEmailTemplate').val() != -1) {
                    if ($.trim($('#txtEmailSubject').val()).length > 0) {
                        if ($('#ddlMailChimpTemplate').val() != -1) {
                            //if ($("#htmlFile")[0].files.length > 0) {
                                var templateid = $('#ddlEmailTemplate').val();
                                var templatename = $("#ddlEmailTemplate option:selected").text();
                                var subject = $('#txtEmailSubject').val();
                                var filename = $('#ddlMailChimpTemplate').val();
                                //var file = $("#htmlFile")[0].files[0];
                                //var filename = $('#hdemailtemplatefile').val();
                                //var email_blob = $('#divHTML').attr('data');
                                UpdateEmailAssigning(templateid, templatename, subject, filename, 2);
                            //}
                            //else {
                            //    $('#lblEmailError').html("Select Template File!");
                            //}
                        }
                        else {
                            $('#lblEmailError').html("Select Mail Chimp Template!");
                        }
                    }
                    else {
                        $('#lblEmailError').html("Enter Subject!");
                    }
                }
                else {
                    $('#lblEmailError').html("Select Template!");
                }
            });

            $("#btnAddEmailAssigning").live("click", function () {
                $(".EmailSettingsStr").html("Add Template");
                $("#lblPopupEmailError").html("");
                $("#txtPopupEmailTemplateName").val("");
                $("#hdPopupEmailTemplateId").val("");
                $('#EmailSettingsPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnEditEmailAssigning").live("click", function () {
                $(".EmailSettingsStr").html("Edit Template");
                $("#lblPopupEmailError").html("");
                $("#txtPopupEmailTemplateName").val($("#ddlEmailTemplate option:selected").text());
                $("#hdPopupEmailTemplateId").val($("#ddlEmailTemplate option:selected").val());
                $('#EmailSettingsPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnPopupEmailConfirm").live("click", function () {
                if ($.trim($("#txtPopupEmailTemplateName").val()) != "") {
                    $("#EmailSettingsPopup").modal("hide");
                    if ($(".EmailSettingsStr").html() == "Add Template") {
                        UpdateEmailAssigning(0, $.trim($("#txtPopupEmailTemplateName").val()), "", "", 1);
                    }
                    else {
                        UpdateEmailAssigning($("#hdPopupEmailTemplateId").val(), $.trim($("#txtPopupEmailTemplateName").val()), "", "", 2);
                    }
                }
                else {
                    $("#lblPopupEmailError").html("Enter Template Name!");
                }
            });
            //SMS Assigning
            $('#divSMSAssigning').live("click", function () {
                $('.divinner').hide();
                $('#headName').html("SMS Assigning");
                $('#divSMSAssigningRight').show();
                $('#btnEditSMSAssigning').hide();
                BindSMSAssigning();
            });

            $('#ddlSMSTemplate').change(function () {
                $('#lblSMSError').html('');
                $('#txtSMSDescription').val('');
                $('#txtSMSDescription').val($("#ddlSMSTemplate option:selected").attr('ctlValue'));
                if ($("#ddlSMSTemplate option:selected").val() == "-1") {
                    $("#btnEditSMSAssigning").hide();
                }
                else {
                    $("#btnEditSMSAssigning").show();
                }
            });

            $('#btnSMSAssigning').live("click", function () {
                $('#lblSMSError').html('');
                if ($('#ddlSMSTemplate').val() != -1) {
                    if ($.trim($('#txtSMSDescription').val()).length > 0) {
                        var templateid = $('#ddlSMSTemplate').val();
                        var templatename = $("#ddlSMSTemplate option:selected").text();
                        var description = $('#txtSMSDescription').val();
                        $("#btnEditSMSAssigning").hide();
                        UpdateSMSAssigning(templateid, templatename, description, 2);
                    }
                    else {
                        $('#lblSMSError').html("Enter Description!");
                    }
                }
                else {
                    $('#lblSMSError').html("Select Template!");
                }
            });

            $("#btnAddSMSAssigning").live("click", function () {
                $(".SMSSettingsStr").html("Add Template");
                $("#lblPopupSMSError").html("");
                $("#txtPopupSMSTemplateName").val("");
                $("#hdPopupSMSTemplateId").val("");
                $('#SMSSettingsPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnEditSMSAssigning").live("click", function () {
                $(".SMSSettingsStr").html("Edit Template");
                $("#lblPopupSMSError").html("");
                $("#txtPopupSMSTemplateName").val($("#ddlSMSTemplate option:selected").text());
                $("#hdPopupSMSTemplateId").val($("#ddlSMSTemplate option:selected").val());
                $('#SMSSettingsPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnPopupSMSConfirm").live("click", function () {
                if ($.trim($("#txtPopupSMSTemplateName").val()) != "") {
                    $("#SMSSettingsPopup").modal("hide");
                    if ($(".SMSSettingsStr").html() == "Add Template") {
                        UpdateSMSAssigning(0, $.trim($("#txtPopupSMSTemplateName").val()), "", 1);
                    }
                    else {
                        var description = $('#txtSMSDescription').val();
                        UpdateSMSAssigning($("#hdPopupSMSTemplateId").val(), $.trim($("#txtPopupSMSTemplateName").val()), description, 2);
                    }
                }
                else {
                    $("#lblPopupSMSError").html("Enter Template Name!");
                }
            });

            //Category
            $('#divMainCategory').live("click", function () {
                $('.divinner').hide();
                $('#headName').html("Edit Category");
                $('#divCategoryRight').show();
                $('#btnEditTicketType').hide();
                var sitecode = $.trim('@ViewBag._sitecode');
                $("#divCategory").hide();
                $("#divSubCategory").hide();
                BindTicketType(sitecode);
            });

            $('#ddlTicketType').change(function () {
                $('#lblCategoryError').html('');
                if ($("#ddlTicketType option:selected").val() == "-1") {
                    $("#btnEditTicketType").hide();
                    $("#divCategory").hide();
                    $("#divSubCategory").hide();
                    $('#ddlCategory').val("-1");
                    $('#ddlSubCategory').val("-1");
                }
                else {
                    $("#btnEditTicketType").show();
                    $("#divCategory").show();
                    $("#divSubCategory").hide();
                    $("#btnEditCategory").hide();
                    FillCategory('@ViewBag._sitecode', $("#ddlTicketType option:selected").val());
                }
            });

            $('#ddlCategory').change(function () {
                $('#lblCategoryError').html('');
                if ($("#ddlCategory option:selected").val() == "-1") {
                    $("#btnEditCategory").hide();
                    $("#divSubCategory").hide();
                    $('#ddlSubCategory').val("-1");
                }
                else {
                    $("#btnEditCategory").show();
                    $("#divSubCategory").show();
                    $("#btnEditSubCategory").hide();
                    FillSubCategory('@ViewBag._sitecode', $("#ddlCategory option:selected").val());
                }
            });

            $('#ddlSubCategory').change(function () {
                $('#lblCategoryError').html('');
                if ($("#ddlSubCategory option:selected").val() == "-1") {
                    $("#btnEditSubCategory").hide();
                }
                else {
                    $("#btnEditSubCategory").show();
                }
            });

            $("#btnAddTicketType").live("click", function () {
                $(".TicketTypeSettingsStr").html("Add Ticket Type");
                $("#lblPopupTicketTypeError").html("");
                $("#txtPopupTicketTypeName").val("");
                $('#TicketTypePopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnEditTicketType").live("click", function () {
                $(".TicketTypeSettingsStr").html("Edit Ticket Type");
                $("#lblPopupTicketTypeError").html("");
                $("#txtPopupTicketTypeName").val($("#ddlTicketType option:selected").text());
                $('#TicketTypePopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnPopupTicketTypeConfirm").live("click", function () {
                if ($.trim($("#txtPopupTicketTypeName").val()) != "") {
                    $("#TicketTypePopup").modal("hide");
                    if ($(".TicketTypeSettingsStr").html() == "Add Ticket Type") {
                        InsertTicketType("", $("#txtPopupTicketTypeName").val(), $("#txtPopupTicketTypeName").val(), 1, 0, '@ViewBag._sitecode');
                    }
                    else {
                        InsertTicketType("", $("#txtPopupTicketTypeName").val(), $("#txtPopupTicketTypeName").val(), 2, $("#ddlTicketType option:selected").val(), '@ViewBag._sitecode');
                    }
                }
                else {
                    $("#lblPopupTicketTypeError").html("Enter Ticket Type!");
                }
            });

            $("#btnAddCategory").live("click", function () {
                $(".CategorySettingsStr").html("Add Category");
                $("#lblPopupCategoryError").html("");
                $("#txtPopupCategoryName").val("");
                $('#CategoryPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnEditCategory").live("click", function () {
                $(".CategorySettingsStr").html("Edit Category");
                $("#lblPopupCategoryError").html("");
                $("#txtPopupCategoryName").val($("#ddlCategory option:selected").text());
                $('#CategoryPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnPopupCategoryConfirm").live("click", function () {
                if ($.trim($("#txtPopupCategoryName").val()) != "") {
                    $("#CategoryPopup").modal("hide");
                    if ($(".CategorySettingsStr").html() == "Add Category") {
                        InsertCategory($("#ddlTicketType option:selected").val(), "", $("#txtPopupCategoryName").val(), 1, 0, '@ViewBag._sitecode');
                    }
                    else {
                        InsertCategory($("#ddlTicketType option:selected").val(), "", $("#txtPopupCategoryName").val(), 2, $("#ddlCategory option:selected").val(), '@ViewBag._sitecode');
                    }
                }
                else {
                    $("#lblPopupCategoryError").html("Enter Category!");
                }
            });

            $("#btnAddSubCategory").live("click", function () {
                $(".SubCategorySettingsStr").html("Add Sub Category");
                $("#lblPopupSubCategoryError").html("");
                $("#txtPopupSubCategoryName").val("");
                $('#SubCategoryPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnEditSubCategory").live("click", function () {
                $(".SubCategorySettingsStr").html("Edit Sub Category");
                $("#lblPopupSubCategoryError").html("");
                $("#txtPopupSubCategoryName").val($("#ddlSubCategory option:selected").text());
                $('#SubCategoryPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnPopupSubCategoryConfirm").live("click", function () {
                if ($.trim($("#txtPopupSubCategoryName").val()) != "") {
                    $("#SubCategoryPopup").modal("hide");
                    if ($(".SubCategorySettingsStr").html() == "Add Sub Category") {
                        InsertSubCategory($("#ddlCategory option:selected").val(), "", $("#txtPopupSubCategoryName").val(), "", 1, 0, '@ViewBag._sitecode');
                    }
                    else {
                        InsertSubCategory($("#ddlCategory option:selected").val(), "", $("#txtPopupSubCategoryName").val(), "", 2, $("#ddlSubCategory option:selected").val(), '@ViewBag._sitecode');
                    }
                }
                else {
                    $("#lblPopupCategoryError").html("Enter Category!");
                }
            });
        });
    </script>
}