﻿<div id="divEmailGenerateTicket" class="popup-message modal hide border-lightblue" style="width: 805px; /*height: 551px;*/">
    <input type="hidden" id="hdpkqueueid" name="hdpkqueueid" />
    <input type="hidden" id="hdproccesstype" name="hdproccesstype" />
    <input type="hidden" id="hdagentemail" name="hdagentemail" />
    <input type="hidden" id="hdcustemail" name="hdcustemail" />
    <input type="hidden" name="hdcompaint_category" id="hdcompaint_category" />

    <div class="modal-header background-lightblue">
        <div style="font-family: Arial; text-align: left; width: 80%; float: left;">
            <label  style="font-family: Arial;font-size: 18px;line-height: 18px;padding-left: 5px 7px;letter-spacing: -1px;" id="lblEGTTitle"></label></div>
        <div style="text-align: right; width: 19%; float: right; height: 19px; width: 19px">
            <img src="~/Assets/Main/img/popup-close.png" style="cursor: pointer" id="imgReplyClose" title="Close" data-dismiss="modal" />
        </div>
    </div>
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div class="modal-body" style="/*height: 550px; overflow: hidden;*/">
        <table id="tblEmailGenerateTicket" border="0" cellspacing="3" cellpadding="3">
            <tbody>
                <tr>
                    <td style="width: 125px; text-align: right; font-weight: bold;">Customer Name<span style="color: red">*</span></td>
                    <td style="width: 200px;">
                        <input style="width: 200px" type="text" id="txtEGTCustomerName" name="txtEGTCustomerName" /></td>
                    <td style="width: 200px; text-align: right; font-weight: bold;">Ticket Type<span style="color: red">*</span></td>
                    <td style="width: 200px;">
                        <select id="ddlEGTTicketType" name="ddlEGTTicketType" style="float: left; font-size: 13px; width: 200px">
                        </select>
                        <input style="width: 200px" type="text" id="txtEGTTicketType" name="txtEGTTicketType" disabled="disabled" />
                        <label class="errLabel" id="errEGTTicketType" style="display: none; color: red; font-weight: bold">*</label>
                    </td>
                </tr>

                <tr>
                    <td style="text-align: right; font-weight: bold;">Mobile No<span style="color: red">*</span></td>
                    <td>
                        <input style="width: 200px" type="text" id="txtEGTMobileNo" name="txtEGTMobileNo" /></td>
                    <td style="width: 200px; text-align: right; font-weight: bold;">Category<span style="color: red">*</span></td>
                    <td>
                        <select id="ddlEGTCategory" name="ddlEGTCategory" style="float: left; font-size: 13px; width: 200px">
                        </select>
                        <input style="width: 200px" type="text" id="txtEGTCategory" name="txtEGTCategory" disabled="disabled" />
                        <label class="errLabel" id="errEGTCategory" style="display: none; color: red; font-weight: bold">*</label>
                    </td>
                </tr>

                <tr>
                    <td style="text-align: right; font-weight: bold;">Ticket ID</td>
                    <td>
                        <input style="width: 200px" type="text" id="txtTicketID" name="txtTicketID" disabled="disabled" /></td>
                    <td style="width: 200px; text-align: right; font-weight: bold;">Sub Category<span style="color: red">*</span></td>
                    <td>
                        <select id="ddlEGTSubCategory" name="ddlEGTSubCategory" style="float: left; font-size: 13px; width: 200px">
                        </select>
                        <input style="width: 200px" type="text" id="txtEGTSubCategory" name="txtEGTSubCategory" disabled="disabled" />
                        <label class="errLabel" id="errEGTSubCategory" style="display: none; color: red; font-weight: bold">*</label>
                    </td>
                </tr>
                @*<tr>
                    <td style="text-align: right; font-weight: bold;">Subscriber ID<span style="color: red">*</span></td>
                    <td>
                        <input style="width: 200px" type="text" id="txtSubscriberID" name="txtSubscriberID" /></td>
                    <td style="width: 200px; float: right; text-align: right; font-weight: bold;">Contact Type<span style="color: red">*</span></td>
                    <td>
                        <select id="ddlEGTContactType" name="ddlEGTContactType" style="float: left; font-size: 13px; width: 186px">
                        </select>
                        <label class="errLabel" id="errEGTContactType" style="display: none; color: red; font-weight: bold">*</label>
                    </td>
                </tr>*@

                @*<tr>
                    <td colspan="2">&nbsp;</td>
                    
                </tr>*@

                <tr>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="2">
                        <button id="btnEGTCopytoClipboard" class="pull-left btn blue" style="margin-left: -40px;">Copy to Clipboard</button>
                    </td>
                </tr>

                <tr> 
                    <td style="text-align: right; font-weight: bold;">"Description"<span style="color: red">*</span></td>
                    <td colspan="3">
                        <textarea id="txtEGTDescription" name="txtEGTDescription" style="float: left; width: 640px; height: 95px; resize: none; padding: 5px; font-size: 13px" spellcheck="false"></textarea>
                        <label class="errLabel" id="errEGTDescription" style="display: none; color: red; font-weight: bold">*</label>
                    </td>
                </tr>

                <tr>
                    <td style="text-align: right; font-weight: bold;">Status<span style="color: red">*</span></td>
                    <td>
                        <select id="ddlEGTStatus" name="ddlEGTStatus" style="float: left; font-size: 13px; width: 200px">
                        </select>
                        <input style="width: 200px" type="text" id="txtEGTStatus" name="txtEGTStatus" disabled="disabled" />
                        <label class="errLabel" id="errEGTStatus" style="display: none; color: red; font-weight: bold">*</label>
                    </td>
                    <td style="width: 200px; text-align: right; font-weight: bold;">Escalating Team<span style="color: red">*</span></td>
                    <td>
                        <select id="ddlEGTEscalatingTeam" name="ddlEGTEscalatingTeam" style="float: left; font-size: 13px; width: 200px">
                        </select>
                        <input style="width: 200px" type="text" id="txtEGTEscalatingTeam" name="txtEGTEscalatingTeam" disabled="disabled" />
                        <label class="errLabel" id="errEGTEscalatingTeam" style="display: none; color: red; font-weight: bold">*</label>
                    </td>
                </tr>

                @* <tr>
                    <td style="text-align: right; font-weight: bold;">Priority<span style="color: red">*</span></td>
                    <td>
                        <select id="ddlEGTPriority" name="ddlEGTPriority" style="float: left; font-size: 13px; width: 186px">
                        </select>
                        <label class="errLabel" id="errEGTPriority" style="display: none; color: red; font-weight: bold">*</label>
                    </td>
                    <td style="width: 200px; float: right; text-align: right; font-weight: bold;">Notify Team<span style="color: red">*</span></td>
                    <td>
                        <select id="ddlEGTNotifyTeam" name="ddlEGTNotifyTeam" style="float: left; font-size: 13px; width: 186px">
                        </select>
                        <label class="errLabel" id="errEGTNotifyTeam" style="display: none; color: red; font-weight: bold">*</label>
                    </td>
                </tr>*@

                <tr>
                    <td colspan="4">
                        <label class="errLabel" id="lblError" style="color: red;"></label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer" style="height: 40px">
        <table>
            <tbody>
                @*<tr>
                    <td colspan="4" style="color: #001452; text-align: left;">NB: Fields marked in <span style="color: red; font-weight: bold">*</span> are mandatory</td>
                </tr>*@
                <tr>
                    @* <td style="width: 270px">
                        <select id="ddlEGTSMSText" name="ddlEGTSMSText" style="font-size: 13px; width: 250px">
                        </select>
                    </td>
                    <td style="width: 182px">
                        <button id="btnEGTSendSMS" class="pull-left btn red" style="margin-left: 16px">Send SMS</button>
                    </td>*@
                    <td colspan="2" style="color: #001452; text-align: left; width: 560px">NB: Fields marked in <span style="color: red; font-weight: bold">*</span> are mandatory</td>
                   
                    @*<td style="width: 100px">
                        <button id="btnEGTClose" data-dismiss="modal" class="pull-right btn blue" style="margin-right: 10px">Close</button>
                    </td>*@
                    <td style="width: 100px">
                        <button id="btnEGTClear" class="pull-right btn blue" style="margin-right: 10px">Clear</button>
                    </td>
                    <td style="width: 100px">
                        <button id="btnEGTSubmit" class="pull-right btn blue" style="margin-right: 10px">Submit</button>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")