﻿@model CRM_API.Models.EmailModel
<div id="tblMyTicketsContainer" style="/*padding: 10px;*/">
    <div style="float:right;padding-right: 10px;">
        <select id="ddlMETSelectFilter" style="margin-bottom:0px !imPORTANT;width:143px;">
            <option value="-1">All</option>
            @*<option value="0">Open</option>*@
            <option value="1">Assigned</option>
            <option value="2">Inprogress</option>
            <option value="3">Resolved</option>
            <option value="4">Pending</option>
            <option value="5">Closed</option>
        </select>
        <button id="btnMETRefresh" class="btn blue">Refresh</button>
    </div>
    <div class="portlet-body" id="pbMyEmailTicketsBody" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
        <table class="table table-bordered" id="tblPBEmailTickets"></table>
    </div>
    <!--Generate Ticket Modal Popup-->
    @Html.Partial("~/Views/Emails/GenerateTicket.cshtml")
</div>
