﻿<a id="detailPAYMOverview" href="javascript:void(0)" class="btn lightblue">Overview</a>
<a id="detailPAYMMoreInfo" href="javascript:void(0)" class="btn lightblue">More Info</a>
<a id="detailPAYMOrder" href="javascript:void(0)" class="btn lightblue">Order</a>
<a id="detailPAYMProduct" href="javascript:void(0)" class="btn lightblue">Product</a>
<a id="detailPAYMCallHistory" href="javascript:void(0)" class="btn lightblue">Call History</a>
<a id="detailPAYMBills" href="javascript:void(0)" class="btn lightblue">Bills</a>
<a id="detailPAYMPayment" href="javascript:void(0)" class="btn lightblue">Payment Details</a>
<a id="detailPAYMSIMTools" href="javascript:void(0)" class="btn lightblue">SIM Order & Reports</a>
<a id="detailPAYMIssuesTracking" href="javascript:void(0)" class="btn lightblue">Call Tracking</a>
<a id="detailServiceStatusHistory" href="javascript:void(0)" class="btn lightblue">Service Status History</a>
<!-- 07-Aug-2015 : Moorthy Modified to display only for VMUK -->
@*@if(ViewBag._productcode =="VMUK"){*@
<a id="detailSMSCampaignTracking" href="javascript:void(0)" class="btn lightblue">SMS</a>
@*Rajesh: Porting*@
<a id="detailPAYMPorting" href="javascript:void(0)" class="btn lightblue">Port In/Out</a>
@*}*@
@*<a id="detailAccountStatus" href="javascript:void(0)" class="btn lightblue">Account Status</a>*@
<!-- Vectone Xtra App -->
<a id="detailPAYMVectoneXtraApp" href="javascript:void(0)" class="btn lightblue">Vectone <img src="~/Assets/Main/img/vectone_xtra.png"  style="padding-bottom: 2px;"/> App</a>
<a id="detailPAYMComplaints" href="javascript:void(0)" class="btn lightblue">Complaints</a>
