﻿ <div id="CountrySaverReactivate" class="popup-message modal hide border-lightblue" style="width:500px;">
    <div class="modal-header background-lightblue" style="font-family:Arial">Select Reactivate Option</div>
    <div class="modal-body">
        <div style="border:solid 1px #ddd;padding:20px;">
            <label>Select an option to reactivate services</label>
            <label class="errLabel">* Please select Payment type</label>
            <ul class="cardContainer">
                <li>                
                    <input name="PaymentMethodType" class="PaymentMethodByBalance" type="radio" id="byBalance" value="By Balance">By Balance
                </li>
                <li>                
                    <input name="PaymentMethodType" class="PaymentMethodByCard" type="radio" id="byCreditCard" value="By CreditCard" >By CreditCard
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
          <button data-dismiss="modal" class="btn blue" type="button" id="btnReactivate" style="float:left;width:100px;">Proceed</button>
          <button data-dismiss="modal" class="btn blue" type="button" id="btnCancel" style="float:left;width:100px;">Cancel</button>		  
    </div>
</div>

<div id="PaymentMethodReactivate" class="popup-message modal hide border-lightblue" style="width:500px;">
        <div class="modal-header background-lightblue" style="font-family:Arial">Payment Method - Reactivate</div>
	    <div class="modal-body">
            <input type="hidden" id="RegIDReactivate" name="RegIDReactivate" />
            <input type="hidden" id="SiteCodeReactivate" name="SiteCodeReactivate" />
            <input type="hidden" id="BundleIdReactivate" name="BundleIdReactivate" />
             <input type="hidden" id="PriceReactivate" name="PriceReactivate" />
            <div style="margin-bottom:5px;padding:10px;background-color:#e5e5e5;border:1px solid #c0c0c0;">
                <table>
                    <tr>
                        <td style="width:140px;font-weight:bold">Bundle ID</td>
                        <td style="width:10px;text-align:center">:</td>
                        <td id="tdPaymentMethodReactivateBundleID"></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Bundle Name</td>
                        <td style="text-align:center">:</td>
                        <td id="tdPaymentMethodReactivateDescription"></td>
                    </tr>
                   @* <tr>
                        <td style="font-weight:bold">Destination & Number</td>
                        <td style="text-align:center">:</td>
                        <td id="tdPaymentMethodReactivateDestNumber"></td>
                    </tr>*@
                </table>
            </div>
            @*<div>
                Current Payment Method is Pay with <span id="PaymentMethodReactivateCurrentPayment" style="font-weight:bold"></span>
            </div>*@
            
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnconfirmActivationCancel" style="float:left;width:100px;">Cancel</button>
		    @*<button data-dismiss="modal" class="btn blue" type="button" id="btnconfirmActivationProceedPayByBalance" style="float:right;width:135px;">Pay by Balance</button>*@
            <button data-dismiss="modal" class="btn blue" type="button" id="btnconfirmActivationProceedPayByCard" style="float:right;width:135px;">Pay by Card</button>
        </div>
    </div>

<div id="PaymentMethodReactivateLLOM" class="popup-message modal hide border-lightblue" style="width:500px;">
        <div class="modal-header background-lightblue" style="font-family:Arial">Payment Method - Reactivate</div>
	    <div class="modal-body">
            <input type="hidden" id="RegNoReactivateLLOM" name="RegNoReactivateLLOM" />
            <input type="hidden" id="SvcIDReactivateLLOM" name="SvcIDReactivateLLOM" />
            <input type="hidden" id="PayModeReactivateLLOM" name="PayModeReactivateLLOM" />
            <input type="hidden" id="PriceReactivateLLOM" name="PriceReactivateLLOM" />
            <div style="margin-bottom:5px;padding:10px;background-color:#e5e5e5;border:1px solid #c0c0c0;">
                <table>
                    <tr>
                        <td style="width:140px;font-weight:bold">Number</td>
                        <td style="width:10px;text-align:center">:</td>
                        <td id="tdPaymentMethodReactivateLLOMNumber"></td>
                    </tr>
                   @* <tr>
                        <td style="font-weight:bold">Bundle Name</td>
                        <td style="text-align:center">:</td>
                        <td id="tdPaymentMethodReactivateDescription"></td>
                    </tr>*@
                   @* <tr>
                        <td style="font-weight:bold">Destination & Number</td>
                        <td style="text-align:center">:</td>
                        <td id="tdPaymentMethodReactivateDestNumber"></td>
                    </tr>*@
                </table>
            </div>
            @*<div>
                Current Payment Method is Pay with <span id="PaymentMethodReactivateCurrentPayment" style="font-weight:bold"></span>
            </div>*@
            
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnconfirmActivationLLOMCancel" style="float:left;width:100px;">Cancel</button>
		    @*<button data-dismiss="modal" class="btn blue" type="button" id="btnconfirmActivationProceedPayByBalance" style="float:right;width:135px;">Pay by Balance</button>*@
            <button data-dismiss="modal" class="btn blue" type="button" id="btnconfirmActivationProceedLLOMPayByCard" style="float:right;width:135px;">Pay by Card</button>
        </div>
    </div>