﻿<div id="paymentConfirmPlanContainer" style="display: none;">
    <div id="ajax-screen-masking">
        <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
    </div>
    <table id="paymentConfirmPlantblOrderConfirm" style="width: 100%;">
        <tr>
            <td style="width: 49%; vertical-align: top">
                <table id="paymentConfirmPlan_OrderTable" border="0" cellspacing="" cellpadding="5" style="width: 100%;">
                    <thead>
                        <tr>
                            <th colspan="3" style="font-size: 16px; font-weight: bold; text-align: left; color: #193e6b">Order Summary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5">
                                <img src="~/img/subscription.png" /></td>
                            <td id="paymentConfirmPlan_OrderType" style="border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5">PAYM Change Plan</td>
                            <td id="paymentConfirmPlan_OrderPrice" style="border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5"></td>
                        </tr>
                        <tr>
                            <td style="width: 50px; height: 45px;">
                                <img src="~/img/subscription.png" /></td>
                            <td>Discount</td>
                            <td id="paymentConfirmPlan_OrderDiscount"></td>
                        </tr>
                        <tr style="background-color: #f9f9f9; font-weight: bold; font-size: 14px;">
                            <td style="width: 50px; height: 45px;">&nbsp;</td>
                            <td>Total after discount</td>
                            <td id="paymentConfirmPlan_OrderTotal" style="font-size: 18px;"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td style="width: 4%;">&nbsp;</td>
            <td style="width: 49%; vertical-align: top">
                <table id="paymentConfirmPlan_PaymentDetail" border="0" cellspacing="0" cellpadding="5" style="width: 100%;">
                    <thead>
                        <tr>
                            <th colspan="2" style="font-size: 16px; font-weight: bold; text-align: left; color: #193e6b">Payment Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border-top: 1px solid #e5e5e5; width: 160px; font-size: 14px">You are purchasing</td>
                            <td id="paymentConfirmPlan_PDPurchase" style="border-top: 1px solid #e5e5e5; border-bottom: 1px dotted #e0e0e0; color: #303030"></td>
                        </tr>
                        <tr id="paymentConfirmPlan_TRCCType">
                            <td style="width: 160px; font-size: 14px">Mobile Number</td>
                            <td id="paymentConfirmPlan_PDMobileNo" style="border-bottom: 1px dotted #e0e0e0; color: #303030"></td>
                        </tr>
                        <tr>
                            <td style="width: 160px; font-size: 14px">Credit Card Number</td>
                            <td id="paymentConfirmPlan_PDCardNumber" style="border-bottom: 1px dotted #e0e0e0; color: #303030"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="height: 40px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: left">
                <a href="javascript:void(0)" data-toggle="modal" class="btn darkgrey" id="paymentConfirmPlanBtnCancel" style="width: 100px; height: 40px; line-height: 40px;">Cancel</a>
            </td>
            <td>&nbsp;</td>
            <td style="text-align: right">
                <a href="javascript:void(0)" data-toggle="modal" class="btn blue" id="paymentConfirmPlanBtnConfirmOrder" style="width: 100px; height: 40px; line-height: 40px;">Confirm</a>
            </td>
        </tr>
    </table>
</div>
