﻿@model CRM_API.Models.CustomerDetailPage
<div class="popup-message modal hide border-lightblue" id="divPayMRestrictExcessPlanSelect" style="width: 200px">
    <div class="modal-header background-lightblue">
        <h4 class="modal-title">Restrict Excess Usage</h4>
    </div>
    <div class="modal-body">
        <input type="hidden" id="hdREUMobileNo" name="hdREUMobileNo" value="">
        <input type="hidden" id="hdREUStatus" name="hdREUStatus" value="">
        <div id="ajax-screen-masking">
            <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
        </div>
        <div class="portlet-body" id="PayMREUSelect" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
            <div style="width: 99%">
                <div style="float: left; width: 49%">
                    <input type="radio" id="radioPayMREUSelect1" name="radioPayMREUSelect" value="1">&nbsp;Restrict
                </div>
                <div style="float: left; width: 49%">
                    <input type="radio" id="radioPayMREUSelect2" name="radioPayMREUSelect" value="0">&nbsp;Allowed
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="SavePayMRestrictExcessUsageSelect('@ViewBag._sitecode')">Save</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>
</div>
