﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{
    
    
    
     <div id="tblDDOperationContainer">
        <table id="tblDDOperation" style="background: #fff"></table>
    </div>


    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}