﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <style type="text/css">
        .btncenter {
            text-align: center;
        }

        .errLabel {
            /*display: none;*/
            color: red;
            font-size: 12px;
            /*height: 18px;*/
            /*padding: 5px;*/
            /*background-color: #f2dede;*/
            /*width: 405px !important;*/
        }

        .spanstar {
            color: red;
            font-size: 12px;
            height: 18px;
            padding: 5px;
        }
    </style>
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    
    <div id="tblProductCountrySaverContainer" style="padding: 10px; overflow-x:auto">
        <div id="TabProductCountrySaverLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
        <input type="hidden" id="accessedPage" name="accessedPage" />
        <input type="hidden" id="HidPlan_Desc" name="HidPlan_Desc" />
        <input type="hidden" id="HidAccount_Id" name="HidAccount_Id" />
        <input type="hidden" id="HidDestination" name="HidDestination" />
        <input type="hidden" id="HidMinremaining" name="HidMinremaining" />
        <input type="hidden" id="Hidamount" name="Hidamount" />
         <input type="hidden" id="Hicurrency" name="Hicurrency" />
        <table class="table table-bordered table-hover" id="tblProductCountrySaver"></table>
    </div>
    
    <div id="CountrySaverSelectPlan" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Select Plan</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                <table>
                    <tr>
                        <td style="width: 120px; font-weight: bold">Please select a plan</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="width: 100px; text-align: center">
                            <input type="radio" id="1month" style="margin: 15px">
                            <br />
                            <input type="radio" id="6month" style="margin: 15px">
                            <br />
                            <input type="radio" id="12month" style="margin: 15px">
                            <br />
                        </td>
                    </tr>

                </table>
            </div>
            @*<div class="modal-footer">
                <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLOTGSPCancel" style="width: 100px;">Cancel</button>

            </div>*@

        </div>

    </div>
    <div id="CountrySaverOrderSummary" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Order Summary</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                <table>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Product</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdproduct"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">CountrySaver Number</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdCountrySaverNumber"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Country</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdCountry"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Duration</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdDuration"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Order value</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdov"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="width: 100px; font-weight: bold">Voucher Code</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 20px; font-weight: bold;">
                            <input type="text" id="vouchertextbox" />
                        </td>

                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="width: 30px; font-weight: bold;">
                            <input type="button" id="applybtn" value="apply" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Discount</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tddiscount"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Order Value After Discount</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdovad"></td>
                    </tr>

                </table>
            </div>


        </div>
        <div class="modal-footer btncenter">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverOrderSummaryNext" style="width: 100px;">Next</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverOrderConformationCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
    
    <div id="CountrySaverPaymentMode" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Select Payment Mode</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0;*/">
                <table>
                    <tr>
                        <td style="width: 150px; font-weight: bold">Select Payment Mode</td>
                        <td style="width: 10px; font-weight: bold">:
                        </td>
                        <td>
                            <input type="radio" name="payment" value="1" id="balance" style="margin: 12px">
                        Balance
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="radio" name="payment" value="2" id="cc" style="margin: 12px">
                        Credit Card
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer btncenter">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverSPPay" style="width: 100px; display: none;">Pay</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverSPNext" style="width: 100px; display: none;">Next</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverSPCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
    
    <div id="CountrySaverPaymentModenCC" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Select Payment Mode</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0;*/">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="radio" name="cc" value="1" id="scc" style="margin: 12px">Saved Credit Card
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="radio" name="cc" value="2" id="ncc" style="margin: 12px">New Credit Card
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer ">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverccNext" style="width: 100px; display: none">Next</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverccCancel" style="width: 100px;">Cancel</button>
        </div>

    </div>
    <div id="CountrySaverOrderConfirmationscc" class="popup-message modal hide border-lightblue" style="width: 700px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Order Confirmation Screen</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0;*/">
                <table>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Product</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCsccproduct"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">CountrySaver Number</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCsccCountrySaverNumber"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Free Mins</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCsccFreeMins"></td>
                    </tr>
                    <tr style="text-decoration: underline;">

                        <td style="width: 100px; font-weight: bold">Payment Mode</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 200px; font-weight: bold;" id="tdOCsccPaymentMode"></td>

                        <td style="width: 200px; font-weight: bold;" id="tdOCsccselectcard">Select Card</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCscccard">
                            <select id="selectocscccard">
                            </select></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">CVV Number</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCscccn">
                            <input type="text" id="txtOCscccvv" />
                        </td>

                    </tr>

                    <tr>
                        <td style="width: 100px; font-weight: bold">Payment for current transaction @*after Discount*@</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCsccdiscount"></td>
                    </tr>


                </table>
            </div>

        </div>
        <div class="modal-footer btncenter">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverOCsccConfirm" style="width: 100px;">Confirm</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverOCsccCancel" style="width: 100px;">Cancel</button>
        </div>

    </div>@*
    
    <div id="PaymentMethodNewCardDetails" class="popup-message modal hide border-lightblue" style="width: 1000px;">
        <div class="modal-header background-lightblue" style="font-family: Arial">Pay with a New Card</div>
        <div class="modal-body" style="min-height: 550px;">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0;*/">
                <fieldset>
                    <legend style="font-weight: bold">Payment Details<hr />
                    </legend>
                    <table>
                        <tr>
                            <td style="width: 150px; font-weight: bold">Select your card type
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>

                                <ul class="cardContainer">
                                    <li>
                                        <img src="~/img/ccard_visa.gif" alt="Visa" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Visa">
                                    </li>
                                    <li>
                                        <img src="~/img/ccard_mastercard.gif" alt="Mastercard" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Mastercard">
                                    </li>
                                    <li>
                                        <img src="~/img/maestro.gif" alt="Maestro" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Maestro">
                                    </li>
                                    <li>
                                        <img src="~/img/diners-club.gif" alt="Dinners Club International" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Dinners">
                                    </li>
                                </ul>

                            </td>
                            <td>
                                <label class="errLabel" id="PSCT" style="display: none;">* Please select card type</label></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Card Number
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodCCNumber" name="PaymentMethodCCNumber" class="input-xlarge" /></td>
                            <td>
                                <label class="errLabel" id="PECN" style="display: none;">* Please enter card number</label>

                            </td>


                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">First Name
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodFirstName" name="PaymentMethodFirstName" /></td>

                            <td>
                                <label class="errLabel" id="PEFN" style="display: none;">* Please enter first name</label></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Last Name
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodLastName" name="PaymentMethodLastName" /></td>

                            <td>
                                <label class="errLabel" id="PELN" style="display: none;">* Please enter last name</label></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Expiry Date
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <div class="controls col-xs-4">
                                    <table>
                                        <tr>
                                            <td>
                                                <select id="PaymentMethodExpiryMonth" name="PaymentMethodExpiryMonth">
                                                    <option value="0" selected>Select Month</option>
                                                    <option value="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select id="PaymentMethodExpiryYear" name="PaymentMethodExpiryYear"></select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>

                            <td>
                                <label class="errLabel" id="PEEMAY" style="display: none;">* Please enter the expire month and expire year</label></td>

                        </tr>

                        <tr>
                            <td style="font-weight: bold">Issue Number (only for certain Switch/Solo)</td>
                            <td></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodIssueNumber" name="PaymentMethodIssueNumber" /></td>

                            <td></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Card verification code
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodCardVerfCode" name="PaymentMethodCardVerfCode" />

                            </td>

                            <td>
                                <label class="errLabel" id="PECVC" style="display: none;">* Please enter card verification code</label>

                            </td>

                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    <legend style="font-weight: bold">Billing Address<hr />
                    </legend>
                    <table>
                        <tr>
                            <td style="width: 150px; font-weight: bold">House Number
                            </td>
                            <td><span class="spanstar">*</span>
                            </td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodHouseNo" name="PaymentMethodHouseNo" />

                            </td>

                            <td>
                                <label class="errLabel" id="PEHN" style="display: none;">* Please enter house number</label>

                            </td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Address
                            </td>
                            <td><span class="spanstar">*</span>
                            </td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodAddress" name="PaymentMethodAddress" />

                            </td>

                            <td>
                                <label class="errLabel" id="PEA" style="display: none;">* Please enter address</label>

                            </td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">City
                            </td>
                            <td><span class="spanstar">*</span>
                            </td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodCity" name="PaymentMethodCity" />

                            </td>

                            <td>
                                <label class="errLabel" id="PEC" style="display: none;">* Please enter city</label>

                            </td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Country
                            </td>
                            <td><span class="spanstar">*</span>
                            </td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <select id="PaymentMethodCountry" name="PaymentMethodCountry"></select>

                            </td>

                            <td>
                                <label class="errLabel" id="PECAddress" style="display: none;">* Please enter country</label>

                            </td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Post Code
                            </td>
                            <td><span class="spanstar">*</span>
                            </td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodPostcode" name="PaymentMethodPostcode" />

                            </td>


                            <td>
                                <label class="errLabel" id="PEPC" style="display: none;">* Please enter post code</label>

                            </td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Email
                            </td>
                            <td><span class="spanstar">*</span>
                            </td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodEmail" name="PaymentMethodEmail" />

                            </td>

                            <td>
                                <label class="errLabel" id="PEAVEA" style="display: none;">* Please enter a valid Email Address</label>

                            </td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Phone
                            </td>
                            <td><span class="spanstar">*</span>
                            </td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodPhone" name="PaymentMethodPhone" />

                            </td>

                            <td>
                                <label class="errLabel" id="PEAVP" style="display: none;">* Please enter a valid Phone</label>

                            </td>

                        </tr>
                    </table>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn blue" type="button" id="btnCountrySavernccproceed" style="width: 100px;">Proceed</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySavernccCancel" style="width: 100px;">Cancel</button>
            </div>
        </div>
    </div>*@
    
    
    <div id="PaymentMethodNewCardDetails" class="popup-message modal hide border-lightblue" style="width: 1000px;margin-top:-37px;margin-left: -500px;">
            <div class="modal-header background-lightblue" style="font-family: Arial">Pay with a New Card</div>
            <div class="modal-body" style="min-height: 550px;">
                <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0;*/">
                    <input type="hidden" id="newCChidden" />
                    <fieldset>
                        <legend style="font-weight: bold">Payment Details@*<hr />*@
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">Select your card type
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>

                                    <ul class="cardContainer">
                                        <li>
                                            <img src="~/img/ccard_visa.gif" alt="Visa" /><br />
                                            <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Visa">
                                        </li>
                                        <li>
                                            <img src="~/img/ccard_mastercard.gif" alt="Mastercard" /><br />
                                            <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Mastercard">
                                        </li>
                                        <li>
                                            <img src="~/img/maestro.gif" alt="Maestro" /><br />
                                            <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Maestro">
                                        </li>
                                        <li>
                                            <img src="~/img/diners-club.gif" alt="Dinners Club International" /><br />
                                            <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Dinners">
                                        </li>
                                    </ul>

                                </td>
                                <td>
                                    <label class="errLabel" id="PSCT" style="display: none;">* Please select card type</label></td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Card Number
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodCCNumber" name="PaymentMethodCCNumber" class="input-xlarge" /></td>
                                <td>
                                    <label class="errLabel" id="PECN" style="display: none;">* Please enter card number</label>

                                </td>


                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">First Name
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodFirstName" name="PaymentMethodFirstName" /></td>

                                <td>
                                    <label class="errLabel" id="PEFN" style="display: none;">* Please enter first name</label></td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Last Name
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodLastName" name="PaymentMethodLastName" /></td>

                                <td>
                                    <label class="errLabel" id="PELN" style="display: none;">* Please enter last name</label></td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Expiry Date
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <div class="controls col-xs-4">
                                        <table>
                                            <tr>
                                                <td>
                                                    <select id="PaymentMethodExpiryMonth" name="PaymentMethodExpiryMonth">
                                                        <option value="0" selected>Select Month</option>
                                                        <option value="01">January</option>
                                                        <option value="02">February</option>
                                                        <option value="03">March</option>
                                                        <option value="04">April</option>
                                                        <option value="05">May</option>
                                                        <option value="06">June</option>
                                                        <option value="07">July</option>
                                                        <option value="08">August</option>
                                                        <option value="09">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="PaymentMethodExpiryYear" name="PaymentMethodExpiryYear"></select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>

                                <td>
                                    <label class="errLabel" id="PEEMAY" style="display: none;">* Please enter the expire month and expire year</label></td>

                            </tr>

                            <tr>
                                <td style="font-weight: bold">Issue Number (only for certain Switch/Solo)</td>
                                <td></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodIssueNumber" name="PaymentMethodIssueNumber" /></td>

                                <td></td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Card verification code
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodCardVerfCode" name="PaymentMethodCardVerfCode" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PECVC" style="display: none;">* Please enter card verification code</label>

                                </td>

                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend style="font-weight: bold">Billing Address@*<hr />*@
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">House Number
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodHouseNo" name="PaymentMethodHouseNo" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEHN" style="display: none;">* Please enter house number</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Address
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodAddress" name="PaymentMethodAddress" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEA" style="display: none;">* Please enter address</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">City
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodCity" name="PaymentMethodCity" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEC" style="display: none;">* Please enter city</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Country
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <select id="PaymentMethodCountry" name="PaymentMethodCountry"></select>

                                </td>

                                <td>
                                    <label class="errLabel" id="PECAddress" style="display: none;">* Please enter country</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Post Code
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodPostcode" name="PaymentMethodPostcode" />

                                </td>


                                <td>
                                    <label class="errLabel" id="PEPC" style="display: none;">* Please enter post code</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Email
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodEmail" name="PaymentMethodEmail" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEAVEA" style="display: none;">* Please enter a valid Email Address</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Phone
                                </td>
                                <td></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodPhone" name="PaymentMethodPhone" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEAVP" style="display: none;">* Please enter a valid Phone</label>

                                </td>

                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div class="modal-footer btncenter">
                    <button class="btn blue" type="button" id="btnLLOTGnccproceed" style="width: 100px;">Proceed</button>
                    <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGnccCancel" style="width: 100px;">Cancel</button>
                </div>
            </div>
          </div>
    
    
    <div id="CountrySaverOrderConfirmation" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Order Confirmation Screen</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0;*/">
                <table>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Product</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCproduct"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">CountrySaver Number</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCCountrySaverNumber"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Free Mins</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCFreeMins"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Payment Mode</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 100px; font-weight: bold;" id="tdOCPaymentMode">Select Card</td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Current Available Balance</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCCAB"></td>
                    </tr>

                    <tr>
                        <td style="width: 100px; font-weight: bold">Payment for current transaction @*after Discount*@</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCdiscount"></td>
                    </tr>


                </table>
            </div>

        </div>
        <div class="modal-footer btncenter">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverOCConfirm" style="width: 100px;">Confirm</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverOCCancel" style="width: 100px;">Cancel</button>
        </div>

    </div>
    
    <div id="CountrySaverBalanceResultInformation" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Result Information</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                <table>
                    <tr>
                        <td id="CountrySaverResultInformationfinal">Payment Processed Successfully
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer">

            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverPIok" style="width: 100px;">ok</button>
        </div>

    </div>
    
    <div id="CountrySaverResultInformationFail" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Result Information</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                <table>
                    <tr>
                        <td>Payment Failed
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer">

            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverPFok" style="width: 100px;">ok</button>
        </div>

    </div>
    
    <div id="CountrySaverCancelSubscription" class="popup-message modal hide border-lightblue" style="width: 500px">
         <input type="hidden" id="CSBundleId" name="CSBundleId" />
           <input type="hidden" id="CSAccountNo" name="CSAccountNo" />
        <div class="modal-header background-lightblue" style="font-family: Arial">Cancel Subscription</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                <table>
                    <tr>
                        <td style="width: 120px; font-weight: bold">Product</td>
                        <td style="width: 10px; font-weight: bold">:
                        </td>
                        <td style="width: 10px; font-weight: bold;" id="PlanDesc"></td>
                    </tr>
                    <tr>
                        <td style="width: 120px; font-weight: bold">CountrySaver Number</td>
                        <td style="width: 10px; font-weight: bold">:
                        </td>
                        <td style="width: 10px; font-weight: bold;" id="Plannumber"></td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="modal-footer btncenter">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverConfirm" style="width: 100px;">Confirm</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverOrderCancel" style="width: 100px;">Cancel</button>
        </div>

    </div>
    <div id="CountrySaverResultInfo" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Result Information</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                <table>
                    <tr>
                        <td>Request Processed Successfully
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer">

            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverOrderokCancel" style="width: 100px;">ok</button>
        </div>

    </div>
    <div id="CountrySaverSubscriptionHistory" class="popup-message modal hide border-lightblue" style="width: 1000px">
        <div class="modal-header background-lightblue" style="font-family: Arial">View Subscription History</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0;*/">
                <table class="table table-bordered table-hover" id="tblCountrySaverSubscriptionHistory" style="width:950px">
                </table>
            </div>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnVShCancel" style="width: 100px;">Close</button>
        </div>
    </div>

        /* REACTIVATION */
    <div id="CountrySaverReactivate" class="popup-message modal hide border-lightblue" style="width:500px;">
        <div class="modal-header background-lightblue" style="font-family:Arial">Country Saver - Reactivate</div>
	    <div class="modal-body">
            <input type="hidden" id="RegIDReactivate" name="RegIDReactivate" />
            <div style="margin-bottom:5px;padding:10px;background-color:#e5e5e5;border:1px solid #c0c0c0;">
                <table>
                    <tr>
                        <td style="width:140px;font-weight:bold">Package ID</td>
                        <td style="width:10px;text-align:center">:</td>
                        <td id="tdCountrySaverReactivatePackageID"></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Description</td>
                        <td style="text-align:center">:</td>
                        <td id="tdCountrySaverReactivateDescription"></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Destination & Number</td>
                        <td style="text-align:center">:</td>
                        <td id="tdCountrySaverReactivateDestNumber"></td>
                    </tr>
                </table>
            </div>
            <div>
                Current Payment Method is Pay with <span id="CountrySaverReactivateCurrentPayment" style="font-weight:bold"></span>
            </div>
            
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverReactivateCancel" style="float:left;width:100px;">Cancel</button>
		    <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverReactivatePayByBalance" style="float:right;width:135px;">Pay by Balance</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverReactivatePayByCard" style="float:right;width:135px;">Pay by Card</button>
        </div>
    </div>
   <div id="CountrySaverReactivateBalance" class="popup-message modal hide border-lightblue" style="width:400px">
        <div class="modal-header background-lightblue" style="font-family:Arial">Country Saver - Reactivate by Balance</div>
	    <div class="modal-body">
            Are you sure you want to Reactivate the package using <b>Balance</b>?
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverReactivateBalanceNo" style="width:100px;">No</button>
		    <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverReactivateBalanceYes" style="width:100px;">Yes</button>
        </div>
    </div>
    
    /* RENEW */
    @* <div id="CountrySaverRenew" class="popup-message modal hide border-lightblue" style="width:500px;">
        <div class="modal-header background-lightblue" style="font-family:Arial">Country Saver - Renew</div>
	    <div class="modal-body">
            <input type="hidden" id="RegIDRenew" name="RegIDRenew" />
            <div style="margin-bottom:5px;padding:10px;background-color:#e5e5e5;border:1px solid #c0c0c0;">
                <table>
                    <tr>
                        <td style="width:140px;font-weight:bold">Package ID</td>
                        <td style="width:10px;text-align:center">:</td>
                        <td id="tdCountrySaverRenewPackageID"></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Description</td>
                        <td style="text-align:center">:</td>
                        <td id="tdCountrySaverRenewDescription"></td>
                    </tr>
                    <tr>
                        <td style="font-weight:bold">Destination & Number</td>
                        <td style="text-align:center">:</td>
                        <td id="tdCountrySaverRenewDestNumber"></td>
                    </tr>
                </table>
            </div>
            <div>
                Current Payment Method is Pay with <span id="CountrySaverRenewCurrentPayment" style="font-weight:bold"></span>
            </div>
            
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverRenewCancel" style="float:left;width:100px;">Cancel</button>
		    <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverRenewPayByBalance" style="float:right;width:135px;">Pay by Balance</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverRenewPayByCard" style="float:right;width:135px;">Pay by Card</button>
        </div>
    </div>
    <div id="CountrySaverRenewBalance" class="popup-message modal hide border-lightblue" style="width:400px">
        <div class="modal-header background-lightblue" style="font-family:Arial">Country Saver - Renew by Balance</div>
	    <div class="modal-body">
            Are you sure you want to Renew the package using <b>Balance</b>?
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverRenewBalanceNo" style="width:100px;">No</button>
		    <button data-dismiss="modal" class="btn blue" type="button" id="btnCountrySaverRenewBalanceYes" style="width:100px;">Yes</button>
        </div>
    </div>
    
    /* PAYMENT BY CARD */
    <div id="CountrySaverPaymentByCard" style="display:none">
        <input type="hidden" id="ActionType" name="ActionType" />
        <div id="PaymentByCardTitle" style="font-size:20px;background-color:#fff;color:#444444;font-weight:bold;padding:10px;width:auto;border:1px solid #b4cef8;border-left:3px solid #4b8df8;border-bottom:0;">&nbsp;</div>
        <h4 style="background-color:#4b8df8;color:#ffffff;padding:5px 15px 5px 10px;">Pay With New Credit Card</h4>
        <div style="border:solid 1px #ddd;padding:20px;">
            <table border="0">
                <tr>
                    <td style="width:135px">Amount</td>
                    <td style="">
                        <input type="text" id="iCSPBCAmount" name="iCSPBCAmount" style="width:240px" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div style="margin:10px 0;padding:10px;border:1px dotted #e5e5e5">
                            <table>
                                <tr>
                                    <td style="padding:0 5px;"><img src="~/Assets/main/img/ccard_visa.gif" alt="Visa" /></td>
                                    <td style="padding:0 5px;"><img src="~/Assets/main/img/ccard_mastercard.gif" alt="Mastercard" /></td>
                                    <td style="padding:0 5px;"><img src="~/Assets/main/img/maestro.gif" alt="Maestro" /></td>
                                    <td style="padding:0 5px;"><img src="~/Assets/main/img/diners-club.gif" alt="Dinners Club International" /></td>
                                    <td style="padding:0 5px;"><img src="~/Assets/main/img/ccard_solo.gif" alt="Solo" /></td>
                                </tr>
                                <tr>
                                    <td style="text-align:center"><input name="radioPaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Visa" /></td>
                                    <td style="text-align:center"><input name="radioPaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Mastercard" /></td>
                                    <td style="text-align:center"><input name="radioPaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Maestro" /></td>
                                    <td style="text-align:center"><input name="radioPaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Dinners" /></td>
                                    <td style="text-align:center"><input name="radioPaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Solo" /></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Card Number&nbsp;<span style="color:#ff0000">*</span></td>
                    <td>
                        <input type="text" id="iCSPBCCardNumber" name="iCSPBCCardNumber" style="width:240px" />
                    </td>
                </tr>
                <tr>
                    <td>First Name&nbsp;<span style="color:#ff0000">*</span></td>
                    <td>
                        <input type="text" id="iCSPBCFirstName" name="iCSPBCFirstName" style="width:240px" />
                    </td>
                </tr>
                <tr>
                    <td>Last Name&nbsp;<span style="color:#ff0000">*</span></td>
                    <td>
                        <input type="text" id="iCSPBCLastName" name="iCSPBCLastName" style="width:240px" />
                    </td>
                </tr>
                <tr>
                    <td>Start date</td>
                    <td>
                        <select id="sCSPBCStartDateMonth" name="sCSPBCStartDateMonth" style="width:135px">
                            <option value="0" selected>Select Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select id="sCSPBCStartDateYear" name="sCSPBCStartDateYear" style="width:115px"></select>
                    </td>
                </tr>
                <tr>
                    <td>End Date&nbsp;<span style="color:#ff0000">*</span></td>
                    <td>
                        <select id="sCSPBCEndDateMonth" name="sCSPBCEndDateMonth" style="width:135px">
                            <option value="0" selected>Select Month</option>
                            <option value="01">January</option>
                            <option value="02">February</option>
                            <option value="03">March</option>
                            <option value="04">April</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="07">July</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <select id="sCSPBCEndDateYear" name="sCSPBCEndDateYear" style="width:115px"></select>
                    </td>
                </tr>
                <tr>
                    <td>Issue Number</td>
                    <td>
                        <input type="text" id="iCSPBCIssueNumber" name="iCSPBCIssueNumber" style="width:240px" readonly />
                    </td>
                </tr>
                <tr>
                    <td>Card Security Code&nbsp;<span style="color:#ff0000">*</span></td>
                    <td>
                        <input type="text" id="iCSPBCCardSecurityCode" name="iCSPBCCardSecurityCode" style="width:240px" />
                    </td>
                </tr>
                <tr>
                    <td>Post Code&nbsp;<span style="color:#ff0000">*</span></td>
                    <td>
                        <input type="text" id="iCSPBCPostCode" name="iCSPBCPostCode" style="width:124px" />
                        <button class="btn blue" id="CSPBCBtnFindAddress" style="margin:-8px 0 0 3px;width:109px">Find Address</button>
                        <img id="CSPBCBtnFindAddressLoader" src="~/Assets/Main/img/ajaxloader-03.gif" style="margin-top:-5px;display:none"/>
                    </td>
                </tr>
                <tr id="CSPBCAddressListContainer" style="display:none">
                    <td>&nbsp;</td>
                    <td>
                        <select id="sCSPBCAddressList" name="sCSPBCAddressList" style="width:254px !important;display:none"></select>
                        <span id="sCSPBCAddressListError" style="color:#ce3434;display:none"></span>
                    </td>
                </tr>
                <tr>
                    <td>Address&nbsp;<span style="color:#ff0000">*</span></td>
                    <td>
                        <input type="text" id="iCSPBCAddress1" name="iCSPBCAddress1" style="width:240px" readonly />
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="text" id="iCSPBCAddress2" name="iCSPBCAddress2" style="width:240px" readonly />
                    </td>
                </tr>
                <tr>
                    <td>Town&nbsp;<span style="color:#ff0000">*</span></td>
                    <td>
                        <input type="text" id="iCSPBCTown" name="iCSPBCTown" style="width:240px" readonly />
                    </td>
                </tr>
                <tr>
                    <td>Country&nbsp;<span style="color:#ff0000">*</span></td>
                    <td>
                        <select id="sCSPBCCountry" name="sCSPBCCountry" style="width:254px" disabled="disabled">
                            <option>United Kingdom</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div style="text-align:right;">
                <button class="btn blue" id="btnCSPBCNewCardProceed" style="width:150px;height:50px;margin:0;">Proceed</button>
            </div>
        </div>

        <h4 style="background-color:#4b8df8;color:#ffffff;padding:5px 15px 5px 10px;margin-top:10px">Pay With Registered Credit Card</h4>
        <div style="border:solid 1px #ddd;padding:20px;">
            <table class="table table-bordered table-hover" id="tblCSPBCRegisteredCard"></table>
            <div style="text-align:right;margin-top:15px;">
                <button class="btn gray" id="btnCSPBCRegCardProceed" style="width:150px;height:50px;margin:0;">Proceed</button>
            </div>
        </div>
    </div>*@
    
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}
