﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div id="TabGeneralLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div id="tblCustomerGeneralInfoContainer" style="display: none">
        <div style="border: 1px solid #fafafa; padding: 10px; width: 750px; margin-bottom: 20px">
            <table id="tblCustomerGeneralInfo" border="0" cellspacing="3" cellpadding="3">
                <tbody>
                    <!-- 07-Sep-2019: Moorthy : Added for AT Sim Activation -->
                    @if (@ViewBag._productcode == "VMAT")
                    {
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2"><button id="btnActivateCustomerSimAT" class="btn blue">Activate SIM</button></td>
                    </tr>
                    }
                    <tr>
                        <td style="width: 200px;">First Name</td>
                        <td colspan="2" id="tdCGIFirstName" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td colspan="2" id="tdCGILastName" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Email Address</td>
                        <td colspan="2" id="tdCGIEmail" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td colspan="2" id="tdCGIBirthDate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>House No.</td>
                        <td colspan="2" id="tdCGIHouseNo" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Address 1</td>
                        <td colspan="2" id="tdCGIAddress1" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Address 2</td>
                        <td colspan="2" id="tdCGIAddress2" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td colspan="2" id="tdCGICity" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Post Code</td>
                        <td colspan="2" id="tdCGIPostcode" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td colspan="2" id="tdCGICountry" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    @*14-Jun-2017 : Moorthy Added for Security Answer*@
                    <tr>
                        <td>Security Answer</td>
                        <td colspan="2" id="tdSecurityAnswer" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    @*27-Nov-2018 : Moorthy Added for Alternate Number*@
                    <tr>
                        <td>Alternate Number</td>
                        <td colspan="2" id="tdAlternateNumber" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    @*13-Jan-2017 : Moorthy Added for ID File Download Func*@
                    <tr class="clscgiidprooffile">
                        <td>ID Proof File</td>
                        <td colspan="2" id="tdCGIIDProofFile" ctrlvalue="">
                            <button class="btn blue" type="button" id="btnCGIIDProofFile" data-dismiss="modal" style="width: 100px;" onclick="DownloadIDProof();">Download</button>
                        </td>
                    </tr>
                    @*Added : 22-Dec-2018 : CRM Enhancement*@
                    <tr>
                        <td>Registered To MyAccount</td>
                        <td colspan="2" id="tdCGIRegisteredToMyAccount" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>MyAccount Password</td>
                        <td id="tdCGIMyAccountPassword" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                       <td>
                            <button id="btnResetMyAccountPassword" class="btn blue" style="display: none;">Reset</button>
                            <button id="btnResetMyAccountPasswordSendMail" class="btn blue">Send Mail & SMS</button>
                        </td>
                    </tr>

                    @*Added : 31-May-2019 : SIM Activation details for AT*@
                    <tr>
                        <td>Prepaid Sim Activation</td>
                        <td colspan="2" id="tdCGIPrepaidSimActivated" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Prepaid Sim Activated By</td>
                        <td colspan="2" id="tdCGIPrepaidSimActivatedBy" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Prepaid Sim Activated On</td>
                        <td colspan="2" id="tdCGIPrepaidSimActivatedOn" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button id="btnGIEditCustomer" class="btn blue" style="float: right; width: 100px; height: 40px">Edit</button>
    </div>

    <div id="GIEditCustomer" class="popup-message modal hide border-lightblue" style="width: 500px; height: 525px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Edit Customer</div>
        <div class="modal-body" style="height: 400px; font-size: 14px; padding: 15px 20px">
            <input type="hidden" id="iGIECSubscriberID" name="iGIECSubscriberID" value="" />
            <table id="tblCustomerGeneralInfoEdit" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr style="text-align: right;">
                        <td colspan="2">
                            <span style="color: red">*</span> marked fields are mandatory
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 155px;">First Name<span style="color: red">*</span></td>
                        <td style="width: 250px;">
                            <input style="width: 100%" type="text" id="iGIECFirstName" name="iGIECFirstName" />
                            <input type="hidden" id="ihGIECFirstName" name="ihGIECFirstName" />
                        </td>
                    </tr>
                    <tr>
                        <td>Last Name<span style="color: red">*</span></td>
                        <td>
                            <input style="width: 100%" type="text" id="iGIECLastName" name="iGIECLastName" />
                            <input type="hidden" id="ihGIECLastName" name="ihGIECLastName" />
                        </td>
                    </tr>
                    <tr>
                        <td>Email Address<span style="color: red">*</span></td>
                        <td>
                            <input style="width: 100%" type="text" id="iGIECEmail" name="iGIECEmail" />
                            <input type="hidden" id="ihGIECEmail" name="ihGIECEmail" />
                        </td>
                    </tr>
                    <tr>
                        <td>Date of Birth<span style="color: red">*</span></td>
                        <td>
                            <div class="input-append date" id="iGIECDOBContainer" data-date-format="dd/mm/yyyy" style="z-index: 9999;">
                                <input class="span8" id="iGIECDOB" name="iGIECDOB" size="18" type="text" value="">
                                <input type="hidden" id="_iGIECDOB" name="_iGIECDOB" value="">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                            <input type="hidden" id="ihGIECDOB" name="ihGIECDOB" />
                        </td>
                    </tr>
                    <tr>
                        <td>House No.<span style="color: red">*</span></td>
                        <td>
                            <input style="width: 100%" type="text" id="iGIECHouseNo" name="iGIECHouseNo" />
                            <input type="hidden" id="ihGIECHouseNo" name="ihGIECHouseNo" />
                        </td>
                    </tr>
                    <tr>
                        <td>Address 1<span style="color: red">*</span></td>
                        <td>
                            <input style="width: 100%" type="text" id="iGIECAddress1" name="iGIECAddress1" />
                            <input type="hidden" id="ihGIECAddress1" name="ihGIECAddress1" />
                        </td>
                    </tr>
                    <tr>
                        <td>Address 2</td>
                        <td>
                            <input style="width: 100%" type="text" id="iGIECAddress2" name="iGIECAddress2" />
                            <input type="hidden" id="ihGIECAddress2" name="ihGIECAddress2" />
                        </td>
                    </tr>
                    <tr>
                        <td>City<span style="color: red">*</span></td>
                        <td>
                            <input style="width: 100%" type="text" id="iGIECCity" name="iGIECCity" />
                            <input type="hidden" id="ihGIECCity" name="ihGIECCity" />
                        </td>
                    </tr>
                    <tr>
                        <td>Post Code<span style="color: red">*</span></td>
                        <td>
                            <input style="width: 100%" type="text" id="iGIECPostCode" name="iGIECPostCode" />
                            <input type="hidden" id="ihGIECPostCode" name="ihGIECPostCode" />
                        </td>
                    </tr>
                    <tr>
                        <td>Country<span style="color: red">*</span></td>
                        <td>
                            <select id="iGIECCountry" name="iGIECCountry">
                                <option value="GB">United Kingdom</option>
                                <option value="DK">Denmark</option>
                                <option value="NL">Netherlands</option>
                                <option value="SE">Sweden</option>
                                <option value="PT">Portugal</option>
                                <option value="FR">France</option>
                                <option value="FI">Finland</option>
                                <option value="AT">Austria</option>
                                <option value="AU">Australia</option>
                                <option value="BE">Belgium</option>
                                <option value="PL">Poland</option>
                            </select>
                            <input type="hidden" id="ihGIECCountry" name="ihGIECCountry" />
                        </td>
                    </tr>
                    @*29-Nov-2018 : Moorthy Added for Security Answer*@
                    <tr>
                        <td>Security Answer<span style="color: red">*</span></td>
                        <td>
                            <input style="width: 100%" type="text" id="iGIECSecurityAnswer" name="iGIECSecurityAnswer" />
                            <input type="hidden" id="ihGIECSecurityAnswer" name="ihGIECSecurityAnswer" />
                        </td>
                    </tr>
                    @*27-Nov-2018 : Moorthy Added for Alternate Number*@
                    <tr>
                        <td>Alternate Number<span style="color: red">*</span></td>
                        <td>
                            <input style="width: 100%" type="text" id="iGIECAlternateNumber" name="iGIECAlternateNumber" />
                            <input type="hidden" id="ihGIECAlternateNumber" name="ihGIECAlternateNumber" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnGIEditCancel" style="float: left; width: 130px;">Cancel</button>
            <button class="btn blue" type="button" id="btnGIEditSave" style="float: right; width: 130px;">Save</button>
        </div>
    </div>
    <div id="ajax-screen-masking2">
        <div id="pmGeneralInfo" class="popup-message border-org">
            <div class="modal-header background-org">Edit Customer</div>
            <div class="modal-body" style="background-color: #ffffff">Please provide a valid email address!</div>
            <div class="modal-footer">
                <button class="btn orange btnPMGeneralInfo_OK" type="button" alt="0" style="width: 100px; float: right;">OK</button>
            </div>
        </div>
    </div>
    <!--Reset MyAccount Password -->
    <div id="ResetPasswordPopup" class="popup-message modal hide border-lightblue" style="width: 450px; height: 220px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Reset Password</div>
        <div class="modal-body" style="font-size: 14px; padding: 15px 20px;height:95px;">
            <table id="tblResetPasswordPopup" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="width: 155px;">New Password<span style="color: red">*</span></td>
                        <td style="width: 250px;">
                            <input style="width: 100%" type="text" id="txtRPNewPassword" name="txtRPNewPassword" maxlength="15" />
                        </td>
                    </tr>
                    <tr>
                        <td>Confirm Password<span style="color: red">*</span></td>
                        <td>
                            <input style="width: 100%" type="text" id="txtRPConfirmPassword" name="txtRPConfirmPassword" maxlength="15" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" id="tdResetPwdError" style="color:red;float:left;">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnResetPwdCancel" style="float: left; width: 130px;">Cancel</button>
            <button class="btn blue" type="button" id="btnResetPwdSave" style="float: right; width: 130px;">Save</button>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}