﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
    
    <div id="tblProductLOTGContainer" style="padding:10px;">
        <div id="TabProductLOTGLoader" style="width:100%;height:100px;background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
        <input type="hidden" id="accessedPage" name="accessedPage" />
        <table class="table table-bordered table-hover" id="tblProductLOTG"></table>
    </div>
    <div id="LOTGChangePayment" class="popup-message modal hide border-lightblue" style="width:400px">
        <div class="modal-header background-lightblue" style="font-family:Arial">LOTG - Change Payment</div>
	    <div class="modal-body">
            <input type="hidden" id="LOTGCPRegNo" name="LOTGCPRegNo" />
            <table>
                <tr>
                    <td style="width:130px;height:35px;font-weight:bold">LOTG Country</td>
                    <td style="width:10px;text-align:center">:</td>
                    <td id="tdLOTGCPCountry"></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Current Payment Type</td>
                    <td style="text-align:center">:</td>
                    <td id="tdLOTGCPCurrent"></td>
                </tr>
                <tr>
                    <td style="font-weight:bold">New Payment Type</td>
                    <td style="text-align:center">:</td>
                    <td>
                        <select id="LOTCGCPSelectNewPayment" name="LOTCGCPSelectNewPayment" style="height:25px;margin-top:5px;font-size:12px">
                            <option style="padding:5px;color:#555555" value="">--- Please Select ---</option>
                            <option style="padding:5px;color:#000000" value="1">Balance</option>
                            <option style="padding:5px;color:#000000" value="2">Credit Card</option>
                        </select>
                    </td>
                </tr>
            </table>
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLOTGCPCancel" style="width:100px;">Cancel</button>
		    <button data-dismiss="modal" class="btn blue" type="button" id="btnLOTGCPConfirm" style="width:100px;">Confirm</button>
        </div>
    </div>
    <div id="LOTGRenewPayment" class="popup-message modal hide border-lightblue" style="width:400px">
        <div class="modal-header background-lightblue" style="font-family:Arial">LOTG - Renew</div>
	    <div class="modal-body">
            <input type="hidden" id="LOTGRPRegNo" name="LOTGRPRegNo" />
            Manual renew LOTG <span id="LOTGRPCountry" style="font-weight:bold"></span>&nbsp;?
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLOTGRPCancel" style="width:100px;">Cancel</button>
		    <button data-dismiss="modal" class="btn blue" type="button" id="btnLOTGRPConfirm" style="width:100px;">Confirm</button>
        </div>
    </div>
    <div id="LOTGStopPayment" class="popup-message modal hide border-lightblue" style="width:400px">
        <div class="modal-header background-lightblue" style="font-family:Arial">LOTG - Stop</div>
	    <div class="modal-body">
            <input type="hidden" id="LOTGSPRegNo" name="LOTGSPRegNo" />
            <input type="hidden" id="LOTGSPPaymentType" name="LOTGSPPaymentType" />
            Stop using LOTG <span id="LOTGSPCountry" style="font-weight:bold"></span>&nbsp;?
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLOTGSPCancel" style="width:100px;">Cancel</button>
		    <button data-dismiss="modal" class="btn blue" type="button" id="btnLOTGSPConfirm" style="width:100px;">Confirm</button>
        </div>
    </div>
<div id="BundleCancelSubscription" class="popup-message modal hide border-lightblue" style="width:400px">
        <div class="modal-header background-lightblue" style="font-family:Arial">Bundle - Cancel Subscription</div>
             <div class="modal-body">
           Are you sure you want to cancel the subscription?
             </div>
        <div class="modal-footer">            
            <input type="hidden" id="BundleCancelRegNo" name="BundleCancelRegNo" />
            <input type="hidden" id="BundleCancelBundleId" name="BundleCancelBundleId" />
                     <button data-dismiss="modal" class="btn blue" type="button" id="btnBundleCancelConfirm" style="width:100px;">Confirm</button>
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnBundleNoCancel" style="width:100px;">Cancel</button>
        </div>
    </div>
 
     <div id="BundleSubscriptionHistory" class="popup-message modal hide border-lightblue" style="width:800px">
        <div class="modal-header background-lightblue" style="font-family:Arial">Bundle - Subscription History</div>
	    <div class="modal-body">
            <input type="hidden" id="BundleGCPRegNo" name="BundleGCPRegNo" />
            <table class="table table-bordered table-hover" id="tblBundleSubscriptionHistory"></table>                
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnBundleCPCancel" style="width:100px;">Close</button>		    
        </div>
    </div>
          <!--Result Info-->
    <div id="ResultInfo" class="popup-message modal hide border-blue" style="width: 400px;">
        <div class="modal-header background-blue">
            Result Information
        </div>
        <div style="height: 65px; padding: 10px">Request Processed Sucessfully.</div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn" id="btnBundleResultOK" style="width: 100px; float: left;">Ok</button>
        </div>
    </div>
    <!--No Data-->
    <div id="NoData" class="popup-message modal hide border-blue" style="width: 400px;">
        <div class="modal-header background-blue">
            General Error
        </div>
        <div id="ErrMsg" style="height: 65px; padding: 10px"></div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" id="btnBundleErrorOK" style="width: 100px; float: left;">Ok</button>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}
