﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.cancel.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.gprscancel.js"></script>
    <div id="TabRoamingsLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div id="tblCustomerRoamingContainer" style="padding: 5px 10px 10px 10px; width: 900px; display: none;">
        <table>
            <tr>
                <td>
                    <table id="tblCustomerRoamingDetails" border="0" cellspacing="3" cellpadding="3" style="width: 320px; float: left; vertical-align: top">
                        <tbody>
                            <tr>
                                <td colspan="2" style="font-weight: bold; font-size: 16px">SIM DETAIL</td>
                            </tr>
                            <tr>
                                <td style="width: 195px;">Rate Incoming</td>
                                <td id="tdCSDRateIncoming" style="width: 225px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Rate Incoming SMS</td>
                                <td id="tdCSDRateIncommingSMS" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Rate Outgoing</td>
                                <td id="tdCSDRateOutging" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Rate Outgoing SMS</td>
                                <td id="tdCSDRateOutgoingSMS" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Rate Data Charge</td>
                                <td id="tdCSDRateDataCharge" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Roaming Country</td>
                                <td id="tdCSDRoamingCountry" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                     <input type="hidden" id="hdVal" value="" />
                    <div id="ajax-screen-masking">
                        <div id="ajax-loader"></div>
                    </div>
                    <div id="Nothing" class="popup-message modal hide border-blue" style="width: 250px;">

                        <div class="modal-header background-blue">
                            <label id="lblbodyid"></label>
                        </div>
                        <div class="modal-body">

                            <label id="lblheaderid"></label>

                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn darkgrey" id="btnODCancel" style="width: 100px; float: left;">Cancel</button>
                            <button class="btn blue" id="btnODOK" style="width: 100px; float: right;">OK</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}