﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
    <div id="TabCallSettingsLoader" style="width:100%;height:100px;background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div id="tblCustomerCallSettingsContainer" style="padding:10px;width:560px;display:none;">
        <div>
            <table id="tblCustomerCallSettings" border="0" cellspacing="3" cellpadding="3">
                <tbody>
                    <tr>
                        <td style="width:190px;">Always forward</td>
                        <td id="tdCCSAlwaysForward" style="width:400px;border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Forward when busy</td>
                        <td id="tdCCSForwardBusy" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Forward when unanswered</td>
                        <td id="tdCCSForwardUnanswered" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Forward when unreachable</td>
                        <td id="tdCCSForwardUnreachable" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="hidden" id="defValueCallSettings" name="defValueCallSettings" />
    </div>
    <div id="btnEditCallSettingsContainer" style="margin-top:20px;text-align:center;display:none;">
        <button id="btnEditCallSettings" class="btn blue" style="width:130px">Edit</button>
    </div>

    <div id="CSetEditCallForwading" class="popup-message modal hide border-lightblue" style="width:700px;height:295px">
        <div class="modal-header background-lightblue" style="font-family:Arial">
            Edit Call Forwarding Settings
            <a data-dismiss="modal" style="float:right;display:block;color:#ffffff !important;cursor:pointer;text-decoration:none;font-family:Arial">x</a>
        </div>
	    <div class="modal-body" style="height:170px;font-size:12px">
            <input type="hidden" id="CSetCountryCode" name="CSetCountryCode" />
           <table>
               <tr>
                   <td style="width:170px;">Always forward</td>
                   <td style="width:145px;">
                       <select style="width:130px;" id="ecfsAFSettingSelect" name="ecfsAFSettingSelect">
                           <option value="0">Disabled</option>
                           <option value="2">To Number</option>
                       </select>
                   </td>
                   <td style="width:190px;"><span id="ecfsAFMobileNoContainer"><span id="ecfsAFMobileNoHeader">&nbsp;</span><input style="width:140px;" type="text" id="ecfsAFMobileNo" name="ecfsAFMobileNo" maxlength="20"/></span></td>
                   <td style="width:165px;">&nbsp;</td>
               </tr>
               <tr>
                   <td>Forward when busy</td>
                   <td>
                       <select style="width:130px;" id="ecfsFWBSettingSelect" name="ecfsFWBSettingSelect">
                           <option value="0">Disabled</option>
                           <option value="1">Voice Mail</option>
                           <option value="2">To Number</option>
                       </select>
                   </td>
                   <td><span id="ecfsFWBMobileNoContainer"><span id="ecfsFWBMobileNoHeader">&nbsp;</span><input style="width:140px;" type="text" id="ecfsFWBMobileNo" name="ecfsFWBMobileNo" maxlength="20"/></span></td>
                   <td>&nbsp;</td>
               </tr>
               <tr>
                   <td>Forward when unanswered</td>
                   <td>
                       <select style="width:130px;" id="ecfsFWUASettingSelect" name="ecfsFWUASettingSelect">
                           <option value="0">Disabled</option>
                           <option value="1">Voice Mail</option>
                           <option value="2">To Number</option>
                       </select>
                   </td>
                   <td><span id="ecfsFWUAMobileNoContainer"><span id="ecfsFWUAMobileNoHeader">&nbsp;</span><input style="width:140px;" type="text" id="ecfsFWUAMobileNo" name="ecfsFWUAMobileNo" maxlength="20"/></span></td>
                   <td>
                       <span id="ecfsFWUAReplyTimeContainer" name="ecfsFWUAReplyTimeContainer">
                           No Reply Time&nbsp;
                           <select style="width:65px" id="ecfsFWUAReplyTime" name="ecfsFWUAReplyTime">
                               <option value="5">5</option>
                               <option value="10">10</option>
                               <option value="15">15</option>
                               <option value="20">20</option>
                               <option value="25">25</option>
                               <option value="30">30</option>
                           </select>
                        </span>
                   </td>
               </tr>
               <tr>
                   <td>Forward when unreachable</td>
                   <td>
                       <select style="width:130px;" id="ecfsFWURSettingSelect" name="ecfsFWURSettingSelect">
                           <option value="0">Disabled</option>
                           <option value="1">Voice Mail</option>
                           <option value="2">To Number</option>
                       </select>
                   </td>
                   <td><span id="ecfsFWURMobileNoContainer"><span id="ecfsFWURMobileNoHeader">&nbsp;</span><input style="width:140px;" type="text" id="ecfsFWURMobileNo" name="ecfsFWURMobileNo" maxlength="20"/></span></td>
                   <td>&nbsp;</td>
               </tr>
           </table>
	    </div>
        <div class="modal-footer">
            @*<button data-dismiss="modal" class="btn darkgrey" type="button" id="btnCSetCancel" style="float:left;width:130px;">Cancel</button>*@
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCSetSave" style="float:right;width:130px;">Save Settings</button>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}