﻿@*@model CRM_API.Models.PAYMPlan*@
<div class="modal" id="divPayMAcceptCreditlimit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#4b8df8;color:#fff">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Approve Credit Limit</h4>
            </div>
            <div class="modal-body">
                <div id="ajax-screen-masking">
                    <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
                </div>
                <div class="portlet-body" id="PayMCancelPlanSelect" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
                    <table id="tblPayMAcceptCreditlimit" border="0">
                        <tbody>
                            <tr>
                                <td>Existing Credit Limit</td>
                                <td>&nbsp;</td>
                                <td>£&nbsp;<span id="lblexistingcredit"></span></td>
                            </tr>
                            <tr>
                                <td>New Credit Request</td>
                                <td>&nbsp;</td>
                                <td>£&nbsp;<span id="lblrequestcredit"></span><input type="text" id="txtrequestcredit" name="txtrequestcredit" style="width:50px;" />&nbsp;<a id="aEdit" href="#">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="tblPayMAcceptCreditlimitPrompt" border="0">
                        <tbody>
                            <tr>
                                <td>Do you want to approve the eligible credit limit for this customer?</td>
                            </tr>
                        </tbody>
                    </table>
                     <table id="tblPayMAcceptCreditlimitConfirm" border="0">
                        <tbody>
                            <tr>
                                <td>The eligible credit limit (£&nbsp;<span id="lblapprovecredit"></span>) for the customer has been set successfully.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnPreApprove">Approve</button>
                <button type="button" class="btn btn-primary" id="btnApprove"  onclick="ApprovePayMChangeCreditLimit('@ViewBag._mobileno',$('#txtrequestcredit').val())">Approve</button>
                <button type="button" class="btn btn-primary" id="btnReject" onclick="RejectPayMChangeCreditLimit('@ViewBag._mobileno')" data-dismiss="modal">Reject</button>
                <button type="button" class="btn btn-primary" id="btnAClose" data-dismiss="modal" onclick="javascript:window.location.reload();">Close</button>
            </div>
        </div>
    </div>
</div>
