﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{   
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
    </div>
    <div class="portlet-title" style="height: 30px; border-bottom: 0">
        <h4><span style="font-size: 18px; font-weight: bold">Pay Monthly Bill Details</span></h4>
    </div>
    <div style="text-align: right;margin-top: 10px;">
            <button id="btnBillsSendMail" class="btn blue">Send Mail</button>
    </div>
    <div id="OutStanding" style="padding: 10px; clear: both">
          @if (@ViewBag.FinanceTab == "CRM")
           {
               <div style="float: left; margin: 9px 40px 0 0;">Total Outstanding Amount : 
			        @if(ViewBag._productcode =="VMUK" || ViewBag._productcode =="DMUK" || ViewBag._productcode =="CTPUK" ){
                    <b>£</b>
                    }
                    else if(ViewBag._productcode =="VMSE" || ViewBag._productcode =="DMSE"  || ViewBag._productcode =="CTPCH"  || ViewBag._productcode =="VMDK"  || ViewBag._productcode =="DMDK" ){
                    <b>kr</b>
                    }
           else if (ViewBag._productcode == "VMAT" || ViewBag._productcode == "DMAT" || ViewBag._productcode == "VMBE" || ViewBag._productcode == "DMBE" || ViewBag._productcode == "VMFR" || ViewBag._productcode == "VMNL" || ViewBag._productcode == "DMNL" || ViewBag._productcode == "VMPT" || ViewBag._productcode == "CTPFR" || ViewBag._productcode == "VMCY")
           {
                    <b>€</b>
                    }
                    else if (ViewBag._productcode == "CTPUS")
                    {
                    <b>$</b>
                    }
                    else if (ViewBag._productcode == "VMRS")
                    {
                    <b>RSD</b>
                    }
                    else if (ViewBag._productcode == "VMCZ")
                    {
                    <b>CZK</b>
                    }
					else{
                    <b>£</b>
                    }
                <b><label id="lblOutStandingAmount" style="display: inline"></label>
                </b></div>
                <div style="float: left">
                <input type="button" id="btnPayNow" class="btn blue" value="Pay Now" /></div>
           }
    </div>
    <div class="portlet-body" id="PayMContainer" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden;">
        <table class="table table-bordered" id="tblPayMResult" style="width:100%" ></table>
    </div>
    
    <div id="FileGenrated" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
            General Error.
        </div>
        <div id="filesName" class="modal-body">
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" id="btnODBack" style="width: 100px; float: left;">Back</button>
            <button data-dismiss="modal" class="btn blue" id="btnconfirmPAYNOWNewCard" style="width: 100px; float: left;">Pay with new Card</button>
        </div>
    </div>
    <div id="FileGenrated2" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
            Success Message.
        </div>
        <div id="filesName2" class="modal-body">
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" id="btnODBack2" style="width: 100px; float: left;">Back</button>
        </div>
    </div>    
    <div id="PaymentMethodNewCardDetails" class="popup-message modal hide border-lightblue" style="width: 1000px; margin-top: -37px; margin-left: -500px;" 
        onload="findaddresshideshow()">
        <div class="modal-header background-lightblue" style="font-family: Arial">Pay with a New Card</div>
        <div class="modal-body" style="min-height: 550px;">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <input type="hidden" id="newCChidden" />
                <fieldset>
                    <legend style="font-weight: bold">Payment Details@*<hr />*@
                    </legend>
                    <table>
                        <tr>
                            <td style="width: 150px; font-weight: bold">Select your card type
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>

                                <ul class="cardContainer">
                                    <li>
                                        <img src="~/img/ccard_visa.gif" alt="Visa" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Visa">
                                    </li>
                                    <li>
                                        <img src="~/img/ccard_mastercard.gif" alt="Mastercard" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Mastercard">
                                    </li>
                                    <li>
                                        <img src="~/img/maestro.gif" alt="Maestro" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Maestro">
                                    </li>
                                    <li>
                                        <img src="~/img/diners-club.gif" alt="Dinners Club International" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Dinners">
                                    </li>
                                </ul>

                            </td>
                            <td>
                                <label class="errLabel" id="PSCT" style="display: none;">* Please select card type</label></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Card Number
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodCCNumber" name="PaymentMethodCCNumber" class="input-xlarge" /></td>
                            <td>
                                <label class="errLabel" id="PECN" style="display: none;">* Please enter card number</label>

                            </td>


                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">First Name
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodFirstName" name="PaymentMethodFirstName" /></td>

                            <td>
                                <label class="errLabel" id="PEFN" style="display: none;">* Please enter first name</label></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Last Name
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodLastName" name="PaymentMethodLastName" /></td>

                            <td>
                                <label class="errLabel" id="PELN" style="display: none;">* Please enter last name</label></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Expiry Date
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <div class="controls col-xs-4">
                                    <table>
                                        <tr>
                                            <td>
                                                <select id="PaymentMethodExpiryMonth" name="PaymentMethodExpiryMonth">
                                                    <option value="0" selected>Select Month</option>
                                                    <option value="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select id="PaymentMethodExpiryYear" name="PaymentMethodExpiryYear"></select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>

                            <td>
                                <label class="errLabel" id="PEEMAY" style="display: none;">* Please enter the expire month and expire year</label></td>

                        </tr>

                        <tr>
                            <td style="font-weight: bold">Issue Number (only for certain Switch/Solo)</td>
                            <td></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodIssueNumber" name="PaymentMethodIssueNumber" /></td>

                            <td></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Card verification code
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodCardVerfCode" name="PaymentMethodCardVerfCode" />

                            </td>

                            <td>
                                <label class="errLabel" id="PECVC" style="display: none;">* Please enter card verification code</label>

                            </td>

                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                  
                    <table>
                        <tr>
                            <td>Post Code&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="top_input" id="postcode_lookup"></div>
                                <input type="text" id="zipcode" name="iCSPBCAddress1" style="width: 200px"  />
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblPostCode">* Please enter post code</label></td>
                        </tr>

                        <tr>
                            <td>Address Line 1&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="iCSPBCAddress1" name="iCSPBCAddress1" style="width: 400px"  />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblAddr1">* Please enter Address Line 1</label></td>
                        </tr>


                        <tr>
                            <td>Address Line 2&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="iCSPBCAddress2" name="iCSPBCAddress2" style="width: 400px" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblAddr2">* Please enter Address Line 2</label></td>
                        </tr>

                        <tr>
                            <td>Address Line 3&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="iCSPBCAddress3" name="iCSPBCAddress3" style="width: 400px" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblAddr3">* Please enter Address Line 3</label></td>
                        </tr>

                        <tr>
                            <td>Town/City&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="iCSPBCTown" name="iCSPBCTown" style="width: 400px"  />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblCity">* Please enter Town/City</label></td>
                        </tr>

                        <tr>
                            <td>Country&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <select id="sCSPBCCountry" name="sCSPBCCountry" style="width: 415px" >
                                    <option value="Austria">Austria</option>
                                    <option value="Belgium">Belgium</option>
                                    <option value="Denmark">Denmark</option>
                                    <option value="Finland">Finland</option>
                                    <option value="France">France</option>
                                    <option value="Netherlands">Netherlands</option>
                                    <option value="Poland">Poland</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Sweden">Sweden</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblCountry">* Please select Country</label></td>
                        </tr>

                        <tr>
                            <td>Email&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="iCSPBCEmail" name="iCSPBCEmail" style="width: 400px" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblEmail">* Please enter a valid Email Address</label></td>
                        </tr>

                        <tr>
                            <td>Phone Number&nbsp;<span style="color: #ff0000"></span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="PaymentMethodPhone" name="PaymentMethodPhone" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                            @*<label class="errLabel">* Please enter a valid Email Address</label></td>*@
                        </tr>


                    </table>
                  
                </fieldset>
              
            </div>
            <div class="modal-footer btncenter">
                <button class="btn blue" type="button" id="btnPayNewcardProceed" style="width: 100px;">Proceed</button>
                <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnPayNewCardCancel" style="width: 100px;">Cancel</button>
            </div>
        </div>
    </div>
}
