﻿@model CRM_API.Models.CustomerDetailPage
<div class="modal" id="divPayMChangeCreditLimitPlanSelect">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#4b8df8;color:#fff">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4>Change Credit Limit</h4>
            </div>
            <div class="modal-body">
                <div id="ajax-screen-masking">
                    <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
                </div>   
                <div class="portlet-body" id="PayMCreditlimitChange" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
                    <table id="tblPayMCreditlimitChange" border="0">
                        <tbody>
                            <tr>
                                <td>Please enter the amount</td>
                                <td>&nbsp;</td>
                                <td><input type="text" id="Amountext" name="Amountext" /></td>
                            </tr>
                             <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>**Note: Amount should be in multiples of 5.</td>
                            </tr>
                        </tbody>
                    </table>
                     <table id="tblPayMCreditlimitChangeconfirm" border="0">
                        <tbody>
                            <tr>
                                <td colspan="3">The request will be processed shortly.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSubmit"  onclick="UpdatePayMChangeCreditLimit('@ViewBag._mobileno',$('#Amountext').val(),'@ViewBag._Email')">Sumbit</button>
                <button type="button" class="btn btn-primary" id="btnRCancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
