﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{   
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <style type="text/css">
        .errMsg
        {
            color: red;
        }
    </style>
    <div id="ajax-screen-masking">
        <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
    </div>  
    
    <div style="padding: 10px; clear: both">
         @*@if (@ViewBag.FinanceTab == "CRM")
           {
            *@<div style="float: left">
                <input type="button" id="btnDirectDebit" class="btn blue" value="Add New Direct Debit" />
            </div>
          @* }*@
    </div>
    
    <div class="portlet-body" id="PayMPaymentProfile" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
        <table class="table table-bordered" id="tblPaymentProfile"></table>
    </div>
    
    <!--View More Info-->
    <div id="ViewInfo" class="popup-message modal hide border-blue">
        <div class="modal-header background-blue">
            <span id="PaymentMode"></span>
        </div>
        <div id="PAYMDirectDebit">
            <!--400-->
            <table id="tblPAYMDDStepUp" border="0" cellspacing="3" cellpadding="3" style="margin: 15px">
                <tr>
                    <td>Bank Name  &nbsp;</td>
                    <td id="tdBankName" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr>
                    <td>Bank Reference  &nbsp;</td>
                    <td id="tdBankReference" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr class="clsSortCode2">
                    <td>Sort Code  &nbsp;</td>
                    <td id="tdSortCode" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr class="clsBankCode2" style="display:none">
                    <td>Bank Code  &nbsp;</td>
                    <td id="tdBankCode" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr class="clsBranchCode2" style="display:none">
                    <td>Branch Code  &nbsp;</td>
                    <td id="tdBranchCode" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr>
                    <td>Account Number  &nbsp;</td>
                    <td id="tdAccountNumber" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr>
                    <td>Account Name  &nbsp;</td>
                    <td id="tdAccountName" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr>
                    <td>DD Status  &nbsp;</td>
                    <td id="tdDDStatus" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
            </table>
        </div>
        <div id="PAYMDirectDebit2">
            <!--400-->
            <table id="tblPAYMDDStepUp2" border="0" cellspacing="3" cellpadding="3" style="margin: 15px">
                <tr>
                    <td>Account Name  &nbsp;</td>
                    <td id="tdAccountName2" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr>
                    <td>IBAN  &nbsp;</td>
                    <td id="tdIBAN" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr>
                    <td>Country  &nbsp;</td>
                    <td id="tdCountry2" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
            </table>
        </div>
        <div id="PAYMCrediCard">
            <!--675px-->
            <table id="tblPAYMCrediCard" border="0" cellspacing="3" cellpadding="3" style="margin: 15px">
                <tr>
                    <td colspan="2"><b><u>Card details</u></b></td>
                    <td colspan="2"><b><u>Address Info</u></b></td>
                </tr>
                <tr>
                    <td>Name Of Card Holder  &nbsp;</td>
                    <td id="tdNameOfCardHolder" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    <td>Street  &nbsp;</td>
                    <td id="tdStreet" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr>
                    <td>Card Type   &nbsp;</td>
                    <td id="tdCardType" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    <td>City  &nbsp;</td>
                    <td id="tdCity" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr>
                    <td>Card Number  &nbsp;</td>
                    <td id="tdCardNumber" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    <td>Country  &nbsp;</td>
                    <td id="tdCountry" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr>
                    <td>Expiry Date  &nbsp;</td>
                    <td id="tdExpiryDate" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    <td>Post Code  &nbsp;</td>
                    <td id="tdPostCode" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
                <tr>
                    <td>Status  &nbsp;</td>
                    <td id="tdStatus" style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" id="btnODBack" style="width: 100px; float: left;">Ok</button>
        </div>
    </div>
    <!--No Data-->
    <div id="NoData" class="popup-message modal hide border-blue" style="width: 400px;z-index:1051;">
        <div class="modal-header background-blue">
            General Error
        </div>
        <div id="ErrMsg" style="height: 65px; padding: 10px"></div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" id="btnODBack" style="width: 100px; float: left;">Ok</button>
        </div>
    </div>
    <!--DD Setup Process-->
    <div id="AddDDSteup" class=" popup-message modal hide border-blue" style="width: 400px;">
        <div class="modal-header background-blue">
            Add New Direct Debit Details
        </div>
        <div style="padding: 10px; height: 195px;">
            <div style=" margin-left: 231px;width: 160px;color:red;">* All Fields Are Mandatory </div>
            <table id="tblDDDetails" border="0" cellspacing="3" cellpadding="3" style="margin: 15px">
                <tr>
                    <td>Bank Name   &nbsp;</td>
                    <td>
                        <select id="Selectbank" name="Selectbank">
                        </select>
                        <span id="rfvSelectBank"></span>
                    </td>
                </tr>
                <tr class="clsSortCode">
                    <td>Sort Code   &nbsp;</td>
                    <td>
                        <input id="txtFirst" maxlength="2" style="width: 30px;" />
                        -
                        <input id="txtSecond" maxlength="2" style="width: 30px;" />
                        -
                        <input id="txtThird" maxlength="2" style="width: 30px;" />
                        <span id="rfvSortCode"></span>
                    </td>
                </tr>
                @*<tr class="clsBankCode" style="display:none">
                    <td>Bank Code   &nbsp;</td>
                    <td>
                        <input id="txtBankCode" maxlength="10" />
                        <span id="rfvBankCode"></span>
                    </td>
                </tr>
                <tr class="clsBranchCode" style="display:none">
                    <td>Branch Code   &nbsp;</td>
                    <td>
                        <input id="txtBranchCode" maxlength="10" />
                        <span id="rfvBranchCode"></span>
                    </td>
                </tr>*@
                <tr>
                    <td>Account Number   &nbsp;</td>
                    <td>
                        <input id="txtAccountNumber" maxlength="8" />
                        <span id="rfvAccountNumber"></span>
                    </td>
                </tr>
                <tr>
                    <td>Account Name   &nbsp;</td>
                    <td>
                        <input id="txtAccountName" maxlength="50" />
                        <span id="rfvAccountName"></span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn blue" type="button" id="btnSubmit" style="width: 100px;">Submit</button>
            <button data-dismiss="modal" class="btn" type="button" id="btnCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>    
    <!--DD Setup Process For AT/NL/FR -->
     <div id="AddDDSteup2" class=" popup-message modal hide border-blue" style="width: 400px;">
        <div class="modal-header background-blue">
            Add New Direct Debit Details
        </div>
        <div style="padding: 10px; height: 150px;">
            <div style=" margin-left: 231px;width: 160px;color:red;">* All Fields Are Mandatory </div>
            <table id="tblDDDetails2" border="0" cellspacing="3" cellpadding="3" style="margin: 15px">
                <tr>
                    <td>Account Name   &nbsp;</td>
                    <td>
                        <input id="txtAccountName2" maxlength="50" />
                        <span id="rfvAccountName2"></span>
                    </td>
                </tr>
                <tr>
                    <td>IBAN   &nbsp;</td>
                    <td>
                        <input id="txtIBAN" maxlength="30" />
                        <span id="rfvIBAN"></span>
                    </td>
                </tr>
                <tr>
                    <td>Country &nbsp;</td>
                    <td>
                        <select id="SelectCountry" name="SelectCountry">
                        </select>
                        @*<span id="rfvSelectCountry"></span>*@
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn blue" type="button" id="btnSubmit2" style="width: 100px;">Submit</button>
            <button data-dismiss="modal" class="btn" type="button" id="btnCancel2" style="width: 100px;">Cancel</button>
        </div>
    </div>
    <!--Result Info-->
    <div id="ResultInfo" class="popup-message modal hide border-blue" style="width: 400px;">
        <div class="modal-header background-blue">
            Result Information
        </div>
        <div style="height: 65px; padding: 10px">Request Processed Sucessfully.</div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn" id="btnODBack" style="width: 100px; float: left;">Ok</button>
        </div>
    </div>
}