﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.cancel.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.gprscancel.js"></script>
    <div id="TabSIMDetailsLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div id="ajax-screen-masking">
        <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
    </div> 
    <div id="tblCustomerSIMDetailsContainer" style="padding: 5px 10px 10px 10px; width: 900px; display: none;">
        <table>
            <tr>
                <td>
                    <table id="tblCustomerSIMDetails" border="0" cellspacing="3" cellpadding="3" style="width: 500px; float: left; vertical-align: top">
                        <tbody>
                            <tr>
                                <td colspan="2" style="font-weight: bold; font-size: 16px">SIM DETAIL</td>
                            </tr>
                            <tr>
                                <td style="width: 195px;">Mobile No / MSISDN</td>
                                <td id="tdCSDMobileNo" style="width: 380px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>ICCID</td>
                                <td id="tdCSDICCID" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sim Status</td>
                                <td id="tdSimStatus" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Reason</td>
                                <td id="tdSimReason" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>SIM Version</td>
                                <td id="tdSimVersion" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>IMSI Active</td>
                                <td id="tdCSDIMSIActive" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>IMSI Master</td>
                                <td id="tdCSDIMSIMaster" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sitecode</td>
                                <td id="tdCSDSitecode" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>MNRF/MCEF</td>
                                <td id="tdCSDMNRF" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                <td>
                                    <button id="btnReset" class="btn blue">Reset</button>
                                </td>
                            </tr>
                            <tr>
                                <td>First Update</td>
                                <td id="tdCSDFirstUpdate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Last Update</td>
                                <td id="tdCSDLastUpdate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>

                            <tr>
                                <td>Old SIM First Update</td>
                                <td id="tdCSDOSFFirstUpdate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Old SIM Last Update</td>
                                <td id="tdCSDOSFLastUpdate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>

                            <tr>
                                <td>Current VRL</td>
                                <td id="tdCSDCurrentVRL" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>PIN 1</td>
                                <td id="tdCSDPIN1" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>PUK 1</td>
                                <td id="tdCSDPUK1" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Current Location</td>
                                <td id="tdCSDCurrentLocation" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Last Location</td>
                                <td id="tdCSDLastLocation" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <!--anees 11Oct2018-->
                            <tr>
                                <td>Vendor</td>
                                <td id="tdCSDVendor" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Sim Type</td>
                                <td id="tdCSDSimType" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <!-- ODB Out-->
                            <tr>
                                <td>ODB</td>
                                <td id="tdCSDODBOut" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                <td>
                                    <button id="btnODBOut" class="btn blue"></button>
                                </td>
                            </tr>
                            <!--Roaming Comments-->
                            <tr>
                                <td>Roaming Comments</td>
                                <td id="tdCSDRoamingComments" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    @*<button id="btncanceld" class="btn blue" style="width:auto" onclick="cancellocation()" >Cancel Location</button>*@

                                    <button id="btncanceld1" class="btn blue" style="width: auto;margin-top: 2px;" onclick="cancellocation()">Cancel Location</button>

                                </td>
                                <td>
                                    @*<button id="btnGprscanceld" class="btn blue" style="width:125px;" onclick="Gprscancellocation()" >GPRS Cancel </button>*@

                                    <button id="btnGprscanceld1" class="btn blue" style="width: 125px;">GPRS Cancel </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="hidden" id="hdVal" value="" />
                    @*<div id="ajax-screen-masking">
                        <div id="ajax-loader"></div>
                    </div>*@
                    <div id="Nothing" class="popup-message modal hide border-blue" style="width: 250px;">

                        <div class="modal-header background-blue">
                            <label id="lblbodyid"></label>
                        </div>
                        <div class="modal-body">

                            <label id="lblheaderid"></label>

                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn darkgrey" id="btnODCancel" style="width: 100px; float: left;">Cancel</button>
                            <button class="btn blue" id="btnODOK" style="width: 100px; float: right;">OK</button>
                        </div>
                    </div>
                </td>
                <td style="vertical-align: top;">
                    <table id="tblCustomerLastSwapSIMDetails" border="0" cellspacing="3" cellpadding="3" style="width: 290px; float: left; margin-left: 10px; display: none">
                        <tbody>
                            <tr>
                                <td colspan="2" style="font-weight: bold; font-size: 16px">LAST SWAP SIM DETAIL</td>
                            </tr>
                            <tr>
                                <td style="width: 215px;">Last Swap Date</td>
                                <td id="tdCSDLastSwapDate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Last Swap Old ICCID</td>
                                <td id="tdCSDLastSwapOldICCID" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Last Swap New ICCID</td>
                                <td id="tdCSDLastSwapNewICCID" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Last Swap Old Balance (in credit)</td>
                                <td id="tdCSDLastSwapOldBalance" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Last Swap After Balance (in credit)</td>
                                <td id="tdCSDLastSwapAfterBalance" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Last Swap Type</td>
                                <td id="tdCSDLastSwapType" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Last Swap Error Message</td>
                                <td id="tdCSDLastSwapMessage" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Last Swap Comment</td>
                                <td id="tdCSDLastSwapComment" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Port Out Date</td>
                                <td id="tdPortOutDate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Port Out Network</td>
                                <td id="tdPortOutNetwork" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align: top;">
                    <table id="tblCustomerSIMDetailsAdditional" border="0" cellspacing="3" cellpadding="3" style="width: 390px; float: left; margin-left: 10px; display: none">
                        <tbody>
                            <tr>
                                <td colspan="2" style="font-weight: bold; font-size: 16px">Local Roaming Details </td>
                            </tr>
                            <tr>
                                <td style="width: 215px;">OTA Process</td>
                                <td id="tdCSDRoaming_OTA_Process" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 215px;">Roaming IMSI Overseas</td>
                                <td id="tdCSDRoaming_IMSI_Overseas" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Home IMSI</td>
                                <td id="tdCSDHome_IMSI" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Roaming IMSI</td>
                                <td id="tdCSDRoaming_IMSI" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Vendor Name</td>
                                <td id="tdCSDVendor_Name" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Roaming Country</td>
                                <td id="tdCSDRoaming_Country" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Date of Activation</td>
                                <td id="tdCSDDate_of_Activation" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}