﻿@model CRM_API.Models.CustomerDetailPage
<div style="padding:10px;" id="divPayMBundleHistory">
    <div class="portlet box blue" id="chFilterContainer">
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div class="portlet-title" style="height:30px;border-bottom:0; vertical-align: middle;">
        <h4>View Subscription History</h4>
    </div>
    <div class="portlet-body">
        <div id="ajax-screen-masking">
            <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
        </div>   
        <div class="portlet-body" id="PayMBundleHistory" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
            <table class="table table-bordered" id="tblBundlesPlanHistory"></table>
        </div>
        <input type="button" id="btnPayNow" class="btn blue" value="Close" onclick="ClosePAYMPlanHistory('@ViewBag._mobileno','@ViewBag._productcode');">
    </div>
}
    </div>
</div>
