﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
    <div id="tblCustomerTeriffClassLoader" style="width:100%;height:100px;background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
     <div id="tblCustomerTeriffClassInfoContainer" style="display:none">
        <div style="border:1px solid #fafafa;padding:10px;width:750px;margin-bottom:20px">
              @*<table id="tblCustomerTeriffClassInfo" border="0" cellspacing="3" cellpadding="3">
               <tbody>
                   
                    <tr>
                        <td colspan="2" style="font-weight:bold;font-size:16px">Master Account</td>
                    </tr>
                    <tr>
                        <td style="width:240px;">Site Code</td>
                        <td id="tdCGISitecode" style="width:610px;border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td style="width:340px;">Balance(Main)</td>
                        <td id="tdCGIBalanceunit" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Customer Code</td>
                        <td id="tdCGICustomercode" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td>Balance(Credit Bonus)</td>
                        <td id="tdCGIBalanceCreditBonus" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        
                    </tr>
                 
                    <tr>
                        <td>Batch Code</td>
                        <td id="tdCGIBatchcode" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td>Total Balance</td>
                        <td id="tdCGITotalBalance" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td 
                    </tr>
                    <tr>
                        <td>Serial Code</td>
                        <td id="tdCGISerialCode" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td style="width:140px;">First Usage</td>
                        <td id="tdCGIFirstusage" style="width:610px;border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Account Status</td>
                        <td id="tdCGIAccountstatus" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td>Start Date</td>
                        <td id="tdCGIStartdate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Tariff Class</td>
                        <td id="tdCGITariffclass" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td>End Date</td>
                        <td id="tdCGIEnddate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                </tbody> 
            </table>*@

            <table id="tblCustomerTeriffClassInfo" border="0" cellspacing="3" cellpadding="3">
               <tbody>
                   
                    <tr>
                        <td colspan="2" style="font-weight:bold;font-size:16px">Master Account</td>
                    </tr>
                    <tr>
                        <td style="width:240px;">Site Code</td>
                        <td id="tdCGISitecode" style="width:610px;border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td style="width:140px;">First Usage</td>
                        <td id="tdCGIFirstusage" style="width:610px;border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                       
                    </tr>
                    <tr>
                        <td>Customer Code</td>
                        <td id="tdCGICustomercode" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td>Start Date</td>
                        <td id="tdCGIStartdate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                     
                        
                    </tr>
                 
                    <tr>
                        <td>Batch Code</td>
                        <td id="tdCGIBatchcode" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td>End Date</td>
                        <td id="tdCGIEnddate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                     
                    </tr>
                    <tr>
                        <td>Serial Code</td>
                        <td id="tdCGISerialCode" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td>Smart rate Tariffclass</td>
                        <td id="tdsmart_tariffclass" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Account Status</td>
                        <td id="tdCGIAccountstatus" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td>Smart rate Startdate</td>
                        <td id="tdsmart_startdate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Tariff Class</td>
                        <td id="tdCGITariffclass" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                        <td>Smart rate Enddate</td>
                        <td id="tdsmart_enddate" style="border-bottom:1px dotted #e5e5e5;color:#505050">&nbsp;</td>
                    </tr>
                </tbody> 
            </table>

        </div>
    </div>
    
    @*<div id="ajax-screen-masking2">
        <div id="pmGeneralInfo" class="popup-message border-org">
	        <div class="modal-header background-org">Edit Customer</div>
	        <div class="modal-body" style="background-color:#ffffff">Please provide a valid email address!</div>
            <div class="modal-footer">
                <button class="btn orange btnPMGeneralInfo_OK" type="button" alt="0" style="width:100px;float:right;">OK</button>
            </div>
        </div>
    </div>*@
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}