﻿@*@model CRM_API.Models.PAYMPlan*@
<div class="modal" id="divPayMNorequestCreditlimit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#4b8df8;color:#fff">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Approve Credit Limit</h4>
            </div>
            <div class="modal-body">
                <div id="ajax-screen-masking">
                    <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
                </div>
                <div class="portlet-body" id="PayMCancelPlanSelect" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
                    <table id="tblPayMAcceptCreditlimit" border="0">
                        <tbody>
                            <tr>
                                <td><span id="errMsg"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAClose" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
