﻿@model CRM_API.Models.CustomerDetailPage

@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div class="divSMS">
        <div class="tabbable tabbable-custom">
            <!-- Header Tabs -->
            <ul class="ultab nav nav-tabs">
                <li id="litab0"><a id="aTabSendSMS" href="javascript:void(0)">Send SMS</a></li>
                <li id="litab1"><a id="aTabSMSHistory" href="javascript:void(0)">SMS History</a></li>
            </ul>
            <!-- End Header Tabs -->
            <!-- Start Tabs -->
            <div class="tab-content">
                <div class="tab-pane" id="tab_1_0">
                    <div class="portlet box blue">
                        <div class="portlet-title" style="height: 30px; border-bottom: 0">
                            <h4><span style="font-size: 18px; font-weight: bold">Send SMS</span></h4>
                        </div>
                        @*<div id="ajax-screen-masking">
                            <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
                        </div>*@
                        <div class="portlet-body" id="SendSMSContainer" style="position:relative;height:215px;">
                        <div id="SendSMSLoader" style='background: url("/Assets/Main/img/ajaxloader-02.gif") center center no-repeat rgb(255, 255, 255);overflow: hidden;min-height: 100px;position: absolute;right: 0;top: 0;bottom: 0;left: 0;display:none;'></div>
                            <div style="width: 99%">
                                <div style="width: 50%">
                                    Template :
                                    <select id="ddlSMSTemplate" class="form-control">
                                        <option ctlValue="" value="-1">--Select--</option>
                                    </select>
                                </div>
                            </div>
                            <div style="width: 99%">
                                @*<div style="width: 50%">
                                <label class="control-label">Enter Text</label>
                            </div>*@
                                <div style="width: 50%">
                                    <textarea class="input-block-level" class="form-control" rows="3" id="txtSendSMS" style="height: 135px" maxlength="160"></textarea>
                                </div>
                                <div style="width: 50%;">
                                    <button type="submit" class="btn blue pull-right" id="btnSendSMS">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_1_1">
                    <div class="portlet box blue">
                        <div class="portlet-title" style="height: 30px; border-bottom: 0">
                            <h4><span style="font-size: 18px; font-weight: bold">SMS History</span></h4>
                        </div>
                        <div class="portlet-body" id="SMSHistoryContainer">
                            <table class="table table-bordered" id="tblSMSHistoryContainer"></table>
                        </div>
                    </div>
                </div>
            </div>
            <!--END TABS-->
        </div>
    </div> 
}