﻿@model CRM_API.Models.CustomerDetailPage
@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "PAY-M Customer Detail";
}
@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <div style="width:180px;float:left;margin-top:5px">
                    <h4><div style="font-size:18px;font-weight:bold">Details</div></h4>
                </div>
                <div style="float:left;margin-top:4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/PAYM/_DetailHeaderButtonPAYM.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div id="TabOverviewLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div id="tblCustomerOverviewContainer" style="display: none">
        <div style="border: 1px solid #fafafa; padding: 10px; width: 750px; margin-bottom: 20px">
            <table id="tblCustomerOverview" border="0" cellspacing="3" cellpadding="3">
                <tbody>
                    <tr>
                        <td style="width: 220px;">Last location update</td>
                        <td id="tdCOLastlocationupdate" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last GPRS location update</td>
                        <td id="tdCOLastGPRSlocationupdate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last time location update sent</td>
                        <td id="tdCOLasttimelocationupdatesent" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last call</td>
                        <td id="tdCOLastcall" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last SMS</td>
                        <td id="tdCOLastSMS" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last browsing</td>
                        <td id="tdCOLastbrowsing" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last Top-up</td>
                        <td id="tdCOLastTopup" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Current Balance</td>
                        <td id="tdCOCurrentBalance" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Bonus Balance</td>
                        <td id="tdCOBonusBalance" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Current Bundles</td>
                        <td id="tdCOCurrentBundles" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Bundle Allowance</td>
                        <td id="tdCOBundleAllowance" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Bundle Usage</td>
                        <td id="tdCOBundleUsage" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Home / Roaming</td>
                        <td id="tdCOHomeRoaming" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                     <tr class="trRoaming">
                        <td>Roaming country</td>
                        <td id="tdCORoamingcountry" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr class="trRoaming">
                        <td>Roaming Outgoing calls</td>
                        <td id="tdCOOutgoingcalls" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                     <tr class="trRoaming">
                        <td>Roaming Outgoing SMS</td>
                        <td id="tdCOOutgoingSMS" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr class="trRoaming">
                        <td>Roaming Data browsing</td>
                        <td id="tdCODatabrowsing" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                     <tr class="trreseller_name">
                        <td>Reseller Name</td>
                        <td id="tdCOreseller_name" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr class="trportin_date">
                        <td>Portin Date</td>
                        <td id="tdCOportin_date" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr class="trportin_operator">
                        <td>Portin Operator</td>
                        <td id="tdCOportin_operator" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
                                 </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.customeroverview.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(2);

            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            $("ul.ultab li").removeClass("active");
            $("div.tab-content div").removeClass("active");
            $("li#litab0").addClass("active");
            $("#tab_1_0").addClass("active");
            $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
            $("a#detailPAYMOverview").removeClass("lightblue").addClass("white");

            ActionDetailHeaderButtons(8, $.trim('@ViewBag._mobileno'), sim);

            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

            /* TAB Order Management */
            $("a#detailPAYMOrder").live("click", function () {
                window.location = '/PAYM/OrderManagement/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB Vectone Xtra App */
            $("a#detailPAYMVectoneXtraApp").live("click", function () {
                window.location = '/PAYM/TabVectoneXtraApp/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB GENERAL */
            $("a#aPAYMTabGeneral").live("click", function () {
                window.location = '/PAYM/TabGeneral/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            $("a#detailPAYMMoreInfo").live("click", function () {
                window.location = '/PAYM/TabGeneral/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB CALL SETTINGS */
            $("a#aPAYMTabCallSettings").live("click", function () {
                window.location = '/PAYM/TabCallSettings/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SIM DETAILS */
            $("a#aPAYMTabSIMDetails").live("click", function () {
                window.location = '/PAYM/TabSIMDetails/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Product */
            $("a#detailPAYMProduct").live("click", function () {
                window.location = '/PAYM/TabBundles/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Call History */
            $("a#detailPAYMCallHistory").live("click", function () {
                window.location = '/PAYM/TabCallHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Bill */
            $("a#detailPAYMBills").live("click", function () {
                window.location = '/PAYM/TabBills/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Payment */
            $("a#detailPAYMPayment").live("click", function () {
                window.location = '/PAYM/TabPaymentHistroy/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SIMTools */
            $("a#detailPAYMSIMTools").live("click", function () {
                window.location = '/PAYM/TabSIMSwap/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB IssuesTracking  */
            $("a#detailPAYMIssuesTracking").live("click", function () {
                window.location = '/PAYM/TabIssuesTracking/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB ServiceStatusHistory"  */
            $("a#detailServiceStatusHistory").live("click", function () {
                window.location = '/PAYM/TabServiceStatusHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SMSCampaignTracking"  */
            $("a#detailSMSCampaignTracking").live("click", function () {
                window.location = '/PAYM/TabSMSCampaignTracking/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SMSSettings */
            //magi
            $("a#aPAYMTabSMSCampaignSettings_V1").live("click", function () {
                window.location = '/PAYM/TabSMSCampaignSettings/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Accountstaus  */
            $("a#detailAccountStatus").live("click", function () {
                window.location = '/PAYM/TabAccountstatus/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            // Added by karthik Jira:CRMT-196
            /* TAB Tariff Class Details */
            $("a#aTabTariffDetails").live("click", function () {
                window.location = '/PAYM/TabTariffDetails/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            // RoamingDetails
            $("a#aRoamingDetails").live("click", function () {
                window.location = '/PAYM/TabRoamingDetails/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            // BreakageUsage
            $("a#aBreakageUsage").live("click", function () {
                window.location = '/PAYM/TabBreakageUsage/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* Rajesh: Porting  */
            $("a#detailPorting").live("click", function () {
                window.location = '/PAYM/TabPorting/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            //Complaints
            $("a#detailPAYMComplaints").live("click", function () {
                window.location = '/PAYM/TabComplaints/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            $("#ajax-screen-masking2").css({ "width": $(document).outerWidth() + "px", "height": $(document).outerHeight() + "px" });

            GetOverview($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));

        });
    </script>
}