﻿@model CRM_API.Models.CustomerDetailPage
<div class="popup-message modal hide border-lightblue" id="divPayMChangePlanSelect" style="width: 600px;">
    @*<div class="modal-dialog">
        <div class="modal-content">*@
            <div class="modal-header background-lightblue">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Change PAYM Plan</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="PayMChangePlanSelect_SiteCode" name="PayMChangePlanSelect_SiteCode" value="@ViewBag._sitecode">
                <input type="hidden" id="PayMChangePlanSelect_CurrentPlan" name="PayMChangePlanSelect_CurrentPlan" value="">
                <input type="hidden" id="PayMChangePlanSelect_CurrentPlanId" name="PayMChangePlanSelect_CurrentPlanId" value="">
                <input type="hidden" id="PayMChangePlanSelect_CurrentPlanValue" name="PayMChangePlanSelect_CurrentPlanValue" value="">
                <div style="width:99%;text-align: right;">
                    <select id="ddlBundleCategory" name="ddlBundleCategory">
                        
                    </select>
                </div>
                <div id="ajax-screen-masking">
                    <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
                </div>   
                <div class="portlet-body" id="PayMChangePlanSelect" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
                    <table class="table table-bordered" id="tblPayMChangePlanSelect"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnChangePlanConfirm" type="button" class="btn blue" onclick="NextPayMChangePlanSelect('@ViewBag._mobileno')" disabled="disabled">Change</button>
                <button type="button" class="btn darkgrey" data-dismiss="modal">Cancel</button>
            </div>
        @*</div>
    </div>*@
</div>