﻿@model CRM_API.Models.CustomerDetailPage
<div class="modal" id="divPayMCancelPlanSelect">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cancel Plan</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="PayMCancelPlanSelect_CurrentPlan" name="PayMCancelPlanSelect_CurrentPlan" value="">
                <input type="hidden" id="PayMCancelPlanSelect_CurrentBundleId" name="PayMCancelPlanSelect_CurrentBundleId" value="">
                <input type="hidden" id="PayMCancelPlanSelect_PlanDescription" name="PayMCancelPlanSelect_PlanDescription" value="">
                <div id="ajax-screen-masking">
                    <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
                </div>   
                <div class="portlet-body" id="PayMCancelPlanSelect" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
                    <table id="tblPayMCancelPlanSelectConfirm" border="0">
                        <tbody>
                            <tr>
                                <td rowspan="2">Cancel Plan</td>
                                <td>&nbsp;</td>
                                <td><input type="radio" id="radioPayMCancelPlanSelect1" name="radioPayMCancelPlanSelect" value="3">&nbsp;Immediately</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><input type="radio" id="radioPayMCancelPlanSelect2" name="radioPayMCancelPlanSelect" value="4">&nbsp;After Current Cycle</td>
                            </tr>         
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="NextPayMCancelPlanSelect('@ViewBag._mobileno')">Next</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>