﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div style="padding: 10px;">
        <div class="portlet box blue" id="chFilterContainer">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <h4><span style="font-size: 18px; font-weight: bold">Search History</span></h4>
            </div>
            <div class="portlet-body">
                <table border="0" style="width: 100%">
                    <tr>
                        @*Daily usage History*@
                        <td style="width: 70px; vertical-align: top">
                            <div style="margin-right: 3px; margin-top: 10px; text-align: right">Start Date</div>
                        </td>
                        <td style="width: 170px;">
                            <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
                                <input class="span8" id="startdate" maxlength="10" name="startdate" type="text" value="">
                                <input type="hidden" id="lastdate1" value="">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </td>
                        <td style="width: 70px; vertical-align: top">
                            <div style="margin-right: 3px; margin-top: 10px; text-align: right">End Date</div>
                        </td>
                        <td style="width: 170px;">
                            <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
                                <input class="span8" id="enddate" maxlength="10" name="enddate" type="text" value="">
                                <input type="hidden" id="lastdate2" value="">
                                <span class="add-on"><i class="icon-calendar"></i></span>
                            </div>
                        </td>
                        <td style="vertical-align: top">
                            <button class="btn blue" id="btnSearchDailyusageHistory" style="width: 100px; margin-top: 2px">Search</button>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>

         <div class="portlet box blue" id="pthFilterResultContainer" style="display:none">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <h4><span style="font-size:18px;font-weight:bold">Filter Results of Daily Usage History</span></h4>
            </div>
            <div class="portlet-body" id="pthFilterResultBody" style="background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
			    <table class="table table-bordered" id="tblPTHFilterResult"></table>
		    </div>
        </div>
    </div>
}