﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div id="itIssuesListContainer" style="background: center center no-repeat; padding: 10px;"></div>
    
    <!-- New Call -->
    <div id="itPWNewIssue" class="popup-message modal hide border-lightblue" style="width: 855px; height: 523px;">
        <div class="modal-header background-lightblue" style="font-family: Arial">New Call</div>
        <div class="modal-body" style="/*height: 380px*/">
            <table id="tblNewCall" border="0" cellspacing="3" cellpadding="3">
                <tbody>
                    @* <tr>
                        <td colspan="4">
                            <span id="remaining1" style="color: #001452;">NB:Fields marked in Asterik(<span style="color:red;">*</span>) are mandatory.</span>
                            <label class="errLabel" id="lblError" style="color: red;"></label>
                        </td>
                    </tr>*@
                    <tr>
                        <td style="width: 125px; text-align: right;">Customer Name</td>
                        <td style="width: 200px; border-bottom: 1px dotted #e5e5e5; color: #505050">@ViewBag._firstname @ViewBag._lastname</td>
                        <td style="width: 200px; text-align: right;">Contact Type</td>
                        <td style="width: 200px;">
                            <select id="itPWNIcontacttype" name="itPWNIcontacttype" style="float: left; font-size: 13px; width: 97%"></select>
                            <label class="errLabel" id="errmsgcontacttype" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right;">Subscriber ID</td>
                        <td style="border-bottom: 1px dotted #e5e5e5; color: #505050">@ViewBag._subscriberid</td>
                        <td style="text-align: right;">Call Type</td>
                        <td>
                            <select id="itPWNISelectIssueType3" name="itPWNISelectIssueType3" style="float: left; font-size: 13px; width: 97%"></select>
                            <label class="errLabel" id="errmsgcalltype" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right;">Mobile No</td>
                        <td style="border-bottom: 1px dotted #e5e5e5; color: #505050">@ViewBag._mobileno</td>
                        <td style="width: 200px; text-align: right;">Category</td>
                        <td>
                            <select id="itPWNISelectIssueType2" name="itPWNISelectIssueType2" style="float: left; font-size: 13px; width: 97%">
                            </select>
                            <img id="itPWNISelectIssueType2Loader" src="~/Assets/Main/img/ajaxloader-03.gif" style="display: none" />
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td style="width: 200px; text-align: right;">Sub Category</td>
                        <td>
                            <select id="itPWNISelectIssueType1" name="itPWNISelectIssueType1" style="float: left; font-size: 13px; width: 97%">
                            </select>
                            <label class="errLabel" id="errmsgcategory" style="display: none; color: red; font-weight: bold">*</label>
                            <label class="errLabel" id="errmsgsubtype" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4">
                            <button id="btnitPWNICopytoClipboard" class="pull-left btn blue" style="margin-left: 350px;">Copy to Clipboard</button>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right;">Description</td>
                        <td colspan="3">
                            <textarea id="itPWNITAIssueDesc" name="itPWNITAIssueDesc" style="float: left; width: 97%; height: 95px; resize: none; padding: 5px; font-size: 13px" spellcheck="false"></textarea>
                            <label class="errLabel" id="errmsgdescription" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right;">Status</td>
                        <td>
                            <select id="itPWNIStatus" name="itPWNIStatus" style="float: left; font-size: 13px; width: 97%">
                            </select>
                            <label class="errLabel" id="errmsgStatus" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                        <td style="width: 200px; text-align: right;">Escalating Team</td>
                        <td>
                            <select id="itPWNIEscalatingTeam" name="itPWNIEscalatingTeam" style="float: left; font-size: 13px; width: 97%" disabled="disabled">
                            </select>
                            <label class="errLabel" id="errmsgescalated" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right;">Interval</td>
                        <td>
                            <select id="itPWNIInterval" name="itPWNIInterval" style="float: left; font-size: 13px; width: 97%" disabled="disabled">
                            </select>
                            <label class="errLabel" id="errmsginterval" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                        <td colspan="2">
                            <button id="btnNISendMail" class="btn blue" style="display: none; float: right; margin-right: 5px;">Send Mail</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50px; text-align: right;">Assigned To</td>
                        <td>
                            <select id="itPWNAssignedTo" name="itPWNAssignedTo" style="float: left; font-size: 13px; width: 97%">
                            </select>
                            <label class="errLabel" id="errmsgassignedto" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                        <td style="width: 50px; text-align: right;">Priority</td>
                        <td>
                            <select id="itPriority" name="itPriority" style="float: left; font-size: 13px; width: 97%">
                            </select>
                            <label class="errLabel" id="errmsgPriority" style="display: none; color: red; font-weight: bold">*</label>
                        </td>

                    </tr>
                    <!-- CRM Enhancement 2-->
                    <tr>
                        <td style="text-align: right;">Interval Description</td>
                        <td colspan="3">
                            <textarea id="itPWNITAIntervalDesc" name="itPWNITAIntervalDesc" style="float: left; width: 97%; height: 95px; resize: none; padding: 5px; font-size: 13px" spellcheck="false"></textarea>
                            <label class="errLabel" id="errmsgintervaldescription" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>

                </tbody>
            </table>


        </div>
        <div class="modal-footer" style="height: 30px">
            <button data-dismiss="modal" class="pull-right btn darkgrey" type="button" id="btnitPWNIClose" style="margin-right: 16px">Close</button>
            <button class="pull-right btn blue" type="button" id="btnitPWNIClear" style="margin-right: 5px">Clear</button>
            <button class="pull-right btn blue" type="button" id="btnitPWNISave">Save</button>
        </div>
    </div>
        
    <!-- Call Detail -->             
    <div id="itPWDetailIssue" class="popup-message modal hide border-lightblue" style="width: 550px; height: auto; min-height: 355px;">
        <div class="modal-header background-lightblue" style="font-family: Arial">Call Detail</div>
        <div class="modal-body" style="height: auto; min-height: 235px">
            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Call ID</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" class="clsCallID" id="itPWDIIssueID">&nbsp;</div>
            </div>
            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Call Type</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDIIssueType">&nbsp;</div>
            </div>
            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Subscriber ID</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDISubscriberID">&nbsp;</div>
            </div>
            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Customer Name</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDISubscriberName">&nbsp;</div>
            </div>
            <div style="width: 520px; height: auto; min-height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Description</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDIIssueDesc">&nbsp;</div>
            </div>
            @* <div style="width: 520px; height: auto; min-height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Solution Desc</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5; line-height: 19px;" id="itPWDISolutionDesc">&nbsp;</div>
            </div>*@
            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Submit By</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDISubmitBy">&nbsp;</div>
            </div>
            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Submit Date</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDISubmitDate">&nbsp;</div>
            </div>

            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Contact Type</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDIContacttype">&nbsp;</div>
            </div>

            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Status</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDIStatus">&nbsp;</div>
            </div>

            @*<div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Jira Tickets</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDIJiratickets">&nbsp;</div>
            </div>*@
            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Category</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDICategory">&nbsp;</div>
            </div>
            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Sub Category</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDISubCategory">&nbsp;</div>
            </div>

            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Escalated To</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDIEscalatedTo">&nbsp;</div>
            </div>

            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Assigned To</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDAssignedTo">&nbsp;</div>
            </div>

            <div style="width: 520px; height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Interval</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDIIntreval">&nbsp;</div>
            </div>

            <!-- CRM Enhancement 2-->
            <div style="width: 520px; height: auto; min-height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">Interval Desc</div>
                <div style="float: left; width: 390px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWDIIntervalDesc">&nbsp;</div>
            </div>
            <div style="width: 520px; height: auto; min-height: 30px; float: left">
                <div style="width: 125px; float: left; font-weight: bold">History</div>
                <button class="pull-right btn blue" type="button" id="itPWDIHistory"  data-toggle="modal" data-target="#HistoryContainer" >History</button>
                  

            </div>
        </div>

        <div class="modal-footer" style="height: 30px">
            <button data-dismiss="modal" class="pull-right btn darkgrey" type="button" id="btnITPWDetailIssueClose" style="margin-right: 10px">Close</button>
        </div>
    </div>

    <!-- Update Call -->
    <div id="itPWUpdateIssue" class="popup-message modal hide border-lightblue" style="width: 855px; height: 523px;">
        <div class="modal-header background-lightblue" style="font-family: Arial">Update Call</div>
        <div class="modal-body" style="/*height: 510px; */">
            <table id="tblEditCall" border="0" cellspacing="3" cellpadding="3">
                <tbody>
                    <tr>
                        <td style="width: 125px; text-align: right;">Customer Name</td>
                        <td style="width: 200px; color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWUISubscriberName"></td>
                        <td style="width: 200px; text-align: right;">Contact Type</td>
                        <td style="width: 200px;">
                            <select id="itPWUIcontacttype" name="itPWUIcontacttype" style="float: left; font-size: 13px; width: 97%"></select>
                            <label class="errLabel" id="errmsgUcontacttype" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Subscriber ID</td>
                        <td style="color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWUISubscriberID"></td>
                        <td style="text-align: right;">Call Type</td>
                        <td>
                            <select id="itPWUISelectIssueType3" name="itPWUISelectIssueType3" style="float: left; font-size: 13px; width: 97%"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Call ID</td>
                        <td id="itPWUIIssueID" style="color: #505050; border-bottom: 1px dotted #e5e5e5"></td>
                        <td style="width: 200px; text-align: right;">Category</td>
                        <td>
                            <select id="itPWUISelectIssueType2" name="itPWUISelectIssueType2" style="float: left; font-size: 13px; width: 97%">
                            </select>
                            <img id="itPWUISelectIssueType2Loader" src="~/Assets/Main/img/ajaxloader-03.gif" style="display: none" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td style="width: 200px; text-align: right;">Sub Category</td>
                        <td>
                            <select id="itPWUISelectIssueType1" name="itPWUISelectIssueType1" style="float: left; font-size: 13px; width: 97%">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <button id="btnitPWUICopytoClipboard" class="pull-left btn blue" style="margin-left: 350px;">Copy to Clipboard</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Description</td>
                        <td colspan="3">
                            <textarea id="itPWUITAIssueDesc" name="itPWUITAIssueDesc" style="float: left; width: 97%; height: 95px; resize: none; padding: 5px; font-size: 13px" spellcheck="false"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Submit By</td>
                        <td style="color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWUISubmitBy"></td>
                        <td style="width: 200px; text-align: right;">Submit Date</td>
                        <td style="color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWUISubmitDate"></td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">History Issue</td>
                        <td style="color: #505050; border-bottom: 1px dotted #e5e5e5" id="itPWUIHistoryIssue"></td>
                        <td style="width: 200px; text-align: right;">Status</td>
                        <td>
                            <select id="itPWUIStatus" name="itPWUIStatus" style="float: left; font-size: 13px; width: 97%">
                            </select>
                            <label class="errLabel" id="errmsgUStatus" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">Interval</td>
                        <td>
                            <select id="itPWUIInterval" name="itPWUIInterval" style="float: left; font-size: 13px; width: 97%" disabled="disabled">
                            </select>
                            <label class="errLabel" id="errmsgUinterval" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                        <td style="width: 200px; text-align: right;">Escalating Team</td>
                        <td>
                            <select id="itPWUIEscalatingTeam" name="itPWUIEscalatingTeam" style="float: left; font-size: 13px; width: 97%" disabled="disabled">
                            </select>
                            <label class="errLabel" id="errmsgUescalated" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>
                    <!--CRM Enhancement 2-->
                    <tr>
                        <td style="text-align: right;">Interval Description</td>
                        <td colspan="3">
                            <textarea id="itPWUITAIntervalDesc" name="itPWUITAIntervalDesc" style="float: left; width: 97%; height: 95px; resize: none; padding: 5px; font-size: 13px" spellcheck="false"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table> 
        </div>  
       @* <div id="HistoryContainer" class="popup-message modal  border-lightblue" style="width: 800px;">
            <div class="modal-header background-lightblue" style="font-family: Arial">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;"></button>
                <h4 class="modal-title">History Details</h4>
            </div>
            <div class="modal-body">
                <div id="HistoryContainerBody" style="width: 100%; height: 250px;">
                    <table class="table table-bordered table-hover" id="tblitPWDIHistory"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnHistoryclose" style="width: 100px;">Close</button>
            </div>
        </div>*@
        <div class="modal-footer" style="height: 35px">
            <button data-dismiss="modal" class="pull-right btn darkgrey" type="button" id="btnITPWUIClose" style="margin-right: 10px">Cancel</button>
            <button class="pull-right btn blue" type="button" id="btnITPWUISave" style="margin-right: 5px">Save</button>
        </div>
    </div>
    
    <input type="hidden" id="hidValiIssueID" name="hidValiIssueID" />
    <input type="hidden" id="hidValiFunctionid" name="hidValiFunctionid" />
    <input type="hidden" id="hidValiComplianid" name="hidValiComplianid" />   
    <input type="hidden" id="hidValiEsclatedTo" name="hidValiEsclatedTo" />   
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
     <div class="modal fade" id="HistoryContainer" role="dialog">
            <div class="modal-dialog"> 
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                        <h4 class="modal-title">History Details</h4>
                    </div>
                    <div class="modal-body">
                        <div id="HistoryContainerBody" style="width: 100%; height: 250px;">
                            <table class="table table-bordered table-hover" id="tblitPWDIHistory"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
}