﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "PAY-M Customer Detail";
}
@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Details</div>
                    </h4>
                </div>
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/PAYM/_DetailHeaderButtonPAYM.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
                                <li id="litab0"><a id="aPAYMTabGeneral" href="javascript:void(0)">General</a></li>
                                <li id="litab1"><a id="aPAYMTabCallSettings" href="javascript:void(0)">Call Setings</a></li>
                                <li id="litab2"><a id="aPAYMTabSIMDetails" href="javascript:void(0)">SIM Details</a></li>
                                <!-- 07-Aug-2015 : Moorthy Modified to display only for VMUK -->
                                @if (ViewBag._productcode == "VMUK")
                                {
                                    <li id="litab3"><a id="aPAYMTabSMSCampaignSettings_V1" href="javascript:void(0)">Campaign Settings</a></li>
                                }
                                <!--Added by karthik Jira:CRMT-196 -->
                                <li id="litab4"><a id="aTabTariffDetails" href="javascript:void(0)">Tariff Class</a></li>
                                <!-- RoamingDetails -->
                                <li id="litab5"><a id="aRoamingDetails" href="javascript:void(0)">Roaming</a></li>
                                <!-- BreakageUsage -->
                                <li id="litab6"><a id="aBreakageUsage" href="javascript:void(0)">Breakage Usage</a></li>
                                <!-- AutoRenewal 
                                <li id="litab7"><a id="aAutoRenewal" href="javascript:void(0)">Auto Renewal</a></li>-->
                            </ul>
                            <!-- End Header Tabs -->
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_1_0">
                                    @if (Model.ActiveTab == "TabGeneral")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabGeneral.cshtml")
                                    }
                                </div>
                                <div class="tab-pane" id="tab_1_1">
                                    @if (Model.ActiveTab == "TabCallSettings")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabCallSettings.cshtml")
                                    }
                                </div>
                                <div class="tab-pane" id="tab_1_2">
                                    @if (Model.ActiveTab == "TabSIMDetails")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabSIMDetails.cshtml")
                                    }
                                </div>
                                @*//magi*@
                                <div class="tab-pane" id="tab_1_3">
                                    @if (Model.ActiveTab == "TabSMSCampaignSettings")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabSMSCampaignSettings.cshtml")
                                    }
                                </div>
                                <!--Added by karthik Jira:CRMT-196 -->
                                <div class="tab-pane" id="tab_1_4">
                                    @if (Model.ActiveTab == "TabTariffDetails")
                                    {
                                        @Html.Partial("~/Views/PAYM/_Tabtariff.cshtml")
                                    }
                                </div>
                                <!-- RoamingDetails -->
                                <div class="tab-pane" id="tab_1_5">
                                    @if (Model.ActiveTab == "TabRoamingDetails")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabRoamingDetails.cshtml")
                                    }
                                </div>
                                <!-- BreakageUsage -->
                                <div class="tab-pane" id="tab_1_6">
                                    @if (Model.ActiveTab == "TabBreakageUsage")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabBreakageUsage.cshtml")
                                    }
                                </div>
                                <!-- AutoRenewal -->
                                <div class="tab-pane" id="tab_1_7">
                                    @if (Model.ActiveTab == "TabAutoRenewal")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabAutoRenewal.cshtml")
                                    }
                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @if (Model.ActiveTab == "TabGeneral")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.general.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                $("#ajax-screen-masking2").css({ "width": $(document).outerWidth() + "px", "height": $(document).outerHeight() + "px" });

                GeneralInfo($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));

                $("#btnGIEditCustomer").live("click", function () {
                    LoadDefaultCustomerInfo();
                    $('#GIEditCustomer').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                    $("[name=iGIECFirstName]").focus();
                });

                $("#btnGIEditSave").on("click", function () {
                    var p1 = $("input[name=iGIECFirstName]").val();
                    var p2 = $("input[name=iGIECLastName]").val();
                    var p3 = $("input[name=iGIECEmail]").val();
                    var p4 = convertDate01($("input[name=_iGIECDOB]").val());
                    var p5 = $("input[name=iGIECHouseNo]").val();
                    var p6 = $("input[name=iGIECAddress1]").val();
                    var p7 = $("input[name=iGIECAddress2]").val();
                    var p8 = $("input[name=iGIECCity]").val();
                    var p9 = $("input[name=iGIECPostCode]").val();
                    var p10 = $("select[name=iGIECCountry]").val();
                    var p11 = $.trim('@ViewBag._sitecode');
                    var p12 = $("input[name=iGIECSubscriberID]").val();
                    var p13 = "";
                    var p14 = $("input[name=iGIECAlternateNumber]").val();
                    var p15 = $("input[name=iGIECSecurityAnswer]").val();

                    //31-Jan-2109 : Commented Email Validation: As per Sabari request
                    //if (p1 != "" && p2 != "" && p3 != "" && p4 != "" && p5 != "" && p6 != "" && p8 != "" && p9 != "" && p10 != "" && p12 != "" && p14 != "" && p15 != "") {
                    //if (validateEmail(p3)) {
                    $('#GIEditCustomer').modal('hide');
                    SaveEditCustomerInfo(p1, p2, p3, p4, p5, p6, p7, p8, p9, p10, p11, p12, p13, p14, p15);
                    //} else {
                    //    $("#pmGeneralInfo").css({
                    //        "margin-left": (($(window).outerWidth() - 350) / 2) + "px",
                    //        "margin-top": (($(window).outerHeight() - 300) / 2) + "px"
                    //    });
                    //$("#ajax-screen-masking2").show();
                    //}
                    //}
                    //else {
                    //    alert("Fill all mandatory fields!");
                    //}
                });

                $("input[name=iGIECDOB]").focusout(function () {
                    $("input[name=_iGIECDOB]").val($(this).val())
                });

                $(".btnPMSuccessOK").on("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        window.location.reload();
                    }
                });
                $(".btnPMFailedOK").on("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        window.location.reload();
                    } else if (attrAlt == 2) {
                        $('#GIEditCustomer').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                        $("[name=iGIECEmail]").focus();
                    }
                });

                $(".btnPMGeneralInfo_OK").on("click", function () {
                    $("#ajax-screen-masking2").hide();
                    $('#GIEditCustomer').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                    $("[name=iGIECEmail]").focus();
                });

                // Reset MyAccount Password Send Mail
                $("#btnResetMyAccountPasswordSendMail").on("click", function () {
                    if (confirm("Are you sure you want to send email? "))
                        ResetMyAccountPasswordSendMail(sitecode, msisdn, password, firstname, email, $(".username").html());
                });

                //Reset MyAccount Password
                $("#btnResetMyAccountPassword").on("click", function () {
                    $("#tdResetPwdError").html("");
                    $("#txtRPNewPassword").val("");
                    $("#txtRPConfirmPassword").val("");
                    $('#ResetPasswordPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                $("#btnResetPwdSave").on("click", function () {
                    if ($("#txtRPNewPassword").val().trim() != "" && $("#txtRPConfirmPassword").val().trim() != "") {
                        if ($("#txtRPNewPassword").val().trim() === $("#txtRPConfirmPassword").val().trim()) {
                            $("#tdResetPwdError").html("");
                            var sitecode = $.trim('@ViewBag._sitecode');
                            var msisdn = $.trim('@ViewBag._mobileno');
                            var firstname = $.trim('@ViewBag._firstname');
                            var email = $.trim('@ViewBag._email');
                            var password = $("#txtRPNewPassword").val().trim();
                            ResetMyAccountPassword(sitecode, msisdn, password, firstname, email, $(".username").html());
                        }
                        else {
                            $("#tdResetPwdError").html("Password mismatch!");
                        }
                    }
                    else {
                        $("#tdResetPwdError").html("Enter Password!");
                    }
                });

                //07-Sep-2019: Moorthy : Added for AT Sim Activation
                $("#btnActivateCustomerSimAT").on("click", function () {
                    if (confirm('Are you sure, you want to Activate the SIM?')) {
                        var sitecode = $.trim('@ViewBag._sitecode');
                        var iccid = $.trim('@ViewBag._iccid');
                        var mobileno = $.trim('@ViewBag._mobileno');
                        var email = $.trim('@ViewBag._email');
                        var first_name = $.trim('@ViewBag._firstname');
                        var last_name = $.trim('@ViewBag._lastname'); 
                        var birthdate = $("#tdCGIBirthDate").html();
                        var postcode = $("#tdCGIPostcode").html();
                        var address = $("#tdCGIAddress1").html() + " " + $("#tdCGICity").html();
                        ActivateCustomerSimAT(sitecode, iccid, mobileno, email, birthdate, first_name, last_name, postcode, address, $(".username").html());
                    }
                });
            });
        </script>
    }
    else if (Model.ActiveTab == "TabCallSettings")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.callsettings.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                CallSettingsInfo($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._iccid'), $.trim('@ViewBag._sitecode'));

                $("#btnEditCallSettings").live("click", function () {
                    var arrDefValue = $("[name=defValueCallSettings]").val().split("|");
                    var defValue = [
                        convertNulltoEmptyString(arrDefValue[0]),
                        convertNulltoEmptyString(arrDefValue[1]),
                        convertNulltoEmptyString(arrDefValue[2]),
                        convertNulltoEmptyString(arrDefValue[3]),
                        convertNulltoEmptyString(arrDefValue[4]),
                        convertNulltoEmptyString(arrDefValue[5]),
                        convertNulltoEmptyString(arrDefValue[6]),
                        convertNulltoEmptyString(arrDefValue[7]),
                        convertNulltoEmptyString(arrDefValue[8]),
                        convertNulltoEmptyString(arrDefValue[9]),
                        convertNulltoEmptyString(arrDefValue[10]),
                        convertNulltoEmptyString(arrDefValue[11]),
                        convertNulltoEmptyString(arrDefValue[12]),
                        convertNulltoEmptyString(arrDefValue[13]),
                        convertNulltoEmptyString(arrDefValue[14]),
                        convertNulltoEmptyString(arrDefValue[15]),
                        convertNulltoEmptyString(arrDefValue[16])
                    ]
                    defValueEditSettings(defValue);

                    $("[name=ecfsAFSettingSelect]").trigger("change");
                    $("[name=ecfsFWUASettingSelect]").trigger("change");
                    $("[name=ecfsFWBSettingSelect]").trigger("change");
                    $("[name=ecfsFWURSettingSelect]").trigger("change");

                    $('#CSetEditCallForwading').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                // Always forward
                $("span#ecfsAFMobileNoContainer").hide();
                $("[name=ecfsAFSettingSelect]").live("change", function () {
                    if ($(this).val() == 2) {
                        $("span#ecfsAFMobileNoContainer").show();
                    } else {
                        $("span#ecfsAFMobileNoContainer").hide();
                        $("input[name=ecfsAFMobileNo]").val("");
                    }
                });

                // Forward when busy
                $("span#ecfsFWBMobileNoContainer").hide();
                $("[name=ecfsFWBSettingSelect]").live("change", function () {
                    if ($(this).val() == 2) {
                        $("span#ecfsFWBMobileNoContainer").show();
                    } else {
                        $("span#ecfsFWBMobileNoContainer").hide();
                        $("input[name=ecfsFWBMobileNo]").val("");
                    }
                });

                // Forward when unanswered
                $("span#ecfsFWUAMobileNoContainer, span#ecfsFWUAReplyTimeContainer").hide();
                $("[name=ecfsFWUASettingSelect]").live("change", function () {
                    if ($(this).val() == 1) {
                        $("span#ecfsFWUAMobileNoContainer").hide();
                        $("span#ecfsFWUAReplyTimeContainer").show();
                    } else if ($(this).val() == 2) {
                        $("span#ecfsFWUAMobileNoContainer, span#ecfsFWUAReplyTimeContainer").show();
                    } else {
                        $("span#ecfsFWUAMobileNoContainer, span#ecfsFWUAReplyTimeContainer").hide();
                        $("input[name=ecfsFWUAMobileNo]").val("");
                        $("select[name=ecfsFWUAReplyTime]").val("");
                    }
                });

                // Forward when unreachable
                $("span#ecfsFWURMobileNoContainer").hide();
                $("[name=ecfsFWURSettingSelect]").live("change", function () {
                    if ($(this).val() == 2) {
                        $("span#ecfsFWURMobileNoContainer").show();
                    } else {
                        $("span#ecfsFWURMobileNoContainer").hide();
                        $("input[name=ecfsFWURMobileNo]").val("");
                    }
                });

                $("#btnCSetSave").live("click", function () {
                    var MobileNo = $.trim('@ViewBag._mobileno');
                    var Iccid = $.trim('@ViewBag._iccid');
                    var Sitecode = $.trim('@ViewBag._sitecode');
                    var arrCFWStatusName = new Array("Call Forwarding Disabled", "Forwarded to Voice Mail", "Forwarded to ");
                    var CountryCode = $.trim($("input[name=CSetCountryCode]").val());
                    var arrSettings = new Array();

                    var arrDefValue = $("[name=defValueCallSettings]").val().split("|");
                    var idxArray = 0;

                    if (arrDefValue[0] != '') {
                        // Always Forward
                        var afCFWStatus = parseInt($("select[name=ecfsAFSettingSelect]").val());
                        if (afCFWStatus == 2) {
                            var afForwardToNb = $.trim($("input[name=ecfsAFMobileNo]").val());
                            var afCFWStatusName = arrCFWStatusName[afCFWStatus] + afForwardToNb;
                        } else {
                            var afForwardToNb = "";
                            var afCFWStatusName = arrCFWStatusName[afCFWStatus];
                        }
                        arrSettings[idxArray] = {
                            MobileNo: MobileNo,
                            Iccid: Iccid,
                            Sitecode: Sitecode,
                            CFWType: 33,
                            eCFWType: 33,
                            CFWTypeName: $.trim(arrDefValue[0].toLowerCase()),
                            ForwardToNb: afForwardToNb,
                            NoReplyTimer: 0,
                            CFWStatus: afCFWStatus,
                            CFWStatusName: afCFWStatusName,
                            CountryCode: CountryCode
                        }
                        idxArray = idxArray + 1;
                    }

                    if (arrDefValue[4] != '') {
                        // Forward when busy
                        var fwbCFWStatus = parseInt($("select[name=ecfsFWBSettingSelect]").val());
                        if (fwbCFWStatus == 2) {
                            var fwbForwardToNb = $.trim($("input[name=ecfsFWBMobileNo]").val());
                            var fwbCFWStatusName = arrCFWStatusName[fwbCFWStatus] + fwbForwardToNb;
                        } else {
                            var fwbForwardToNb = "";
                            var fwbCFWStatusName = arrCFWStatusName[fwbCFWStatus];
                        }
                        arrSettings[idxArray] = {
                            MobileNo: MobileNo,
                            Iccid: Iccid,
                            Sitecode: Sitecode,
                            CFWType: 41,
                            eCFWType: 41,
                            CFWTypeName: $.trim(arrDefValue[4].toLowerCase()),
                            ForwardToNb: fwbForwardToNb,
                            NoReplyTimer: 0,
                            CFWStatus: fwbCFWStatus,
                            CFWStatusName: fwbCFWStatusName,
                            CountryCode: CountryCode
                        }
                        idxArray = idxArray + 1;
                    }

                    if (arrDefValue[8] != '') {
                        // Forward when unanswered
                        var fwuaCFWStatus = parseInt($("select[name=ecfsFWUASettingSelect]").val());
                        if (fwuaCFWStatus == 2) {
                            var fwuaForwardToNb = $.trim($("input[name=ecfsFWUAMobileNo]").val());
                            var fwuaCFWStatusName = arrCFWStatusName[fwuaCFWStatus] + fwuaForwardToNb;
                            var fwuaNoReplyTimer = parseInt($("select[name=ecfsFWUAReplyTime]").val());
                        } else {
                            var fwuaForwardToNb = "";
                            var fwuaCFWStatusName = arrCFWStatusName[fwuaCFWStatus];
                            var fwuaNoReplyTimer = parseInt($("select[name=ecfsFWUAReplyTime]").val());//CRMT-262 checking 
                        }
                        arrSettings[idxArray] = {
                            MobileNo: MobileNo,
                            Iccid: Iccid,
                            Sitecode: Sitecode,
                            CFWType: 42,
                            eCFWType: 42,
                            CFWTypeName: $.trim(arrDefValue[8].toLowerCase()),
                            ForwardToNb: fwuaForwardToNb,
                            NoReplyTimer: fwuaNoReplyTimer,
                            CFWStatus: fwuaCFWStatus,
                            CFWStatusName: fwuaCFWStatusName,
                            CountryCode: CountryCode
                        }
                        idxArray = idxArray + 1;
                    }

                    if (arrDefValue[13] != '') {
                        // Forward when unreachable
                        var fwurCFWStatus = parseInt($("select[name=ecfsFWURSettingSelect]").val());
                        if (fwurCFWStatus == 2) {
                            var fwurForwardToNb = $.trim($("input[name=ecfsFWURMobileNo]").val());
                            var fwurCFWStatusName = arrCFWStatusName[fwurCFWStatus] + fwurForwardToNb;
                        } else {
                            var fwurForwardToNb = "";
                            var fwurCFWStatusName = arrCFWStatusName[fwurCFWStatus];
                        }
                        arrSettings[idxArray] = {
                            MobileNo: MobileNo,
                            Iccid: Iccid,
                            Sitecode: Sitecode,
                            CFWType: 43,
                            eCFWType: 43,
                            CFWTypeName: $.trim(arrDefValue[13].toLowerCase()),
                            ForwardToNb: fwurForwardToNb,
                            NoReplyTimer: 0,
                            CFWStatus: fwurCFWStatus,
                            CFWStatusName: fwurCFWStatusName,
                            CountryCode: CountryCode
                        }
                        idxArray = idxArray + 1;
                    }
                    SaveEditSettings(arrSettings);
                });

                $(".btnPMSuccessOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        window.location.reload();
                    }
                });
                $(".btnPMFailedOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        window.location.reload();
                    }
                });

            });
        </script>
    }
    else if (Model.ActiveTab == "TabSIMDetails")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.simdetails.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                SIMDetailsInfoPAYM($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._iccid'), $.trim('@ViewBag._sitecode'));
                $("#btncanceld1").click(function () {
                    //   LoadDefaultCustomerInfo();
                    $("#hdVal").val('0');

                    $("#lblheaderid").text('Do you want to Cancel the Location?');
                    $("#lblbodyid").text('Cancel Location');
                    $('#Nothing').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });


                $("#btnGprscanceld1").click(function () {
                    //   LoadDefaultCustomerInfo();

                    $("#hdVal").val('1');
                    $("#lblheaderid").text('Do you want to Cancel the GPRS?');
                    $("#lblbodyid").text('GPRS Cancel Location');

                    $('#Nothing').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });




                $("#btnODOK").click(function () {

                    var hd = $("#hdVal").val();
                    if (hd != '1') {

                        cancellocation();
                    }
                    else {
                        Gprscancellocation();
                    }


                });

            });
        </script>
        <script type="text/javascript">
            $(".btnPMSuccessOK").click("click", function () {
                var attrAlt = parseInt($(this).attr("alt"));
                if (attrAlt == 1) {
                    window.location.reload();
                }
            });
        </script>
        <script type="text/javascript">
            $(".btnPMFailedOK").click("click", function () {
                var attrAlt = parseInt($(this).attr("alt"));
                if (attrAlt == 1) {
                    window.location.reload();
                }
            });
        </script>
        <script type="text/javascript">
            //To Reset Values for MNFR
            $("#btnReset").click(function () {
                var url = apiServer + '/api/SimReset';
                jQuery.support.cors = true;
                var JSONSendData = {
                    Msisdn: $.trim('@ViewBag._mobileno'),
                    Iccid: $.trim('@ViewBag._iccid'),
                    Sitecode: $.trim('@ViewBag._sitecode')
                };
                $.ajax
                ({
                    url: url,
                    type: 'get',
                    data: JSONSendData,
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    success: function (feedback) {
                        $("#btnReset").hide();
                    }
                });
                window.location.reload();
            });

            //ODB Out
            $("#btnODBOut").click(function () {
                $("#ajax-screen-masking").show();
                var calledby = $(".username").html()
                var status = $(this).html() == "Disable" ? 1 : 0;
                var url = apiServer + '/api/ODBOut';
                jQuery.support.cors = true;
                var JSONSendData = {
                    sitecode: $.trim('@ViewBag._sitecode'),
                    iccid: $.trim('@ViewBag._iccid'),
                    calledby: calledby,
                    status: status
                };
                $.ajax
                ({
                    url: url,
                    type: 'get',
                    data: JSONSendData,
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    success: function (feedback) {
                        $("#ajax-screen-masking").hide();
                        alert(feedback[0].errmsg);
                        if (feedback[0].errcode == 0) {
                            if (status == 1) {
                                $("table#tblCustomerSIMDetails td#tdCSDODBOut").html("Disable");
                                $("#btnODBOut").html("Enable");
                            }
                            else {
                                $("table#tblCustomerSIMDetails td#tdCSDODBOut").html("Enable");
                                $("#btnODBOut").html("Disable");
                            }
                        }
                        else {

                        }
                    },
                    error: function (feedback) {
                        $("#ajax-screen-masking").hide();
                    }
                });
            });
        </script>
    }
    //magi
    else if (Model.ActiveTab == "TabSMSCampaignSettings")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.SMSCampaign.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                $("#tblSMSCampaignSettingsContainer").show();
            });
        </script>
    }
    //Added by karthik Jira:CRMT-196 
    else if (Model.ActiveTab == "TabTariffDetails")
    {
@*<script type="text/javascript" src="~/Assets/Main/js/crm.engine.general.js"></script>*@
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.tariffclass.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                $("#ajax-screen-masking2").css({ "width": $(document).outerWidth() + "px", "height": $(document).outerHeight() + "px" });

                TariffclassInfo($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));

            });
        </script>
    }
    //RoamingDetails
    else if (Model.ActiveTab == "TabRoamingDetails")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.roaming.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                RoamingDetailsInfo($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._iccid'), $.trim('@ViewBag._sitecode'));
                $("#tblCustomerRoamingContainer").show();
            });
        </script>
    }
    //BreakageUsage
    else if (Model.ActiveTab == "TabBreakageUsage")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.breakageusage.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var date_fr = convertDate01($("input#lastdate1").val());
                var date_to = convertDate01($("input#lastdate2").val());
                $("input[name=hStartDate]").val(convertDate01($("input#lastdate1").val()));
                $("input[name=hEndDate]").val(convertDate01($("input#lastdate2").val()));
                var mobileno = $.trim('@ViewBag._mobileno');
                var sitecode = $.trim('@ViewBag._sitecode');

                $("#chFilterResultContainer").show();
                BreakageUsage(mobileno, sitecode, date_fr, date_to);

                $("#btnSearchHistory").live("click", function () {
                    var date_fr = convertDate01($("input#lastdate1").val());
                    var date_to = convertDate01($("input#lastdate2").val());
                    $("input[name=hStartDate]").val(convertDate01($("input#lastdate1").val()));
                    $("input[name=hEndDate]").val(convertDate01($("input#lastdate2").val()));
                    var mobileno = $.trim('@ViewBag._mobileno');
                    var sitecode = $.trim('@ViewBag._sitecode');

                    $("#chFilterResultContainer").show();
                    BreakageUsage(mobileno, sitecode, date_fr, date_to);
                });
            });
        </script>
    }
    //AutoRenewal
    else if (Model.ActiveTab == "TabAutoRenewal")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.autorenewal.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                GetAutoRenewalInfo($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
                $("#tblAutoRenewalContainer").show();

                $("#btnEnableDisable").live("click", function () {
                    if (confirm("Are your sure, want to " + $("#btnEnableDisable").html() + "?")) {
                        EnableDisableProcess($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._iccid'), $(".username").html(), $("#btnEnableDisable").html() == "Enable" ? 1 : 2, $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._firstname'), $.trim('@ViewBag._email'));
                    }
                });
            });
        </script>
    }
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(2);
            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            if ($.trim(splitURL[2]).toLowerCase() === 'tabgeneral') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab0").addClass("active");
                $("#tab_1_0").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMMoreInfo").removeClass("lightblue").addClass("white");
            }
            if ($.trim(splitURL[2]).toLowerCase() === 'tabcallsettings') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab1").addClass("active");
                $("#tab_1_1").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMMoreInfo").removeClass("lightblue").addClass("white");
            }
            if ($.trim(splitURL[2]).toLowerCase() === 'tabsimdetails') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab2").addClass("active");
                $("#tab_1_2").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMMoreInfo").removeClass("lightblue").addClass("white");
            }
            //magi
            if ($.trim(splitURL[2]).toLowerCase() === 'tabsmscampaignsettings') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab3").addClass("active");
                $("#tab_1_3").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMMoreInfo").removeClass("lightblue").addClass("white");
            }
            // Added by karthik Jira:CRMT-196
            if ($.trim(splitURL[2]).toLowerCase() === 'tabtariffdetails') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab4").addClass("active");
                $("#tab_1_4").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailMoreInfo").removeClass("lightblue").addClass("white");
                $("a#detailPAYMMoreInfo").removeClass("lightblue").addClass("white");
            }

            //RoamingDetails
            if ($.trim(splitURL[2]).toLowerCase() === 'tabroamingdetails') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab5").addClass("active");
                $("#tab_1_5").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailMoreInfo").removeClass("lightblue").addClass("white");
                $("a#detailPAYMMoreInfo").removeClass("lightblue").addClass("white");
            }

            //BreakageUsage
            if ($.trim(splitURL[2]).toLowerCase() === 'tabbreakageusage') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab6").addClass("active");
                $("#tab_1_6").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailMoreInfo").removeClass("lightblue").addClass("white");
                $("a#detailPAYMMoreInfo").removeClass("lightblue").addClass("white");
            }

            //AutoRenewal
            if ($.trim(splitURL[2]).toLowerCase() === 'tabautorenewal') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab7").addClass("active");
                $("#tab_1_7").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailMoreInfo").removeClass("lightblue").addClass("white");
                $("a#detailPAYMMoreInfo").removeClass("lightblue").addClass("white");
            }

            /* TAB Order Management */
            $("a#detailPAYMOrder").live("click", function () {
                window.location = '/PAYM/OrderManagement/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB Vectone Xtra App */
            $("a#detailPAYMVectoneXtraApp").live("click", function () {
                window.location = '/PAYM/TabVectoneXtraApp/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB OVERVIEW */
            $("a#detailPAYMOverview").live("click", function () {
                window.location = '/PAYM/TabPOverview/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB GENERAL */
            $("a#aPAYMTabGeneral").live("click", function () {
                window.location = '/PAYM/TabGeneral/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB CALL SETTINGS */
            $("a#aPAYMTabCallSettings").live("click", function () {
                window.location = '/PAYM/TabCallSettings/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SIM DETAILS */
            $("a#aPAYMTabSIMDetails").live("click", function () {
                window.location = '/PAYM/TabSIMDetails/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Product */
            $("a#detailPAYMProduct").live("click", function () {
                window.location = '/PAYM/TabBundles/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Call History */
            $("a#detailPAYMCallHistory").live("click", function () {
                window.location = '/PAYM/TabCallHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Bill */
            $("a#detailPAYMBills").live("click", function () {
                window.location = '/PAYM/TabBills/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Payment */
            $("a#detailPAYMPayment").live("click", function () {
                window.location = '/PAYM/TabPaymentHistroy/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SIMTools */
            $("a#detailPAYMSIMTools").live("click", function () {
                window.location = '/PAYM/TabSIMSwap/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB IssuesTracking  */
            $("a#detailPAYMIssuesTracking").live("click", function () {
                window.location = '/PAYM/TabIssuesTracking/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB ServiceStatusHistory"  */
            $("a#detailServiceStatusHistory").live("click", function () {
                window.location = '/PAYM/TabServiceStatusHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SMSCampaignTracking"  */
            $("a#detailSMSCampaignTracking").live("click", function () {
                window.location = '/PAYM/TabSMSCampaignTracking/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SMSSettings */
            //magi
            $("a#aPAYMTabSMSCampaignSettings_V1").live("click", function () {
                window.location = '/PAYM/TabSMSCampaignSettings/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Accountstaus  */
            $("a#detailAccountStatus").live("click", function () {
                window.location = '/PAYM/TabAccountstatus/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            // Added by karthik Jira:CRMT-196
            /* TAB Tariff Class Details */
            $("a#aTabTariffDetails").live("click", function () {
                window.location = '/PAYM/TabTariffDetails/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            // RoamingDetails
            $("a#aRoamingDetails").live("click", function () {
                window.location = '/PAYM/TabRoamingDetails/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            // BreakageUsage
            $("a#aBreakageUsage").live("click", function () {
                window.location = '/PAYM/TabBreakageUsage/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            // AutoRenewal
            $("a#aAutoRenewal").live("click", function () {
                window.location = '/PAYM/TabAutoRenewal/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            ActionDetailHeaderButtons(1, $.trim('@ViewBag._mobileno'), sim);
            //CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));
        });
    </script>
}