﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "PAYM - Payment Profile.";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Details</div>
                    </h4>
                </div>
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/PAYM/_DetailHeaderButtonPAYM.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">

                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
                                @*/*  <li id="litab0"><a id="aTabSIMSwap" href="javascript:void(0)">SIM Swap</a></li>*@
                                <li id="litab0"><a id="aPAYMPaymentHistroy" href="javascript:void(0)">Payment Histroy</a></li>
                                <li id="litab1"><a id="aPAYMPaymentProfile" href="javascript:void(0)">Payment Profile</a></li>
                                <!-- 25-Feb-2019 : Moorthy : CRMIMP-18 - Daily usage history -->
                                <li id="litab2"><a id="aPAYMDailyUsageHistory" href="javascript:void(0)">Daily Usage History</a></li>
                            </ul>
                            <!-- End Header Tabs -->
                            <div class="tab-content">
                                @*<div class="tab-pane" id="tab_1_0">
                                    @if (Model.ActiveTab == "TabPAYMSIMSwap")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabSIMSwap.cshtml")
                                    }

                                </div>*@
                                <div class="tab-pane" id="tab_1_0">
                                    @if (Model.ActiveTab == "TabPaymentHistroy")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabPaymentHistroy.cshtml")
                                    }
                                </div>
                                <div class="tab-pane" id="tab_1_1">
                                    @if (Model.ActiveTab == "TabPaymentProfile")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabPaymentProfile.cshtml")
                                    }
                                </div>
                                <!-- 25-Feb-2019 : Moorthy : CRMIMP-18 - Daily usage history -->
                                <div class="tab-pane" id="tab_1_2">
                                    @if (Model.ActiveTab == "TabDailyUsageHistory")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabDailyUsageHistory.cshtml")
                                    }
                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(2);
            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];
            if ($.trim(splitURL[2]).toLowerCase() === 'tabpaymenthistroy') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab0").addClass("active");
                $("#tab_1_0").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMPayment").removeClass("lightblue").addClass("white");
            }
            if ($.trim(splitURL[2]).toLowerCase() === 'tabpaymentprofile') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab1").addClass("active");
                $("#tab_1_1").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMPayment").removeClass("lightblue").addClass("white");
                //$("#btnDirectDebit").css('display', 'none');
            }
            //25-Feb-2019 : Moorthy : CRMIMP-18 - Daily usage history
            if ($.trim(splitURL[2]).toLowerCase() === 'tabdailyusagehistory') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab2").addClass("active");
                $("#tab_1_2").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMPayment").removeClass("lightblue").addClass("white");
            }
            ActionDetailHeaderButtons(5, $.trim('@ViewBag._mobileno'), "-PAYG");
            //CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

            /* TAB Order Management */
            $("a#detailPAYMOrder").live("click", function () {
                window.location = '/PAYM/OrderManagement/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* Tab Payment Histroy */
            $("a#aPAYMPaymentHistroy").live("click", function () {
                window.location = '/PAYM/TabPaymentHistroy/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* Tab Payment Profile */
            $("a#aPAYMPaymentProfile").live("click", function () {
                window.location = '/PAYM/TabPaymentProfile/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB Vectone Xtra App */
            $("a#detailPAYMVectoneXtraApp").live("click", function () {
                window.location = '/PAYM/TabVectoneXtraApp/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB OVERVIEW */
            $("a#detailPAYMOverview").live("click", function () {
                window.location = '/PAYM/TabPOverview/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB GENERAL */
            $("a#detailPAYMMoreInfo").live("click", function () {
                window.location = '/PAYM/TabGeneral/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Product */
            $("a#detailPAYMProduct").live("click", function () {
                window.location = '/PAYM/TabBundles/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Call History */
            $("a#detailPAYMCallHistory").live("click", function () {
                window.location = '/PAYM/TabCallHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SIMTools */
            $("a#detailPAYMSIMTools").live("click", function () {
                window.location = '/PAYM/TabSIMSwap/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB IssuesTracking  */
            $("a#detailPAYMIssuesTracking").live("click", function () {
                window.location = '/PAYM/TabIssuesTracking/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB ServiceStatusHistory"  */
            $("a#detailServiceStatusHistory").live("click", function () {
                window.location = '/PAYM/TabServiceStatusHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SMSCampaignTracking"  */
            $("a#detailSMSCampaignTracking").live("click", function () {
                window.location = '/PAYM/TabSMSCampaignTracking/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Accountstaus  */
            $("a#detailAccountStatus").live("click", function () {
                window.location = '/PAYM/TabAccountstatus/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* 25-Feb-2019 : Moorthy : CRMIMP-18 - Daily usage history */
            $("a#aPAYMDailyUsageHistory").live("click", function () {
                window.location = '/PAYM/TabDailyUsageHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            }); 
        });
    </script>

    @if (Model.ActiveTab == "TabPaymentHistroy")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.PAYM.PaymentHistory.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                PAYMPaymentHistroy('@ViewBag._mobileno', '@ViewBag._productcode');
            });
        </script>
    }
    else if (Model.ActiveTab == "TabPaymentProfile")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.PAYM.PaymentProfile.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                //08-Aug-2015 : Moorthy Modified to add ProductCode
                DetermineDirectDebitActive('@ViewBag._mobileno', '@ViewBag._productcode');
                PaymentProfilePAYG('@ViewBag._mobileno', '@ViewBag._productcode');
                $('#btnDirectDebit').click(function () {
                    Clear();

                    //07-Feb-2017 : Moorthy : Modified for VMAT, VMNL & VMFR (Added Bank Code) 
                    //$('#rfvBankCode').html('');

                    //01-Jun-2017 : Moorthy : Modified for VMAT, VMNL & VMFR
                    if ('@ViewBag._productcode' == 'VMFR' || '@ViewBag._productcode' == 'VMAT' || '@ViewBag._productcode' == 'VMNL' || '@ViewBag._productcode' == 'VMBE') {

                        $('#rfvAccountName2').html('');
                        $('#rfvIBAN').html('');

                        if ('@ViewBag._productcode' == 'VMFR')
                            $("[name=SelectCountry]").append("<option value='France' selected>France</option>");
                        else if ('@ViewBag._productcode' == 'VMAT')
                            $("[name=SelectCountry]").append("<option value='Austria' selected>Austria</option>");
                        else if ('@ViewBag._productcode' == 'VMNL')
                            $("[name=SelectCountry]").append("<option value='Netherlands' selected>Netherlands</option>");
                        else if ('@ViewBag._productcode' == 'VMBE')
                            $("[name=SelectCountry]").append("<option value='Belgium' selected>Belgium</option>");

                    $('#AddDDSteup2').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                }
                else {

                    $('#rfvSelectBank').html('');
                    $('#rfvSortCode').html('');
                    $('#rfvAccountNumber').html('');
                    $('#rfvAccountName').html('');

                        /* Get Bank Name -------------------- */
                    $("#Selectbank").html("").append("<option value=\"\" selected>-- Select Bank Name --</option>");
                    var url = apiServer + '/api/PAYMDDStetup';
                    $.getJSON(url, function (data) {
                        var optionData = "";
                        for (var idx in data) {
                            optionData += "<option value=" + data[idx].bankcode + ">" + data[idx].bankname + "</option>";
                        }
                        $("[name=Selectbank]").append(optionData).removeAttr("disabled");
                    });

                    $('#AddDDSteup').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                }

                    $('#btnSubmit').click(function () {
                        var subscriberID = '@ViewBag._subscriberid';
                        var MobileNo = '@ViewBag._mobileno';

                        //03-Dec-2018 : Moorthy : Added for Mandate Creation in Add New Direct Debit Details screen
                        var sitecode = '@ViewBag._sitecode';
                        var custid = '@ViewBag._CustId';

                        //30-Jan-2017 : Moorthy : Added for product code
                        var ProductCode = '@ViewBag._productcode';
                        var bankName = $('#Selectbank option:selected').text();
                        var bankCode = $('#Selectbank option:selected').val();

                        //07-Feb-2017 : Moorthy : Modified for VMAT & VMNL (Added Bank Code) 
                        var sortCode = "";
                        //if (ProductCode == "VMAT" || ProductCode == "VMNL" || ProductCode == "VMFR")
                        //    sortCode = $('#txtBankCode').val();
                        //else
                        sortCode = $('#txtFirst').val() + $('#txtSecond').val() + $('#txtThird').val();

                        var accountNumber = $('#txtAccountNumber').val();
                        var accountName = $('#txtAccountName').val();
                        var updateby = '@ViewBag.UserName';

                        ////07-Feb-2017 : Moorthy : Added for VMFR (Branch Code)
                        var branchCode = "";
                        //if (ProductCode == "VMFR")
                        //    branchCode = $('#txtBranchCode').val();

                        //30-Jan-2017 : Moorthy : Added for product code
                        if ('@ViewBag._productcode' == 'VMUK')
                            validateSaveDDSetUp(subscriberID, MobileNo, bankName, bankCode, sortCode, accountNumber, accountName, updateby, ProductCode, branchCode, 'United Kingdom', sitecode, custid);
                        else
                            validateSaveDDSetUp(subscriberID, MobileNo, bankName, bankCode, sortCode, accountNumber, accountName, updateby, ProductCode, branchCode, '', sitecode, custid);
                    });

                    //01-Jun-2017 : Moorthy : Added for VMAT, VMNL & VMFR
                    $('#btnSubmit2').click(function () {
                        var subscriberID = '@ViewBag._subscriberid';
                        var MobileNo = '@ViewBag._mobileno';
                        var ProductCode = '@ViewBag._productcode';
                        var bankName = '';
                        var bankCode = '';
                        var sortCode = "";
                        //if (ProductCode == "VMAT" || ProductCode == "VMNL" || ProductCode == "VMFR")
                        //    sortCode = '';

                        var accountNumber = $('#txtIBAN').val();
                        var accountName = $('#txtAccountName2').val();
                        var updateby = '@ViewBag.UserName';
                        var branchCode = "";
                        var sitecode = '@ViewBag._sitecode';
                        var custid = '@ViewBag._CustId';
                        //if (ProductCode == "VMFR")
                        //    branchCode = $('#txtBranchCode').val();

                        validateSaveDDSetUp(subscriberID, MobileNo, bankName, bankCode, sortCode, accountNumber, accountName, updateby, ProductCode, branchCode, $('#SelectCountry option:selected').text(), sitecode, custid);
                        //if (ProductCode == 'VMFR')
                        //    validateSaveDDSetUp(subscriberID, MobileNo, bankName, bankCode, sortCode, accountNumber, accountName, updateby, ProductCode, branchCode, 'France');
                        //else if (ProductCode == 'VMAT')
                        //    validateSaveDDSetUp(subscriberID, MobileNo, bankName, bankCode, sortCode, accountNumber, accountName, updateby, ProductCode, branchCode, 'Austria');
                        //else if (ProductCode == 'VMNL')
                        //    validateSaveDDSetUp(subscriberID, MobileNo, bankName, bankCode, sortCode, accountNumber, accountName, updateby, ProductCode, branchCode, 'Netherlands');

                    });
                });
                //Check the number
                $('#txtFirst').keyup(function () {
                    Number($('#txtFirst'));
                });
                $('#txtSecond').keyup(function () {
                    Number($('#txtSecond'));
                });
                $('#txtThird').keyup(function () {
                    Number($('#txtThird'));
                });
                $('#txtAccountNumber').keyup(function () {
                    Number($('#txtAccountNumber'));
                });
                //01-Jun-2017 : Moorthy : Added for VMAT, VMNL & VMFR
                $('#txtAccountNumber2').keyup(function () {
                    Number($('#txtAccountNumber2'));
                });
            });
        </script>
    }
    //25-Feb-2019 : Moorthy : CRMIMP-18 - Daily usage history
    else if (Model.ActiveTab == "TabDailyUsageHistory")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.dailyusagehistory.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var startdate = convertDate01($("input#lastdate1").val());
                var enddate = convertDate01($("input#lastdate2").val());
                var Msisdn = $.trim('@ViewBag._mobileno');
                var Sitecode = $.trim('@ViewBag._sitecode');
                DailyUsageHistory(Msisdn, Sitecode, startdate, enddate);
                $("#pthFilterResultContainer").show();
                $("#btnSearchDailyusageHistory").live("click", function () {
                    $("#pthFilterResultContainer").show();
                    var startdate = convertDate01($("input#lastdate1").val());
                    var enddate = convertDate01($("input#lastdate2").val());
                    var Msisdn = $.trim('@ViewBag._mobileno');
                    var Sitecode = $.trim('@ViewBag._sitecode');
                    DailyUsageHistory(Msisdn, Sitecode, startdate, enddate);
                });
            });
        </script>
    }
}
