﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "PAYM Customer Detail";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Details</div>
                    </h4>
                </div>
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/PAYM/_DetailHeaderButtonPAYM.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <!-- End Header Tabs -->
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_1_0">
                                    @if (Model.ActiveTab == "OrderManagement")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabOrderManagement.cshtml")
                                    }
                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(2);
            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            if ($.trim(splitURL[2]).toLowerCase() === 'ordermanagement') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab0").addClass("active");
                $("#tab_1_0").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMOrder").removeClass("lightblue").addClass("white");
            }

            /* TAB Vectone Xtra App */
            $("a#detailPAYMVectoneXtraApp").live("click", function () {
                window.location = '/PAYM/TabVectoneXtraApp/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB OVERVIEW */
            $("a#detailPAYMOverview").live("click", function () {
                window.location = '/PAYM/TabPOverview/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB GENERAL */
            $("a#detailPAYMMoreInfo").live("click", function () {
                window.location = '/PAYM/TabGeneral/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Product */
            $("a#detailPAYMProduct").live("click", function () {
                window.location = '/PAYM/TabBundles/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Call History */
            $("a#detailPAYMCallHistory").live("click", function () {
                window.location = '/PAYM/TabCallHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Payment */
            $("a#detailPAYMPayment").live("click", function () {
                window.location = '/PAYM/TabPaymentHistroy/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SIMTools */
            $("a#detailPAYMSIMTools").live("click", function () {
                window.location = '/PAYM/TabSIMSwap/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB IssuesTracking  */
            $("a#detailPAYMIssuesTracking").live("click", function () {
                window.location = '/PAYM/TabIssuesTracking/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB ServiceStatusHistory"  */
            $("a#detailServiceStatusHistory").live("click", function () {
                window.location = '/PAYM/TabServiceStatusHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SMSCampaignTracking"  */
            $("a#detailSMSCampaignTracking").live("click", function () {
                window.location = '/PAYM/TabSMSCampaignTracking/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Accountstaus  */
            $("a#detailAccountStatus").live("click", function () {
                window.location = '/PAYM/TabAccountstatus/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* Rajesh: Porting  */
            $("a#detailPorting").live("click", function () {
                window.location = '/PAYM/TabPorting/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            ActionDetailHeaderButtons(2, $.trim('@ViewBag._mobileno'));

            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

            var mobileNo = $.trim('@ViewBag._mobileno');
            var SiteCode = $.trim('@ViewBag._sitecode');
            var user_role = $.trim('@ViewBag._user_role');
            SIMOrderList1(mobileNo, SiteCode, sim, user_role);
            $("#orderIDAnchor").live("click", function () {
                var mimsi = parseInt($(this).attr("mimsi-data"));
                var orderID = $(this).attr("param-data");
                var gProductCode = $.trim('@ViewBag._productcode');
                var gSiteCode = $("input[name=gSiteCode]").val();
                var gCountryName = $("input[name=gCountryName]").val();
                SIMViewOrderDetail(orderID, gSiteCode);
            });

            //Added : 24-Dec-2018 - Send a SIM Card
            //var URLListStatus = apiServer + '/api/SIMOrderSearch/1';
            //$.getJSON(URLListStatus, function (data) {
            //    $.each(data, function (index, val) {
            //        var StatusId = val.Id;
            //        var StatusVal = val.Value;
            //        var StatusDesc = val.Description;
            //        $('#updateStatusR').append('<option value="' + StatusVal + '">' + StatusVal + '</option>');
            //    });
            //});

            //Added : 25-Dec-2018 - Cancel Sim Order
            $("#orderIDCancel").live("click", function () {
                var orderRef = $(this).attr("ref-data");
                var orderID = $(this).attr("param-data");
                if (confirm("Are you sure, you want to cancel this order : " + orderID + " ?")) {
                    //var mimsi = parseInt($(this).attr("mimsi-data"));
                    var gSiteCode = $("input[name=gSiteCode]").val();
                    var mobileno = $.trim('@ViewBag._mobileno')
                    var arrSettings = {
                        logged_user: '@ViewBag.UserName',
                        freesim_order_id: orderID,
                        mobileno: mobileno,
                        Sitecode: gSiteCode,
                        IsCancel: true
                    };
                    UpdateOrderCancel(arrSettings);
                }
            });

            //Added : 25-Dec-2018 - Replace Sim Order
            $("#orderIDReplace").live("click", function () {
                var mimsi = parseInt($(this).attr("mimsi-data"));
                var orderID = $(this).attr("param-data");
                var gProductCode = $.trim('@ViewBag._productcode');
                var gSiteCode = $("input[name=gSiteCode]").val();
                var gCountryName = $("input[name=gCountryName]").val();
                SIMOrderDetailReplace(orderID, gSiteCode);
            });

            $('button#btnODOpenICCIDList1').live("click", function () {
                $("td#tdErrorICCIDList1").html("");
                $("tr#trErrorICCIDList1").hide();
                $("input[name=ICCIDListMode]").val("1");
                $("table#tblICCIDList1").show();
                $("table#tblICCIDList2").hide();
                $('#orderDetailReplace').modal("hide");
                $('#ICCIDList').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
                $("input[type=text].iccid_list_0").attr("disabled", true);
                $("input[type=hidden].iccid_list_h0").each(function (index, value) {
                    if ($(this).val() != "") {
                        $("input[type=text].iccid_list_0").eq(index).removeAttr("disabled").val($(this).val());
                    } else {
                        $("input[type=text].iccid_list_0").eq(index).val("");
                    }
                });
                $("input[type=text].iccid_list_0").eq(0).removeAttr("disabled").focus();
            });

            $('button#btnODOpenICCIDList2').live("click", function () {
                $("td#tdErrorICCIDList2").html("");
                $("tr#trErrorICCIDList2").hide();
                $("input[name=ICCIDListMode]").val("2");
                $("table#tblICCIDList1").hide();
                $("table#tblICCIDList2").show();
                $('#orderDetailReplace').modal("hide");
                $('#ICCIDList').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
                $("input[type=text].iccid_list_1").attr("disabled", true);
                $("input[type=hidden].iccid_list_h1").each(function (index, value) {
                    if ($(this).val() != "") {
                        $("input[type=text].iccid_list_1").eq(index).removeAttr("disabled").val($(this).val());
                    } else {
                        $("input[type=text].iccid_list_1").eq(index).val("");
                    }
                });
                $("input[type=text].iccid_list_1").eq(0).removeAttr("disabled").focus();
            });

            $("[name=input_iccidR]").keypress(function (e) {
                if (e.which == 13) {
                    $("td#tdODRUpdateStatus #hint").fadeIn(300).delay(4000).fadeOut(300);
                    $("[name=updateStatusR]").focus();
                }
            });

            $("[name=input_iccidR2]").keypress(function (e) {
                if (e.which == 13) {
                    $("td#tdODRUpdateStatus #hint").fadeIn(300).delay(4000).fadeOut(300);
                    $("[name=updateStatusR]").focus();
                }
            });

            $("[name=updateStatusR]").click(function () {
                $("td#tdODRUpdateStatus #hint").hide();
            });

            /* SUBMIT NEW ORDER */
            $("button#btnODRSubmit").live("click", function () {
                var prefixICCID = "89";
                var arrFreeSIMID = $("input[name=arrFreeSIMIDR]").val();
                var arrMIMSIOrderID = $("input[name=arrMIMSIOrderIDR]").val();
                var QTYOrder = parseInt($("input[name=QTYOrderR]").val());
                var newStatus = $("select[name=updateStatusR] option:selected").val();
                var SubscriberType = $("#hdSubscriberTypeR").val();

                var royalMailReference = "";
                if ($("input[name=input_mailrefR]").length) {
                    royalMailReference = $("input[name=input_mailrefR]").val();
                }

                var arrICCIDSent = "";

                if (QTYOrder > 1) {
                    var ICCIDListMode = parseInt($.trim($("input[name=ICCIDListMode]").val()));
                    if (ICCIDListMode == 1) {
                        $("input[type=hidden].iccid_list_h0").each(function (index, value) {
                            if ($.trim($(this).val()) != "") {
                                if (SubscriberType == 'TELE SALES') {
                                    arrICCIDSent += $(this).val() + "|";
                                }
                                else {
                                    arrICCIDSent += prefixICCID + $(this).val() + "|";
                                }
                            }
                        });
                        if (arrICCIDSent != "") {
                            arrICCIDSent = arrICCIDSent.replace(/\|$/, '');
                        }

                    } else if (ICCIDListMode == 2) {
                        $("input[type=hidden].iccid_list_h1").each(function (index, value) {
                            if ($.trim($(this).val()) != "") {
                                if (SubscriberType == 'TELE SALES') {
                                    arrICCIDSent += $(this).val() + "|";
                                }
                                else {
                                    arrICCIDSent += prefixICCID + $(this).val() + "|";
                                }
                            }
                        });
                        if (arrICCIDSent != "") {
                            arrICCIDSent = arrICCIDSent.replace(/\|$/, '');
                        }
                    }
                } else {
                    var ICCID = $.trim(convertNulltoEmptyString($("input[name=input_iccidR]").val()));
                    var NewICCID = $.trim(convertNulltoEmptyString($("input[name=input_iccidR2]").val()));
                    if ($("input[name=input_iccidR]").is("[readonly]")) {

                        arrICCIDSent = prefixICCID + NewICCID;
                    } else {
                        arrICCIDSent = prefixICCID + ICCID;
                    }
                }

                var gProductCode = $.trim('@ViewBag._productcode');
                var gSiteCode = $("input[name=gSiteCode]").val();
                var gCountryName = $("input[name=gCountryName]").val();

                var passed = true;
                var errMsg = "";

                /* Check the submit status */
                if (newStatus == '') {
                    passed = false;
                    errMsg = "Please select the update status.";
                } else if (newStatus == 'Fixed') {
                    if (arrICCIDSent == '') {
                        passed = false;
                        errMsg = "Please enter the ICCID number.";
                    } else {
                        //Modif by saravana kumar ICCID validation error
                        if (QTYOrder == 1) {
                            if (gSiteCode == 'MBE') {
                                if (arrICCIDSent.length != 18) {
                                    passed = false;
                                    errMsg = "The ICCID number must be 18 digits.";
                                }
                            }
                            else {
                                if (arrICCIDSent.length != 19) {
                                    passed = false;
                                    errMsg = "The ICCID number must be 19 digits.";
                                }
                            }
                        }

                        if (passed) {
                            if (royalMailReference == "") {
                                passed = false;
                                errMsg = "Please Enter a valid Mail Reference ID";
                            }
                        }
                    }
                }

                if (passed) {
                    if (gSiteCode == "MCM") {
                        if ($("#tdODRAddress1").val().trim() != "") {
                            if ($("#tdODRAddress2").val().trim() != "") {
                                if ($("#tdODRCity").val().trim() != "") {
                                    if ($("#tdODRPostcode").val().trim() != "") {
                                        passed = true;
                                    }
                                    else {
                                        passed = false;
                                        errMsg = "Please Enter Postcode";
                                    }
                                }
                                else {
                                    passed = false;
                                    errMsg = "Please Enter City";
                                }
                            }
                            else {
                                passed = false;
                                errMsg = "Please Enter Address2";
                            }
                        }
                        else {
                            passed = false;
                            errMsg = "Please Enter Address1";
                        }
                    }
                    else {
                        if ($("#tdODRHouseNo").val().trim() != "") {
                            if ($("#tdODRAddress").val().trim() != "") {
                                if ($("#tdODRCity").val().trim() != "") {
                                    if ($("#tdODRPostcode").val().trim() != "") {
                                        passed = true;
                                    }
                                    else {
                                        passed = false;
                                        errMsg = "Please Enter Postcode";
                                    }
                                }
                                else {
                                    passed = false;
                                    errMsg = "Please Enter City";
                                }
                            }
                            else {
                                passed = false;
                                errMsg = "Please Enter Address";
                            }
                        }
                        else {
                            passed = false;
                            errMsg = "Please Enter House No";
                        }
                    }
                }
                /* If all conditions were passed then do submit */
                if (passed) {
                    $("#orderDetailReplace #SIMOrderDetailReplaceError").html("").hide();
                    $('#orderDetailReplace').modal("hide");
                    $('#DispatchingProcessR').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                    $("input[name=arrResultR]").val("");
                    $("button#btnODDispatchingROK").removeClass("blue").attr("disabled", true);
                    $("table#tblDispatchingProcessR tbody").html("");

                    /* Check if the order has more than one */
                    if (QTYOrder > 1) {
                        arrFreeSIMIDSplit = arrFreeSIMID.split("|");
                        arrMIMSIOrderIDSplit = arrMIMSIOrderID.split("|");
                        arrICCIDSentSplit = arrICCIDSent.split("|");
                        $("#DispatchingProcessR span#totalDispatchingProcessR").html(QTYOrder);
                        for (var idx = 0; idx < QTYOrder; idx++) {
                            $("#DispatchingProcessR span#currentDispatchingProcessR").html((idx + 1));
                            if (arrICCIDSentSplit[idx] != undefined && newStatus == 'Fixed') {
                                var arrICCIDSentTemp = arrICCIDSentSplit[idx];
                            } else {
                                var arrICCIDSentTemp = "";
                            }
                            var rowProcessed = "<tr>";
                            rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">" + (idx + 1) + "</td>";
                            rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">" + arrICCIDSentTemp + "</td>";
                            rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">" + newStatus + "</td>";
                            rowProcessed += "<td class=\"currentDispatchStatusR\" style=\"border:1px solid #c0c0c0;text-align:center\"><img src=\"/Assets/Main/img/ajaxloader-03.gif\" /></td>";
                            rowProcessed += "</tr>";
                            $("table#tblDispatchingProcessR tbody").append(rowProcessed);

                            var Address1 = "";
                            var Address2 = "";
                            var Address3 = "";
                            if (gSiteCode == "MCM") {
                                Address1 = $("#tdODRAddress1").val().trim();
                                Address2 = $("#tdODRAddress2").val().trim();
                                Address3 = $("#tdODRAddress3").val().trim();
                            }
                            else {
                                Address1 = $("#tdODRHouseNo").val().trim();
                                Address2 = $("#tdODRAddress").val().trim();
                                Address3 = $("#tdODRAddress3").val().trim();
                            }
                            var City = $("#tdODRCity").val().trim();
                            var Postcode = $("#tdODRPostcode").val().trim();

                            var arrSettings = {
                                logged_user: '@ViewBag.UserName',
                                freesim_order_id: arrFreeSIMIDSplit[idx],
                                order_status: newStatus,
                                iccid: arrICCIDSentTemp,
                                mimsi_order_id: arrMIMSIOrderIDSplit[idx],
                                Sitecode: gSiteCode,
                                royal_mail_reference: royalMailReference,
                                Address1: Address1,
                                Address2: Address2,
                                Address3: Address3,
                                City: City,
                                Postcode: Postcode,
                                IsCancel: false
                            };
                            UpdateOrderReplace(arrSettings);
                        }
                        $("button#btnODDispatchingROK").addClass("blue").removeAttr("disabled");

                        /* Order just have one */
                    } else {
                        $("#DispatchingProcessR span#totalDispatchingProcessR").html(QTYOrder);
                        $("#DispatchingProcessR span#currentDispatchingProcessR").html("1");

                        if (arrICCIDSent != undefined && (newStatus == 'Fixed' || newStatus == 'Replacement')) {
                            var arrICCIDSentTemp = arrICCIDSent;
                        } else {
                            var arrICCIDSentTemp = "";
                        }
                        var rowProcessed = "<tr>";
                        rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">1</td>";
                        rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">" + arrICCIDSentTemp + "</td>";
                        rowProcessed += "<td style=\"border:1px solid #c0c0c0;text-align:center\">" + newStatus + "</td>";
                        rowProcessed += "<td class=\"currentDispatchStatusR\" style=\"border:1px solid #c0c0c0;text-align:center\"><img src=\"/Assets/Main/img/ajaxloader-03.gif\" /></td>";
                        rowProcessed += "</tr>";
                        $("table#tblDispatchingProcessR tbody").append(rowProcessed);

                        var Address1 = "";
                        var Address2 = "";
                        var Address3 = "";
                        if (gSiteCode == "MCM") {
                            Address1 = $("#tdODRAddress1").val().trim();
                            Address2 = $("#tdODRAddress2").val().trim();
                            Address3 = $("#tdODRAddress3").val().trim();
                        }
                        else {
                            Address1 = $("#tdODRHouseNo").val().trim();
                            Address2 = $("#tdODRAddress").val().trim();
                            Address3 = $("#tdODRAddress3").val().trim();
                        }
                        var City = $("#tdODRCity").val().trim();
                        var Postcode = $("#tdODRPostcode").val().trim();

                        var arrSettings = {
                            logged_user: '@ViewBag.UserName',
                            freesim_order_id: arrFreeSIMID,
                            order_status: newStatus,
                            iccid: arrICCIDSentTemp,
                            mimsi_order_id: arrMIMSIOrderID,
                            Sitecode: gSiteCode,
                            royal_mail_reference: royalMailReference,
                            Address1: Address1,
                            Address2: Address2,
                            Address3: Address3,
                            City: City,
                            Postcode: Postcode,
                            IsCancel: false
                        };
                        UpdateOrderReplace(arrSettings);
                        $("button#btnODDispatchingROK").addClass("blue").removeAttr("disabled");
                    }

                } else {
                    $("#orderDetailReplace #SIMOrderDetailReplaceError").html(errMsg).show();
                }
            });

            $("button#btnODDispatchingROK").live("click", function () {
                $("#DispatchingProcessR").modal("hide");
            });

            $(".btnDPViewError").live("click", function () {
                var idx = $(".btnDPViewError").index(this);
                if ($(".DPDetailError").eq(idx).is(":visible")) {
                    $(".DPDetailError").hide();
                } else {
                    $(".DPDetailError").hide();
                    $(".DPDetailError").eq(idx).show();
                }
            });
            /* ==========================================================  */
            /* INPUT ICCID Window */

            $('button#btnODICCIDListSave').live("click", function () {
                var ICCIDListMode = $("input[name=ICCIDListMode]").val();
                var SubscriberType = $("#hdSubscriberType").val();
                var prefixICCID = "89";
                if (ICCIDListMode == 1) {
                    var totalICCIDInput = $("input[type=text].iccid_list_0").length;
                    var ICCIDListNo = "";
                    var readyToSave = true;
                    var ICCID19Digits = true;
                    var allBlanks = true;
                    $("input[type=text].iccid_list_0").each(function (index, value) {
                        if ($(this).val() != "") {
                            allBlanks = false;
                            /*
                                Date : 20 January 2014 - 16:59
                                CHANGED From:
                                    if ($(this).val().length == 19) {
                                To:
                                    if ($(this).val().length == 17) {
                                Reason:
                                    2 digits prefix(89) --> set as default
                            */
                            if ($(this).val().length == 17 || $(this).val().length == 19) {
                                if (SubscriberType != 'TELE SALES') {
                                    ICCIDListNo += "<option value=\"" + prefixICCID + $(this).val() + "\">" + prefixICCID + $(this).val() + "</option>";
                                }
                                else {
                                    ICCIDListNo += "<option value=\"" + $(this).val() + "\">" + $(this).val() + "</option>";
                                }
                                $("input[type=hidden].iccid_list_h0").eq(index).val($(this).val());
                            } else {
                                readyToSave = false;
                                ICCID19Digits = false;
                            }
                        } else {
                            ICCIDListNo += "";
                        }
                    });
                    if (allBlanks) {
                        readyToSave = false;
                    }
                    if (readyToSave) {
                        $("select[name=optICCIDList]").html("").append(ICCIDListNo);
                        $("button#btnODOpenICCIDList1").html("Edit ICCID No");
                        $('button#btnODICCIDListBack').trigger("click");
                    } else {
                        if (allBlanks) {
                            $("td#tdErrorICCIDList1").html("").append("<div class=\"alert alert-error\">Please enter the ICCID number.</div>");
                        } else {
                            if (!ICCID19Digits) {
                                $("td#tdErrorICCIDList1").html("").append("<div class=\"alert alert-error\">The ICCID number must be 19 digits.</div>");
                            }
                        }
                        $("tr#trErrorICCIDList1").show();
                    }
                } else if (ICCIDListMode == 2) {
                    var totalICCIDInput = $("input[type=text].iccid_list_1").length;
                    var ICCIDListNo1 = "";
                    var readyToSave = true;
                    var ICCID19Digits = true;
                    var allBlanks = true;
                    $("input[type=text].iccid_list_1").each(function (index, value) {
                        if ($(this).val() != "") {
                            allBlanks = false;
                            /*
                                Date : 20 January 2014 - 16:59
                                CHANGED From:
                                    if ($(this).val().length == 19) {
                                To:
                                    if ($(this).val().length == 17) {
                                Reason:
                                    2 digits prefix(89) --> set as default
                            */

                            if ($(this).val().length == 17 || $(this).val().length == 19) {
                                if (SubscriberType != 'TELE SALES') {
                                    ICCIDListNo1 += "<option value=\"" + prefixICCID + $(this).val() + "\">" + prefixICCID + $(this).val() + "</option>";
                                }
                                else {
                                    ICCIDListNo1 += "<option value=\"" + $(this).val() + "\">" + $(this).val() + "</option>";
                                }
                                $("input[type=hidden].iccid_list_h1").eq(index).val($(this).val());
                            } else {
                                readyToSave = false;
                                ICCID19Digits = false;
                            }
                        } else {
                            ICCIDListNo1 += "";
                        }
                    });
                    if (allBlanks) {
                        readyToSave = false;
                    }
                    if (readyToSave) {
                        $("select[name=optICCIDList2]").html("").append(ICCIDListNo1);
                        $("button#btnODOpenICCIDList2").html("Edit ICCID");
                        $('button#btnODICCIDListBack').trigger("click");
                    } else {
                        if (allBlanks) {
                            $("td#tdErrorICCIDList2").html("").append("<div class=\"alert alert-error\">Please enter the ICCID number.</div>");
                        } else {
                            if (!ICCID19Digits) {
                                $("td#tdErrorICCIDList2").html("").append("<div class=\"alert alert-error\">The ICCID number must be 19 digits.</div>");
                            }
                        }
                        $("tr#trErrorICCIDList2").show();
                    }
                }

            });

            $('button#btnODICCIDListClear').live("click", function () {
                var ICCIDListMode = $("input[name=ICCIDListMode]").val();
                if (ICCIDListMode == 1) {
                    $("input[type=text].iccid_list_0").attr("disabled", true).val("");
                    $("input[type=text].iccid_list_0").eq(0).removeAttr("disabled").focus();
                } else if (ICCIDListMode == 2) {
                    $("input[type=text].iccid_list_1").attr("disabled", true).val("");
                    $("input[type=text].iccid_list_1").eq(0).removeAttr("disabled").focus();
                }
            });

            $('button#btnODICCIDListBack').live("click", function () {
                $('#ICCIDList').modal("hide");
                $('#orderDetailReplace').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("input[type=text].iccid_list_0").live("keypress", function (e) {
                var totalICCIDInput = $("input[type=text].iccid_list_0").length;
                var IndexICCIDInput = $("input[type=text].iccid_list_0").index(this);
                if (e.which == 13) {
                    if ((IndexICCIDInput + 1) < totalICCIDInput) {
                        $("input[type=text].iccid_list_0").eq(IndexICCIDInput + 1).removeAttr("disabled").focus();
                    }
                }
            });

            $("input[type=text].iccid_list_1").live("keypress", function (e) {
                var totalICCIDInput = $("input[type=text].iccid_list_1").length;
                var IndexICCIDInput = $("input[type=text].iccid_list_1").index(this);
                if (e.which == 13) {
                    if ((IndexICCIDInput + 1) < totalICCIDInput) {
                        $("input[type=text].iccid_list_1").eq(IndexICCIDInput + 1).removeAttr("disabled").focus();
                    }
                }
            });
            /* ==========================================================  */
        });
    </script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.simordermanagement.js"></script>
}
