﻿@*@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.Title = "Detail8";
}

<h2>Detail8</h2>*@

@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "PAYM Customer Detail";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Details</div>
                    </h4>
                </div>
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/PAYM/_DetailHeaderButtonPAYM.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <!-- End Header Tabs -->
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_1_0">
                                    @if (Model.ActiveTab == "TabServiceStatusHistory")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabServiceStatusHistory.cshtml")
                                    }
                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.PAYMBillGeneraion.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(2);
            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            if ($.trim(splitURL[2]).toLowerCase() === 'tabservicestatushistory') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab0").addClass("active");
                $("#tab_1_0").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailServiceStatusHistory").removeClass("lightblue").addClass("white");
            }
            ActionDetailHeaderButtons(4, $.trim('@ViewBag._mobileno'));
            //CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));
            ServiceStatusHistory($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._productcode'));

            /* TAB Order Management */
            $("a#detailPAYMOrder").live("click", function () {
                window.location = '/PAYM/OrderManagement/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB Vectone Xtra App */
            $("a#detailPAYMVectoneXtraApp").live("click", function () {
                window.location = '/PAYM/TabVectoneXtraApp/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB OVERVIEW */
            $("a#detailPAYMOverview").live("click", function () {
                window.location = '/PAYM/TabPOverview/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB GENERAL */
            $("a#detailPAYMMoreInfo").live("click", function () {
                window.location = '/PAYM/TabGeneral/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Product */
            $("a#detailPAYMProduct").live("click", function () {
                window.location = '/PAYM/TabBundles/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Call History */
            $("a#detailPAYMCallHistory").live("click", function () {
                window.location = '/PAYM/TabCallHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB Payment */
            $("a#detailPAYMPayment").live("click", function () {
                window.location = '/PAYM/TabPaymentHistroy/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SIMTools */
            $("a#detailPAYMSIMTools").live("click", function () {
                window.location = '/PAYM/TabSIMSwap/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB IssuesTracking  */
            $("a#detailPAYMIssuesTracking").live("click", function () {
                window.location = '/PAYM/TabIssuesTracking/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB ServiceStatusHistory"  */
            $("a#detailServiceStatusHistory").live("click", function () {
                window.location = '/PAYM/TabServiceStatusHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* TAB SMSCampaignTracking"  */
            $("a#detailSMSCampaignTracking").live("click", function () {
                window.location = '/PAYM/TabSMSCampaignTracking/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
        });
        @*$("#btnPayNow").click(function () {
            var MobNo = $.trim('@ViewBag._mobileno');
            var OutstandingAmount = $("#lblOutStandingAmount").text();
            ProcessPaymentNow(MobNo, OutstandingAmount, '@ViewBag.UserName');
        });

        $("#btnODBack2").click(function () {
            window.location.reload();
                });*@

        
    </script>
}
