﻿
@model CRM_API.Models.smsmarketingchangeviewhistory

<div class="modal" id="divPayMChangePlanSelect">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Change PAYM Plan</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="PayMChangePlanSelect_SiteCode" name="PayMChangePlanSelect_SiteCode" value="@ViewBag._sitecode">
                 <div id="ajax-screen-masking">
                    <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
                </div>   
                <div class="portlet-body" id="PayMChangePlanSelect" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
                    <table class="table table-bordered" id="tblPayMChangePlanSelect"></table>
                </div>
            </div>
            <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
