﻿@*@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserList</h2>*@


@*Added By saroj On 22/05/2019*@


@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Enquiry Details";
    ViewBag.userid = CRM_API.Helpers.Session.CurrentUser.userid;
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Customer Detail";
}


<style>
    #tblDDOperation_length {
 	display: none;
 }
 #tblDDOperation {
 	overflow: scroll;
 }
 #tblDDOperation thead tr {
 	background: linear-gradient(to bottom, #437edc, #4b8df8);
 	color: #fff;
 }
 #tblDDOperation tbody .odd,
 #tblDDOperation tbody .even {
 	background: #fff;
 }
 #tblDDOperationContainer {
 	background-position: 50% 0;
 }
 #dp1 {
 	position: relative;
 	bottom: 12px;
 }
 .historybox {
 	position: absolute;
 	width: 40%;
 	top: 22px;
 	float: right;
 	right: 105px;
 }
 .historybox ul.tickets-details {
 	width: 100%;
 	list-style: none;
 	padding: 0;
 	margin: 0 5px;
 	height: 372px;
 	overflow: auto;
 }
 .historybox ul.tickets-details li {
 	list-style: none;
 	border: 1px solid #ccc;
 	padding: 5px;
 	border-radius: 10px !important;
 	margin-bottom: 15px;
 }
 .historylog-left {
 	width: 49%;
 	float: left;
 	margin-right: 2%;
 }
 .historylog-right {
 	width: 49%;
 	float: left;
 	margin-bottom: 5px;
 }
 .leftbox {
 	width: 94%;
 	float: left;
 	margin-right: 2%;
 	white-space: normal;
 	border: 1px solid #ccc;
 	text-align: center;
 	padding: 5px;
 }
 .rightbox {
 	width: 94.2%;
 	float: left;
 	white-space: normal;
 	border: 1px solid #ccc;
 	text-align: center;
 	padding: 5px;
 }
 .innercommentbox {
 	width: 97.2%;
 	padding: 5px;
 	border: 1px solid #ccc;
 	clear: both;
 	background: #fff;
 	margin-top: 40px;
 	overflow: auto;
 	min-height: 50px;
 	margin-top: 15px;
 	border-bottom-left-radius: 10px;
 	border-bottom-right-radius: 10px;
 }
 #divHistoryRightView h3 {
 	color: white;
 	background: #6E5CA8;
 	text-align: center;
 	font-size: 14px;
 	margin: 0;
 	border-top-left-radius: 5px;
 	border-top-right-radius: 5px;
 }
 button#btnCustomerHistory {
 	position: absolute;
 	margin: 0;    right: 470px;
    bottom: -48px;
 }

    div#GIAddUser {
        width: 90% !important;
        margin: 0 5% !important;
        left: 0; height:470px !important;
    }
    
</style>

<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">
    <div style="padding: 10px;">
        <div id="tblInternetProfileContainer" style="padding: 10px;">

            <div class="portlet box blue" id="pbInternetProfile">
                <div class="portlet-title" style="height: 30px; border-bottom: 0">
                    <h4><span style="font-size: 18px; font-weight: bold">Enquiries List</span></h4>
                </div>
                <div class="portlet-body">
                    <table border="0" style="width: 70%">
                        <tr>
                            <td style="vertical-align: top">
                                <button id="btnaddEnquiry" class="btn blue btn-add-profiles" style="margin: 15px; margin-left: 9px">Add New</button>
                            </td>

                        </tr>
                        <tr id="trEnquiryList">
                            <td style="width: 25%">From:
                                <div class="input-append date" style="bottom: 0" id="dp1" data-date-format="dd/mm/yyyy">
                                    <input class="span8 dateInput" id="startdate" size="16" type="text" value="" style="margin-top: -5px; width: 90px">
                                    <input type="hidden" id="lastdate1" value="">
                                    <span class="add-on" style="margin-top: -5px"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
                            <td style="width: 25%">To:
                                <div class="dateInputMasking" style="width: 118px; height: 30px; background: rgba(0, 0, 0, 0.1); z-index: 5000; position: absolute; margin-top: -7px; display: none">&nbsp;</div>
                                <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
                                    <input class="span8 dateInput" id="enddate" size="16" type="text" value="" style="margin-top: -5px; width: 90px">
                                    <input type="hidden" id="lastdate2" value="">
                                    <span class="add-on" style="margin-top: -5px"><i class="icon-calendar"></i></span>
                                </div>
                            </td>

                            <td style="width: 25%">
                                <button class="btn blue" id="EnquiryListBtn" style="margin-top: -10px; margin-left: 10px; width: 100px; height: 35px;">GO</button>
                            </td>
                            <tr>
                                @*  <td>Type</td>
                            <td>
                                <select id="inType" name="inType">
                                </select>
                                <input type="hidden" id="inType" name="inType" />
                            </td>
                        </tr>
                             <tr>
                            <td>Status</td>
                            <td>
                                <select id="inEnquiryStatusType" name="inEnquiryStatusType">
                                </select>
                                <input type="hidden" id="iEnquiryStatusType" name="iEnquiryStatusType" />
                            </td>
                        </tr>*@
                            </tr>
                    </table>
                    <div class="portlet-body" id="pbInternetProfileBody" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                        <table class="table table-bordered" id="tblPBInternetProfile"></table>
                    </div>
                </div>
                <input type="hidden" id="HiId" name="HiId" />
                <input type="hidden" id="HiUsername" name="HiUsername" />
                <input type="hidden" id="Himode" name="Himode" />
            </div>
            <!-- Add New User -->
            <div id="GIAddUser" class="popup-message modal hide border-lightblue" style="width: 850px; height: 600px">
                <div class="modal-header background-lightblue" style="font-family: Arial">@*Add User*@
                    <div class="UserMenuHeader" id="UserMenuHeader" style="font-family: Arial; text-align: left; font-weight: normal; width: 80%; float: left;"></div>
                    <div style="text-align: right; width: 19%; float: right; height: 19px; width: 19px">
                        <img src="~/Assets/Main/img/popup-close.png" style="cursor: pointer" id="imgReplyClose" title="Close" data-dismiss="modal" />
                    </div>
                </div>

                <div class="modal-body" style="height: 700px; font-size: 14px; padding: 15px 20px">
                    <div class="row-12 float-left" id="divHistoryLeftView" style="display: inherit;">
                        <input type="hidden" id="iGIECSubscriberID" name="iGIECSubscriberID" value="" />
                        <table id="tblCustomerGeneralInfo" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                @*<tr>
                                <td>Actions</td>
                                <select id="inActions" name="inActions">
                                    <option value="1">Insert</option>
                                    <option value="2">Update</option>
                                </select>
                                <input type="hidden" id="ijActions" name="ijActions" />
                            </tr>*@
                            </tbody>
                            <tr>
                                <td style="width: 150px;">Enquirer Name</td>
                                <td style="width: 450px;">
                                    <input style="width: 305px" type="text" id="InEnquirerName" name="InEnquirerName" />
                                    <label class="errLabel" id="lblenquirername" style="display: none; color: red">* Please enter enquirer name</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px;">Mobile Number</td>
                                <td style="width: 450px;">
                                    <input style="width: 305px" type="text" id="InMobileNo" name="InMobileNo" maxlength="12"  required/>
                                   <label class="errLabel" id="lblmobileno" style="display: none; color: red">* Please enter mobile number</label>
                                   
                                </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>
                                    <input style="width: 305px" type="Email" id="InEmail" name="InEmail"   required/>
                                     <label class="errLabel" id="lblemail" style="display: none; color: red">* Please enter Email</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Existing network</td>
                                <td>
                                    <input style="width: 305px" type="text" id="InExistingnetwork" name="InExistingnetwork" />
                                    <label class="errLabel" id="lblexistingnetwork" style="display: none; color: red">* Please enter existing network</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td>
                                    <select id="inCountry" name="inCountry">
                                    </select>
                                    <input type="hidden" id="iCountry" name="iCountry" />
                                </td>
                            </tr>
                            <tr>
                                <td>Enquiry Type</td>
                                <td>
                                    <select id="inEnquiryType" name="inEnquiryType">
                                    </select>
                                    <input type="hidden" id="iEnquiryType" name="iEnquiryType" />
                                </td>
                            </tr>
                            <tr>
                                <td>Enquiry Description </td>
                                <td>
                                    <textarea name="iEnquiryDescription" cols="15" rows="15" id="iEnquiryDescription" style="font-size: 13px; width: 324px; height: 100px;"> </textarea>
                                    <label class="errLabel" id="lblenquirydescription" style="display: none; color: red">* Please enter enquiry description</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Vectone Response</td>
                                <td>
                                    <textarea name="iVectoneResponse" cols="15" rows="15" id="iVectoneResponse" style="font-size: 13px; width: 324px; height: 100px;"> </textarea>
                                    <label class="errLabel" id="lblvectoneresponse" style="display: none; color: red">* Please enter vectone response</label>
                                    <input type="image" alt="Submit" id="historycomments" src="~/Assets/Main/img/comments.png" width="10" height="20" data-toggle="tooltip" data-placement="top" title="Add Comments "   />

                                    <div class="row-3 float-right collapsed" id="divHistoryRightView">
                                       
                                             <div class="historybox"  id="histcomments">
                                                     <ul class="tickets-details">
                                             </ul>
                                            </div>
                                            
                                      

                                    </div>
                                    <button id="btnCustomerHistory" class="pull-left btn blue" style="margin-left: 20px; margin-top: 0px; margin-bottom: 10px;">Comments History</button>
                                </td>
                            </tr>

                        </table>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnGINewCancel" style="float: left; width: 130px;">Cancel</button>
                            <button data-dismiss="modal" class="btn blue" type="button" id="btnGINewSave" style="float: left; width: 130px;margin-left: 217px;">Save</button>
                        </div>
                    </div>

                </div>


            </div>


            <!-- Add New Comments -->
            <div id="GIHistoryComment" class="popup-message modal hide border-lightblue" style="width: 500px; height: 255px; display: none; margin-left: -175px; margin-top: 200px;">
                <div class="modal-header background-lightblue" style="font-family: Arial">@*Add Comment*@
                    <div class="UserMenuHeader" id="CommentMenuHeader" style="font-family: Arial; text-align: left; font-weight: normal; width: 80%; float: left;"></div>
                    <div style="text-align: right; width: 19%; float: right; height: 19px; width: 19px">
                        <img src="~/Assets/Main/img/popup-close.png" style="cursor: pointer" id="imgReplyClose" title="Close" data-dismiss="modal" />
                    </div>
                </div>
                <div class="modal-body" style="height: 150px; font-size: 14px; padding: 15px 20px">
                    @*<input type="hidden" id="iGIECSubscriberID" name="iGIECSubscriberID" value="" />*@
                    <table id="tblComments" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            @*<tr>
                                <td>Actions</td>
                                <select id="inActions" name="inActions">
                                    <option value="1">Insert</option>
                                    <option value="2">Update</option>
                                </select>
                                <input type="hidden" id="ijActions" name="ijActions" />
                            </tr>*@
                        </tbody>
                        <tr>
                            <td>Comment</td>
                            <td>
                                <textarea name="iComment" cols="15" rows="15" id="iComment" style="font-size: 13px; width: 324px; height: 100px;"> </textarea>
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnHistoryCommentCancel" style="float: left; width: 130px;">Cancel</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnHistoryCommentSave" style="float: right; width: 130px;">Save</button>
                </div>
            </div>
            <!--Deactivation User popup message -->
            <div id="DeactivationMessage" class="popup-message modal hide border-lightblue" style="width: 500px; height: 180px">
                <div class="modal-header background-lightblue" style="font-family: Arial">Confirm Deactivation</div>
                <div class="modal-body" style="height: 50px">
                    Are you sure you want to Deactive user <span class="UsernameStr2" id="UsernameStr2" style="font-weight: bold"></span>&nbsp; ?         
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnUserCancel" style="float: left; width: 100px;">Cancel</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnUserSave" style="float: right; width: 100px;">Yes</button>
                </div>
            </div>
            <!-- Deactivation User popup message -->

            <!--Reactive User popup message -->
            <div id="ReactiveMessage" class="popup-message modal hide border-lightblue" style="width: 500px; height: 180px">
                <div class="modal-header background-lightblue" style="font-family: Arial">Confirm Reactive</div>
                <div class="modal-body" style="height: 50px">
                    Are you sure you want to Reactive user <span class="UsernameStr2" id="UsernameStr4" style="font-weight: bold"></span>&nbsp; ?         
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnReactiveUserCancel" style="float: left; width: 100px;">Cancel</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnReactiveUserSave" style="float: right; width: 100px;">Yes</button>
                </div>
            </div>
            <!-- Deactivation User popup message -->

            <!--Delete User popup message -->
            <div id="DeleteMessage" class="popup-message modal hide border-lightblue" style="width: 500px; height: 180px">
                <div class="modal-header background-lightblue" style="font-family: Arial">Confirm Delete</div>
                <div class="modal-body" style="height: 50px">
                    Are you sure you want to Delete user <span class="UsernameStr3" id="UsernameStr3" style="font-weight: bold"></span>&nbsp; ?         
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnDeleteUserCancel" style="float: left; width: 100px;">Cancel</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnDeleteUserSave" style="float: right; width: 100px;">Delete</button>
                </div>
            </div>
            <!--Delete User popup message -->
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")


@section ScriptsTab {

    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.EnquiryModule.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.com.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            ActivateTopbarMenu(10);

            BindCountry();

            BindEnquiryType();

            BindStatus('@ViewBag.UserName');

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;

            var lastdate1 = $('#lastdate1').val();
            if (lastdate1 == '') {
                $('#dp1').attr('data-date', today);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', today);
                $('#lastdate1').val(today);
            }
            else {
                $('#dp1').attr('data-date', lastdate1);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', lastdate1);
            }

            var lastdate2 = $('#lastdate2').val();
            if (lastdate2 == '') {
                $('#dp2').attr('data-date', today);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', today);
                $('#lastdate2').val(today);
            }
            else {
                $('#dp2').attr('data-date', lastdate2);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', lastdate2);
            }
            //Customer History Button
            $("#btnCustomerHistory").live("click", function () {
                //if ($("#divHistoryLeftView").hasClass("row-9"))
                //    $("#editor").css("width", "1140px");
                //else
                //    $("#editor").css("width", "788px");
                //$("#divHistoryLeftView").toggleClass("row-12 row-9");
                //$("#divHistoryRightView").toggleClass("collapsed");
                
                FillTicketItems($('#HiId').val());
                $("#divHistoryRightView").toggle(); 
            });

            $('#InUsername').bind('keyup blur', function () {
                var node = $(this);
                var re = /[^a-zA-Z_#.]/g;
                //node.val(node.val().replace(/[^a-zA-Z\s]/g, ''));
                node.val(node.val().replace(re, ''));
            }
       );

            $('#infirstname').bind('keyup blur', function () {
                var node = $(this);
                var re = /[^a-zA-Z_#.]/g;
                node.val(node.val().replace(re, ''));
                //node.val(node.val().replace(/[^a-zA-Z\s]/g, ''));
            }
      );

            $('#inlastname').bind('keyup blur', function () {
                var node = $(this);
                var re = /[^a-zA-Z_#.]/g;
                node.val(node.val().replace(re, ''));
                //node.val(node.val().replace(/[^a-zA-Z\s]/g, ''));
            }
      );

            var fromDate = convertDate01($.trim($('#startdate').val()));
            var toDate = convertDate01($.trim($('#enddate').val()));
            var Enquiry_ID = "";

            GetUserListData(fromDate, toDate, Enquiry_ID)

            $("#btnaddEnquiry").live("click", function () {
                $('#Himode').val(1);
                clearfiled()
                // GetPermissionlist();
                $('#UserMenuHeader').text('New Enquiry');
                // $("#GIAddUser").show();
                $('#GIAddUser').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
            $("#historycomments").live("click", function () {
                $('#CommentMenuHeader').text('New Comment');
                // $("#GIAddUser").show();
                $('#GIHistoryComment').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#EnquiryListBtn").live("click", function () {
                $("#tblDDOperationContainer").show();
                var fromDate = convertDate01($("#startdate").val());
                var toDate = convertDate01($("#enddate").val());
                GetUserListData(fromDate, toDate, Enquiry_ID);
            });
            $("#btnGINewCancel").live("click", function () {
                window.location = '/Enquiries/UserList';
            });
            //Add user Cancel
            $("#btnGINewCancel").live("click", function () {
                clearfiled()
                // GetPermissionlist()
                $("#GIAddUser").hide();
            });
            $(".PMSuccess").live("click", function () {
                window.location = '/Enquiries/UserList';
            });

            //Add user Save 22/05/2019
            $("#btnGINewSave").live("click", function () {
                $('#GIAddUser').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
                var EnquirerName = $('#InEnquirerName').val();
                var MobileNo = $('#InMobileNo').val();
                var Email = $('#InEmail').val();

                var Existing_Network = $('#InExistingnetwork').val();
                var Country = $('#inCountry').val();
                //User Role
                var Enquiry_Type = $('#inEnquiryType').val();
                var Query = $('#iEnquiryDescription').val();
                var Comments = $('#iVectoneResponse').val();
                var username = '@ViewBag.userid';
                var isvalid = validateNewenquiry();
                if (isvalid) {
                    InsertNewUser(EnquirerName, MobileNo, Email, Existing_Network, Country, Enquiry_Type, Query, Comments, username, $('#Himode').val(), $('#HiId').val());
                }
                //var isvalid = validateNewenquiry();
                //if (isvalid) {
                //    InsertNewUser(EnquirerName, MobileNo, Email, Existing_Network, Country, Enquiry_Type, Query, Comments, username, $('#Himode').val(), $('#HiId').val())
                //}
            });

            $("#btnHistoryCommentSave").live("click", function () {
                $('#GIHistoryComment').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
                var comment = $('#iComment').val();
                var username = '@ViewBag.UserName';
                InsertComments($('#HiId').val(), comment, username)
            });


            //On Chnage select action
            $("select.selectuserlistAction").live("change", function () {
                var Enquiry_ID = $(this).attr("data-enquiry_id");
                var User_Name = $(this).attr("data-UserName");
                var actionNo = $(this).val();
                var mode = "2";

                switch (actionNo) {
                    case '1': // Edit user
                        //GetPermissionlist('@ViewBag.userid', mode);
                        GetUserPermissionlist('@ViewBag.userid', Enquiry_ID, mode);

                        // GetPermissionlist();
                        $('#Himode').val(2);
                        $('#HiId').val($(this).attr("data-enquiry_id"));
                        $('#UserMenuHeader').text('Edit Enquiry');
                        $("#GIAddUser").show();
                        FillTicketItems(Enquiry_ID)
                        $('#GIAddUser').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                        break;
                    case '2': // Delete user
                        $('#UsernameStr3').text(User_Name);
                        $('#DeleteMessage').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                        break;
                    case '3': // Deactivte user
                        $('#UsernameStr2').text(User_Name);
                        $('#DeactivationMessage').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                        break;
                    case '4': // Reactive  user
                        $('#UsernameStr4').text(User_Name);
                        $('#ReactiveMessage').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                        break;
                }
                $(this).val(0);
            });

            //Deactivate button click event
            $("#btnUserSave").live("click", function () {
                var Id = $('#HiId').val();
                var Username = $('#HiUsername').val();
                Deactivate(Id, Username)
                //alert('reactivte pop up');
            });
            //Delete button click event
            $("#btnDeleteUserSave").live("click", function () {
                var Id = $('#HiId').val();
                var Username = $('#HiUsername').val();
                DeleteUser(Id, Username)
                //alert('delete pop up');
            });
            // Reactive  button click event
            $("#btnReactiveUserSave").live("click", function () {
                var Id = $('#HiId').val();
                var Username = $('#HiUsername').val();
                Reactive(Id, Username)
                //alert('delete pop up');
            });
            //Download excel data             
            $("#btnExportHistory").live("click", function () {

                var date_from = convertDate01($.trim($('#startdate').val()));
                var date_to = convertDate01($.trim($('#enddate').val()));
                var Enquiry_ID = "";
                var JSONSendData = {
                    date_from: date_from,
                    date_to: date_to,
                    Enquiry_ID: Enquiry_ID
                };
                var url = '/Enquiries/UsersDownload';
                var IFrameURL = "";
                $.ajax
                ({
                    url: url,
                    type: 'post',
                    data: JSON.stringify(JSONSendData),
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    beforeSend: function () {
                        $("#ajax-screen-masking").show();
                    },
                    success: function (feedback) {
                        if (feedback.errcode == 0) {
                            var IFrameData = $('<iframe/>', { id: 'downloadIFrame', src: '/Enquiries/GoDownloadEnquiry?id=' + feedback.Text + '&historyName=' + feedback.errmsg, style: 'display:none' });
                            $("#ajax-screen-masking").append(IFrameData);
                        }
                        $("#ajax-screen-masking").hide();
                    }
                });
            });
        });

    </script>
}