﻿@model CRM_API.Models.LoginPage

@{
    Layout = null;
    ViewBag.Title = "CRM Login";
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <link href="~/Assets/ThirdParty/bootstrap/v2.3.2/css/bootstrap.min.css" rel="stylesheet" />
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href="~/Assets/Main/css/swid-authlogin.css" rel="stylesheet">
        <link href="~/Assets/Main/css/swid-styles.css" rel="stylesheet">
    </head>
<!-- END HEAD -->

<body>
    @*@Html.Partial("~\\views\\shared\\_HeaderPartial.cshtml")*@
    <div id="main">
        <div class="lwrapper">
            <div class="lmessage">
            @if (!string.IsNullOrEmpty(Model.ErrMsg))
            {
                <div id="lmsg" class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&nbsp;</button>
                    <h4><strong>Login Failure</strong></h4>
                    @Model.ErrMsg
                </div>
            }
            </div>
            <div class="lform rounded20-all">
                <div class="lheader">Vectone CRM3</div>
                <div class="lcontent">
                    <form id="flogin" action="/Auth/DoLogin" method="post">
				    <div class="form-top">Login to your account</div>
                    <div class="form-middle">
                        <div class="form-middle-left">
				            <div class="input-prepend" style="margin-top:20px">
					            <span class="add-on"><i class="icon-user"></i></span>
                                <input data-val="true" data-val-required="The User name field is required." id="LoginName" name="LoginName" type="text" value="" />
				            </div>
				            <div class="input-prepend">
					            <span class="add-on"><i class="icon-lock"></i></span>
                                <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" />
				            </div>
                        </div>
                        <div class="form-middle-right">
                            <img src="~/Assets/Main/img/users-image.png" />
                        </div>
				    </div>
                    <div class="form-bottom">
                        <div class="form-bottom-left">
				            <button id="btnLogin" class="btn btn-danger">Login</button>
                        </div>
                        <div class="form-bottom-right">
                           @* Forgot your password?
                            <br />
                            <span>Click <a href="">here</a> to reset your password.</span>*@
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END LOGIN -->
    </div>

    <script type="text/javascript" src="~/Assets/ThirdParty/jquery/cores/jquery-1.8.3.min.js"></script>	
    <script type="text/javascript" src="~/Assets/ThirdParty/jquery/plugins/jquery.cookie.js"></script> 
	<!--[if lt IE 9]>
	<script type="text/javascript" src="~/Assets/ThirdParty/other/js/excanvas.js"></script>
	<script type="text/javascript" src="~/Assets/ThirdParty/other/js/respond.js"></script>	
	<![endif]-->	
    <script type="text/javascript" src="~/Assets/ThirdParty/bootstrap/v2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/swid-authlogin.js"></script>
    </body>
</html>


