﻿@model CRM_API.Models.Permission.User
@{
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "TabUserList";   
}

@*<h2>Search Transaction Default View</h2>*@
<style>
    #tblDDOperation_length
    {
        display: none;
    }

    #tblDDOperation
    {
        overflow: scroll;
    }

        #tblDDOperation thead tr
        {
            background: linear-gradient(to bottom, #437edc, #4b8df8);
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even
        {
            background: #fff;
        }

    #tblDDOperationContainer
    {
        background-position: 50% 0;
    }

    #dp1
    {
        position: relative;
        bottom: 12px;
    }
</style>

<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">
    <div style="padding: 10px;">
        <div id="tblInternetProfileContainer" style="padding: 10px;">

            <div class="portlet box blue" id="pbInternetProfile">
                <div class="portlet-title" style="height: 30px; border-bottom: 0">
                    <h4><span style="font-size: 18px; font-weight: bold">Users List</span></h4>
                </div>
                <div class="portlet-body">
                    <table border="0" style="width: 100%">
                        <tr>
                            <td style="vertical-align: top">
                                <button id="btnadduser" class="btn blue btn-add-profiles" style="margin: 15px; margin-left: 9px">Add User</button>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                    <div class="portlet-body" id="pbInternetProfileBody" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                        <table class="table table-bordered" id="tblPBInternetProfile"></table>
                    </div>
                </div>
                <input type="hidden" id="HiId" name="HiId" />
                <input type="hidden" id="HiUsername" name="HiUsername" />
                <input type="hidden" id="Himode" name="Himode" />
            </div>
            <!-- Add New User -->
            <div id="GIAddUser" class="popup-message modal hide border-lightblue" style="width: 532px; height: 469px">
                <div class="modal-header background-lightblue" style="font-family: Arial">@*Add User*@
                    <div class="UserMenuHeader" id="UserMenuHeader" style="font-family: Arial; text-align: left;font-weight: normal; width: 80%; float: left;"></div>
                    <div style="text-align: right; width: 19%; float: right; height: 19px; width: 19px">
                    <img src="~/Assets/Main/img/popup-close.png" style="cursor: pointer" id="imgReplyClose" title="Close" data-dismiss="modal" />
                </div>
                </div>
                <div class="modal-body" style="height: 342px; font-size: 14px; padding: 15px 20px">
                    <input type="hidden" id="iGIECSubscriberID" name="iGIECSubscriberID" value="" />
                    <table id="tblCustomerGeneralInfo" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="width: 150px;">User Name</td>
                                <td style="width: 450px;">
                                    @* @Html.TextBoxFor(Model => Model.Username)*@
                                    <input style="width: 305px" type="text" id="InUsername" name="Username" />
                                    <label class="errLabel" id="lblusername" style="display: none; color: red">* Please enter user name</label>
                                    <label class="errLabel" id="lblCheckusername" style="display: none; color: red">* User name and Email already exits</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>
                                    <input style="width: 305px" type="password" id="inpassword" name="inpassword" />
                                    <label class="errLabel" id="lblpwd" style="display: none; color: red">* Please enter password</label>
                                    @* @Html.EditorFor(Model => Model.Password)*@
                                </td>
                            </tr>
                            <tr>
                                <td>Retype Password</td>
                                <td>
                                    <input style="width: 305px" type="password" id="inretypepassword" name="inretypepassword" />
                                    <label class="errLabel" id="lblconpwd" style="display: none; color: red">* Please enter confrom password</label>
                                    <label class="errLabel" id="lblconvalipwd" style="display: none; color: red">* Password and conform password does not match</label>
                                    @*@Html.EditorFor(Model => Model.RetypePassword)*@
                                </td>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td>
                                    <input style="width: 305px" type="text" id="infirstname" name="infirstname" />
                                    <label class="errLabel" id="lblfirname" style="display: none; color: red">* Please enter user first name</label>
                                    @*@Html.TextBoxFor(Model => Model.FirstName)*@
                                </td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>
                                    <input style="width: 305px" type="text" id="inlastname" name="inlastname" />
                                    @*@Html.TextBoxFor(Model => Model.LastName)*@
                                </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>
                                    <input style="width: 305px" type="text" id="inemail" name="inemail" />
                                    <label class="errLabel" id="lblemail" style="display: none; color: red">* Please enter email id</label>
                                    <label class="errLabel" id="lblValiemail" style="display: none; color: red">* Please enter valid email id</label>
                                    @* @Html.TextBoxFor(Model => Model.Email)*@
                                </td>
                            </tr>
                            <tr>
                                <td>User Role</td>
                                <td>
                                    <select id="inUserRole" name="inUserRole">
                                    </select>
                                    <input type="hidden" id="ihUserRole" name="ihUserRole" />
                                </td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>
                                    <select id="inStatus" name="inStatus">
                                        <option value="1">Active</option>
                                        <option value="2">Inactive</option>
                                    </select>
                                    <input type="hidden" id="ihStatus" name="ihStatus" />
                                </td>
                            </tr>
                            <tr>
                                <td>Assign Emails</td>
                                <td>
                                    <select id="inAssignEmails" name="inAssignEmails">
                                        <option value="0">Active</option>
                                        <option value="1">Inactive</option>
                                    </select>
                                    <input type="hidden" id="ihAssignEmails" name="ihAssignEmails" />
                                </td>
                            </tr>
                            <tr>
                                <td>Permission List</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="tblPermissionList" border="0" style="margin-left: 130px">
                        <tbody>
                            <tr>

                                <td>
                                    <label class="errLabel" id="lblpermission" style="display: none; color: red">* Please select any one permission list below</label>
                                    <div id="Inpermissionlist" class="Inpermissionlist"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnGINewCancel" style="float: left; width: 130px;">Cancel</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnGINewSave" style="float: right; width: 130px;">Save</button>
                </div>
            </div>
            <!-- Add New User -->

            <!-- Edit Old User -->
            <!--   <div id="GIEditUser" class="popup-message modal hide border-lightblue" style="width: 532px; height: 469px">
                <div class="modal-header background-lightblue" style="font-family: Arial">Edit User</div>
                <div class="modal-body" style="height: 342px; font-size: 14px; padding: 15px 20px">
                    @*<input type="hidden" id="iGIECSubscriberID" name="iGIECSubscriberID" value="" />*@
                    <table id="tblEditCustomerGeneralInfo" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="width: 150px;">User Name</td>
                                <td style="width: 350px;">
                                    @* @Html.TextBoxFor(Model => Model.Username)*@
                                    <input style="width: 305px" type="text" id="InEditUsername" name="InEditUsername" />
                                    <label class="errLabel" id="lblEditusername" style="display: none; color: red">* Please enter user name</label>
                                </td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>
                                    <input style="width: 305px" type="password" id="inEditpassword" name="inEditpassword" />
                                    <label class="errLabel" id="lblEditpwd" style="display: none; color: red">* Please enter password</label>
                                    @* @Html.EditorFor(Model => Model.Password)*@
                                </td>
                            </tr>
                            <tr>
                                <td>Retype Password</td>
                                <td>
                                    <input style="width: 305px" type="password" id="ineditretypepassword" name="ineditretypepassword" />
                                    <label class="errLabel" id="lbleditconpwd" style="display: none; color: red">* Please enter confrom password</label>
                                    @*@Html.EditorFor(Model => Model.RetypePassword)*@
                                </td>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td>
                                    <input style="width: 305px" type="text" id="ineditfirstname" name="ineditfirstname" />
                                    <label class="errLabel" id="lbleditfirname" style="display: none; color: red">* Please enter user first name</label>
                                    @*@Html.TextBoxFor(Model => Model.FirstName)*@
                                </td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>
                                    <input style="width: 305px" type="text" id="ineditlastname" name="ineditlastname" />
                                    @*@Html.TextBoxFor(Model => Model.LastName)*@
                                </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>
                                    <input style="width: 305px" type="text" id="ineditemail" name="ineditemail" />
                                    <label class="errLabel" id="lbleditemail" style="display: none; color: red">* Please enter email id</label>
                                    @* @Html.TextBoxFor(Model => Model.Email)*@
                                </td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>
                                    <select id="ineditStatus" name="ineditStatus">
                                        <option value="1">Active</option>
                                        <option value="2">Inactive</option>
                                    </select>
                                    <input type="hidden" id="iheditStatus" name="iheditStatus" />
                                </td>
                            </tr>
                            <tr>
                                <td>Permission List</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table id="tbleditPermissionList" border="0" style="margin-left: 130px">
                        <tbody>
                            <tr>
                               
                                <td>
                                    <div id="Ineditpermissionlist" class="Ineditpermissionlist"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnGIeditCancel" style="float: left; width: 130px;">Cancel</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnGIeditSave" style="float: right; width: 130px;">Save</button>
                </div>
            </div> -->
            <!-- Edit Old User -->

            <!--Deactivation User popup message -->
            <div id="DeactivationMessage" class="popup-message modal hide border-lightblue" style="width: 500px; height: 180px">
                <div class="modal-header background-lightblue" style="font-family: Arial">Confirm Deactivation</div>
                <div class="modal-body" style="height: 50px">
                    Are you sure you want to Deactive user <span class="UsernameStr2" id="UsernameStr2" style="font-weight: bold"></span>&nbsp; ?         
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnUserCancel" style="float: left; width: 100px;">Cancel</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnUserSave" style="float: right; width: 100px;">Yes</button>
                </div>
            </div>
            <!-- Deactivation User popup message -->

            <!--Reactive User popup message -->
            <div id="ReactiveMessage" class="popup-message modal hide border-lightblue" style="width: 500px; height: 180px">
                <div class="modal-header background-lightblue" style="font-family: Arial">Confirm Reactive</div>
                <div class="modal-body" style="height: 50px">
                    Are you sure you want to Reactive user <span class="UsernameStr2" id="UsernameStr4" style="font-weight: bold"></span>&nbsp; ?         
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnReactiveUserCancel" style="float: left; width: 100px;">Cancel</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnReactiveUserSave" style="float: right; width: 100px;">Yes</button>
                </div>
            </div>
            <!-- Deactivation User popup message -->

            <!--Delete User popup message -->
            <div id="DeleteMessage" class="popup-message modal hide border-lightblue" style="width: 500px; height: 180px">
                <div class="modal-header background-lightblue" style="font-family: Arial">Confirm Delete</div>
                <div class="modal-body" style="height: 50px">
                    Are you sure you want to Delete user <span class="UsernameStr3" id="UsernameStr3" style="font-weight: bold"></span>&nbsp; ?         
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnDeleteUserCancel" style="float: left; width: 100px;">Cancel</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnDeleteUserSave" style="float: right; width: 100px;">Delete</button>
                </div>
            </div>
            <!--Delete User popup message -->
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")


@section ScriptsTab {

    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.UserModule.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.com.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            ActivateTopbarMenu(9);

            BindUserRole();

            $('#InUsername').bind('keyup blur', function () {
                var node = $(this);
                var re = /[^a-zA-Z_#.]/g;
                //node.val(node.val().replace(/[^a-zA-Z\s]/g, ''));
                node.val(node.val().replace(re, ''));
            }
       );

            $('#infirstname').bind('keyup blur', function () {
                var node = $(this);
                var re = /[^a-zA-Z_#.]/g;
                node.val(node.val().replace(re, ''));
                //node.val(node.val().replace(/[^a-zA-Z\s]/g, ''));
            }
      );

            $('#inlastname').bind('keyup blur', function () {
                var node = $(this);
                var re = /[^a-zA-Z_#.]/g;
                node.val(node.val().replace(re, ''));
                //node.val(node.val().replace(/[^a-zA-Z\s]/g, ''));
            }
      );

            GetUserListData()

            $("#btnadduser").live("click", function () {
                $('#Himode').val(1);
                GetPermissionlist();
                $('#UserMenuHeader').text('Add User');
                // $("#GIAddUser").show();
                $('#GIAddUser').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnGINewCancel").live("click", function () {
                window.location = '/Users/UserList';
            });
            //Add user Cancel
            $("#btnGINewCancel").live("click", function () {
                clearfiled()
                // GetPermissionlist()
                $("#GIAddUser").hide();
            });
            $(".PMSuccess").live("click", function () {
                window.location = '/Users/UserList';
            });

            //Add user Save
            $("#btnGINewSave").live("click", function () {
                $('#GIAddUser').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
                var Username = $('#InUsername').val();
                var FirstName = $('#infirstname').val();
                var LastName = $('#inlastname').val();
                var Email = $('#inemail').val();
                var Password = $('#inpassword').val();
                var RetypePassword = $('#inretypepassword').val();
                //User Role
                var role_id = $('#inUserRole').val();
                var Status = $('#inStatus').val();
                var AssignEmails = $('#inAssignEmails').val();
                var mode = $('#Himode').val();
                //  var sitecode = $.trim('@ViewBag._sitecode');
                var PermissionList = '';
                $('#Inpermissionlist input:checked').each(function () {
                    PermissionList += this.id + ",";
                    //chkId = $("$chklistitem").val();
                });
                if (mode == "2") {
                    var User_Id = $('#HiId').val();
                }
                else {
                    var User_Id = null;
                }
                var isvalid = validateNewuser();
                if (isvalid) {
                    if (!ValidateEmail($("#inemail").val())) {
                        // alert("Invalid email address.");
                        $('#lblValiemail').show();
                    }
                    else {

                        $('#lblValiemail').hide();
                        InsertNewUser(Username, FirstName, LastName, Email, Password, RetypePassword, Status, AssignEmails, PermissionList, mode, User_Id, role_id)
                    }

                }
            });


            //On Chnage select action
            $("select.selectuserlistAction").live("change", function () {
                var User_Id = $(this).attr("data-Id");
                var User_Name = $(this).attr("data-UserName");
                var actionNo = $(this).val();
                var mode = "2";
                //Hidden Variable declare for user id and User name
                $('#HiId').val(User_Id);
                $('#HiUsername').val(User_Name);
                switch (actionNo) {
                    case '1': // Edit user
                        GetPermissionlist(User_Id, mode);
                        // GetUserPermissionlist(User_Id);
                        // GetPermissionlist();
                        $('#Himode').val(2);
                        $('#UserMenuHeader').text('Edit User');
                        $("#GIAddUser").show();
                        $('#GIAddUser').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                        break;
                    case '2': // Delete user
                        $('#UsernameStr3').text(User_Name);
                        $('#DeleteMessage').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                        break;
                    case '3': // Deactivte user
                        $('#UsernameStr2').text(User_Name);
                        $('#DeactivationMessage').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                        break;
                    case '4': // Reactive  user
                        $('#UsernameStr4').text(User_Name);
                        $('#ReactiveMessage').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                        break;
                }
                $(this).val(0);
            });

            //Deactivate button click event
            $("#btnUserSave").live("click", function () {
                var Id = $('#HiId').val();
                var Username = $('#HiUsername').val();
                Deactivate(Id, Username)
                //alert('reactivte pop up');
            });
            //Delete button click event
            $("#btnDeleteUserSave").live("click", function () {
                var Id = $('#HiId').val();
                var Username = $('#HiUsername').val();
                DeleteUser(Id, Username)
                //alert('delete pop up');
            });
            // Reactive  button click event
            $("#btnReactiveUserSave").live("click", function () {
                var Id = $('#HiId').val();
                var Username = $('#HiUsername').val();
                Reactive(Id, Username)
                //alert('delete pop up');
            });

            ////Edit User 
            //$("#btnGINewSave").live("click", function () {

            //    var Username = $('#InUsername').val();
            //    var FirstName = $('#infirstname').val();
            //    var LastName = $('#inlastname').val();
            //    var Email = $('#inemail').val();
            //    var Password = $('#inpassword').val();
            //    var RetypePassword = $('#inretypepassword').val();
            //    var Status = $('#inStatus').val();
            //    var mode = 2;
            //    var PermissionList = '';
            //    $('#Inpermissionlist input:checked').each(function () {
            //        PermissionList += this.id + ",";
            //        //chkId = $("$chklistitem").val();
            //    });               
            //    var isvalid = validateNewuser();
            //    if (isvalid) {
            //        InsertNewUser(Username, FirstName, LastName, Email, Password, RetypePassword, Status, PermissionList)
            //    }
            //});

            //Download excel data             
            $("#btnUserlist").live("click", function () {
                var url = '/Users/UsersDownload';
                var IFrameURL = "";
                $.ajax
                ({
                    url: url,
                    type: 'post',
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    beforeSend: function () {
                        $("#ajax-screen-masking").show();
                    },
                    success: function (feedback) {
                        if (feedback.errcode == 0) {
                            var IFrameData = $('<iframe/>', { id: 'downloadIFrame', src: '/Users/GoDownloaduserHistory?id=' + feedback.Text + '&historyName=' + feedback.errmsg, style: 'display:none' });
                            $("#ajax-screen-masking").append(IFrameData);
                        }
                        $("#ajax-screen-masking").hide();
                    }
                });
            });
        });
    </script>
}