﻿@{
    ViewBag.Title = "TabLsearchcustomer";
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";    
}



<style>

    .Box-1 {
        border:1px solid #ccc;
        padding:15px 0 35px 20px
    }
    .tab {
        width:100%;
        overflow:hidden
    }
        .tab ul {
            overflow:hidden;
            margin:0
        }
    #tblDDOperation_length
    {
        display: none;
    }

    #tblDDOperation
    {
        overflow: scroll;
    }

        #tblDDOperation thead tr
        {
            background: linear-gradient(to bottom, #437edc, #4b8df8);
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even
        {
            background: #fff;
        }

    #tblDDOperationContainer
    {
        background-position: 50% 0;
    }
      .tab ul li
       {
        float:left;
        width:33.1%;
        line-height:40px;
        border:1px solid #808080;
        color:#fff;        
        list-style-type:none;
        text-align:center;
        background: #fff;
        font-size:13px
        }

        .tab ul li a {
            display:block;
            cursor:pointer
        }
    .selectedtb {
        background: #6E5CA8;/*linear-gradient(to bottom, #437edc, #4b8df8) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
 font-weight: bold;
 color:#fff;
 font-size:13px

    }

     .selectedtb:hover
        {
            color:#fff;
        }

    .None {
    display:none}
    #cityview {
    float:right;
    margin-top:25px
    }
    #chkSelectAll {
        display:none
    }
     #chkSelectpro3 {
        display:none
    }    
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">
    <div class="Box-1">
    <h2>Search Number</h2>
    <div style="float:left">
        Search By  :   
        <select id="ddlTransaction">
            <option value="">Select</option>
            <option value="1">LLOM</option>
            <option value="2">Prefix</option>
            <option value="3">Mobile Number</option>
            <option value="4">Country</option>
            <option value="5">City</option>
        </select>
         <input type="text" id="txtsearch" />
        
    </div>
    <button id="btnsearch" class="btn blue btn-add-profiles" style="float: left; margin: 0 15px">Search</button>
        &nbsp; &nbsp;</div>
    <div class="clear" style="clear:both"></div>
    <div class="tab" style="width:102%">
        <ul>
            <li style="width:48.9%"><a id="countryload"  >Country</a></li>
            <li style="width:48.9%"><a id="productload" >Product</a></li>
            <!--<li><a id="cityload" >City</a></li>-->
        </ul>

    </div>
    <div id="cityview">
        @*<button id="btnunmap" class="btn blue btn-add-profiles None"  style="float: left; margin: 0 15px">UnMap</button>
        <button id="btnmapt" class="btn blue btn-add-profiles None"  style="float: left; margin: 0 15px">Reserve</button>*@

        <button id="btnmapt" class="btn blue btn-add-profiles"  style="float: left; margin: 0 15px">Reserve</button>
        <button id="btnunmap" class="btn blue btn-add-profiles"  style="float: left; margin: 0 15px">UnMap</button>

         <input type="hidden" id="hdnllomnumber"> 
         <input type="hidden" id="hdnllomnumberunmap1"> 
         <input type="hidden" id="hdnllomnumberunmap2"> 
         <input type="hidden" id="hdnllomnumberlist"> 
    </div>
      <div id="SuccessfulConformMsg" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
          Reserve this Number
        </div>
        <div class="modal-body">
           Enter the Vectone number you want to reserve against?
           <input type="text" id="txtvectonenumbermap" onblur="checkmsisdn();" />
            <label id="lblmsg" class="None">Please Enter correct Number</label>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal"  class="btn blue" type="button" id="btnOkk" style="width: 100px;">Confirm</button>  
            <button data-dismiss="modal"  class="btn blue" type="button" id="btncancel" style="width: 100px;">Cancel</button>  
        </div>
    </div>



    <div id="SuccessfulConformMsgunmap" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
          UnMap Number
        </div>
        <div class="modal-body">
           Do you want to unMap these selected number?
         
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal"  class="btn blue" type="button" id="btnOkkk" style="width: 100px;">Confirm</button> 
             <button data-dismiss="modal"  class="btn blue" type="button" id="btnOcancel" style="width: 100px;">Cancel</button>  
        </div>
    </div>

    <div id="SuccessfulConformMsg2" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
          Reserve this Number
        </div>
        <div class="modal-body">
           Vectone Number Mapped Sucessfully
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal"  class="btn blue" type="button" id="btnOkconfirm" style="width: 100px;">Close</button>  
        </div>
       
    </div>


     <div id="failureConformMsg2" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
          Reserve Number Failure
        </div>
        <div class="modal-body">
          Your Number Mapped Unsuccessfully.Please Enter Correct number
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal"  class="btn blue" type="button" id="btnOkconfirmf" style="width: 100px;">Close</button>  
        </div>
       
    </div>



    <div id="SuccessfulConformMsg2unmap" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
          Reserve this Number
        </div>
        <div class="modal-body">
           Vectone Number UnMapped Sucessfully
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal"  class="btn blue" type="button" id="btnOkclose" style="width: 100px;">Close</button>  
        </div>
       
    </div>
    <div id="tblDDOperationContainer">
        <table id="tblDDOperation" style="background: #fff"></table>
    </div>
   
</div>




@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.finance.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(11);
        });
        //    // getpaymentprofile($('#ddlTransaction').val());
        //    //getlotgprofile($('#ddlTransaction').val());
        var paymentMode = '@Request["pro"]';
		var id = '@Request["id"]';
        var value = '@Request["value"]';
        var Cityy = '@Request["city"]';
        var areaid = '@Request["areaid"]';

        var CityCountry = '@ViewBag.CityCountry';

        var urlt = '';
        var path = '';

        if (paymentMode != "" && Cityy != "") {
            $('#btnmapt').addClass('None');
            $('#btnunmap').addClass('None');
            getllotgpprofile_v2(paymentMode, Cityy);
            $('#countryload').removeClass('selectedtb');
            $('#cityload').addClass('selectedtb');
            $('#productload').removeClass('selectedtb');
        }

        else if (paymentMode != "") {
            //$('#btnmapt').addClass('None');
            //$('#btnunmap').addClass('None');
            $('#btnmapt').attr("disabled", "disabled");
            $('#btnmapt').removeClass('blue');
            $('#btnunmap').attr("disabled", "disabled");
            $('#btnunmap').removeClass('blue');
            getlotgproductprofileinput_v1(paymentMode);
        }


        else if (Cityy != "") {
            //$('#btnmapt').addClass('None');
            //$('#btnunmap').addClass('None');
            $('#cityview').removeClass('None');
            $('#btnunmap').prop('disabled', true);
            $('#btnunmap').removeClass('blue');
            $('#btnmapt').prop('disabled', true);
            $('#btnmapt').removeClass('blue');
            $('#btnmap').prop('disabled', true);
            $('#btnmap').removeClass('blue');
            $('#btnUpload').prop('disabled', true);
            $('#btnfilter').prop('disabled', true);
            getlotgproductprofileinput(Cityy, areaid, CityCountry);
        }

        else if (id == 2) {
            $('#btnmapt').addClass('None');
            $('#btnunmap').addClass('None');
            getlotgctop(value);
            //$(this).addClass('selectedtb');
            $('#countryload').removeClass('selectedtb');
            $('#cityload').removeClass('selectedtb');
            $('#productload').addClass('selectedtb');
        }
        else if (id == 3) {
            $('#btnmapt').addClass('None');
            $('#btnunmap').addClass('None');
            getlotgctoc(value);
            $('#countryload').removeClass('selectedtb');
            $('#cityload').addClass('selectedtb');
            $('#productload').removeClass('selectedtb');
        }
            //else if (id == 5) 
            //{
            //    $('#btnmapt').addClass('None');
            //    $('#btnunmap').addClass('None');
            //    getllotgpprofile_v2(paymentMode, Cityy);
            //    $('#countryload').removeClass('selectedtb');
            //    $('#cityload').addClass('selectedtb');
            //    $('#productload').removeClass('selectedtb');
            //}
        else {
            $('#btnmapt').addClass('None');
            $('#btnunmap').addClass('None');
            getlotgprofile();
            $('#cityload').removeClass('selectedtb');
            $('#productload').removeClass('selectedtb');
            $('#countryload').addClass('selectedtb');
        }
        //});
        $("#productload").click("click", function () {
            $('#btnmapt').addClass('None');
            $('#btnunmap').addClass('None');
            getlotgproductprofile();
            //$(this).addClass('selectedtb');
            $('#countryload').removeClass('selectedtb');
            $('#cityload').removeClass('selectedtb');
            $(this).addClass('selectedtb');


        });

        $("#productloadcrumb").click("click", function () {
            $('#btnmapt').addClass('None');
            $('#btnunmap').addClass('None');
            getlotgproductprofile();
            //$(this).addClass('selectedtb');
            $('#countryload').removeClass('selectedtb');
            $('#cityload').removeClass('selectedtb');
            $(this).addClass('selectedtb');


        });

        $("#countryload").live("click", function () {
            $('#btnmapt').addClass('None');
            $('#btnunmap').addClass('None');
            getlotgprofile();
            $('#cityload').removeClass('selectedtb');
            $('#productload').removeClass('selectedtb');
            $(this).addClass('selectedtb');

        });
        $("#cityload").live("click", function () {
            $('#btnmapt').addClass('None');

            $('#btnunmap').addClass('None');
            getlotgcityprofile();
            $('#productload').removeClass('selectedtb');
            $('#cityload').removeClass('selectedtb');
            $(this).addClass('selectedtb');

        });


        $("#btnsearch").live("click", function () {
            if ($('#ddlTransaction').val() > 0) {
                $('#btnmapt').addClass('None');
                $('#btnunmap').addClass('None');

                getllotgpprofile($('#ddlTransaction').val(), txtsearch.value);
            }
            else {
                alert('Select the Search By');
            }
        });


        $('#btnmapt').live("click", function () {
            $('#SuccessfulConformMsg').modal({ keyboard: false, backdrop: 'static' }).css({
                'margin-left': function () {
                    return window.pageXOffset - ($(this).width() / 2);
                }
            });
            //$('#StatusCode').val($(this).attr("mimsi-data"));
            //$('#MerchID').val($(this).attr("param-data"));
        });


        $('#btnunmap').live("click", function () {
            $('#SuccessfulConformMsgunmap').modal({ keyboard: false, backdrop: 'static' }).css
                ({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            //$('#StatusCode').val($(this).attr("mimsi-data"));
            //$('#MerchID').val($(this).attr("param-data"));
        });

        $('#btnOkk').live("click", function () {
            var url = apiServer + '/api/ValidateMob?val=' + txtvectonenumbermap.value;
            $.getJSON(url, function (data) {
                var errcode = data.errcode;
                if (errcode == '0') {
                    path = window.location;
                    getllotgmapnumber(hdnllomnumber.value, txtvectonenumbermap.value);
                    $('#SuccessfulConformMsg2').modal({ keyboard: false, backdrop: 'static' }).css
                        ({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                }
                else {
                    path = window.location;
                    $('#failureConformMsg2').modal({ keyboard: false, backdrop: 'static' }).css
                        ({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });


                }
            });
        });


        $('#btnOkkk').live("click", function () {
            path = window.location;
            getllotgunmapnumber(hdnllomnumberunmap1.value, hdnllomnumberunmap2.value);
            $('#SuccessfulConformMsg2unmap').modal({ keyboard: false, backdrop: 'static' }).css({
                'margin-left': function () {
                    return window.pageXOffset - ($(this).width() / 2);
                }
            });
        });


        $('#btnOkconfirm').live("click", function () {
            window.location.href = path;
        });

        $('#btnOkclose').live("click", function () {
            window.location.href = path;
        });

        $("select.selectCountrySaverAction").live("change", function () {
            var Action = parseInt($(this).val());
            var DataParam = $(this).attr("data-param").split("|");
            window.location.href = "/LLOTGSearch/TabLsearchcustomer?id=" + Action + "&value=" + DataParam + "";
            $(this).val(0);
        });


        function checkmsisdn() {
            validatemobnumber(txtvectonenumbermap.value);
        }
        /*
        $(document).ready(function ()
        {
            $("<div class=dataTables_filter style='float:left'><label><a href='./LLOTGSearch/TabLsearchcustomer?id=3&amp;value=Austria32'>Austria32</a></label></div>").insertAfter($("div#tblDDOperation_wrapper > div.row-fluid > div.span6 > div#tblDDOperation_length"));
            
               
        });
        function giveCrumb()
        {
            $("<div class=dataTables_filter style='float:left'><label><a href='./LLOTGSearch/TabLsearchcustomer?id=3&amp;value=Austria33'>Austria33</a></label></div>").insertAfter($("div#tblDDOperation_wrapper > div.row-fluid > div.span6 > div#tblDDOperation_length"));
        }
        window.onload = giveCrumb;
        */
        function executeProductLinkCrumb() {
            $('#btnmapt').addClass('None');
            $('#btnunmap').addClass('None');
            getlotgproductprofile();
            //$(this).addClass('selectedtb');
            $('#countryload').removeClass('selectedtb');
            $('#cityload').removeClass('selectedtb');
            $(this).addClass('selectedtb');
        }

        $("button#ExportToExcelBtnCountry").live("click", function () {
            DownloadCountryDetails(Cityy, areaid, CityCountry);
        });


        $("button#ExportToExcelBtnProduct").live("click", function () {
            DownloadProductDetails(paymentMode);
        });


    </script>
}
