﻿@model CRM_API.Models.Docs.DocModel
@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Document List";   
}
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<input type="hidden" id="hdroleid" name="hdroleid"/>
<input type="hidden" id="hdproduct_name" name="hdproduct_name"/>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4><span style="font-size: 18px; font-weight: bold">Filter Document Search</span></h4>
            </div>
            <div class="portlet-body" id="fcsContainer" style="height: 66px;">
                <table id="tblSearchBy" class=" table table-bordered" style="width: 100%; background-color: #f5f5f5">
                    <tr>
                        <td>Search By : </td>
                        <td>
                            <select id="ddlCategory">
                            </select>
                        </td>
                        @*  <td>
                            <input type="text" id="txtDocSearch" name="txtDocSearch" maxlength="250" style="width: 300px" placeholder="input here">
                        </td>
                        <td style="text-align: center">
                            <button id="btnSearch" class="btn blue" style="width: 80px">Search</button>
                        </td>*@
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid" id="documentContainer">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4><span style="font-size: 18px; font-weight: bold">Documents</span></h4>
            </div>
            <div class="portlet-body" id="documentContainerBody" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                <table class="table table-bordered" id="tblDocumentResult"></table>
            </div>
        </div>
    </div>
</div>

@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.Docs.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(13);

            $("#hdroleid").val($.trim('@ViewBag._role_id'));
            $("#hdproduct_name").val($.trim('@ViewBag._productcode'));

            FillCategory(0);

            Search(0, 0, $("#hdproduct_name").val());

            $("select#ddlCategory").live("change", function () {
                Search($(this).val(), $("#hdproduct_name").val());
            });

            //$("#btnSearch").click(function () {
            //    Search();
            //});

            //function Search() {
            //    if ($.trim($("input[name=txtDocSearch]").val()) != "") {
            //        Search();
            //    }
            //    else {
            //        alert('Enter Search Text!');
            //    }
            //}
        });
    </script>
}