﻿@model CRM_API.Models.Docs.DocModel
@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Document Settings";   
}
<div class="portlet box blue">
    <div class="portlet-title" style="height: 30px; border-bottom: 0">
        Admin Panel
    </div>
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div class="portlet-body">
        <div class="divinner" id="divCategoryRight">
            <div class="control-group">
                <div class="controls">
                    <div style="width: 99%; float: left;">
                        <div style="width: 15%; float: left;">
                            <label style="float: left; padding-right: 10px; width: 60%;">Category<span style="color: red">*</span></label>
                        </div>
                        <div style="width: 30%; float: left;">
                            <select id="ddlCategory" name="ddlCategory" style="float: left; font-size: 13px; width: 186px"></select>
                        </div>
                        <div style="width: 0%; float: left;">
                            <button id="btnAddCategory" class="pull-right btn blue" style="margin-right: 10px">Add</button>
                        </div>
                        <div style="width: 7%; float: left;">
                            <button id="btnEditCategory" class="pull-right btn blue" style="margin-right: 10px; display: none;">Edit</button>
                        </div>
                    </div>
                    <div style="clear: both">&nbsp;</div>
                    <div style="width: 99%; float: left;">
                        <div style="width: 15%; float: left;">
                            <label style="float: left; padding-right: 25px;">Filename<span style="color: red">*</span></label>
                        </div>
                        <div style="width: 60%; float: left;">
                            <input type="text" id="txtDocFileName" name="txtDocFileName" maxlength="100" style="width: 300px" />
                        </div>
                    </div>
                    <div style="clear: both">&nbsp;</div>
                    <div style="width: 99%; float: left;">
                        <div style="width: 15%; float: left;">
                            <label style="float: left; padding-right: 25px;">Upload PDF File<span style="color: red">*</span></label>
                        </div>
                        <div style="width: 60%; float: left;">
                            <input type="file" id="pdfFile" name="pdfFile" accept=".pdf">
                        </div>
                    </div>

                    @*  <div style="clear: both">&nbsp;</div>
                    <div style="width: 99%; margin-bottom: 25px;">
                        <iframe src="http://localhost:55324/UploadedFiles/test.docx" id="divDoc"  style="width: 100%; min-height: 300px;"></iframe>
                    </div>*@

                    <div style="clear: both">&nbsp;</div>
                    <div style="width: 99%; margin-bottom: 25px;">
                        <label class="errLabel" id="lblUploadError" style="color: red;"></label>
                    </div>
                    <div style="clear: both">&nbsp;</div>
                    <div style="width: 60%; margin-bottom: 35px;">
                        <div style="width: 99%; float: right;">
                            <button id="btnDocSave" class="pull-right btn blue" style="margin-right: 10px">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="CategoryPopup" class="popup-message modal hide border-lightblue" style="width: 500px; height: 265px">
    <div class="modal-header background-lightblue" style="font-family: Arial"><span class="CategorySettingsStr"></span></div>
    <div class="modal-body" style="height: 135px">
        <div style="border: 1px solid #c0c0c0; height: 75px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
            <table border="0" style="width: 100%">
                <tr>
                    <td style="width: 22%;">Category<span style="color: red">*</span></td>
                    <td style="width: 78%">
                        <input type="text" id="txtPopupCategoryName" name="txtPopupCategoryName" maxlength="30" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label id="lblPopupCategoryError" style="color: red"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnPopupCategoryCancel" style="float: left; width: 100px;">Cancel</button>
        <button class="btn blue" type="button" id="btnPopupCategoryConfirm" style="float: right; width: 100px;">Submit</button>
    </div>
</div>
<div id="SubCategoryPopup" class="popup-message modal hide border-lightblue" style="width: 500px; height: 265px">
    <div class="modal-header background-lightblue" style="font-family: Arial"><span class="SubCategorySettingsStr"></span></div>
    <div class="modal-body" style="height: 135px">
        <div style="border: 1px solid #c0c0c0; height: 75px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
            <table border="0" style="width: 100%">
                <tr>
                    <td style="width: 22%;">Sub Category<span style="color: red">*</span></td>
                    <td style="width: 78%">
                        <input type="text" id="txtPopupSubCategoryName" name="txtPopupSubCategoryName" maxlength="30" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label id="lblPopupSubCategoryError" style="color: red"></label>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnPopupSubCategoryCancel" style="float: left; width: 100px;">Cancel</button>
        <button class="btn blue" type="button" id="btnPopupSubCategoryConfirm" style="float: right; width: 100px;">Submit</button>
    </div>
</div>
@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.Docs.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var product_name = $.trim('@ViewBag._productcode');

            ActivateTopbarMenu(13);

            FillCategory(1);

            //Category
            $('#ddlCategory').change(function () {
                $('#lblUploadError').html('');
                if ($("#ddlCategory option:selected").val() == "-1") {
                    $("#btnEditCategory").hide();
                }
                else {
                    $("#btnEditCategory").show();
                }
            });

            $("#btnAddCategory").live("click", function () {
                $(".CategorySettingsStr").html("Add Category");
                $("#lblPopupCategoryError").html("");
                $("#txtPopupCategoryName").val("");
                $('#CategoryPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnEditCategory").live("click", function () {
                $(".CategorySettingsStr").html("Edit Category");
                $("#lblPopupCategoryError").html("");
                $("#txtPopupCategoryName").val($("#ddlCategory option:selected").text());
                $('#CategoryPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("#btnPopupCategoryConfirm").live("click", function () {
                if ($.trim($("#txtPopupCategoryName").val()) != "") {
                    if ($(".CategorySettingsStr").html() == "Add Category") {
                        CreateDocCategory(0, $("#txtPopupCategoryName").val(), 1);
                        $("#btnEditCategory").hide();
                    }
                    else {
                        CreateDocCategory($("#ddlCategory option:selected").val(), $("#txtPopupCategoryName").val(), 2);
                        $("#btnEditCategory").hide();
                    }
                }
                else {
                    $("#lblPopupCategoryError").html("Enter Category!");
                }
            });

            $("#pdfFile").change(function () {
                if (this.files && this.files[0] && this.files[0].type != "application/pdf") {
                    $('#lblUploadError').html("Select PDF File!");
                    $('#pdfFile').val("");
                }
            });

            $("#btnDocSave").live("click", function () {
                $("#lblUploadError").html("");
                if ($("#ddlCategory option:selected").val() != "-1") {
                    if ($.trim($("#txtDocFileName").val()) != "") {
                        if ($("#pdfFile")[0].files.length > 0) {
                            var category_id = $("#ddlCategory option:selected").val();
                            var filename = $.trim($("#txtDocFileName").val());
                            var file = $("#pdfFile")[0].files[0];
                            InsertDocUploadInfo(category_id, file, filename, $('.username').html(), 0, 1, product_name);
                        }
                        else {
                            $('#lblUploadError').html("Select PDF File!");
                        }
                    }
                    else {
                        $("#lblUploadError").html("Enter Filename");
                    }
                }
                else {
                    $("#lblUploadError").html("Select Category!");
                }
            });
        });
    </script>
}