@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,200,100);

body{
	background:#5c6a99 url('../img/bg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto';
	font-weight:100;
}
.logo{
	margin-top:5%;
}
.login-box-container{
	width:500px;
	margin-top:30px;
}
.login-box-camo{
	background:#2877bc;
	width:500px;
	height:360px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	position:absolute;
	z-index:1;
	-webkit-box-shadow: 0 8px 20px 0px #333;
	   -moz-box-shadow: 0 8px 20px 0px #333;
	     -0-box-shadow: 0 8px 20px 0px #333;
	        box-shadow: 0 8px 20px 0px #333;
}
.login-box-header{
	background:#fff;
	width:500px;
	padding:15px 0 ;
	position:absolute;
	z-index:2;
	-webkit-border-top-left-radius:10px;
	-moz-border-top-left-radius:10px;
	-o-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-top-right-radius:10px;
	-o-border-top-right-radius:10px;
	border-top-right-radius:10px;
}
.login-box-content{
	position:absolute;
	z-index:2;
	margin-top: 80px;
	width: 500px;
	color:#FFF;

}
.form-container{
	position:absolute;
	width:247px;
	margin:5px 0 0 30px;
	left:0px;
}
.form-title{
	font-size:20pt;
	font-weight:200;
	float:left;
	margin-bottom:30px;
}
.input-prepend{
	margin-bottom:25px;
}
#tony{
	width:225px;
	float:right;
	margin-top: 30px;
}
#login{
	float:right;
	width:125px;
}