﻿body
{
    font-family: Arial;
}
h1,h2,h3,h4,h5,h6
{
    margin:0px;
    padding:0px;
}
.width
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}
.width1
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    background:#01437D;
}
.page
{
    width: 960px;
    position: relative;
    margin: 0 auto;   
}
.topmenu
{
    float:left;
    margin:0 0 0 0;
    height:135px;
    width:960px;
}
img
{
    vertical-align:middle;
}
.repage
{
    float:left;
    padding:100px;
    width:760px;
}
.loginbox
{
    width:552px;
    position:relative;
    margin:0 auto;
    background:#2877BC url('../img/tony.jpg') no-repeat top right;
    padding:10px;
    border:3px solid white;
    height:294px;
    
}
.loginbox h1
{
    font-size:20px;
    color:White;
    font-weight:bold;
    padding:10px;
    
}
.loginbox table
{
    width:250px;
    float:left;
    margin:0 0 0 10px;
    padding:0px;
}
.loginbox table tr td
{
    font-size:13px;
    color:White;
    font-weight:bold;
    padding:8px 0;
}
.loginbox table tr td input
{
    width:245px;
}
.loginbox table tr td select
{
    width:245px;
    font-size:12px;
    font-family:Trebuchet MS;
}
.submitbtn
{
    background:url('../img/login.jpg') no-repeat;
    width:154px !important;
    height:36px;
    text-indent:-99999px;
    border:0px;
    cursor:pointer;
    float:right;
}
.submitbtn:hover
{
    background:url('../img/login_over.jpg') no-repeat;
}

/* ---------------------------------- Horizontal Menu ----------------------------- */

ul.hmenu{
	margin-top: 12px;
}

ul.hmenu li{
	display: inline;
	list-style-type: none;
	color:#999;
	padding:5px;
	cursor:pointer;
	line-height:20px;
}
#profil-link{
	right: 5%;
	margin-top: -33px;
	position: absolute;
}
ul.hmenu li:hover{
	background-color:transparent;
	border-radius:5px;
	color:#000;
}
ul.hmenu li.divider-vertical{
	padding:0px;
}
ul.hmenu li ul{
	display:none;
	position:absolute;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 2px;
}
ul.hmenu li li{
	display:block;
	cursor:pointer;
	min-width:100px;
}
ul.hmenu li li:hover{
	border-radius:0px;
	background-color:#7bd1f1;
}
/* ---------------------------------- End of Horizontal Menu ----------------------------- */

#error-notification{
	position: absolute;
	width: 365px;
	margin: 5px 0 0 10px;
	background: #df2027;
	padding: 10px;
	color: #fff;
	font-size: 9pt;
}
#close-notif{
	position: absolute;
	margin: -20px 0 0 3px;
	cursor: pointer;
}
#logoutForm{
	margin:0px;
}
#perpage{
	width:50px;
}
#searchCustomerResult th, 
#twoInOne th, 
#searchCustomerResult td.center,
#twoInOne td.center{
	text-align:center;
}
#ConfirmOrderBody{
	margin-left:20px;
}
#ViewOrderBodyLeft{
	border-right: 1px solid #ccc;
	width: 50%;
	padding: 5px;
}
#ViewOrderBodyRight{
	float: right;
	width: 45%;
	padding: 5px;
}
#tb2in1_info,#tb2in1_length,#tb2in1_filter,#tb2in1_paginate{
	display:none;
}
#AddCountry{
	width: 180px;
	margin: 5px 0;
}
#loader{
	width:212px;
	height:13px;
	margin:0 auto;
	background:url('../img/loader.gif');
}
.spacing-big{
	height:80px;
}
.avatar-small{
	position: absolute;
}
.table td{
	vertical-align: middle;
}
.table thead{
	background:#f5f5f5;
}
.pagingPanel{
	float:right;
	margin-top:-12px;
}
