﻿<!-- AddBalanceReport -->
@{
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Tabfcanceltopup";
}

<style>
    #tblDDOperation_length
    {
        display: none;
    }

    #tblDDOperation
    {
        overflow: scroll;
    }

        #tblDDOperation thead tr
        {
            background: #6E5CA8; /*linear-gradient(to bottom, #437edc, #4b8df8);*/
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even
        {
            background: #fff;
        }

    #tblDDOperationContainer
    {
        background-position: 50% 0;
    }

    #dp1
    {
        position: relative;
        bottom: 12px;
    }
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<table border="0" style="width: 100%">
    <tr>
        <td style="vertical-align: top"></td>
        <td>&nbsp;</td>
    </tr>
</table>
<div class="row-fluid">
    <div>
        Start Date  :   
        <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
            <input class="span8" id="startdate" size="23" type="text" maxlength="10">
            <input type="hidden" id="lastdate1">
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        End Date  :   
         <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy" style="line-height: 40px;">
             <input class="span8" id="enddate" size="23" type="text">
             <input type="hidden" id="lastdate2">
             <span class="add-on"><i class="icon-calendar"></i></span>
         </div>
        <button id="btnSearch" class="btn blue btn-add-profiles">Search</button>
        @*<button id="btnCancelTopup" class="btn blue btn-add-profiles" style="float: right;">Cancel Topup</button>*@
    </div>
    <div id="tblDDOperationContainer" style="min-height: 100px; background-repeat: no-repeat; background-image: none;">
    </div>
    <div style="float: left;">
        <button id="btnDownload" class="btn blue btn-add-profiles" style="float: right; margin: 15px 0">Download</button>&nbsp; &nbsp;
    </div>
</div>
<!-- Cancel Topup -->
<div id="GICancelTopup" class="popup-message modal hide border-lightblue" style="width: 532px; height: 360px">
    <div class="modal-header background-lightblue" style="font-family: Arial">
        Refund
        <div style="text-align: right; width: 19%; float: right; height: 19px; width: 19px">
            <img src="~/Assets/Main/img/popup-close.png" style="cursor: pointer" id="imgReplyClose" title="Close" data-dismiss="modal" />
        </div>
    </div>
    <div class="modal-body" style="height: 235px; font-size: 14px; padding: 15px 20px">
        <input type="hidden" id="hdsitecode" name="hdsitecode" />
        <table id="tblCancelTopupInfo" border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td style="width:150px">Method</td>
                    <td style="width:150px;vertical-align: bottom">
                        <input type="radio" style="float: left; margin-bottom: 5px;" name="rdCTType" id="rdCTRefund" checked="checked">
                        <label style="float: left; margin-left: 5px;">Refund</label>
                        <input type="radio" style="float: left; margin-bottom: 5px;margin-left: 25px;" name="rdCTType" id="rdCTAddBalance">
                        <label style="float: left; margin-left: 5px;">Add Balance</label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 150px;">Mobile No</td>
                    <td style="width: 150px;">
                        <input type="text" id="txtCTMobileNo" name="txtCTMobileNo" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 150px;">Referene ID</td>
                    <td style="width: 150px;">
                        <input type="text" id="txtCTReferenceID" name="txtCTReferenceID" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 150px;">Amount</td>
                    <td style="width: 150px;">
                        <input type="text" id="txtCTAmount" name="txtCTAmount" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 150px;">Reason</td>
                    <td style="width: 150px;">
                        <textarea id="txtCTReason" name="txtCTReason" style="float: left; width: 307px; height: 95px; resize: none; padding: 5px; font-size: 13px" spellcheck="false"></textarea>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="errLabel" id="lblCTError" style="color: red"></label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnCTCancel" style="float: left; width: 130px;">Cancel</button>
        <button class="btn blue" type="button" id="btnCTSubmit" style="float: right; width: 130px;">Submit</button>
    </div>
</div>
@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.canceltopup.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(8);

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!;
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;
            var date_fr = today;
            var date_to = today;

            var lastdate1 = $('#lastdate1').val();
            if (lastdate1 == '') {
                $('#dp1').attr('data-date', today);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', today);
                $('#lastdate1').val(today);
            }
            else {
                $('#dp1').attr('data-date', lastdate1);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', lastdate1);
            }

            var lastdate2 = $('#lastdate2').val();
            if (lastdate2 == '') {
                $('#dp2').attr('data-date', today);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', today);
                $('#lastdate2').val(today);
            }
            else {
                $('#dp2').attr('data-date', lastdate2);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', lastdate2);
            }

            var date_fr = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());
            getcanceltopupreport($.trim('@ViewBag._sitecode'), date_fr, date_to);
        });

        //Cancel Topup
        $(".btnCTRefund").live("click", function () {
            $("#lblCTError").html("");
            $("#hdsitecode").val($(this).attr("data-sc"));
            $("#txtCTMobileNo").val($(this).attr("data-mn"));
            $("#txtCTReferenceID").val($(this).attr("data-pid"));
            $("#txtCTAmount").val($(this).attr("data-amt"));
            $("#txtCTReason").val("");

            $('#GICancelTopup').modal({ keyboard: false, backdrop: 'static' }).css({
                'margin-left': function () {
                    return window.pageXOffset - ($(this).width() / 2);
                }
            });
        });

        $("#btnCTSubmit").live("click", function () {
            $("#lblCTError").html("");
            var username = $('.username').html();
            if ($.trim($("#txtCTMobileNo").val()) != "") {
                if ($.trim($("#txtCTReferenceID").val()) != "") {
                    if ($.trim($("#txtCTAmount").val()) != "") {
                        if ($.isNumeric($("#txtCTAmount").val()) != "") {
                            if ($.trim($("#txtCTReason").val()) != "") {
                                //var userid = $.trim('@ViewBag._userid');
                                //var sitecode = $.trim('@ViewBag._sitecode');
                                var process_type = $('#rdCTRefund').prop('checked') ? 0 : 1;
                                UpdateCancelTopup($("#hdsitecode").val(), $.trim($("#txtCTMobileNo").val()), $.trim($("#txtCTReferenceID").val()), $.trim($("#txtCTAmount").val()), $.trim($("#txtCTReason").val()), username, process_type);
                            }
                            else {
                                $("#lblCTError").html("Please enter Reason!");
                            }
                        }
                        else {
                            $("#lblCTError").html("Amount should be Numeric!");
                        }
                    }
                    else {
                        $("#lblCTError").html("Please enter Amount!");
                    }
                }
                else {
                    $("#lblCTError").html("Please enter Reference ID!");
                }
            }
            else {
                $("#lblCTError").html("Please enter Mobile No!");
            }
        });

        $("#btnSearch").live("click", function () {
            $("#tblDDOperationContainer").show();
            var date_fr = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());
            getcanceltopupreport($.trim('@ViewBag._sitecode'), date_fr, date_to);
        });

        $("#btnDownload").live("click", function () {
            $("#tblDDOperationContainer").show();
            var date_fr = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());
            downloadcanceltopupreport($.trim('@ViewBag._sitecode'), date_fr, date_to);
        });
    </script>
}