﻿@{
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Tabfsearchcustomer";
}

<h2>View Transaction Default View</h2>
<style>
    #tblDDOperation_length
    {
        display: none;
    }

    #tblDDOperation
    {
        overflow: scroll;
    }

        #tblDDOperation thead tr
        {
            background: linear-gradient(to bottom, #437edc, #4b8df8);
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even
        {
            background: #fff;
        }

    #tblDDOperationContainer
    {
        background-position: 50% 0;
    }
</style>

<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">
    <div>
        View Transaction by Status  :   
        <select id="ddlTransaction">
            <option value="0">All</option>
            <option value="100">Accepted</option>
            <option value="101">Rejected</option>
            <option value="200">Manually Accepted</option>
            <option value="201">Manually Rejected</option>
            @*<option value="301">Auto Topup</option>*@
        </select>
    </div>

    <div id="tblDDOperationContainer">
        <table id="tblDDOperation" style="background: #fff"></table>
    </div>
    
    <div style="float: left;">
        <button id="btnUpload" class="btn blue btn-add-profiles" style="float: right; margin: 15px 0">Download</button>&nbsp; &nbsp;
    </div>
</div>

@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.finance.js"></script>
     @*<script type="text/javascript" src="~/Assets/Main/js/crm.engine.customerInfo.js"></script>*@
    
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(8);
            getpaymentprofile($('#ddlTransaction').val());
            $('#ddlTransaction').change(function () {
                getpaymentprofile($('#ddlTransaction').val());
            });
            $("#btnUpload").live("click", function () {
                getpaymentprofiledownload($('#ddlTransaction').val());
            });
        });
     //   CustomerInfoHeaderChilliTalk($.trim('@ViewBag._AccessCode'));
        
    </script>
}