﻿<!--05-Feb-2019 : Moorthy : Added for auto Topup Report-->
@{
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Tabfautotopupreport";
}

<h2>Auto Topup Report</h2>
<br />
<style>
    #tblDDOperation_length
    {
        display: none;
    }

    #tblDDOperation
    {
        overflow: scroll;
    }

        #tblDDOperation thead tr
        {
            background: linear-gradient(to bottom, #437edc, #4b8df8);
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even
        {
            background: #fff;
        }

    #tblDDOperationContainer
    {
        background-position: 50% 0;
    }

    #dp1
    {
        position: relative;
        bottom: 12px;
    }
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">
    <div>
           Date  :   
        <div  class="input-append date"  id="dp1"  data-date-format="dd/mm/yyyy">
                                        <input  class="span8"  id="startdate"  size="23"  type="text"  value=""  maxlength="10">
                                        <input  type="hidden"  id="lastdate1"  value="">
                                        <span  class="add-on"><i  class="icon-calendar"></i></span>
             </div>
         
          <button id="btnAutoTopupSearch" class="btn blue btn-add-profiles" margin: 15px 0">Search</button>
    </div>

   
    <div id="tblDDOperationContainer">
        <table id="tblDDOperation" style="background: #fff"></table>

    </div>
</div>

@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.finance.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.callhistory.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(8);
        });
        
        $("#btnAutoTopupSearch").live("click", function () {
            GetAutoTopupReport($('#startdate').val());
        });

        $("#btnUpload").live("click", function () {
            DownloadAutoTopupReport($('#startdate').val());
        });

    </script>
}