﻿@{
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
	ViewBag.Title = "Home";

	ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
		CRM_API.Helpers.Session.CurrentUser.user_login :
		string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
}
<style>
	.tiledBackground
	{
		border: 1px solid #cccccc;
		padding: 5px;
		width: 464px;
		display: block;
		background: url('https://emoji.fileformat.info/gemoji/paperclip.png') no-repeat 444px 1px;
		background-size: 25px;
	}

	.panel-purple
	{
		background: #4b8df8;
		color: #fff;
		margin-right: 12px;
	}

	.panel-white
	{
		background: #fff;
		color: #4b8df8;
	}

	.panel .panel-body
	{
		padding: 10px;
	}

	.panel label
	{
		font-weight: 700;
	}

	.form-control
	{
		width: 100%;
		display: block;
	}

	.top-section
	{
		margin-bottom: 15px;
	}

		.top-section .panel
		{
			min-height: 150px;
		}

		.top-section .media-body
		{
			text-align: right;
			overflow: visible;
		}

		.top-section .media
		{
			padding: 10px;
			overflow: visible;
		}

			.top-section .media h4
			{
				font-size: 40px;
				font-weight: 400;
				margin-top: 25px;
				margin-bottom: 25px;
			}

			.top-section .media p
			{
				font-size: 16px;
				font-weight: 700;
				margin-bottom: 0;
			}

	.mid-section
	{
		padding: 15px;
		background: #fff;
	}

		.mid-section .panel-white
		{
			box-shadow: 1px 1px 1px #000;
		}

		.mid-section table
		{
			width: 100%;
		}

			.mid-section table strong
			{
				color: #4b8df8;
				font-size: 14px;
			}

			.mid-section table h1
			{
				color: #4b8df8;
				font-size: 24px;
				font-weight: 700;
			}

			.mid-section table td
			{
				padding: 15px 5px;
			}

		.mid-section h2
		{
			color: #4b8df8;
			font-size: 18px;
			font-weight: 700;
		}

		.mid-section .nav-tabs > li > a, .mid-section .nav-tabs > li > a:hover
		{
			min-width: 30px;
			padding: 10px;
			color: transparent;
			border: 0;
		}

		.mid-section .nav-tabs
		{
			border-bottom: 0;
		}

	.mid-section
	{
		margin-bottom: 15px;
	}

		.mid-section .nav-tabs > li.active:first-child > a
		{
			background: url('/Assets/ThirdParty/chartjs/img/Barchartactive.png') center center;
			background-size: auto;
			background-repeat: no-repeat;
		}

		.mid-section .nav-tabs > li:first-child > a
		{
			background: url('/Assets/ThirdParty/chartjs/img/Barchartinactive.png') center center;
			background-size: auto;
			background-repeat: no-repeat;
		}

		.mid-section .nav-tabs > li:last-child > a
		{
			background: url('/Assets/ThirdParty/chartjs/img/Linechartinactive.png') center center;
			background-size: auto;
			background-repeat: no-repeat;
		}

		.mid-section .nav-tabs > li.active:last-child > a
		{
			background: url('/Assets/ThirdParty/chartjs/img/Linechartactive.png') center center;
			background-size: auto;
			background-repeat: no-repeat;
		}

	.card-block p
	{
		text-align: center;
		color: #525252;
	}

	.bottom-section
	{
		margin-bottom: 15px;
	}

		.bottom-section h2
		{
			color: #4b8df8;
			font-size: 18px;
			font-weight: 700;
		}

		.bottom-section .panel-body
		{
			padding: 10px;
			max-height: 340px;
			overflow-y: auto;
			min-height: 340px;
		}

		.bottom-section table th, .bottom-section table td
		{
			color: #525252;
			font-size: 14px;
			padding: 10px 5px;
		}

		.bottom-section .table1 .table thead
		{
			background: transparent;
		}

		.bottom-section .table1 .table td:last-child, .bottom-section .table1 .table th:last-child
		{
			text-align: right;
		}

		.bottom-section .table3 .btn
		{
			background: #4b8df8;
			color: #fff;
		}

	.media img.media-object
	{
		width: 75%;
	}

	.bottom-section .form-horizontal .control-label
	{
		float: left;
		width: auto;
		padding-top: 5px;
		text-align: right;
	}

	.bottom-section .form-horizontal .controls
	{
		margin-left: 100px;
	}

	.input-append
	{
		margin-bottom: 0;
	}

		.input-append label
		{
			display: inline-block;
			margin-top: 5px;
			margin-right: 5px;
			margin-left: 5px;
			color: #525252;
		}

	.sticky-section .btn-group .btn
	{
		background: #4b8df8;
		color: #fff;
		margin-left: 15px;
	}

	.row
	{
		margin-left: 0px;
	}

	.mid-section .tab-content > .tab-pane
	{
		display: block;
		height: 0px;
		opacity: 0;
	}

	.mid-section .tab-content > .active
	{
		display: block;
		height: auto;
		opacity: 1;
	}

	.sticky-section
	{
		margin-bottom: 15px;
	}
	.input-groups
	{
		border:1px solid #ccc;
	   padding: 21px 5px;

	}
	#ddlHomeEmailMsg
	{
		margin-bottom:0;    
	}
	.input-block-level
	{
		margin-top:15px;
	}
	.bootstrap-tagsinput
	{
	   cursor:pointer !important;
		overflow-y:scroll;
		overflow-x: hidden;
		height:164px!important;   
		width :164px!important;      
	}
	.bootstrap-tagsinput input {
   display: none;
	}
    .row-fluid .span2
    {
        width: 18.293617%;
    }
</style>
<div id="ajax-screen-masking">
	<div id="ajax-loader"></div>
</div>
<div class="container-fluid">
	<div class="sticky-section">
		<div class="row-fluid">
			<div class="panel panel-white">
				<div class="panel-body clearfix">
					<div class="span6 pull-left">
						<div class="row">
							<div class="controls">
								<div style="font-weight: bold; font-size: 14px">Select Product</div>
								<select id="ddlHomeEmailProduct" style="margin-top: 5px;" disabled="disabled">
									<option value="0">All</option>
									<option value="DMAT" alt="BAU">Austria Delight - DMAT</option>
									<option value="VMAT" alt="BAU">Austria Vectone - VMAT</option>
									<option value="VMBE" alt="MBE">Belgium Vectone - VMBE</option>
									<option value="VMFR" alt="MFR">France Vectone - VMFR</option>
									<option value="VMNL" alt="BNL">Netherlands Vectone - VMNL</option>
									<option value="DMUK" alt="MCM">UK Delight - DMUK</option>
									<option value="VMUK" alt="MCM">UK Vectone - VMUK</option>
								</select>
							</div>
						</div>
					</div>
					<div class="span6 pull-right">
						<div class="row">
							<div class="controls">
								<div class="span5">
									<div style="font-weight: bold; font-size: 14px">From</div>
									<div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
										@*<label>From</label>*@
										<input class="span8" id="startdate" size="23" type="text" value="">
										<input type="hidden" id="lastdate1" value="">
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</div>
							</div>
							<div class="controls">
								<div class="span5">
									<div style="font-weight: bold; font-size: 14px">To</div>
									<div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
										@*<label>To</label>*@
										<input class="span8" id="enddate" size="23" type="text" value="">
										<input type="hidden" id="lastdate2" value="">
										<span class="add-on"><i class="icon-calendar"></i></span>
									</div>
								</div>
							</div>
							<div class="controls">
								<div class="span2">
									<div style="font-weight: bold; font-size: 14px">&nbsp;</div>
									<div class="btn-group">
										<button class="btn blue" id="btnDateSearch">show</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="top-section">

		<div class="row-fluid">
			@*<div class="span3">
				<div class="panel panel-purple">
					<div class="panel-body">
						<div class="form-group">
							<label>Select Region</label>
							<select class="form-control">
								<option>All</option>
								<option>united Kingdom</option>
								<option>France</option>
							</select>
						</div>
						<div class="form-group">
							<label>Select Product</label>
							<select class="form-control">
								<option>All</option>
								<option>VMAT</option>
								<option>VMFR</option>
							</select>
						</div>
					</div>
				</div>
			</div>*@

			<div class="span12">
				<div class="row">
					<div class="span2">
						<div class="panel panel-white">
							<div class="panel-body">
								<div class="media">
									<a class="pull-left" href="#">
										<img class="media-object" src="~/Assets/ThirdParty/chartjs/img/EmailsTikRec.png" />
									</a>
									<div class="media-body">
										<h4 class="media-heading" id="mhEmailsReceived"></h4>
										<p>Emails Received</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="span2">
						<div class="panel panel-white">
							<div class="panel-body">
								<div class="media">
									<a class="pull-left" href="#">
										<img class="media-object" src="~/Assets/ThirdParty/chartjs/img/EmailsOpen.png" />
									</a>
									<div class="media-body">
										<h4 class="media-heading" id="mhEmailsOpened"></h4>
										<p>Emails Opened</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="span2">
						<div class="panel panel-white">
							<div class="panel-body">
								<div class="media">
									<a class="pull-left" href="#">
										<img class="media-object" src="~/Assets/ThirdParty/chartjs/img/EmailsInProgress.png">
									</a>
									<div class="media-body">
										<h4 class="media-heading" id="mhEmailsInProgress"></h4>
										<p>Email InProgress</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="span2">
						<div class="panel panel-white">
							<div class="panel-body">
								<div class="media">
									<a class="pull-left" href="#">
										<img class="media-object" src="~/Assets/ThirdParty/chartjs/img/TicketResolved.png">
									</a>
									<div class="media-body">
										<h4 class="media-heading" id="mhEmailsResolved"></h4>
										<p>Tickets Resolved</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="span2">
						<div class="panel panel-white">
							<div class="panel-body">
								<div class="media">
									<a class="pull-left" href="#">
										<img class="media-object" src="~/Assets/ThirdParty/chartjs/img/EmailsClosed.png">
									</a>
									<div class="media-body">
										<h4 class="media-heading" id="mhEmailsClosed"></h4>
										<p>Informed To Customer</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="mid-section">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span7">
						<div class="panel">
							<div class="panel-body">
								<h2>Graph View</h2>
								<ul class="nav nav-tabs">
									<li class="active">
										<a data-toggle="tab" href="#tab1">b</a>
									</li>
									<li><a data-toggle="tab" href="#tab2">l</a></li>
								</ul>

								<div class="tab-content">

									<div class="tab-pane active" id="tab1">
										<div class="card-block chartjs" id="barChart">
											<canvas id="column-chart" height="200"></canvas>
										</div>

									</div>

									<div class="tab-pane" id="tab2">
										<div class="card-block chartjs" id="lineChart">
											<canvas id="line-chart" height="200"></canvas>
										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
					@*<div class="span5">
						<div class="panel panel-white">
							<div class="panel-body">
								<table>
									<tr>
										<td>
											<strong>Resolved</strong>
											<h1 id="h1Resolved">45</h1>
										</td>
										<td>
											<strong>Received</strong>
											<h1 id="h1Received">45</h1>
										</td>
									</tr>
									<tr>
										<td>
											<strong>Average First Response Time </strong>
											<h1 id="h1AFRT">45m</h1>
										</td>
										<td>
											<strong>Average Response Time</strong>
											<h1 id="h1ARE">45m</h1>
										</td>
									</tr>
									<tr>
										<td>
											<strong>Resolution within SLA </strong>
											<h1>45m</h1>
										</td>
										<td></td>
									</tr>
								</table>
							</div>
						</div>
					</div>*@

				</div>
			</div>
		</div>
	</div>
	<div class="bottom-section">
		<div class="row-fluid">
			<div class="span3 table1">
				<div class="panel panel-white">
					<div class="panel-body">
						<h2>Tickets</h2>
						<table class="table" id="tblUnresolvedTickets">
							<thead>
								<tr>
									<th>Team</th>
									<th>InProgress</th>
									<th>Resolved</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="span4 table2">
				<div class="panel panel-white">
					<div class="panel-body">
						<h2>Agents Performance</h2>
						<table class="table table-striped" id="tblAgentsPerformance">
							<thead>
								<tr>
									<th>Agent Name</th>
									<th>Assigned</th>
									<th>InProgress</th>
									<th>Closed</th>
									<th>Avg(Mins)</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			@* <div class="span4 table3">
				<div class="panel panel-white">
					<div class="panel-body">
						<h2>Escalation Performance</h2>
						<table class="table table-striped" id="tblDeptPerformance">
							<thead>
								<tr>
									<th>Team</th>
									<th>Assigned</th>
									<th>Resolved</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>*@
			<div class="span5 table3">
				<div class="panel panel-white">
					<div class="panel-body">
						<h2>Send message</h2>
						<div class="control-group">
							<label class="control-label" for="inputEmail">Choose team/Individual </label>
							<div class="control-group">
								<div class="row">
									<div class="span6" style="height: 164px">
								<div class="input-groups">
									<select id="ddlHomeEmailMsg" class="form-control">
									</select>
								</div>
								  </div>
								<div class="span6">
									<input id="inpHomeEmailMsgtxt" type="text" value="" data-role="tagsinput" style="height: 164px" />
								</div>
								 </div>
								<div class="row">
									<div class="span12">
										<textarea class="input-block-level" class="form-control" rows="3" id="txtHomeEmailMsg" style="height: 135px"></textarea>
									</div>
								</div>
							</div>
							<div style="clear: both"></div>
							@*<label for="myFile" class="tiledBackground">Choose Templete</label>
							<input type="file" id="myFile" style="display: none;" accept="file_extension|image/*"/>*@
							<button type="submit" class="btn blue pull-right" id="btnHomeEmailMsg">Send</button>
						</div>
					</div>
				</div>
			</div>
			@*<div class="span4 table3">
				<div class="panel panel-white">
					<div class="panel-body">
						<h2>Send message</h2>

						<form class="form-horizontal">
							<div class="control-group">
								<label class="control-label" for="inputEmail">Choose team</label>
								<div class="controls">
									<select>
										<option>All</option>
										<option>Team 1</option>
										<option>Team 1</option>
									</select>
								</div>
							</div>
							<div class="control-group">
								<textarea class="input-block-level" rows="3"></textarea>
							</div>
							<div class="control-group">
								<button type="submit" class="btn pull-right">Send</button>
							</div>
						</form>
					</div>
				</div>
			</div>*@
			<input id="inpHomeEmailMsgval_hidden" type="hidden" value="" />
		</div>
	</div>
</div>
<!-- Alert Box -->
<div id="divHomeModal" class="modal hide fade" style="border: 3px solid #4b8df8; width: 350px;">
	<div class="modal-header" style="background-color: #4b8df8; color: #ffffff;">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h3 style="font-weight: bold;">Alert</h3>
	</div>
	<div class="modal-body">
		<p></p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn blue" data-dismiss="modal">Close</a>
	</div>
</div>
@section Scripts {
	<link rel="stylesheet" href="~/Assets/ThirdParty/tagsinput/css/bootstrap-tagsinput.css">
	<script src="~/Assets/ThirdParty/tagsinput/js/bootstrap-tagsinput.min.js"></script>

	<script type="text/javascript" src="~/Assets/ThirdParty/chartjs/chart.min.js"></script>
	@*<script type="text/javascript" src="~/Assets/ThirdParty/chartjs/chartjs.js"></script>*@
	<script type="text/javascript" src="~/Assets/Main/js/crm.home.js"></script>


	@*<link rel="stylesheet" href="~/Assets/ThirdParty/cleditor/jquery.cleditor.css" />
	<script src="~/Assets/ThirdParty/cleditor/jquery.cleditor.min.js"></script>*@

	<script type="text/javascript">
	    $(document).ready(function () {

	        //$(document).ready(function () { $("#txtHomeEmailMsg").cleditor(); });

	        var today = new Date();
	        var dd = today.getDate();
	        var mm = today.getMonth() + 1; //January is 0!;
	        var yyyy = today.getFullYear();
	        if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;
	        var date_fr = today;
	        var date_to = today;

	        var lastdate1 = $('#lastdate1').val();
	        if (lastdate1 == '') {
	            $('#dp1').attr('data-date', today);
	            $('#dp1').datepicker().on('changeDate', function (e) {
	                $('div.datepicker').hide();
	            });
	            $('#startdate').attr('value', today);
	            $('#lastdate1').val(today);
	        }
	        else {
	            $('#dp1').attr('data-date', lastdate1);
	            $('#dp1').datepicker().on('changeDate', function (e) {
	                $('div.datepicker').hide();
	            });
	            $('#startdate').attr('value', lastdate1);
	        }

	        var lastdate2 = $('#lastdate2').val();
	        if (lastdate2 == '') {
	            $('#dp2').attr('data-date', today);
	            $('#dp2').datepicker().on('changeDate', function (e) {
	                $('div.datepicker').hide();
	            });
	            $('#enddate').attr('value', today);
	            $('#lastdate2').val(today);
	        }
	        else {
	            $('#dp2').attr('data-date', lastdate2);
	            $('#dp2').datepicker().on('changeDate', function (e) {
	                $('div.datepicker').hide();
	            });
	            $('#enddate').attr('value', lastdate2);
	        }

	        $("#ddlHomeEmailProduct").live("change", function () {

	        });

	        var date_fr = convertDate01($("input#lastdate1").val());
	        var date_to = convertDate01($("input#lastdate2").val());
	        BindAgentsGrid(date_fr, date_to);
	        BindUnresolvedTicketsGrid(date_fr, date_to);
	        BindOverviewTask(date_fr, date_to);
	        BindGraph(date_fr, date_to);
	        FillHomeEscalatingTeam();

	        $("#btnDateSearch").live("click", function () {
	            var date_fr = convertDate01($("input#lastdate1").val());
	            var date_to = convertDate01($("input#lastdate2").val());
	            BindAgentsGrid(date_fr, date_to);
	            BindUnresolvedTicketsGrid(date_fr, date_to);
	            BindOverviewTask(date_fr, date_to);
	            BindGraph(date_fr, date_to);
	        });

	        //added by anees
	        $('#ddlHomeEmailMsg').on('change', function () {
	            $('#inpHomeEmailMsgtxt').tagsinput('add', $("#ddlHomeEmailMsg option:selected").text());
	            var this_value = $(this).find('option:selected').attr('ctlvalue');
	            $('#inpHomeEmailMsgval_hidden').val($("#inpHomeEmailMsgval_hidden").val() + this_value + ";");
	        });


	        $("#btnHomeEmailMsg").live("click", function () {
	            if ($('#ddlHomeEmailMsg').val() != null && $('#ddlHomeEmailMsg').val() != "-1") {
	                if ($.trim($('#txtHomeEmailMsg').val()) != "") {
	                    //SendMail($("#ddlHomeEmailMsg option:selected").attr("ctlvalue"), "Message from Admin", $('#txtHomeEmailMsg').val());
	                    SendMail($('#inpHomeEmailMsgval_hidden').val(), "Message from Admin", $('#txtHomeEmailMsg').val());
	                }
	                else {
	                    $(".modal-body p").html("Enter message!");
	                    $("#divHomeModal").modal("show");
	                }
	            }
	            else {
	                $(".modal-body p").html("Choose Team!");
	                $("#divHomeModal").modal("show");
	            }

	        });
	    });
	</script>
}