﻿@{
    ViewBag.Title = "TabLfruadblockandunblock";
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";    
}


<style>
    .Box-1
    {
        border: 1px solid #ccc;
        padding: 15px 0 35px 20px;
    }

    .tab
    {
        width: 100%;
        overflow: hidden;
    }

        .tab ul
        {
            overflow: hidden;
            margin: 0;
        }

    #tblDDOperation_length
    {
        display: none;
    }

    #tblDDOperation
    {
        overflow: scroll;
    }

        #tblDDOperation thead tr
        {
            background: linear-gradient(to bottom, #437edc, #4b8df8);
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even
        {
            background: #fff;
        }

    #tblDDOperationContainer
    {
        background-position: 50% 0;
    }

    .tab ul li
    {
        float: left;
        width: 33.1%;
        line-height: 40px;
        border: 1px solid #808080;
        color: #fff;
        list-style-type: none;
        text-align: center;
        background: #fff;
        font-size: 13px;
    }

        .tab ul li a
        {
            display: block;
            cursor: pointer;
        }

    .selectedtb
    {
        background: #6E5CA8; /*linear-gradient(to bottom, #437edc, #4b8df8) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
        font-weight: bold;
        color: #fff;
        font-size: 13px;
    }

        .selectedtb:hover
        {
            color: #fff;
        }

    .None
    {
        display: none;
    }

    #cityview
    {
        float: right;
        margin-top: 25px;
    }

    #chkSelectAll
    {
        display: none;
    }

    #chkSelectpro3
    {
        display: none;
    }
    /** Reportds CSS design part**/
    .csstable
    {
        border-collapse: separate;
        border-spacing: 2px;
    }

        .csstable th,
        .csstable td
        {
            border: 1px;
            padding: 6px;
        }
    /** Reportds CSS design part**/
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">
    <div id="tblDDOperationContainer">
        <div class="clear" style="clear: both"></div>

        <div class="tab" style="width: 102%">
            <ul>
                <li style="width: 32.4%"><a id="Blockload">Block</a></li>
                <li style="width: 32.4%"><a id="Unblockload">Unblock</a></li>
                <li style="width: 32.4%"><a id="Approveload">Approve</a></li>
            </ul>
        </div>

        <div id="Main_Menu_BlockMobileIccidnumber">
            <div id="tblBlockinglist">
                <form enctype="multipart/form-data">
                    <div id="blockingwithiccidnumber">
                        <fieldset>
                            <legend style="font-weight: bold">
                                <hr />
                            </legend>
                            <table>
                                <tr>
                                    <td style="width: 150px; font-weight: bold">Select Product :</td>
                                    <td style="width: 10px; font-weight: bold">
                                        <select id="productListFinance" name="productListFinance" disabled style="margin-top: 10px; margin-bottom: 15px"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px; font-weight: bold">Block By :</td>
                                    <td colspan="2">
                                        <input type="radio" style="margin-top: -2px" value="1" name="radiomobileiccidnumber" checked="checked">
                                        <span style="font-size: 12px">ICCID</span>
                                        <input type="radio" style="margin-top: -2px" value="2" name="radiomobileiccidnumber">
                                        <span style="font-size: 12px">Mobile Number</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px; font-weight: bold">ICCID \ MSISDN : </td>
                                    <td colspan="2">
                                        <input id="Singleblocking" type="text" value="" placeholder="Please Enter The ICCID \ MSISDN" name="Singleblocking" maxlength="19" style="width: 466px; height: 24px">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px; font-weight: bold">
                                    Select Reason    
                                    <td colspan="2">
                                        <select id="ddlBlockReason" name="ddlBlockReason" style="float: left; font-size: 13px; width: 100%">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <label class="lblBlockError" id="lblBlockError" style="color: red;"></label>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>

                    <!-- Popup for ICCID history -->
                    <div id="ICCIDHistory" class="popup-message modal hide border-lightblue" style="width: 750px; display: none;">
                        <div class="modal-header background-lightblue" style="font-family: Arial">File Data</div>
                        <div class="modal-body">
                            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                                <div id="TabProductCDRLoader" style="width: 100%; height: 500px;">&nbsp;</div>
                                <table class="table table-bordered table-hover" id="tblICCIDHistory" style="width: 950px;"></table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnVShCancel" style="width: 100px;">Close</button>
                        </div>
                    </div>
                    <!-- Popup for  ICCID history -->

                    <input type="hidden" id="HiBlukblockICCID" name="HiBlukblockICCID" />
                </form>

                <fieldset>
                    <legend style="font-weight: bold">
                        <hr />
                    </legend>
                    <table>
                        <tr>

                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <button id="BtnBlock" class="btn blue" style="width: 130px; margin-left: 850px">Submit</button>
                            </td>
                        </tr>

                    </table>
                </fieldset>

                <input type="hidden" id="HidBlocktype" name="HidBlocktype" />

            </div>
        </div>

        <!-- Un block design part start -->
        <div id="Main_Menu_UnBlockMobileIccidnumber" style="display: none">
            <div id="tblunBlockinglist">
                <form enctype="multipart/form-data">
                    <div id="unblockingwithiccidnumber">
                        <fieldset>
                            <legend style="font-weight: bold">
                                <hr />
                            </legend>
                            <table>
                                <tr>
                                    <td style="width: 150px; font-weight: bold">Select Product :</td>
                                    <td style="width: 10px; font-weight: bold">
                                        <select id="productListFinanceUnblock" name="productListFinanceUnblock" disabled style="margin-top: 10px; margin-bottom: 15px"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px; font-weight: bold">UnBlock By : </td>
                                    <td>
                                        <input type="radio" style="margin-top: -2px" value="1" name="radiomobileiccidnumberunblock" checked="checked">
                                        <span style="font-size: 12px">ICCID</span>
                                        <input type="radio" style="margin-top: -2px" value="2" name="radiomobileiccidnumberunblock">
                                        <span style="font-size: 12px">Mobile Number</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 10px; font-weight: bold">ICCID \ MSISDN : </td>
                                    <td colspan="2">
                                        <input id="Singleunblocking" type="text" value="" placeholder="Please Enter The ICCID \ MSISDN" maxlength="19" name="Singleunblocking" style="width: 466px; height: 24px">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 150px; font-weight: bold">
                                    Select Reason    
                                    <td colspan="2">
                                        <select id="ddlUnBlockReason" name="ddlUnBlockReason" style="float: left; font-size: 13px; width: 100%">
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <label class="lblUnBlockError" id="lblUnBlockError" style="color: red;"></label>
                                    </td>
                                </tr>
                                @* <tr>
                                    <td style="width: 150px; font-weight: bold">
                                    Reason for UnBlocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                    <td>
                                        <textarea rows="4" cols="50" id="SingleunblockingMsg" name="SingleunblockingMsg" placeholder="Enter reason for blocking" maxlength="160" style="width: 466px; height: 80px;"></textarea>
                                        <span id="remaining4" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                    </td>
                                </tr>*@
                            </table>
                        </fieldset>
                    </div>

                    <!-- Popup for unblock ICCID history -->
                    <div id="UnBlockICCIDHistory" class="popup-message modal hide border-lightblue" style="width: 750px; display: none;">
                        <div class="modal-header background-lightblue" style="font-family: Arial">File Data</div>
                        <div class="modal-body">
                            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                                <div id="TabUnblockICCIDLoader" style="width: 100%; height: 500px;">&nbsp;</div>
                                <table class="table table-bordered table-hover" id="tblUbblockICCIDHistory" style="width: 950px;"></table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnICCIDhistoryCancel" style="width: 100px;">Close</button>
                        </div>
                    </div>
                    <!-- Popup for  unblock ICCID history -->

                    <!-- UnBluk bluk  mobile Sucess popup message testing -->
                    <div id="UnBlukICCIDsuccess" class="UnBlukICCIDsuccess popup-message modal hide border-green">
                        <div class="modal-header background-green"></div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn green btnUnBlukICCIDsuccess" type="button" alt="0" style="width: 100px; float: right;">View</button>
                        </div>
                    </div>
                    <!-- UnBluk bluk mobile Sucess popup message testing -->

                    <input type="hidden" id="HiUnBlukICCID" name="HiUnBlukICCID" />

                </form>

                <fieldset>
                    <legend style="font-weight: bold">
                        <hr />
                    </legend>
                    <table>
                        <tr>

                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <button id="BtnUnBlock" class="btn blue" style="width: 130px; margin-left: 850px">UnBlock</button>
                            </td>
                        </tr>

                    </table>
                </fieldset>

                <input type="hidden" id="HidUnBlocktype" name="HidUnBlocktype" />

            </div>
        </div>

        <!-- Un block design part end -->

        <!--- Approve Design part -->
        <div id="Main_Menu_ApproveMobileIccidnumber" style="display: none">
            <br />
            <div class="portlet box blue">
                <div style="height: 30px; border-bottom: 0" class="portlet-title">
                    <h4><span style="font-size: 18px; font-weight: bold">Block \ Unblock Reports</span></h4>
                </div>
                <div class="portlet-body">
                    <div id="btnBlockUnBlockReportsSettingContainer" style="width: 100%; height: 10px;"></div>
                    <div id="tblBlockUnBlockReportsContainer" style="min-height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                        <table class="table table-bordered table-hover" id="tblBlockUnBlockReports"></table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reports Design part -->

        @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
    </div>
</div>

@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.FruadBlockandUnblock.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.com.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            ActivateTopbarMenu(8);

            var startdate = convertDate01($("input#lastdate1").val());
            var enddate = convertDate01($("input#lastdate2").val());

            var MobileNo = $.trim('@ViewBag._mobileno');
            var Sitecode = $.trim('@ViewBag._sitecode');
            var date_from = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());

            /* SOF GetProductList -------------------- */
            $("select#productListFinance").html("").append("<option value=0  selected>-- Select Product --</option>");
            $("select#productListFinanceUnblock").html("").append("<option value=0  selected>-- Select Product --</option>");
            $("select#productListFinanceApprove").html("").append("<option value=0  selected>-- Select Product --</option>");
            var url = apiServer + '/api/product';
            $.getJSON(url, function (data) {
                var optionData = "";
                for (var idx in data) {
                    optionData += "<option value=" + data[idx].mundio_product + " alt=\"" + data[idx].sitecode + "\">" + data[idx].product_name + "</option>";
                }
                $("[name=productListFinance]").append(optionData).removeAttr("disabled");
                $("[name=productListFinanceUnblock]").append(optionData).removeAttr("disabled");
                $("[name=productListFinanceApprove]").append(optionData).removeAttr("disabled");
            });
            /* EOF GetProductList -------------------- */

            /* SOF BlockReason -------------------- */
            var url = apiServer + '/api/FruadBlockandUnblock';
            jQuery.support.cors = true;
            var JSONSendData = {
                Block_Type: 1,
            };
            $.ajax
            ({
                url: url,
                type: 'post',
                data: JSON.stringify(JSONSendData),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                cache: false,
                success: function (data) {
                    $("select#ddlBlockReason").html("").append("<option value=0  selected>-- Select Reason --</option>");
                    $("select#ddlUnBlockReason").html("").append("<option value=0  selected>-- Select Reason --</option>");
                    var optionData1 = "";
                    var optionData2 = "";
                    for (var idx in data) {
                        if (data[idx].REASON_TYPE == 1)
                            optionData1 += "<option value=" + data[idx].REASON_ID + " alt=\"" + data[idx].REASON_ID + "\">" + data[idx].REASON + "</option>";
                        else
                            optionData2 += "<option value=" + data[idx].REASON_ID + " alt=\"" + data[idx].REASON_ID + "\">" + data[idx].REASON + "</option>";
                    }
                    $("[name=ddlBlockReason]").append(optionData1);
                    $("[name=ddlUnBlockReason]").append(optionData2);
                }
            });
            /* EOF BlockReason -------------------- */

            $('#Approveload').removeClass('selectedtb');
            $('#Unblock').removeClass('selectedtb');
            $('#Blockload').addClass('selectedtb');

            $("#Singleblocking").on("paste", function () {
                if ($("#Singleblocking").val() != $("#Singleblocking").val().replace(/[^\d]/g, "")) {
                    $("#Singleblocking").val($("#Singleblocking").val().replace(/[^\d]/g, ""));
                    e.preventDefault();
                }
                window.setTimeout(function () { $("#Singleblocking").val($("#Singleblocking").val().replace(/[^\d]/g, "")); }, 100);
            });

            $("#Singleunblocking").on("paste", function () {
                if ($("#Singleunblocking").val() != $("#Singleunblocking").val().replace(/[^\d]/g, "")) {
                    $("#Singleunblocking").val($("#Singleunblocking").val().replace(/[^\d]/g, ""));
                    e.preventDefault();
                }
                window.setTimeout(function () { $("#Singleunblocking").val($("#Singleunblocking").val().replace(/[^\d]/g, "")); }, 100);
            });
        });

        /* on Click all event ---------------------------------------*/

        /** Block load **/
        $("#Blockload").live("click", function () {
            var processby = $.trim('@ViewBag.LoginName');
            if (processby != null || processby != '') {
                $("#Main_Menu_BlockMobileIccidnumber").show();
                $("#Main_Menu_UnBlockMobileIccidnumber").hide();
                $("#Main_Menu_ApproveMobileIccidnumber").hide();

                $('#Unblockload').removeClass('selectedtb');
                $('#Approveload').removeClass('selectedtb');
                $(this).addClass('selectedtb');
            }
            else {
                window.location = '/Auth/Login'
            }
        });

            /** UnBlock load **/
            $("#Unblockload").live("click", function () {
                var processby = $.trim('@ViewBag.LoginName');
                if (processby != null || processby != '') {

                    $("#Main_Menu_BlockMobileIccidnumber").hide();
                    $("#Main_Menu_UnBlockMobileIccidnumber").show();
                    $("#Main_Menu_ApproveMobileIccidnumber").hide();

                    $('#Blockload').removeClass('selectedtb');
                    $('#Approveload').removeClass('selectedtb');
                    $(this).addClass('selectedtb');
                }
                else {
                    window.location = '/Auth/Login'
                }
            });

            /** Approve load **/
            $("#Approveload").live("click", function () {
                var processby = $.trim('@ViewBag.LoginName');
                if (processby != null || processby != '') {
                    $("#Main_Menu_BlockMobileIccidnumber").hide();
                    $("#Main_Menu_UnBlockMobileIccidnumber").hide();
                    $("#Main_Menu_ApproveMobileIccidnumber").show();

                    $('#Blockload').removeClass('selectedtb');
                    $('#Unblockload').removeClass('selectedtb');
                    $(this).addClass('selectedtb');

                    GetBlockUnblockRequest($.trim('@ViewBag._userid'), $.trim('@ViewBag._roleid'), $.trim('@ViewBag._role_id'));
                }
                else {
                    window.location = '/Auth/Login'
                }
            });

            /** Block Submit   **/
            $("#BtnBlock").live("click", function () {
                $(".lblBlockError").html("");
                if ($('#productListFinance').val() == "0") {
                    $(".lblBlockError").html("Select Product");
                    return;
                }
                if ($("#Singleblocking").val().trim().length == 0) {
                    $(".lblBlockError").html("Please Enter The ICCID \ MSISDN");
                    return;
                }
                if ($('#ddlBlockReason').val() == "0") {
                    $(".lblBlockError").html("Select Reason");
                    return;
                }
                if (confirm('Are you sure want to Block this customer?')) {
                    var processby = $.trim('@ViewBag.LoginName');

                    var Product = $('#productListFinance').val();
                    var SiteCode = $('#productListFinance').find('option:selected').attr("alt");
                    var USERTYPE = $("input[name='radiomobileiccidnumber']:checked").val();
                    var USERINFO = $("#Singleblocking").val();
                    var REQTYPE = 1/** Block Mode**/;
                    var REASON_ID = $("#ddlBlockReason").val();
                    var FK_REQ_USERID = $.trim('@ViewBag._userid');
                    BlockMsisdnIccid(Product, SiteCode, USERTYPE, USERINFO, REQTYPE, REASON_ID, FK_REQ_USERID);
                }
            });

            /** UnBlock Submit   **/
            $("#BtnUnBlock").live("click", function () {
                $(".lblUnBlockError").html("");
                if ($('#productListFinanceUnblock').val() == "0") {
                    $(".lblUnBlockError").html("Select Product");
                    return;
                }
                if ($("#Singleunblocking").val().trim().length == 0) {
                    $(".lblUnBlockError").html("Please Enter The ICCID \ MSISDN");
                    return;
                }
                if ($('#ddlUnBlockReason').val() == "0") {
                    $(".lblUnBlockError").html("Select Reason");
                    return;
                }
                if (confirm('Are you sure want to Unblock this customer?')) {
                    var processby = $.trim('@ViewBag.LoginName');

                    var Product = $('#productListFinanceUnblock').val();
                    var SiteCode = $('#productListFinanceUnblock').find('option:selected').attr("alt");
                    var USERTYPE = $("input[name='radiomobileiccidnumberunblock']:checked").val();
                    var USERINFO = $("#Singleunblocking").val();
                    var REQTYPE = 2/** UnBlock Mode**/;
                    var REASON_ID = $("#ddlUnBlockReason").val();
                    var FK_REQ_USERID = $.trim('@ViewBag._userid');
                    BlockMsisdnIccid(Product, SiteCode, USERTYPE, USERINFO, REQTYPE, REASON_ID, FK_REQ_USERID);
                }
            });

            //Approve
            $(".btnApprove").live("click", function () {
                if (confirm('Are you sure want to Approve this request?')) {
                    var loginuser_id = $.trim('@ViewBag._userid');
                    var role_id = $.trim('@ViewBag._roleid')
                    var REQID = $(this).attr("ctlValue");
                    var loginuser_name = $.trim('@ViewBag.LoginName');
                    DoBlockConfirmation(loginuser_id, role_id, REQID, loginuser_name)
                }
            });

    </script>
    <script type="text/javascript">
        function txtboxKeyDown(e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }

            // Allow: backspace, delete, tab, escape, and enter
            if (e.keyCode == 46 || e.keyCode == 8 || e.keyCode == 9 || e.keyCode == 27 || e.keyCode == 13 ||
                // Allow: Ctrl+V
                    (e.ctrlKey == true && (e.which == '118' || e.which == '86')) ||
                // Allow: Ctrl+c
                    (e.ctrlKey == true && (e.which == '99' || e.which == '67'))) {
                return;
            }

            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }

        }
        $("#Singleblocking").keydown(function (e) { return txtboxKeyDown(e); })
        $("#Singleunblocking").keydown(function (e) { return txtboxKeyDown(e); })
    </script>
}
