﻿@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    ViewBag.Title = "[Austria - PORT IN] Porting Cancel";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
<div class="row-fluid">
	@*<div class="span12" style="font-family:Arial">
        <span style="font-size:26px;font-weight:bold">Austria - PORT IN</span>
	</div>*@
    <div class="span12">
        <div style="font-size:25px;background-color:#fff;color:#437edd;padding:10px;margin-left:1px;width:auto;border:1px solid #b4cef8;border-left:3px solid #4b8df8;border-bottom:0">Austria - PORT IN</div>
	</div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue" style="font-family:Arial">
            <div class="portlet-title">
                <h4><span>Request Cancel</span></h4>
            </div>
            <div class="portlet-body" style="padding:20px 20px 10px 20px">
                <div id="ATPortINRequestCancel" style="width:100%;height:240px;  ">
                    <div style="width:100%;float:left;height:25px;font-size:16px;font-weight:bold;border-bottom:3px solid #e5e5e5">Searching Cancellation Data</div>
                    <div style="width:100%;float:left;margin-top:10px;height:25px;font-size:14px;color:#505050">Please enter criteria for searching cancellation data. Leaving search field empty when searching will display all data.</div>
                    <div style="width:100%;float:left;margin-top:20px">
                        <div style="width:100%;height:40px;float:left">
                            <div style="width:135px;float:left;font-weight:bold">Porting Code</div>
                            <div style="float:left;width:490px;color:#505050;">
                                <input type="text" id="ATPortINRequestCancel_iPortingCode" name="ATPortINRequestCancel_iPortingCode" style="width:240px"/>
                            </div>
                        </div>
                        <div style="width:100%;height:40px;float:left">
                            <div style="width:135px;float:left;font-weight:bold">Ported MSISDN</div>
                            <div style="float:left;width:490px;color:#505050;">
                                <input type="text" id="ATPortINRequestCancel_iPortedMSISDN" name="ATPortINRequestCancel_iPortedMSISDN" style="width:240px"/>
                            </div>
                        </div>
                    </div>  
                    <div style="width:100%;float:left;margin-top:30px;text-align:left">
                        <button class="btn blue" id="ATPortINRequestCancel_btnSearch" style="width:140px;height:40px">Search</button>
                        <button class="btn blue" id="ATPortINRequestCancel_btnReset" style="width:170px;height:40px;margin-left:10px">Reset Search Fields</button>
                    </div>
                </div> 

            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")

@section Scripts {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.atportinrequestcancel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            ActivateTopbarMenu(5);

            $("input[name=ATPortINRequestCancel_iPortingCode]").focus();

            $("button#ATPortINRequestCancel_btnReset").live("click", function () {
                $("#ATPortINRequestCancel input").val("");
                $("input[name=ATPortINRequestCancel_iPortingCode]").focus();
            });

            $("button#ATPortINRequestCancel_btnSearch").live("click", function () {
                var PortingCode = $("input[name=ATPortINRequestCancel_iPortingCode]").val();
                var PortedMSISDN = $("input[name=ATPortINRequestCancel_iPortedMSISDN]").val();

                if (PortingCode != "" && PortedMSISDN != "") {
                    //ATPortINSearchCancelRequestList(PortingCode, PortedMSISDN);
                } else {
                    $('.PMFailed .modal-footer .btnPMFailedOK').attr({ "alt": "2" });
                    $('.PMFailed .modal-header').html('Austria - PORT IN: Cancel Request');
                    $('.PMFailed .modal-body').html("Porting Code and Ported MSISDN can not be blank.");
                    $('.PMFailed').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                }
            });
            

            $(".btnPMSuccessOK").live("click", function () {
                var attrAlt = parseInt($(this).attr("alt"));
                if (attrAlt == 1) {
                    window.location = '/PortIN/ATPortingCancel';
                }
            });
            $(".btnPMFailedOK").live("click", function () {
                var attrAlt = parseInt($(this).attr("alt"));
                if (attrAlt == 1) {
                    window.location = '/PortIN/ATPortingCancel';
                } else if (attrAlt == 2) {
                    $("input[name=ATPortINRequestCancel_iPortingCode]").focus();
                }
            });

        });
    </script>
}






