﻿ #tblDDOperation_length
    {
        display: none;
    }
    .ADJ, .ADJ-Optional
    {
        position: relative;
        top: 9px;
    }

    .ADJ-Optional
    {
        right: 38px;
    }
    #tblDDOperation tbody
    {
        height: 250px;
        overflow: scroll;
        position: absolute;
    }
     #tblDDOperation thead tr th:nth-child(1)
    {
        width: 13px !important;
    }
    #tblDDOperation tbody tr td:nth-child(1)
    {
        width: 15px !important;
    }

    #tblDDOperation thead tr th:nth-child(2)
    {
        width: 75px !important;
    }

    #tblDDOperation tbody tr td:nth-child(2)
    {
        width: 81px !important;
    }
    #tblDDOperation thead tr th:nth-child(3)
    {
        width: 101px !important;
    }
    #tblDDOperation tbody tr td:nth-child(3)
    {
        width: 108px !important;
    }
    #tblDDOperation thead tr th:nth-child(4)
    {
        width: 80px !important;
    }
    #tblDDOperation tbody tr td:nth-child(4)
    {
        width: 86px !important;
    }
    #tblDDOperation thead tr th:nth-child(5)
    {
        width: 150px !important;
    }

    #tblDDOperation tbody tr td:nth-child(5)
    {
        width: 160px !important;
    }
    #tblDDOperation thead tr th:nth-child(6)
    {
        width: 75px !important;
    }
    #tblDDOperation tbody tr td:nth-child(6)
    {
        width: 81px !important;
    }
    #tblDDOperation thead tr th:nth-child(7)
    {
        width: 90px !important;
    }

    #tblDDOperation tbody tr td:nth-child(7)
    {
        width: 97px !important;
    }
    #tblDDOperation thead tr th:nth-child(8)
    {
        width: 92px !important;
    }
    #tblDDOperation tbody tr td:nth-child(8)
    {
        width: 98px !important;
    }
    #tblDDOperation thead tr th:nth-child(9)
    {
        width: 275px !important;
    }
    #tblDDOperation tbody tr td:nth-child(9)
    {
        width: 293px !important;
    }
    #tblDDOperation thead tr th:nth-child(10)
    {
        width: 90px !important;
    }
    #tblDDOperation tbody tr td:nth-child(10)
    {
        width: 81px !important;
    }
    /*ONLY CROME*/
    @media screen and (-webkit-min-device-pixel-ratio:0)
{
         #tblDDOperation tbody tr td:nth-child(1)
    {
        width: 14px !important;
    }
         #tblDDOperation tbody tr td:nth-child(2) {
width: 80px !important;
}
         #tblDDOperation tbody tr td:nth-child(4) {
width: 86px !important;
}
         #tblDDOperation tbody tr td:nth-child(6) {
width: 80px !important;
}
         #tblDDOperation tbody tr td:nth-child(7) {
width: 97px !important;
}
         #tblDDOperation tbody tr td:nth-child(8) {
width: 99px !important;
}
         #tblDDOperation tbody tr td:nth-child(9) {
width: 294px !important;
}
         #tblDDOperation tbody tr td:nth-child(10) {
width: 82px !important;
}
} 