﻿body
{
    font-family: Arial;
}
h1,h2,h3,h4,h5,h6
{
    margin:0px;
    padding:0px;
}
.width
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}
.width1
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    background:#01437D;
}
.page
{
    width: 960px;
    position: relative;
    margin: 0 auto;   
}
.topmenu
{
    float:left;
    margin:0 0 0 0;
    height:135px;
    width:960px;
}
img
{
    vertical-align:middle;
}
.repage
{
    float:left;
    padding:100px;
    width:760px;
}
.loginbox
{
    width:552px;
    position:relative;
    margin:0 auto;
    background:#2877BC url('/Assets/Main/img/tony.jpg') no-repeat top right;
    padding:10px;
    border:3px solid white;
    height:294px;
    
}
.loginbox h1
{
    font-size:20px;
    color:White;
    font-weight:bold;
    padding:10px;
    
}
.loginbox table
{
    width:250px;
    float:left;
    margin:0 0 0 10px;
    padding:0px;
}
.loginbox table tr td
{
    font-size:13px;
    color:White;
    font-weight:bold;
    padding:8px 0;
}
.loginbox table tr td input
{
    width:245px;
}
.loginbox table tr td select
{
    width:245px;
    font-size:12px;
    font-family:Trebuchet MS;
}
.submitbtn
{
    background:url('/Assets/Main/img/login.jpg') no-repeat;
    width:154px !important;
    height:36px;
    text-indent:-99999px;
    border:0px;
    cursor:pointer;
    float:right;
}
.submitbtn:hover
{
    background:url('/Assets/Main/img/login_over.jpg') no-repeat;
}

/* ---------------------------------- Horizontal Menu ----------------------------- */

ul.hmenu{
	margin-top: 12px;
}

ul.hmenu li{
	display: inline;
	list-style-type: none;
	color:#999;
	padding:5px;
	cursor:pointer;
	line-height:20px;
}
#profil-link{
	right: 5%;
	margin-top: -33px;
	position: absolute;
}
ul.hmenu li:hover{
	background-color:transparent;
	border-radius:5px;
	color:#000;
}
ul.hmenu li.divider-vertical{
	padding:0px;
}
ul.hmenu li ul{
	display:none;
	position:absolute;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 2px;
}
ul.hmenu li li{
	display:block;
	cursor:pointer;
	min-width:100px;
}
ul.hmenu li li:hover{
	border-radius:0px;
	background-color:#7bd1f1;
}
/* ---------------------------------- End of Horizontal Menu ----------------------------- */

#error-notification{
	position: absolute;
	width: 365px;
	margin: 5px 0 0 10px;
	background: #df2027;
	padding: 10px;
	color: #fff;
	font-size: 9pt;
}
#close-notif{
	position: absolute;
	margin: -20px 0 0 3px;
	cursor: pointer;
}
#logoutForm{
	margin:0px;
}
#perpage{
	width:50px;
}
#searchCustomerResult th, 
#twoInOne th, 
#CCDetailsSaved th,
#CCDetailsSaved td:last-child,
#searchCustomerResult td.center,
#twoInOne td.center{
	text-align:center;
}
#ConfirmOrderBody{
	margin-left:20px;
}
#ViewOrderBodyLeft{
	border-right: 1px solid #ccc;
	width: 50%;
	padding: 5px;
}
#ViewOrderBodyRight{
	float: right;
	width: 45%;
	padding: 5px;
}
#tb2in1_info,#tb2in1_length,#tb2in1_filter,#tb2in1_paginate,
#tjquery_length,#tjquery_filter,
#tjquery2_length,#tjquery2_filter,
#tbOrderList_length,#tbOrderList_filter,#tbOrderList_info{
	display:none;
}
#AddCountry{
	width: 180px;
	margin: 5px 0;
}
#loader, #loaderModal{
	width:212px;
	height:13px;
	margin:0 auto;
	background:url('/Assets/Main/img/loader.gif');
}
.spacing-big{
	height:80px;
}
.avatar-small{
	position: absolute;
}
.table td{
	vertical-align: middle;
}
.table thead{
	background:#f5f5f5;
}
.pagingPanel{
	float:right;
	margin-top:-12px;
}
#hint {
    padding: 10px;
    background: #A5A5A5;
    position: absolute;
    border-radius: 4px !important;
    color: #FFF;
    border:1px solid #999;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid #999;
    position: absolute;
    margin-left: 10px;
    margin-top: -16px;

}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-top: 5px solid #999;
    position: absolute;
    margin-left: 0;
    margin-top: 11px;

}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	
	border-left: 5px solid #999;
    position: absolute;
    margin-left: 0;
    margin-top: 11px;

}
.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	
	border-right: 5px solid #999;
    position: absolute;
    margin-left: 0;
    margin-top: 11px;

}
label.confirm {
    margin: -15px 0 0 20px;
}
#btnSearch {
    margin-top: -5px;
}
#SimOrderListBtnDownload {
    float:right;
    display:none;
}
#SIMorderListPanel {
    padding: 18px 15px 10px 15px;
}
#AddLabelListPanel {
    padding: 20px 0;
}
#tbOrderList,#tbVoucherList {
    display:none;
}

#ExportData {
    display:none;
}

#CSBWindowHistory {
    width:700px;
    height:505px;
}
    #CSBWindowHistory .modal-body {
        width:700px;
        height:385px;
    }
        #CSBWindowHistory .modal-body #tblCSBViewHistoryCont {
            width: 670px;
            height:350px;
            overflow:auto;
            overflow-x:hidden;
            margin-top:10px;
        }
            #CSBWindowHistory .modal-body #tblCSBViewHistoryCont .row-fluid div {
                font-size:11px;
            }
        #CSBWindowHistory .modal-body #phoneData {
            width:670px;
            width:100%;
            height:25px;
            line-height:25px;
            font-size:14px;
        }
            #CSBWindowHistory .modal-body #phoneData #pdMobileNo {
                width:250px;
                float:left;
            }
            #CSBWindowHistory .modal-body #phoneData #pdDestNo {
                width:330px;
                float:left;
            }
            #CSBWindowHistory .modal-body #phoneData .pdTitle {
                width:90px;
                float:left;
                font-weight:bold;
            }
            #CSBWindowHistory .modal-body #phoneData .pdData {
                width:110px;
                float:left;
                text-align:left;
                margin-right:20px;
            }
        #CSBWindowHistory .modal-body #connectionNote {
            width: 650px;
            height:95px;
            padding:10px;
            border:1px solid #e5e5e5;
        }
            #CSBWindowHistory .modal-body #connectionNote textarea{
                resize:none;
                width:635px;
                height:40px;
            }
    #CSBWindowHistory .modal-footer {
        height:25px;
        padding-top:5px;
    }

#ajax-screen-masking, #ajax-screen-masking2{
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.7);
    z-index:2009;
    position:fixed;
    left:0;
    top:0;
    display:none;
}

#ajax-loader{
    width:64px;
    height:64px;
    margin: 10px auto;
    margin-bottom:0;
    background:#ffffff url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;
    opacity:1;
    z-index:2010;
    position: absolute;
    top: 50%;
    margin-top: -32px;
    left: 50%;
    margin-left: -32px;
}
#ajax-loader2{
    width:32px;
    height:32px;
    margin: 10px auto;
    margin-bottom:0;
    background:#ffffff url('/Assets/Main/img/ajaxloader-01.gif') 0 0 no-repeat;
    opacity:1;
    z-index:2010;
}
ul.cardContainer {
    margin-top:10px;
    margin-left:0;
    border:1px solid #e5e5e5;
    width:380px;
    padding:15px 17px;
    
}
ul.cardContainer li{
    display: inline-block;
    display: -moz-inline-box; 
    margin-right: 20px;
    width:60px;
}
ul.cardContainer li div.radio {
    padding-left:20px !important;
}
ul.cardContainer li label {
    float:right;
}
.cardType {
    opacity: 1 !important;
    margin-left: 0px !important;
    margin-right:5px !important;
}
#findAddBtn {
    margin-left: 5px;
    margin-top: -9px;
    height: 30px;
}
#paymentMethod input[type=text] {
    width:400px; /*!important;*/
}
#paymentMethod select {
    width:200px !important;
}
#paymentMethod #post_code {
    /*width:285px !important;*/
}
#paymentMethod #btnFind {
    width:110px !important;
}
#paymentMethod label.errLabel {
    color:#c84c4c;
    font-size:12px;
    height:18px;
    padding:5px;
    background-color:#f2dede;
    width:405px !important;
    display:none;
}

#CountrySaverPaymentByCard label.errLabel {
    color:#c84c4c;
    font-size:12px;
    height:18px;
    padding:5px;
    background-color:#f2dede;
    width:405px !important;
    display:none;
}

#deliveryAddress label.errLabel {
    color:#c84c4c;
    font-size:12px;
    height:18px;
    line-height:18px;
    padding-left:10px;
    display:none;
}
#deliveryAddress input[type=text] {
    width:340px !important;
}
#deliveryAddress #post_code {
    width:225px !important;
}
#deliveryAddress #btnFind {
    width:110px !important;
}

/* Round Border 5px */
.rounded5-top-left {
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
}
.rounded5-bottom-left {
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
}
.rounded5-top-right {
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
}
.rounded5-bottom-right {
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
}
.rounded5-all {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Round Border 10px */
.rounded10-top-left {
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
}
.rounded10-bottom-left {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
}
.rounded10-top-right {
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}
.rounded10-bottom-right {
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}
.rounded10-all {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*  Green */
.btn.orange {
  color: white;
  text-shadow: none;	 
  background-color: #f5a46a;
}
.btn.orange:hover, 
.btn.orange:focus, 
.btn.orange:active, 
.btn.orange.active,
.btn.orange.disabled, 
.btn.orange[disabled]{ 
  background-color: #d3844a !important;
  color: #fff !important;
}

/*  darkgrey */
.btn.darkgrey {
  color: white;
  text-shadow: none;	 
  background-color: #9e9e9e;
}
.btn.darkgrey:hover, 
.btn.darkgrey:focus, 
.btn.darkgrey:active, 
.btn.darkgrey.active,
.btn.darkgrey.disabled, 
.btn.darkgrey[disabled]{ 
  background-color: #7e7e7e !important;
  color: #fff !important;
}

/*  White */
.btn.white {
  color: #6E5CA8;
  text-shadow: none;	 
  border:0;
  background-color: #ffffff;
}
.btn.white:hover, 
.btn.white:focus, 
.btn.white:active, 
.btn.white.active,
.btn.white.disabled, 
.btn.white[disabled]{ 
  background-color: #ffffff !important;
  color: #6E5CA8 !important;
}

/*  lightblue */
.btn.lightblue {
  color: #ffffff;
  text-shadow: none;	 
  background-color: #6E5CA8;
}
.btn.lightblue:hover, 
.btn.lightblue:focus, 
.btn.lightblue:active, 
.btn.lightblue.active,
.btn.lightblue.disabled, 
.btn.lightblue[disabled]{ 
  background-color: #f0f0f0 !important;
  color: #6E5CA8 !important;
}

.btn.violetwhite {
  color: #ffffff;
  text-shadow: none;	 
  background-color: #6E5CA8;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.btn.violetwhite:hover, 
.btn.violetwhite:focus, 
.btn.violetwhite:active, 
.btn.violetwhite.active,
.btn.violetwhite.disabled, 
.btn.violetwhite[disabled]{ 
  background-color: #f0f0f0 !important;
  color: #6E5CA8 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

/*  White */
.btn.whiteviolet {
  color: #6E5CA8;
  text-shadow: none;	 
  border:0;
  background-color: #ffffff;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.btn.whiteviolet:hover, 
.btn.whiteviolet:focus, 
.btn.whiteviolet:active, 
.btn.whiteviolet.active,
.btn.whiteviolet.disabled, 
.btn.whiteviolet[disabled]{ 
  background-color: #ffffff !important;
  color: #6E5CA8 !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.datepicker { width: 17em; padding: .2em .2em 0; z-index: 9999 !important; }

/* ---------------------------------- Left Side Menu ----------------------------- */
.SideMenuContainer {
    background-color: #ccc;
    width: 14.893617021276595%;
    height: 100px;
    position: absolute;
}