﻿body {
    /*background:#6E5CA8 url('/Assets/Main/img/login-bg.jpg') center center fixed;*/
    background:linear-gradient(to bottom, #6E5CA8, #6E5CA8);
}
.lmessage {
    min-width:360px;
    margin:40px auto 10px auto;
    height:80px;
}
    /***
    Close icon used for modal dialog and other UI element close buttons
    ***/
    .lmessage .close {
      display: inline-block;
      margin-top: 0px;
      margin-right: 0px;
      width: 9px;
      height: 9px;
      background-repeat: no-repeat !important;
      background-image: url('/Assets/ThirdParty/other/img/remove-icon-small.png') !important;
    }
#main {
    width:100%;
    height:100;
}
.lwrapper {
    margin:0 auto;
    width:425px;
}
.lform {
    min-width:390px;
    height:310px;
    margin:0 auto;
    border:3px solid #563f92;
    background-color:#6E5CA8;
    overflow:hidden;
}
.lheader {
    width:100%;
    height:60px;
    border-bottom:1px solid #563f92;
    background-color: #563f92;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    font-family: 'Lato', sans-serif;
    color:#ffffff;
    text-align:center;
    line-height:60px;
    font-size:2.1em;
}
.lcontent {
    width:100%;
    border-top:1px solid #fff;
     font-family: 'Ubuntu', sans-serif;
}
    .lcontent .form-top {
        width:390px;
        float:left;
        height:35px;
        line-height:35px;
        margin:5px 15px 5px 55px;
        color:#fff;
        font-size:18px;
        text-shadow: 0.5px 0.5px #8ad0e6;
    }
    .lcontent .form-middle {
        width:390px;
        float:left;
        margin:0 0 0 55px;
    }
        .form-middle .form-middle-left{
            width:260px;
            float:left;
        }
            .form-middle-left .input-prepend{
                border:1px solid #563f92;
            }
        .form-middle .form-middle-right{
            width:130px;
            float:left;
        }
            .form-middle-right img{
                padding-right:0;
                width:130px;
            }
    .lcontent .form-bottom {
        width:390px;
        float:left;
        margin:15px 15px 0 15px;
    }
        .form-bottom-left {
            width:190px;
            float:left;
        }
            .form-bottom-left button {
                width:100px;
                height:45px;
            }
            .form-bottom-right button {
                width:100px;
                height:45px;
            }
        .form-bottom-right {
            width:200px;
            float:right;
            font-size:16px;
            color:#ffffff;
            text-align:right;
            line-height:18px;
            padding-top:5px;
        }
            .form-bottom-right span {
                font-size:12px;
                color:#005774;
            }
                .form-bottom-right span a {
                    color:#005774;
                    text-decoration:underline;
                }
