﻿<!-- Customer Overview Page -->
<a id="detailOverview" href="javascript:void(0)" class="btn lightblue">Overview</a>
<a id="detailMoreInfo" href="javascript:void(0)" class="btn lightblue">More Info</a>
<a id="detailOrder" href="javascript:void(0)" class="btn lightblue">Order</a>
<a id="detailProduct" href="javascript:void(0)" class="btn lightblue">Product</a>
<a id="detailCallHistory" href="javascript:void(0)" class="btn lightblue">Call History</a>
<a id="detailPaymentTopupHistory" href="javascript:void(0)" class="btn lightblue">Payment/Topup History</a>
<a id="detailSIMTools" href="javascript:void(0)" class="btn lightblue">SIM Order & Reports</a>
<a id="detailIssuesTracking" href="javascript:void(0)" class="btn lightblue">Call Tracking</a>
<a id="detailCustSMSCampaignTracking" href="javascript:void(0)" class="btn lightblue">SMS</a>
@*Rajesh: Porting*@
<a id="detailPorting" href="javascript:void(0)" class="btn lightblue">Port In/Out</a>
<!-- Vectone Xtra App -->
<a id="detailVectoneXtraApp" href="javascript:void(0)" class="btn lightblue">Vectone <img src="~/Assets/Main/img/vectone_xtra.png"  style="padding-bottom: 2px;"/> App</a>
<a id="detailComplaints" href="javascript:void(0)" class="btn lightblue">Complaints</a>
<!-- 07-Aug-2015 : Moorthy Modified to display only for VMUK -->
@*@if(ViewBag._productcode =="VMUK"){*@
@*<a id="detailSMSCampaignTracking" href="javascript:void(0)" class="btn lightblue">SMS Campaign Tracking</a>*@
@*}*@
@*<a id="detailAccountStatus" href="javascript:void(0)" class="btn lightblue" style="display:none">Account Status</a>*@
@*Hidden as per feedback by product team*@