﻿<!-- Email List Header Button -->
@*@if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader)
 { 
    <a id="detailEmailQueue" href="javascript:void(0)" class="btn lightblue">Email Queue</a>
 }*@
@if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Agent)
 {
    <a id="detailMyQueue" href="javascript:void(0)" class="btn lightblue"> @((CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader) ? "All Queue" : "My Queue" )</a>
}
@if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.EsclatingTeam)
{
<a id="detailMyTickets" href="javascript:void(0)" class="btn lightblue">@((CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager|| CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader) ? "All Tickets" : "My Tickets" )</a>
}