﻿<div class="lmessage">
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div class="row-fluid">
        <div class="span1">&nbsp;</div>
        <div class="span10">
            <div id="lmsg" class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">&nbsp;</button>
                <h4><strong>Error</strong></h4>
                @Model.ErrMsg
                <br /><br />
                <center>Click <a href="/Customer/Search">here</a> to go to customer search page</center>
            </div>
        </div>
        <div class="span1">&nbsp;</div>
    </div>
}
</div>