﻿@* Customer Info Header *@

<div class="row-fluid">
    @*<div class="span1">&nbsp;</div>*@
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4><span style="font-size:18px;font-weight:bold">Customers</span></h4>
                <div class="tools">
                    <a href="#" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body" id="tblCustomerInfoHeaderContainer">
                @if (!string.IsNullOrEmpty(Model.ErrMsg))
                {
                    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
                }
                else
                {
                    <div id="tblCustomerInfoHeaderLoader" style="width:100%;height:85px;background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
                    <table class=" table table-bordered" id="tblCustomerInfoHeader" style="display:none">
                        <thead>
                            <tr>
                                <th>Brand</th>
                                <th>Mobile No</th>
                                <th>Subscriber Id</th>
                                @*@if(ViewBag._productcode != "VMUK"){*@
                                <th>Id</th>
                                @*}*@
                                <th>Name</th>
                                <th>SIM Status</th>
                                <th>ICCID</th>
                                <th>Current Bal</th>
                                <th>Bonus Bal</th>
                                @*<th>Activate Date</th>*@
                                <th>SIM type</th>
                                @*@if(ViewBag._productcode != "VMUK"){*@
                                <th>Conn Status</th>
                                @*Added : 22-Dec-2018 : CRM Enhancement*@
                                <th id="thCIHVapp">Vectone Xtra</th>
                                @*}*@
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="tdCIHBrand"></td>
                                <td id="tdCIHMobileNo"></td>
                                <td id="tdCIHSubscriberId"></td>
                                @*@if(ViewBag._productcode != "VMUK"){*@
                                <td id="tdCIHCustomerId"></td>
                                @*}*@
                                <td id="tdCIHCustomerName"></td>
                                <td id="tdCIHSIMStatus"></td>
                                <td id="tdCIHICCID"></td>
                                <td id="tdCIHBalance"></td>
                                <td id="tdCIHBonus"></td>
                                @*<td id="tdCIHActivateDate"></td>*@
                                <td id="tdCIHSIMType"></td>
                                @* @if(ViewBag._productcode != "VMUK"){*@
                                <td id="tdCIHConnectionStatus"></td>
                                @*Added : 22-Dec-2018 : CRM Enhancement*@
                                <td id="tdCIHVapp" style="text-align: center;"><img src="/Assets/Main/img/vectone_xtra.png" style="border: 1px solid black;"></td>
                                @*}*@
                            </tr>
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
@* eo Customer Info Header *@





