﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
    <div id="itIssuesListContainer" style="background:center center no-repeat;padding:10px;"></div>

    <div id="itPWNewIssue" class="popup-message modal hide border-lightblue" style="width:655px;height:470px;">
	    <div class="modal-header background-lightblue" style="font-family:Arial">New Issue</div>
	    <div class="modal-body" style="height:348px">
            <div style="width:625px;height:25px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Subscriber Name</div>
                <div style="float:left;width:490px;color:#505050;border-bottom:1px dotted #e5e5e5">
                    @ViewBag._firstname @ViewBag._lastname 
                </div>
            </div>
            <div style="width:625px;height:25px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Subscriber ID</div>
                <div style="float:left;width:490px;color:#505050;border-bottom:1px dotted #e5e5e5">@ViewBag._subscriberid</div>
            </div>
            <div style="width:625px;height:27px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Mobile No</div>
                <div style="float:left;width:490px;color:#505050;">@ViewBag._mobileno</div>
            </div>
            <div style="width:625px;height:40px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Issue Type</div>
                <div style="float:left;width:500px;color:#505050;">
                    <select id="itPWNISelectIssueType1" name="itPWNISelectIssueType1" style="float:left;font-size:13px;width:190px"></select>
                    <select id="itPWNISelectIssueType2" name="itPWNISelectIssueType2" style="float:left;margin-left:10px;width:290px;font-size:13px"></select>&emsp;
                    <img id="itPWNISelectIssueType2Loader" src="~/Assets/Main/img/ajaxloader-03.gif" style="display:none"/>
                </div>
            </div>
            <div style="width:625px;height:115px;float:left">
                <div style="width:125px;height:95px;float:left;font-weight:bold">Issue Desc</div>
                <div style="float:left;width:500px;height:95px;color:#505050;">
                    <textarea id="itPWNITAIssueDesc" name="itPWNITAIssueDesc" style="float:left;width:476px;height:95px;resize: none;padding:5px;font-size:13px" spellcheck="false"></textarea>
                </div>
            </div>
            <div style="width:625px;height:115px;float:left">
                <div style="width:125px;height:95px;float:left;font-weight:bold">Solution Desc</div>
                <div style="float:left;height:95px;width:500px;color:#505050;">
                    <textarea id="itPWNITASolutionDesc" name="itPWNITASolutionDesc" style="float:left;width:476px;height:95px;resize: none;padding:5px;font-size:13px" spellcheck="false"></textarea>
                </div>
            </div>
	    </div>
        <div class="modal-footer" style="height:30px">
            <button data-dismiss="modal" class="pull-right btn darkgrey" type="button" id="btnitPWNIClose" style="margin-right:16px">Close</button>
            <button class="pull-right btn blue" type="button" id="btnitPWNIClear" style="margin-right:5px">Clear</button>
            <button data-dismiss="modal" class="pull-right btn blue" type="button" id="btnitPWNISave">Save</button>
        
        </div>
    </div>

    <div id="itPWDetailIssue" class="popup-message modal hide border-lightblue" style="width:550px;height:auto;min-height:355px;">
	    <div class="modal-header background-lightblue" style="font-family:Arial">Issue Detail</div>
	    <div class="modal-body" style="height:auto;min-height:235px">
            <div style="width:520px;height:30px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Issue ID</div>
                <div style="float:left;width:390px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWDIIssueID">&nbsp;</div>
            </div>
            <div style="width:520px;height:30px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Issue Type</div>
                <div style="float:left;width:390px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWDIIssueType">&nbsp;</div>
            </div>
            <div style="width:520px;height:30px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Subscriber ID</div>
                <div style="float:left;width:390px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWDISubscriberID">&nbsp;</div>
            </div>
            <div style="width:520px;height:30px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Subscriber Name</div>
                <div style="float:left;width:390px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWDISubscriberName">&nbsp;</div>
            </div>
            <div style="width:520px;height:auto;min-height:30px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Issue Desc</div>
                <div style="float:left;width:390px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWDIIssueDesc">&nbsp;</div>
            </div>
            <div style="width:520px;height:auto;min-height:30px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Solution Desc</div>
                <div style="float:left;width:390px;color:#505050;border-bottom:1px dotted #e5e5e5;line-height:19px;" id="itPWDISolutionDesc">&nbsp;</div>
            </div>
            <div style="width:520px;height:30px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Submit By</div>
                <div style="float:left;width:390px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWDISubmitBy">&nbsp;</div>
            </div>
            <div style="width:520px;height:30px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Submit Date</div>
                <div style="float:left;width:390px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWDISubmitDate">&nbsp;</div>
            </div>

	    </div>
        <div class="modal-footer" style="height:30px">
            <button data-dismiss="modal" class="pull-right btn darkgrey" type="button" id="btnITPWDetailIssueClose" style="margin-right:10px">Close</button>
        </div>
    </div>

    <div id="itPWUpdateIssue" class="popup-message modal hide border-lightblue" style="width:660px;height:525px;">
	    <div class="modal-header background-lightblue" style="font-family:Arial">Update Issue</div>
	    <div class="modal-body" style="height:410px">
            <input type="hidden" id="IssueID" name="IssueID" />
            <div style="width:625px;height:25px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Issue ID</div>
                <div style="float:left;width:490px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWUIIssueID">&nbsp;</div>
            </div>
            <div style="width:625px;height:35px;float:left">
                <div style="width:125px;float:left;font-weight:bold"><div style="margin-top:5px">Issue Type</div></div>
                <div style="float:left;width:500px;color:#505050;">
                    <select id="itPWUISelectIssueType1" name="itPWUISelectIssueType1" style="float:left;font-size:13px;width:190px"></select>
                    <select id="itPWUISelectIssueType2" name="itPWUISelectIssueType2" style="float:left;margin-left:10px;width:290px;font-size:13px"></select>&emsp;
                    <img id="itPWUISelectIssueType2Loader" src="~/Assets/Main/img/ajaxloader-03.gif" style="display:none"/>
                </div>
            </div>
            <div style="width:625px;height:25px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Subscriber ID</div>
                <div style="float:left;width:490px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWUISubscriberID">&nbsp;</div>
            </div>
            <div style="width:625px;height:25px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Subscriber Name</div>
                <div style="float:left;width:490px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWUISubscriberName">&nbsp;</div>
            </div>
            <div style="width:625px;height:105px;float:left">
                <div style="width:125px;height:95px;float:left;font-weight:bold">Issue Desc</div>
                <div style="float:left;width:500px;height:95px;color:#505050;">
                    <textarea id="itPWUITAIssueDesc" name="itPWUITAIssueDesc" style="float:left;width:476px;height:85px;resize: none;padding:5px;font-size:13px" spellcheck="false"></textarea>
                </div>
            </div>
            <div style="width:625px;height:105px;float:left">
                <div style="width:125px;height:95px;float:left;font-weight:bold">Solution Desc</div>
                <div style="float:left;height:95px;width:500px;color:#505050;">
                    <textarea id="itPWUITASolutionDesc" name="itPWUITASolutionDesc" style="float:left;width:476px;height:85px;resize: none;padding:5px;font-size:13px" spellcheck="false"></textarea>
                </div>
            </div>
            <div style="width:625px;height:25px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Submit By</div>
                <div style="float:left;width:490px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWUISubmitBy">&nbsp;</div>
            </div>
            <div style="width:625px;height:25px;float:left">
                <div style="width:125px;float:left;font-weight:bold">Submit Date</div>
                <div style="float:left;width:490px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWUISubmitDate">&nbsp;</div>
            </div>
            <div style="width:625px;height:25px;float:left">
                <div style="width:125px;float:left;font-weight:bold">History Issue</div>
                <div style="float:left;width:490px;color:#505050;border-bottom:1px dotted #e5e5e5" id="itPWUIHistoryIssue">&nbsp;</div>
            </div>

	    </div>
        <div class="modal-footer" style="height:35px">
            <button data-dismiss="modal" class="pull-right btn darkgrey" type="button" id="btnITPWUIClose" style="margin-right:10px">Cancel</button>
            <button data-dismiss="modal" class="pull-right btn blue" type="button" id="btnITPWUISave" style="margin-right:5px">Save</button>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}