﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div id="tblProductBundlesContainer" style="padding: 10px;">
        <div class="portlet box blue" id="pbSubscribedBundles">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <h4><span style="font-size: 18px; font-weight: bold">Subscribed Bundles</span></h4>
            </div>
            <div class="portlet-body" id="pbSubscribedBundlesBody" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                <table class="table table-bordered" id="tblPBSubscribedBundles"></table>
            </div>
        </div>
        <div class="portlet box blue" id="pbAvailableBundles">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <h4><span style="font-size: 18px; font-weight: bold">Available Bundles to subscribe</span></h4>
            </div>
            <div id="tblAvailBundleContainer">
                <table id="tblAvailBundle" style="background: #fff"></table>
            </div>
            <div class="portlet-body" id="pbAvailableBundlesBody" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                <table class="table table-bordered" id="tblPBAvailableBundles"></table>
            </div>
        </div>
    </div>
    <div id="ProductBundlesMessage" class="popup-message modal hide border-lightblue" style="width: 500px; height: 225px">
        <div class="modal-header background-lightblue" style="font-family: Arial"><span class="ProductBundlesStr1"></span>Bundle</div>
        <div class="modal-body" style="height: 100px">
            Are you sure you want to <span class="ProductBundlesStr2" style="font-weight: bold"></span>&nbsp; the below bundle?
            <div style="border: 1px solid #c0c0c0; height: 50px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
                <table border="0" style="width: 100%">
                    <tr>
                        <td style="width: 22%; vertical-align: bottom">Bundle ID</td>
                        <td id="ProductBundlesStr3" style="border-bottom: 1px dotted #c0c0c0; width: 78%"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: bottom">Bundle Name</td>
                        <td id="ProductBundlesStr4" style="border-bottom: 1px dotted #c0c0c0"></td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="btnIndex" name="btnIndex" />
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnProductBundlesCancel" style="float: left;">Cancel</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnProductBundlesSubscribe" style="float: right;">Subscribe</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnProductBundlesUnsubscribe" style="float: right;">Unsubscribe</button>            
        </div>
    </div>
    <div id="ProductBundlesMessage2" class="popup-message modal hide border-lightblue" style="width: 500px; height: 300px">
        <div class="modal-header background-lightblue" style="font-family: Arial"><span class="ProductBundlesStr1"></span>Bundle</div>
        <div class="modal-body" style="height: 175px">
            <div style="border: 1px solid #c0c0c0; height: 120px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
                <table border="0" style="width: 100%">
                    <tr>
                        <td style="width: 22%; vertical-align: bottom">Bundle ID</td>
                        <td id="ProductBundlesStr5" style="border-bottom: 1px dotted #c0c0c0; width: 78%"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align: bottom">Bundle Name</td>
                        <td id="ProductBundlesStr6" style="border-bottom: 1px dotted #c0c0c0"></td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: bottom">
                            <input type="radio" style="float: left; margin-bottom: 5px;" name="rdDataValidDays" id="rdData" checked="checked">
                            <label style="float: left; margin-left: 5px;">Data</label>
                        </td>
                        <td>
                            <input type="radio" style="float: left; margin-bottom: 5px;" name="rdDataValidDays" id="rdValidDays">
                            <label style="float: left; margin-left: 5px;">Valid Days</label>
                        </td>
                    </tr>
                    <tr class="trData">
                        <td>
                            <label style="float: left; margin-bottom: 10px;">Data</label>
                        </td>
                        <td>
                            <select name="ddlData" id="ddlData" style="width: 100px;">
                                <option value="0" selected>0-0.99</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select></td>
                    </tr>
                    <tr class="trValidDays">
                        <td>
                            <label style="float: left; margin-bottom: 10px;">Valid Days</label>
                        </td>
                        <td>
                            <select name="ddlValidDays" id="ddlValidDays" style="width: 60px;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                                <option value="60">60</option>
                            </select></td>
                    </tr>
                </table>
            </div>
            <input type="hidden" id="btnIndex2" name="btnIndex2" />
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnAddDataCancel" style="float: left; width: 100px;">Cancel</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnAddDataConfirm" style="float: right; width: 100px;">Submit</button>
        </div>
    </div>
    
    <div id="ProductBundlesMessage3" class="popup-message modal hide border-lightblue" style="width: 550px;">
        <div class="modal-header background-lightblue">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="BundleRatesName"></h4>
        </div>
        <div class="modal-body">
            <div class="portlet-body" id="pbBundleRates" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat; margin-top: -50px;">
                <table class="table table-bordered" id="tblBundleRates"></table>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" style="float: right; width: 100px;">Close</button>
        </div>
    </div>

    //27-Dec-2018 : Moorthy : Exchange Bundles
    <div class="popup-message modal hide border-blue" id="divCustExchangeBundle" style="width: 600px;">
        <div class="modal-header background-blue">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Exchange Bundle</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" id="CustExchangeBundle_SiteCode" name="CustExchangeBundle_SiteCode" value="@ViewBag._sitecode">
            <input type="hidden" id="CustExchangeBundle_CurrentPlan" name="CustExchangeBundle_CurrentPlan" value="">
            <input type="hidden" id="CustExchangeBundle_CurrentPlanId" name="CustExchangeBundle_CurrentPlanId" value="">
            <input type="hidden" id="CustExchangeBundle_CurrentPlanValue" name="CustExchangeBundle_CurrentPlanValue" value="">
            <div style="width: 99%;">
                <div style="width: 48%;float:left;    margin-left: 10px;">
                    <input type="checkbox" name="chkCustExchangeBundle" id="chkCustExchangeBundle">
                    Ignore if already data used
                </div>
                <div style="width: 49%;float:left;text-align: right;">
                    <select id="ddlEBBundleCategory" name="ddlEBBundleCategory">
                    </select>
                </div>
            </div>
            <div class="portlet-body" id="CustExchangeBundle" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
                <table class="table table-bordered" id="tblCustExchangeBundle"></table>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnCustExchangeBundleConfirm" type="button" class="btn blue" onclick="CustExchangeBundle('@ViewBag._mobileno','@ViewBag._sitecode')" disabled="disabled">Change</button>
            <button type="button" class="btn darkgrey" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    
     <div class="popup-message modal hide border-blue" id="divAdjustBundle" style="width: 800px;">
        <div class="modal-header background-blue">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Adjust Bundle</h4>
        </div>
        <div class="modal-body">
              <input type="hidden" id="AdjustBundle_BundleID" name="AdjustBundle_BundleID"  value="">
            <input type="hidden" id="AdjustBundle_SiteCode" name="AdjustBundle_SiteCode" value="@ViewBag._sitecode">  
            <div class="portlet-body" id="AdjustBundle" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
                <table class="table table-bordered" id="tblAdjustBundle" style="width:800px"></table>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnAdjustBundleConfirm" type="button" class="btn blue" onclick="AdjustBundle('@ViewBag._mobileno','@ViewBag._sitecode','@ViewBag._sitecode')" disabled="disabled">Change</button>
            <button type="button" class="btn darkgrey" data-dismiss="modal">Cancel</button>
        </div>
    </div>
    
    
    
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}