﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    
    
    <div id="myRadioGroup">
        <form>
            <label style="position: relative; display: inline-block; padding-left: 20px; margin-bottom: 0; font-weight: 400; vertical-align: middle; cursor: pointer;">
                <input style="position: relative; left: -3px; top: -3px;" type="radio" name="AddBalance" checked="checked" value="1">Add balance by Paise
            </label>

            @if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin)
            {
             
                <label style="position: relative; display: inline-block; padding-left: 20px; margin-bottom: 0; font-weight: 400; vertical-align: middle; cursor: pointer;">
                    <input style="position: relative; left: -3px; top: -3px;" type="radio" name="AddBalance" value="2">Add balance by Top up
                </label>
                <label style="position: relative; display: inline-block; padding-left: 20px; margin-bottom: 0; font-weight: 400; vertical-align: middle; cursor: pointer;">
                    <input style="position: relative; left: -3px; top: -3px;" type="radio" name="AddBalance" value="3">Add balance Manual 
                </label>@*
   

              <div id="radiobutton">
                  <input type="radio" name="AddBalance" value="2" />Add balance by Top up
                  <input type="radio" name="AddBalance" value="3" />Add balance Manual 
              </div>*@
            }
        </form>

        <div id="AddBalance1" class="desc">
            <table id="tblAddBalance" border="0" cellspacing="3" style="width: 320px; float: left">
                <tbody>
                    @*  <tr>
                        <td colspan="2" style="font-weight: bold; font-size: 16px">DETAILS</td>
                    </tr>*@
                    <tr style="display: none;">
                        <td style="width: 295px;">Mobile No / MSISDN</td>
                        <td id="tdABMobileNo" style="width: 225px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:100px;padding-left: 20px;">Amount</td>
                        <td>
                            <select name="ddlAmount" id="ddlAmount" style="width: 50px;">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td>
                            <button id="btnAddBalance" class="btn blue" style="width: auto">Add</button>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>

        </div>

        @if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin)
        {
            <div id="AddBalance2" class="desc" style="display: none;">
                <table id="tblAddBalanceLikeTopUp" border="0" cellspacing="3" style="width: 320px; float: left">
                    <tbody>
                        @* <tr>
                            <td colspan="2" style="font-weight: bold; font-size: 16px">DETAILS</td>
                        </tr>*@
                        <tr style="display: none;">
                            <td style="width: 295px;">Mobile No</td>
                            <td id="tdABLTPMobileNo" style="width: 225px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width: 295px;">Reference</td>
                            <td>
                                <input type="tel" id="tdABLTPOnlinePayRef" name="tdABLTPOnlinePayRef" style="font-size: 13px;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 295px;">Amount</td>
                            <td>
                                <input type="tel" id="tdABLTPAmount" name="tdABLTPAmount" style="font-size: 13px;" maxlength="2" />
                                &nbsp;<span id="errmsg"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 295px;">Comments</td>
                            <td>
                                <textarea name="tdABLTPComments" cols="15" rows="15" id="tdABLTPComments" style="font-size: 13px; width: 500px; height: 100px"> </textarea>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <button id="btnAddBalanceLikeTopUp" class="btn blue" style="width: auto">Add</button>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>       
            <div id="AddBalance3" class="desc" style="display: none;">
                <table id="tblAddBalanceManual" border="0" cellspacing="3" style="width: 320px; float: left">
                    <tbody>
                        @* <tr>
                            <td colspan="2" style="font-weight: bold; font-size: 16px">DETAILS</td>
                        </tr>*@
                        <tr style="display: none;">
                            <td style="width: 295px;">Mobile No</td>
                            <td id="tdABManualMobileNo" style="width: 225px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            @*  <td>
                                <input type="tel" id="tdABManualMobileNo" name="tdABManualMobileNo" style="font-size: 13px;" maxlength="12" />
                            </td>
                        </tr> 
                        <tr>
                            <td style="width: 295px;">Refund by</td>
                            <td>
                                <input type="tel" id="tdABManualRefundBy" name="tdABManualRefundBy" style="font-size: 13px;" />
                            </td>
                        </tr>*@
                        </tr>
                        <tr>
                            <td style="width: 295px;">Amount</td>
                            <td>
                                <input type="tel" id="tdABManualAmount" name="tdABManualAmount" style="font-size: 13px;" maxlength="4" />&nbsp;<span id="Manualerrmsg"></span>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 295px;">Comments</td>
                            <td>
                                <textarea name="tdABManualComments" cols="15" rows="15" id="tdABManualComments" style="font-size: 13px; width: 500px; height: 100px"> </textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button id="btnAddManualTopUp" class="btn blue" style="width: auto">Add</button>
                            </td>
                        </tr>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>  
}