﻿<div id="tab2in1AddNewCountry" style="display:none">
    @if (Model.Detail2in1 != null)
    {
        <span>Add New Home country &nbsp;</span>
	    <select id="imsi_country" name="imsi_country" >
            <option value="">-- Select Country --</option>
	    </select><img id="countryListLoader" src="~/Assets/Main/img/ajaxloader-03.gif" />
        
        if (Model.Customer.mimsi_compatible != CRM_API.Models.CustomerSearchResult.IsMimsiCompatible)
        {
        <div class="alert alert-error">
            Customer's SIM is not compatible with 2-in-1. A new SIM is required. Please inform the Customer to call 676 MobileNo# from the new SIM card as soon as the SIM is received.
        </div>
        
        <div id="deliveryAddress" class="portlet box blue" style="margin-bottom:10px;display:none">
            <input type="hidden" id="Add2in1CountrySIMCompatible" name="Add2in1CountrySIMCompatible" value="SNC" />
            <div class="portlet-title">
                <h4>Delivery Address</h4>
            </div>
	        <div class="portlet-body" style="padding:15px">
                <div style="width:100%;border-bottom:3px solid #e5e5e5;font-size:16px;font-weight:bold;padding-bottom:10px;margin-bottom:15px">Enter your details</div>
                <input type="hidden" id="SubscriberID" name="SubscriberID" value="@Model.Customer.SubscriberID" />
		        <table id="tblCustomerDetail">
                    <tr>
                        <td style="width:155px;">Title</td>
                        <td colspan="2">
                            <select id="Add2in1CountryTitle" name="Add2in1CountryTitle" style="width:353px;">
                                <option value="">Select</option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Ms.">Ms.</option>
                                <option value="Miss">Miss</option>
                            </select>
                        </td>
                        <td><label class="errLabel">* Please select title </label></td>
                    </tr>

                    <tr>
                        <td>First Name</td>
                        <td colspan="2">
                            <input type="text" id="Add2in1CountryFirstName" name="Add2in1CountryFirstName" value="@Model.Customer.FirstName" />
                        </td>
                        <td><label class="errLabel">* Please enter First Name</label></td>
                    </tr>
			        <tr>
                        <td>Last Name</td>
                        <td colspan="2">
                            <input type="text" id="Add2in1CountryLastName" name="Add2in1CountryLastName" value="@Model.Customer.LastName" />
                        </td>
                        <td><label class="errLabel">* Please enter Last Name</label></td>
			        </tr>
                    <tr class="Add2in1CountryOnlyFrance">
                        <td>Date Of Birth</td>
                        <td colspan="2">
                            <select id="Add2in1CountryDOBDay" name="Add2in1CountryDOBDay" style="width:100px;"></select>
                            <select id="Add2in1CountryDOBMonth" name="Add2in1CountryDOBMonth" style="width:145px;"></select>
                            <select id="Add2in1CountryDOBYear" name="Add2in1CountryDOBYear" style="width:100px;"></select>
                        </td>
                        <td><label class="errLabel">* Please select the date of birth</label></td>
                    </tr>
                    <tr class="Add2in1CountryOnlyFrance">
                        <td>Select a Form of ID</td>
                        <td colspan="2">
                            <select id="Add2in1CountrySelectIDForm" name="Add2in1CountrySelectIDForm" style="width:353px;">
                                <option value="">- Select -</option>
                                <option value="1">Passport</option>
                                <option value="2">ID Card</option>
                                <option value="3">Driving License</option>
                                <option value="4">Birth Certificate</option>
                                <option value="5">Visa</option>
                            </select>
                        </td>
                        <td><label class="errLabel">* Please select a form of ID </label></td>
                    </tr>
                    <tr id="Add2in1CountryIDFormContainer" style="display:none">
                        <td id="Add2in1CountryIDFormInputName">&nbsp;</td>
                        <td id="Add2in1CountryIDFormInput" colspan="2">&nbsp;</td>
                        <td><label id="Add2in1CountryIDFormInputError" class="errLabel">&nbsp;</label></td>
			        </tr>
                    <tr>
                        <td>Email</td>
                        <td colspan="2">
                            <input type="text" id="Add2in1CountryEmail" name="Add2in1CountryEmail" value="@Model.Customer.Email" />
                        </td>
                        <td><label class="errLabel">* Please enter Email Address</label></td>
			        </tr>
			        <tr>
                        <td>Mobile No</td>
                        <td colspan="2">
                            <input type="text" id="Add2in1CountryContact" name="Add2in1CountryContact" value="@Model.Customer.contact" />
                        </td>
			        </tr>
                </table>
                <div style="width:100%;border-bottom:3px solid #e5e5e5;font-size:16px;font-weight:bold;padding-bottom:10px;margin:25px 0 15px 0">Enter your delivery address</div>
                <table id="tblDeliveryAddress">
                    <tr> 
                        <td style="width:155px;">Post Code</td>
                        <td style="width:240px" id="tdAdd2in1CountryPostcode">
                            <input type="text" id="Add2in1CountryPostcode" name="Add2in1CountryPostcode" value="@Model.Customer.postcode"/>
                            <input type="hidden" id="Add2in1CountryPostcodeDefault" name="Add2in1CountryPostcodeDefault" value="@Model.Customer.postcode"/>
                            <input type="hidden" id="Add2in1CountryHouseNoDefault" name="Add2in1CountryHouseNoDefault" value="@Model.Customer.address1" />
                            <input type="hidden" id="Add2in1CountryAddressDefault" name="Add2in1CountryAddressDefault" value="@Model.Customer.address2" />
                            <input type="hidden" id="Add2in1CountryCityDefault" name="Add2in1CountryCityDefault" value="@Model.Customer.city" />
                        </td>
                        <td id="tdAdd2in1CountryBtnFind">
                            <input type="button" class="btn blue" id="Add2in1CountryBtnFind" style="margin:-8px 0 0 3px;width:109px" value="Find Address" />
                            <img id="Add2in1CountryBtnFindLoader" src="~/Assets/Main/img/ajaxloader-03.gif" style="margin-top:-5px;display:none"/>
                        </td>
                        <td><label class="errLabel">* Please enter Post Code</label></td>
			        </tr>
                    <tr id="trAdd2in1CountryAddressList" style="display:none;">
                        <td>&nbsp;</td>
                        <td colspan="2">
                            <select id="Add2in1CountryListAddressIP" name="Add2in1CountryListAddressIP" style="width:353px;"></select>
                            <div id="errAdd2in1CountryListAddressIP" style="display:none;color:#c84c4c;font-size:14px;margin-bottom:10px">&nbsp;</div>
                        </td>
                    </tr>
			        <tr>
                        <td>House No.</td>
                        <td colspan="2">
                            <input type="text" id="Add2in1CountryHouseNo" name="Add2in1CountryHouseNo" value="@Model.Customer.address1" />
                        </td>
                        <td><label class="errLabel">* Please enter House Number</label></td>
			        </tr>
			        <tr>
                        <td>Street</td>
                        <td colspan="2">
                            <input type="text" id="Add2in1CountryAddress" name="Add2in1CountryAddress" value="@Model.Customer.address2" />
                        </td>
                        <td><label class="errLabel">* Please enter Street</label></td>
                    </tr>
			        <tr>
                        <td>City/Town</td>
                        <td colspan="2">
                            <input type="text" id="Add2in1CountryCity" name="Add2in1CountryCity" value="@Model.Customer.city" />
                        </td>
                        <td><label class="errLabel">* Please enter City/Town</label></td>
			        </tr>
			    
                    <tr>
                        <td>Country</td>
                        <td colspan="2"><input type="text" id="Add2in1CountryCountry" name="Add2in1CountryCountry" value="" /></td>
                        <td><label class="errLabel">* Please enter Country</label></td>
                    </tr>
		        </table>

                <div style="text-align:right;margin-top:30px;">
                    <button class="btn darkgrey" id="Add2in1CountryBtnCancel1" style="width:170px;height:45px;">Cancel</button>
                    <button class="btn blue" id="Add2in1CountryBtnProceed1" style="width:170px;height:45px;">Confirm</button>
                </div>
	        </div>
        </div>
        }
        else
        {
        <div class="alert alert-info">
            <p>
                Instruction to customer :
														        <br />
                <br />
                a text message will be sent soon after this call with an instruction to restart the mobile handset.
            </p>
        </div>
            <div style="text-align:right;margin-top:30px;">
                    <button class="btn darkgrey" id="Add2in1CountryBtnCancel1" style="width:170px;height:45px;">Cancel</button>
                    <button class="btn blue" id="Add2in1CountryBtnProceed1" style="width:170px;height:45px;">Confirm</button>
        </div>
        }
        
    
    <!-- MODAL FORM-->
    
	    <div id="Add2in1Country_ConfirmProceedToPayment1" class="popup-message modal hide border-lightblue" style="width:400px">
		    <div class="modal-header background-lightblue" style="font-family:Arial">2 in 1</div>
		    <div class="modal-body">
                Requested for 2 in 1: <span id="Product2in1Name"></span> ?
		    </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn" type="button">Cancel</button>
			   @* <button data-dismiss="modal" class="btn blue" type="button" id="Add2in1Country_PayByCard1">OK1</button>*@
                <button data-dismiss="modal" class="btn blue" type="button" id="Add2in1Country_PayByCredit">OK</button>
            </div>
	    </div>
    
    <!-- END MODAL FORM -->
}
</div>