﻿<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4><span style="font-size: 18px; font-weight: bold">Overview</span></h4>
                <div class="tools">
                    <a class="collapse" href="#"></a>
                </div>
            </div>
            <div id="tblCustomerInfoHeaderContainer" class="portlet-body">
                <div style="width: 100%; height: 85px; background: rgb(255, 255, 255) url(&quot;/Assets/Main/img/ajaxloader-02.gif&quot;) no-repeat scroll center center; display: none;" id="tblCustomerInfoHeaderLoader">&nbsp;</div>
                <table style="" id="tblRBOverview" class=" table table-bordered">
                   
                </table>
            </div>
        </div>
    </div>
</div>

