﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div id="ajax-screen-masking2" style="background: rgba(255, 255, 255, 0.1);"></div>

    <div id="TabSIMSwapLoader" style="display: none; width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div class="divSIMSwap">
        <!-- Header Tabs -->
        <ul class="ultab nav nav-tabs">
            <li id="litab0"><a id="aTabSIMSwap" href="javascript:void(0)">SIM Order</a></li>
            <li id="litab1"><a id="aTabSIMReports" href="javascript:void(0)">SIM Reports</a></li>
        </ul>
        <!-- End Header Tabs -->
        <!-- Start Tabs -->
        <div class="tab-content">
            <div class="tab-pane" id="tab_1_0">
                <div id="SIMSwapStep1Container" style="padding: 20px 20px 5px 20px;">
                    <table border="0" cellspacing="3" cellpadding="3" style="width: 100%">
                        <tbody>
                            <tr>
                                <td style="width: 225px;">Reason for SIM Swap</td>
                                <td style="width: 270px; color: #505050">
                                    <select id="selectSIMSwapReason" name="selectSIMSwapReason" disabled>
                                        <option value="">Please Select One</option>
                                    </select>&emsp;
                        <img id="reasonListLoader" src="~/Assets/Main/img/ajaxloader-03.gif" style="margin-top: -10px" />
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr id="trSIMSwapHave">
                                <td>Does the customer have a new SIM?</td>
                                <td style="color: #505050">
                                    <select id="selectSIMSwapHave" name="selectSIMSwapHave" disabled>
                                        <option value="">Please Select One</option>
                                        <option value="0">Yes</option>
                                        <option value="1">No</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div style="margin-top: 30px; text-align: center">
                                        <button id="btnSIMSwapDoProceed" class="btn" style="width: 120px; height: 40px" disabled>Proceed</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="SIMSwapStep2Container_NewSIMYES" style="padding: 20px 20px 5px 20px; display: none;">
                    <table border="0" cellspacing="3" cellpadding="3" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 225px;">Reason for SIM Swap</td>
                                <td id="tdResultSIMSwapReasonYes" style="width: 240px; color: #505050">&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Does the customer have a new SIM?</td>
                                <td id="tdResultSIMSwapHaveYes" style="width: 240px; color: #505050">&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" cellspacing="3" cellpadding="3" style="width: 100%; margin-top: 20px">
                        <tbody>
                            <tr>
                                <td style="width: 125px">
                                    <div style="margin-top: -10px">New Mobile Number</div>
                                </td>
                                <td style="width: 180px">
                                    <input id="iSIMSwapNewMobileNo" name="iSIMSwapNewMobileNo" type="text" style="width: 150px" /></td>
                                <td style="width: 180px">
                                    <div style="margin-top: -10px">Last 4 digits of ICCID Number</div>
                                </td>
                                <td style="width: 80px">
                                    <input id="iSIMSwapICCID" name="iSIMSwapICCID" type="text" maxlength="4" style="width: 50px" /></td>
                                <td>
                                    <button id="btnSIMSwapDoValidate" class="btn blue" style="margin-top: -10px;">Validate</button>
                                    <button id="btnSIMSwapDoValidateCancel" class="btn darkgrey" style="margin-top: -10px;">Cancel</button>
                                    <img id="btnSIMSwapDoValidateLoader" src="~/Assets/Main/img/ajaxloader-03.gif" style="margin-top: -10px; display: none" />
                                </td>
                            </tr>
                            <tr class="trSIMSwapBtnSwapCancel" style="display: none">
                                <td>&nbsp;</td>
                            </tr>
                            <tr class="trSIMSwapBtnSwapCancel" style="display: none">
                                <td colspan="5" style="border: 1px dotted #e5e5e5;">
                                    <div id="SIMSwapBtnSwapCancelContainer" style="margin: 10px 0; text-align: center">
                                        @*<button id="btnSIMSwapDoSwap" class="btn blue" style="width:130px;height:40px">Swap</button>
                            <button id="btnSIMSwapDoCancel" class="btn darkgrey" style="margin-left:20px;width:130px;height:40px">Cancel</button>*@
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="SIMSwapStep2Container_NewSIMNO" style="padding: 20px 20px 5px 20px; display: none;">
                    <table border="0" cellspacing="3" cellpadding="3" style="width: 100%;">
                        <tbody>
                            @*<tr>
                    <td style="width:225px;">Reason for SIM Swap</td>
                    <td id="tdResultSIMSwapReasonNo" style="width:210px;color:#505050">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Does the customer have a new SIM?</td>
                    <td id="tdResultSIMSwapHaveNo" style="color:#505050">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>*@
                            <tr>
                                <td style="width: 225px;">
                                    <div style="margin-top: -10px">SIM Type</div>
                                </td>
                                <td style="color: #505050">
                                    <select id="selectSIMSwapType" name="selectSIMSwapType" style="width: 160px; margin-bottom: 5px">
                                        @*<option value="">Please Select One</option>*@
                                        <option value="0">Standard</option>
                                    </select>&emsp;
                        @*<img id="SIMTypeListLoader" src="~/Assets/Main/img/ajaxloader-03.gif" style="margin-top:-10px" />*@
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" cellspacing="3" cellpadding="3" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 225px;">
                                    <div style="margin-top: -10px">Dispatch Address</div>
                                </td>
                                <td style="width: 155px; color: #505050">
                                    <div style="margin-top: -12px">
                                        <input type="radio" value="0" name="radioSIMSwapDispatchAddress" style="margin-top: -4px" checked />&nbsp;&nbsp;Current Address
                                    </div>
                                </td>
                                <td id="tdCurrentAddress">
                                    <input type="text" id="iSIMSwapCurrentAddress" name="iSIMSwapCurrentAddress" style="width: 100%" />
                                    <input type="hidden" id="iSIMSwapCurrentAddressFirstName" name="iSIMSwapCurrentAddressFirstName" />
                                    <input type="hidden" id="iSIMSwapCurrentAddressLastName" name="iSIMSwapCurrentAddressLastName" />
                                    <input type="hidden" id="iSIMSwapCurrentAddressAddress1" name="iSIMSwapCurrentAddressAddress1" />
                                    <input type="hidden" id="iSIMSwapCurrentAddressAddress2" name="iSIMSwapCurrentAddressAddress2" />
                                    <input type="hidden" id="iSIMSwapCurrentAddressCity" name="iSIMSwapCurrentAddressCity" />
                                    <input type="hidden" id="iSIMSwapCurrentAddressPostcode" name="iSIMSwapCurrentAddressPostcode" />
                                    <input type="hidden" id="iSIMSwapCurrentAddressCountry" name="iSIMSwapCurrentAddressCountry" />
                                    <!--31-Dec-2018 : Moorthy : Added for Sim Order-->
                                    <input type="hidden" id="iSIMSwapCurrentAddressHouseNo" name="iSIMSwapCurrentAddressHouseNo" />
                                    <input type="hidden" id="iSIMSwapCurrentAddressEmail" name="iSIMSwapCurrentAddressEmail" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table border="0" cellspacing="3" cellpadding="3" style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 225px;">&nbsp</td>
                                <td style="width: 155px; color: #505050; vertical-align: top; margin-top: 10px">
                                    <div>
                                        <input type="radio" value="1" name="radioSIMSwapDispatchAddress" style="margin-top: -4px" />&nbsp;&nbsp;New Address
                                    </div>
                                </td>
                                <td id="tdNewAddress" style="padding-left: 3px">
                                    <div style="border: 1px solid #c0c0c0; width: 99%; padding: 20px 10px">
                                        <table style="width: 95%; color: #505050;">
                                            <tbody>
                                                <tr>
                                                    <td style="width: 100px; font-weight: bold; margin-top: -10px">First Name <span class="iSIMSwapNewAddressMandatory" style="color: #ff0000">*</span></td>
                                                    <td>
                                                        <input type="text" id="iSIMSwapNewAddressFirstName" name="iSIMSwapNewAddressFirstName" style="width: 100%" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; margin-top: -10px">Last Name</td>
                                                    <td>
                                                        <input type="text" id="iSIMSwapNewAddressLastName" name="iSIMSwapNewAddressLastName" style="width: 100%" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; margin-top: -10px">Address <span class="iSIMSwapNewAddressMandatory" style="color: #ff0000">*</span></td>
                                                    <td>
                                                        <input type="text" id="iSIMSwapNewAddressAddress1" name="iSIMSwapNewAddressAddress1" style="width: 100%" /></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <input type="text" id="iSIMSwapNewAddressAddress2" name="iSIMSwapNewAddressAddress2" style="width: 100%" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; margin-top: -10px">City/Town <span class="iSIMSwapNewAddressMandatory" style="color: #ff0000">*</span></td>
                                                    <td>
                                                        <input type="text" id="iSIMSwapNewAddressCity" name="iSIMSwapNewAddressCity" style="width: 100%" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; margin-top: -10px">Postcode <span class="iSIMSwapNewAddressMandatory" style="color: #ff0000">*</span></td>
                                                    <td>
                                                        <input type="text" id="iSIMSwapNewAddressPostcode" name="iSIMSwapNewAddressPostcode" style="width: 100px" /></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-weight: bold; margin-top: -10px">Country</td>
                                                    <td id="iSIMSwapNewAddressCountry">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div style="margin-top: 20px;">
                                        <button id="btnSIMSwapDoPOCancel" class="btn darkgrey" style="float: right; margin-right: -10px; width: 130px; height: 40px;">Cancel</button>
                                        <button id="btnSIMSwapDoPlaceOrder" class="btn blue" style="float: right; width: 130px; height: 40px; margin-right: 10px">Place Order</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="tab_1_1">
                <div class="portlet box blue">
                    <div class="portlet-title" style="height: 30px; border-bottom: 0">
                        <h4><span style="font-size: 18px; font-weight: bold">SIM Reports</span></h4>
                    </div>
                    <div class="portlet-body" id="SIMReportsContainer" style="background: #ffffff center center no-repeat; overflow: hidden; overflow-y: hidden">
                        <table class="table table-bordered" id="tblSIMReportsContainer"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}