﻿@{
    ViewBag.Title = "Tab Porting";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";    
}

@model CRM_API.Models.CustomerDetailPage
@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Porting Detail";
}
@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Details</div>
                    </h4>
                </div>
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/Customer/_DetailHeaderButton.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="tblPortinContainer">
                            <div id="PortinLoader" style='background: url("/Assets/Main/img/ajaxloader-02.gif") center center no-repeat rgb(255, 255, 255); overflow: hidden; min-height: 100px; position: absolute; right: 0; top: 0; bottom: 0; left: 0; display: none;'></div>
                            <div style="border: 1px solid #fafafa; padding: 10px; width: 750px; margin-bottom: 20px">
                                <table id="tblPortinOverview" border="0" cellspacing="3" cellpadding="3">
                                    <tbody>
                                        <tr>
                                            <td style="width: 220px;">Port In From Operator </td>
                                            <td id="tdPortInFromOperator" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>Port In Date</td>
                                            <td id="tdPortInDate" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>Port in joining bonus</td>
                                            <td id="tdPortinjoiningbonus" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                            <td>
                                                <input type="button" id="btnHistory" class="btn blue" value="History" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Date of port out </td>
                                            <td id="tdDateofportout" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>Port out operator Name</td>
                                            <td id="tdPortoutoperatorName" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>PAC code request date / validity period</td>
                                            <td id="tdPACCodeRequestDate" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>PAC Code</td>
                                            <td id="tdPaccode" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>Request date</td>
                                            <td id="tdRequestdate" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>Amount</td>
                                            <td id="tdAmount" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="ajax-screen-masking">
            <div id="ajax-loader"></div>
        </div>
        <div id="PortingHistoryContainer" class="popup-message modal hide border-lightblue" style="width: 800px;">
            <div class="modal-header background-lightblue" style="font-family: Arial">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;"></button>
                <h4 class="modal-title">Porting History Details</h4>
            </div>
            <div class="modal-body">
                <div id="PortingHistoryContainerBody" style="width: 100%; height: 250px;">
                    <table class="table table-bordered table-hover" id="tblPortingHistory"></table>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnPortingHistoryclose" style="width: 100px;">Close</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
@section Scripts {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.portinout.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(2);

            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            $("ul.ultab li").removeClass("active");
            $("div.tab-content div").removeClass("active");
            $("li#litab0").addClass("active");
            $("#tab_1_0").addClass("active");
            $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
            $("a#detailPorting").removeClass("lightblue").addClass("white");

            ActionDetailHeaderButtons(13, $.trim('@ViewBag._mobileno'), sim);

            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

            GetPortinDetails($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));

            $("#btnHistory").click(function () {
                $("#ajax-screen-masking").show();
                var sitecode = $.trim('@ViewBag._sitecode');
                var MobNo = $.trim('@ViewBag._mobileno');
                //$("#PortingHistoryContainer").modal('show');
                $('#PortingHistoryContainer').modal({ keyboard: false, backdrop: 'static' }).css({
                    'margin-left': function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
                $("#PortingHistoryContainerBody").html("").append("<table class=\"table table-bordered\" id=\"tblPortingHistory\"></table>");
                var url = apiServer + '/api/PortingHistory';
                jQuery.support.cors = true;
                var JSONSendData = {
                    MobileNo: MobNo,
                    Sitecode: sitecode,
                };
                $.ajax
                ({
                    url: url,
                    type: 'post',
                    data: JSON.stringify(JSONSendData),
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    beforeSend: function () {
                        $("#ajax-screen-masking").show();
                    },
                    success: function (feedback) {
                        $("#ajax-screen-masking").hide();
                        $('#tblPortingHistory').dataTable({
                            bDestroy: true,
                            bRetrieve: true,
                            aaData: feedback,
                            bPaginate: true,
                            bFilter: false,
                            bInfo: false,
                            iDisplayLength: 10,
                            aaSorting: [],
                            oLanguage: {
                                "sInfoEmpty": '',
                                "sEmptyTable": "No customer found."
                            },
                            aoColumns: [
                                 {
                                     mDataProp: "Createdate_str", sTitle: "Created Date",
                                     fnRender: function (ob) {
                                         return ob.aData.Createdate_str;
                                     }
                                 },
                              {
                                  mDataProp: "Promoid", sTitle: "Promotional ID",
                                  fnRender: function (ob) {
                                      return ob.aData.Promoid;
                                  }
                              },
                              { mDataProp: "Promo_name", sTitle: "Promotional Name" },
                              { mDataProp: "Amount", sTitle: "Amount" },
                              { mDataProp: "Mode", sTitle: "Mode" }
                            ],
                            fnDrawCallback: function (ob) {

                            }
                        });

                    },
                    error: function (feedback) {
                        $("#ajax-screen-masking").hide();
                    }
                });
            });
        });
    </script>
}