﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
    <div style="padding:10px;">
        <div class="portlet box blue" id="chFilterContainer">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <h4><span style="font-size:18px;font-weight:bold">Search History</span></h4>
            </div>
            <div class="portlet-body">
			    <table border="0" style="width:100%">
                    <tr>
                        <td rowspan="2" style="width:295px;vertical-align:top">
                            <div>
                                <div style="margin-top:5px;float:left;margin-right:10px">Search By</div>
                                <div style="float:left">
                                    <select id="selectHistoryType" name="selectHistoryType" style="width:180px">
                                        <option value="0" style="padding:3px 5px">All</option>
                                        <option value="1" style="padding:3px 5px">Calls</option>
                                        <option value="2" style="padding:3px 5px">Text</option>
                                        <option value="3" style="padding:3px 5px">Data</option>
                                        <!--CRM Enhancement 2-->
                                        <option value="4" style="padding:3px 5px">Excess Usage</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td style="width:70px;vertical-align:top">
                            <div style="margin-right:3px;margin-top:5px;text-align:right">Start Date</div>
                        </td>
                        <td style="width:230px;">
                            <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
					            <input class="span8" id="startdate" size="23" type="text" value="">
					            <input type="hidden" id="lastdate1" value="">
					            <span class="add-on"><i class="icon-calendar"></i></span>
					        </div>
                        </td>
                        <td rowspan="2" style="vertical-align:top">
                            <button class="btn blue" id="btnSearchHistory" style="width:100px;height:70px;">Search</button>
                            <!--25-Jan-2019 : Moorthy : Added for View Prefix-->
                            <button class="btn blue" id="btnViewPrefix" style="width:100px;height:70px;margin-left:50px">Search Prefix</button>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top">
                            <div style="margin-right:3px;margin-top:5px;text-align:right">End Date</div>
                        </td>
                        <td>
                            <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
					            <input class="span8" id="enddate" size="23" type="text" value="">
                                <input type="hidden" id="lastdate2" value="">
					            <span class="add-on"><i class="icon-calendar"></i></span>
					        </div>
                        </td>
                    </tr>
			    </table>
		    </div>
        </div>

        <div class="portlet box blue" id="chFilterResultContainer" @*style="display:none"*@>
            <input type="hidden" id="hStartDate" name="hStartDate" />
            <input type="hidden" id="hEndDate" name="hEndDate" />
            <input type="hidden" id="hHistoryType" name="hHistoryType" />
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <h4><span style="font-size:18px;font-weight:bold">Filter Results</span><span style="font-size:18px;font-weight:bold" id="strHistoryType"></span></h4>
            </div>
            <div class="portlet-body" id="chFilterResultBody" style="background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
			    <table class="table table-bordered" id="tblCHFilterResult"></table>
		    </div>
        </div>

    </div>
    //25-Jan-2019 : Moorthy : Added for View Prefix
    <div id="PopupCHViewPrefix" class="popup-message modal hide border-lightblue" style="width: 350px;">
        <div class="modal-header background-lightblue">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Search Prefix</h4>
        </div>
        <div class="modal-body">
            <div class="portlet-body" id="pbCHViewPrefix" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat; margin-top: -50px;">
                <table class="table table-bordered" id="tblCHViewPrefix"></table>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" style="float: right; width: 100px;">Close</button>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}