﻿<div class="row-fluid">
    <div class="span12">
        <div style="margin-bottom: 5px;">
            <table style="width: 100%; background-color: #f5f5f5" class=" table table-bordered" id="tblSearchBy">
                <tbody>
                    <tr>
                        <td>Show By : </td>
                        <td>
                            <select id="selPaymentStatus" style="margin-top: 9px;">
                                <option value="">Payment Status</option>
                            </select>
                        </td>
                        <td>
                            <select id="selTransactionType" style="margin-top: 9px;">
                                <option value="">Transfar Type</option>
                            </select>
                        </td>

                        <td style="text-align: center">
                            <button style="width: 80px; margin-top: 3px;" name="btntransactionSearch" id="btntransactionSearch" class="btn blue">Search</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div class="portlet box blue">
        <div class="portlet-title">
            <h4><span style="font-size: 18px; font-weight: bold">Transaction History</span></h4>
            <div class="tools">
                <a class="collapse" href="#"></a>
            </div>
        </div>
        <div id="tblCustomerInfoHeaderContainer" class="portlet-body">
            <div style="width: 100%; height: 85px; background: rgb(255, 255, 255) url(&quot;/Assets/Main/img/ajaxloader-02.gif&quot;) no-repeat scroll center center; display: none;" id="tblCustomerInfoHeaderLoader">&nbsp;</div>
            <table style="" id="tblTranactionHistory" class=" table table-bordered">
            </table>
        </div>
    </div>
    <div style="margin-bottom: 5px;">
        <table>
            <tr>
                <th>
                    <input type="button" name="btndownloadtransactionreport" id="btndownloadtransactionreport" value="Download Report" class="btn blue" /></th>
            </tr>
        </table>
    </div>
</div>
</div>

