﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{
    <style>
        #phAutoTopupStatus b
        {
            color:black;
        }
    </style>
    <div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
    <div id="TabGeneralLoader" style="width:100%;height:100px;background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div id="phAutoTopupContainer" style="width:100%;margin-top:15px;display:none;">
        <div style="border:1px solid #fafafa;padding:10px 30px;">
            <div style="font-size:16px;"><span style="font-weight:bold">Auto top up status :&emsp;</span><span id="phAutoTopupStatus" style="color:#303030">-</span></div>
            <div id="phAutoTopupCardDetail" style="font-size: 16px; margin-top: 15px;">
             @*  <div style="font-weight:bold">Saved card Details</div>*@
                <div style="margin-top:12px">
                    <span style="font-weight:bold">Card Number :&emsp;</span>
                    <span id="phAutoTopupCardDetailCardNo" style="color:#303030">-</span>
                </div>
                 <div style="margin-top:12px">
                    <span style="font-weight:bold">Most Recent Auto-topup Date :&emsp;</span>
                    <span id="phAutoTopupRecentAutotopupDate" style="color:#303030">-</span>
                </div>
                 <div style="margin-top:12px">
                    <span style="font-weight:bold">Cancelled Date :&emsp;</span>
                    <span id="phAutoTopupCancelDate" style="color:#303030">-</span>
                </div>
                 <div style="margin-top:12px">
                    <span style="font-weight:bold">Cancelled Method :&emsp;</span>
                    <span id="phAutoTopupCancelMethod" style="color:#303030">-</span>
                </div>
            </div>
        </div>
        <div style="margin-top:40px;margin-bottom:10px;text-align:center">
            <button id="btnPHAutoTopupCancel" class="btn blue" style="width:160px;height:40px">Cancel Auto Topup</button>
        </div>
    </div>

    @*<div id="ajax-screen-masking2">
        <div id="phAutoTopupContainer" class="popup-message hide border-lightblue" style="width:500px;height:225px">
            <div class="modal-header background-lightblue" style="font-family:Arial">Canceling Auto Topup</div>
	        <div class="modal-body" style="height:100px">
                Are you sure you want to cancel this auto topup?
                <div style="border:1px solid #c0c0c0;height:50px;background-color:#f5f5f5;padding:10px 15px;margin-top:10px">
                    <table border="0" style="width:100%">
                        <tr>
                            <td style="width:22%;vertical-align:bottom">Card Number</td>
                            <td class="phAutoTopupCardDetailCardNo" style="border-bottom:1px dotted #c0c0c0;width:78%"></td>
                        </tr>
                    </table>
                </div>
	        </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn blue btnPHAutoTopup_YES" type="button" tyle="width:100px;float:right;">Yes</button>
                <button data-dismiss="modal" class="btn darkgrey btnPHAutoTopup_NO" type="button" style="width:100px;float:left;">No</button>
            </div>
        </div>
    </div>*@
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}