﻿@model CRM_API.Models.CustomerDetailPage

@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{ 
    <div id="ajax-screen-masking"><div id="ajax-loader"></div> </div>
    <div id="tblFreeCreditContainer" style="padding:10px;">
        <div id="tblFreeCreditLoader" style="width:100%;height:100px;background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div> 
            <div id="tblFreeCreditContainerBody" style="width: 100%; height: 250px;">
                    <table class="table table-bordered table-hover" id="tblFreeCredit"></table>
            </div>
    </div> 
}
 