﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="TabAutoRenewalLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div id="tblAutoRenewalContainer" style="padding: 5px 10px 10px 10px; width: 900px; display: none;">
        <table>
            <tr>
                <td>
                    <table id="tblAutoRenewalInfo" border="0" cellspacing="3" cellpadding="3" style="width: 320px; float: left; vertical-align: top">
                        <tbody>
                            <tr>
                                <td colspan="2" style="font-weight: bold; font-size: 16px">Auto Renewal Info</td>
                            </tr>
                            <tr>
                                <td style="width: 195px;">MSISDN</td>
                                <td id="tdARIMSISDN" style="width: 225px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Auto Renewal Status</td>
                                <td id="tdARIAutoRenewalStatus" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Enable By</td>
                                <td id="tdARIEnableBy" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Enable Date</td>
                                <td id="tdARIEnableDate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Disable By</td>
                                <td id="tdARIDisableBy" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>Disable Date</td>
                                <td id="tdARIDisableDate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border-bottom: 1px dotted #e5e5e5; color: #505050"><button class="btn blue" id="btnEnableDisable" style="width: 120px; float: right;">Enable\Disable</button></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}