﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    
        <div style="padding: 10px;">
            <div class="portlet box blue" id="chFilterContainer">
                <div class="portlet-title" style="height: 30px; border-bottom: 0">
                    <h4><span style="font-size: 18px; font-weight: bold">Search History</span></h4>
                </div>
                <div class="portlet-body">
                    <table border="0" style="width: 100%">
                        <tr>
                            <td style="vertical-align: top">
                                <div>
                                    <div style="margin-top: 5px; float: left; margin-right: 10px">Search by Status</div>
                                    <div style="float: left">
                                        <select id="selectHistoryStatus" name="selectHistoryStatus" style="width: 180px">
                                            <option value="" style="padding: 3px 5px">All</option>
                                            <option value="1" style="padding: 3px 5px">Successful</option>
                                            <option value="2" style="padding: 3px 5px">Failed</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td style="vertical-align: top">
                                <div>
                                    <div style="margin-top: 5px; float: left; margin-right: 10px">Search by Payment Method</div>
                                    <div style="float: left">
                                        <select id="selectHistoryPaymentMethod" name="selectHistoryPaymentMethod" style="width: 180px">
                                            <option value="" style="padding: 3px 5px">All</option>
                                            <option value="1" style="padding: 3px 5px">Voucher</option>
                                            <option value="2" style="padding: 3px 5px">Credit Card</option>
                                            @*<option value="3" style="padding:3px 5px">Operator</option>
                                        <option value="4" style="padding:3px 5px">Master Balance</option>*@
                                            <option value="5" style="padding: 3px 5px">Credit Transfer</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td style="vertical-align: top">
                                <div>
                                    <div style="margin-top: 5px; float: left; margin-right: 10px">Search by Payment Type</div>
                                    <div style="float: left">
                                        <select id="selectHistoryPaymentType" name="selectHistoryPaymentType" style="width: 180px">
                                            <option value="" style="padding: 3px 5px">All</option>
                                            <option value="top" style="padding: 3px 5px">Top-Up</option>
                                            <option value="aut" style="padding: 3px 5px">Auto Top-up</option>
                                            <option value="bun" style="padding: 3px 5px">Bundle Subscription</option>
                                            <option value="pur" style="padding: 3px 5px">Purchase</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                      @*  <td style="vertical-align: top">
                            <button class="btn blue" id="btnSearchPaymentHistoryPAYG" style="width: 100px; margin-top: 2px">Search</button>
                        </td>*@
                        <td>&nbsp;</td>
                    </tr>



                     <tr>
                        <td style="vertical-align: top">
                            <div>
                                <div style="margin-top: 5px; float: left; margin-right: 50px">Start Date</div>
                               <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
					            <input class="span8" id="startdate" maxlength="10"  name="startdate" type="text" value="">
					            <input type="hidden" id="lastdate1" value="">
					            <span class="add-on"><i class="icon-calendar"></i></span>
					        </div>
                            </div>
                        </td>
                        <td style="vertical-align: top">
                            <div>
                                <div style="margin-top: 5px; float: left; margin-right: 115px">End Date</div>
                                 <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
					            <input class="span8" id="enddate" maxlength="10" name="enddate" type="text" value="">
                                <input type="hidden" id="lastdate2" value="">
					            <span class="add-on"><i class="icon-calendar"></i></span>
					        </div>
                            </div>
                        </td>
                            <td style="vertical-align: top">
                            <button class="btn blue" id="btnSearchPaymentHistoryPAYG" style="width: 100px; margin-top: 2px;margin-left:160px">Search</button>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="portlet box blue" id="phpaygFilterResultContainer" style="display: none">
                <div class="portlet-title" style="height: 30px; border-bottom: 0">
                    <h4><span style="font-size: 18px; font-weight: bold">Filter Results of Payment History PAYG</span></h4>
                </div>
                <div class="portlet-body" id="phpaygFilterResultBody" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat; overflow: hidden; overflow-y: hidden">
                    <table class="table table-bordered" id="tblPHPAYGFilterResult"></table>
                </div>
            </div>

        </div>
        <div id="PHPAYGMoreInfo" class="popup-message modal hide border-lightblue" style="width: 680px; height: 300px">
            <div class="modal-header background-lightblue" style="font-family: Arial"><span id="PHPAYGMoreInfoTitle"></span></div>
            <div class="modal-body" style="height: 175px">
                <table class="table table-bordered" style="width: 100%">
                    <thead>
                        <tr>
                            <th style="font-size: 12px">Payment Date</th>
                            <th style="font-size: 12px">Payment Type</th>
                            <th style="font-size: 12px">Payment Method</th>
                            <th style="font-size: 12px">Transaction ID</th>
                            <th style="font-size: 12px">Payment Amount</th>
                            <th style="font-size: 12px">Status</th>
                            <th style="font-size: 12px">CRM User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="font-size: 11px">
                            <td id="PHPAYGMoreInfo_PaymentDate"></td>
                            <td id="PHPAYGMoreInfo_PaymentType"></td>
                            <td id="PHPAYGMoreInfo_PaymentMethod"></td>
                            <td id="PHPAYGMoreInfo_TransactionID"></td>
                            <td id="PHPAYGMoreInfo_PaymentAmount"></td>
                            <td id="PHPAYGMoreInfo_Status"></td>
                            <td id="PHPAYGMoreInfo_CRMUser"></td>
                        </tr>
                    </tbody>
                </table>
                <table id="CreditTransferInfo" style="width: 100%; margin-top: 15px; display: none">
                    <tr style="height: 30px">
                        <td style="font-weight: bold; width: 100px; vertical-align: bottom">Mobile Number</td>
                        <td id="PHPAYGMoreInfo_MobileNo" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                        <td style="width: 25px">&nbsp;</td>
                        <td style="font-weight: bold; width: 100px; vertical-align: bottom">Vendor</td>
                        <td id="PHPAYGMoreInfo_Operator" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                    </tr>
                    <tr style="height: 30px">
                        <td style="font-weight: bold; vertical-align: bottom">Country</td>
                        <td id="PHPAYGMoreInfo_Country" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                        <td>&nbsp;</td>
                        <td style="font-weight: bold; vertical-align: bottom">Date and Time</td>
                        <td id="PHPAYGMoreInfo_Date" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn blue" type="button" id="btnPHPAYGMoreInfoOK" style="float: right; width: 100px;">OK</button>
            </div>
        </div>
    
    <!--481-->
    <div id="SucessMsg" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
            Accept Transaction - Provide Reason
            <input type="hidden" id="MerchID" />
            <input type="hidden" id="StatusCode" />
        </div>
        <div class="modal-body">
            please provide reason for accepting the transaction           
            <select id="ddlaccept">
                <option value="Valid Customer">Valid Customer</option>
                <option value="Incorrect Decision Manager Reject">Incorrect Decision Manager Reject</option>               
                <option value="Others">Others</option>
            </select>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnSubmit" style="width: 100px;">Submit</button>
            <button data-dismiss="modal" class="btn" type="button" id="btnCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
    
    <div id="SuccessfulConformMsg" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
          Result Information
        </div>
        <div class="modal-body">
           Reversal processed sucessfully, click ok countine to revoke balanace from customer mobile account
            <div id="divsuccessResult"></div>
             
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal"  class="btn blue" type="button" id="btnOkk" style="width: 100px;">OK</button>       
            <button data-dismiss="modal" class="btn" type="button" id="btnLastCancell" style="width: 100px;">Cancel</button>     
        </div>
    </div>
    
    <!--100-->
    <div id="failedMsg" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
           Reverse Transaction - Select Reason
        </div>
        <div id="filesName" class="modal-body">
           Please select reason for reversing the transaction
            <select id="ddlRejection">
                <option value="Fraud Transaction">Fraud Transaction</option>
                <option value="Multiple Deductions">Multiple Deductions</option>
                <option value="Suspect">Suspect</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <div class="modal-footer">
            <button class="btn blue" type="button" id="btnConform" data-dismiss="modal" style="width: 100px;">Confirm</button>
            <button data-dismiss="modal" class="btn" type="button" id="btnconformCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
    
    
    
    <div id="failedConformMsg" class="popup-message modal hide border-blue" style="width: 200px;">
        <div class="modal-header background-blue">
          Result Information
        </div>
        <div class="modal-body">
          
            <div id="divResult"></div>
             
        </div>
        <div class="modal-footer">
            <button class="btn blue" type="button" id="btnOk" data-dismiss="modal"  style="width: 100px;" onclick="RefreshFunction();">OK</button>       
            <button data-dismiss="modal" class="btn" type="button" id="btnLastCancel" style="width: 100px;">Cancel</button>     
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}