﻿@model CRM_API.Models.CustomerDetailPage

@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
    
    <div id="TwoInOneDataListContainer" style="padding:5px">
        <input type="hidden" id="tab2in1Mode" name="tab2in1Mode" value="" />
        <input type="hidden" id="OrderID" name="OrderID" value="" />
        @if (Model.Customer != null) {
            if (Model.Detail2in1 != null) {
                if (Model.Customer.mimsi_compatible == CRM_API.Models.CustomerSearchResult.IsMimsiCompatible)
                {
                    <div style="width:100%;height:30px"><b>SIM Version</b>: Compatible</div>
                }
                else {
                    <div style="width:100%;height:30px"><b>SIM Version</b>: Not Compatible</div>
                }
            }
        }else {
            <div style="width:100%;height:30px">No data available in table</div>
        }

        <div id="TwoInOneBtnAddCountryContainer"></div>
        <div id="TwoInOneTbl2in1ListContainer" style="min-height:100px;margin:15px 0 20px 0;background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;"></div>

        @if (Model.Customer.mimsi_compatible == CRM_API.Models.CustomerSearchResult.IsMimsiCompatible)
        {
	        <!-- MODAL FORM -->
	        <div id="portlet-config2" class="popup-message modal hide border-lightblue"  style="width:500px">
                <input type="hidden" id="imscountry" value="" />
		        <div class="modal-header background-lightblue">Activation - Compatible SIM</div>
		        <div class="modal-body">
                    <div class="alert alert-error"><p class="confirm">Attention!!!<br />The activation process may take up to 5 minutes. Do not close the window during the process.</p></div>
			        <p class="confirm">A sms text message will be sent to Customer's mobile. Please request them to follow the instruction in the SMS and restart the mobile.</p>
		        </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn" type="button" id="ModalCancelBtn">Cancel</button>
			        <button class="btn blue" type="button" id="ModalActivateBtn" data-ref="activate">Activate</button>
                </div>
	        </div>
	        <!-- END OF MODAL FORM -->
        }
        else {
            <!-- MODAL FORM -->
	        <div id="portlet-config2" class="popup-message modal hide border-lightblue" style="width:500px">
                <div class="modal-header background-lightblue">Activation - Non Compatible SIM</div>
		        <div class="modal-body">
			        <p class="confirm">Enter the new SIM's ICCID that was sent to customer.</p><br />
			        <p class="confirm">Customer's existing mobile number will be activated on the new SIM.</p><br />
                    <p class="confirm">New ICCID Number : <span id="prefix_89" style="font-size:14px;color:#505050;border:1px solid #c0c0c0;background-color:#eeeeee;margin-right:1px;padding:5px 2px;">89</span><input type="text" id="NewICCIDNo" style="margin-top:5px"/></p>
		        </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn" type="button" id="ModalCancelBtn">Cancel</button>
			        <button data-dismiss="modal" class="btn blue" type="button" id="ModalActivateBtn" data-ref="swap">Swap</button>
                </div>
	        </div>
    
	        <!-- END OF MODAL FORM -->
        }
    
        @*  CANCEL SUBSCRIPTION *@
        <div id="tab2in1CancelSubscription" class="popup-message modal hide border-lightblue" style="width:400px">
            <div class="modal-header background-lightblue" style="font-family:Arial">Cancel Subscription</div>
	        <div class="modal-body">
		        <p class="confirm">Are you sure you want to cancel the subscription?</p>
	        </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn" type="button" id="btnNoCancel" style="width:100px;">No</button>
		        <button data-dismiss="modal" class="btn blue" type="button" id="btnDoCancel" style="width:100px;">Yes</button>
            </div>
        </div>

        @*  CHANGE PAYMENT METHOD *@
        <div id="tab2in1CPM" class="popup-message modal hide border-lightblue" style="width:470px">
            <div class="modal-header background-lightblue" style="font-family:Arial">Change Payment Method</div>
	        <div class="modal-body">
                <input type="hidden" id="CPMIMSICountry" name="CPMIMSICountry" />
                You are about to change your payment method for 2 in 1: <span id="cpmProductName"></span>.
	        </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn" type="button" id="cpmBtnCancel">Cancel</button>
		        <button data-dismiss="modal" class="btn blue" type="button" id="cpmPayByCard">By Card</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="cpmPayByCredit">By Credit</button>
            </div>
        </div>

        @* REACTIVATION - CONFIRM ORDER *@
        <div id="tab2in1Reactivate" class="popup-message modal hide border-lightblue" style="width:420px">
            <div class="modal-header background-lightblue" style="font-family:Arial">Reactivation - Confirm Order</div>
	        <div class="modal-body">
                <input type="hidden" id="ReactivateIMSICountry" name="ReactivateIMSICountry" />
                You requested to <b>reactivate</b> 2 in 1: <span id="ReactivateProductName"></span>.
	        </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn" type="button" id="reactivateBtnCancel">Cancel</button>
		        <button data-dismiss="modal" class="btn blue" type="button" id="reactivatePayByCard">By Card</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="reactivatePayByCredit">By Credit</button>
            </div>
        </div>
    </div>
    
    @Html.Partial("~/Views/Customer/_Tab2in1AddCountry.cshtml")
    //@Html.Partial("~/Views/Customer/_PaymentMethod.cshtml")
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}