﻿<div class="row-fluid">
    <div class="span12">
        <div style="margin-bottom: 5px;">
            <table style="width: 100%; background-color: #f5f5f5" class=" table table-bordered" id="tblSearchBy">
                <tbody>
                    <tr>
                        <td>Show By : </td>
                        <td>
                            <select id="selRefstatus" style="margin-top: 9px;">
                            <option value="">Referral Status</option>
                        </select>
                        </td>
                        <td>
                            <select id="selSimstatus" style="margin-top: 9px;">
                            <option value="">SIM Status</option>
                        </select>
                        </td>
                        <td>
                           <select id="selRechargemode" style="margin-top: 9px;">
                            <option value="">Recharge Mode</option>
                        </select>
                        </td>
                        <td style="text-align: center">
                            <button style="width: 80px;margin-top: 3px;" name="btnreferralSearch" id="btnreferralSearch"  class="btn blue" id="btnSearch">Search</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4><span style="font-size: 18px; font-weight: bold">Referral History</span></h4>
                <div class="tools">
                    <a class="collapse" href="#"></a>
                </div>
            </div>
            <div id="tblCustomerInfoHeaderContainer" class="portlet-body">
                <div style="width: 100%; height: 85px; background: rgb(255, 255, 255) url(&quot;/Assets/Main/img/ajaxloader-02.gif&quot;) no-repeat scroll center center; display: none;" id="tblCustomerInfoHeaderLoader">&nbsp;</div>
                <table style="" id="tblReferralHistory" class=" table table-bordered">
                </table>
            </div>
        </div>
        <div style="margin-bottom: 5px;">
            <table>
                <tr>
                    <th>
                        <input type="button" name="btndownloadreferralreport" id="btndownloadreferralreport" value="Download Report" class="btn blue" /></th>
                </tr>
            </table>
        </div>
    </div>
</div>

