﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Customer Detail";
}


@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <div style="width:180px;float:left;margin-top:5px">
                    <h4><div style="font-size:18px;font-weight:bold">Details</div></h4>
                </div>
                <div style="float:left;margin-top:4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/Customer/_DetailHeaderButton.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div id="TabOverviewLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div id="tblCustomerOverviewContainer" style="display: none">
        <div style="border: 1px solid #fafafa; padding: 10px; width: 750px; margin-bottom: 20px">
            <table id="tblCustomerOverview" border="0" cellspacing="3" cellpadding="3">
                <tbody>
                    <tr>
                        <td style="width: 220px;">Last location update</td>
                        <td id="tdCOLastlocationupdate" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last GPRS location update</td>
                        <td id="tdCOLastGPRSlocationupdate" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last time location update sent</td>
                        <td id="tdCOLasttimelocationupdatesent" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last call</td>
                        <td id="tdCOLastcall" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last SMS</td>
                        <td id="tdCOLastSMS" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last browsing</td>
                        <td id="tdCOLastbrowsing" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last Top-up</td>
                        <td id="tdCOLastTopup" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Current Balance</td>
                        <td id="tdCOCurrentBalance" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Bonus Balance</td>
                        <td id="tdCOBonusBalance" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Current Bundles</td>
                        <td id="tdCOCurrentBundles" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Bundle Allowance</td>
                        <td id="tdCOBundleAllowance" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Bundle Usage</td>
                        <td id="tdCOBundleUsage" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Roaming</td>
                        <td id="tdCOHomeRoaming" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr class="trRoaming">
                        <td>Roaming country</td>
                        <td id="tdCORoamingcountry" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr class="trRoaming">
                        <td>Roaming Outgoing calls</td>
                        <td id="tdCOOutgoingcalls" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr class="trRoaming">
                        <td>Roaming Outgoing SMS</td>
                        <td id="tdCOOutgoingSMS" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr class="trRoaming">
                        <td>Roaming Data browsing</td>
                        <td id="tdCODatabrowsing" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                     <tr class="trreseller_name">
                        <td>Reseller Name</td>
                        <td id="tdCOreseller_name" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr class="trportin_date">
                        <td>Portin Date</td>
                        <td id="tdCOportin_date" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr class="trportin_operator">
                        <td>Portin Operator</td>
                        <td id="tdCOportin_operator" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
                                 </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.customeroverview.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(2);

            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            //Highlight Tab
            $("ul.ultab li").removeClass("active");
            $("div.tab-content div").removeClass("active");
            $("li#litab0").addClass("active");
            $("#tab_1_0").addClass("active");
            $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
            $("a#detailOverview").removeClass("lightblue").addClass("white");

            ActionDetailHeaderButtons(8, $.trim('@ViewBag._mobileno'), sim);

            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

            $("#ajax-screen-masking2").css({ "width": $(document).outerWidth() + "px", "height": $(document).outerHeight() + "px" });

            GetOverview($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));

        });
    </script>
}