﻿@model CRM_API.Models.CustomerDetailPage

@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{ 
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div class="portlet box blue" id="chFilterContainer">
        <div class="portlet-title" style="height: 30px; border-bottom: 0">
            <h4><span style="font-size: 18px; font-weight: bold">Search</span></h4>
        </div>
        <div class="portlet-body">
            <table border="0" style="width: 100%">
                <tr>
                    <td rowspan="2" style="width: 295px; vertical-align: top">
                        <div>
                            <div style="margin-top: 5px; float: left; margin-right: 10px">Select Category</div>
                            <div style="float: left">
                                <select id="ddlCategory" name="ddlCategory" style="width: 180px">
                                </select>
                            </div>
                        </div>
                    </td>
                    <td rowspan="2">
                        <button class="btn blue" id="btnSearch">Search</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="portlet box blue" id="tblFreeDataBundleContainer" style="padding: 10px;">
        <div class="portlet-title" style="height: 30px; border-bottom: 0">
            <h4><span style="font-size: 18px; font-weight: bold">Results</span></h4>
        </div>
        <div class="portlet-body" id="tblFreeDataBundleContainerBody">
            <table class="table table-bordered" id="tblFreeDataBundle"></table>
        </div>
    </div> 
}
