﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking"><div id="ajax-loader"></div></div>

    <div id="CSBMainWrapper" style="background:url('/img/loader.gif') center center no-repeat;min-height:50px">
        <input type="hidden" id="tabCSBMode" name="tabCSBMode" value="" />
        <input type="hidden" id="DestNo" name="DestNo" value="" />
        <input type="hidden" id="OrderID" name="OrderID" value="" />
        @Html.Partial("~/Views/Customer/_PaymentMethod.cshtml")
    </div>

    <div id="LastCardUsedDataWrapper">
        <table id="LastCardUsedData" style="display:none"></table>
    </div>

    <!-- MODAL FORM -->
    <div id="CSBWindowHistory" class="popup-message modal hide border-lightblue">
	    <div class="modal-header background-lightblue" style="font-family:Arial">View History</div>
	    <div class="modal-body">
            <div id="phoneData">
		        <div id="pdMobileNo">
                    <div class="pdTitle">Mobile No :</div>
                    <div class="pdData" id="mobileno_data" style="">@Model.Customer.MobileNo</div>
		        </div>
                <div id="pdDestNo">
                    <div class="pdTitle" style="width:155px;">Destination Number:</div>
                    <div class="pdData" id="destno_data" style="margin-right:10px;"></div>
		        </div>
            </div>
            <div id="tblCSBViewHistoryCont" style="background:url('/img/loader.gif') center center no-repeat">
                <table class="table table-bordered table-hover" id="tblCSBViewHistory"></table>
            </div>
            @*<div id="connectionNote">
                <textarea id="newNote" name="newNote" spellcheck="false" placeholder="Please add new note here..."></textarea>
                <button class="pull-right btn btn-primary" type="button" id="addNote">Add Note</button>
            </div>*@
	    </div>
        <div class="modal-footer" style="height:30px">
            <button data-dismiss="modal" class="pull-right btn darkgrey" type="button" id="close">Close</button>
        </div>
    </div>

    <div id="CSBCancelBundle" class="popup-message modal hide border-lightblue" style="width:400px">
        <div class="modal-header background-lightblue" style="font-family:Arial">Cancel Bundle</div>
	    <div class="modal-body">
            Are you sure you want to cancel <span class="bundleCountry"></span>&nbsp;bundle?
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnCSBNoCancel" style="width:100px;">No</button>
		    <button data-dismiss="modal" class="btn blue" type="button" id="btnCSBDoCancel" style="width:100px;">Yes</button>
        </div>
    </div>

    <div id="CSBCPMBundle" class="popup-message modal hide border-lightblue" style="width:400px;height:250px">
        <div class="modal-header background-lightblue" style="font-family:Arial">Change Payment Method</div>
	    <div class="modal-body" style="height:120px;font-size:14px">
            <div style="margin-bottom:10px">Current Payment Method is Pay with <span class="currentPaymentMethod"></span>.</div>
            <div id="CSBCPMCardDetail" style="border:1px solid #e5e5e5;padding:5px 10px; font-size:12px;height:80px;color:#505050;background-color:#f5f5f5">
                <div style="border-bottom:1px dotted #c0c0c0;font-weight:bold">Registered Card details are:</div>
                <div style="margin-top:10px;float:left;width:100%">
                    <div style="width:140px;float:left">Card Number</div>
                    <div style="float:left" id="CSBCPMCCNoStr">-</div>
                </div>
                <div style="float:left;margin-top:5px;width:100%">
                    <div style="width:140px;float:left">Verification Code</div>
                    <div style="float:left">***</div>
                </div>
                <input type="hidden" id="CSBCPMCCNo" name="CSBCPMCCNo" value="">
                <input type="hidden" id="CSBCPMSubsID" name="CSBCPMSubsID" value="">
            </div>
	    </div>
        <div class="modal-footer" style="text-align:center">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnCSBCPMCancel" style="width:130px;">Cancel</button>
		    <button data-dismiss="modal" class="btn blue" type="button" id="btnCPMPayWithCard" style="width:200px;display:none">Switch to Pay with Card</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCPMPayWithCredit" style="width:230px;display:none">Switch to Pay with Balance</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnCPMChangeCard" style="width:130px;display:none">Change Card</button>
        </div>
    </div>

    <div id="CSBReactivateBundle" class="popup-message modal hide border-lightblue" style="width:510px;height:350px">
        <div class="modal-header background-lightblue" style="font-family:Arial">Reactivate Bundle</div>
	    <div class="modal-body" style="height:270px;">
            <div id="lastPaymentMethod" style="margin-bottom:10px;">Your Last Payment Method is Pay with <span class="spanLastPaymentMethod"></span>.</div>
            <div id="CSBReactivateCardDetail" style="border:1px solid #e5e5e5;padding:5px 10px; font-size:12px;height:80px;color:#505050;background-color:#f5f5f5">
                <div style="border-bottom:1px dotted #c0c0c0;font-weight:bold">Your Registered Card details are:</div>
                <div style="margin-top:10px;float:left;width:100%">
                    <div style="width:140px;float:left">Card Number</div>
                    <div style="float:left" id="CSBReactivateCCNoStr">-</div>
                </div>
                <div style="float:left;margin-top:5px;width:100%">
                    <div style="width:140px;float:left">Verification Code</div>
                    <div style="float:left">***</div>
                </div>
                <input type="hidden" id="CSBReactivateCCNo" name="CSBReactivateCCNo" value="">
                <input type="hidden" id="CSBReactivateSubsID" name="CSBReactivateSubsID" value="">
            </div>
            <div id="wrapperBtnCSBReactivateNow" style="width:100%;float:left;margin-top:10px">
                <button style="float:right" data-dismiss="modal" class="btn blue" type="button" id="btnCSBReactivateNow">Reactivate Now</button>
            </div>
            <div id="CSBReactivateWantToChange" style="width:100%;float:left;margin-top:30px">
                Want to Change Payment Method?
            </div>
            <div id="btnCSBReactivateWrapper" style="width:100%;float:left;margin-top:10px;">
                <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnCSBReactivateCancel" style="width:130px;">Cancel</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnCSBReactivatePayWithCredit" style="width:200px;">Switch to Pay with Balance</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnCSBReactivateBundleByCard" style="width:130px;">Change Card</button>
            </div>
	    </div>
    </div>

    <div id="ajax-screen-masking2">
        <div id="CSBReactivateNowBalance" class="popup-message border-lightblue" style="width:400px;z-index:2020;display:none;background-color:#ffffff">
            <div class="modal-header background-lightblue" style="font-family:Arial">Reactivate Bundle</div>
	        <div class="modal-body">
                Are you sure you want to Reactivate the bundle using PAYG Balance?
	        </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnCSBReactivateNowBalanceNo" style="width:100px;">No</button>
		        <button data-dismiss="modal" class="btn blue" type="button" id="btnCSBReactivateNowBalanceYes" style="width:100px;">Yes</button>
            </div>
        </div>

        <div id="CSBReactivateNowCard" class="popup-message border-lightblue" style="width:400px;z-index:2020;display:none;background-color:#ffffff">
            <div class="modal-header background-lightblue" style="font-family:Arial">Reactivate Bundle</div>
	        <div class="modal-body" style="height:80px;background:#ffffff center center no-repeat;">
                <div id="CSBReactivateNowCardDialog">
                    <label>Please enter the Verification Code of the Card</label>
                    <input type="text" id="CSBReactivateNowCardInputCCVCode" name="CSBReactivateNowCardInputCCVCode" style="width:350px;margin-bottom:5px;"/>
                    <div id="errReactivateNowCard" style="width:355px;color:#c84c4c;font-size:12px;height:18px;padding:5px;background-color:#f2dede;text-align:center;display:none;">Wrong Verification Code !</div>
                </div>
                <input type="hidden" id="CSBReactivateNowCardCCNo" name="CSBReactivateNowCardCCNo" value="">
                <input type="hidden" id="CSBReactivateNowCardSubsID" name="CSBReactivateNowCardSubsID" value="">
	        </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnCSBReactivateNowCardCancel" style="width:100px;">Cancel</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnCSBReactivateNowCardProceed" style="width:100px;">Proceed</button>
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
    <!-- END OF MODAL FORM -->
}