﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <style type="text/css">
        .btncenter {
            text-align: center;
        }

        .errLabel {
            display: none;
            color: red;
            font-size: 12px;
            height: 18px;
            padding: 5px;
            background-color: #f2dede;
            width: 405px !important;
        }

        .spanstar {
            color: red;
            font-size: 12px;
            height: 18px;
            padding: 5px;
        }
    </style>
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
   
    <div id="CountrySaverAdditionalCLIContainer">
        <div id="TabProductCountrySaverADDCLILoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
        <input type="hidden" id="accessedPage" name="accessedPage" />               	
        @*require to generate table dynamically using javascript*@                   
        @*<table class="table table-bordered table-hover" id="tblAdditionalCLI"></table> 
        <input type="button" id="BtnAddCLI" value="Add" style="float: right" />*@ 
    </div>

    <div id="modalADDCLIAdd" class="popup-message modal hide border-lightblue" style="width: 550px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Add New CLI</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td style="width: 80px; font-weight: bold">CLI Type</td>
                            <td style="text-align:left"><span class="spanstar">*</span></td>
                            <td>
                                <input type="radio" id="byMobile" name="CLIType" value="1" style="margin: 15px" />Mobile</td>
                            <td>
                                <input type="radio" id="byLandLine" name="CLIType" value="2" style="margin: 15px" />LandLine</td>
                        </tr>
                        <tr>
                            <td></td><td></td><td colspan="2"><label class="errLabel">* Please select an option</label></td>
                        </tr>
                        <tr>
                            <td style="width: 80px; font-weight: bold">CLI Number</td>
                            <td style="text-align:left"><span class="spanstar">*</span></td>
                            <td>
                                <input type="text" id="txtCLINumber" /></td>
                            <td>
                                <label style="text-decoration: underline; font-style: italic;">Example:4475xxxxxxxxxx</label></td>
                        </tr>
                        <tr>
                            <td></td><td></td><td colspan="2"><label class="errLabel">* Please enter a valid number!!</label></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer btncenter">
                    <button class="btn blue" type="button" id="btnADDCLIAdd" style="width: 100px;">Add</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnADDCLIClose" style="width: 100px;">Close</button>
                    <input type="hidden" id="hdnCLI" />
                    <input type="hidden" id="hdnAccountID" />
                    <input type="hidden" id="hdnDestinationCLI" />
                </div>

            </div>        
    </div>
    <div id="modDeleteCLIMessage" class="popup-message modal hide border-lightblue" style="width:500px;height:225px">
        <div class="modal-header background-lightblue" style="font-family:Arial"><span class="DeleteCLIStr1"></span> Additional CLI</div>
	    <div class="modal-body" style="height:100px">
            Are you sure you want to <span class="DeleteCLIStr2" style="font-weight:bold">remove</span>&nbsp; the below CLI?
            <div style="border:1px solid #c0c0c0;height:50px;background-color:#f5f5f5;padding:10px 15px;margin-top:10px">
                <table border="0" style="width:100%">
                    <tr>
                        <td style="width:22%;vertical-align:bottom">Mundio CLI</td>
                        <td id="DeleteCLIStr3" style="border-bottom:1px dotted #c0c0c0;width:78%"></td>
                    </tr>
                    @*<tr>
                        <td style="vertical-align:bottom">Bundle Name</td>
                        <td id="ProductBundlesStr4" style="border-bottom:1px dotted #c0c0c0"></td>
                    </tr>*@
                </table>
            </div>
            <input type="hidden" id="hdnDeleteMainCLI" name="hdnDeleteMainCLI" />
            <input type="hidden" id="hdnDeleteAccountID" name="hdnDeleteAccountID"/>
            <input type="hidden" id="hdnDeleteDestinationCLI" name="hdnDeleteDestinationCLI"/>
            <input type="hidden" id="btnIndex" name="btnIndex" />
	    </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnDeleteCLICancel" style="float:left;width:100px;">Cancel</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnDeleteCLIConfirm" style="float:right;width:100px;">OK</button>
		    @*<button data-dismiss="modal" class="btn blue" type="button" id="btnProductBundlesSubscribe" style="float:right;width:100px;">Subscribe</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnProductBundlesUnsubscribe" style="float:right;width:100px;">Unsubscribe</button>*@
        </div>
    </div>
    @*
    <div class="modal fade" id="modalmsgNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" id="myModalLabel">Add New Note</h3>
                </div>
                <!-- style="height:400px;overflow:auto;overflow-y:auto;" -->

                <div class="modal-body">
                    <label id="lblhead">Note Inserted Successfully</label>

                </div>
                <div class="modal-footer">
                    <button type="button" tabindex="8" class="btn btn-default" data-dismiss="modal">View</button>
                    <button type="reset" tabindex="8" class="btn btn-default" data-dismiss="modal"> Close</button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>*@
    <!--Result Info-->
    <div id="ResultInfo" class="popup-message modal hide border-blue" style="width: 400px;">
        <div class="modal-header background-blue">
            Result Information
        </div>
        <div style="height: 65px; padding: 10px">Request Processed Sucessfully.</div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn" id="btnAdditionalCLIOK" style="width: 100px; float: left;">Ok</button>
        </div>
    </div>
    <!--No Data-->
    <div id="NoData" class="popup-message modal hide border-blue" style="width: 400px;">
        <div class="modal-header background-blue">
            General Error
        </div>
        <div id="ErrMsg" style="height: 65px; padding: 10px"></div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" id="btnAdditionalCLIErrorOK" style="width: 100px; float: left;">Ok</button>
        </div>
    </div>
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}