﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height:40px;font-size:14px;margin-top:15px;color:#555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking" style="height:830px"><div id="ajax-loader"></div></div>
    <div id="tblInternetProfileContainer" style="padding:10px;">
         <div class="portlet box blue" id="chFilterContainer">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <h4><span style="font-size:18px;font-weight:bold">Create Dialling Number</span></h4>
            </div>
            <div class="portlet-body">
			    <table border="0" style="width:100%">                    
                    <tr>
                        <td style="width:70px;vertical-align:top">
                            <div style="margin-right:150px;margin-top:3px;text-align:right">Country</div>
                        </td>
                        <td style="width:170px;">                         
                            <select id="CountryList" name="CountryList"></select>
                        </td>   
                        <td style="width:170px;">   
                             <label class="errLabel" id="lblValCountry" style="display: none; color:red;">* Please select country</label>                      
                        </td>   
                    </tr>                   
                    <tr>
                        <td style="width:70px;vertical-align:top">
                            <div style="margin-right:150px;margin-top:3px;text-align:right">Number</div>
                        </td>
                         <td style="width:170px;">                         
                            <input id="PerfiexNumber" type="text" style="width:30px;font-size:13px;margin-left:-47px" name="PerfiexNumber" disabled="disabled" maxlength="15">
                        </td> 
                         <td style="width:170px;">                         
                            <input id="TxtDaillingnumber" type="text" style="width:205px;font-size:13px;margin-left:-222px" name="TxtDaillingnumber">
                              
                        </td> 
                         <td style="width:170px;">   
                               <label class="errLabel" id="lblValMobile" style="display: none; color:red;margin-left:-170px">* Please Enter Number</label>                   
                        </td>  
                        <td style="vertical-align:top;">
                            <button class="btn blue" id="btnCreateDaillingnumber" style="width:175px;margin-left:-70px">Create Dialling Number</button>
                         </td>
                    </tr>  
                    <tr>
                         <td style="width:170px;">   
                             <label class="errLabel" id="lblerrMessage"  style="display: none; color:red;margin-right:-157px">Sorry you can't add Happy bundle dialling number</label>                      
                        </td>  
                    </tr>                  
			    </table>
		    </div>
        </div>
        <div class="portlet box blue" id="pbInternetProfile">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <h4><span style="font-size:18px;font-weight:bold">Dialling Number List</span></h4>
            </div>
            <div class="portlet-body" id="pbBundleDaillingNumberListBody" style="background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
			    <table class="table table-bordered" id="tblBundleDaillingNumber"></table>
		    </div>
        </div>

    </div>
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}