﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div class="portlet-body">
        <div class="row-fluid">
            <div class="span12">
                <!--BEGIN TABS-->
                <div class="tabbable tabbable-custom">
                    <!-- Header Tabs -->
                    <ul class="ultab nav nav-tabs">
                        <li id="litab5_1"><a id="aTabBasicSubscriptionDetails" href="javascript:void(0)">Basic Subscription Details</a></li>
                        <li id="litab5_2"><a id="aTabAdditionalCLIDetails" href="javascript:void(0)">Additional CLI Details</a></li>
                        <li id="litab5_4"><a id="aTabDestinationCLIdetails" href="javascript:void(0)">Destination CLI Details</a></li>
                    </ul>
                    <!-- End Header Tabs -->
                    @*<div class="tab-content">
                                    <div class="tab-pane" id="tab_1_0">
                                        @if (Model.ActiveTab == "TabBasicSubscriptionDetails" || Model.ActiveTab == "TabCountrySaver")
                                        {
                                            @Html.Partial("~/Views/Customer/_TabBasicSubscriptionDetails.cshtml");
                                        }
                                    </div>
                                    <div class="tab-pane" id="tab_1_1">
                                        @if (Model.ActiveTab == "TabAdditionalCLIDetails")
                                        {
                                            @Html.Partial("~/Views/Customer/_TabAdditionalCLIDetails.cshtml");
                                        }
                                    </div>
                                </div>*@
                </div>
            </div>
        </div>
    </div>
           
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}
