﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Customer Detail";
}


@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <div style="width:180px;float:left;margin-top:5px">
                    <h4><div style="font-size:18px;font-weight:bold">Details</div></h4>
                </div>
                <div style="float:left;margin-top:4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/Customer/_DetailHeaderButton.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div id="TabVectoneXtraAppLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div id="tblVectoneXtraAppContainer" style="display: none">
        <div style="border: 1px solid #fafafa; padding: 10px; width: 750px; margin-bottom: 20px">
            <table id="tblVectoneXtraApp" border="0" cellspacing="3" cellpadding="3">
                <tbody>
                    <tr>
                        <td>Signup Device</td>
                        <td id="tdVXAcreate_by" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 220px;">Signup Date</td>
                        <td id="tdVXAsignup_date" style="width: 610px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Customer Type</td>
                        <td id="tdVXAnumber_type" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Last Login Date</td>
                        <td id="tdVXAlast_login_date" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Purchased Mobile No</td>
                        <td id="tdVXApurchased_vno" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Purchased Landline No</td>
                        <td id="tdVXApurchased_did" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Free Mobile No</td>
                        <td id="tdVXAfree_virtual_no" style="border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
                                 </div>
                        <!--END TABS-->
                    </div>
                </div>
                
            <!-- CRM Enhancement 2 -->
         <div class="portlet box blue">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <div style="width:180px;float:left;margin-top:5px">
                    <h4><div style="font-size:18px;font-weight:bold">Call History</div></h4>
                </div>
            </div>
         <div>
             <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        Start Date  :   
        <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy" style="line-height: 40px;">
            <input class="span8" id="startdate" size="23" type="text" maxlength="10">
            <input type="hidden" id="lastdate1">
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        End Date  :   
         <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy" style="line-height: 40px;">
             <input class="span8" id="enddate" size="23" type="text">
             <input type="hidden" id="lastdate2">
             <span class="add-on"><i class="icon-calendar"></i></span>
         </div>
        <button id="btnVXACHSSearch" class="btn blue btn-add-profiles">Search</button>
         <div id="tblVXACHSContainer" style="min-height: 100px; background-repeat: no-repeat; background-image: none;">
    </div>
    </div>
   
    </div>
         </div>
        </div>
                        </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.vectonextraapp.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(2);

            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            //Highlight Tab
            $("ul.ultab li").removeClass("active");
            $("div.tab-content div").removeClass("active");
            $("li#litab0").addClass("active");
            $("#tab_1_0").addClass("active");
            $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
            $("a#detailVectoneXtraApp").removeClass("lightblue").addClass("white");

            ActionDetailHeaderButtons(12, $.trim('@ViewBag._mobileno'), sim);

            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

            $("#ajax-screen-masking2").css({ "width": $(document).outerWidth() + "px", "height": $(document).outerHeight() + "px" });

            BindVectoneXtraDetails($.trim('@ViewBag._mobileno'));

            //CRM Enhancement 2
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!;
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;
            var date_fr = today;
            var date_to = today;

            var lastdate1 = $('#lastdate1').val();
            if (lastdate1 == '') {
                $('#dp1').attr('data-date', today);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', today);
                $('#lastdate1').val(today);
            }
            else {
                $('#dp1').attr('data-date', lastdate1);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', lastdate1);
            }

            var lastdate2 = $('#lastdate2').val();
            if (lastdate2 == '') {
                $('#dp2').attr('data-date', today);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', today);
                $('#lastdate2').val(today);
            }
            else {
                $('#dp2').attr('data-date', lastdate2);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', lastdate2);
            }

            var date_fr = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());
            BindVectoneXtraCallHistory($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), date_fr, date_to);

        });

        $("#btnVXACHSSearch").live("click", function () {
            $("#tblVXACHSContainer").show();
            var date_fr = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());
            BindVectoneXtraCallHistory($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), date_fr, date_to);
        });
    </script>
}