﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div id="tblTransferBalanceContainer" style="padding: 5px 10px 10px 10px; width: 900px;">
        <table>
            <tr>
                <td>
                    <table id="tblTransferBalance" border="0" cellspacing="3" cellpadding="3" style="width: 450px; float: left">
                        <tbody>
                            <tr>
                                <td colspan="2" style="font-weight: bold; font-size: 16px">DETAILS</td>
                            </tr>
                            <tr>
                                <td style="width: 295px;">Doner Mobile No / MSISDN</td>
                                <td id="tdABMobileNo" style="width: 225px; border-bottom: 1px dotted #e5e5e5; color: #505050">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 295px;">Receiver Mobile No / MSISDN</td>
                                <td>
                                    <input type="tel" id="tdRCMobileNo" name="tdRCMobileNo" style="font-size: 13px;" maxlength="15" />
                                </td>
                            </tr>
                            <tr>
                                <td>Amount</td>
                                <td>
                                    <input type="tel" id="ddlAmount" name="ddlAmount" style="font-size: 13px; width: 50px;" maxlength="5" />
                            </tr>
                            <tr>
                                <td>
                                    <button id="btnTransferBalance" class="btn blue" style="width: auto">Transfer</button>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
}