﻿@* 01-Mar-2019 : Moorthy : Added for Chargeback *@
@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <style>
        #phAutoTopupStatus b
        {
            color: black;
        }
    </style>
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div style="text-align: right">
            <button id="btnCSSendMail" class="btn grey" disabled="disabled">Send Mail</button>
    </div>
    <div id="TabGeneralLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
    <div id="phCSContainer" style="width: 100%; margin-top: 15px; display: none">
        <div style="width: 49%;float:left;">
            <div style="font-size: 16px;">
                <b><span style="font-weight: bold">Chargeback details :&emsp;</span></b>
            </div>
            <div style="border: 1px solid #fafafa; padding: 10px 30px;">
                <div style="font-size: 16px;">
                    <span style="font-weight: bold">Chargeback suspension status :&emsp;</span>
                    <span id="phCSStatus" style="color: #303030">-</span>
                </div>
                <div id="phCSDetail" style="font-size: 16px; margin-top: 15px;">
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">MSISDN :&emsp;</span>
                        <span id="phCSMobileNo" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Payment Reference :&emsp;</span>
                        <span id="phCSPaymentReference" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Customer Name :&emsp;</span>
                        <span id="phCSCustomerName" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Transaction Date :&emsp;</span>
                        <span id="phCSTransactionDate" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Transaction Amount :&emsp;</span>
                        <span id="phCSTransactionAmount" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Chargeback Claim Date :&emsp;</span>
                        <span id="phCSChargebackClaimDate" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Product Code :&emsp;</span>
                        <span id="phCSProductCode" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Reason :&emsp;</span>
                        <span id="phCSReason" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Approved By:&emsp;</span>
                        <span id="phCSApprovedBy" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Approved Date:&emsp;</span>
                        <span id="phCSApprovedDate" style="color: #303030">-</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="width: 49%;float:left;">
            <div style="font-size: 16px;">
                <b><span style="font-weight: bold">Payment details :&emsp;</span></b>
            </div>
            <div style="border: 1px solid #fafafa; padding: 10px 30px;">
                <div style="font-size: 16px;">
                    <span style="font-weight: bold">Chargeback Payment :&emsp;</span>
                    <span id="phCSPayment" style="color: #303030">-</span>
                </div>
                <div id="phCSPRD" style="font-size: 16px; margin-top: 15px;">
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Payment Received:&emsp;</span>
                        <span id="phCSPS" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Payment Reference:&emsp;</span>
                        <span id="phCSPR" style="color: #303030">-</span>
                    </div>
                    <div style="margin-top: 12px">
                        <span style="font-weight: bold">Payment Date:&emsp;</span>
                        <span id="phCSPD" style="color: #303030">-</span>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 40px; margin-bottom: 10px; text-align: center">
            <button id="btnCSCancel" class="btn blue" style="width: 225px; height: 40px" disabled="disabled">Cancel Chargeback Suspension</button>
        </div>
    </div>
}