﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <style type="text/css">
        .btncenter
        {
            text-align: center;
        }

        .errLabel
        {
            /*display: none;*/
            color: red;
            font-size: 12px;
            /*height: 18px;*/
            /*padding: 5px;*/
            /*background-color: #f2dede;*/
            /*width: 405px !important;*/
        }

        .spanstar
        {
            color: red;
            font-size: 12px;
            height: 18px;
            padding: 5px;
        }
    </style>
    
    
@* View LLOTG subsription start *@
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <input type="hidden" id="PayM_SiteCode" name="PayM_SiteCode" value="@ViewBag._sitecode">
    <div id="tblProductLLOTGContainer" style="padding: 10px;">
        <div id="TabProductLLOTGLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
        <input type="hidden" id="accessedPage" name="accessedPage" />
        <table class="table table-bordered table-hover" id="tblProductLLOTG"></table>
    </div>
    <input type="hidden" id="HidReg_No" name="HidReg_No" />
    <input type="hidden" id="Hipay_type" name="Hipay_type" />
    <input type="hidden" id="Hicountry" name="Hicountry" />
    <input type="hidden" id="Hibalance" name="Hibalance" />
    <input type="hidden" id="Hisvcid" name="Hisvcid" />
    <input type="hidden" id="Hiordervalue" name="Hiordervalue" />
    <input type="hidden" id="HiLLOMamount" name="HiLLOMamount" />
    <input type="hidden" id="Hinewsvcid" name="Hinewsvcid" />
    <input type="hidden" id="Hichangepaymode" name="Hichangepaymode" />
    <input type="hidden" id="Hinewpay_type" name="Hinewpay_type" />
    <input type="hidden" id="Hiplan_status" name="Hiplan_status" />
    <input type="hidden" id="Hidata_curreny" name="Hidata_curreny" />
@* View LLOTG subsription END *@
      
@* LLOTG subsription plan details start *@
    <div id="LLOTGSelectPlan" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Select Plan</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <table>
                    <tr>
                        <td style="font-weight: bold">Please select a plan</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td @*style="text-align: center"*@ id="LLOTGPlans"></td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="modal-footer ">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGSelectCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
@* LLOTG subsription plan details start *@
    
@* LLOTG subsription order summary details start *@
    <div id="LLOTGOrderSummary" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Order Summary</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <table>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Product</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">: </td>
                        <td style="width: 200px; font-weight: bold;">Renewal of LLOTG Subscription</td>

                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">LLOTG Number</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdLLOTGNumber"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Country</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdCountry"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Duration</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdDuration"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Order value</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdov"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer btncenter">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOrderSummaryNext" style="width: 100px;">Next</button>
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGOrderConformationCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
@* LLOTG subsription order summary details end *@
    
@* LLOTG cancel subsription function start  *@
    <div id="LLOTGCancelSubscription" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Cancel Subscription</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <table>
                    <tr>
                        <td style="width: 280px; font-weight: bold">Product</td>
                        <td style="width: 10px; font-weight: bold">:
                        </td>
                        <td style="width: 200px; font-weight: bold" id="cancelproduct"></td>
                    </tr>
                    <tr>
                        <td style="width: 120px; font-weight: bold">LLOTG Number</td>
                        <td style="width: 10px; font-weight: bold">:
                        </td>
                        <td style="width: 200px; font-weight: bold" id="cancelnumber"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn blue" type="button" id="btnCancelLLOTGConfirm" style="width: 100px;">Confirm</button>
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGOrderCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
@* LLOTG cancel subsription function end  *@
    
@* LLOTG cancel subsription message function start  *@
    <div id="LLOTGResultInfo" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Result Information</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <table>
                    <tr>
                        <td id="LLOTGResultInfostatus">Request Processed Successfully
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGOrderokCancel" style="width: 100px;">ok</button>
        </div>
    </div>
@* LLOTG cancel subsription message function end  *@
    
@* LLOTG view subsription payment mode function start  *@
    <div id="LLOTGPaymentMode" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Select Payment Mode</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <table>
                    <tr>
                        <td style="width: 150px; font-weight: bold">Select Payment Mode</td>
                        <td style="width: 10px; font-weight: bold">:
                        </td>
                        <td>
                            <input type="radio" name="payment" value="1" id="balance" style="margin: 12px">
                        Balance
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="radio" name="payment" value="2" id="cc" style="margin: 12px">
                        Credit Card
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer btncenter">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGSPPay" style="width: 100px; display: none;">Pay</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGSPNext" style="width: 100px; display: none;">Next</button>
            @*<button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGSPGenNext" style="width: 100px">Next</button>*@
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGSPCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
@* LLOTG view subsription payment mode function end  *@
    
@* LLOTG order confirmation balance  function start  *@
    <div id="LLOTGOrderConfirmationBalance" class="popup-message modal hide border-lightblue" style="width: 600px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Order Confirmation Screen</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <table>
                    <tr>
                        <td style="width: 280px; font-weight: bold">Product</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 200px; font-weight: bold;" id="tdOCproduct">Renewal of LLOTG Subscription</td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">LLOTG Number</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCLLOTGNumber"></td>
                    </tr>
                    @* <tr>
                            <td style="width: 100px; font-weight: bold">Free Mins</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 100px; font-weight: bold;" id="tdOCFreeMins"></td>
                        </tr>*@
                    <tr>
                        <td style="width: 100px; font-weight: bold">Payment Mode</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 100px; font-weight: bold;" id="tdOCPaymentMode">Balance</td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Current Available Balance</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 100px; font-weight: bold;" id="tdOCCAB"></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Payment for current transaction</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCdiscount"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer btncenter">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGBalanceOCConfirm" style="width: 100px;">Confirm</button>
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGOCCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
@* LLOTG order confirmation balance  function end  *@
    
@* LLOTG payment mode credit card  function start  *@
    <div id="LLOTGPaymentModenCC" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Select Payment Mode</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="radio" name="cc" value="1" id="scc" style="margin: 12px">Saved Credit Card
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <input type="radio" name="cc" value="2" id="ncc" style="margin: 12px">New Credit Card
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer ">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGccNext" style="width: 100px; display: none">Next</button>
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGccCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
@* LLOTG payment mode credit card  function end  *@
    
    
@* LLOTG Change payment mode   function start  *@
    
    <div id="LLOTGChangePaymentModenCC" class="popup-message modal hide border-lightblue" style="width: 400px; display: none;">
        <div class="modal-header background-lightblue" style="font-family: Arial">LOTG - Change Payment</div>
        <div class="modal-body">
            <input type="hidden" id="LOTGCPRegNo" name="LOTGCPRegNo" />
            <table>
                <tr>
                    <td style="width: 130px; height: 35px; font-weight: bold">LOTG Country</td>
                    <td style="width: 10px; text-align: center">:</td>
                    <td id="tdLOTTGCPCountry"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Current Payment Type</td>
                    <td style="text-align: center">:</td>
                    <td id="tdLOTTGCPCurrent"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Change Payment Type</td>
                    <td style="text-align: center">:</td>
                    <td>
                        <input type="radio" name="changepayment" value="1" id="cscc" style="margin: 12px">Saved Credit Card
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold"></td>
                    <td style="text-align: center">:</td>
                    <td>
                        <input type="radio" name="changepayment" value="2" id="cncc" style="margin: 12px">New Credit Card
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLOTGCPCancel" style="width: 100px;">Cancel</button>
            @* <button data-dismiss="modal" class="btn blue" type="button" id="btnLOTGCPConfirm" style="width:100px;">Confirm</button>*@
        </div>
    </div>
@* LLOTG Change  payment mode   function end  *@
    
@* LLOTG payment mode exting credit card  function start  *@
    <div id="LLOTGOrderConfirmationscc" class="popup-message modal hide border-lightblue" style="width: 700px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Order Confirmation Screen</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <table>
                    <tr>
                        <td style="width: 280px; font-weight: bold">Product</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 200px; font-weight: bold;" id="tdOCsccproduct">Renewal of LLOTG Subscription</td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">LLOTG Number</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCsccLLOTGNumber"></td>
                    </tr>
                    @* <tr>
                            <td style="width: 100px; font-weight: bold">Free Mins</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 10px; font-weight: bold;" id="tdOCsccFreeMins"></td>
                        </tr>*@
                    <tr style="text-decoration: underline;">
                        <td style="width: 100px; font-weight: bold">Payment Mode</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 200px; font-weight: bold;" id="tdOCsccPaymentMode"></td>
                        <td style="width: 200px; font-weight: bold;" id="tdOCsccselectcard">Select Card</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCscccard">
                            <select id="selectocscccard">
                            </select></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">CVV Number</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 200px; font-weight: bold;" id="tdOCscccvv">
                            <input type="text" id="txtOCscccvv" /></td>
                    </tr>
                    <tr>
                        <td style="width: 100px; font-weight: bold">Payment for current transaction</td>
                        <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                        <td style="width: 10px; font-weight: bold;" id="tdOCsccdiscount"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer btncenter">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOCsccConfirm" style="width: 100px;">Confirm</button>
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGOCsccCancel" style="width: 100px;">Cancel</button>
        </div>
    </div>
@* LLOTG payment mode exting credit card  function end  *@
    
    <div id="LLOTGResultInformation" class="popup-message modal hide border-lightblue" style="width: 500px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Result Information</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <table>
                    <tr>
                        <td id="LLOTGResultInformationfinal">Payment Processed Successfully
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="modal-footer ">

            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGPIok" style="width: 100px;">ok</button>
        </div>

    </div>
    
    
@* LLOTG new credit card function start  *@
    
    <div id="PaymentMethodNewCardDetails" class="popup-message modal hide border-lightblue" style="width: 1000px; margin-top: -37px; margin-left: -500px;" 
        onload="findaddresshideshow()">
        <div class="modal-header background-lightblue" style="font-family: Arial">Pay with a New Card</div>
        <div class="modal-body" style="min-height: 550px;">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <input type="hidden" id="newCChidden" />
                <fieldset>
                    <legend style="font-weight: bold">Payment Details@*<hr />*@
                    </legend>
                    <table>
                        <tr>
                            <td style="width: 150px; font-weight: bold">Select your card type
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>

                                <ul class="cardContainer">
                                    <li>
                                        <img src="~/img/ccard_visa.gif" alt="Visa" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Visa">
                                    </li>
                                    <li>
                                        <img src="~/img/ccard_mastercard.gif" alt="Mastercard" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Mastercard">
                                    </li>
                                    <li>
                                        <img src="~/img/maestro.gif" alt="Maestro" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Maestro">
                                    </li>
                                    <li>
                                        <img src="~/img/diners-club.gif" alt="Dinners Club International" /><br />
                                        <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Dinners">
                                    </li>
                                </ul>

                            </td>
                            <td>
                                <label class="errLabel" id="PSCT" style="display: none;">* Please select card type</label></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Card Number
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodCCNumber" name="PaymentMethodCCNumber" class="input-xlarge" /></td>
                            <td>
                                <label class="errLabel" id="PECN" style="display: none;">* Please enter card number</label>

                            </td>


                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">First Name
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodFirstName" name="PaymentMethodFirstName" /></td>

                            <td>
                                <label class="errLabel" id="PEFN" style="display: none;">* Please enter first name</label></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Last Name
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodLastName" name="PaymentMethodLastName" /></td>

                            <td>
                                <label class="errLabel" id="PELN" style="display: none;">* Please enter last name</label></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Expiry Date
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <div class="controls col-xs-4">
                                    <table>
                                        <tr>
                                            <td>
                                                <select id="PaymentMethodExpiryMonth" name="PaymentMethodExpiryMonth">
                                                    <option value="0" selected>Select Month</option>
                                                    <option value="01">January</option>
                                                    <option value="02">February</option>
                                                    <option value="03">March</option>
                                                    <option value="04">April</option>
                                                    <option value="05">May</option>
                                                    <option value="06">June</option>
                                                    <option value="07">July</option>
                                                    <option value="08">August</option>
                                                    <option value="09">September</option>
                                                    <option value="10">October</option>
                                                    <option value="11">November</option>
                                                    <option value="12">December</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select id="PaymentMethodExpiryYear" name="PaymentMethodExpiryYear"></select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>

                            <td>
                                <label class="errLabel" id="PEEMAY" style="display: none;">* Please enter the expire month and expire year</label></td>

                        </tr>

                        <tr>
                            <td style="font-weight: bold">Issue Number (only for certain Switch/Solo)</td>
                            <td></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodIssueNumber" name="PaymentMethodIssueNumber" /></td>

                            <td></td>

                        </tr>

                        <tr>
                            <td style="width: 150px; font-weight: bold">Card verification code
                            </td>
                            <td><span class="spanstar">*</span></td>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <input type="text" id="PaymentMethodCardVerfCode" name="PaymentMethodCardVerfCode" />

                            </td>

                            <td>
                                <label class="errLabel" id="PECVC" style="display: none;">* Please enter card verification code</label>

                            </td>

                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    @* <br />
                    <label>Post Code</label>
                    <label id="errPaymentMethodListAddressIP" class="errLabel">* Please enter post code</label>
                    <div>
                        <input type="text" id="PaymentMethodPostcode" name="PaymentMethodPostcode" style="width: 283px" />
                        <input type="button" class="btn blue" id="PaymentMethodBtnFind" style="margin: -8px 0 0 3px; width: 109px" value="Find Address" />
                        <img id="PaymentMethodBtnFindLoader" src="~/Assets/Main/img/ajaxloader-03.gif" style="margin-top: -5px; display: none" />
                    </div>
                    <div id="PaymentMethodListAddressIPContainer" style="display: none">
                        <select id="PaymentMethodListAddressIP" name="PaymentMethodListAddressIP" style="width: 414px !important"></select>
                    </div>
                    <label>Address Line 1</label>
                    <label class="errLabel">* Please enter Address Line 1</label>
                    <input type="text" id="PaymentMethodAddress1" name="PaymentMethodHouseNo" />
                    <br />
                    <label>Address Line 2</label>
                    <label class="errLabel">* Please enter Address Line 2</label>
                    <input type="text" id="PaymentMethodHouseNo" name="PaymentMethodHouseNo" />
                    <br />
                    <label>Address Line 3</label>
                    <label class="errLabel">* Please enter Address Line 3</label>
                    <input type="text" id="PaymentMethodAddress" name="PaymentMethodAddress" />
                    <br />
                    <label>Town/City</label>
                    <label class="errLabel">* Please enter Town/City</label>
                    <input type="text" id="PaymentMethodCity" name="PaymentMethodCity" />
                    <br />
                    <label>Country</label>
                    <select id="PaymentMethodCountry" name="PaymentMethodCountry" style="width: 414px !important"></select>
                    <br />
                    <label>Email</label>
                    <label class="errLabel">* Please enter a valid Email Address</label>
                    <input type="text" id="PaymentMethodEmail" name="PaymentMethodEmail" />
                    <br />
                    <legend style="font-weight: bold">Billing Address
                    </legend>*@

                    @*Chan*@
                    <table>
                        <tr>
                            <td>Post Code&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="top_input" id="postcode_lookup"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblPostCode">* Please enter post code</label></td>
                        </tr>

                        <tr>
                            <td>Address Line 1&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="iCSPBCAddress1" name="iCSPBCAddress1" style="width: 400px" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblAddr1">* Please enter Address Line 1</label></td>
                        </tr>


                        <tr>
                            <td>Address Line 2&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="iCSPBCAddress2" name="iCSPBCAddress2" style="width: 400px" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblAddr2">* Please enter Address Line 2</label></td>
                        </tr>

                        <tr>
                            <td>Address Line 3&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="iCSPBCAddress3" name="iCSPBCAddress3" style="width: 400px" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblAddr3">* Please enter Address Line 3</label></td>
                        </tr>

                        <tr>
                            <td>Town/City&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="iCSPBCTown" name="iCSPBCTown" style="width: 400px" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblCity">* Please enter Town/City</label></td>
                        </tr>

                        <tr>
                            <td>Country&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <select id="sCSPBCCountry" name="sCSPBCCountry" style="width: 415px" disabled="disabled">
                                    <option value="Austria">Austria</option>
                                    <option value="Belgium">Belgium</option>
                                    <option value="Denmark">Denmark</option>
                                    <option value="Finland">Finland</option>
                                    <option value="France">France</option>
                                    <option value="Netherlands">Netherlands</option>
                                    <option value="Poland">Poland</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Sweden">Sweden</option>
                                    <option value="United Kingdom">United Kingdom</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblCountry">* Please select Country</label></td>
                        </tr>

                        <tr>
                            <td>Email&nbsp;<span style="color: #ff0000">*</span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="iCSPBCEmail" name="iCSPBCEmail" style="width: 400px" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="errLabel" id="lblEmail">* Please enter a valid Email Address</label></td>
                        </tr>

                        <tr>
                            <td>Phone Number&nbsp;<span style="color: #ff0000"></span></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="PaymentMethodPhone" name="PaymentMethodPhone" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                            @*<label class="errLabel">* Please enter a valid Email Address</label></td>*@
                        </tr>


                    </table>
                    @*   <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">House Number
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodHouseNo" name="PaymentMethodHouseNo" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEHN" style="display: none;">* Please enter house number</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Address
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodAddress" name="PaymentMethodAddress" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEA" style="display: none;">* Please enter address</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">City
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodCity" name="PaymentMethodCity" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEC" style="display: none;">* Please enter city</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Country
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <select id="PaymentMethodCountry" name="PaymentMethodCountry"></select>

                                </td>

                                <td>
                                    <label class="errLabel" id="PECAddress" style="display: none;">* Please enter country</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Post Code
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodPostcode" name="PaymentMethodPostcode" />

                                </td>


                                <td>
                                    <label class="errLabel" id="PEPC" style="display: none;">* Please enter post code</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Email
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodEmail" name="PaymentMethodEmail" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEAVEA" style="display: none;">* Please enter a valid Email Address</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Phone
                                </td>
                                <td></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodPhone" name="PaymentMethodPhone" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEAVP" style="display: none;">* Please enter a valid Phone</label>

                                </td>

                            </tr>
                        </table>*@
                </fieldset>
                @*  <fieldset>
                        <legend style="font-weight: bold">Billing Address
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">House Number
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodHouseNo" name="PaymentMethodHouseNo" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEHN" style="display: none;">* Please enter house number</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Address
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodAddress" name="PaymentMethodAddress" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEA" style="display: none;">* Please enter address</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">City
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodCity" name="PaymentMethodCity" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEC" style="display: none;">* Please enter city</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Country
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <select id="PaymentMethodCountry" name="PaymentMethodCountry"></select>

                                </td>

                                <td>
                                    <label class="errLabel" id="PECAddress" style="display: none;">* Please enter country</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Post Code
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodPostcode" name="PaymentMethodPostcode" />

                                </td>


                                <td>
                                    <label class="errLabel" id="PEPC" style="display: none;">* Please enter post code</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Email
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodEmail" name="PaymentMethodEmail" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEAVEA" style="display: none;">* Please enter a valid Email Address</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Phone
                                </td>
                                <td></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodPhone" name="PaymentMethodPhone" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEAVP" style="display: none;">* Please enter a valid Phone</label>

                                </td>

                            </tr>
                        </table>
                    </fieldset>*@
            </div>
            <div class="modal-footer btncenter">
                <button class="btn blue" type="button" id="btnLLOTGnccproceed" style="width: 100px;">Proceed</button>
                <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnLLOTGnccCancel" style="width: 100px;">Cancel</button>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">       
        //doSomething($('#PaymentMethodNewCardDetails'));

        //$("#PaymentMethodNewCardDetails").onload(function () {
        //    alert("mydiv contonet is loaded");
        //});

        function findaddresshideshow() {
            $('.errLabel').hide();
            alert('buttontest')
            if ($('#Hicountry').val() == 'United Kingdom') {
                $('#BtnFindAddress').hide();
            }
            else {
                $('#BtnFindAddress').show()
            }
        }
    </script>
@* LLOTG new credit card function end  *@

@* LLOTG view subsription history function start  *@
    <div id="LLOTGSubscriptionHistory" class="popup-message modal hide border-lightblue" style="width: 1000px">
        <div class="modal-header background-lightblue" style="font-family: Arial">View Subscription History</div>
        <div class="modal-body">
            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                <table class="table table-bordered table-hover" id="tblLLOTGSubscriptionHistory" style="width: 950px;"></table>
            </div>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnVShCancel" style="width: 100px;">Close</button>
        </div>
    </div> 
@* LLOTG view subsription history function end  *@
    
    
@* <div id="tblProductLLOTGContainer" style="padding: 10px;">
        <div id="TabProductLLOTGLoader" style="width: 100%; height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">&nbsp;</div>
        <input type="hidden" id="accessedPage" name="accessedPage" />
        <table class="table table-bordered table-hover" id="tblProductLLOTG"></table>
        <div id="LLOTGReactivation" class="popup-message modal hide border-lightblue" style="width: 500px">
            <div class="modal-header background-lightblue" style="font-family: Arial">LLOTG - Reactivation</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td style="width: 100px; font-weight: bold">Country</td>
                            <td style="width: 10px; text-align: center">:</td>
                            <td id="tdLLOTGReactivationCountry"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">City</td>
                            <td style="text-align: center">:</td>
                            <td id="tdLLOTGReactivationCity"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Number</td>
                            <td style="text-align: center">:</td>
                            <td id="tdLLOTGReactivationNumber"></td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Package ID</td>
                            <td style="text-align: center">:</td>
                            <td id="tdLLOTGReactivationPackageID"></td>
                        </tr>
                    </table>
                </div>
                <div>
                    The current payment type for this bundle is <span id="LLOTGReactivationCurrentPayment" style="font-weight: bold"></span>
                </div>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGReactivationCancel" style="float: left; width: 100px;">Cancel</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGReactivationPayByBalance" style="float: right; width: 135px;">Pay by Balance</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGReactivationPayByCard" style="float: right; width: 135px;">Pay by Card</button>
            </div>
        </div>
        <div id="LLOTGSelectPlan" class="popup-message modal hide border-lightblue" style="width: 500px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Select Plan</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td style="font-weight: bold">Please select a plan</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td style="text-align: center" id="LLOTGPlans">
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="modal-footer ">

                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGSelectCancel" style="width: 100px;">Cancel</button>
            </div>
        </div>
        <div id="LLOTGOrderSummary" class="popup-message modal hide border-lightblue" style="width: 500px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Order Summary</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td style="width: 100px; font-weight: bold">Product</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">: </td>
                            <td style="width: 200px; font-weight: bold;">Renewal of LLOTG Subscription</td>

                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">LLOTG Number</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 10px; font-weight: bold;" id="tdLLOTGNumber"></td>
                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">Country</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 10px; font-weight: bold;" id="tdCountry"></td>
                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">Duration</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 10px; font-weight: bold;" id="tdDuration"></td>
                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">Order value</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 10px; font-weight: bold;" id="tdov"></td>
                        </tr>
                    </table>
                </div>


            </div>
            <div class="modal-footer btncenter">
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOrderSummaryNext" style="width: 100px;">Next</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOrderConformationCancel" style="width: 100px;">Cancel</button>
            </div>
        </div>
        <div id="LLOTGPaymentMode" class="popup-message modal hide border-lightblue" style="width: 500px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Select Payment Mode</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td style="width: 150px; font-weight: bold">Select Payment Mode</td>
                            <td style="width: 10px; font-weight: bold">:
                            </td>
                            <td>
                                <input type="radio" name="payment" value="1" id="balance" style="margin: 12px">
                            Balance
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="radio" name="payment" value="2" id="cc" style="margin: 12px">
                            Credit Card
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer btncenter">
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGSPPay" style="width: 100px; display: none;">Pay</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGSPNext" style="width: 100px; display: none;">Next</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGSPCancel" style="width: 100px;">Cancel</button>
            </div>

        </div>
        <div id="LLOTGPaymentModenCC" class="popup-message modal hide border-lightblue" style="width: 500px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Select Payment Mode</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="radio" name="cc" value="1" id="scc" style="margin: 12px">Saved Credit Card
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="radio" name="cc" value="2" id="ncc" style="margin: 12px">New Credit Card
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer ">
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGccNext" style="width: 100px; display: none">Next</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGccCancel" style="width: 100px;">Cancel</button>
            </div>

        </div>
        <div id="LLOTGOrderConfirmationscc" class="popup-message modal hide border-lightblue" style="width: 700px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Order Confirmation Screen</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td style="width: 280px; font-weight: bold">Product</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 200px; font-weight: bold;" id="tdOCsccproduct">Renewal of LLOTG Subscription</td>
                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">LLOTG Number</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 10px; font-weight: bold;" id="tdOCsccLLOTGNumber"></td>
                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">Free Mins</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 10px; font-weight: bold;" id="tdOCsccFreeMins"></td>
                        </tr>
                        <tr style="text-decoration: underline;">

                            <td style="width: 100px; font-weight: bold">Payment Mode</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 200px; font-weight: bold;" id="tdOCsccPaymentMode"></td>

                            <td style="width: 200px; font-weight: bold;" id="tdOCsccselectcard">Select Card</td>
                            <td style="width: 10px; font-weight: bold;" id="tdOCscccard">
                                <select id="selectocscccard">
                                </select></td>
                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">CVV Number</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 200px; font-weight: bold;" id="tdOCscccvv">
                                <input type="text" id="txtOCscccvv" /></td>
                        </tr>

                        <tr>
                            <td style="width: 100px; font-weight: bold">Payment for current transaction after Discount</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 10px; font-weight: bold;" id="tdOCsccdiscount"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer btncenter">
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOCsccConfirm" style="width: 100px;">Confirm</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOCsccCancel" style="width: 100px;">Cancel</button>
            </div>

        </div>
        <div id="LLOTGOrderConfirmationsccChangePayment" class="popup-message modal hide border-lightblue" style="width: 700px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Order Confirmation Screen</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr style="text-decoration: underline;">
                            <td style="width: 100px; font-weight: bold">Payment Mode</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 200px; font-weight: bold;" id="tdOCsccChangePaymentMode">Pay By Credit</td>
                    </table>
                </div>

            </div>
            <div class="modal-footer btncenter">
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOCsccConfirmSCCC" style="width: 100px;">Confirm</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOCsccCCancel" style="width: 100px;">Cancel</button>
            </div>

        </div>
        <div id="PaymentMethodNewCardDetails" class="popup-message modal hide border-lightblue" style="width: 1000px;">
            <div class="modal-header background-lightblue" style="font-family: Arial">Pay with a New Card</div>
            <div class="modal-body" style="min-height: 550px;">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <input type="hidden" id="newCChidden" />
                    <fieldset>
                        <legend style="font-weight: bold">Payment Details<hr />
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">Select your card type
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>

                                    <ul class="cardContainer">
                                        <li>
                                            <img src="~/img/ccard_visa.gif" alt="Visa" /><br />
                                            <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Visa">
                                        </li>
                                        <li>
                                            <img src="~/img/ccard_mastercard.gif" alt="Mastercard" /><br />
                                            <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Mastercard">
                                        </li>
                                        <li>
                                            <img src="~/img/maestro.gif" alt="Maestro" /><br />
                                            <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Maestro">
                                        </li>
                                        <li>
                                            <img src="~/img/diners-club.gif" alt="Dinners Club International" /><br />
                                            <input name="PaymentMethodCardType" class="PaymentMethodCardType" type="radio" value="Dinners">
                                        </li>
                                    </ul>

                                </td>
                                <td>
                                    <label class="errLabel" id="PSCT" style="display: none;">* Please select card type</label></td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Card Number
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodCCNumber" name="PaymentMethodCCNumber" class="input-xlarge" /></td>
                                <td>
                                    <label class="errLabel" id="PECN" style="display: none;">* Please enter card number</label>

                                </td>


                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">First Name
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodFirstName" name="PaymentMethodFirstName" /></td>

                                <td>
                                    <label class="errLabel" id="PEFN" style="display: none;">* Please enter first name</label></td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Last Name
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodLastName" name="PaymentMethodLastName" /></td>

                                <td>
                                    <label class="errLabel" id="PELN" style="display: none;">* Please enter last name</label></td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Expiry Date
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <div class="controls col-xs-4">
                                        <table>
                                            <tr>
                                                <td>
                                                    <select id="PaymentMethodExpiryMonth" name="PaymentMethodExpiryMonth">
                                                        <option value="0" selected>Select Month</option>
                                                        <option value="01">January</option>
                                                        <option value="02">February</option>
                                                        <option value="03">March</option>
                                                        <option value="04">April</option>
                                                        <option value="05">May</option>
                                                        <option value="06">June</option>
                                                        <option value="07">July</option>
                                                        <option value="08">August</option>
                                                        <option value="09">September</option>
                                                        <option value="10">October</option>
                                                        <option value="11">November</option>
                                                        <option value="12">December</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="PaymentMethodExpiryYear" name="PaymentMethodExpiryYear"></select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>

                                <td>
                                    <label class="errLabel" id="PEEMAY" style="display: none;">* Please enter the expire month and expire year</label></td>

                            </tr>

                            <tr>
                                <td style="font-weight: bold">Issue Number (only for certain Switch/Solo)</td>
                                <td></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodIssueNumber" name="PaymentMethodIssueNumber" /></td>

                                <td></td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Card verification code
                                </td>
                                <td><span class="spanstar">*</span></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodCardVerfCode" name="PaymentMethodCardVerfCode" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PECVC" style="display: none;">* Please enter card verification code</label>

                                </td>

                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend style="font-weight: bold">Billing Address<hr />
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">House Number
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodHouseNo" name="PaymentMethodHouseNo" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEHN" style="display: none;">* Please enter house number</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Address
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodAddress" name="PaymentMethodAddress" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEA" style="display: none;">* Please enter address</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">City
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodCity" name="PaymentMethodCity" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEC" style="display: none;">* Please enter city</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Country
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <select id="PaymentMethodCountry" name="PaymentMethodCountry"></select>

                                </td>

                                <td>
                                    <label class="errLabel" id="PECAddress" style="display: none;">* Please enter country</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Post Code
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodPostcode" name="PaymentMethodPostcode" />

                                </td>


                                <td>
                                    <label class="errLabel" id="PEPC" style="display: none;">* Please enter post code</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Email
                                </td>
                                <td><span class="spanstar">*</span>
                                </td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodEmail" name="PaymentMethodEmail" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEAVEA" style="display: none;">* Please enter a valid Email Address</label>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">Phone
                                </td>
                                <td></td>
                                <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input type="text" id="PaymentMethodPhone" name="PaymentMethodPhone" />

                                </td>

                                <td>
                                    <label class="errLabel" id="PEAVP" style="display: none;">* Please enter a valid Phone</label>

                                </td>

                            </tr>
                        </table>
                    </fieldset>
                </div>
                <div class="modal-footer btncenter">
                    <button class="btn blue" type="button" id="btnLLOTGnccproceed" style="width: 100px;">Proceed</button>
                    <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGnccCancel" style="width: 100px;">Cancel</button>
                </div>
            </div>
        </div>
        <div id="LLOTGOrderConfirmationBalance" class="popup-message modal hide border-lightblue" style="width: 600px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Order Confirmation Screen</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td style="width: 280px; font-weight: bold">Product</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 200px; font-weight: bold;" id="tdOCproduct">Renewal of LLOTG Subscription</td>
                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">LLOTG Number</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 10px; font-weight: bold;" id="tdOCLLOTGNumber"></td>
                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">Free Mins</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 100px; font-weight: bold;" id="tdOCFreeMins"></td>
                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">Payment Mode</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 100px; font-weight: bold;" id="tdOCPaymentMode">Balance</td>
                        </tr>
                        <tr>
                            <td style="width: 100px; font-weight: bold">Current Available Balance</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 100px; font-weight: bold;" id="tdOCCAB"></td>
                        </tr>

                        <tr>
                            <td style="width: 100px; font-weight: bold">Payment for current transaction after Discount</td>
                            <td style="width: 10px; font-weight: bold; text-align: center">:</td>
                            <td style="width: 10px; font-weight: bold;" id="tdOCdiscount"></td>
                        </tr>


                    </table>
                </div>

            </div>
            <div class="modal-footer btncenter">
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGBalanceOCConfirm" style="width: 100px;">Confirm</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOCCancel" style="width: 100px;">Cancel</button>
            </div>

        </div>
        <div id="LLOTGResultInformation" class="popup-message modal hide border-lightblue" style="width: 500px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Result Information</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td id="LLOTGResultInformationfinal">Payment Processed Successfully
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer ">

                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGPIok" style="width: 100px;">ok</button>
            </div>

        </div>
        <div id="LLOTGResultInformationFail" class="popup-message modal hide border-lightblue" style="width: 500px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Result Information</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td>Payment Failed
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">

                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGPFok" style="width: 100px;">ok</button>
            </div>

        </div>
        <div id="LLOTGCancelSubscription" class="popup-message modal hide border-lightblue" style="width: 500px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Cancel Subscription</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td style="width: 280px; font-weight: bold">Product</td>
                            <td style="width: 10px; font-weight: bold">:
                            </td>
                            <td style="width: 200px; font-weight: bold" id="cancelproduct"></td>
                        </tr>
                        <tr>
                            <td style="width: 120px; font-weight: bold">LLOTG Number</td>
                            <td style="width: 10px; font-weight: bold">:
                            </td>
                            <td style="width: 200px; font-weight: bold" id="cancelnumber"></td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer btncenter">
                <button class="btn blue" type="button" id="btnCancelLLOTGConfirm" style="width: 100px;">Confirm</button>
                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOrderCancel" style="width: 100px;">Cancel</button>
            </div>

        </div>
        <div id="LLOTGResultInfo" class="popup-message modal hide border-lightblue" style="width: 500px">
            <div class="modal-header background-lightblue" style="font-family: Arial">Result Information</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table>
                        <tr>
                            <td id="LLOTGResultInfostatus">Request Processed Successfully
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="modal-footer">

                <button data-dismiss="modal" class="btn blue" type="button" id="btnLLOTGOrderokCancel" style="width: 100px;">ok</button>
            </div>

        </div>
        <div id="LLOTGSubscriptionHistory" class="popup-message modal hide border-lightblue" style="width: 1000px">
            <div class="modal-header background-lightblue" style="font-family: Arial">View Subscription History</div>
            <div class="modal-body">
                <div style="margin-bottom: 5px; padding: 10px; background-color: #e5e5e5; border: 1px solid #c0c0c0;">
                    <table class="table table-bordered table-hover" id="tblLLOTGSubscriptionHistory" style="width: 950px;">
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnVShCancel" style="width: 100px;">Close</button>
            </div>
        </div>
    </div>*@
    
    
    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}
