﻿@model CRM_API.Models.CustomerDetailPage
@if (!string.IsNullOrEmpty(Model.ErrMsg))
{
    <div style="height: 40px; font-size: 14px; margin-top: 15px; color: #555555">Customer not found...</div>
}
else
{
    <div id="ajax-screen-masking">
        <div id="ajax-loader"></div>
    </div>
    <div style="padding: 10px;">
        <div class="portlet box blue">
            <div style="height: 30px; border-bottom: 0" class="portlet-title">
                <h4><span style="font-size: 18px; font-weight: bold">Auto topup : ON/OFF</span></h4>
            </div>
            <div class="portlet-body">
                <div id="btnPaymentProfileSettingsContainer" style="width: 100%; height: 40px;"></div>
                <div id="tblPaymentProfileContainer" style="min-height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                    <table class="table table-bordered table-hover" id="tblPaymentProfile"></table>
                </div>
            </div>
        </div>
    </div>
    
    <div id="PPMoreInfo" class="popup-message modal hide border-lightblue" style="width: 750px; height: 365px">
        <div class="modal-header background-lightblue" style="font-family: Arial">More Info</div>
        <div class="modal-body" style="height: 240px">
            <table class="table table-bordered" style="width: 100%">
                <thead>
                    <tr>
                        <th style="font-size: 12px">Payment Type</th>
                        <th style="font-size: 12px">Status</th>
                        <th style="font-size: 12px">Setup Date</th>
                        <th style="font-size: 12px">Last Date of Use</th>
                        <th style="font-size: 12px">Last Payment Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="font-size: 11px">
                        <td id="PPMoreInfo_PaymentType"></td>
                        <td id="PPMoreInfo_Status"></td>
                        <td id="PPMoreInfo_SetupDate"></td>
                        <td id="PPMoreInfo_LastDateOfUse"></td>
                        <td id="PPMoreInfo_LastPaymentAmount"></td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-top: 15px; width: 100%;">
                <tr style="height: 30px">
                    <td colspan="2" style="font-weight: bold; width: 130px; font-size: 14px; text-decoration: underline">Card Details</td>
                    <td style="width: 25px">&nbsp;</td>
                    <td colspan="2" style="font-weight: bold; width: 100px; font-size: 14px; text-decoration: underline">Address Info</td>
                </tr>
                <tr style="height: 30px">
                    <td style="font-weight: bold; vertical-align: bottom; width: 130px">Name of Card Holder</td>
                    <td id="PPMoreInfo_CardHolder" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom; width: 180px;"></td>
                    <td>&nbsp;</td>
                    <td style="font-weight: bold; vertical-align: bottom; width: 100px">Street</td>
                    <td id="PPMoreInfo_Street" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                </tr>
                <tr style="height: 30px">
                    <td style="font-weight: bold; vertical-align: bottom">Card Type</td>
                    <td id="PPMoreInfo_CardType" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                    <td>&nbsp;</td>
                    <td style="font-weight: bold; vertical-align: bottom">City</td>
                    <td id="PPMoreInfo_City" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                </tr>
                <tr style="height: 30px">
                    <td style="font-weight: bold; vertical-align: bottom">Card Number</td>
                    <td id="PPMoreInfo_CardNumber" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                    <td>&nbsp;</td>
                    <td style="font-weight: bold; vertical-align: bottom">Country</td>
                    <td id="PPMoreInfo_Country" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                </tr>
                <tr style="height: 30px">
                    <td style="font-weight: bold; vertical-align: bottom">Expire Date</td>
                    <td id="PPMoreInfo_ExpireDate" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                    <td>&nbsp;</td>
                    <td style="font-weight: bold; vertical-align: bottom">Post Code</td>
                    <td id="PPMoreInfo_PostCode" style="border-bottom: 1px dotted #c0c0c0; vertical-align: bottom"></td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnPPMoreInfoOK" style="float: right; width: 100px;">OK</button>
        </div>
    </div>
    
    <div id="PPSettings" class="popup-message modal hide border-lightblue" style="width: 550px; height: 225px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Auto Top-Up Settings</div>
        <div class="modal-body" style="height: 100px">
            <table style="width: 100%; margin-top: 15px;">
                <tbody>
                    <tr>
                        <td style="font-size: 12px; width: 140px">Auto Top-Up Status</td>
                        <td style="width: 130px">
                            <select id="selectTopupStatus" style="width: 110px">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </td>
                        <td style="font-size: 12px; width: 85px">Payment Type</td>
                        <td style="width: 120px">
                            <select id="selectPaymentType" style="width: 170px; font-size: 12px">
                                <option value="1">Credit Card</option>
                                <option value="2">Paypal</option>
                                <option value="3">Amazon</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="font-size: 11px">
                        <td style="font-size: 12px">Auto Top-Up Amount</td>
                        <td>
                            <select id="selectTopupAmount" style="width: 110px">
                                <option value="50">&pound;50</option>
                                <option value="30">&pound;30</option>
                                <option value="20">&pound;20</option>
                                <option value="10">&pound;10</option>
                            </select>
                        </td>
                        @*<td>&nbsp;</td>
                        <td>&nbsp;</td>*@
                        <td style="font-size: 12px; width: 85px">Select Card</td>
                        <td style="width: 120px">
                            <select id="selectCardList" style="width: 170px; font-size: 12px"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer" style="text-align: center">
            <button class="btn blue" type="button" id="btnPPSettingsConfirm" style="width: 100px;">Confirm</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnPPSettingsCancel" style="width: 100px; margin-left: 10px">Cancel</button>
        </div>
    </div>
    
    <div id="PPSettingsConfirm" class="popup-message modal hide border-lightblue" style="width: 300px; height: 150px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Auto Top-Up Settings</div>
        <div class="modal-body" style="height: 45px">
            Are you sure you want to save these settings?
        </div>
        <div class="modal-footer" style="text-align: center">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnPPSettingsConfirmYes" style="width: 100px;">Yes</button>
            <button class="btn blue" type="button" id="btnPPSettingsConfirmCancel" style="width: 100px; margin-left: 10px">Cancel</button>
        </div>
    </div>
    
    <div id="PPSetDefaultProfile" class="popup-message modal hide border-lightblue" style="width: 450px; height: 150px">
        <div class="modal-header background-lightblue" style="font-family: Arial">Default Payment Profile</div>
        <div class="modal-body" style="height: 45px">
            <input type="hidden" id="PPSDPLastCCNumber" name="PPSDPLastCCNumber" />
            <input type="hidden" id="PPSDPLastSelectedProfile" name="PPSDPLastSelectedProfile" />
            Are you sure do you want to change your default payment profile?<br />
            Please be aware that your bills will be paid via this default payment profile.
        </div>
        <div class="modal-footer" style="text-align: center">
            <button data-dismiss="modal" class="btn blue" type="button" id="btnPPSetDefaultProfileConfirm" style="width: 100px;">Confirm</button>
            <button data-dismiss="modal" class="btn blue" type="button" id="btnPPSetDefaultProfileCancel" style="width: 100px; margin-left: 10px">Cancel</button>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
}