﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Customer Detail";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <div style="width:180px;float:left;margin-top:5px">
                    <h4><div style="font-size:18px;font-weight:bold">Details</div></h4>
                </div>
                <div style="float:left;margin-top:4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/Customer/_DetailHeaderButton.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        @if (Model.ActiveTab == "TabCallHistory_v1")
                        {
                            @Html.Partial("~/Views/Customer/_TabCallHistory_v1.cshtml")
                        }
                        <!--BEGIN TABS-->
                        @*<div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
                                <li id="litab0"><a id="aTabCallHistory" href="javascript:void(0)">Call History</a></li>
                            </ul>
                            <!-- End Header Tabs -->
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_1_0">
                                
                                    
                                </div>
                            </div>
                        </div>*@
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*  *@
@section ScriptsTab {
    @if (Model.ActiveTab == "TabCallHistory_v1")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.callhistory_v1.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                var startdate = convertDate01($("input#lastdate1").val());
                var enddate = convertDate01($("input#lastdate2").val());
                var historyType = $("select[name=selectHistoryType] option:selected").val();
                $("input[name=hStartDate]").val(convertDate01($("input#lastdate1").val()));
                $("input[name=hEndDate]").val(convertDate01($("input#lastdate2").val()));
                $("input[name=hHistoryType]").val($("select[name=selectHistoryType] option:selected").val());
                var mobileno = $.trim('@ViewBag._mobileno');
                var Iccid = $.trim('@ViewBag._iccid');
                var Sitecode = $.trim('@ViewBag._sitecode');
                //MOdif by karthik Jira CRMT-198
                var Packageid = "";
                AllHistory(mobileno, Iccid, Sitecode, startdate, enddate, Packageid);

                $("#btnSearchHistory").live("click", function(){
                    $("#chFilterResultContainer").show();
                    //Testing 
                    var startdate = convertDate01($("input#lastdate1").val());
                    var enddate = convertDate01($("input#lastdate2").val());
                    var historyType = $("select[name=selectHistoryType] option:selected").val();
                    $("input[name=hStartDate]").val(convertDate01($("input#lastdate1").val()));
                    $("input[name=hEndDate]").val(convertDate01($("input#lastdate2").val()));
                    $("input[name=hHistoryType]").val($("select[name=selectHistoryType] option:selected").val());
                    var mobileno = $.trim('@ViewBag._mobileno');
                    var Iccid = $.trim('@ViewBag._iccid');
                    var Sitecode = $.trim('@ViewBag._sitecode');
                    //MOdif by karthik Jira CRMT-198
                    var Packageid = "";
                    switch (historyType) {
                        case '0':
                            AllHistory(mobileno, Iccid, Sitecode, startdate, enddate, Packageid);
                            break;
                        case '1':
                            CallHistory(mobileno, Iccid, Sitecode, startdate, enddate, Packageid);
                            break;
                        case '2':
                            TextHistory(mobileno, Iccid, Sitecode, startdate, enddate, Packageid);
                            break;
                        case '3':
                            DataHistory(mobileno, Iccid, Sitecode, startdate, enddate, Packageid);
                            break;
                        //CRM Enhancement 2
                        case '4':
                            GetExcessUsage(mobileno, Iccid, Sitecode, startdate, enddate, Packageid);
                            break;
                    }
                });

                //25-Jan-2019 : Moorthy : Added for View Prefix
                $("#btnViewPrefix").live("click", function () {
                    $("#pbCHViewPrefix").html("").append("<table class=\"table table-bordered table-hover\" id=\"tblCHViewPrefix\"></table>");
                    $("#pbCHViewPrefix").css({ "min-height": "100px", "background-image": "url('/Assets/Main/img/ajaxloader-02.gif')" });
                    var url = apiServer + '/api/cdr_v1/';
                    jQuery.support.cors = true;
                    var JSONSendData = {
                        HistoryType: 6,
                    };

                    $.ajax
                    ({
                        url: url,
                        type: 'post',
                        data: JSON.stringify(JSONSendData),
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        cache: false,
                        success: function (feedback) {
                            $("#pbCHViewPrefix").css({ "background-image": "none" });
                            $('#tblCHViewPrefix').dataTable({
                                bDestroy: true,
                                bRetrieve: true,
                                aaData: feedback,
                                bPaginate: false,
                                bFilter: true,
                                bInfo: false,
                                bSorting: false,
                                oLanguage: {
                                    "sInfoEmpty": '',
                                    "sEmptyTable": "No Data Available."
                                },
                                aaSorting: [],
                                aoColumns: [
                                    { mDataProp: "name", sTitle: "Country Name", sWidth: "150px" },
                                    { mDataProp: "phonecode", sTitle: "Prefix Code", sWidth: "100px" }
                                ]
                            });
                            $('#PopupCHViewPrefix').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                        },
                        error: function (feedback) {
                            $("#pbCHViewPrefix").css({ "background-image": "none" }).html("").append("No Data Available.").show();
                        }
                    });
                });

                $("button#btnExportCDRHistory").live("click", function () {
                    var url = '/Download/DownloadCDRHistory';
                    var ajaxSpinnerTop = ($(window).outerHeight() / 2) + $(window).scrollTop();
                    $("#ajax-screen-masking #ajax-loader").css({ "margin-top": ajaxSpinnerTop + "px" });
                    $("#ajax-screen-masking").css({ "height": $(document).outerHeight() + "px" });
                    $("#ajax-screen-masking #downloadIFrame").remove();

                    var startDate = $("input[name=hStartDate]").val();
                    var endDate = $("input[name=hEndDate]").val();
                    var historyType = $("input[name=hHistoryType]").val();
                    var mobileno = $.trim('@ViewBag._mobileno');
                    var Iccid = $.trim('@ViewBag._iccid');
                    var Sitecode = $.trim('@ViewBag._sitecode');
                    //MOdif by karthik Jira CRMT-198
                    var Packageid = "";

                    var IFrameURL = "";
                    switch (historyType) {
                        case '0':
                            var JSONSendData = {
                                mobileno: mobileno,
                                Iccid: Iccid,
                                HistoryType: 0,
                                Sitecode: Sitecode,
                                Date_From: startDate,
                                Date_To: endDate,
                                //modif by karthik Jira CRMT-198
                                Packageid: Packageid
                            };
                            break;
                        case '1':
                            var JSONSendData = {
                                mobileno: mobileno,
                                Iccid: Iccid,
                                HistoryType: 1,
                                Sitecode: Sitecode,
                                Date_From: startDate,
                                Date_To: endDate,
                                //modif by karthik Jira CRMT-198
                                Packageid: Packageid
                            };
                            break;
                        case '2':
                            var JSONSendData = {
                                mobileno: mobileno,
                                Iccid: Iccid,
                                HistoryType: 2,
                                Sitecode: Sitecode,
                                Date_From: startDate,
                                Date_To: endDate,
                                //modif by karthik Jira CRMT-198
                                Packageid: Packageid
                            };
                            break;
                        case '3':
                            var JSONSendData = {
                                mobileno: mobileno,
                                Iccid: Iccid,
                                HistoryType: 3,
                                Sitecode: Sitecode,
                                Date_From: startDate,
                                Date_To: endDate,
                                //modif by karthik Jira CRMT-198
                                Packageid: Packageid
                            };
                            break;
                        case '4':
                            var JSONSendData = {
                                mobileno: mobileno,
                                Iccid: Iccid,
                                HistoryType: 7,
                                Sitecode: Sitecode,
                                Date_From: startDate,
                                Date_To: endDate,
                                Packageid: Packageid
                            };
                            break;
                    }

                    $.ajax
                    ({
                        url: url,
                        type: 'post',
                        data: JSON.stringify(JSONSendData),
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        cache: false,
                        beforeSend: function () {
                            $("#ajax-screen-masking").show();
                        },
                        success: function (feedback) {
                            if (feedback.errcode == 0) {
                                var IFrameData = $('<iframe/>', { id: 'downloadIFrame', src: '/Download/GoDownloadCDRHistory?id=' + feedback.Text + '&historyName=' +feedback.errmsg, style: 'display:none' });
                                $("#ajax-screen-masking").append(IFrameData);
                            }
                            $("#ajax-screen-masking").hide();
                        }
                    });
                });
            });

        </script>
    }
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        
        ActivateTopbarMenu(2);

        var currentURl = window.location.pathname;
        var splitURL = currentURl.split('/');
        var sim = splitURL[3].split('-')[1];

        if($.trim(splitURL[2]).toLowerCase() === 'tabcallhistory_v1'){
            $("ul.ultab li").removeClass("active");
            $("div.tab-content div").removeClass("active");
            $("li#litab0").addClass("active");
            $("#tab_1_0").addClass("active");
            $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
            $("a#detailCallHistory").removeClass("lightblue").addClass("white");
        }
        /* detail Order */
        $("a#detailOrder").live("click", function () {
            window.location = '/Customer/OrderManagement/' + $.trim('@ViewBag._mobileno') + "-" + sim;
        });
        ActionDetailHeaderButtons(4, $.trim('@ViewBag._mobileno'), sim);

                
        //CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
        CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

    });
</script>
}