﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Customer Detail";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Details</div>
                    </h4>
                </div>
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/Customer/_DetailHeaderButton.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        @if (Model.ActiveTab == "TabIssuesTracking")
                        {
                            @Html.Partial("~/Views/Customer/_TabIssuesTracking.cshtml")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsTab {
    @if (Model.ActiveTab == "TabIssuesTracking")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.issuestracking.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                //CRM Enhancement 2
                ITViewAllIssues($.trim('@ViewBag._subscriberid'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._mobileno'));
                //History
                $("#itPWDIHistory").click(function () {
                    $("#ajax-screen-masking").show();
                    var sitecode = $.trim('@ViewBag._sitecode'); 
                    var problemid = $("#itPWDIIssueID")[0].innerText;
                  
                   
                    //$('#HistoryContainer').modal({ keyboard: false, backdrop: 'static' }).css({
                    //      'margin-left': function () {
                    //          return window.pageXOffset - ($(this).width() / 2);
                    //      }
                    //  });
                   
                    $("#HistoryContainerBody").html("").append("<table class=\"table table-bordered\" id=\"tblitPWDIHistory\"></table>");
                      var url = apiServer + '/api/ItPWDIHistory';
                      jQuery.support.cors = true;
                      var JSONSendData = {
                          problemid: problemid,
                          Sitecode: sitecode,
                      };
                      $.ajax
                      ({
                          url: url,
                          type: 'post',
                          data: JSON.stringify(JSONSendData),
                          dataType: 'json',
                          contentType: "application/json;charset=utf-8",
                          cache: false,
                          beforeSend: function () {
                              $("#ajax-screen-masking").show();
                          },
                          success: function (feedback) {
                              $("#ajax-screen-masking").hide();
                              $('#tblitPWDIHistory').dataTable({
                                  bDestroy: true,
                                  bRetrieve: true,
                                  aaData: feedback,
                                  bPaginate: true,
                                  bFilter: false,
                                  bInfo: false,
                                  iDisplayLength: 10,
                                  aaSorting: [],
                                  oLanguage: {
                                      "sInfoEmpty": '',
                                      "sEmptyTable": "No customer found."
                                  },
                                  aoColumns: [
                                       {
                                           mDataProp: "submitdate_string", sTitle: "Submit date",
                                           fnRender: function (ob) {
                                               return ob.aData.submitdate_string;
                                           }
                                       },
                                    {
                                        mDataProp: "submitby", sTitle: "Submitby",
                                        fnRender: function (ob) {
                                            return ob.aData.submitby;
                                        }
                                    },
                                    { mDataProp: "problemdesc", sTitle: "Problem description" },
                                    { mDataProp: "typedesc", sTitle: "Type description" },
                                    { mDataProp: "Dead_Call_Status", sTitle: "Dead Call Status" },
                                    { mDataProp: "esclated_to", sTitle: "Esclated to" },
                                    { mDataProp: "contact_type", sTitle: "Contact type" },
                                   // { mDataProp: "Email", sTitle: "Email" },
                                    { mDataProp: "Category", sTitle: "Category" },
                                    { mDataProp: "Sub_category", sTitle: "Sub category" },
                                    { mDataProp: "Status", sTitle: "Status" },
                                    { mDataProp: "Interval", sTitle: "Interval" },
                                    { mDataProp: "priority", sTitle: "Priority" }
                                  ],
                                  fnDrawCallback: function (ob) {

                                  }
                              });

                          },
                          error: function (feedback) {
                              $("#ajax-screen-masking").hide();
                          }
                      });
                  });
                //New Issue
                $("button#btnITNewIssue").live("click", function () {
                    //Contact list
                    var ContactList = new Array("Inbound", "Outbound", "Email", "Escalation Call", "Social Media");
                    var strContact = "";
                    $("select[name=itPWNIcontacttype]").html("");//.append("<option value=\"-1\" selected>---Select---</option>");
                    $.each(ContactList, function (key, value) {
                        strContact += "<option value=\"" + key + "\" Text=\"" + value + "\">" + value + "</option>";
                    });
                    $("select[name=itPWNIcontacttype]").append(strContact);

                    var priorityList = new Array("Critical", "High", "Medium", "Low");
                    var strpriority = "";
                    $("select[name=itPWNIPriority]").html("");//.append("<option value=\"-1\" selected>---Select---</option>");
                    $.each(priorityList, function (key, value) {
                        strpriority += "<option value=\"" + key + "\" Text=\"" + value + "\">" + value + "</option>";
                    });
                    $("select[name=itPWNIPriority]").append(strpriority);



                    //Status list
                    //var StatusList = new Array("Resolved", "JIRA Created", "Follow Up JIRA", "Call Back Arranged ", "Ongoing Issue");
                    var StatusList = new Array("Resolved", "Escalate to Team", "Call Back Arranged ", "Ongoing Issue");
                    var Status = "";
                    $("select[name=itPWNIStatus]").html("").append("<option value=\"-1\" selected>---Select---</option>");
                    $.each(StatusList, function (key, value) {
                        Status += "<option value=\"" + key + "\" Text=\"" + value + "\">" + value + "</option>";
                    });
                    $("select[name=itPWNIStatus]").append(Status);


                    //Interval  list
                    var IntervalList = new Array("5 mins","10 mins","15 mins","20 mins","25 mins","30 mins","35 mins","40 mins","45 mins", "1 hr", "2 hr", "5 hr", "12 hr", "24 hr", "48 hr", "72 hr");
                    var IntervalStatus = "";
                    $("select[name=itPWNIInterval]").html("").append("<option value=\"-1\" selected>---Select---</option>");
                    $.each(IntervalList, function (key, value) {
                        IntervalStatus += "<option value=\"" + key + "\" Text=\"" + value + "\">" + value + "</option>";
                    });
                    $("select[name=itPWNIInterval]").append(IntervalStatus);

                    var Issue_Id = $("select[name=itPWNISelectIssueType3] option:selected").val();
                    var problemcategorytype = $("select[name=itPWNISelectIssueType1] option:selected").val();
                    var categorytypename = $("select[name=itPWNISelectIssueType1] option:selected").text();
                    var categorytypename = $("select[name=itPWNISelectIssueType1] option:selected").text();

                    var Issue_Id = "";
                    var Function_Id = "";
                    ITGetProblemCategory1(true, $.trim('@ViewBag._sitecode'), Issue_Id, Function_Id, "");
                    FillEscalationTeam();
                    FillAssignedTo();
                    FillPriority($.trim('@ViewBag._sitecode'));

                    $('#itPWNewIssue').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                $("select[name=itPWNISelectIssueType3]").live("change", function () {
                    var Issue_Id = $("select[name=itPWNISelectIssueType3] option:selected").val();
                    ITGetDetailProblem1(true, $.trim('@ViewBag._sitecode'), Issue_Id, "", "");
                });

                $("select[name=itPWNISelectIssueType2]").live("change", function () {
                    var Function_Id = $("select[name=itPWNISelectIssueType2] option:selected").val();
                    ITGetDetailProblem2(true, Function_Id, $.trim('@ViewBag._sitecode'));
                });

                $("#itPWNIStatus").change(function () {
                    var isvalid = validateproduct();
                    var value = $("#itPWNIStatus").val();
                    $("#btnNISendMail").hide();
                    if (value == "1") {
                        //Escalate To Team
                        $("#itPWNIEscalatingTeam").attr("disabled", false);
                        $("#btnNISendMail").show();
                        $("#itPWNIInterval").attr("disabled", true);
                        $("select[name=itPWNIInterval]").val("-1");
                    }
                    else if (value == "2") {
                        //Call back arranged
                        $("#itPWNIInterval").attr("disabled", false);
                        $("#itPWNIEscalatingTeam").attr("disabled", true);
                        $("select[name=itPWNIEscalatingTeam]").val("-1");
                    }
                    else {
                        $("#itPWNIInterval").attr("disabled", true);
                        $("#itPWNIEscalatingTeam").attr("disabled", true);
                        $("select[name=itPWNIEscalatingTeam]").val("-1");
                        $("select[name=itPWNIInterval]").val("-1");
                    }
                });

                $("button#btnNISendMail").live("click", function () {
                    if ($("textarea[name=itPWNITAIssueDesc]").val().trim() != "") {
                        if ($("#itPWNIEscalatingTeam").val() != -1) {
                            EscalateSendEmail($.trim('@ViewBag._mobileno'), $("textarea[name=itPWNITAIssueDesc]").val(), 1);
                        }
                        else {
                            alert("Select Escalation Team!");
                        }
                    }
                    else {
                        alert("Enter Description!");
                    }
                });

                $("button#btnitPWNICopytoClipboard").live("click", function () {
                    var Call_type = $("#itPWNISelectIssueType3 option:selected").text();
                    var Sub_type = $("#itPWNISelectIssueType2 option:selected").text();
                    var Category = $("#itPWNISelectIssueType1 option:selected").text();
                    var des = Call_type + ' ' + Sub_type + ' ' + Category
                    $("textarea[name=itPWNITAIssueDesc]").val(des);
                    $("#errmsgdescription").hide();
                });

                $("button#btnitPWNISave").live("click", function () {
                    if (validateproduct()) {
                        var problemcategorytype = $("select[name=itPWNISelectIssueType1] option:selected").val();
                        var problemtype = $("select[name=itPWNISelectIssueType2] option:selected").val();
                        var problemtype1 = $("select[name=itPWNISelectIssueType3] option:selected").val();
                        var problemdesc = $("textarea[name=itPWNITAIssueDesc]").val();
                        //var solutiondesc = $("textarea[name=itPWNITASolutionDesc]").val();
                        var solutiondesc = null;

                        var contact_type = $("#itPWNIcontacttype option:selected").text();

                        var Priority = $("#itPWNIPriority option:selected").text();

                        var Comp_Status = $("#itPWNIStatus option:selected").text();

                        var intreval = null;
                        var Esclated_To = null;
                        //CRM Enhancement 2
                        var interval_comment = $("textarea[name=itPWNITAIntervalDesc]").val();

                        var value = $("#itPWNIStatus").val();
                        if (value == "1") {
                            //Escalate To Team
                            Esclated_To = $("#itPWNIEscalatingTeam option:selected").text();
                        }
                        else if (value == "2") {
                            //Call back arranged
                            var selintreval = $("#itPWNIInterval option:selected").val();
                            if (selintreval == "-1") {
                                var intreval = "0 mins";
                            }
                            else {
                                var intreval = $("#itPWNIInterval option:selected").text();
                            }
                        }
                        var itPWNAssignedTo = $("#itPWNAssignedTo option:selected").attr('value')
                        var itPriority = $("#itPriority option:selected").attr('ctlvalue')

                        SaveNewIssue(
                            $.trim('@ViewBag._sitecode'),
                            $.trim('@ViewBag._mobileno'),
                            problemcategorytype,
                            problemtype,
                            problemtype1,
                            $.trim('@ViewBag._subscriberid'),
                            $.trim(problemdesc),
                            $.trim(solutiondesc),
                            '@ViewBag.UserName',
                            contact_type,
                            Comp_Status,
                            intreval,
                            null,
                            Esclated_To,
                            $.trim('@ViewBag._agentemailid'),
                            interval_comment ,//CRM Enhancement 2
                            Priority,
                            itPWNAssignedTo,
                            itPriority
                        );
                        }
                });

                $("button#btnITDeadIssue").live("click", function () {
                    SaveDeadIssue($.trim('@ViewBag._subscriberid'), $.trim('@ViewBag._mobileno'), '@ViewBag.UserName', $.trim('@ViewBag._sitecode'));
                });

                $("button#btnitPWNIClear").live("click", function () {
                    var Issue_Id = "";
                    var Function_Id = "";
                    ITGetProblemCategory1(true, $.trim('@ViewBag._sitecode'), Issue_Id, Function_Id, "");
                    ITClearAllFields();
                });

                /* ISSUE DETAIL */
                $("button.btnITDetailIssue").live("click", function () {
                    var ProblemID = $.trim($(this).attr("alt"));
                    var Esclated_To = $(this).attr("esclated_to");
                    ITDetailIssue(ProblemID, $.trim('@ViewBag._sitecode'), Esclated_To);
                });

                /* UPDATE ISSUE */
                $("button.btnITUpdateIssue").live("click", function () {debugger
                    var ProblemID = $.trim($(this).attr("alt"));
                    var issue_id = $(this).attr("issue_id");
                    var Function_Id = $(this).attr("Function_Id");
                    var Complaint_Id = $(this).attr("Complaint_Id");
                    var Esclated_To = $(this).attr("esclated_to");


                    $("#hidValiIssueID").val(issue_id);
                    $("#hidValiFunctionid").val(Function_Id);
                    $("#hidValiComplianid").val(Complaint_Id);
                    $("#hidValiEsclatedTo").val(Esclated_To);

                    FillAssignedToUpdate();
                    FillPriorityUpdate('@ViewBag.sitecode');

                    ITUpdateIssueGet(ProblemID, $.trim('@ViewBag._sitecode'), issue_id, Function_Id, Complaint_Id, Esclated_To);
                });

                $("#itPWUIStatus").change(function () {
                    var isvalid = validateproduct1();
                    var value = $("#itPWUIStatus").val();
                    if (value == "1") {
                        //Escalate To Team
                        $("#itPWUIEscalatingTeam").attr("disabled", false);
                        $("#itPWUIInterval").attr("disabled", true);
                    }
                    else if (value == "2") {
                        //Call back arranged
                        $("#itPWUIInterval").attr("disabled", false);
                        $("#itPWUIEscalatingTeam").attr("disabled", true);
                    }
                    else {
                        $("#itPWUIInterval").attr("disabled", true);
                        $("#itPWUIEscalatingTeam").attr("disabled", true);
                    }
                });

                $("select[name=itPWUISelectIssueType3]").live("change", function () {
                    var Issue_Id = $("select[name=itPWUISelectIssueType3] option:selected").val();
                    var Function_Id = $("select[name=itPWUISelectIssueType2] option:selected").val();
                    ITGetDetailProblem1(false, $.trim('@ViewBag._sitecode'), Issue_Id, Function_Id);
                });

                $("select[name=itPWUISelectIssueType2]").live("change", function () {
                    var Function_Id = $("select[name=itPWUISelectIssueType2] option:selected").val();
                    ITGetDetailProblem2(false, Function_Id, $.trim('@ViewBag._sitecode'));
                });

                $("button#btnitPWUICopytoClipboard").live("click", function () {
                    var Call_type = $("#itPWUISelectIssueType3 option:selected").text();
                    var Sub_type = $("#itPWUISelectIssueType2 option:selected").text();
                    var Category = $("#itPWUISelectIssueType1 option:selected").text();
                    var des = Call_type + ' ' + Sub_type + ' ' + Category
                    $("textarea[name=itPWUITAIssueDesc]").val(des);
                });

                $("button#btnITPWUISave").live("click", function () {
                    var issue_id = $("#hidValiIssueID").val();
                    var Function_Id = $("#hidValiFunctionid").val();
                    var Complaint_Id = $("#hidValiComplianid").val();

                    if (issue_id == "null" && Function_Id == "null" && Complaint_Id == "null") {
                        var mode = 1;
                    }
                    else {
                        var mode = 2;
                    }

                    var problemcategorytype = $("select[name=itPWUISelectIssueType3] option:selected").val();
                    var problemtype = $("select[name=itPWUISelectIssueType2] option:selected").val();
                    var problemtype1 = $("select[name=itPWUISelectIssueType1] option:selected").val();
                    var problemdesc = $("textarea[name=itPWUITAIssueDesc]").val();
                    // var solutiondesc = $("textarea[name=itPWUITASolutionDesc]").val();
                    var ProblemID = $("#itPWUIIssueID").html();//$("input[name=IssueID]").val();

                    var solutiondesc = null;

                    var contact_type = $("#itPWUIcontacttype option:selected").text();;
                    var Comp_Status = $("#itPWUIStatus option:selected").text();

                    var intreval = null;
                    var Esclated_To = null;
                    var Assigned_To = null;
                    var itUPriority = null;
                    

                    //CRM Enhancement 2
                    var interval_comment = $("textarea[name=itPWUITAIntervalDesc]").val();

                    var value = $("#itPWUIStatus").val(); //$("#itPWUIStatus option:selected").text();
                    if (value == "1") {
                        //Escalate To Team
                        Esclated_To = $("#itPWUIEscalatingTeam option:selected").text();
                    }
                    else if (value == "2") {
                        //Call back arranged
                        var selintreval = $("#itPWUIInterval option:selected").val();
                        if (selintreval == "-1") {
                            intreval = "0 mins";
                        }
                        else {
                            intreval = $("#itPWUIInterval option:selected").text();
                        }
                    }

                 
                     
                    var Assigned_To = $("#itPWUIssignedTo option:selected").attr('value');
                    var itUPriority = $("#itUPriority option:selected").attr('ctlvalue');
                  

                    var isvalid = validateproduct1();
                    if (isvalid) {
                        ITUpdateIssueSave(
                           $.trim('@ViewBag._sitecode'),
                            $.trim('@ViewBag._mobileno'),
                            problemcategorytype,
                            problemtype,
                            problemtype1,
                            $.trim('@ViewBag._subscriberid'),
                            $.trim(problemdesc),
                            $.trim(solutiondesc),
                            '@ViewBag.UserName',
                            ProblemID,
                            contact_type,
                            Comp_Status,
                            intreval,
                            null,
                            mode,
                            Esclated_To,
                            interval_comment,
                            Assigned_To,
                            itUPriority
                        );
                        }
                });

                $(".btnPMSuccessOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        location.reload();
                        //window.location = '/Customer/TabIssuesTracking/' + $.trim('@ViewBag._mobileno');
                    }
                });

                $(".btnPMFailedOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        location.reload();
                        //window.location = '/Customer/TabIssuesTracking/' + $.trim('@ViewBag._mobileno');
                    } else if (attrAlt == 2) {
                        $(".PMFailed").hide();
                        $(".modal-backdrop").hide();
                    }
                });
            });
        </script>
    }
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            ActivateTopbarMenu(2);

            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            if ($.trim(splitURL[2]).toLowerCase() === 'tabissuestracking') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab0").addClass("active");
                $("#tab_1_0").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailIssuesTracking").removeClass("lightblue").addClass("white");
            }

            ActionDetailHeaderButtons(7, $.trim('@ViewBag._mobileno'), sim);

            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

        });
    </script>
}