﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Customer Detail";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <div style="width:180px;float:left;margin-top:5px">
                    <h4><div style="font-size:18px;font-weight:bold">Details</div></h4>
                </div>
                <div style="float:left;margin-top:4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/Customer/_DetailHeaderButton.cshtml")                    
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        @if (Model.ActiveTab == "TabAccountstatus")
                        {
                            @Html.Partial("~/Views/Customer/_TabAccountstatus.cshtml")
                            <button class="btn blue" type="button" onclick="failedMsg">Block Account</button>
                            <button class="btn blue" type="button" onclick="failedmsg">Reactivate Account</button> 
                            
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <div id="failedMsg" class="popup-message modal hide border-blue" style="width: 200px;">
       <div class="modal-header background-blue">
          Reverse Transaction - Select Reason
       </div>
       <div id="filesName" class="modal-body">         
       </div>
      </div>

@section ScriptsTab {
    @if (Model.ActiveTab == "TabAccountstatus")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.accountstatus.js"></script>
       <script type="text/javascript">
            $(document).ready(function () {

                ITViewAllIssues($.trim('@ViewBag._mobileno'),$.trim('@ViewBag._subscriberid'), $.trim('@ViewBag._sitecode'));
                /* NEW ISSUE */
                ITGetProblemCategory($.trim('@ViewBag._sitecode'));
               

                $("select[name=itPWNISelectIssueType1]").live("change", function () {
                    var problemcategorytype = $("select[name=itPWNISelectIssueType1] option:selected").val();
                    var categorytypename = $("select[name=itPWNISelectIssueType1] option:selected").text();
                    ITGetDetailProblem(true, problemcategorytype, categorytypename, $.trim('@ViewBag._sitecode'), "");
                });

                $("button#btnitPWNISave").live("click", function () {
                    var problemcategorytype = $("select[name=itPWNISelectIssueType1] option:selected").val();
                    var problemtype = $("select[name=itPWNISelectIssueType2] option:selected").val();
                    var problemdesc = $("textarea[name=itPWNITAIssueDesc]").val();
                    var solutiondesc = $("textarea[name=itPWNITASolutionDesc]").val();

                    SaveNewIssue(
                        $.trim('@ViewBag._sitecode'),
                        $.trim('@ViewBag._mobileno'),
                        problemcategorytype,
                        problemtype,
                        $.trim('@ViewBag._subscriberid'),
                        $.trim(problemdesc),
                        $.trim(solutiondesc),
                        '@ViewBag.UserName'
                    );
                });

                $("button#btnitPWNIClear").live("click", function () {
                    ITClearAllFields();
                });

                /* ISSUE DETAIL */
                $("button.btnITDetailIssue").live("click", function () {
                    var ProblemID = $.trim($(this).attr("alt"));
                    ITDetailIssue(ProblemID, $.trim('@ViewBag._sitecode'));
                });

                /* UPDATE ISSUE */
                $("button.btnITUpdateIssue").live("click", function () {
                    var ProblemID = $.trim($(this).attr("alt"));
                    ITUpdateIssueGet(ProblemID, $.trim('@ViewBag._sitecode'));
                });

                $("button#btnITPWUISave").live("click", function () {
                    var problemcategorytype = $("select[name=itPWUISelectIssueType1] option:selected").val();
                    var problemtype = $("select[name=itPWUISelectIssueType2] option:selected").val();
                    var problemdesc = $("textarea[name=itPWUITAIssueDesc]").val();
                    var solutiondesc = $("textarea[name=itPWUITASolutionDesc]").val();
                    var ProblemID = $("input[name=IssueID]").val();

                    ITUpdateIssueSave(
                        $.trim('@ViewBag._sitecode'),
                        ProblemID,
                        problemcategorytype,
                        problemtype,
                        $.trim(problemdesc),
                        $.trim(solutiondesc)
                    );                 
                });

                $("select[name=itPWUISelectIssueType1]").live("change", function () {
                    var problemcategorytype = $("select[name=itPWUISelectIssueType1] option:selected").val();
                    var categorytypename = $("select[name=itPWUISelectIssueType1] option:selected").text();
                    ITGetDetailProblem(false, problemcategorytype, categorytypename, $.trim('@ViewBag._sitecode'), "");
                });

                $(".btnPMSuccessOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        window.location = '/Customer/TabAccountstaus/' + $.trim('@ViewBag._mobileno');
                    }
                });
                $(".btnPMFailedOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        window.location = '/Customer/TabAccountstaus/' + $.trim('@ViewBag._mobileno');
                    } else if (attrAlt == 2) {
                        $(".PMFailed").hide();
                        $(".modal-backdrop").hide();

                        $('#itPWNewIssue').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });

                    }
                });
            });
        </script>
    }
}

@section Scripts {
<script type="text/javascript">
    $(document).ready(function ()
    {      
        ActivateTopbarMenu(8);
        var currentURl = window.location.pathname;
        var splitURL = currentURl.split('/');
        var sim = splitURL[3].split('-')[1];

        if ($.trim(splitURL[2]).toLowerCase() === 'tabaccountstatus') {
           
            $("ul.ultab li").removeClass("active");
            $("div.tab-content div").removeClass("active");
            $("li#litab0").addClass("active");
            $("#tab_1_0").addClass("active");
            $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
            $("a#detailAccountStatus").removeClass("lightblue").addClass("white");
        }
        /* detail Order */
        $("a#detailOrder").live("click", function () {
            window.location = '/Customer/TabAccountstatus/' + $.trim('@ViewBag._mobileno') + "-" + sim;
        });
        ActionDetailHeaderButtons(6, $.trim('@ViewBag._mobileno'), sim);
        CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

    });



  
</script>
}