﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Customer Detail";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Details</div>
                    </h4>
                </div>
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/Customer/_DetailHeaderButton.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
                                <li id="litab0"><a id="aTabTopupHistory" href="javascript:void(0)">History</a></li>
                                <li id="litab1"><a id="aTabAutoTopup" href="javascript:void(0)">Auto Topup</a></li>
                                <li id="litab2"><a id="aTabPaymentHistoryPAYG" href="javascript:void(0)">Payment History PAYG</a></li>
                                <li id="litab3"><a id="aTabPaymentProfile" href="javascript:void(0)">Payment Profile</a></li>
                                <!-- CRMT-232  Total Usage History -->
                                <li id="litab4"><a id="aTabTotalUsageHistory" href="javascript:void(0)">Total Usage History</a></li>
                                <!-- 25-Feb-2019 : Moorthy : CRMIMP-18 - Daily usage history -->
                                <li id="litab5"><a id="aTabDailyUsageHistory" href="javascript:void(0)">Daily Usage History</a></li>
                                <!-- 01-Mar-2019 : Moorthy : CRMIMP-21 - Chargeback Tab -->
                                <li id="litab6"><a id="aTabChargeback" href="javascript:void(0)">Chargeback</a></li>
                            </ul>
                            <!-- End Header Tabs -->
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_1_0">
                                    @if (Model.ActiveTab == "TabTopupHistory")
                                    {
                                        @Html.Partial("~/Views/Customer/_TabTopupHistory.cshtml")
                                    }

                                </div>
                                <div class="tab-pane" id="tab_1_1">
                                    @if (Model.ActiveTab == "TabAutoTopup")
                                    {
                                        @Html.Partial("~/Views/Customer/_TabAutoTopup.cshtml")
                                    }

                                </div>
                                <div class="tab-pane" id="tab_1_2">
                                    @if (Model.ActiveTab == "TabPaymentHistoryPAYG")
                                    {
                                        
                                        
                                        @Html.Partial("~/Views/Customer/_TabPaymentHistoryPAYG.cshtml")
                                    
                                    }

                                </div>
                                <div class="tab-pane" id="tab_1_3">
                                    @if (Model.ActiveTab == "TabPaymentProfile")
                                    {
                                        @Html.Partial("~/Views/Customer/_TabPaymentProfile.cshtml")
                                    }

                                </div>
                                <!-- CRMT-232  Total Usage History -->
                                <div class="tab-pane" id="tab_1_4">
                                    @if (Model.ActiveTab == "TabTotalUsageHistory")
                                    {
                                        @Html.Partial("~/Views/Customer/_TabTotalUsageHistory.cshtml")
                                    }

                                </div>
                                <!-- 25-Feb-2019 : Moorthy : CRMIMP-18 - Daily usage history -->
                                <div class="tab-pane" id="tab_1_5">
                                    @if (Model.ActiveTab == "TabDailyUsageHistory")
                                    {
                                        @Html.Partial("~/Views/Customer/_TabDailyUsageHistory.cshtml")
                                    }

                                </div>
                                <!-- 01-Mar-2019 : Moorthy : CRMIMP-21 - Chargeback Tab -->
                                <div class="tab-pane" id="tab_1_6">
                                    @if (Model.ActiveTab == "TabChargeback")
                                    {
                                        @Html.Partial("~/Views/Customer/_TabChargeback.cshtml")
                                    }

                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsTab {
    @if (Model.ActiveTab == "TabTopupHistory")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.topuphistory.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var startdate = convertDate01($("input#lastdate1").val());
                var enddate = convertDate01($("input#lastdate2").val());
                var Msisdn = $.trim('@ViewBag._mobileno');
                var Iccid = $.trim('@ViewBag._iccid');
                var Sitecode = $.trim('@ViewBag._sitecode');
                TopupHistory(Msisdn, Iccid, Sitecode, startdate, enddate);
                $("#pthFilterResultContainer").show();
                $("#btnSearchPaymentHistory").live("click", function () {
                    $("#pthFilterResultContainer").show();
                    var startdate = convertDate01($("input#lastdate1").val());
                    var enddate = convertDate01($("input#lastdate2").val());
                    var Msisdn = $.trim('@ViewBag._mobileno');
                    var Iccid = $.trim('@ViewBag._iccid');
                    var Sitecode = $.trim('@ViewBag._sitecode');
                    TopupHistory(Msisdn, Iccid, Sitecode, startdate, enddate);
                });
            });
        </script>
    }
    else if (Model.ActiveTab == "TabAutoTopup")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.autotopup.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var Msisdn = $.trim('@ViewBag._mobileno');
                var Sitecode = $.trim('@ViewBag._sitecode');
                var Iccid = $.trim('@ViewBag._iccid');
                var gProductCode = $.trim('@ViewBag._productcode');
                InfoAutoTopup(Msisdn, Sitecode, Iccid);

                $("#btnPHAutoTopupCancel").live("click", function () {
                    CancelAutoTopup(Msisdn, Sitecode, Iccid, $(".username").html());
                });

                $(".btnPMSuccessOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        window.location.reload();
                    }
                });
                $(".btnPMFailedOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        window.location.reload();
                    }
                });

            });
        </script>
    }
    else if (Model.ActiveTab == "TabPaymentHistoryPAYG")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.paygpaymenthistory.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.canceltopup.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                var query = window.location.search.substring(1);

                var vars = query.split("&");
                if (vars != "") {

                    var fullid = '@Request["merid"]';
                    $('#tblPHPAYGFilterResult_length').css('dispaly', 'none');
                    getPaymentID(fullid);

                    @* if (Request["merid"] != "") {
                        getPaymentID('@Request["merid"].ToString()');
                    }*@
                   @* getPaymentID('@Request["merid"].ToString()');*@
                }
                else {

                    $("#btnSearchPaymentHistoryPAYG").live("click", function () {

                        $("#phpaygFilterResultContainer").show();
                        var MobileNo = $.trim('@ViewBag._mobileno');
                        var Sitecode = $.trim('@ViewBag._sitecode');
                        var user_role = $.trim('@ViewBag._user_role');

                        var Decision = $("select[name=selectHistoryStatus] option:selected").val();
                        var PaymentMethod = $("select[name=selectHistoryPaymentMethod] option:selected").val();
                        var PaymentType = $("select[name=selectHistoryPaymentType] option:selected").val();

                        var startdate = convertDate05($("input#lastdate1").val());
                        var enddate = convertDate05($("input#lastdate2").val());
                        //var startdate = "2014-01-01";
                        //var enddate = "2014-07-30";
                        PaymentHistoryPAYG(MobileNo, Decision, PaymentMethod, PaymentType, startdate, enddate, user_role);
                        //PaymentHistoryPAYG(MobileNo, Sitecode)
                    });

                    $(".btnPHPAYGMoreInfo").live("click", function () {


                        var dataInfo = $(this).attr("data-info");
                        var dataInfoSplit = dataInfo.split("|");

                        $('#PHPAYGMoreInfo').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                        var PopupTitle = $(this).attr("data-pt");
                        $('#PHPAYGMoreInfo span#PHPAYGMoreInfoTitle').html(PopupTitle);

                        $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_PaymentDate").html(convertDateISOCustom(dataInfoSplit[0], 1));
                        $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_PaymentType").html(convertNulltoEmptyString(dataInfoSplit[1]));
                        $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_PaymentMethod").html(convertNulltoEmptyString(dataInfoSplit[2]));
                        $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_TransactionID").html(convertNulltoEmptyString(dataInfoSplit[3]));
                        $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_PaymentAmount").html(convertNulltoEmptyString(dataInfoSplit[4]));
                        $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_Status").html(convertNulltoEmptyString(dataInfoSplit[5]));
                        $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_CRMUser").html(convertNulltoEmptyString(dataInfoSplit[6]));
                        if ($.trim(dataInfoSplit[2]).toLowerCase() == 'credit transfer') {
                            $("#PHPAYGMoreInfo table#CreditTransferInfo").show();
                            $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_MobileNo").html(convertNulltoNA(dataInfoSplit[7]));
                            $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_Operator").html(convertNulltoNA(dataInfoSplit[8]));
                            $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_Country").html(convertNulltoNA(dataInfoSplit[9]));
                            $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_Date").html(convertDateISOCustom(dataInfoSplit[0], 0));
                        } else {
                            $("#PHPAYGMoreInfo table#CreditTransferInfo").hide();
                            $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_MobileNo").html("");
                            $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_Operator").html("");
                            $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_Country").html("");
                            $("#PHPAYGMoreInfo td#PHPAYGMoreInfo_Date").html("");
                        }
                    });

                    //Request For Refund
                    $(".btnCTRFR").live("click", function () {
                        var username = $('.username').html(); //$.trim('@ViewBag._userid');
                        var sitecode = $.trim('@ViewBag._sitecode');
                        InsertCancelTopup(sitecode, $.trim($(this).attr("data-mn")), $.trim($(this).attr("data-pid")), $.trim($(this).attr("data-amt")), "", username);
                    });


                }
            });
        </script>
    }
    else if (Model.ActiveTab == "TabPaymentProfile")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.paymentprofile.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var MobileNo = $.trim('@ViewBag._mobileno');
                var Sitecode = $.trim('@ViewBag._sitecode');


                ViewPaymentProfiles(MobileNo, Sitecode);

                //22-Feb-2019 : Moorthy : Added for Block Card 
                $(".btnPPBlockCard").live("click", function () {

                    var card_status = $(this).attr("data-info");
                    var msg = "Are you sure want to " + (card_status == 0 ? "Block ?" : "Unblock ?");
                    if (confirm(msg)) {
                        var LastCCNumber = $(this).attr("data-card");
                        BlockCard(MobileNo, LastCCNumber, card_status == 0 ? 1 : 0, "CRM - " + $('.username').html());
                    }
                });

                $(".btnPPMoreInfo").live("click", function () {

                    var dataInfo = $(this).attr("data-info");
                    var dataInfoSplit = dataInfo.split("|");
                    var LastCCNumber = $(this).attr("data-card");

                    $("#PPMoreInfo td#PPMoreInfo_PaymentType").html("Credit Card");
                    $("#PPMoreInfo td#PPMoreInfo_Status").html(convertNulltoEmptyString(dataInfoSplit[0]));
                    $("#PPMoreInfo td#PPMoreInfo_SetupDate").html(convertNulltoEmptyString(dataInfoSplit[1]));
                    $("#PPMoreInfo td#PPMoreInfo_LastDateOfUse").html(convertNulltoEmptyString(dataInfoSplit[2]));
                    $("#PPMoreInfo td#PPMoreInfo_LastPaymentAmount").html(convertNulltoEmptyString(dataInfoSplit[3]));
                    ViewDetailInfo(MobileNo, Sitecode, LastCCNumber);
                });

                $("input[name=optPPDefaultProfile]:radio").live("change", function () {
                    var LastCCNumber = $(this).val();
                    $("#PPSetDefaultProfile input[name=PPSDPLastCCNumber]").val(LastCCNumber);
                    $('#PPSetDefaultProfile').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                $("button#btnPPSetDefaultProfileConfirm").live("click", function () {
                    var LastCCNumber = $("input[name=PPSDPLastCCNumber]").val();
                    SetDefaultProfile(MobileNo, Sitecode, LastCCNumber);
                });

                $("button#btnPPSetDefaultProfileCancel").live("click", function () {
                    var LastSelectedProfile = $("#PPSetDefaultProfile input[name=PPSDPLastSelectedProfile]").val();
                    if (LastSelectedProfile != "") {
                        $("input[name=optPPDefaultProfile]:radio").filter('[value=' + LastSelectedProfile + ']').prop('checked', true);
                    } else {
                        $("input[name=optPPDefaultProfile]:radio").prop('checked', false);
                    }
                });

                $("#selectPaymentType").change(function () {
                    if (this.value == 1) {
                        $('#selectCardList').prop('disabled', false);
                    }
                    else {
                        $('#selectCardList').prop('disabled', 'disabled');
                    }
                    //alert(this.value);
                });

                $("button#btnPaymentProfileSettings").live("click", function () {
                    $('#PPSettings').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                $("button#btnPPSettingsConfirm").live("click", function () {
                    $('#PPSettings').modal("hide");
                    $('#PPSettingsConfirm').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                $("button#btnPPSettingsConfirmCancel").live("click", function () {
                    $('#PPSettingsConfirm').modal("hide");
                    $('#PPSettings').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                $("button#btnPPSettingsConfirmYes").live("click", function () {
                    var LastCCNumber = $("select#selectCardList option:selected").val();
                    var AxTopupStatus = $("select#selectTopupStatus option:selected").val();
                    var AxTopupAmount = $("select#selectTopupAmount option:selected").val();
                    var PaymentType = $("select#selectPaymentType option:selected").val();
                    var Currency = "GBP";
                    SettingUpdate(MobileNo, Sitecode, LastCCNumber, AxTopupStatus, AxTopupAmount, Currency, PaymentType);
                });

                $(".btnPMSuccessOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        window.location.reload();
                    }
                });
                $(".btnPMFailedOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        window.location.reload();
                    }
                });

            });
        </script>
    }
    //CRMT-232  Total Usage History 
    else if (Model.ActiveTab == "TabTotalUsageHistory")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.TotalUsageHistory.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                var startdate = convertDate01($("input#lastdate1").val());
                var enddate = convertDate01($("input#lastdate2").val());

                var MobileNo = $.trim('@ViewBag._mobileno');
                var Sitecode = $.trim('@ViewBag._sitecode');
                var date_from = convertDate01($("input#lastdate1").val());
                var date_to = convertDate01($("input#lastdate2").val());
                ViewTotalUsageHistory(MobileNo, Sitecode, date_from, date_to);

                $("#btnSearchTotalusageHistory").live("click", function () {
                    var date_from = convertDate01($("input#lastdate1").val());
                    var date_to = convertDate01($("input#lastdate2").val());
                    if ($("#ddlMainBreakDown").val() == "-1" && $("#ddlSubBreakDown").val() == "-1")
                        ViewTotalUsageHistory(MobileNo, Sitecode, date_from, date_to);
                    else {
                        GetCallHistorySearchCBS(MobileNo, Sitecode, date_from, date_to, $("#ddlMainBreakDown").val(), $("#ddlSubBreakDown").val(), $("select[name=ddlSubBreakDown] option:selected").text());
                    }
                });

                $("button#btnExportusageHistory").live("click", function () {
                    var url = '/Download/DownloadUsageHistory';
                    var ajaxSpinnerTop = ($(window).outerHeight() / 2) + $(window).scrollTop();
                    $("#ajax-screen-masking #ajax-loader").css({ "margin-top": ajaxSpinnerTop + "px" });
                    $("#ajax-screen-masking").css({ "height": $(document).outerHeight() + "px" });
                    $("#ajax-screen-masking #downloadIFrame").remove();
                    var startDate = convertDate01($("input[name=startdate]").val());
                    var endDate = convertDate01($("input[name=enddate]").val());
                    var mobileno = $.trim('@ViewBag._mobileno');
                    var Sitecode = $.trim('@ViewBag._sitecode');
                    var IFrameURL = "";
                    var JSONSendData = {
                        Msisdn: mobileno,
                        type: 1,
                        Sitecode: Sitecode,
                        Date_From1: startDate,
                        Date_To1: endDate,
                        Date_From: startDate,
                        Date_To: endDate

                    };
                    $.ajax
                    ({
                        url: url,
                        type: 'post',
                        data: JSON.stringify(JSONSendData),
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        cache: false,
                        beforeSend: function () {
                            $("#ajax-screen-masking").show();
                        },
                        success: function (feedback) {
                            if (feedback.errcode == 0) {
                                var IFrameData = $('<iframe/>', { id: 'downloadIFrame', src: '/Download/GoDownloadCDRHistory?id=' + feedback.Text + '&historyName=' + feedback.errmsg, style: 'display:none' });
                                $("#ajax-screen-masking").append(IFrameData);
                            }
                            $("#ajax-screen-masking").hide();
                        }
                    });
                });

                $("button#btnExportBundleBreakDown").live("click", function () {
                    var url = '/Download/DownloadBundleBreakdown';
                    var ajaxSpinnerTop = ($(window).outerHeight() / 2) + $(window).scrollTop();
                    $("#ajax-screen-masking #ajax-loader").css({ "margin-top": ajaxSpinnerTop + "px" });
                    $("#ajax-screen-masking").css({ "height": $(document).outerHeight() + "px" });
                    $("#ajax-screen-masking #downloadIFrame").remove();
                    var startDate = convertDate01($("input[name=startdate]").val());
                    var endDate = convertDate01($("input[name=enddate]").val());
                    var mobileno = $.trim('@ViewBag._mobileno');
                    var Sitecode = $.trim('@ViewBag._sitecode');
                    var search_type = $("#ddlMainBreakDown").val();
                    var PackageID = $("#ddlSubBreakDown").val();
                    var BundleName = $("select[name=ddlSubBreakDown] option:selected").text();
                    var IFrameURL = "";
                    var JSONSendData = {
                        Msisdn: mobileno,
                        type: 3,
                        Sitecode: Sitecode,
                        date_from: startDate,
                        date_to: endDate,
                        date_from1: startDate,
                        date_to1: endDate,
                        search_type: search_type,
                        PackageID: PackageID,
                        BundleName: BundleName
                    };
                    $.ajax
                    ({
                        url: url,
                        type: 'post',
                        data: JSON.stringify(JSONSendData),
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        cache: false,
                        beforeSend: function () {
                            $("#ajax-screen-masking").show();
                        },
                        success: function (feedback) {
                            if (feedback.errcode == 0) {
                                var IFrameData = $('<iframe/>', { id: 'downloadIFrame', src: '/Download/GoDownloadCDRHistory?id=' + feedback.Text + '&historyName=' + feedback.errmsg, style: 'display:none' });
                                $("#ajax-screen-masking").append(IFrameData);
                            }
                            $("#ajax-screen-masking").hide();
                        }
                    });
                });

                //28-Dec-2018 : Moorthy : Added for Bundle breakdown
                //$("#btnSearchTotalusageHistoryClear").live("click", function () {
                //    $("#ddlMainBreakDown").val("-1");
                //    $('#ddlSubBreakDown').find('option').remove();
                //    $('#ddlSubBreakDown').append('<option value="-1" selected="selected">ALL</option>');
                //    $("#ddlSubBreakDown").val("-1");

                //    $("#divPaymentProfileSettingsContainer").hide();
                //});

                $("#ddlMainBreakDown").live("change", function () {
                    if ($(this).val() != "-1") {
                        $("#divPaymentProfileSettingsContainer").hide();
                        var mobileno = $.trim('@ViewBag._mobileno');
                        var sitecode = $.trim('@ViewBag._sitecode');
                        var search_type = $(this).val();
                        GetSubscribedBundlePackagesCDR(mobileno, sitecode, search_type);
                    }
                    else {
                        $('#ddlSubBreakDown').find('option').remove();
                        $('#ddlSubBreakDown').append('<option value="-1" selected="selected">ALL</option>');
                        $("#ddlSubBreakDown").val("-1");
                        $("#divPaymentProfileSettingsContainer").hide();
                    }
                });
            });
        </script>
    }
    else if (Model.ActiveTab == "TabDailyUsageHistory")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.dailyusagehistory.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var startdate = convertDate01($("input#lastdate1").val());
                var enddate = convertDate01($("input#lastdate2").val());
                var Msisdn = $.trim('@ViewBag._mobileno');
                var Sitecode = $.trim('@ViewBag._sitecode');
                DailyUsageHistory(Msisdn, Sitecode, startdate, enddate);
                $("#pthFilterResultContainer").show();
                $("#btnSearchDailyusageHistory").live("click", function () {
                    $("#pthFilterResultContainer").show();
                    var startdate = convertDate01($("input#lastdate1").val());
                    var enddate = convertDate01($("input#lastdate2").val());
                    var Msisdn = $.trim('@ViewBag._mobileno');
                    var Sitecode = $.trim('@ViewBag._sitecode');
                    DailyUsageHistory(Msisdn, Sitecode, startdate, enddate);
                });
            });
        </script>
    }
    //01-Mar-2019 : Moorthy : CRMIMP-21 - Chargeback Tab
    else if (Model.ActiveTab == "TabChargeback")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.ChargebackSuspension.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                debugger;
                GetChargebackByAccountId($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._roleid'));
                GetChargebackCollectionPayment($.trim('@ViewBag._mobileno'));
                $("#btnCSCancel").live("click", function () {
                    if (confirm('Are you sure want to Unblock this customer?')) {
                        var loginuser_id = $.trim('@ViewBag._userid');
                        var role_id = $.trim('@ViewBag._role_id');
                        var processby = $.trim('@ViewBag.LoginName');
                        var pay_reference = $("#phCSPaymentReference").html();
                        var mobileno = $.trim('@ViewBag._mobileno');
                        DoUnblockRequestFromChargebackTab(loginuser_id, role_id, pay_reference, mobileno, $.trim('@ViewBag._roleid'));
                    }
                });
                $("#btnCSSendMail").live("click", function () {
                    SendMail($.trim('@ViewBag._firstname'), $.trim('@ViewBag._email'), '@ViewBag._sitecode');
                });
            });
        </script>
    }
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            ActivateTopbarMenu(2);

            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            if ($.trim(splitURL[2]).toLowerCase() === 'tabtopuphistory') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab0").addClass("active");
                $("#tab_1_0").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPaymentTopupHistory").removeClass("lightblue").addClass("white");
            }
            else if ($.trim(splitURL[2]).toLowerCase() === 'tabautotopup') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab1").addClass("active");
                $("#tab_1_1").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPaymentTopupHistory").removeClass("lightblue").addClass("white");
            }
            else if ($.trim(splitURL[2]).toLowerCase() === 'tabpaymenthistorypayg') {

                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab2").addClass("active");
                $("#tab_1_2").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPaymentTopupHistory").removeClass("lightblue").addClass("white");
            }
            else if ($.trim(splitURL[2]).toLowerCase() === 'tabpaymentprofile') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab3").addClass("active");
                $("#tab_1_3").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPaymentTopupHistory").removeClass("lightblue").addClass("white");
            }
                //CRMT-232 total usage history
            else if ($.trim(splitURL[2]).toLowerCase() === 'tabtotalusagehistory') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab4").addClass("active");
                $("#tab_1_4").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPaymentTopupHistory").removeClass("lightblue").addClass("white");
            }
                // 25-Feb-2019 : Moorthy : CRMIMP-18 - Daily usage history
            else if ($.trim(splitURL[2]).toLowerCase() === 'tabdailyusagehistory') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab5").addClass("active");
                $("#tab_1_5").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPaymentTopupHistory").removeClass("lightblue").addClass("white");
            }
                // 01-Mar-2019 : Moorthy : CRMIMP-21 - Chargeback TAB
            else if ($.trim(splitURL[2]).toLowerCase() === 'tabchargeback') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab6").addClass("active");
                $("#tab_1_6").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPaymentTopupHistory").removeClass("lightblue").addClass("white");
            }
            /* TAB PAYMENT HISTORY */
            $("a#aTabTopupHistory").live("click", function () {
                window.location = '/Customer/TabTopupHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;

            });

            /* TAB AUTO TOPUP */
            $("a#aTabAutoTopup").live("click", function () {
                window.location = '/Customer/TabAutoTopup/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB PAYMENT HISTORY PAYG */
            $("a#aTabPaymentHistoryPAYG").live("click", function () {

                window.location = '/Customer/TabPaymentHistoryPAYG/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* TAB PAYMENT PROFILE */
            $("a#aTabPaymentProfile").live("click", function () {
                window.location = '/Customer/TabPaymentProfile/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* CRMT-232 TAB total usage history */
            $("a#aTabTotalUsageHistory").live("click", function () {
                window.location = '/Customer/TabTotalUsageHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* detail Order */
            $("a#detailOrder").live("click", function () {
                window.location = '/Customer/OrderManagement/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            /* 25-Feb-2019 : Moorthy : CRMIMP-18 - Daily usage history */
            $("a#aTabDailyUsageHistory").live("click", function () {
                window.location = '/Customer/TabDailyUsageHistory/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });
            /* 01-Mar-2019 : Moorthy : CRMIMP-21 - Chargeback Tab */
            $("a#aTabChargeback").live("click", function () {
                window.location = '/Customer/TabChargeback/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            ActionDetailHeaderButtons(5, $.trim('@ViewBag._mobileno'), sim);

            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

        });
    </script>
}