﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Customer Detail";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Details</div>
                    </h4>
                </div>
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/Customer/_DetailHeaderButton.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_1_0">
                                    @if (Model.ActiveTab == "TabSIMSwap")
                                    {
                                        @Html.Partial("~/Views/Customer/_TabSIMSwap.cshtml")
                                    }
                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsTab {
    @if (Model.ActiveTab == "TabSIMSwap")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.simswap.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                //Tab Functionality
                $(".divSIMSwap").find("#tab_1_0.tab-pane").show();

                $("#aTabSIMSwap").live("click", function () {
                    $(".divSIMSwap").find("ul.ultab li").removeClass("active");
                    $(".divSIMSwap").find("div.tab-content div").removeClass("active");
                    $(".divSIMSwap").find("li#litab0").addClass("active");
                    $(".divSIMSwap").find("#tab_1_0").addClass("active");

                    $(".divSIMSwap").find("#tab_1_1.tab-pane").hide();
                    $(".divSIMSwap").find("#tab_1_0.tab-pane").show();
                });
                $("#aTabSIMReports").live("click", function () {
                    $(".divSIMSwap").find("ul.ultab li").removeClass("active");
                    $(".divSIMSwap").find("div.tab-content div").removeClass("active");
                    $(".divSIMSwap").find("li#litab1").addClass("active");
                    $(".divSIMSwap").find("#tab_1_1").addClass("active");

                    $(".divSIMSwap").find("#tab_1_0.tab-pane").hide();
                    $(".divSIMSwap").find("#tab_1_1.tab-pane").show();
                });

                FillSIMReports($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));

                /* ---------------------- */
                /* FIRST LOAD             */
                /* ---------------------- */
                $("td#tdNewAddress input, td#tdNewAddress select, td#tdNewAddress button").attr("disabled", true);
                $("td#tdNewAddress button").removeClass("blue").addClass("grey");
                $("span.iSIMSwapNewAddressMandatory").hide();

                // Getting Country Name 
                var url = apiServer + '/api/CountryInfo/' + $.trim('@ViewBag._sitecode');
                $.get(url, function (data) {
                    $("input[name=iSIMSwapCurrentAddressCountry]").val(data.Country);
                    $("td#iSIMSwapNewAddressCountry").text(data.Country);
                });

                // Getting Reason List 
                var url = apiServer + '/api/simswap?Option=reason&ProductCode=' + $.trim('@ViewBag._productcode');
                $.getJSON(url, function (data) {
                    var optionData = "";
                    $.each(data, function (key, value) {
                        optionData += "<option value=" + key + ">" + value + "</option>";
                    });
                    $("[name=selectSIMSwapReason]").append(optionData).removeAttr("disabled");
                    $("img#reasonListLoader").hide();
                });

                // Getting SIM Type List
                //var url = apiServer + '/api/simswap?Option=typeofsim';
                //$.getJSON(url, function (data) {
                //    var optionData = "";
                //    $.each(data, function (key, value) {
                //        optionData += "<option value=" + key + ">" + value + "</option>";
                //    });
                //    $("[name=selectSIMSwapType]").append(optionData).removeAttr("disabled");
                //    $("img#SIMTypeListLoader").hide();
                //});

                /* ---------------------- */
                /* STEP 1                 */
                /* ---------------------- */
                $("select[name=selectSIMSwapReason]").live("change", function () {
                    var reasonChoice = $(this).val();
                    if (reasonChoice != '') {
                        if (parseInt(reasonChoice) == 1) {
                            $("select[name=selectSIMSwapHave]").attr("disabled", true).val("");
                            $("tr#trSIMSwapHave").hide();
                            $("button#btnSIMSwapDoProceed").addClass("blue").removeAttr("disabled");
                        } else if (parseInt(reasonChoice) > 1) {
                            $("select[name=selectSIMSwapHave]").removeAttr("disabled").val("");
                            $("tr#trSIMSwapHave").show();
                            $("button#btnSIMSwapDoProceed").removeClass("blue").attr("disabled", true);
                        }
                    } else {
                        $("select[name=selectSIMSwapHave]").attr("disabled", true).val("");
                        $("tr#trSIMSwapHave").show();
                        $("button#btnSIMSwapDoProceed").removeClass("blue").attr("disabled", true);
                    }
                });

                $("select[name=selectSIMSwapHave]").live("change", function () {
                    var haveSIM = $(this).val();
                    if (haveSIM != '') {
                        $("button#btnSIMSwapDoProceed").addClass("blue").removeAttr("disabled");
                    } else {
                        $("button#btnSIMSwapDoProceed").removeClass("blue").attr("disabled", true);
                    }
                });

                $("button#btnSIMSwapDoProceed").live("click", function () {

                    var reasonVal = $("#selectSIMSwapReason").val();
                    var haveSIM = $("#selectSIMSwapHave").val();

                    if (reasonVal == 1) {
                        // Still do nothing
                        $("#SIMSwapStep1Container").hide();
                        if (haveSIM == 0) {
                            $("td#tdResultSIMSwapReasonYes").text($("#selectSIMSwapReason option:selected").text());
                            $("td#tdResultSIMSwapHaveYes").text($("#selectSIMSwapHave option:selected").text());

                            $("#SIMSwapStep2Container_NewSIMYES").show();
                            $("#SIMSwapStep2Container_NewSIMNO").hide();
                            $("input[name=iSIMSwapNewMobileNo]").focus();

                            // Dont have New SIM
                        } else if (haveSIM == 1) {
                            $("td#tdResultSIMSwapReasonNo").text($("#selectSIMSwapReason option:selected").text());
                            $("td#tdResultSIMSwapHaveNo").text($("#selectSIMSwapHave option:selected").text());

                            $("#SIMSwapStep2Container_NewSIMYES").hide();
                            $("#SIMSwapStep2Container_NewSIMNO").show();
                        }

                    } else {
                        if (haveSIM != "") {
                            $("#SIMSwapStep1Container").hide();

                            // Have New SIM
                            if (haveSIM == 0) {
                                $("td#tdResultSIMSwapReasonYes").text($("#selectSIMSwapReason option:selected").text());
                                $("td#tdResultSIMSwapHaveYes").text($("#selectSIMSwapHave option:selected").text());

                                $("#SIMSwapStep2Container_NewSIMYES").show();
                                $("#SIMSwapStep2Container_NewSIMNO").hide();
                                $("input[name=iSIMSwapNewMobileNo]").focus();

                                // Dont have New SIM
                            } else if (haveSIM == 1) {
                                $("td#tdResultSIMSwapReasonNo").text($("#selectSIMSwapReason option:selected").text());
                                $("td#tdResultSIMSwapHaveNo").text($("#selectSIMSwapHave option:selected").text());

                                $("#SIMSwapStep2Container_NewSIMYES").hide();
                                $("#SIMSwapStep2Container_NewSIMNO").show();
                            }
                        }
                    }
                });

                /* ---------------------- */
                /* STEP 2A                */
                /* ---------------------- */

                $("button#btnSIMSwapDoValidate").live("click", function () {
                    var newMobileNo = $.trim($("input[name=iSIMSwapNewMobileNo]").val());
                    var lastDigitICCID = $.trim($("input[name=iSIMSwapICCID]").val());
                    var textOfTd = $("td#tdResultSIMSwapReasonYes").text();
                    var SwapType = "0";
                    if (textOfTd == "Portin Vectone To Delight") {
                        SwapType = "1";
                    }
                    else if (textOfTd == "Lost or Stolen") {
                        SwapType = "2";
                    }
                    else if (textOfTd == "New Sim Type") {
                        SwapType = "3";
                    }

                    if (newMobileNo != '' && lastDigitICCID != '') {
                        SIMSwapDoValidate(
                            $.trim('@ViewBag._mobileno'),
                            newMobileNo,
                            lastDigitICCID,
                            '',
                            0.00,
                            $.trim($.cookie('token')),
                            '@ViewBag.UserName',
                            $.trim('@ViewBag._sitecode'),
                            SwapType
                        );
                    } else {
                        $("input[name=iSIMSwapNewMobileNo]").focus();
                    }
                });

                $("button#btnSIMSwapDoSwap").live("click", function () {

                    var newMobileNo = $.trim($("input[name=iSIMSwapNewMobileNo]").val());
                    var lastDigitICCID = $.trim($("input[name=iSIMSwapICCID]").val());
                    var reasonChoice = $("select[name=selectSIMSwapReason]").val();

                    var Country = $.trim($("input[name=iSIMSwapCurrentAddressCountry]").val());
                    var today = new Date();
                    var yyyy = today.getFullYear();
                    var dd = today.getDate();
                    var mm = today.getMonth() + 1; //January is 0!
                    var ho = today.getHours();
                    var mi = today.getMinutes();
                    var ss = today.getSeconds();
                    if (dd < 10) { dd = '0' + dd }
                    if (mm < 10) { mm = '0' + mm }
                    if (ho < 10) { ho = '0' + ho }
                    if (mi < 10) { mi = '0' + mi }
                    if (ss < 10) { ss = '0' + ss }
                    today = yyyy + mm + dd + ho + mi + ss;
                    var textOfTd = $("td#tdResultSIMSwapReasonYes").text();
                    var SwapType = "0";
                    if (textOfTd == "Portin Vectone To Delight") {
                        SwapType = "1";
                    }
                    else if (textOfTd == "Lost or Stolen") {
                        SwapType = "2";
                    }
                    else if (textOfTd == "New Sim Type") {
                        SwapType = "3";
                    }
                    var JiraTicketNo = "JIRA06-" + '@ViewBag.UserName' + "-" + Country + "-" + $.trim('@ViewBag._sitecode') + "-" + today;

                    if (newMobileNo != '' && lastDigitICCID != '') {
                        if (reasonChoice == 1) {
                            SIMSwapDoSwapPortIn(
                                $.trim('@ViewBag._mobileno'),
                                newMobileNo,
                                lastDigitICCID,
                                JiraTicketNo,
                                0.00,
                                '',
                                '@ViewBag.UserName',
                                $.trim('@ViewBag._sitecode'),
                                1

                            );
                        } else if (reasonChoice == 2) {
                            SIMSwapDoSwapReasonLost(
                                $.trim('@ViewBag._mobileno'),
                                newMobileNo,
                                lastDigitICCID,
                                JiraTicketNo,
                                0.00,
                                '',
                                '@ViewBag.UserName',
                                $.trim('@ViewBag._sitecode'),
                                1,
                                SwapType
                            );
                        } else if (reasonChoice == 3) {
                            SIMSwapDoSwapReasonNewSIM(
                                $.trim('@ViewBag._mobileno'),
                                newMobileNo,
                                lastDigitICCID,
                                JiraTicketNo,
                                0.00,
                                '',
                                '@ViewBag.UserName',
                                $.trim('@ViewBag._sitecode'),
                                1,
                                SwapType
                            );
                        }
            }
                });

                $("button#btnSIMSwapDoCancel").live("click", function () {
                    location.reload();
                    //window.location = '/Customer/TabSIMSwap/' + $.trim('@ViewBag._mobileno');
                });

                /* ---------------------- */
                /* STEP 2B                */
                /* ---------------------- */

                $("select[name=selectSIMSwapType]").live("change", function () {
                    var SIMType = $(this).val();
                    if (SIMType != '') {
                        $("button#btnSIMSwapDoPlaceOrder").addClass("blue").removeAttr("disabled");
                    } else {
                        $("button#btnSIMSwapDoPlaceOrder").removeClass("blue").attr("disabled", true);
                    }
                });

                $("input[name=radioSIMSwapDispatchAddress]").live("click", function () {
                    var radioAddress = $("input[name=radioSIMSwapDispatchAddress]:checked").val();
                    if (radioAddress == 0) {
                        $("td#tdNewAddress input, td#tdNewAddress select, td#tdNewAddress button").attr("disabled", true);
                        $("td#tdNewAddress button").removeClass("blue").addClass("grey");
                        $("input[name=iSIMSwapCurrentAddress]").removeAttr("disabled");
                        $("span.iSIMSwapNewAddressMandatory").hide();
                        $("input[name=radioSIMSwapDispatchAddress]:eq(0)").attr('checked', true);
                    } else {
                        $("input[name=iSIMSwapCurrentAddress]").attr("disabled", true);
                        $("td#tdNewAddress input, td#tdNewAddress select, td#tdNewAddress button").removeAttr("disabled");
                        $("td#tdNewAddress button").removeClass("grey").addClass("blue");
                        $("span.iSIMSwapNewAddressMandatory").show();
                        $("input[name=radioSIMSwapDispatchAddress]:eq(1)").attr('checked', true);
                    }
                });

                $("button#btnSIMSwapDoPlaceOrder").live("click", function () {
                    var reasonChoice = 3;
                    var TypeofSim = $("select[name=selectSIMSwapType]").val();
                    if (TypeofSim != '') {
                        //var reasonChoice = $("select[name=selectSIMSwapReason]").val();
                        var IsNewAddress = radioAddress = $("input[name=radioSIMSwapDispatchAddress]:checked").val();
                        var Firstname = "";
                        var Lastname = "";
                        var Address1 = "";
                        var Address2 = "";
                        var City = "";
                        var Postcode = "";
                        var Country = $.trim($("input[name=iSIMSwapCurrentAddressCountry]").val());
                        var Email = "";
                        var HouseNo = "";

                        var today = new Date();
                        var yyyy = today.getFullYear();
                        var dd = today.getDate();
                        var mm = today.getMonth() + 1; //January is 0!
                        var ho = today.getHours();
                        var mi = today.getMinutes();
                        var ss = today.getSeconds();
                        if (dd < 10) { dd = '0' + dd }
                        if (mm < 10) { mm = '0' + mm }
                        if (ho < 10) { ho = '0' + ho }
                        if (mi < 10) { mi = '0' + mi }
                        if (ss < 10) { ss = '0' + ss }
                        today = yyyy + mm + dd + ho + mi + ss;

                        var JiraTicketNo = "JIRA06-" + '@ViewBag.UserName' + "-" + Country + "-" + $.trim('@ViewBag._sitecode') + "-" + today;

                        var validateNewAddress = true;

                        if (IsNewAddress == 0) {
                            Firstname = $.trim($("input[name=iSIMSwapCurrentAddressFirstName]").val());
                            Lastname = $.trim($("input[name=iSIMSwapCurrentAddressLastName]").val());
                            Address1 = $.trim($("input[name=iSIMSwapCurrentAddressAddress1]").val());
                            Address2 = $.trim($("input[name=iSIMSwapCurrentAddressAddress2]").val());
                            City = $.trim($("input[name=iSIMSwapCurrentAddressCity]").val());
                            Postcode = $.trim($("input[name=iSIMSwapCurrentAddressPostcode]").val().toUpperCase());

                            //31-Dec-2018 : Moorthy : Added for Sim Order
                            HouseNo = $.trim($("input[name=iSIMSwapCurrentAddressHouseNo]").val());
                            Email = $.trim($("input[name=iSIMSwapCurrentAddressEmail]").val());
                        } else if (IsNewAddress == 1) {
                            Firstname = $.trim($("input[name=iSIMSwapNewAddressFirstName]").val());
                            Lastname = $.trim($("input[name=iSIMSwapNewAddressLastName]").val());
                            Address1 = $.trim($("input[name=iSIMSwapNewAddressAddress1]").val());
                            Address2 = $.trim($("input[name=iSIMSwapNewAddressAddress2]").val());
                            City = $.trim($("input[name=iSIMSwapNewAddressCity]").val());
                            Postcode = $.trim($("input[name=iSIMSwapNewAddressPostcode]").val().toUpperCase());

                            if (Firstname == '' || Address1 == '' || City == '' || Postcode == '') {
                                validateNewAddress = false;
                            }

                            //31-Dec-2018 : Moorthy : Added for Sim Order
                            //HouseNo = $.trim($("input[name=iSIMSwapCurrentAddressHouseNo]").val());
                            //Email = $.trim($("input[name=iSIMSwapCurrentAddressEmail]").val());
                        }

                        if (validateNewAddress == true) {
                            if (reasonChoice == 2) {
                                SIMSwapDoPlaceOrderReasonLost(
                                    $.trim('@ViewBag._mobileno'),
                                    '',
                                    '',
                                    JiraTicketNo,
                                    0.00,
                                    $.trim($.cookie('token')),
                                    '@ViewBag.UserName',
                                    $.trim('@ViewBag._sitecode'),
                                    0,
                                    TypeofSim,
                                    IsNewAddress,
                                    Firstname,
                                    Lastname,
                                    Address1,
                                    Address2,
                                    City,
                                    Postcode,
                                    Country
                                );
                            } else if (reasonChoice == 3) {
                                @*SIMSwapDoPlaceOrderReasonNewSIM(
                                    $.trim('@ViewBag._mobileno'),
                                    '',
                                    '',
                                    JiraTicketNo,
                                    0.00,
                                    $.trim($.cookie('token')),
                                    '@ViewBag.UserName',
                                    $.trim('@ViewBag._sitecode'),
                                    0,
                                    TypeofSim,
                                    IsNewAddress,
                                    Firstname,
                                    Lastname,
                                    Address1,
                                    Address2,
                                    City,
                                    Postcode,
                                    Country
                                );*@
                                SIMSwapDoPlaceOrderReasonNewSIM($.trim('@ViewBag._sitecode'), Firstname, Lastname, HouseNo, Address1, Address2, City, Postcode, "", $.trim('@ViewBag._mobileno'), Email , "NewOrder(3 in 1 SIM fits all)", "CRM - " + $(".username").html(), location.href, "", 1);
                            }
                    } else {
                        $('.PMFailed .modal-footer .btnPMFailedOK').attr({ "alt": "2" });
                        $('.PMFailed .modal-header').html('SIM Order');
                        $('.PMFailed .modal-body').html('Please fill field Firstname, Address, City and Postcode.');
                        $('.PMFailed').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                    }
                }
                });

                $("button#btnSIMSwapDoPOCancel").live("click", function () {
                    //window.location = '/Customer/TabSIMSwap/' + $.trim('@ViewBag._mobileno');
                    location.reload();
                });

                $("button#btnSIMSwapDoValidateCancel").live("click", function () {
                    //window.location = '/Customer/TabSIMSwap/' + $.trim('@ViewBag._mobileno');
                    location.reload();
                });

                $(".btnPMSuccessOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        location.reload();
                        //window.location = '/Customer/TabSIMSwap/' + $.trim('@ViewBag._mobileno');
                    }
                });
                $(".btnPMFailedOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 1) {
                        location.reload();
                        //window.location = '/Customer/TabSIMSwap/' + $.trim('@ViewBag._mobileno');
                    } else if (attrAlt == 2) {
                        $("input[name=iSIMSwapNewMobileNo]").focus();
                    }
                });

            });
        </script>
    }
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            ActivateTopbarMenu(2);

            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            if ($.trim(splitURL[2]).toLowerCase() === 'tabsimswap') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab0").addClass("active");
                $("#tab_1_0").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailSIMTools").removeClass("lightblue").addClass("white");
            }
            /* TAB SIM SWAP */
            @* $("a#aTabSIMSwap").live("click", function () {
                location.reload();
                //window.location = '/Customer/TabSIMSwap/' + $.trim('@ViewBag._mobileno');
            });*@
            /* detail Order */
            $("a#detailOrder").live("click", function () {
                window.location = '/Customer/OrderManagement/' + $.trim('@ViewBag._mobileno') + "-" + sim;
            });

            ActionDetailHeaderButtons(6, $.trim('@ViewBag._mobileno'), sim);

            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

        });
    </script>
}