﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Complaints Detail";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Details</div>
                    </h4>
                </div>
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/Customer/_DetailHeaderButton.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        @if (Model.ActiveTab == "TabComplaints")
                        {
                            @Html.Partial("~/Views/PAYM/_TabComplaints.cshtml")
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsTab {
    @if (Model.ActiveTab == "TabComplaints")
    {
        //29-Jan-2016 : Moorthy : New CRM Tracking method yet to be implemented
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.complaints.js"></script>
       <script type="text/javascript">
           $(document).ready(function () {
               //CRM Enhancement 2

               var currentURl = window.location.pathname;
               var splitURL = currentURl.split('/');
               var sim = splitURL[3].split('-')[1];

               $("ul.ultab li").removeClass("active");
               $("div.tab-content div").removeClass("active");
               $("li#litab0").addClass("active");
               $("#tab_1_0").addClass("active");
               $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
               $("a#detailComplaints").removeClass("lightblue").addClass("white");

               ActionDetailHeaderButtons(8, $.trim('@ViewBag._mobileno'), sim);

                CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));

                ITViewAllComplaints($.trim('@ViewBag._subscriberid'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._mobileno'));

                //Default
                var sitecode = $.trim('@ViewBag._sitecode');
                var user_id = $.trim('@ViewBag._userid');
                var mobile_no = $.trim('@ViewBag._mobileno');
                var fullname = $.trim('@ViewBag._firstname');
                var user_role = $.trim('@ViewBag._user_role');

                $('#txtComplaintCustomerName').val(fullname).attr('disabled', 'disabled');
                $('#txtComplaintMobileNo').val(mobile_no).attr('disabled', 'disabled');
                FillEscalatingTeam();
                FillPriority(sitecode);
                FillCategory(sitecode, $("select[name=ddlComplaintTicketType] option:selected").val(), -1);


                //New Complaint
                $("button#btnITNewComplaint").live("click", function () {
                    clearwindow();
                    FillNewStatus();
                    $('#lblmodaltitle').text('New Complaint');
                    $('#itPWNewComplaint').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                $("select[name=ddlComplaintCategory]").live("change", function () {
                    var sitecode = $.trim('@ViewBag._sitecode');
                    var Function_Id = $("select[name=ddlComplaintCategory] option:selected").val();
                    FillSubCategory(sitecode, Function_Id, -1);
                });

               $("#ddlComplaintStatus").live("change", function () {
                   if ($('#btnCreateComplaint').text() == 'Update') {
                       if ($("#ddlComplaintStatus option:selected").text() == "Reopened") {
                           $('#ddlComplaintEscalatingTeam').attr('disabled', false);
                           $('#ddlitComplaintInterval').attr('disabled', false);
                       }
                       else {
                           $('#ddlComplaintEscalatingTeam').attr('disabled', true);
                           $('#ddlitComplaintInterval').attr('disabled', true);
                       }
                   }
               });

                //Save
                $("#btnCreateComplaint").live("click", function () {
                    if (validate()) {
                        var customername = fullname;
                        var sitecode = $.trim('@ViewBag._sitecode');
                        var mobile_no = $('#txtComplaintMobileNo').val();
                        var issuetype = $("select[name=ddlComplaintTicketType] option:selected").val();
                        var issuefunction = $("select[name=ddlComplaintCategory] option:selected").val();
                        var issuecomplaint = $("select[name=ddlComplaintSubCategory] option:selected").val();
                        var issuestatus = $("select[name=ddlComplaintStatus] option:selected").val();
                        var description = $('#txtComplaintDescription').val();
                        var esclatinguser = $("select[name=ddlComplaintEscalatingTeam] option:selected").val();
                        var processtype = $('#btnCreateComplaint').text() == 'Update' ? 2 : 1;
                        var agentuserid = $.trim('@ViewBag._userid');
                        var priority_name = $("select[name=ddlitComplaintInterval] option:selected").val();
                        var ticket_id = -1;
                        var email = $("select[name=ddlComplaintEscalatingTeam] option:selected").attr('ctlvalue');
                        if ($('#btnCreateComplaint').text() == 'Update') {
                            ticket_id = $('#txtComplaintTicketID').val();
                            email = "CustomerServiceEscalationTeam@vectone.com"
                        }
                        insertcomplaint(customername, sitecode, mobile_no, issuetype, issuefunction, issuecomplaint, issuestatus, description, esclatinguser, processtype, agentuserid, $.trim('@ViewBag._subscriberid'), email, ticket_id, priority_name);
                        $('#btnCreateComplaint').hide();
                        $('#btnClearComplaint').hide();
                    }
                });

                $("#btnComplaintCopytoClipboard").live("click", function () {
                    var Call_type = $("#ddlComplaintTicketType option:selected").text();
                    var Sub_type = $("#ddlComplaintCategory option:selected").text();
                    var Category = $("#ddlComplaintSubCategory option:selected").text();
                    var des = Call_type + ' ' + Sub_type + ' ' + Category
                    $("textarea[name=txtComplaintDescription]").val(des);
                });

                $("#btnClearComplaint").live("click", function () {
                    clearwindow();
                });

                function clearwindow() {
                    $('#btnCreateComplaint').text('Create');

                    $('#txtComplaintCategory').hide().val('');
                    $('#txtComplaintSubCategory').hide().val('');
                    $('#txtComplaintEscalatingTeam').hide().val('');
                    $('#txtComplaintStatus').hide().attr('disabled', false).val('');
                    $('#txtitComplaintInterval').hide().val('');
                    $('#txtComplaintTicketType').hide().val('');

                    $('#ddlComplaintTicketType').show();
                    $('#ddlComplaintCategory').show();
                    $('#ddlComplaintSubCategory').show();
                    $('#ddlComplaintEscalatingTeam').show();
                    $('#ddlComplaintStatus').show();
                    $('#ddlitComplaintInterval').show();
                    $('#btnComplaintCopytoClipboard').show();
                    $('#btnCreateComplaint').show();
                    $('#btnClearComplaint').show();
                    $("select[name=ddlComplaintTicketType] ").val('-1');
                    $("select[name=ddlitComplaintInterval] ").val('-1');
                    $("#ddlComplaintStatus").val('-1');
                    $("select[name=ddlComplaintCategory]").val('-1');
                    $("#ddlComplaintSubCategory").find("option").remove();
                    $("select[name=ddlComplaintEscalatingTeam]").val('-1');
                    $('#txtComplaintDescription').val('');
                    $("select[name=ddlitComplaintInterval]").val('-1');
                    $('#lblComplaintError').val('');
                    $('#txtComplaintTicketID').val('');
                    $('#txtComplaintDescription').attr('disabled', false);

                    $('#ddlComplaintCategory').attr('disabled', false);
                    $('#ddlComplaintTicketType').attr('disabled', false);
                    $('#ddlComplaintSubCategory').attr('disabled', false);
                    $('#ddlitComplaintInterval').attr('disabled', false);
                    $('#ddlComplaintEscalatingTeam').attr('disabled', false);
                }

                function validate() {
                    if ($("select[name=ddlComplaintTicketType] option:selected").val() != -1) {
                        if ($("select[name=ddlComplaintCategory] option:selected").val() != -1) {
                            if ($("select[name=ddlComplaintSubCategory] option:selected").val() != -1) {
                                if ($("select[name=ddlComplaintEscalatingTeam] option:selected").val() != -1) {
                                    if ($('#txtComplaintDescription').val() != '') {
                                        if ($("select[name=ddlitComplaintInterval] option:selected").val() != -1) {
                                            $('#lblComplaintError').text('');
                                            return true;
                                        }
                                        else {
                                            $('#lblComplaintError').text('Please Select Interval');
                                            return false;
                                        }
                                    }
                                    else {
                                        $('#lblComplaintError').text('Please Enter Description');
                                        return false;
                                    }
                                }
                                else {
                                    $('#lblComplaintError').text('Please Select EscalatingTeam');
                                    return false;
                                }
                            }
                            else {
                                $('#lblComplaintError').text('Please Select SubCategory');
                                return false;
                            }
                        }
                        else {
                            $('#lblComplaintError').text('Please Select Category');
                            return false;
                        }
                    }
                    else {
                        $('#lblComplaintError').text('Please Select TicketType');
                        return false;
                    }
                }

                //View
                $("button#ViewComplaints").live("click", function () {
                    $('#lblmodaltitle').text('Complaint Detail');
                    $('#txtComplaintCustomerName').val(fullname).attr('disabled', 'disabled');
                    $('#txtComplaintMobileNo').val(mobile_no).attr('disabled', 'disabled');
                    var Ticket_id = $(this).attr("Ticket_id");
                    var Issue_Name = $(this).attr("Issue_Name");
                    var Function_Name = $(this).attr("Function_Name");
                    var eslated_user = $(this).attr("eslated_user");
                    var descr = $(this).attr("descr");
                    var status = $(this).attr("status");
                    $('#txtComplaintTicketID').val(Ticket_id);
                    $('#txtComplaintTicketType').val(Issue_Name);
                    $('#txtComplaintCategory').val(Function_Name);
                    $('#txtComplaintEscalatingTeam').val(eslated_user);
                    $('#txtComplaintDescription').val(descr).attr('disabled', 'disabled');
                    $('#txtComplaintStatus').val(status).attr('disabled', 'disabled');
                    $('#txtComplaintSubCategory').val($(this).attr("sub_category"));
                    $('#txtitComplaintInterval').val($(this).attr("priority_name"));

                    $('#txtComplaintTicketType').show();
                    $('#txtComplaintCategory').show();
                    $('#txtComplaintSubCategory').show();
                    $('#txtComplaintEscalatingTeam').show();
                    $('#txtComplaintStatus').show();
                    $('#txtitComplaintInterval').show();

                    $('#ddlComplaintTicketType').hide();
                    $('#ddlComplaintCategory').hide();
                    $('#ddlComplaintSubCategory').hide();
                    $('#ddlComplaintEscalatingTeam').hide();
                    $('#ddlComplaintStatus').hide();
                    $('#btnComplaintCopytoClipboard').hide();
                    $('#ddlitComplaintInterval').hide();
                    $('#btnCreateComplaint').hide();
                    $('#btnClearComplaint').hide();

                    $('#itPWNewComplaint').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                //Edit
                $("button#EditComplaints").live("click", function () {
                    clearwindow();
                    $('#lblmodaltitle').text('Edit Complaint');
                    $('#btnCreateComplaint').text('Update');
                    var sitecode = $.trim('@ViewBag._sitecode');

                    $("#ddlComplaintStatus").find("option").remove();

                    $('#txtComplaintCustomerName').val(fullname).attr('disabled', 'disabled');
                    $('#txtComplaintMobileNo').val(mobile_no).attr('disabled', 'disabled');

                    var Ticket_id = $(this).attr("Ticket_id");
                    var descr = $(this).attr("descr");
                    var issue_type = $(this).attr("issue_type");
                    var issue_function = $(this).attr('issue_function');
                    var issue_complaint = $(this).attr('issue_complaint');
                    var esclating_user_id = $(this).attr('esclating_user_id');
                    var fk_priority_id = $(this).attr('fk_priority_id');
                    var status_id = $(this).attr('status_id');

                    $('#txtComplaintTicketID').val(Ticket_id);
                    $('#txtComplaintDescription').val(descr);

                    $("#ddlComplaintTicketType").val(issue_type);
                    $('#ddlitComplaintInterval').val(fk_priority_id);
                    $('#ddlComplaintEscalatingTeam').val(esclating_user_id);

                    $('#ddlComplaintTicketType').attr('disabled', true);
                    $('#ddlComplaintCategory').attr('disabled', true);
                    $('#ddlComplaintSubCategory').attr('disabled', true);
                    $('#ddlitComplaintInterval').attr('disabled', true);

                    FillCategory(sitecode, issue_type, issue_function);

                    FillSubCategory(sitecode, issue_function, issue_complaint);

                    if (user_role == "Agent" || user_role == "Manager") {
                        $('#ddlComplaintEscalatingTeam').attr('disabled', true);
                        FillAgentStatus();
                    }
                    else {
                        $('#ddlComplaintEscalatingTeam').attr('disabled', false);
                        FillOtherStatus();
                    }
                    $('#ddlComplaintStatus').val(status_id);


                    $('#itPWNewComplaint').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });
            });
        </script>
    }
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(2);
            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var sim = splitURL[3].split('-')[1];

            if ($.trim(splitURL[2]).toLowerCase() === 'tabissuestracking') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab0").addClass("active");
                $("#tab_1_0").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMComplaints").removeClass("lightblue").addClass("white");
            }

            ActionDetailHeaderButtons(15, $.trim('@ViewBag._mobileno'), sim);
            //CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));
        });
    </script>
}