﻿@model CRM_API.Models.CustomerSearchPage

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Search Customer";
}

<div class="row-fluid">
    @*<div class="span12"><h2>@ViewBag.Title</h2></div>*@
    @* <div class="span12">
        <div style="font-size: 25px; background-color: #fff; color: #6E5CA8; padding: 10px; margin-left: 1px; width: auto; border: 1px solid #6E5CA8; border-left: 3px solid #6E5CA8; border-bottom: 0;">@ViewBag.Title</div>
    </div>*@
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4><span style="font-size: 18px; font-weight: bold">Filter Customer Search</span></h4>
                <div class="tools">
                    <a href="#" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body" id="fcsContainer" style="height: 66px;">
                <table id="tblSearchBy" class=" table table-bordered" style="width: 100%; background-color: #f5f5f5">
                    <tr>
                        <td>Search By : </td>
                        <td>

                            @Html.DropDownListFor(m => m.SearchBy, CRM3.WebApp.Helpers.Collection.CustomerSearchOptions())
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.SearchText, new { placeholder = "input here" })

                            <div id="hint" style="z-index: 500; position: absolute">
                                <div class="arrow-up"></div>
                                <span id="hintext"></span>&emsp;&nbsp;
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            </div>
                        </td>
                        <td style="text-align: center">
                            <button id="btnSearch" class="btn blue" style="width: 80px">GO</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="row-fluid" id="customerContainer" style="display: none;">
    @*<div class="span2">&nbsp;</div>*@
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4><span style="font-size: 18px; font-weight: bold">Customers</span></h4>
                <div class="tools">
                    <a href="#" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body" id="customerContainerBody" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                <table class="table table-bordered" id="tblCustomerResult"></table>
            </div>
        </div>
    </div>
</div>
<!--TODO : CSS-->
<div id="MainPopup" class="popup-message modal hide border-lightblue" style="width: 336px; height: 280px;">
    <div class="modal-header background-lightblue">
        <div style="text-align: right; width: 19%; float: right; height: 19px; width: 19px">
            <img src="~/Assets/Main/img/popup-close.png" style="cursor: pointer" id="imgReplyClose0" data-dismiss="modal" />
        </div>
    </div>
    <div class="modal-body" style="height: 450px">
        <!-- Last Interaction Info -->
        <div id="LastInteractionInfoPopup" class="border-lightblue" style="width: 300px; height: 181px; float: left; margin-left: 15px; /*left: 1250px !important; top: 478px !important; */">
            <div class="modal-header background-lightblue">
                <div style="font-family: Arial; text-align: left; width: 80%; float: left;">Last Interaction Info</div>
                <div style="text-align: right; width: 19%; float: right; height: 19px; width: 19px">
                    <img src="~/Assets/Main/img/popup-close.png" style="cursor: pointer" id="imgReplyClose1" class="imgClose" />
                </div>
            </div>
            <div class="modal-body" style="height: 100px">
                <div style="border: 1px solid #c0c0c0; height: 68px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
                    <table border="0" style="width: 100%">
                        <tr>
                            <td style="width: 50%;">Last Interaction On:</td>
                            <td style="width: 49%">
                                <label id="lblPopupLastInteractionOn"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">Category:</td>
                            <td style="width: 49%">
                                <label id="lblPopupCategory"></label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- Last Open Complaints -->
        <div id="LastOpenComplaintsPopup" class="border-lightblue" style="width: 300px; height: 181px; float: left; margin-left: 15px; /*left: 1250px !important; top: 288px !important; */">
            <div class="modal-header background-lightblue">
                <div style="font-family: Arial; text-align: left; width: 80%; float: left;">Latest Open Complaints</div>
                <div style="text-align: right; width: 19%; float: right; height: 19px; width: 19px">
                    <img src="~/Assets/Main/img/popup-close.png" style="cursor: pointer" id="imgReplyClose2" class="imgClose" />
                </div>
            </div>
            <div class="modal-body" style="height: 100px">
                <!--<div style="border: 1px solid #c0c0c0; height: 18px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
                    <table border="0" style="width: 100%">
                        <tr>
                            <td style="width: 70%;">Total Open Complaints:</td>
                            <td style="width: 29%">
                                <label id="lblTotalOpenComplaints"></label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    </table>
                </div>-->
                <div id="LastOpenComplaintsContainerBody" style="width: 100%; height: 250px;">
                    <label id="lblTotalOpenComplaints"></label>
                    <table class="table table-bordered table-hover" id="tblLastOpenComplaints"></table>
                </div>
            </div>
        </div>
        <!-- Birthday Updates -->
        <div id="BirthdayUpdatesPopup" class="border-lightblue" style="width: 300px; height: 181px; float: left; margin-left: 15px; /*left: 1250px !important; top: 0px !important; */">
            <div class="modal-header background-lightblue">
                <div style="font-family: Arial; text-align: left; width: 80%; float: left;">Birthday Updates!</div>
                <div style="text-align: right; width: 19%; float: right; height: 19px; width: 19px">
                    <img src="~/Assets/Main/img/popup-close.png" style="cursor: pointer" id="imgReplyClose3" class="imgClose" />
                </div>
            </div>
            <div class="modal-body" style="height: 100px">
                <div style="border: 1px solid #c0c0c0; height: 68px; background-color: #f5f5f5; padding: 10px 15px; margin-top: 10px">
                    <table border="0" style="width: 100%">
                        <tr>
                            <td>
                                <label id="lblPopupBirthdayUpdates"></label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            @*<div class="modal-footer">
            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnPortingHistoryclose" style="width: 100px;">Close</button>
     </div>*@
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Assets/Main/js/swid-customersearch.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#SearchText").on("keypress", function (e) {
                if (e.key == "Enter")
                    Search();
            });

            /* Notification Code Starting */
            $("#imgReplyClose1").click(function () {
                $("#LastInteractionInfoPopup").hide();

                var width = 672;
                if ($('#LastOpenComplaintsPopup').css('display') === 'none')
                    width = width - 333;
                if ($('#BirthdayUpdatesPopup').css('display') === 'none')
                    width = width - 333;
                if ($('#LastOpenComplaintsPopup').css('display') === 'none' && $('#BirthdayUpdatesPopup').css('display') === 'none')
                    $('#MainPopup').modal('hide');
                else
                    $("#MainPopup").css('width', '' + width + 'px' + '');

            });

            $("#imgReplyClose2").click(function () {
                $("#LastOpenComplaintsPopup").hide();

                var width = 672;
                if ($('#LastInteractionInfoPopup').css('display') === 'none')
                    width = width - 333;
                if ($('#BirthdayUpdatesPopup').css('display') === 'none')
                    width = width - 333;
                if ($('#BirthdayUpdatesPopup').css('display') === 'none' && $('#LastInteractionInfoPopup').css('display') === 'none')
                    $('#MainPopup').modal('hide');
                else
                    $("#MainPopup").css('width', '' + width + 'px' + '');
            });

            $("#imgReplyClose3").click(function () {
                $("#BirthdayUpdatesPopup").hide();

                var width = 672;
                if ($('#LastInteractionInfoPopup').css('display') === 'none')
                    width = width - 333;
                if ($('#LastOpenComplaintsPopup').css('display') === 'none')
                    width = width - 333;
                if ($('#LastInteractionInfoPopup').css('display') === 'none' && $('#LastOpenComplaintsPopup').css('display') === 'none')
                    $('#MainPopup').modal('hide');
                else
                    $("#MainPopup").css('width', '' + width + 'px' + '');
            });
            /* Notification Code Ending */

            $("#btnSearch").click(function () {

                //Notification Code Starting
                $("#MainPopup").css('width', '1000px');
                $("#LastInteractionInfoPopup").show();
                $("#LastOpenComplaintsPopup").show();
                $("#BirthdayUpdatesPopup").show();
                //Notification Code Ending

                Search();
            });

            function LatestOpenComplaints() {
                var searchText = $.trim($("input[name=SearchText]").val());
                var url = apiServer + '/api/customersearch';
                jQuery.support.cors = true;
                var JSONSendData = {
                    SearchText: searchText,
                    Search_Type: 5
                };
                $.ajax
                ({
                    url: url,
                    type: 'post',
                    data: JSON.stringify(JSONSendData),
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    beforeSend: function () {
                        $("#ajax-screen-masking").show();
                    },
                    success: function (feedback) {
                        $("#ajax-screen-masking").hide();
                        if (feedback.length > 0) {
                            $("#lblTotalOpenComplaints").html("Total Open Complaints: " + feedback.length);
                            $('#tblLastOpenComplaints').dataTable({
                                bDestroy: true,
                                bRetrieve: true,
                                aaData: feedback,
                                bPaginate: false,
                                bFilter: false,
                                bInfo: false,
                                iDisplayLength: 100,
                                aaSorting: [],
                                oLanguage: {
                                    "sinfoempty": '',
                                    "semptytable": "no records found."
                                },
                                aoColumns: [
                                  { mDataProp: "Ticket_id", sTitle: "Complaint ID" },
                                  { mDataProp: "Issue_Name", sTitle: "Category" },
                                  { mDataProp: "status", sTitle: "Status" }
                                ],
                                fnDrawCallback: function (ob) {
                                    $("#tblLastOpenComplaints_wrapper").css('margin-top', '-27px');
                                }
                            });
                        }
                        else {
                            $('#LastOpenComplaintsPopup').hide();
                            if ($('#BirthdayUpdatesPopup').css('display') === 'none' && $('#LastInteractionInfoPopup').css('display') === 'none' && $('#LastOpenComplaintsPopup').css('display') === 'none') {
                                $('#MainPopup').modal('hide');
                            }
                            else {
                                var width = 672;
                                if ($('#BirthdayUpdatesPopup').css('display') === 'none')
                                    width = width - 333;
                                if ($('#LastInteractionInfoPopup').css('display') === 'none')
                                    width = width - 333;
                                $("#MainPopup").css('width', '' + width + 'px' + '');
                                $('#MainPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                                    'margin-left': function () {
                                        return window.pageXOffset - ($(this).width() / 2);
                                    }
                                });
                            }
                        }
                    },
                    error: function (feedback) {
                        $("#ajax-screen-masking").hide();
                    }
                });
            }

            function Search() {
                if ($.trim($("input[name=SearchText]").val()) != "") {
                    //if ($.trim($("input[name=SearchText]").val()).substring(0, 3) == "436") {
                    //    $(".clsproductcode").html("VMAT");
                    //    var productCode = $(".clsproductcode").html();
                    //}
                    var productCode = '@ViewBag._productcode';
                    var searchBy = $("select[name=SearchBy] option:selected").val();
                    var searchText = $.trim($("input[name=SearchText]").val());
                    $("#customerContainerBody").html("").append("<table class=\"table table-bordered\" id=\"tblCustomerResult\"></table>");
                    $("#customerContainerBody").css({ "min-height": "100px", "background-image": "url('/Assets/Main/img/ajaxloader-02.gif')" });
                    var url = apiServer + '/api/customersearch';
                    jQuery.support.cors = true;
                    var JSONSendData = {
                        Product_Code: productCode,
                        SearchBy: searchBy,
                        SearchText: searchText,
                        Search_Type: 1
                    };
                    $.ajax
                    ({
                        url: url,
                        type: 'post',
                        data: JSON.stringify(JSONSendData),
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        cache: false,
                        beforeSend: function () {
                            $("#customerContainer").show();
                        },
                        success: function (feedback) {
                            debugger;
                            if (feedback.length > 0) {
                                if (feedback[0].today_birthday == 0) {
                                    $('#MainPopup').css('width', '672px');
                                    $('#BirthdayUpdatesPopup').hide();
                                }
                                else {
                                    $("#lblPopupBirthdayUpdates").html(feedback[0].FirstName + " is celebrating birthday today, greet him/her on behalf of Vectone.");
                                }
                                if (feedback[0].last_interacted_on != null && feedback[0].last_interacted_on != "") {
                                    $("#lblPopupLastInteractionOn").html(feedback[0].last_interacted_on);
                                    $("#lblPopupCategory").html(feedback[0].category);
                                }
                                else {
                                    $('#LastInteractionInfoPopup').hide();
                                    var width = 672;
                                    if ($('#BirthdayUpdatesPopup').css('display') === 'none')
                                        width = width - 333;
                                    $("#MainPopup").css('width', '' + width + 'px' + '');
                                }

                                LatestOpenComplaints();
                                //setTimeout(function () {
                                //    $('#MainPopup').modal({ keyboard: false, backdrop: 'static' }).css({
                                //        'margin-left': function () {
                                //            return window.pageXOffset - ($(this).width() / 2);
                                //        }
                                //    });
                                //}, 100);
                            }
                            $("#customerContainerBody").css({ "background-image": "none" });
                            //07-Aug-2015 : Moorthy Modified : To display Connection Type for VMUK
                            //if (productCode == "VMUK") {
                            $('#tblCustomerResult').dataTable({
                                bDestroy: true,
                                bRetrieve: true,
                                aaData: feedback,
                                bPaginate: true,
                                bFilter: false,
                                bInfo: false,
                                iDisplayLength: 10,
                                aaSorting: [],
                                oLanguage: {
                                    "sInfoEmpty": '',
                                    "sEmptyTable": "No customer found."
                                },
                                aoColumns: [
                                    {
                                        mDataProp: "MobileNo", sTitle: "Mobile Number",
                                        fnRender: function (ob) {
                                            return ob.aData.MobileNo;
                                        }
                                    },
                                    {
                                        mDataProp: "SubscriberID", sTitle: "Subscriber Id",
                                        fnRender: function (ob) {
                                            return ob.aData.SubscriberID;
                                        }
                                    },
                                    {
                                        mDataProp: "CustomerID", sTitle: "Customer ID",
                                        fnRender: function (ob1) {
                                            if (ob1.aData.CustomerID == 0) {
                                                ob1.aData.CustomerID = "0";
                                            }
                                            return ob1.aData.CustomerID;
                                        }
                                    },
                                    {
                                        mDataProp: "FirstName", sTitle: "Full Name",
                                        fnRender: function (ob) {
                                            var fullname = "";
                                            if (ob.aData.FirstName != null) {
                                                fullname += ob.aData.FirstName + " ";
                                            }
                                            if (ob.aData.LastName != null) {
                                                fullname += ob.aData.LastName;
                                            }

                                            return fullname;
                                        }
                                    },
                                    { mDataProp: "Email", sTitle: "Email" },
                                    { mDataProp: "ICCID", sTitle: "ICCID" },
                                    { mDataProp: "SerialNumber", sTitle: "Serial Number" },
                                    {
                                        mDataProp: "ConnectionStatus", sTitle: "Connection Status",
                                        fnRender: function (Cus1) {
                                            if (Cus1.aData.ConnectionStatus == null) {
                                                Cus1.aData.ConnectionStatus = "";
                                            }
                                            return Cus1.aData.ConnectionStatus;
                                        }
                                    },
                                    {
                                        mDataProp: "Sim_Type", sTitle: "Connection Type"
                                    },
                                    {
                                        mDataProp: "postcode", sTitle: "Action", bSortable: false,
                                        fnRender: function (ob) {
                                            var actionURL = "";
                                            if (ob.aData.MobileNo != undefined && ob.aData.MobileNo.trim() != "") {
                                                actionURL = "<button class=\"btn blue btnSelectCustomer\" alt=\"" + ob.aData.MobileNo + "|" + productCode + "|" + ob.aData.Sim_Type + "\">Select Customer</button>";
                                            }
                                            else {
                                                actionURL = "<button class=\"btn lightgrey btnSelectCustomer\" disabled=\"disabled\" >Select Customer</button>";
                                            }
                                            return actionURL;
                                        }
                                    },
                                ],
                                fnDrawCallback: function (ob) {
                                    $("table#tblCustomerResult thead tr th").eq(5).css({ "width": "170px", "text-align": "center" });
                                }
                            });
                            $("#tblCustomerResult_wrapper .row-fluid:eq(0)").remove();
                            $("#tblCustomerResult_wrapper .row-fluid .span6:eq(0)").remove();
                            $("#tblCustomerResult_wrapper .row-fluid .span6").addClass("span12").removeClass("span6");
                        }
                    });
                }
                else {
                    $("input[name=SearchText]").focus();
                }
            }
        });
    </script>
}