﻿<div id="header">
    <!-- BEGIN HEADER -->
    <div class="navbar navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="navbar-inner">
            <div class="container-fluid_newlogo">
                <!-- BEGIN LOGO -->
                @*<a class="brand" href="~/Customer/Search" style="width: 150px">*@
                @if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader)
                { 
                    <a class="brand" href="~/Home/Index" style="width: 150px" title="Home">
                        <img src="~/Assets/Main/img/logo-vectone.png" style="height: 28px">
                    </a>
                }
                else
                { 
                    <a class="brand" href="~/Customer/Search" style="width: 150px" title="Home">
                        <img src="~/Assets/Main/img/logo-vectone.png" style="height: 28px">
                    </a>
                }
                <!-- END LOGO -->

                <ul id="topBarMenu" class="nav">
                    @*<li class="swidnav active" id="MenuHome">
                        <a href="/Home/Index" style="padding:7px 20px 2px 20px;">
                            <div style="width:100%;text-align:center">
                                <i class="icon-home icon-white" style="font-size:22px"></i>
                            </div>
                            <div style="width:100%;text-align:center">Home</div>
                        </a>
                    </li>*@
                    @if (ViewBag.CustomerSearch == 1)
                    {
                        <li class="swidnav dropdown" id="MenuCustomer">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-group icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Customers</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Customer/">Search Customers</a></li>
                            </ul>
                        </li>
                    }
                    @if (ViewBag.SIMOrder == 2)
                    {
                        <li class="swidnav dropdown" id="MenuSIMOrder">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-credit-card icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">SIM Order</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/SIMOrder/">Order List</a></li>
                                @*<li><a href="/SIMOrder/Search">Order Search</a></li>*@
                                <li><a href="/SIMOrder/Label">Address Labelling</a></li>
                                <li><a href="/SIMOrder/FreeSIMOrder">Free SIM Order</a></li>
                            </ul>
                        </li>
                    }
                    @if (ViewBag.Vouchers == 3)
                    {
                        <li class="swidnav dropdown" id="MenuVoucher">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-tag icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Vouchers</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Voucher/Checker">Voucher Checker</a></li>
                            </ul>
                        </li>
                    }
                    @if (ViewBag.PortIn == 4)
                    {
                        <li class="swidnav dropdown" id="MenuPortIN">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-download-alt icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Port IN</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">UK</a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="/PortIN/UKSubmitRequest">Submit Request</a></li>
                                        <li><a href="/PortIN/UKModifyRequest">Modify Request</a></li>
                                        <li><a href="/PortIN/UKSMSRequest">SMS Requests</a></li>
                                    </ul>
                                </li>
                             @*   <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Netherland</a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="/PortIN/NLPortInList">Port In List</a></li>
                                        <li><a href="/PortIN/NLPortingRequest">Porting Request</a></li>
                                    </ul>
                                </li>*@
                                @*<li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Austria</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#" style="color:#c0c0c0">Send Request Nuev-Info (Out)</a></li>
                                    <li><a href="#" style="color:#c0c0c0">Request Nuev-Info (Out) List</a></li>
                                    <li><a href="/PortIN/ATPortingRequest">Request Porting</a></li>
                                    <li><a href="#" style="color:#c0c0c0">Request Cancel</a></li>
                                    <li><a href="#" style="color:#c0c0c0">Transaction Report</a></li>
                                </ul>
                            </li>*@
                                <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Austria</a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="/PortIN/ATSendRequestNuev">Send Request Nuev-Info (Out)</a></li>
                                        <li><a href="/PortIN/ATRequestNuevList">Request Nuev-Info (Out) List</a></li>
                                        <li><a href="/PortIN/ATPortingRequest">Request Porting</a></li>
                                        <li><a href="/PortIN/ATPortingCancel">Request Cancel</a></li>
                                        <li><a href="/PortIN/ATTransactionReport">Transaction Report</a></li>
                                    </ul>
                                </li>
                               @* <li class="dropdown-submenu">
                                    <a tabindex="-1" href="#">Sweden</a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="/PortIN/SEPortingRequest">Port In Request</a></li>
                                        <li><a href="/PortIN/SEPortINList">Port In List</a></li>
                                        <li><a href="/PortIN/SERejectedPortInList">Recently Rejected Port In List</a></li>
                                    </ul>
                                </li>*@
                            </ul>
                        </li>
                    }
                    @if (ViewBag.Payment == 5)
                    {
                        <li class="swidnav dropdown" id="MenuPayment">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-money icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Payment</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Payment/PendingList">Payment Order</a></li>
                            </ul>
                        </li>
                    }
                    @if (ViewBag.Finance == 6)
                    {                   
@*@if (@ViewBag._productcode == "VMUK")
                        {*@
                        <li class="swidnav dropdown " id="MenuFinance">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-gbp icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Finance</div>
                            </a>
                            <ul class="dropdown-menu">
                                @*<li><a href="/PMBO/TabDDOperation">PMBO Operations</a></li>
                                     <li><a href="/Finance/Tabfsearchcustomer">Search Customer</a></li>*@
                                <li><a href="/Finance/Tabfsearchcustomer">View Transaction</a></li>

                                <li><a href="/Finance/Tabfsearchtranasction">Search Transaction</a></li>
                                <!-- BreakageReport -->
                                <li><a href="/Finance/Tabfbreakagereport">Breakage Report</a></li>
                                <!-- AddBalanceReport -->
                                <li><a href="/Finance/Tabfaddbalancereport">Add Balance Report</a></li>
                                @*  @if (@ViewBag.FullName == "xavier george" || @ViewBag.FullName == "Piumi Kumaradasa" || @ViewBag.FullName == "asardeen k" || @ViewBag.FullName == "Chirag rajendran" || @ViewBag.FullName == "Product.Team" || @ViewBag.FullName == "dev" || @ViewBag.FullName == "krishnamurthy.sathish")
                                {*@
                                <li><a href="/BlockandUnblock/TabLsearchblockandunblock">Block/Unblock</a></li>
                                @* }*@
                                @* Below line disable by karthik code intergation iusse *@
                                @* <li><a href="/PAYM/TabAccountstatus/@ViewBag._mobileno">Block/Unblock Account</a></li>*@
                                @*Added by BSK for CRMT-107*@
                                @if (@ViewBag._productcode == "VMUK" || @ViewBag._productcode == "VMFR" || @ViewBag._productcode == "VMNL" || @ViewBag._productcode == "VMAT")
                                {
                                    @*<li><a href="/PMBO/TabDDOperation/">PMBO Operations</a></li>*@
                                }
@*<li><a href="/PMBO/PMBOCustomer/">Search Customers</a></li>*@
                                
@*<li><a href="/Customer/">Search Customers</a></li>*@
                                <!-- CancelTopup -->
                                @if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin)
                                {
                                    <li><a href="/Finance/Tabfcanceltopup">Add / Refund Topup</a></li>
                                }
                                <li><a href="/PMBO/Reports">RDL Report</a></li>
                                @if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin)
                                {
                                    <!-- TransferBalanceReport -->
                                    <li><a href="/Finance/Tabftransferbalancereport">Transfer Balance Report</a></li>
                                }
                                <!-- 05-Feb-2019 : Moorthy : Added for auto Topup Report -->
                                <li><a href="/Finance/Tabfautotopupreport">Auto Topup Report</a></li>
                                <!-- 12-Feb-2019 : Moorthy : Added for General Report -->
                                <li><a href="/Finance/Tabfgeneralreport">General Report</a></li>
                                <!-- 26-Feb-2019 : Moorthy : CRMIMP-19 - Blocking and unblocking customer -->
                                <li><a href="/FruadBlockandUnblock/TabLfruadblockandunblock">Fruad Block/Unblock</a></li>
                                <!-- 27-Feb-2019 : Moorthy : CRMIMP-21 - ChargebackSuspension -->
                                <li><a href="/ChargebackSuspension/TabLchargebacksuspension">Chargeback</a></li>
                                @if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin)
                                {
                                    <!-- TransferBalanceReport -->
                                    <li><a href="/Finance/Tabffreedatabundlereport">Free Data \ Bundle Report</a></li>
                                }
                            </ul>
                        </li>
@*}*@
                    }
                    @if (ViewBag.LLOMManagement == 7)
                    {
                        
                        <li class="swidnav dropdown" id="MenuLLOTG">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-keyboard icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">LLOM-MANAGEMENT</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/LLOTGSearch/TabLsearchcustomer">LLOM-MANAGEMENT</a></li>
                            </ul>
                        </li>
                        
@*<li class="swidnav dropdown " id="MenuLLOTG">
                            <a href="/LLOTGSearch/TabLsearchcustomer" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 20px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-keyboard icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center" onclick="location.href='/LLOTGSearch/TabLsearchcustomer'">
                                    LLOM-MANAGEMENT
                                </div>
                            </a>
                        </li>*@
                        
                        
                    }
                    @if (ViewBag.Reports == 8)
                    {
                        if (@ViewBag._productcode == "VMUK")
                        {
                        <li class="swidnav dropdown" id="MenuCSreports">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-money icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Reports</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Reports/Marketing">Marketing Reports I</a></li>
                                <li><a href="/Reports/oMarketing">Marketing Reports II</a></li>
                                <li><a href="/Reports/Tabfsearchtranasction">CS Reports</a></li>
                                <li><a href="/Reports/TabfSMSHistory">CRM SMS Report</a></li>
                                <!-- Issue History Report -->
                                @if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager)
                                {
                                    <li><a href="/Finance/Tabfissuehistorylist">Issue History Report</a></li>
                                }
                                <li><a href="/Reports/TabComplaints">Complaints Report</a></li>
                                <li><a href="/Reports/TabBundleService">Add Service Report</a></li>
                                <li><a href="/Reports/TabSIMActivation">AT SIM Activation Report</a></li>
                                <li><a href="/Reports/TabAutoRenewalHistory">Auto Renewal History Report</a></li>
                            </ul>



                        </li>
                        }

                        else
                        { 
                        <li class="swidnav dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-money icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Reports</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Reports/Tabfsearchtranasction">CS Reports</a></li>
                                <li><a href="/Reports/TabSIMActivation">AT SIM Activation Report</a></li>
                                 <li><a href="/Reports/TabAutoRenewalHistory">Auto Renewal History Report</a></li>
                            </ul>
                        </li>
                        }
                    }
@* // menu user lockd as per the murali request  on  20160219*@
                    @if (ViewBag.CreateUsers == 9)
                    {
                        
                    @* @if (@ViewBag.FullName == "Product.Team")
                    {
                        *@
                        <li class="swidnav dropdown" id="MenuUsers">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-user icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Users</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Users/UserList">Users List</a></li>
                            </ul>
                        </li>
                    }
                    <!-- Email Tickets -->
                    @if (ViewBag.EmailTickets == 10)
                    {
                        <li class="swidnav dropdown" id="MenuQueue">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-credit-card icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Queues</div>
                            </a>
                            <ul class="dropdown-menu">
                                @if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Agent)
                                { 
                                    <li><a href="/Emails/EmailList/1">Email List</a></li>
                                    <li><a href="/Enquiries/UserList">Enquiries List</a></li>
                                }
                                else if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.EsclatingTeam)
                                { 
                                    <li><a href="/Emails/EmailList/2">Email List</a></li>
                                    <li><a href="/Enquiries/UserList">Enquiries List</a></li>
                                }
                                @*else if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.EsclatingTeam)
                                { 
                                <li><a href="/Emails/EmailList/3">Email List</a></li>
                                }*@
                                @if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader)
                                { 
                                    <li><a href="/Emails/EmailSettings">Settings</a></li>
                                }
                            </ul>
                        </li>
                    }
                    <!-- Doc Repository -->
                    @if (ViewBag.DocRepository == 11)
                    {
                         <li class="swidnav dropdown" id="MenuDocRepository">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-credit-card icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Docs</div>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/Docs/DocList">Process Flow Documents</a></li>
                                    <li><a href="/Docs/ArchiveList">Archive Document</a></li>
                                @if (CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Admin || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.Manager || CRM_API.Helpers.Session.CurrentUser.user_role == CRM_API.Models.User_Role.TeamLeader)
                                {
                                    <li><a href="/Docs/DocUpload">Upload Document</a></li>
                                }
                            </ul>
                        </li>
                    }
                  @*if (ViewBag.MenuEnquiries == 13)
                    {
      
                        <li class="swidnav dropdown" id="MenuEnquiries">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 7px 20px 3px 10px;">
                                <div style="width: 100%; text-align: center">
                                    <i class="icon-user icon-white" style="font-size: 22px"></i>
                                </div>
                                <div style="width: 100%; text-align: center">Enquiries</div>
                            </a> 
                            <ul class="dropdown-menu">
                                 <li><a href="/Enquiries/UserList">Enquiries List</a></li>
                            </ul>
                        </li>
                    }*@
                </ul>

                <!-- BEGIN TOP NAVIGATION MENU -->
                <ul class="nav pull-right">
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="display: block; height: 30px">
                            <div class="pull-right" style="line-height: 30px;"><i class="icon-angle-down"></i></div>
                            <div class="pull-right clsproductcode" style="margin: -6px 8px 0 15px; background-color: #386ab9; border: 1px solid #2c5ca9; border-right: 1px solid #aacbff; border-bottom: 1px solid #aacbff; font-size: 23px; font-weight: bold; padding: 11px 8px">@ViewBag._productcode</div>
                            @*<img id="UserAvatar" alt="" src="~/Assets/Properties/Flags/flag_default.png" style="margin-right:10px;margin-top:-6px;width:40px;height:40px"/>*@
                            <div class="pull-right" style="line-height: 15px; text-align: right">
                                <div style="color: #ffffff; font-weight: bold">Welcome</div>
                                <div class="username" style="overflow-wrap: break-word; max-width: 100px;">@ViewBag.FullName</div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="ChangeGlobalProduct" href="javascript:void(0)"><i class="icon-briefcase">&nbsp;&nbsp;&nbsp;</i>Change Product</a></li>
                            <li><a href="/Auth/Logoff"><i class="icon-off">&nbsp;&nbsp;&nbsp;</i>Logout</a></li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
                <!-- END TOP NAVIGATION MENU -->
                <input type="hidden" id="gProductCode" name="gProductCode" value="@ViewBag._productcode"/>
                <input type="hidden" id="gSiteCode" name="gSiteCode" />
                <input type="hidden" id="gCountryName" name="gCountryName" />
            </div>
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
</div>


