﻿@{
    ViewBag.FullName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    ViewBag.SiteCode = CRM_API.Helpers.Session.CurrentUser.site_code;
    ViewBag.CountryName = CRM_API.Helpers.Session.CurrentUser.country;
    ViewBag.UserName = CRM_API.Helpers.Session.CurrentUser.user_login;
    ViewBag.permission = CRM_API.Helpers.Session.CurrentUserPermission;
    foreach (var person in ViewBag.permission)
    {
        var checkpermission = person.permission_id;
        if (checkpermission == 1)
        {
            ViewBag.CustomerSearch = 1;
        }
        if (checkpermission == 2)
        {
            ViewBag.SIMOrder = 2;
        }
        if (checkpermission == 3)
        {
            ViewBag.Vouchers = 3;
        }
        if (checkpermission == 4)
        {
            ViewBag.PortIn = 4;
        }
        if (checkpermission == 5)
        {
            ViewBag.Payment = 5;
        }

        if (checkpermission == 6)
        {
            ViewBag.Finance = 6;
        }
        if (checkpermission == 7)
        {
            ViewBag.LLOMManagement = 7;
        }
        if (checkpermission == 8)
        {
            ViewBag.Reports = 8;
        }
        if (checkpermission == 9)
        {
            ViewBag.CreateUsers = 9;
        }
        //Email Tickets
        if (checkpermission == 10)
        {
            ViewBag.EmailTickets = 10;
        }
        ViewBag.MenuEnquiries = 13;
        //Doc Repository
        if (checkpermission == 11)
        {
            ViewBag.DocRepository = 11;
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Mundio, CRM3" name="description" />
    <meta content="" name="author" />

    <link href="~/Assets/Main/css/swid-bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- Style Changed 
    <link href="~/Assets/Main/css/swid-bootstrap_new.css" rel="stylesheet" type="text/css" />-->
    <link href="~/Assets/ThirdParty/datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/ThirdParty/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    
    <link href="~/Assets/ThirdParty/other/css/metro.css" rel="stylesheet" type="text/css" />
    <!-- Style Changed 
    <link href="~/Assets/ThirdParty/other/css/metro_new.css" rel="stylesheet" type="text/css" /> -->
    <link href="~/Assets/ThirdParty/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/ThirdParty/other/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Style Changed 
    <link href="~/Assets/ThirdParty/other/css/style_new.css" rel="stylesheet" type="text/css" />-->
    <!-- DataTables -->
    <link href="~/Assets/ThirdParty/datatables/v1.9.4/css/DT_bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Main/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Main/css/swid-popupmsg.css" rel="stylesheet" type="text/css" />
    <!-- Style Changed
    <link href="~/Assets/Main/css/Site_new.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Main/css/swid-popupmsg_new.css" rel="stylesheet" type="text/css" />-->



    <link rel="stylesheet" href="~/Assets/Multiselect/css/bootstrap-multiselect.css" type="text/css">
    <link rel="stylesheet" href="~/Assets/Multiselect/css/prettify.css" type="text/css">
    <script type="text/javascript" src="~/Assets/Multiselect/js/jquery-2.1.0.min.js"></script>


    <script type="text/javascript" src="~/Assets/Multiselect/js/prettify.js"></script>

    @*<link rel="shortcut icon" href="~/Assets/Main/img/favicon.ico" type="image/vnd.microsoft.icon">*@
</head>
<body>

    <div class="container-fluid">
        <div class="row-fluid">

            <div class="row-fluid">
                @Html.Partial("~\\views\\shared\\_HeaderPartial.cshtml")
            </div>

        </div>
        <div class="spacing-big"></div>
        @Html.Partial("~/Views/Shared/_SelectProduct.cshtml")
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/Assets/ThirdParty/jquery/cores/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/bootstrap/v2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.com.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.shared.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/bootstrap/others/js/breakpoints.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/jquery/plugins/jquery.blockui.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/jquery/plugins/jquery.cookie.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/jquery/plugins/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/jquery/plugins/jquery.balloon.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/jquery/plugins/jquery.rest.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" src="~/Assets/ThirdParty/datatables/v1.9.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/datatables/v1.9.4/js/DT_bootstrap.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/datatables/v1.9.4/js/jquery.datatable.numsorting.js"></script>
    <script type="text/javascript" src="~/Assets/ThirdParty/jquery/plugins/app.js"></script>




    @RenderSection("ScriptsTab", required: false)
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {

            var gProductCode = $("input[name=gProductCode]").val();

            if (gProductCode != "") {
                var gSiteCode = '';
                var gCountryName = '';
                switch (gProductCode) {
                    case 'DMAT':
                    case 'VMAT':
                        gSiteCode = 'BAU';
                        gCountryName = 'Austria';
                        break;
                    case 'DMDK':
                    case 'VMDK':
                        gSiteCode = 'BDK';
                        gCountryName = 'Denmark';
                        break;
                    case 'DMFI':
                    case 'VMFI':
                        gSiteCode = 'MFI';
                        gCountryName = 'Finland';
                        break;
                    case 'DMFR':
                    case 'VMFR':
                        gSiteCode = 'MFR';
                        gCountryName = 'France';
                        break;
                    case 'DMNL':
                    case 'VMNL':
                        gSiteCode = 'BNL';
                        gCountryName = 'Netherlands';
                        break;
                    case 'DMPT':
                    case 'VMPT':
                        gSiteCode = 'MPT';
                        gCountryName = 'Portugal';
                        break;
                    case 'DMSE':
                    case 'VMSE':
                        gSiteCode = 'BSE';
                        gCountryName = 'Sweden';
                        break;
                    case 'DMUK':
                    case 'VMUK':
                        gSiteCode = 'MCM';
                        gCountryName = 'United Kingdom';
                        break;
                    case 'VMBE':
                    case 'DMBE':
                        gSiteCode = 'MBE';
                        gCountryName = 'Belgium';
                        break;
                    case 'GCM':
                        gSiteCode = 'GCM';
                        gCountryName = 'All Countries';
                        break;
                    case 'CTPUK':
                        gSiteCode = 'LO2';
                        gCountryName = 'CTPUK';
                        break;
                    case 'CTPUS':
                        gSiteCode = 'US1';
                        gCountryName = 'CTPUS';
                        break;
                    case 'CTPCH':
                        gSiteCode = 'CH1';
                        gCountryName = 'CTPCH';
                        break;
                    case 'CTPFR':
                        gSiteCode = 'FR1';
                        gCountryName = 'CTPFR';
                        break;
                        //Addted by karthik Jira CRMT-23
                    case 'VMPL':
                    case 'DMPL':
                        gSiteCode = 'BPL';
                        gCountryName = 'Poland';
                        break;
                    case 'VMCZ'://25-Jan-2016 : New Countries
                    case 'DMCZ':
                        gSiteCode = 'MCZ';
                        gCountryName = 'Czech';
                        break;
                    case 'VMCY':
                    case 'DMCY':
                        gSiteCode = 'MCY';
                        gCountryName = 'Cyprus';
                        break;
                    case 'VMSR':
                    case 'VMRS':
                    case 'DMSR':
                        gSiteCode = 'MSR';
                        gCountryName = 'Serbia';
                        break;
                }
                $("input[name=gSiteCode]").val(gSiteCode);
                $("input[name=gCountryName]").val(gCountryName);
                $(document).attr("title", "[" + gSiteCode + "-" + gProductCode + "] @ViewBag.Title");
        }
        $("a#ChangeGlobalProduct").live("click", function () {

            $('#SelectPrdDialog').modal({ keyboard: false, backdrop: 'static' }).css({
                'margin-left': function () {
                    return window.pageXOffset - ($(this).width() / 2);
                }
            });

            /* Get Product List -------------------- */
            //$("select#productList").html("").append("<option value=\"\" selected>-- Select Product --</option>");
            //var url = apiServer + '/api/product';
            //$.getJSON(url, function (data) {
            //    var optionData = "";
            //    for (var idx in data) {
            //        //if (data[idx].mundio_product != 'GCM') {
            //        optionData += "<option value=" + data[idx].mundio_product + " alt=\"" + data[idx].sitecode + "\">" + data[idx].product_name + "</option>";
            //        //}
            //    }
            //    $("[name=productList]").append(optionData).removeAttr("disabled");
            //    $("img#productListLoader").hide();
            //});
            /* eof GetProductList -------------------- */
        });

        $('#productList').change(function () {
            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            var ControllerName = $.trim(splitURL[1]);
            var ActionName = $.trim(splitURL[2]);
            var ProductCode = $('select[name=productList] option:selected').val();
            if (ProductCode != "") {
                if (ControllerName != "") {
                    switch (ControllerName.toLowerCase()) {
                        case 'product':
                            window.location = '/Product/Select/' + ProductCode;
                            break;
                        case 'customer':
                            window.location = '/Product/Select/' + ProductCode + "?RedirectToController=Customer&RedirectToAct=Index";
                            break;
                            //Modif by karthik PAYM customer change product iusse fixed.
                        case 'paym':
                            window.location = '/Product/Select/' + ProductCode + "?RedirectToController=Customer&RedirectToAct=Index";
                            break;
                        default:
                            if (ActionName != "") {
                                window.location = '/Product/Select/' + ProductCode + "?RedirectToController=" + ControllerName + "&RedirectToAct=" + ActionName;
                            } else {
                                window.location = '/Product/Select/' + ProductCode + "?RedirectToController=" + ControllerName;
                            }
                    }
                } else {
                    window.location = '/Product/Select/' + ProductCode;
                }
            }
        });

    });
    </script>
</body>
</html>
