﻿<div class="PMSuccess popup-message modal hide border-green" style="z-index:9999">
	<div class="modal-header background-green"></div>
	<div class="modal-body"></div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn green btnPMSuccessOK" type="button" alt="0" style="width:100px;float:right;">OK</button>
    </div>
</div>
<div class="PMFailed popup-message modal hide border-org">
	<div class="modal-header background-org"></div>
	<div class="modal-body"></div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn orange btnPMFailedOK" type="button" alt="0" style="width:100px;float:right;">OK</button>
    </div>
</div>