﻿<div id="SelectPrdDialog" class="popup-message modal border-lightblue" style="display: none; width: 430px; border-top-left-radius: 5px !important; border-top-right-radius: 5px !important;">
    <div class="modal-header background-lightblue" style="font-family: Arial">Select Product</div>
    <div class="modal-body" style="font-size: 14px; padding: 15px 20px">
        <div style="width: 100%">
            <span style="font-weight: bold; font-size: 14px">Select Product</span>&emsp;
            <select id="productList" name="productList" style="margin-top: 10px; margin-bottom: 15px">
                <option value="" selected="">-- Select Product --</option>
                <option value="DMAT" alt="BAU">Austria Delight - DMAT</option>
                <option value="VMAT" alt="BAU">Austria Vectone - VMAT</option>
                <option value="VMBE" alt="MBE">Belgium Vectone - VMBE</option>
                <option value="VMFR" alt="MFR">France Vectone - VMFR</option>
                @*<option value="VMNL" alt="BNL">Netherlands Vectone - VMNL</option>*@
                <option value="DMUK" alt="MCM">UK Delight - DMUK</option>
                <option value="VMUK" alt="MCM">UK Vectone - VMUK</option>
            </select>
            @*&emsp;<img id="productListLoader" src="~/Assets/Main/img/ajaxloader-03.gif" />*@
        </div>
    </div>
</div>
