﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Pending List Payment";

    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
}

<div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
<div class="row-fluid">
	<div class="span12">
        <div style="font-size:22px;background-color:#6E5CA8;color:#fff;padding:10px;padding-left:15px;border-top-left-radius: 5px !important;border-top-right-radius: 5px !important;">Payment Pending List</div>
	</div>
</div>
<div class="row-fluid">
	<div class="span12" style="background-color:#ffffff;border:1px solid #81adf5;padding: 18px 15px 10px 15px;">
        <table border="0">
            <tr>
                <td><div style="margin-top:-10px">Filter By&emsp;</div></td>
                <td colspan="4">
                    <select id="fiterPaymentBy" name="fiterPaymentBy">
                        <option value="1" style="padding:3px 5px">Account ID</option>
                        <option value="2" style="padding:3px 5px">Reference ID</option>
                        <option value="3" style="padding:3px 5px">Product</option>
                    </select>
                </td>
                <td><input type="text" name="fiterPaymentInput" id="fiterPaymentInput" /></td>
                <td>&emsp;</td>
                <td>
                    <div class="input-append date" id="startDateContainer" data-date-format="dd/mm/yyyy">
					  <input class="span8 dateInput" id="startDate" name="startDate" size="16" type="text" value="" style="margin-top:-8px;width:90px">
					  <input type="hidden" id="startDateH" name="startDateH" value="">
					  <span class="add-on" style="margin-top:-8px"><i class="icon-calendar"></i></span>
					</div>
                </td>
                <td><div style="margin-top:-10px">&nbsp;To&nbsp;</div></td>
                <td>
                    <div class="input-append date" id="endDateContainer" data-date-format="dd/mm/yyyy">
					  <input class="span8 dateInput" id="endDate" name="endDate" size="16" type="text" value="" style="margin-top:-8px;width:90px">
                        <input type="hidden" id="endDateH" name="endDateH" value="">
					  <span class="add-on" style="margin-top:-8px"><i class="icon-calendar"></i></span>
					</div>
                </td>
                <td>
                    &emsp;<button class="btn blue" id="filterPaymentBtnGO" style="margin-top:-10px;width:80px">Go</button>
                    &nbsp;<span id="errInputDate" class="alert-error"></span>
                </td>
            </tr>
        </table>
	</div>
</div>
<div class="row-fluid" id="TablePaymentPendingListContainer" style="margin-top:5px; display:none">
	<div class="span12" style="background-color:#ffffff;border:1px solid #81adf5;padding:20px 10px;">
        <table class="table table-bordered table-hover" id="TablePaymentPendingList" style="width:100%" ></table>
	</div>
    
</div>

<div id="PaymentReviewContainer" class="popup-message modal hide border-blue" style="width:1000px;height:600px;display:none">
    <div class="modal-header background-blue">
        <div style="float:left;width:90%;text-align:left;">Payment Review</div>
        <div style="float:right;width:5%;text-align:right;">
            <a data-dismiss="modal" href="javascript:void(0)" id="PaymentReviewClose" style="text-decoration:none;color:#ffffff">X</a>
        </div>
    </div>
	<div class="modal-body" style="max-height:530px !important">
        <div style="float:left;width:100%;font-size:18px;font-weight:bold;margin-bottom:10px;padding-bottom:5px;border-bottom:1px solid #e0e0e0" >Payment Detail</div>
        <div id="PaymentDetailContainer" style="float:left;width:100%">
            <table class="TablePaymentReview" border="0" cellspacing="2" cellpadding="2" style="float:left;width:45%">
                <tr>
                    <td style="width:150px;font-weight:bold">Reference ID</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdReferenceID">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Account ID</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdAccountID">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Product Code</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdProductCode">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Amount</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdAmount">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">CC No/Subscription ID</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdCCNo">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Email</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdEmail">&nbsp;</td>
                </tr>
            </table>
            <table class="TablePaymentReview" border="0" cellspacing="2" cellpadding="2" style="float:right;width:52%">
                <tr>
                    <td style="width:150px;font-weight:bold">Process Time</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdProcessTime">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Agent</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdAgent">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Agent IP</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdAgentIP">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Client IP</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdClientIP">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Provider</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdProvider">&nbsp;</td>
                </tr>
                <tr>
                    <td style="font-weight:bold">Provider Response</td>
                    <td style="color:#505050;border-bottom:1px dotted #e0e0e0" id="tdProviderResponse">&nbsp;</td>
                </tr>
            </table>
        </div>
        @*<div id="PaymentReviewBtnContainer" style="float:left;width:100%;margin-top:10px;padding:10px 0;background-color:#f5f5f5;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;">
            <button class="btn blue" id="PaymentReviewBtnApprove" style="width:90px">Approve</button>
            <button class="btn blue" id="PaymentReviewBtnReject" style="width:90px;margin-left:10px">Reject</button>
        </div>*@
        <div style="float:left;width:100%;font-size:18px;font-weight:bold;margin-top:20px;" >Past Payment Review</div>
        <div style="float:left;width:100%;background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;" id="TablePastPaymentReviewContainer"></div>
        <div style="float:left;width:100%;font-size:18px;font-weight:bold;margin-top:10px;" >Last 10 Payment Transaction</div>
        <div style="float:left;width:100%;background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;" id="TableLast10PaymentTransactionContainer"></div>
	</div>
</div>

<div id="PaymentReviewApprove" class="popup-message modal hide border-blue" style="width:400px;display:none;">
	<div class="modal-header background-blue">Approve Payment</div>
	<div class="modal-body">
        <input type="hidden" id="PRAAccountID" name="PRAAccountID" />
        Approve Payment <span id="PRAReferenceID" style="font-weight:bold">&nbsp;</span>&nbsp;?<br/>
        <textarea id="PaymentReviewApproveReason" style="width:355px;height:90px;resize: none;" autocomplete="off" spellcheck="false"></textarea>
	</div>
    <div class="modal-footer">
        <button class="btn blue" id="PaymentReviewApproveBtnCancel" style="width:100px;float:right;">Cancel</button>
        <button class="btn blue" id="PaymentReviewApproveBtnApprove" style="width:100px;float:right;">Approve</button>
    </div>
</div>

<div id="PaymentReviewReject" class="popup-message modal hide border-red" style="width:400px;display:none;">
	<div class="modal-header background-red">Reject Payment</div>
	<div class="modal-body">
        <input type="hidden" id="PRRAccountID" name="PRRAccountID" />
        Reject Payment <span id="PRRReferenceID" style="font-weight:bold">&nbsp;</span>&nbsp;?<br/>
        <textarea id="PaymentReviewRejectReason" style="width:355px;height:90px;resize: none;" autocomplete="off" spellcheck="false"></textarea>
	</div>
    <div class="modal-footer">
        <button class="btn blue" id="PaymentReviewRejectBtnCancel" style="width:100px;float:right;">Cancel</button>
        <button class="btn blue" id="PaymentReviewRejectBtnReject" style="width:100px;float:right;">Reject</button>
    </div>
</div>

@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(6);

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;

            $("#startDateContainer").attr('data-date', today).datepicker().on("changeDate", function (e) {
                $("div.datepicker").hide();
            });

            $("#endDateContainer").attr('data-date', today).datepicker().on("changeDate", function (e) {
                $("div.datepicker").hide();
            });

            $("button#filterPaymentBtnGO").live("click", function () {
                var fiterPaymentBy = $.trim($("select[name=fiterPaymentBy] option:selected").val());
                var fiterPaymentInput = $.trim($("input[name=fiterPaymentInput]").val());
                var validDate = /^[0-3]\d\/[0-1]\d\/[1-9]\d{3}$/;
                var startDate = $.trim($("input[name=startDateH]").val());
                var endDate = $.trim($("input[name=endDateH]").val());
                var gProductCode = $.trim('@ViewBag._productcode');

                if (startDate != "" || endDate != "") {
                    if (validDate.test(startDate) == true && validDate.test(endDate) == true) {
                        PendingList(fiterPaymentBy, fiterPaymentInput, startDate, endDate, gProductCode);
                    } else {
                        $("span#errInputDate").html("Invalid format date").show().delay(5000).fadeOut(500);
                    }
                } else {
                    PendingList(fiterPaymentBy, fiterPaymentInput, startDate, endDate, gProductCode);
                }
            });

            $("input[name=startDate]").live("keyup", function () {
                $("input[name=startDateH]").val($(this).val());
            });

            $("input[name=endDate]").live("keyup", function () {
                $("input[name=endDateH]").val($(this).val());
            });

            $("a.paymentPendingAnchor").live("click", function () {
                var gProductCode = $.trim('@ViewBag._productcode');
                var ajaxSpinnerTop = $(window).outerHeight() / 2;
                $("#ajax-screen-masking #ajax-loader").css({ "margin-top": ajaxSpinnerTop + "px" });
                $("#ajax-screen-masking").css({ "height": $(document).outerHeight() + "px" });

                var refid = $.trim($(this).attr("data-refid"));
                PaymentReviewByRefID(refid, gProductCode);
            });

            $("button#PaymentReviewBtnApprove").live("click", function () {
                var refid = $.trim($(this).attr("data-refid"));
                $("#PaymentReviewContainer").modal("hide");
                $("#PaymentReviewApprove").modal({ keyboard: false, backdrop: "static" }).css({
                    "margin-left": function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
                $("span#PRAReferenceID").text(refid);
            });
            $("button#PaymentReviewApproveBtnCancel").live("click", function () {
                $("#PaymentReviewApprove").modal("hide");
                $("#PaymentReviewContainer").modal({ keyboard: false, backdrop: "static" }).css({
                    "margin-left": function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("button#PaymentReviewApproveBtnApprove").live("click", function () {
                var AccountID = $("input[name=PRAAccountID]").val();
                var RefID = $.trim($("span#PRAReferenceID").text());
                var PaymentNote = $.trim($("textarea#PaymentReviewApproveReason").val());
                $("#PaymentReviewApprove").modal("hide");
                ReviewPayment('@ViewBag.UserName', RefID, 'ACCEPT', PaymentNote, AccountID);
            });


            $("button#PaymentReviewBtnReject").live("click", function () {
                var refid = $.trim($(this).attr("data-refid"));
                $("#PaymentReviewContainer").modal("hide");
                $("#PaymentReviewReject").modal({ keyboard: false, backdrop: "static" }).css({
                    "margin-left": function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
                $("span#PRRReferenceID").text(refid);
            });
            $("button#PaymentReviewRejectBtnCancel").live("click", function () {
                $("#PaymentReviewReject").modal("hide");
                $("#PaymentReviewContainer").modal({ keyboard: false, backdrop: "static" }).css({
                    "margin-left": function () {
                        return window.pageXOffset - ($(this).width() / 2);
                    }
                });
            });

            $("button#PaymentReviewRejectBtnReject").live("click", function () {
                var AccountID = $("input[name=PRRAccountID]").val();
                var RefID = $.trim($("span#PRRReferenceID").text());
                var PaymentNote = $.trim($("textarea#PaymentReviewRejectReason").val());
                $("#PaymentReviewReject").modal("hide");
                ReviewPayment('@ViewBag.UserName', RefID, 'REJECT', PaymentNote, AccountID);
            });

            //$("button#ExportToExcelBtn").live("click", function () {
            //    $("#PaymentPendingListExport").remove();
            //    var ExportTable = "<div id=\"PaymentPendingListExport\" style=\"display:none\"></div>";
            //    var DownloadAnchor = "<a id=\"downloadAnchor\" style=\"display:none;\"></a>";
            //    $("#TablePaymentPendingListContainer").append(DownloadAnchor);
            //    $("#TablePaymentPendingListContainer").append(ExportTable);
            //    $("#PaymentPendingListExport").html($("#TablePaymentPendingList_wrapper").html());

            //    /* Manipulating Export table */
            //    $('#PaymentPendingListExport table').removeClass('dataTable').attr("id", "TablePaymentPendingListExport");
            //    $('#PaymentPendingListExport .span3').remove();
            //    $('#PaymentPendingListExport .span9').addClass('span12').removeClass('span9');
            //    $('#PaymentPendingListExport .span12').prepend('<h1>Payment Pending List</h1>');
            //    $('#PaymentPendingListExport .row-fluid:eq(1)').remove();
            //    $('table#TablePaymentPendingListExport tbody').each(function () {
            //        var attributes = this.attributes;
            //        var i = attributes.length;
            //        while (i--) {
            //            this.removeAttributeNode(attributes[i]);
            //        }
            //    })
            //    $('table#TablePaymentPendingListExport tr').each(function () {
            //        var attributes = this.attributes;
            //        var i = attributes.length;
            //        while (i--) {
            //            this.removeAttributeNode(attributes[i]);
            //        }
            //    })
            //    $('table#TablePaymentPendingListExport tr th').each(function () {
            //        var attributes = this.attributes;
            //        var i = attributes.length;
            //        while (i--) {
            //            this.removeAttributeNode(attributes[i]);
            //        }
            //        $(this).css({ 'border': '1px solid #000000', 'border-width': 'thin' });
            //    })
            //    $('table#TablePaymentPendingListExport tr td').each(function () {
            //        var attributes = this.attributes;
            //        var i = attributes.length;
            //        while (i--) {
            //            this.removeAttributeNode(attributes[i]);
            //        }
            //        $(this).css({ 'border': '1px solid #000000', 'border-width': 'thin' });
            //    })

            //    /* eof Manipulating -------- */
            //    exportTableToExcel('PaymentPendingListExport', 'Payment Pending List', 'PaymentPendingList.xls');

            //});

            $(".btnPMSuccessOK").live("click", function () {
                $('.PMSuccess').width(350);
                var attrAlt = parseInt($(this).attr("alt"));
                if (attrAlt == 0) {
                    window.location = '/Payment/PendingList';
                } else if (attrAlt == 1) {
                    $(".modal-backdrop").remove();
                    $("button#filterPaymentBtnGO").trigger("click");
                }
            });

            $(".btnPMFailedOK").live("click", function () {
                var attrAlt = parseInt($(this).attr("alt"));
                if (attrAlt == 0) {
                    window.location = '/Payment/PendingList';
                } else if (attrAlt == 1) {
                    $(".modal-backdrop").remove();
                    $("button#filterPaymentBtnGO").trigger("click");
                }
            });

        });
    </script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.payment.js"></script>
}