﻿@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Payment Order";

    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
}
<style>
    #TablePaymentBreakupContainer .dataTables_wrapper table thead
    {
        display: none;
    }

    #TablePaymentBreakupContainer .dataTables_wrapper table tbody
    {
        background-color: white;
    }
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div style="font-size: 22px; background-color: #4b8df8; color: #fff; padding: 10px; padding-left: 15px; border-top-left-radius: 5px !important; border-top-right-radius: 5px !important;">Search</div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12" style="background-color: #ffffff; border: 1px solid #81adf5; padding: 18px 15px 10px 15px;">
        <table border="0">
            <tr>
                <td>
                    <div style="margin-top: -10px">Filter By&emsp;</div>
                </td>
                <td colspan="4">
                    <select id="fiterPaymentBy" name="fiterPaymentBy">
                        <option value="1" style="padding: 3px 5px">Mobile number</option>
                        <option value="2" style="padding: 3px 5px">Payment reference</option>
                        <option value="3" style="padding: 3px 5px">SIM Order ID</option>
                    </select>
                </td>
                <td >
                    <input type="text" name="fiterPaymentInput" id="fiterPaymentInput" style="margin-left: 15px;" /></td>
                <td><div style="margin-top: -10px">&nbsp;From&nbsp;</div></td>
                <td>
                    <div class="input-append date" id="startDateContainer" data-date-format="dd/mm/yyyy">
                        <input class="span8 dateInput" id="startDate" name="startDate" size="16" type="text" value="" style="margin-top: -8px; width: 90px">
                        <input type="hidden" id="startDateH" name="startDateH" value="">
                        <span class="add-on" style="margin-top: -8px"><i class="icon-calendar"></i></span>
                    </div>
                </td>
                <td>
                    <div style="margin-top: -10px">&nbsp;To&nbsp;</div>
                </td>
                <td>
                    <div class="input-append date" id="endDateContainer" data-date-format="dd/mm/yyyy">
                        <input class="span8 dateInput" id="endDate" name="endDate" size="16" type="text" value="" style="margin-top: -8px; width: 90px">
                        <input type="hidden" id="endDateH" name="endDateH" value="">
                        <span class="add-on" style="margin-top: -8px"><i class="icon-calendar"></i></span>
                    </div>
                </td>
                <td>&emsp;
                    <button class="btn blue" id="filterPaymentBtnGO" style="margin-top: -10px; width: 80px">Go</button>
                    &nbsp;<span id="errInputDate" class="alert-error"></span>
                </td>
            </tr>
        </table>
    </div>
</div>
<div style="clear: both">
    &nbsp;
</div>
<div class="portlet box blue" style="width: 35%;display:none;" id="divPaymentBreakup">
    <div class="portlet-title" style="height: 30px; border-bottom: 0">
        <h4><span style="font-size: 18px; font-weight: bold">Payment Breakup</span></h4>
    </div>
    <div class="portlet-body">
        <div id="TablePaymentBreakupContainer" style="margin-top: -25px;">
            <table class="table table-bordered" id="TablePaymentBreakup" style="overflow-x: auto;"></table>
        </div>
    </div>
</div>
<div style="clear: both">
    &nbsp;
</div>
<div class="portlet box blue" id="divPaymentDetails" style="display:none;">
    <div class="portlet-title" style="height: 30px; border-bottom: 0">
        <h4><span style="font-size: 18px; font-weight: bold">Payment Details</span></h4>
    </div>
    <div class="portlet-body">
        <div id="TablePaymentDetailsContainer">
            <table class="table table-bordered" id="TablePaymentDetails" style="overflow-x: auto;"></table>
        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(6);

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;

            $("#startDateContainer").attr('data-date', today).datepicker().on("changeDate", function (e) {
                $("div.datepicker").hide();
            });

            $("#endDateContainer").attr('data-date', today).datepicker().on("changeDate", function (e) {
                $("div.datepicker").hide();
            });

            $("button#filterPaymentBtnGO").live("click", function () {
                var fiterPaymentBy = $.trim($("select[name=fiterPaymentBy] option:selected").val());
                var fiterPaymentInput = $.trim($("input[name=fiterPaymentInput]").val());
                var validDate = /^[0-3]\d\/[0-1]\d\/[1-9]\d{3}$/;
                var date_from = $.trim($("input[name=startDateH]").val());
                var date_to = $.trim($("input[name=endDateH]").val());
                var productcode = $.trim('@ViewBag._productcode');
                var sitecode = $.trim('@ViewBag._sitecode');
                var searchby = $.trim($("#fiterPaymentBy").val());
                var searchvalue = $.trim($("#fiterPaymentInput").val());

                if (searchvalue != "") {
                    if (date_from != "" || date_to != "") {
                        if (validDate.test(date_from) == true && validDate.test(date_to) == true) {
                            if (searchby == "1") {
                                $("#divPaymentBreakup").show();
                                GetCustomerWisePaymentBreakup(sitecode, searchby, searchvalue, date_from, date_to);
                            }
                            else {
                                $("#TablePaymentBreakupContainer").html("").append("<table class=\"table table-bordered table-hover\" id=\"TablePaymentBreakup\"></table>");
                                $("#divPaymentBreakup").hide();
                            }
                            $("#divPaymentDetails").show();
                            GetCustomerWisePaymentDetails(sitecode, searchby, searchvalue, date_from, date_to);
                        } else {
                            $("span#errInputDate").html("Invalid format date").show().delay(5000).fadeOut(500);
                        }
                    } else {
                        if (searchby == "1") {
                            $("#divPaymentBreakup").show();
                            GetCustomerWisePaymentBreakup(sitecode, searchby, searchvalue, date_from, date_to);
                        }
                        else {
                            $("#TablePaymentBreakupContainer").html("").append("<table class=\"table table-bordered table-hover\" id=\"TablePaymentBreakup\"></table>");
                            $("#divPaymentBreakup").hide();
                        }
                        $("#divPaymentDetails").show();
                        GetCustomerWisePaymentDetails(sitecode, searchby, searchvalue, date_from, date_to);
                    }
                }
                else {
                    alert("Enter Search Text!");
                }
            });

            $("input[name=startDate]").live("keyup", function () {
                $("input[name=startDateH]").val($(this).val());
            });

            $("input[name=endDate]").live("keyup", function () {
                $("input[name=endDateH]").val($(this).val());
            });

        });
    </script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.payment.js"></script>
}