﻿@{
    ViewBag.Title = "Marketing";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Tabmarketing";
}

<h2>Marketing</h2>
<style>
    #tblDDOperation_length
    {
        display: none;
    }

    #tblDDOperation
    {
        overflow: scroll;
    }

        #tblDDOperation thead tr
        {
            background: linear-gradient(to bottom, #437edc, #4b8df8);
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even
        {
            background: #fff;
        }

    #tblDDOperationContainer
    {
        background-position: 50% 0;
    }
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">
    <div>
        View Transaction by Status  :   
        <select id="ddlTransaction">
            <option value="0">Select Report</option>
            <option value="1">Shipment Confirmation</option>
            <option value="2">Delivery Checkback</option>
            <option value="3">Activation</option>
            <option value="4">Reminder #1</option>
            <option value="5">Reminder #2</option>
             <option value="6">Reminder #3</option>
        </select>
    </div>
    <div id="tblDDOperationContainer">
        <table id="tblDDOperation" style="background: #fff"></table>

    </div>
    <div style="float: left;">
        <button id="btnUpload" class="btn blue btn-add-profiles" style="float: right; margin: 15px 0">Download</button>&nbsp; &nbsp;
    </div>
</div>

@section ScriptsTab {
    
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.marketing.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(10);
            getpaymentprofile($('#ddlTransaction').val());
            $('#ddlTransaction').change(function () {
                getpaymentprofile($('#ddlTransaction').val());
            });
        });

        $("#btnUpload").live("click", function () {
            getpaymentprofiledownloadMarketing($('#ddlTransaction').val());
        });
    </script>
}