﻿@{
    ViewBag.Title = "OMarketing";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Tabmarketing";
}
<style>
    .UL-1 ul {
        margin: 0;
        padding: 0;
    }

        .UL-1 ul li {
            float: left;
            width: 421px;
            line-height: 35px;
            list-style-type: none;
        }

    #parameters {
        position: relative;
        bottom: 4px;
        margin-right: 7px;
    }

    .UL-1 ul li b {
        font-size: 18px;
    }

    .UL-1 ul li span {
        width: 50px;
        display: inline-block;
    }

    #tblDDOperation_length {
        display: none;
    }

    #tblDDOperation {
        overflow: scroll;
    }

        #tblDDOperation thead tr {
            background: linear-gradient(to bottom, #437edc, #4b8df8);
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even {
            background: #fff;
        }

    #tblDDOperationContainer {
        background-position: 50% 0;
    }

    .clear {
        clear: both;
    }

    .ContentP {
        padding: 25px 0 0 0;
    }

    form input {
        position: relative;
        bottom: 3px;
        margin-right: 7px !important;
    }

    .button {
        text-align: center;
        width: 100%;
        border-top: 1px solid #ccc;
        padding-top: 15px;
    }

    .row-fluid .Div {
        background: #fff;
        padding: 20px;
        border: 1px solid #ccc;
    }

    h2 {
        margin-bottom: 15px;
    }
</style>
<h2>Email Marketing Reports</h2>

<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">
    <div class="Div">
        <div>

            <div class="UL-1">
                <ul>
                    <li><b>Products</b></li>


                    <li><b>Parameters</b></li>
                    <li><b>Select Date</b></li>
                    <li>
                        <select id="ddlTransaction">
                            <option value="VMUK">Vectone (VMUK)</option>
                            <option value="VMPT">Vectone (VMPT)</option>
                            <option value="VMFR">Vectone (VMFR)</option>
                            <option value="VMFI">Vectone (VMFI)</option>
                            <option value="VMAT">Vectone (VMAT)</option>
                            <option value="VMNL">Vectone (VMNL)</option>
                            <option value="VMSE">Vectone (VMSE)</option>
                            <option value="VMPL">Vectone (VMPL)</option>
                            <option value="VMBE">Vectone (VMBE)</option>
                            <option value="VMDK">Vectone (VMDK)</option>
                            <option value="VMCZ">Vectone (VMCZ)</option>
                            <option value="VMSR">Vectone (VMSR)</option>
                        </select></li>
                    <li>@Html.RadioButton("parameters", "1", true) Sent Date</li>

                    <li><span>From</span>
                        <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
                            <input class="span8" id="startdate" size="23" type="text" value="" maxlength="10">
                            <input type="hidden" id="lastdate1" value="">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </li>
                    <li>&nbsp;</li>
                    <li>@Html.RadioButton("parameters", "2", true) Top Up</li>
                    <li><span>To </span>
                        <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
                            <input class="span8" id="enddate" size="23" type="text" value="">
                            <input type="hidden" id="lastdate2" value="">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </li>
                    <li>&nbsp;</li>
                    <li>@Html.RadioButton("parameters", "3", true) First Update</li>

                </ul>
            </div>
            <div class="clear"></div>
            <p class="ContentP">Conditions:</p>
            <form>
                <input type="checkbox" name="list" class="group1" value="1">Customer has logged in<br>
                <br>
                <input type="checkbox" name="list" class="group" value="1">Customer has topped in
            </form>
        </div>
        <div id="tblDDOperationContainer">
            <table id="tblDDOperation" style="background: #fff"></table>

        </div>
        <div class="button">
            <button id="btnUpload" class="btn blue btn-add-profiles">Download Report</button>&nbsp; &nbsp;
        </div>
    </div>
</div>
@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.callhistory.js"></script>
   
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.marketing.js"></script>
    <script type="text/javascript">
        var id = '';
        $(document).ready(function () {
            ActivateTopbarMenu(10);
            getpaymentprofile($('#ddlTransaction').val());
            $('#ddlTransaction').change(function () {
                getpaymentprofile($('#ddlTransaction').val());
            });
        });

        $("#btnUpload").live("click", function () {
            var val1 = $('#ddlTransaction').val();
            var val2 = id;
            var val3 = $('#startdate').val();
            var val4 = $('#enddate').val();
            var val5 = $('.group1:checked').val();
            var val6 = $('.group:checked').val();
            if (val6 == undefined) {

                val6 = null;
            }
            if (val5 == undefined) {

                val5 = null;
            }
            if (val2 == '') {
                var x = document.getElementById("parameters").value;
                val2 = x;
            }


            getpaymentprofiledownloadMarketing_v2(val1, val2, val3, val4, val5, val6);
        });

        $("input:radio[name=parameters]").click(function () {
            var value = $(this).val();
            id = value;
            if (value == 2) {
                $("input.group").attr("disabled", true);
                $("input.group1").removeAttr("disabled", true);
            }
            else if (value == 3) {
                $("input.group1").attr("disabled", true);
                $("input.group").removeAttr("disabled", true);
            }
            else {
                $("input.group").removeAttr("disabled", true);
                $("input.group1").removeAttr("disabled", true);
            }


        });
    </script>
}