﻿<!-- //SIM Activation Report -->
@{
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "TabAutoRenewalHistory";
}

<style>
    
    #tblTabAutoRenewalHistoryContainer
    {
        background-position: 50% 0;
    }

    #dp1
    {
        position: relative;
        bottom: 12px;
    }
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<table border="0" style="width: 100%">
    <tr>
        <td style="vertical-align: top"></td>
        <td>&nbsp;</td>
    </tr>
</table>
<div class="row-fluid">
    <div>
        Mobile No:
            <input  style="margin-right:110px;"  type="text" id="txtmobilenumber"  value="Mobile No..." onkeyup="SimpleSearch(0);" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value.trim()=='')this.value=this.defaultValue;" /> 
        <br /><br />
        Start Date  :   
        <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
            <input class="span8" id="startdate" size="23" type="text" maxlength="10">
            <input type="hidden" id="lastdate1">
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        End Date  :   
         <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy" style="line-height: 40px;">
             <input class="span8" id="enddate" size="23" type="text">
             <input type="hidden" id="lastdate2">
             <span class="add-on"><i class="icon-calendar"></i></span>
         </div>
        <button id="btnSearch" class="btn blue btn-add-profiles">Search</button>
        @*<button id="btnCancelTopup" class="btn blue btn-add-profiles" style="float: right;">Cancel Topup</button>*@
    </div>
    <div id="tblTabAutoRenewalHistoryContainer" style="min-height: 100px; background-repeat: no-repeat; background-image: none;">
    </div>
    <div style="float: left;">
        <button id="btnDownload" class="btn blue btn-add-profiles" style="float: right; margin: 15px 0">Download</button>&nbsp; &nbsp;
    </div>    
</div>
@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.AutoRenewalHistory.js"></script>
    @*<script type="text/javascript" src="~/Assets/Main/js/crm.engine.complaints.js"></script>*@
    <script type="text/javascript">
        var date_fr, date_to, mobileno;
        var sitecode = $.trim('@ViewBag._sitecode');
        $(document).ready(function () {
            ActivateTopbarMenu(12);

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!;
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;
            date_fr = today;
            date_to = today;

            var lastdate1 = $('#lastdate1').val();
            if (lastdate1 == '') {
                $('#dp1').attr('data-date', today);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', today);
                $('#lastdate1').val(today);
            }
            else {
                $('#dp1').attr('data-date', lastdate1);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', lastdate1);
            }

            var lastdate2 = $('#lastdate2').val();
            if (lastdate2 == '') {
                $('#dp2').attr('data-date', today);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', today);
                $('#lastdate2').val(today);
            }
            else {
                $('#dp2').attr('data-date', lastdate2);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', lastdate2);
            }
            
            var mobileno = $("input#txtmobilenumber").val();
            date_fr = convertDate01($("input#lastdate1").val());
            date_to = convertDate01($("input#lastdate2").val());

            
            getAutoRenewalHistory(date_fr, date_to, mobileno, sitecode);
        });

        $("#btnSearch").live("click", function () {
            $("#tblTabAutoRenewalHistoryContainer").show();
            //mobileno = txtmobilenumber.val();
            mobileno = $("input#txtmobilenumber").val();
            var date_fr = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());
            getAutoRenewalHistory(date_fr, date_to, mobileno, sitecode);
        });

        $("#btnDownload").live("click", function () {
            $("#tblTabAutoRenewalHistoryContainer").show();
            //mobileno = txtmobilenumber.val();
            mobileno = $("input#txtmobilenumber").val();
            date_fr = convertDate01($("input#lastdate1").val());
            date_to = convertDate01($("input#lastdate2").val());
            downloadAutoRenewalhistory(date_fr, date_to, mobileno, sitecode);
        });
        
        var user_role = $.trim('@ViewBag._user_role');
        var userid = $.trim('@ViewBag._userid');        
        
    </script>
}