﻿<!-- //Issue History Report -->
@{
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "TabComplaintsHistory";
}

<style>
    #tblComplaintsHistory_length
    {
        display: none;
    }

    #tblComplaintsHistory
    {
        overflow: scroll;
    }

        #tblComplaintsHistory thead tr
        {
            background: #4581e2; /*linear-gradient(to bottom, #437edc, #4b8df8);*/
            color: #fff;
        }

        #tblComplaintsHistory tbody .odd, #tblComplaintsHistory tbody .even
        {
            background: #fff;
        }

    #tblComplaintsHistoryContainer
    {
        background-position: 50% 0;
    }

    #dp1
    {
        position: relative;
        bottom: 12px;
    }
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<table border="0" style="width: 100%">
    <tr>
        <td style="vertical-align: top"></td>
        <td>&nbsp;</td>
    </tr>
</table>
<div class="row-fluid">
    <div>
        Start Date  :   
        <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
            <input class="span8" id="startdate" size="23" type="text" maxlength="10">
            <input type="hidden" id="lastdate1">
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        End Date  :   
         <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy" style="line-height: 40px;">
             <input class="span8" id="enddate" size="23" type="text">
             <input type="hidden" id="lastdate2">
             <span class="add-on"><i class="icon-calendar"></i></span>
         </div>
        <button id="btnSearch" class="btn blue btn-add-profiles">Search</button>
        @*<button id="btnCancelTopup" class="btn blue btn-add-profiles" style="float: right;">Cancel Topup</button>*@
    </div>
    <div id="tblComplaintsHistoryContainer" style="min-height: 100px; background-repeat: no-repeat; background-image: none;">
    </div>
    <div style="float: left;">
        <button id="btnDownload" class="btn blue btn-add-profiles" style="float: right; margin: 15px 0">Download</button>&nbsp; &nbsp;
    </div>
    <div id="itPWNewComplaint" class="popup-message modal hide border-lightblue" style="width: 855px; height: 523px;">
        <div class="modal-header background-lightblue" style="font-family: Arial">@*New Complaint*@
            <div style="font-family: Arial; text-align: left; width: 80%; float: left;">
                <label id="lblmodaltitle" style="font-family: Arial; font-size: 18px; line-height: 18px; padding-left: 5px 7px; letter-spacing: -1px;"></label>
            </div>
            <div style="text-align: right; width: 19%; float: right; height: 19px; width: 19px">
                <img src="~/Assets/Main/img/popup-close.png" style="cursor: pointer" id="imgReplyClose" title="Close" data-dismiss="modal" />
            </div>
        </div>

        <div class="modal-body" style="/*height: 380px*/">
            <table id="tblNewComplaint" border="0" cellspacing="3" cellpadding="3" style="width: 100%">
                <tbody>
                    <tr>
                        <td style="width: 125px; text-align: right; font-weight: bold;">Customer Name<span style="color: red">*</span></td>
                        <td style="width: 200px;">
                            <input style="width: 200px" type="text" id="txtComplaintCustomerName" name="txtComplaintCustomerName" /></td>
                        <td style="width: 200px; text-align: right; font-weight: bold;">Ticket Type<span style="color: red">*</span></td>
                        <td style="width: 200px;">

                            <select id="ddlComplaintTicketType" name="ddlComplaintTicketType" style="float: left; font-size: 13px; width: 200px">
                                <option ctlvalue="3" value="3" style="padding: 3px" selected>Complain</option>
                            </select>
                            <input style="width: 200px; display: none;" type="text" id="txtComplaintTicketType" name="txtComplaintTicketType" disabled="disabled" />
                            <label class="errLabel" id="errComplaintTicketType" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right; font-weight: bold;">Mobile No<span style="color: red">*</span></td>
                        <td>
                            <input style="width: 200px" type="text" id="txtComplaintMobileNo" name="txtComplaintMobileNo" /></td>
                        <td style="width: 200px; text-align: right; font-weight: bold;">Category<span style="color: red">*</span></td>
                        <td>
                            <select id="ddlComplaintCategory" name="ddlComplaintCategory" style="float: left; font-size: 13px; width: 200px">
                            </select>
                            <input style="width: 200px; display: none;" type="text" id="txtComplaintCategory" name="txtComplaintCategory" disabled="disabled" />
                            <label class="errLabel" id="errComplaintCategory" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right; font-weight: bold;">Ticket ID</td>
                        <td>
                            <input style="width: 200px" type="text" id="txtComplaintTicketID" name="txtComplaintTicketID" disabled="disabled" /></td>
                        <td style="width: 200px; text-align: right; font-weight: bold;">Sub Category<span style="color: red">*</span></td>
                        <td>
                            <select id="ddlComplaintSubCategory" name="ddlComplaintSubCategory" style="float: left; font-size: 13px; width: 200px">
                            </select>
                            <input style="width: 200px; display: none;" type="text" id="txtComplaintSubCategory" name="txtComplaintSubCategory" disabled="disabled" />
                            <label class="errLabel" id="errComplaintSubCategory" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                        <td colspan="2">
                            <button id="btnComplaintCopytoClipboard" class="pull-left btn blue">Copy to Clipboard</button>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right; font-weight: bold;">Description<span style="color: red">*</span></td>
                        <td colspan="3">
                            <textarea id="txtComplaintDescription" name="txtComplaintDescription" style="float: left; width: 87.5%; height: 95px; resize: none; padding: 5px; font-size: 13px" spellcheck="false"></textarea>
                            <label class="errLabel" id="errComplaintDescription" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: right; font-weight: bold;">Status<span style="color: red">*</span></td>
                        <td>
                            <select id="ddlComplaintStatus" name="ddlComplaintStatus" style="float: left; font-size: 13px; width: 200px">
                            </select>
                            <input style="width: 200px; display: none;" type="text" id="txtComplaintStatus" name="txtComplaintStatus" disabled="disabled" />
                            <label class="errLabel" id="errComplaintStatus" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                        <td style="width: 200px; text-align: right; font-weight: bold;">Escalating Team<span style="color: red">*</span></td>
                        <td>
                            <select id="ddlComplaintEscalatingTeam" name="ddlComplaintEscalatingTeam" style="float: left; font-size: 13px; width: 200px">
                            </select>
                            <input style="width: 200px; display: none;" type="text" id="txtComplaintEscalatingTeam" name="txtComplaintEscalatingTeam" disabled="disabled" />
                            <label class="errLabel" id="errComplaintEscalatingTeam" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 200px; text-align: right; font-weight: bold;">Interval<span style="color: red">*</span></td>
                        <td>
                            <select id="ddlitComplaintInterval" name="ddlitComplaintInterval" style="float: left; font-size: 13px; width: 200px">
                            </select>
                            <input style="width: 200px; display: none;" type="text" id="txtitComplaintInterval" name="txtitComplaintInterval" disabled="disabled" />
                            <label class="errLabel" id="errmsginterval" style="display: none; color: red; font-weight: bold">*</label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <label class="errLabel" id="lblComplaintError" style="color: red;"></label>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>
        <div class="modal-footer">
            <button id="btnCreateComplaint" class="pull-right btn blue" style="margin-top: -5px; margin-left: 20px;">Update</button>
            <button id="btnClearComplaint" class="pull-right btn blue" style="margin-top: -5px;">Clear</button>
        </div>
        @*<div class="modal-footer" style="height: 30px">
            <button data-dismiss="modal" class="pull-right btn darkgrey" type="button" id="btnitPWNIClose" style="margin-right: 16px">Close</button>
            <button class="pull-right btn blue" type="button" id="btnitPWNIClear" style="margin-right: 5px">Clear</button>
            <button class="pull-right btn blue" type="button" id="btnitPWNISave">Save</button>
        </div>*@
    </div>
</div>
@Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.Complaintshistory.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.complaints.js"></script>
    <script type="text/javascript">
        var date_fr, date_to, escuser;
        $(document).ready(function () {
            ActivateTopbarMenu(12);

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!;
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;
            date_fr = today;
            date_to = today;

            var lastdate1 = $('#lastdate1').val();
            if (lastdate1 == '') {
                $('#dp1').attr('data-date', today);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', today);
                $('#lastdate1').val(today);
            }
            else {
                $('#dp1').attr('data-date', lastdate1);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', lastdate1);
            }

            var lastdate2 = $('#lastdate2').val();
            if (lastdate2 == '') {
                $('#dp2').attr('data-date', today);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', today);
                $('#lastdate2').val(today);
            }
            else {
                $('#dp2').attr('data-date', lastdate2);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', lastdate2);
            }

            date_fr = convertDate01($("input#lastdate1").val());
            date_to = convertDate01($("input#lastdate2").val());

            if ($.trim('@ViewBag._user_role') == 'EsclatingTeam')
                escuser = $.trim('@ViewBag._userid')
            else
                escuser = 0;
            getComplaintshistory(date_fr, date_to, escuser);
        });

        $("#btnSearch").live("click", function () {
            $("#tblComplaintsHistoryContainer").show();
            var date_fr = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());
            getComplaintshistory(date_fr, date_to, escuser);
        });

        $("#btnDownload").live("click", function () {
            $("#tblComplaintsHistoryContainer").show();
            date_fr = convertDate01($("input#lastdate1").val());
            date_to = convertDate01($("input#lastdate2").val());
            downloadComplaintshistory(date_fr, date_to);
        });
        var sitecode;
        var user_role = $.trim('@ViewBag._user_role');
        var userid = $.trim('@ViewBag._userid');
        FillEscalatingTeam();
        FillPriority(sitecode);
        FillCategory(sitecode, $("select[name=ddlComplaintTicketType] option:selected").val(), -1);

        $("select[name=ddlComplaintCategory]").live("change", function () {
            var sitecode = $.trim('@ViewBag._sitecode');
            var Function_Id = $("select[name=ddlComplaintCategory] option:selected").val();
            FillSubCategory(sitecode, Function_Id, -1);
        });

        $("#ddlComplaintStatus").live("change", function () {
            if ($('#btnCreateComplaint').text() == 'Update') {
                if ($("#ddlComplaintStatus option:selected").text() == "Reopened") {
                    $('#ddlComplaintEscalatingTeam').attr('disabled', false);
                    $('#ddlitComplaintInterval').attr('disabled', false);
                }
                else {
                    $('#ddlComplaintEscalatingTeam').attr('disabled', true);
                    $('#ddlitComplaintInterval').attr('disabled', true);
                }
            }
        });
        //Save
        $("#btnCreateComplaint").live("click", function () {
            if (validate()) {
                var mobile_no = $('#txtComplaintMobileNo').val();
                var issuetype = $("select[name=ddlComplaintTicketType] option:selected").val();
                var issuefunction = $("select[name=ddlComplaintCategory] option:selected").val();
                var issuecomplaint = $("select[name=ddlComplaintSubCategory] option:selected").val();
                var issuestatus = $("select[name=ddlComplaintStatus] option:selected").val();
                var description = $('#txtComplaintDescription').val();
                var esclatinguser = $("select[name=ddlComplaintEscalatingTeam] option:selected").val();
                var processtype = $('#btnCreateComplaint').text() == 'Update' ? 2 : 1;
                //var agentuserid = $.trim('@ViewBag._userid');
                var priority_name = $("select[name=ddlitComplaintInterval] option:selected").val();
                var ticket_id = -1;
                var email = $("select[name=ddlComplaintEscalatingTeam] option:selected").attr('ctlvalue');
                if ($('#btnCreateComplaint').text() == 'Update') {
                    ticket_id = $('#txtComplaintTicketID').val();
                    email = "CustomerServiceEscalationTeam@vectone.com"
                }
                var customername = $('#txtComplaintCustomerName').val();
                updatecomplaint(customername, sitecode, mobile_no, issuetype, issuefunction, issuecomplaint, issuestatus, description, esclatinguser, processtype, '', '', email, ticket_id, priority_name);
                $('#btnCreateComplaint').hide();
                $('#btnClearComplaint').hide();
            }
        });
        function updatecomplaint(customername, sitecode, mobile_no, issuetype, issuefunction, issuecomplaint, issuestatus, description, esclatinguser, processtype, agentuserid, subscriberid, email, ticket_id, priority_name) {
            var SIM_Type = 'PAYG';
            if (window.location.href.toLowerCase().indexOf('/paym/') > -1) {
                SIM_Type = 'PAYM';
            }
            var ajaxSpinnerTop = $(window).outerHeight() / 2;
            $("#ajax-loader").css({ "margin-top": ajaxSpinnerTop + "px" });
            $("#ajax-screen-masking").css({ "height": $(document).outerHeight() + "px" });

            var url = apiServer + '/api/Complaints/';
            jQuery.support.cors = true;
            var JSONSendData = {
                SearchType: 2,

                customer_name: customername,
                sitecode: sitecode,
                mobileno: mobile_no,
                issue_type: issuetype,
                Issue_Function: issuefunction,
                Issue_Complaint: issuecomplaint,
                issue_status: issuestatus,
                descr: description,
                esclating_user: esclatinguser,
                process_type: processtype,
                agent_userid: agentuserid,
                email: email,
                Ticket_id: ticket_id,
                priority_name: priority_name
            };

            $.ajax({
                url: url,
                type: 'post',
                data: JSON.stringify(JSONSendData),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                cache: false,
                beforeSend: function () {
                    $("#ajax-screen-masking").show();
                },
                success: function (data) {
                    if (data.length > 0) {
                        $("#ajax-screen-masking").hide();
                        if (data[0].errcode == 0) {
                            $('#txtComplaintTicketID').val(data[0].ticket_id);
                            getComplaintshistory(date_fr, date_to, escuser);
                            //$('.PMSuccess .modal-footer .btnPMSuccessOK').attr({ "alt": "1" });
                            $('.PMSuccess .modal-footer .btnPMSuccessOK').attr({ "alt": "1" });
                            $('.PMSuccess').attr({ "alt": "1" });
                            $('.PMSuccess .modal-header').html('Success');
                            $('.PMSuccess .modal-body').html(data[0].errmsg + ' ' + data[0].ticket_id);
                            $('#itPWNewComplaint').modal('hide');
                            $('.PMSuccess').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                        }
                        else {
                            $('.PMFailed .modal-footer .btnPMFailedOK').attr({ "alt": "1" });
                            $('.PMFailed .modal-header').html('Failed');
                            $('.PMFailed .modal-body').html(data[0].errmsg);
                            $('.PMFailed').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                        }
                    }
                },
                error: function (data) {
                    $("#ajax-screen-masking").hide();
                    $('.PMFailed .modal-footer .btnPMFailedOK').attr({ "alt": "1" });
                    $('.PMFailed .modal-header').html('Failed');
                    $('.PMFailed .modal-body').html(data[0].ErrMsg);
                    $('.PMFailed').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                }
            });
        }
        $("#btnComplaintCopytoClipboard").live("click", function () {
            var Call_type = $("#ddlComplaintTicketType option:selected").text();
            var Sub_type = $("#ddlComplaintCategory option:selected").text();
            var Category = $("#ddlComplaintSubCategory option:selected").text();
            var des = Call_type + ' ' + Sub_type + ' ' + Category
            $("textarea[name=txtComplaintDescription]").val(des);
        });

        $("#btnClearComplaint").live("click", function () {
            clearwindow();
        });

        function clearwindow() {
            $('#txtComplaintCategory').hide().val('');
            $('#txtComplaintSubCategory').hide().val('');
            $('#txtComplaintEscalatingTeam').hide().val('');
            $('#txtComplaintStatus').hide().attr('disabled', false).val('');
            $('#txtitComplaintInterval').hide().val('');
            $('#txtComplaintTicketType').hide().val('');

            $('#ddlComplaintTicketType').show();
            $('#ddlComplaintCategory').show();
            $('#ddlComplaintSubCategory').show();
            $('#ddlComplaintEscalatingTeam').show();
            $('#ddlComplaintStatus').show();
            $('#ddlitComplaintInterval').show();
            $('#btnComplaintCopytoClipboard').show();
            $('#btnCreateComplaint').show();
            $('#btnClearComplaint').show();
            $("select[name=ddlComplaintTicketType] ").val('-1');
            $("select[name=ddlitComplaintInterval] ").val('-1');
            $("#ddlComplaintStatus").val('-1');
            $("select[name=ddlComplaintCategory]").val('-1');
            $("#ddlComplaintSubCategory").find("option").remove();
            $("select[name=ddlComplaintEscalatingTeam]").val('-1');
            $('#txtComplaintDescription').val('');
            $("select[name=ddlitComplaintInterval]").val('-1');
            $('#lblComplaintError').val('');
            $('#txtComplaintTicketID').val('');
            $('#txtComplaintDescription').attr('disabled', false);

            $('#ddlComplaintCategory').attr('disabled', false);
            $('#ddlComplaintTicketType').attr('disabled', false);
            $('#ddlComplaintSubCategory').attr('disabled', false);
            $('#ddlitComplaintInterval').attr('disabled', false);
            $('#ddlComplaintEscalatingTeam').attr('disabled', false);
        }

        function validate() {
            if ($("select[name=ddlComplaintTicketType] option:selected").val() != -1) {
                if ($("select[name=ddlComplaintCategory] option:selected").val() != -1) {
                    if ($("select[name=ddlComplaintSubCategory] option:selected").val() != -1) {
                        if ($("select[name=ddlComplaintEscalatingTeam] option:selected").val() != -1) {
                            if ($('#txtComplaintDescription').val() != '') {
                                if ($("select[name=ddlitComplaintInterval] option:selected").val() != -1) {
                                    $('#lblComplaintError').text('');
                                    return true;
                                }
                                else {
                                    $('#lblComplaintError').text('Please Select Interval');
                                    return false;
                                }
                            }
                            else {
                                $('#lblComplaintError').text('Please Enter Description');
                                return false;
                            }
                        }
                        else {
                            $('#lblComplaintError').text('Please Select EscalatingTeam');
                            return false;
                        }
                    }
                    else {
                        $('#lblComplaintError').text('Please Select SubCategory');
                        return false;
                    }
                }
                else {
                    $('#lblComplaintError').text('Please Select Category');
                    return false;
                }
            }
            else {
                $('#lblComplaintError').text('Please Select TicketType');
                return false;
            }
        }

        //View
        $("button#ViewComplaints").live("click", function () {
            $('#lblmodaltitle').text('Complaint Detail');

            var Ticket_id = $(this).attr("Ticket_id");
            var Issue_Name = $(this).attr("Issue_Name");
            var Function_Name = $(this).attr("Function_Name");
            var eslated_user = $(this).attr("eslated_user");
            var descr = $(this).attr("descr");
            var status = $(this).attr("status");
            var fullname = $(this).attr("customer_name");
            var mobile_no = $(this).attr("mobileno");

            $('#txtComplaintTicketID').val(Ticket_id);
            $('#txtComplaintTicketType').val(Issue_Name);
            $('#txtComplaintCategory').val(Function_Name);
            $('#txtComplaintEscalatingTeam').val(eslated_user);
            $('#txtComplaintCustomerName').val(fullname).attr('disabled', 'disabled');
            $('#txtComplaintMobileNo').val(mobile_no).attr('disabled', 'disabled');
            $('#txtComplaintDescription').val(descr).attr('disabled', 'disabled');
            $('#txtComplaintStatus').val(status).attr('disabled', 'disabled');
            $('#txtComplaintSubCategory').val($(this).attr("sub_category"));
            $('#txtitComplaintInterval').val($(this).attr("priority_name"));

            $('#txtComplaintTicketType').show();
            $('#txtComplaintCategory').show();
            $('#txtComplaintSubCategory').show();
            $('#txtComplaintEscalatingTeam').show();
            $('#txtComplaintStatus').show();
            $('#txtitComplaintInterval').show();

            $('#ddlComplaintTicketType').hide();
            $('#ddlComplaintCategory').hide();
            $('#ddlComplaintSubCategory').hide();
            $('#ddlComplaintEscalatingTeam').hide();
            $('#ddlComplaintStatus').hide();
            $('#btnComplaintCopytoClipboard').hide();
            $('#ddlitComplaintInterval').hide();
            $('#btnCreateComplaint').hide();
            $('#btnClearComplaint').hide();

            $('#itPWNewComplaint').modal({ keyboard: false, backdrop: 'static' }).css({
                'margin-left': function () {
                    return window.pageXOffset - ($(this).width() / 2);
                }
            });
        });

        //Edit
        $("button#EditComplaints").live("click", function () {
            clearwindow();
            $('#lblmodaltitle').text('Edit Complaint');
            $('#btnCreateComplaint').text('Update');

            $("#ddlComplaintStatus").find("option").remove();

            var Ticket_id = $(this).attr("Ticket_id");
            var mobile_no = $(this).attr("mobileno");
            var descr = $(this).attr("descr");
            var issue_type = $(this).attr("issue_type");
            var issue_function = $(this).attr('issue_function');
            var issue_complaint = $(this).attr('issue_complaint');
            var esclating_user_id = $(this).attr('esclating_user_id');
            var fk_priority_id = $(this).attr('fk_priority_id');
            var status_id = $(this).attr('status_id');
            var fullname = $(this).attr("customer_name");

            $('#txtComplaintCustomerName').val(fullname).attr('disabled', 'disabled');
            $('#txtComplaintMobileNo').val(mobile_no).attr('disabled', 'disabled');

            $('#txtComplaintTicketID').val(Ticket_id);
            $('#txtComplaintDescription').val(descr);

            $("#ddlComplaintTicketType").val(issue_type);
            $('#ddlitComplaintInterval').val(fk_priority_id);
            $('#ddlComplaintEscalatingTeam').val(esclating_user_id);

            $('#ddlComplaintTicketType').attr('disabled', true);
            $('#ddlComplaintCategory').attr('disabled', true);
            $('#ddlComplaintSubCategory').attr('disabled', true);
            $('#ddlitComplaintInterval').attr('disabled', true);

            FillCategory(sitecode, issue_type, issue_function);

            FillSubCategory(sitecode, issue_function, issue_complaint);

            if (user_role == "Agent" || user_role == "Manager") {
                $('#ddlComplaintEscalatingTeam').attr('disabled', true);
                FillAgentStatus();
            }
            else {
                $('#ddlComplaintEscalatingTeam').attr('disabled', false);
                FillOtherStatus();
            }
            $('#ddlComplaintStatus').val(status_id);


            $('#itPWNewComplaint').modal({ keyboard: false, backdrop: 'static' }).css({
                'margin-left': function () {
                    return window.pageXOffset - ($(this).width() / 2);
                }
            });
        });
    </script>
}