﻿<!-- //Issue History Report -->
@{
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "TabfSMSHistory";
}

<style>
    #tblDDOperation_length
    {
        display: none;
    }

    #tblDDOperation
    {
        overflow: scroll;
    }

        #tblDDOperation thead tr
        {
            background: #4581e2; /*linear-gradient(to bottom, #437edc, #4b8df8);*/
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even
        {
            background: #fff;
        }

    #tblDDOperationContainer
    {
        background-position: 50% 0;
    }

    #dp1
    {
        position: relative;
        bottom: 12px;
    }
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<table border="0" style="width: 100%">
    <tr>
        <td style="vertical-align: top"></td>
        <td>&nbsp;</td>
    </tr>
</table>
<div class="row-fluid">
    <div>
        Start Date  :   
        <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
            <input class="span8" id="startdate" size="23" type="text" maxlength="10">
            <input type="hidden" id="lastdate1">
            <span class="add-on"><i class="icon-calendar"></i></span>
        </div>
        End Date  :   
         <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy" style="line-height: 40px;">
             <input class="span8" id="enddate" size="23" type="text">
             <input type="hidden" id="lastdate2">
             <span class="add-on"><i class="icon-calendar"></i></span>
         </div>
        <button id="btnSearch" class="btn blue btn-add-profiles">Search</button>
        @*<button id="btnCancelTopup" class="btn blue btn-add-profiles" style="float: right;">Cancel Topup</button>*@
    </div>
    <div id="tblDDOperationContainer" style="min-height: 100px; background-repeat: no-repeat; background-image: none;">
    </div>
    <div style="float: left;">
        <button id="btnDownload" class="btn blue btn-add-profiles" style="float: right; margin: 15px 0">Download</button>&nbsp; &nbsp;
    </div>
</div>
@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.SMShistorylist.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(12);

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!;
            var yyyy = today.getFullYear();
            if (dd < 10) { dd = '0' + dd } if (mm < 10) { mm = '0' + mm } today = dd + '/' + mm + '/' + yyyy;
            var date_fr = today;
            var date_to = today;

            var lastdate1 = $('#lastdate1').val();
            if (lastdate1 == '') {
                $('#dp1').attr('data-date', today);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', today);
                $('#lastdate1').val(today);
            }
            else {
                $('#dp1').attr('data-date', lastdate1);
                $('#dp1').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#startdate').attr('value', lastdate1);
            }

            var lastdate2 = $('#lastdate2').val();
            if (lastdate2 == '') {
                $('#dp2').attr('data-date', today);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', today);
                $('#lastdate2').val(today);
            }
            else {
                $('#dp2').attr('data-date', lastdate2);
                $('#dp2').datepicker().on('changeDate', function (e) {
                    $('div.datepicker').hide();
                });
                $('#enddate').attr('value', lastdate2);
            }

            var date_fr = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());
            getSMSissuehistorylist($.trim('@ViewBag._sitecode'), date_fr, date_to);
        });

        $("#btnSearch").live("click", function () {
            $("#tblDDOperationContainer").show();
            var date_fr = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());
            getSMSissuehistorylist($.trim('@ViewBag._sitecode'), date_fr, date_to);
        });

        $("#btnDownload").live("click", function () {
            $("#tblDDOperationContainer").show();
            var date_fr = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());
            downloadissuehistorylist($.trim('@ViewBag._sitecode'), date_fr, date_to);
        });
    </script>
}