﻿@{
    ViewBag.UserName = "Reports";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Tabfsearchtranasction";
}


<style>
    #tblDDOperation_length
    {
        display: none;
    }

    #tblDDOperation
    {
        overflow: scroll;
    }

        #tblDDOperation thead tr
        {
            background: linear-gradient(to bottom, #437edc, #4b8df8);
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even
        {
            background: #fff;
        }

    #tblDDOperationContainer
    {
        background-position: 50% 0;
    }
    #dp1 {
    position:relative;
    bottom:12px
    }
</style>

<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>


<div id="ajax-screen-masking"><div id="ajax-loader"></div></div>
    <div  style="padding:10px;">
        <div class="portlet box blue" id="chFilterContainer">
            <div class="portlet-title" style="height:30px;border-bottom:0">
                <h4><span style="font-size:18px;font-weight:bold">Search Reports</span></h4>
            
            </div>
            <div class="row-fluid">
                <div class="portlet-body">
                        <table>
                        <tr>
                            <td width="100px">Search By </td>
                            <td width="100px"> <input type="radio" id="cus1" name="1_cmk" value="1" checked /> Customer  </td>
                            <td>  <input  style="margin-right:110px;"  type="text" name="IP" id="IP"  value="Mobile No..." onkeyup="SimpleSearch(0);" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value.trim()=='')this.value=this.defaultValue;" /></td>
                            <td> <input  type="hidden"  id="IP"  value="">   </td>
                            <td> <button  class="btn blue" id="btnclick" style="width:100px;height:40px;  margin-left:15px;">Search</button></td>
                        </tr>

                    </table>

    <br />
    <br />
        @*<table border="0" style="width:100%">
            <tr>
                <th>

                   <input type="radio" id="cus2" name="1_cmk"  value="2"  onchange="checkstatus()" style="margin-left:0px;"  > Date Range

                     </th>*@


                    @*  <input type="radio" id="cus2" name="1_cmk"  value="2"   style="margin-left:100px;" /> Date Range*@
                     
                           
                      

                <table border="0"  id="tblDate" style=" display:none; margin-top:-50px; margin-right:250px;">
                    <tr>

                    </tr>
                    <tr>
                        <td rowspan="2" style="width:295px;vertical-align:top">
                           
                        </td>
                        
                        <td style="width:70px;vertical-align:top">
                            <div style="margin-right:3px;margin-top:5px;text-align:right">Start Date</div>
                        </td>
                
                        <td style="width:230px;">
                            <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
					            <input class="span8" id="startdate" size="23" type="text" value="">
					            <input type="hidden" id="lastdate1" value="">
					            <span class="add-on"><i class="icon-calendar"></i></span>
					        </div>
                        </td>
                       
                    </tr>
                    <tr>
                        <td style="vertical-align:top">
                            <div style="margin-right:3px;margin-top:5px;text-align:right">End Date</div>
                        </td>
                        <td>
                            <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
					            <input class="span8" id="enddate" size="23" type="text" value="">
                                <input type="hidden" id="lastdate2" value="">
					            <span class="add-on"><i class="icon-calendar"></i></span>
					        </div>
                        </td>
           <th>
          
          
                
              </th> </tr>
            </table>
    </div>
                 <input  type="hidden"  id="lastdate1"  value="">

        </div>
   </div>
       
     <div class="portlet-body" id="chFilterResultBody" style="background:#ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
			    <table class="table table-bordered" id="tblCHFilterResult"></table>
		    </div> 
 </div>
  
            <div class="portlet-title" style="height:30px;border-bottom:0">

                
            </div>
             
   </div>
   @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")  




@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.finance.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.callhistory.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.datesort.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                ActivateTopbarMenu(10);
            });

            $("#btnclick").live("click", function () {
                var Sitecode = $.trim('@ViewBag._sitecode');
                //CallHistory1('447457513437', '8944010000131836370', 'MCM', '1/Nov/2014', '15/Nov/2014');
                if ($("#cus1").is(":checked")) {
                    //getpaymentsprofile('101', $('#startdate').val());
                    CallHistory1($('#IP').val(), Sitecode);
                    return
                }
                var startdate = convertDate05($("input#lastdate1").val());
                var enddate = convertDate05($("input#lastdate2").val());

                var date2 = new Date(startdate);
                var date1 = new Date($.trim('@ViewBag._DefaultDate'));
                    var diff = date2 - date1;
                    var days = diff / 1000 / 60 / 60 / 24;

                    if (sessionStorage["AllHistory"] == "True" && days == 9) {
                        startdate = $.trim('@ViewBag._DefaultDate');
                    }

                var historyType = $("input[name=hHistoryType]").val();
                var mobileno = $("input#IP").val();
                var Iccid = $.trim('@ViewBag._iccid');
                    var Sitecode = $.trim('@ViewBag._sitecode');
                //CallHistory1('447457513437', '8944010000131836370', 'MCM', '1/Nov/2014', '15/Nov/2014');
                CallHistory2(startdate, enddate, Sitecode);
                //getpaymentsprofile('101', $('#startdate').val());

            });
           
           

            $("button#btnExportCDRHistory").live("click", function () {
                var url = '/ReportsDownload/DownloadCDRHistory';
                var ajaxSpinnerTop = ($(window).outerHeight() / 2) + $(window).scrollTop();
                $("#ajax-screen-masking #ajax-loader").css({ "margin-top": ajaxSpinnerTop + "px" });
                $("#ajax-screen-masking").css({ "height": $(document).outerHeight() + "px" });
                $("#ajax-screen-masking #downloadIFrame").remove();
                var number = $("input[name=1_cmk]:checked").val();
               // alert(number);

                var startdate = convertDate05($("input#lastdate1").val());
                var enddate = convertDate05($("input#lastdate2").val());

                var date2 = new Date(startdate);
                var date1 = new Date($.trim('@ViewBag._DefaultDate'));
                var diff = date2 - date1;
                var days = diff / 1000 / 60 / 60 / 24;

                if (sessionStorage["AllHistory"] == "True" && days == 9) {
                    startdate = $.trim('@ViewBag._DefaultDate');
                }

                var historyType = $("input[name=hHistoryType]").val();
                var mobileno = $("input#IP").val();
                var Iccid = $.trim('@ViewBag._iccid');
                var Sitecode = $.trim('@ViewBag._sitecode');
                if (number == 1) {
                    var IFrameURL = "";

                    var JSONSendData = {
                        mobileno: mobileno,
                        sitecode: Sitecode,
                        step: 1
                    };

                    $.ajax
                    ({
                        url: url,
                        type: 'post',
                        data: JSON.stringify(JSONSendData),
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        cache: false,
                        beforeSend: function () {
                            $("#ajax-screen-masking").show();
                        },
                        success: function (feedback) {
                            if (feedback.errcode == 0) {
                                var IFrameData = $('<iframe/>', { id: 'downloadIFrame', src: '/Download/GoDownloadCDRHistory?id=' + feedback.Text + '&historyName=' + feedback.errmsg, style: 'display:none' });
                                $("#ajax-screen-masking").append(IFrameData);
                            }
                            $("#ajax-screen-masking").hide();
                        }
                    });
                }
                else {
                    var startdate = convertDate05($("input#lastdate1").val());
                    var enddate = convertDate05($("input#lastdate2").val());

                    var date2 = new Date(startdate);
                    var date1 = new Date($.trim('@ViewBag._DefaultDate'));
                    var diff = date2 - date1;
                    var days = diff / 1000 / 60 / 60 / 24;

                    if (sessionStorage["AllHistory"] == "True" && days == 9) {
                        startdate = $.trim('@ViewBag._DefaultDate');
                    }

                    var historyType = $("input[name=hHistoryType]").val();
                    var mobileno = $("input#IP").val();
                    var Iccid = $.trim('@ViewBag._iccid');
                    var Sitecode = $.trim('@ViewBag._sitecode');

                    var IFrameURL = "";


                    var JSONSendData = {
                        mobileno: mobileno,
                        sitecode: Sitecode,
                        startdate: startdate,
                        enddate: enddate,
                        step: 2
                    };

                    $.ajax
                    ({
                        url: url,
                        type: 'post',
                        data: JSON.stringify(JSONSendData),
                        dataType: 'json',
                        contentType: "application/json;charset=utf-8",
                        cache: false,
                        beforeSend: function () {
                            $("#ajax-screen-masking").show();
                        },
                        success: function (feedback) {
                            if (feedback.errcode == 0) {
                                var IFrameData = $('<iframe/>', { id: 'downloadIFrame', src: '/Download/GoDownloadCDRHistory?id=' + feedback.Text + '&historyName=' + feedback.errmsg, style: 'display:none' });
                                $("#ajax-screen-masking").append(IFrameData);
                            }
                            $("#ajax-screen-masking").hide();
                        }
                    });
                }
            });


            $(document).ready(function () {


                $('input[type=radio][name=1_cmk]').change(function () {
                    
                    if (this.value == '2') {
                        $("#tblDate").show();
                    }
                    else {

                        $("#tblDate").hide();
                    }
                });

            });

    </script>

}

 