﻿@{
    ViewBag.Title = "TabLsearchblockandunblock";
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";    
}


<style>
    .Box-1 {
        border: 1px solid #ccc;
        padding: 15px 0 35px 20px;
    }

    .tab {
        width: 100%;
        overflow: hidden;
    }

        .tab ul {
            overflow: hidden;
            margin: 0;
        }

    #tblDDOperation_length {
        display: none;
    }

    #tblDDOperation {
        overflow: scroll;
    }

        #tblDDOperation thead tr {
            background: linear-gradient(to bottom, #437edc, #4b8df8);
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even {
            background: #fff;
        }

    #tblDDOperationContainer {
        background-position: 50% 0;
    }

    .tab ul li {
        float: left;
        width: 33.1%;
        line-height: 40px;
        border: 1px solid #808080;
        color: #fff;
        list-style-type: none;
        text-align: center;
        background: #fff;
        font-size: 13px;
    }

        .tab ul li a {
            display: block;
            cursor: pointer;
        }

    .selectedtb {
        background: linear-gradient(to bottom, #437edc, #4b8df8) repeat scroll 0 0 rgba(0, 0, 0, 0);
        font-weight: bold;
        color: #fff;
        font-size: 13px;
    }

    .None {
        display: none;
    }

    #cityview {
        float: right;
        margin-top: 25px;
    }

    #chkSelectAll {
        display: none;
    }

    #chkSelectpro3 {
        display: none;
    }
    /** Reportds CSS design part**/
    .csstable {
        border-collapse: separate;
        border-spacing: 2px;
    }

        .csstable th,
        .csstable td {
            border: 1px;
            padding: 6px;
        }
    /** Reportds CSS design part**/
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">

    <div class="clear" style="clear: both"></div>

    <div class="tab" style="width: 102%">
        <ul>
            <li style="width: 32.4%"><a id="Blockload">Block</a></li>
            <li style="width: 32.4%"><a id="Unblockload">Unblock</a></li>
            <li style="width: 32.4%"><a id="Reportsload">Reports</a></li>
        </ul>
    </div>

    <div id="Main_Menu_BlockMobileIccidnumber">
        <div id="tblblukproductlist">
            <table>
                <tr>
                    <td style="width: 150px; font-weight: bold">Select Product :</td>
                    <td style="width: 10px; font-weight: bold">
                        <select id="productListFinance" name="productListFinance" disabled style="margin-top: 10px; margin-bottom: 15px"></select><br />
                        <label class="errLabel" id="errmsgProd" style="display: none; color: red;">Please Select any one product</label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 150px; font-weight: bold">Block By      : </td>
                    <td @*style="width: 10px; font-weight: bold"*@>
                        <input type="radio" style="margin-top: -2px" value="1" name="radiomobileiccidnumber" @*id="radiomobileiccidnumber*@" checked="checked">
                        <span style="font-size: 12px">ICCID</span>
                    </td>
                    <td @*style="width: 10px; font-weight: bold"*@>
                        <input type="radio" style="margin-top: -2px" value="2" name="radiomobileiccidnumber" @*id="radiomobileiccidnumber"*@>
                        <span style="font-size: 12px">Mobile Number</span>
                    </td>
                </tr>
            </table>
        </div>

        <div id="tblBlockinglist">
            <!--- blocking with iccid number -->
            <form enctype="multipart/form-data">
                <div id="blockingwithiccidnumber">
                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>

                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="1" name="radioblockiccid" checked="checked" @*id="radioblockiccid"*@>
                                Single Blocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="Singleblocking" type="text" value="" placeholder="Please Enter The ICCID" name="Singleblocking" maxlength="19" style="width: 466px; height: 24px">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for Blocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="SingleblockingMsg" name="SingleblockingMsg" placeholder="Enter reason for blocking" maxlength="160" style="width: 466px; height: 80px;"></textarea>
                                    @*<label class="errLabel" id="errmsgProdtest" style="/*display: none;*/ color: red;">NB:Text Should be Less than 160 Characters</label>*@
                                    <span id="remaining1" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>

                            </tr>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="2" name="radioblockiccid" @*id="radioblockiccid"*@>
                                Multiple Blocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="Multipleblocking" type="text" value="" disabled="disabled" placeholder="Please Enter The ICCID number separated  by commas" name="Multipleblocking" style="width: 466px; height: 24px">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for Blocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="MultipleblockingMsg" name="MultipleblockingMsg" disabled="disabled" placeholder="Enter reason for blocking" maxlength="160" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining2" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>

                            <tr>

                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="3" name="radioblockiccid" @*id="radioblockiccid"*@>
                                Bulk Blocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="Bulkblocking" type="text" value="" disabled="disabled" name="Bulkblocking" style="width: 466px; height: 24px; margin-top: 9px">
                                </td>
                                <td>
                                    @*<input id="Bulkblocking" type="text" value="" disabled="disabled" name="Bulkblocking" style="width: 193px; height: 24px; margin-top: 9px">
                                    <button id="btnhide" class="btn blue" style="width: 130px;" type="button">Browse</button>
                                    <button id="btn-submit" class="btn blue" style="width: 130px;" type="submit" disabled="">Upload</button>*@

                                    <button class="btn blue" type="button" id="btnhide" disabled="disabled" style="width: 130px;">Browse</button>
                                    <div id="hideBrowseBtn" style="display: none;">
                                        <label class="btn blue" style="width: 100px;" id="fileToUploadUpper">Browse<span><input type="file" id="fileToUpload" name="file" style="width: 100px; display: none;" onchange="TakeThePathOfFile()" /></span></label>
                                    </div>

                                </td>

                                <td>
                                    <button class="btn blue" @*type="submit"*@  type="button" disabled="disabled" id="btnsubmit" style="width: 130px;">Upload</button>

                                </td>

                            </tr>

                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for Blocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="BulkblockingMsg" name="BulkblockingMsg" disabled="disabled" placeholder="Enter reason for blocking" maxlength="160" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining3" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                </div>



                <!-- Popup for ICCID history -->
                <div id="ICCIDHistory" class="popup-message modal hide border-lightblue" style="width: 750px; display: none;">
                    <div class="modal-header background-lightblue" style="font-family: Arial">File Data</div>
                    <div class="modal-body">
                        <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                            <div id="TabProductCDRLoader" style="width: 100%; height: 500px;">&nbsp;</div>
                            <table class="table table-bordered table-hover" id="tblICCIDHistory" style="width: 950px;"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnVShCancel" style="width: 100px;">Close</button>
                    </div>
                </div>
                <!-- Popup for  ICCID history -->

                <!-- Bluk ICCID Sucess popup message testing -->
                <div id="BlukICCIDsuccess" class="BlukICCIDPMSuccess popup-message modal hide border-green">
                    <div class="modal-header background-green"></div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn green btnBlukICCIDsuccess" type="button" alt="0" style="width: 100px; float: right;">View</button>
                    </div>
                </div>
                <!-- Bluk ICCID Sucess popup message testing -->
                <input type="hidden" id="HiBlukblockICCID" name="HiBlukblockICCID" />
            </form>


            <!--- blocking with iccid number -->

            <!--- blocking with mobile number number -->
            <form enctype="multipart/form-data">
                <div id="blockingwithmobilenumber" style="display: none">
                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>

                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="1" name="radioblockmobile"  checked="checked" @*id="radiosingleblockmobile"*@>
                                Single Blocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="SingleblockingMobile" type="text" value="" placeholder="Please Enter The Mobile number" maxlength="14" name="SingleblockingMobile" style="width: 466px; height: 24px">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for Blocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="SingleblockingMobileMsg" name="SingleblockingMobileMsg" placeholder="Enter reason for blocking" maxlength="160" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining11" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="2" name="radioblockmobile" @*id="radioblockmobile"*@>
                                Multiple Blocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="Multipleblockingmobile" type="text" value="" disabled="disabled" placeholder="Please Enter The Mobile number separated  by commas" name="Multipleblockingmobile" style="width: 466px; height: 24px">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for Blocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="MultipleblockingmobileMsg" name="Multipleblockingmobilemsg" disabled="disabled" placeholder="Enter reason for blocking" maxlength="160" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining21" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="3" name="radioblockmobile" @*id="radioblockmobile"*@>
                                Bulk Blocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="Bulkblockingmobile" type="text" value="" disabled="disabled" name="Bulkblockingmobile" style="width: 466px; height: 24px; margin-top: 9px">
                                </td>
                                <td>
                                    @* <input id="Bulkblockingmobile" type="text" value="" disabled="disabled" placeholder="Browse the file to upload" name="Bulkblockingmobile" style="width: 193px; height: 24px; margin-top: 9px">
                                    <button id="btnhidemobile" class="btn blue" style="width: 130px;" disabled="disabled" type="button">Browse</button>
                                    <button id="btn-submitmobile" class="btn blue" style="width: 130px;" type="submit" disabled="">Upload</button>*@

                                    <button class="btn blue" type="button" id="btnhide1" disabled="disabled" style="width: 130px;">Browse</button>
                                    <div id="hideBrowseBtn1" style="display: none;">
                                        <label class="btn blue" style="width: 100px" id="fileToUploadUpper1">Browse<span><input type="file" id="fileToUpload1" name="file" style="width: 100px; display: none;" onchange="TakeThePathOfFile1()" /></span></label>
                                    </div>

                                </td>
                                <td>
                                    <button class="btn blue" @*type="submit"*@  type="button" disabled="disabled" id="btnsubmit1" style="width: 130px;">Upload</button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for Blocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="BulkblockingmobileMsg" name="BulkblockingmobileMsg" disabled="disabled" maxlength="160" placeholder="Enter reason for blocking" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining31" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>

                        </table>
                    </fieldset>

                </div>

                <!-- Popup for mobile history -->
                <div id="MobileHistory" class="popup-message modal hide border-lightblue" style="width: 750px; display: none;">
                    <div class="modal-header background-lightblue" style="font-family: Arial">File Data</div>
                    <div class="modal-body">
                        <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                            <div id="TabmobilehistoryLoader" style="width: 100%; height: 500px;">&nbsp;</div>
                            <table class="table table-bordered table-hover" id="tblmobileHistory" style="width: 950px;"></table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnmobilehistoryCancel" style="width: 100px;">Close</button>
                    </div>
                </div>
                <!-- Popup for  mobile history -->

                <!-- Bluk bluk  mobile Sucess popup message testing -->
                <div id="BlukMobilesuccess" class="BlukMobilesuccess popup-message modal hide border-green">
                    <div class="modal-header background-green"></div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn green btnBlukMobilesuccess" type="button" alt="0" style="width: 100px; float: right;">View</button>
                    </div>
                </div>
                <input type="hidden" id="HiBlukblockmobile" name="HiBlukblockmobile" />
                <!-- Bluk bluk mobile Sucess popup message testing -->
            </form>
            <!--- blocking with mobile number number -->
            <!-- this is for comman block button submit ICCICD & Mobile No -->
            <fieldset>
                <legend style="font-weight: bold">
                    <hr />
                </legend>
                <table>
                    <tr>

                        <td style="width: 10px; font-weight: bold"></td>
                        <td>
                            <button id="BtnBlock" class="btn blue" style="width: 130px; margin-left: 850px">Block</button>
                        </td>
                    </tr>

                </table>
            </fieldset>
            <!-- this is for comman block button  submit ICCICD & Mobile No -->

            <input type="hidden" id="HidBlocktype" name="HidBlocktype" />

        </div>
    </div>



    <!-- Un block design part start -->
    <div id="Main_Menu_UnBlockMobileIccidnumber" style="display: none">

        <div id="tblUnblukproductlist">
            <table>
                <tr>
                    <td style="width: 150px; font-weight: bold">Select Product :</td>
                    <td style="width: 10px; font-weight: bold">
                        <select id="productListFinanceUnblock" name="productListFinanceUnblock" disabled style="margin-top: 10px; margin-bottom: 15px"></select><br />
                        <label class="errLabel" id="errmsgProd1" style="display: none; color: red;">Please Select any one product</label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 150px; font-weight: bold">UnBlock By      : </td>
                    <td @*style="width: 10px; font-weight: bold"*@>
                        <input type="radio" style="margin-top: -2px" value="1" name="radiomobileiccidnumberunblock" @*id="radiomobileiccidnumberunblock*@" checked="checked">
                        <span style="font-size: 12px">ICCID</span>
                    </td>
                    <td @*style="width: 10px; font-weight: bold"*@>
                        <input type="radio" style="margin-top: -2px" value="2" name="radiomobileiccidnumberunblock" @*id="radiomobileiccidnumberunblock"*@>
                        <span style="font-size: 12px">Mobile Number</span>
                    </td>
                </tr>
            </table>
        </div>

        <div id="tblunBlockinglist">
            <!--- blocking with iccid number -->
            <form enctype="multipart/form-data">
                <div id="unblockingwithiccidnumber">
                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>

                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="1" name="radiounblockiccid" checked="checked" @*id="radioblockiccid"*@>
                                Single UnBlocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="Singleunblocking" type="text" value="" placeholder="Please Enter The ICCID" maxlength="19" name="Singleunblocking" style="width: 466px; height: 24px">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for UnBlocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="SingleunblockingMsg" name="SingleunblockingMsg" placeholder="Enter reason for blocking" maxlength="160" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining4" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="2" name="radiounblockiccid" @*id="radioblockiccid"*@>
                                Multiple UnBlocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="Multipleunblocking" type="text" value="" disabled="disabled" placeholder="Please Enter The ICCID number separated  by commas" name="Multipleunblocking" style="width: 466px; height: 24px">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for UnBlocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="MultipleunblockingMsg" name="MultipleunblockingMsg" disabled="disabled" maxlength="160" placeholder="Enter reason for blocking" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining5" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="3" name="radiounblockiccid" @*id="radioblockiccid"*@>
                                Bulk UnBlocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="Bulkunblocking" type="text" value="" disabled="disabled" name="Bulkunblocking" style="width: 466px; height: 24px; margin-top: 9px">
                                </td>
                                <td>
                                    @*<input id="Bulkunblocking" type="text" value="" disabled="disabled" placeholder="Browse the file to upload" name="Bulkunblocking" style="width: 193px; height: 24px; margin-top: 9px">
                                <button id="btnunblockhide" class="btn blue" style="width: 130px;" disabled="disabled" type="button">Browse</button>
                                <button id="btn-submitunblock" class="btn blue" style="width: 130px;" type="submit" disabled="">Upload</button>*@
                                    <button class="btn blue" type="button" id="btnhide2" disabled="disabled" style="width: 130px;">Browse</button>
                                    <div id="hideBrowseBtn2" style="display: none;">
                                        <label class="btn blue" style="width: 100px" id="fileToUploadUpper2">Browse<span><input type="file" id="fileToUpload2" name="file" style="width: 100px; display: none;" onchange="TakeThePathOfFile2()" /></span></label>
                                    </div>
                                </td>
                                <td>
                                    <button class="btn blue" @*type="submit"*@  type="button" disabled="disabled" id="btnsubmit2" style="width: 130px;">Upload</button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for UnBlocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="BulkunblockingMsg" name="BulkunblockingMsg" disabled="disabled" maxlength="160" placeholder="Enter reason for blocking" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining6" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <!-- Popup for unblock ICCID history -->
                    <div id="UnBlockICCIDHistory" class="popup-message modal hide border-lightblue" style="width: 750px; display: none;">
                        <div class="modal-header background-lightblue" style="font-family: Arial">File Data</div>
                        <div class="modal-body">
                            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                                <div id="TabUnblockICCIDLoader" style="width: 100%; height: 500px;">&nbsp;</div>
                                <table class="table table-bordered table-hover" id="tblUbblockICCIDHistory" style="width: 950px;"></table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnICCIDhistoryCancel" style="width: 100px;">Close</button>
                        </div>
                    </div>
                    <!-- Popup for  unblock ICCID history -->

                    <!-- UnBluk bluk  mobile Sucess popup message testing -->
                    <div id="UnBlukICCIDsuccess" class="UnBlukICCIDsuccess popup-message modal hide border-green">
                        <div class="modal-header background-green"></div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn green btnUnBlukICCIDsuccess" type="button" alt="0" style="width: 100px; float: right;">View</button>
                        </div>
                    </div>
                    <input type="hidden" id="HiUnBlukICCID" name="HiUnBlukICCID" />
                    <!-- UnBluk bluk mobile Sucess popup message testing -->

                </div>
            </form>


            <!--- blocking with iccid number -->

            <!--- blocking with mobile number number -->
            <form enctype="multipart/form-data">
                <div id="Unblockingwithmobilenumber" style="display: none">
                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>

                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="1" name="radiounblockmobile"  checked="checked" @*id="radiosingleblockmobile"*@>
                                Single UnBlocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="SingleunblockingMobile" type="text" value="" placeholder="Please Enter The Mobile number" maxlength="14" name="SingleunblockingMobile" style="width: 466px; height: 24px">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for UnBlocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="SingleunblockingMobileMsg" name="SingleunblockingMobileMsg" maxlength="160" placeholder="Enter reason for blocking" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining41" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="2" name="radiounblockmobile" @*id="radioblockmobile"*@>
                                Multiple UnBlocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <input id="Multipleunblockingmobile" type="text" value="" disabled="disabled" placeholder="Please Enter The Mobile number separated  by commas" name="Multipleunblockingmobile" style="width: 466px; height: 24px">
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for UnBlocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="MultipleunblockingmobileMsg" name="MultipleunblockingmobileMsg" maxlength="160" disabled="disabled" placeholder="Enter reason for blocking" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining51" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>

                    <fieldset>
                        <legend style="font-weight: bold">
                            <hr />
                        </legend>
                        <table>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                    <input type="radio" style="margin-top: -2px" value="3" name="radiounblockmobile" @*id="radioblockmobile"*@>
                                Bulk UnBlocking
                   
                    <td style="width: 10px; font-weight: bold"></td>
                                 <td>
                                    <input id="Bulkunblockingmobile" type="text" value="" disabled="disabled" name="Bulkunblockingmobile" style="width: 466px; height: 24px; margin-top: 9px">
                                </td>
                                <td>
                                    @*<input id="Bulkunblockingmobile" type="text" value="" disabled="disabled" placeholder="Browse the file to upload" name="Bulkunblockingmobile" style="width: 193px; height: 24px; margin-top: 9px">
                                    <button id="btnhidemobileunblock" class="btn blue" style="width: 130px;" disabled="disabled" type="button">Browse</button>
                                    <button id="btn-submitmobileunblock" class="btn blue" style="width: 130px;" type="submit" disabled="">Upload</button>*@
                                    <button class="btn blue" type="button" id="btnhide3" disabled="disabled" style="width: 130px;">Browse</button>
                                    <div id="hideBrowseBtn3" style="display: none;">
                                        <label class="btn blue" style="width: 100px" id="fileToUploadUpper3">Browse<span><input type="file" id="fileToUpload3" name="file" style="width: 100px; display: none;" onchange="TakeThePathOfFile3()" /></span></label>
                                    </div>
                                </td>
                                  <td>
                                    <button class="btn blue" @*type="submit"*@  type="button" disabled="disabled" id="btnsubmit3" style="width: 130px;">Upload</button>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 150px; font-weight: bold">
                                Reason for UnBlocking                 
                    <td style="width: 10px; font-weight: bold"></td>
                                <td>
                                    <textarea rows="4" cols="50" id="BulkunblockingmobileMsg" name="BulkunblockingmobileMsg" disabled="disabled" maxlength="160" placeholder="Enter reason for blocking" style="width: 466px; height: 80px;"></textarea>
                                    <span id="remaining61" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                </td>
                            </tr>
                        </table>
                    </fieldset>


                    <!-- Popup for unblock ICCID history -->
                    <div id="UnBlockMobileHistory" class="popup-message modal hide border-lightblue" style="width: 750px; display: none;">
                        <div class="modal-header background-lightblue" style="font-family: Arial">File Data</div>
                        <div class="modal-body">
                            <div style="margin-bottom: 5px; padding: 10px; /*background-color: #e5e5e5; border: 1px solid #c0c0c0; */">
                                <div id="TabUnblockMobileLoader" style="width: 100%; height: 500px;">&nbsp;</div>
                                <table class="table table-bordered table-hover" id="tblUbblockMobileHistory" style="width: 950px;"></table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn darkgrey" type="button" id="btnunblockmobilehistoryCancel" style="width: 100px;">Close</button>
                        </div>
                    </div>
                    <!-- Popup for  unblock ICCID history -->

                    <!-- UnBluk bluk  mobile Sucess popup message testing -->
                    <div id="UnBlukMobilesuccess" class="UnBlukMobilesuccess popup-message modal hide border-green">
                        <div class="modal-header background-green"></div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn green btnUnBlukMobilesuccess" type="button" alt="0" style="width: 100px; float: right;">View</button>
                        </div>
                    </div>
                    <input type="hidden" id="HiUnBlukmobile" name="HiUnBlukmobile" />
                    <!-- UnBluk bluk mobile Sucess popup message testing -->

                </div>

            </form>
            <!--- blocking with mobile number number -->
            <!-- this is for comman block button submit ICCICD & Mobile No -->
            <fieldset>
                <legend style="font-weight: bold">
                    <hr />
                </legend>
                <table>
                    <tr>

                        <td style="width: 10px; font-weight: bold"></td>
                        <td>
                            <button id="BtnUnBlock" class="btn blue" style="width: 130px; margin-left: 850px">UnBlock</button>
                        </td>
                    </tr>

                </table>
            </fieldset>
            <!-- this is for comman block button  submit ICCICD & Mobile No -->

            <input type="hidden" id="HidUnBlocktype" name="HidUnBlocktype" />

        </div>
    </div>

    <!-- Un block design part end -->

    <!--- Reports Design part -->
    <div id="Main_Menu_ReportMobileIccidnumber" style="display: none">

        <fieldset>
            <legend style="font-weight: bold">
                <hr />
                Reports
            </legend>
            <table class="csstable" style="border: 1px solid white; width: 100%;">
                <tr>
                    <td style="font-weight: bold">Date Range
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td style="font-weight: bold">From:
                                    </td>
                                <td>
                                    <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
                                        <input class="span8" id="startdate" maxlength="10" name="startdate" type="text" value="">
                                        <input type="hidden" id="lastdate1" value="">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold">To:
                                    </td>
                                <td>
                                    <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
                                        <input class="span8" id="enddate" maxlength="10" name="enddate" type="text" value="">
                                        <input type="hidden" id="lastdate2" value="">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="font-weight: bold; border-left: 1px solid white">Brand
                    </td>
                    <td>
                        <select id="productListFinanceReports" name="productListFinanceReports" disabled style="margin-top: 10px; margin-bottom: 15px"></select>
                    </td>
                    <td style="font-weight: bold; border-left: 1px solid white">Report Type
                    </td>
                    <td>
                        <select name="ddlreporttype" id="ddlreporttype">
                            <option value="1">Block</option>
                            <option value="2">Unblock</option>
                        </select>
                    </td>
                    <td style="border-left: 1px solid white">
                        <button type="submit" style="float: right; width: 80px" class="btn blue" id="BtnReports" name="BtnReports">Go</button>
                    </td>
                </tr>
            </table>
        </fieldset>

        <br />
        <div class="portlet box blue">
            <div style="height: 30px; border-bottom: 0" class="portlet-title">
                <h4><span style="font-size: 18px; font-weight: bold">Download Reports</span></h4>
            </div>
            <div class="portlet-body">
                <div id="btnBlockUnBlockReportsSettingContainer" style="width: 100%; height: 10px;"></div>
                <div id="tblBlockUnBlockReportsContainer" style="min-height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                    <table class="table table-bordered table-hover" id="tblBlockUnBlockReports"></table>
                </div>
            </div>
        </div>

    </div>
    <!-- Reports Design part -->




    @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
</div>




@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.BlockandUnblock.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            ActivateTopbarMenu(8);

            var startdate = convertDate01($("input#lastdate1").val());
            var enddate = convertDate01($("input#lastdate2").val());

            var MobileNo = $.trim('@ViewBag._mobileno');
            var Sitecode = $.trim('@ViewBag._sitecode');
            var date_from = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());



            /* Get Product List -------------------- */
            $("select#productListFinance").html("").append("<option value=0  selected>-- Select Product --</option>");
            var url = apiServer + '/api/product';
            $.getJSON(url, function (data) {
                var optionData = "";
                for (var idx in data) {
                    //if (data[idx].mundio_product != 'GCM') {
                    optionData += "<option value=" + data[idx].mundio_product + " alt=\"" + data[idx].sitecode + "\">" + data[idx].product_name + "</option>";
                    //}
                }
                $("[name=productListFinance]").append(optionData).removeAttr("disabled");
                //$("img#productListLoader").hide();
            });
            /* eof GetProductList -------------------- */



            /* Get Product List -------------------- */
            $("select#productListFinanceUnblock").html("").append("<option value=0 selected>-- Select Product --</option>");
            var url = apiServer + '/api/product';
            $.getJSON(url, function (data) {
                var optionData = "";
                for (var idx in data) {
                    //if (data[idx].mundio_product != 'GCM') {
                    optionData += "<option value=" + data[idx].mundio_product + " alt=\"" + data[idx].sitecode + "\">" + data[idx].product_name + "</option>";
                    //}
                }
                $("[name=productListFinanceUnblock]").append(optionData).removeAttr("disabled");
                //$("img#productListLoader").hide();
            });
            /* eof GetProductList -------------------- */

            /* Get Product List -------------------- */
            $("select#productListFinanceReports").html("").append("<option value=0 selected>     ALL </option>");
            var url = apiServer + '/api/product';
            $.getJSON(url, function (data) {
                var optionData = "";
                for (var idx in data) {
                    //if (data[idx].mundio_product != 'GCM') {
                    optionData += "<option value=" + data[idx].mundio_product + " alt=\"" + data[idx].sitecode + "\">" + data[idx].product_name + "</option>";
                    //}
                }
                $("[name=productListFinanceReports]").append(optionData).removeAttr("disabled");
                //$("img#productListLoader").hide();
            });
            /* eof GetProductList -------------------- */


            /* Testing by karthik ------------------------------------*/
            $('#btnmapt').addClass('None');
            $('#btnunmap').addClass('None');
            $('#Reportsload').removeClass('selectedtb');
            $('#Unblock').removeClass('selectedtb');
            $('#Blockload').addClass('selectedtb');
            /* Testing by karthik ------------------------------------*/






            /** Message length checking **/
            /** Block Message length **/
            var $remaining1 = $('#remaining1'),
                $SingleblockingMsg = $remaining1.next();
            $('#SingleblockingMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining1 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining1 = 160;
                }
                $remaining1.text('NB:Text Should be Less than ' + remaining1 + ' Characters');

            });

            var $remaining2 = $('#remaining2'),
               $MultipleblockingMsg = $remaining2.next();
            $('#MultipleblockingMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining2 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining2 = 160;
                }
                $remaining2.text('NB:Text Should be Less than ' + remaining2 + ' Characters');

            });

            var $remaining3 = $('#remaining3'),
               $BulkblockingMsg = $remaining3.next();
            $('#BulkblockingMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining3 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining3 = 160;
                }
                $remaining3.text('NB:Text Should be Less than ' + remaining3 + ' Characters');

            });



            var $remaining11 = $('#remaining11'),
               $SSingleblockingMobileMsg = $remaining1.next();
            $('#SingleblockingMobileMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining11 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining11 = 160;
                }
                $remaining11.text('NB:Text Should be Less than ' + remaining11 + ' Characters');

            });

            var $remaining21 = $('#remaining21'),
               $MultipleblockingmobileMsg = $remaining2.next();
            $('#MultipleblockingmobileMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining21 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining21 = 160;
                }
                $remaining21.text('NB:Text Should be Less than ' + remaining21 + ' Characters');

            });

            var $remaining31 = $('#remaining31'),
               $BulkblockingmobileMsg = $remaining31.next();
            $('#BulkblockingmobileMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining31 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining31 = 160;
                }
                $remaining31.text('NB:Text Should be Less than ' + remaining31 + ' Characters');

            });

            /** Block Message length **/

            /** UnBlock Message length **/

            var $remaining4 = $('#remaining4'),
               $SingleunblockingMsg = $remaining4.next();
            $('#SingleunblockingMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining4 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining4 = 160;
                }
                $remaining4.text('NB:Text Should be Less than ' + remaining4 + ' Characters');

            });

            var $remaining5 = $('#remaining5'),
               $MultipleunblockingMsg = $remaining5.next();
            $('#MultipleunblockingMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining5 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining2 = 160;
                }
                $remaining5.text('NB:Text Should be Less than ' + remaining5 + ' Characters');

            });

            var $remaining6 = $('#remaining6'),
               $BulkunblockingMsg = $remaining6.next();
            $('#BulkunblockingMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining6 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining3 = 160;
                }
                $remaining6.text('NB:Text Should be Less than ' + remaining6 + ' Characters');

            });



            var $remaining41 = $('#remaining41'),
               $SingleunblockingMobileMsg = $remaining41.next();
            $('#SingleunblockingMobileMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining41 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining41 = 160;
                }
                $remaining41.text('NB:Text Should be Less than ' + remaining41 + ' Characters');

            });

            var $remaining51 = $('#remaining51'),
               $MultipleunblockingmobileMsg = $remaining51.next();
            $('#MultipleunblockingmobileMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining51 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining51 = 160;
                }
                $remaining51.text('NB:Text Should be Less than ' + remaining51 + ' Characters');

            });

            var $remaining61 = $('#remaining61'),
               $BulkunblockingmobileMsg = $remaining61.next();
            $('#BulkunblockingmobileMsg').keyup(function () {
                var chars = this.value.length,
                    messages = Math.ceil(chars / 160),
                    remaining61 = messages * 160 - (chars % (messages * 160) || messages * 160);
                if (chars == 0) {
                    remaining61 = 160;
                }

                $remaining61.text('NB:Text Should be Less than ' + remaining61 + ' Characters');


            });

            /** UnBlock Message length **/
            /** Message length checking **/


            /** Validate for speical charcter and string block and unblock **/
            $('#Singleblocking').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;

                    if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }
                }
            });

            $('#SingleblockingMobile').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;

                    if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }
                }
            });

            $('#Singleunblocking').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;

                    if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }
                }
            });


            $('#SingleunblockingMobile').keydown(function (e) {
                if (e.shiftKey || e.ctrlKey || e.altKey) {
                    e.preventDefault();
                } else {
                    var key = e.keyCode;

                    if (!((key == 8) || (key == 46) || (key >= 35 && key <= 40) || (key >= 48 && key <= 57) || (key >= 96 && key <= 105))) {
                        e.preventDefault();
                    }
                }
            });
            /** Validate for speical charcter and string block and unblock **/

        });



        /** testing by karthik ***/

        /** Block Mobile & ICCID numbrt **/
        function TakeThePathOfFile(evt) {
            var file = document.getElementById('fileToUpload').files[0];

            if (file) {
                document.getElementById('Bulkblocking').value = file.name;
            }
        }
        function TakeThePathOfFile1(evt) {
            var file = document.getElementById('fileToUpload1').files[0];

            if (file) {
                document.getElementById('Bulkblockingmobile').value = file.name;
            }
        }
        /** Block Mobile & ICCID numbrt **/

        /** UnBlock Mobile & ICCID numbrt **/

        function TakeThePathOfFile2(evt) {
            var file = document.getElementById('fileToUpload2').files[0];

            if (file) {
                document.getElementById('Bulkunblocking').value = file.name;
            }
        }
        function TakeThePathOfFile3(evt) {
            var file = document.getElementById('fileToUpload3').files[0];

            if (file) {
                document.getElementById('Bulkunblockingmobile').value = file.name;
            }
        }

        /** UnBlock Mobile & ICCID numbrt **/


        /** testing by karthik ***/

        /** Drop down list on change **/

        $("#productListFinance").change(function () {
            var isvalid = validateproduct();
        });

        $("#productListFinanceUnblock").change(function () {
            var isvalid = validateproduct1();
        });

        /** Drop down list on change **/

        /*  Display  Div on click event --------------------------*/
        $('input:radio[name="radiomobileiccidnumber"]').click(function () {
            // var Blocktype = $(this).val();

            var isvalid = validateproduct();
            if (isvalid) {
            }
            //else {
            var Blocktype = $("input[name=radiomobileiccidnumber]:checked").val()
            $('#HidBlocktype').val(Blocktype);

            if (Blocktype == 1) {
                $("#blockingwithiccidnumber").show();
                $("#blockingwithmobilenumber").hide();

            }
            else {
                $("#blockingwithmobilenumber").show();
                $("#blockingwithiccidnumber").hide();
            }
            // }

        });
        /* Display  Div on click event  --------------------------*/


        /*  Display  Div on Un block click event --------------------------*/
        $('input:radio[name="radiomobileiccidnumberunblock"]').click(function () {
            var isvalid = validateproduct1();
            if (isvalid) {
            }
            //else{
            // var Blocktype = $(this).val();
            var UnBlocktype = $("input[name=radiomobileiccidnumberunblock]:checked").val()
            $('#HidUnBlocktype').val(UnBlocktype);
            if (UnBlocktype == 1) {
                $("#unblockingwithiccidnumber").show();
                $("#Unblockingwithmobilenumber").hide();
            }
            else {
                $("#Unblockingwithmobilenumber").show();
                $("#unblockingwithiccidnumber").hide();
            }
            // }
        });
        /* Display  Div on  Un Block click event  --------------------------*/



        /** on change enable text box and text area  with ICCID block event --------------*/
        $('input:radio[name="radioblockiccid"]').click(function () {
            var isvalid = validateproduct();
            if (isvalid) {
                var dataiccid = $(this).val();
                var Blocktype = $('#HidBlocktype').val();
                if (dataiccid == 1 && Blocktype == 1 || dataiccid == 1 && Blocktype == '') { //3rd radiobutton

                    //$("#Singleblocking").attr("disabled", false).val("");
                    //$("#SingleblockingMsg").prop("disabled", false);

                    //$("#Multipleblocking").attr("disabled", true).val("");
                    //$("#MultipleblockingMsg").attr("disabled", true).val("");

                    //$("#Bulkblocking").attr("disabled", true).val("");
                    //$("#BulkblockingMsg").attr("disabled", true).val("");



                    $("#Singleblocking").attr("disabled", false).val();
                    $("#SingleblockingMsg").prop("disabled", false).val();

                    $("#Multipleblocking").attr("disabled", true).val();
                    $("#MultipleblockingMsg").attr("disabled", true).val();

                    $("#Bulkblocking").attr("disabled", true).val();
                    $("#BulkblockingMsg").attr("disabled", true).val();


                    $("#btnhide").show();
                    $("#hideBrowseBtn").hide();
                    $('#btnsubmit').attr('disabled', true);

                    // $("#fileToUploadUpper").hide();
                    // window.location.reload();
                }

                if (dataiccid == 2 && Blocktype == 1 || dataiccid == 2 && Blocktype == '') {
                    //$("#Singleblocking").attr("disabled", true).val("");
                    //$("#SingleblockingMsg").attr("disabled", true).val("");

                    //$("#Multipleblocking").attr("disabled", false).val("");
                    //$("#MultipleblockingMsg").attr("disabled", false).val("");

                    //$("#Bulkblocking").attr("disabled", true).val("");
                    //$("#BulkblockingMsg").attr("disabled", true).val("");


                    $("#Singleblocking").attr("disabled", true).val();
                    $("#SingleblockingMsg").attr("disabled", true).val();

                    $("#Multipleblocking").attr("disabled", false).val();
                    $("#MultipleblockingMsg").attr("disabled", false).val();

                    $("#Bulkblocking").attr("disabled", true).val();
                    $("#BulkblockingMsg").attr("disabled", true).val();


                    $("#btnhide").show();
                    $("#hideBrowseBtn").hide();
                    $('#btnsubmit').attr('disabled', true);


                    // $("#fileToUploadUpper").hide();
                    //  window.location.reload();
                }
                if (dataiccid == 3 && Blocktype == 1 || dataiccid == 3 && Blocktype == '') {

                    //$("#Singleblocking").attr("disabled", true).val("");
                    //$("#SingleblockingMsg").attr("disabled", true).val("");

                    //$("#Multipleblocking").attr("disabled", true).val("");
                    //$("#MultipleblockingMsg").attr("disabled", true).val("");

                    //$("#Bulkblocking").attr("disabled", true);
                    //$("#BulkblockingMsg").prop("disabled", false).val("");


                    $("#Singleblocking").attr("disabled", true).val();
                    $("#SingleblockingMsg").attr("disabled", true).val();

                    $("#Multipleblocking").attr("disabled", true).val();
                    $("#MultipleblockingMsg").attr("disabled", true).val();

                    $("#Bulkblocking").attr("disabled", true);
                    $("#BulkblockingMsg").prop("disabled", false).val();


                    $("#btnhide").hide();
                    $("#hideBrowseBtn").show();
                    $("#fileToUpload").attr("disabled", false);
                    //$("#btnsubmit").attr("disabled", false);
                    $("#btnsubmit").removeAttr('disabled');

                    // $("#fileToUploadUpper").show();
                    //  window.location.reload();
                }
            }
        });
        /** on change enable text box and text area   with ICCID block event--------------*/


        /** on change enable text box and text area  with Mobile No block event--------------*/
        $('input:radio[name="radioblockmobile"]').click(function () {
            var isvalid = validateproduct();
            if (isvalid) {
                var dataMobile = $(this).val();
                var Blocktype = $('#HidBlocktype').val();
                if (dataMobile == 1 && Blocktype == 2) { //3rd radiobutton

                    //$("#SingleblockingMobile").attr("disabled", false).val("");
                    //$("#SingleblockingMobileMsg").prop("disabled", false);

                    //$("#Multipleblockingmobile").attr("disabled", true).val("");
                    //$("#MultipleblockingmobileMsg").attr("disabled", true).val("");

                    //$("#Bulkblockingmobile").attr("disabled", true).val("");
                    //$("#BulkblockingmobileMsg").attr("disabled", true).val("");


                    $("#SingleblockingMobile").attr("disabled", false).val();
                    $("#SingleblockingMobileMsg").prop("disabled", false).val();;

                    $("#Multipleblockingmobile").attr("disabled", true).val();
                    $("#MultipleblockingmobileMsg").attr("disabled", true).val();

                    $("#Bulkblockingmobile").attr("disabled", true).val();
                    $("#BulkblockingmobileMsg").attr("disabled", true).val();


                    $("#btnhide1").show();
                    $("#hideBrowseBtn1").hide();
                    $('#btnsubmit1').attr('disabled', true);

                    //  $("#fileToUploadUpper1").hide();
                    //  window.location.reload();

                }

                if (dataMobile == 2 && Blocktype == 2) {
                    //$("#SingleblockingMobile").attr("disabled", true).val("");
                    //$("#SingleblockingMobileMsg").attr("disabled", true).val("");

                    //$("#Multipleblockingmobile").attr("disabled", false).val("");
                    //$("#MultipleblockingmobileMsg").attr("disabled", false).val("");

                    //$("#Bulkblockingmobile").attr("disabled", true).val("");
                    //$("#BulkblockingmobileMsg").attr("disabled", true).val("");


                    $("#SingleblockingMobile").attr("disabled", true).val();
                    $("#SingleblockingMobileMsg").attr("disabled", true).val();

                    $("#Multipleblockingmobile").attr("disabled", false).val();
                    $("#MultipleblockingmobileMsg").attr("disabled", false).val();

                    $("#Bulkblockingmobile").attr("disabled", true).val();
                    $("#BulkblockingmobileMsg").attr("disabled", true).val();


                    $("#btnhide1").show();
                    $("#hideBrowseBtn1").hide();
                    $('#btnsubmit1').attr('disabled', true);

                    //  $("#fileToUploadUpper1").hide();

                    //  window.location.reload();
                }
                if (dataMobile == 3 && Blocktype == 2) {
                    //$("#SingleblockingMobile").attr("disabled", true).val("");
                    //$("#SingleblockingMobileMsg").attr("disabled", true).val("");



                    //$("#Multipleblockingmobile").attr("disabled", true).val("");
                    //$("#MultipleblockingmobileMsg").attr("disabled", true).val("");

                    //$("#Bulkblockingmobile").attr("disabled", false).val("");
                    //$("#BulkblockingmobileMsg").prop("disabled", false).val("");



                    $("#SingleblockingMobile").attr("disabled", true).val();
                    $("#SingleblockingMobileMsg").attr("disabled", true).val();



                    $("#Multipleblockingmobile").attr("disabled", true).val();
                    $("#MultipleblockingmobileMsg").attr("disabled", true).val();

                    $("#Bulkblockingmobile").attr("disabled", true).val();
                    $("#BulkblockingmobileMsg").prop("disabled", false).val();

                    //  window.location.reload();

                    $("#btnhide1").hide();
                    $("#hideBrowseBtn1").show();
                    $("#fileToUpload1").attr("disabled", false);
                    //$("#btnsubmit").attr("disabled", false);
                    $("#btnsubmit1").removeAttr('disabled');


                    //   $("#fileToUploadUpper1").show();
                }
            }
        });
        /** on change enable text box and text area   with Mobile No block event --------------*/


        /** on change enable text box and text area  with ICCID Un block event --------------*/
        $('input:radio[name="radiounblockiccid"]').click(function () {
            var isvalid = validateproduct1();
            if (isvalid) {
                var dataiccid = $(this).val();
                var UnBlocktype = $('#HidUnBlocktype').val();
                if (dataiccid == 1 && UnBlocktype == 1 || dataiccid == 1 && UnBlocktype == '') { //3rd radiobutton

                    //$("#Singleunblocking").attr("disabled", false).val("");
                    //$("#SingleunblockingMsg").prop("disabled", false);

                    //$("#Multipleunblocking").attr("disabled", true).val("");
                    //$("#MultipleunblockingMsg").attr("disabled", true).val("");

                    //$("#Bulkunblocking").attr("disabled", true).val("");
                    //$("#BulkunblockingMsg").attr("disabled", true).val("");

                    $("#Singleunblocking").attr("disabled", false).val();
                    $("#SingleunblockingMsg").prop("disabled", false).val();;

                    $("#Multipleunblocking").attr("disabled", true).val();
                    $("#MultipleunblockingMsg").attr("disabled", true).val();

                    $("#Bulkunblocking").attr("disabled", true).val();
                    $("#BulkunblockingMsg").attr("disabled", true).val();



                    $("#btnhide2").show();
                    $("#hideBrowseBtn2").hide();
                    $('#btnsubmit2').attr('disabled', true);
                }

                if (dataiccid == 2 && UnBlocktype == 1 || dataiccid == 2 && UnBlocktype == '') {

                    //$("#Singleunblocking").attr("disabled", true).val("");
                    //$("#SingleunblockingMsg").attr("disabled", true).val("");

                    //$("#Multipleunblocking").attr("disabled", false).val("");
                    //$("#MultipleunblockingMsg").attr("disabled", false).val("");

                    //$("#Bulkunblocking").attr("disabled", true).val("");
                    //$("#BulkunblockingMsg").attr("disabled", true).val("");

                    $("#Singleunblocking").attr("disabled", true).val();
                    $("#SingleunblockingMsg").attr("disabled", true).val();

                    $("#Multipleunblocking").attr("disabled", false).val();
                    $("#MultipleunblockingMsg").attr("disabled", false).val();

                    $("#Bulkunblocking").attr("disabled", true).val();
                    $("#BulkunblockingMsg").attr("disabled", true).val();



                    $("#btnhide2").show();
                    $("#hideBrowseBtn2").hide();
                    $('#btnsubmit2').attr('disabled', true);

                }
                if (dataiccid == 3 && UnBlocktype == 1 || dataiccid == 3 && UnBlocktype == '') {

                    //$("#Singleunblocking").attr("disabled", true).val("");
                    //$("#SingleunblockingMsg").attr("disabled", true).val("");

                    //$("#Multipleunblocking").attr("disabled", true).val("");
                    //$("#MultipleunblockingMsg").attr("disabled", true).val("");

                    //$("#Bulkunblocking").attr("disabled", false).val("");
                    //$("#BulkunblockingMsg").prop("disabled", false).val("");


                    $("#Singleunblocking").attr("disabled", true).val();
                    $("#SingleunblockingMsg").attr("disabled", true).val();

                    $("#Multipleunblocking").attr("disabled", true).val();
                    $("#MultipleunblockingMsg").attr("disabled", true).val();

                    $("#Bulkunblocking").attr("disabled", true).val();
                    $("#BulkunblockingMsg").prop("disabled", false).val();


                    $("#btnhide2").hide();
                    $("#hideBrowseBtn2").show();
                    $("#fileToUpload").attr("disabled", false);
                    //$("#btnsubmit").attr("disabled", false);
                    $("#btnsubmit2").removeAttr('disabled');

                }
            }
        });
        /** on change enable text box and text area   with ICCID Un block event--------------*/


        /** on change enable text box and text area  with Mobile No Un block event--------------*/
        $('input:radio[name="radiounblockmobile"]').click(function () {
            var isvalid = validateproduct1();
            if (isvalid) {
                var dataMobile = $(this).val();
                var UnBlocktype = $('#HidUnBlocktype').val();
                if (dataMobile == 1 && UnBlocktype == 2) { //3rd radiobutton

                    //$("#SingleunblockingMobile").attr("disabled", false).val("");
                    //$("#SingleunblockingMobileMsg").prop("disabled", false);

                    //$("#Multipleunblockingmobile").attr("disabled", true).val("");
                    //$("#MultipleunblockingmobileMsg").attr("disabled", true).val("");

                    //$("#Bulkunblockingmobile").attr("disabled", true).val("");
                    //$("#BulkunblockingmobileMsg").attr("disabled", true).val("");

                    $("#SingleunblockingMobile").attr("disabled", false).val();
                    $("#SingleunblockingMobileMsg").prop("disabled", false).val();;

                    $("#Multipleunblockingmobile").attr("disabled", true).val();
                    $("#MultipleunblockingmobileMsg").attr("disabled", true).val();

                    $("#Bulkunblockingmobile").attr("disabled", true).val();
                    $("#BulkunblockingmobileMsg").attr("disabled", true).val();



                    $("#btnhide3").show();
                    $("#hideBrowseBtn3").hide();
                    $('#btnsubmit3').attr('disabled', true);
                }

                if (dataMobile == 2 && UnBlocktype == 2) {
                    //$("#SingleunblockingMobile").attr("disabled", true).val("");
                    //$("#SingleunblockingMobileMsg").attr("disabled", true).val("");

                    //$("#Multipleunblockingmobile").attr("disabled", false).val("");
                    //$("#MultipleunblockingmobileMsg").attr("disabled", false).val("");

                    //$("#Bulkunblockingmobile").attr("disabled", true).val("");
                    //$("#BulkunblockingmobileMsg").attr("disabled", true).val("");

                    $("#SingleunblockingMobile").attr("disabled", true).val();
                    $("#SingleunblockingMobileMsg").attr("disabled", true).val();

                    $("#Multipleunblockingmobile").attr("disabled", false).val();
                    $("#MultipleunblockingmobileMsg").attr("disabled", false).val();

                    $("#Bulkunblockingmobile").attr("disabled", true).val();
                    $("#BulkunblockingmobileMsg").attr("disabled", true).val();

                    $("#btnhide3").show();
                    $("#hideBrowseBtn3").hide();
                    $('#btnsubmit3').attr('disabled', true);
                }
                if (dataMobile == 3 && UnBlocktype == 2) {

                    //$("#SingleunblockingMobile").attr("disabled", true).val("");
                    //$("#SingleunblockingMobileMsg").attr("disabled", true).val("");

                    //$("#Multipleunblockingmobile").attr("disabled", true).val("");
                    //$("#MultipleunblockingmobileMsg").attr("disabled", true).val("");

                    //$("#Bulkunblockingmobile").attr("disabled", false).val("");
                    //$("#BulkunblockingmobileMsg").prop("disabled", false).val("");

                    $("#SingleunblockingMobile").attr("disabled", true).val();
                    $("#SingleunblockingMobileMsg").attr("disabled", true).val();

                    $("#Multipleunblockingmobile").attr("disabled", true).val();
                    $("#MultipleunblockingmobileMsg").attr("disabled", true).val();

                    $("#Bulkunblockingmobile").attr("disabled", true).val();
                    $("#BulkunblockingmobileMsg").prop("disabled", false).val();


                    $("#btnhide3").hide();
                    $("#hideBrowseBtn3").show();
                    $("#fileToUpload").attr("disabled", false);
                    //$("#btnsubmit").attr("disabled", false);
                    $("#btnsubmit3").removeAttr('disabled');
                }
            }
        });
        /** on change enable text box and text area   with Mobile No Un block event --------------*/


        /* on Click all event ---------------------------------------*/

        /** Block load **/
        $("#Blockload").live("click", function () {
            var processby = $.trim('@CRM_API.Helpers.Session.CurrentUser.user_login ');
            if (processby != null || processby != '') {
                $("#Main_Menu_BlockMobileIccidnumber").show();
                $("#Main_Menu_UnBlockMobileIccidnumber").hide();
                $("#Main_Menu_ReportMobileIccidnumber").hide();

                $('#btnmapt').addClass('None');
                $('#btnunmap').addClass('None');
                //getlotgprofile();
                $('#Unblockload').removeClass('selectedtb');
                $('#Reportsload').removeClass('selectedtb');
                $(this).addClass('selectedtb');
            }
            else {

                window.location = '/Auth/Login'
            }
        });

        /** UnBlock load **/
        $("#Unblockload").live("click", function () {
            var processby = $.trim('@CRM_API.Helpers.Session.CurrentUser.user_login');
            if (processby != null || processby != '') {

                $("#Main_Menu_BlockMobileIccidnumber").hide();
                $("#Main_Menu_UnBlockMobileIccidnumber").show();
                $("#Main_Menu_ReportMobileIccidnumber").hide();

                $('#btnmapt').addClass('None');
                $('#btnunmap').addClass('None');
                //getlotgprofile();
                $('#Blockload').removeClass('selectedtb');
                $('#Reportsload').removeClass('selectedtb');
                $(this).addClass('selectedtb');
            }
            else {
                window.location = '/Auth/Login'
            }



        });

        /** Reports load **/
        $("#Reportsload").live("click", function () {
            var processby = $.trim('@CRM_API.Helpers.Session.CurrentUser.user_login ');
            if (processby != null || processby != '') {
                $("#Main_Menu_BlockMobileIccidnumber").hide();
                $("#Main_Menu_UnBlockMobileIccidnumber").hide();
                $("#Main_Menu_ReportMobileIccidnumber").show();

                $('#btnmapt').addClass('None');
                $('#btnunmap').addClass('None');
                //getlotgprofile();
                $('#Blockload').removeClass('selectedtb');
                $('#Unblockload').removeClass('selectedtb');
                $(this).addClass('selectedtb');

                

                var Product = $('#productListFinanceReports').val();
                var mode = $('#ddlreporttype').val();
                var startDate = convertDate01($("input[name=startdate]").val());
                var endDate = convertDate01($("input[name=enddate]").val());

                if (Product == "0") {
                    Product = "";
                }
                BlockandUnblockReportsdownload(Product, mode, startDate, endDate)
            }
            else {
                window.location = '/Auth/Login'
            }
        });


        ///**Reload the page**/
        //$(".PMSuccess").live("click", function () {

        //    window.location = '/BlockandUnblock/TabLsearchblockandunblock/';

        //});
        ///**Reload the page**/

        /**Bluk Block ICCID and mobile  button click call API **/
        $("#btnsubmit").live("click", function () {

            blukblockwithiccid();

        });

        $("#btnsubmit1").live("click", function () {

            blukblockwithmobile();

        });
        /**Bluk Block ICCID  and mobile button click call API **/


        /**Bluk UnBlock ICCID and mobile  button click call API **/
        $("#btnsubmit2").live("click", function () {

            Unblukblockwithiccid();

        });

        $("#btnsubmit3").live("click", function () {

            Unblukblockwithmobile();

        });
        /**Bluk UnBlock ICCID  and mobile button click call API **/


        /** On button click Bluk ICCID and mobile  Popup disply **/
        $(".btnBlukICCIDsuccess").live("click", function () {
            $('#ICCIDHistory').show();
            //alert('hello');
            $('#ICCIDHistory').modal({ keyboard: false, backdrop: 'static' }).css({
                'margin-left': function () {
                    return window.pageXOffset - ($(this).width() / 2);

                }
            });

        });

        $(".BlukMobilesuccess").live("click", function () {
            $('#MobileHistory').show();
            //alert('hello');
            $('#MobileHistory').modal({ keyboard: false, backdrop: 'static' }).css({
                'margin-left': function () {
                    return window.pageXOffset - ($(this).width() / 2);

                }
            });

        });
        /** On button click Bluk ICCID and mobile  Popup disply **/


        /** On button click Bluk un block ICCID and mobile  Popup disply **/
        $(".UnBlukICCIDsuccess").live("click", function () {
            $('#UnBlockICCIDHistory').show();
            //alert('hello');
            $('#UnBlockICCIDHistory').modal({ keyboard: false, backdrop: 'static' }).css({
                'margin-left': function () {
                    return window.pageXOffset - ($(this).width() / 2);

                }
            });

        });

        $(".UnBlukMobilesuccess").live("click", function () {
            $('#UnBlockMobileHistory').show();
            //alert('hello');
            $('#UnBlockMobileHistory').modal({ keyboard: false, backdrop: 'static' }).css({
                'margin-left': function () {
                    return window.pageXOffset - ($(this).width() / 2);

                }
            });

        });
        /** On button click Bluk  un block ICCID and mobile  Popup disply **/

        /** Block Submit   **/
        $("#BtnBlock").live("click", function () {



            var isvalid = validateproduct();
            var processby = $.trim('@ViewBag.LoginName');
            var Product = $('#productListFinance').val();
            var sitecode = $('#productListFinance').find('option:selected').attr("alt");
            var Type = $("input[name='radiomobileiccidnumber']:checked").val();
            var Mode = 1/** Block Mode**/;

            var Account_info;
            var Reason;

            var BlockTypeIccid = $("input[name='radioblockiccid']:checked").val();
            /*** block with ICCID ****/
            if (BlockTypeIccid == 1 && Type == 1) {
                Account_info = $("#Singleblocking").val();
                Reason = $("#SingleblockingMsg").val();
            }
            if (BlockTypeIccid == 2 && Type == 1) {
                Account_info = $("#Multipleblocking").val();
                Reason = $("#MultipleblockingMsg").val();
            }

            if (BlockTypeIccid == 3 && Type == 1) {
                /** testing by karthik **/
                var accinfo = $('#HiBlukblockICCID').val();
                Account_info = accinfo;

                //Account_info = $("#Bulkblocking").val();
                Reason = $("#BulkblockingMsg").val();
            }
            /*** block with ICCID ****/

            var BlockTypeMobile = $("input[name='radioblockmobile']:checked").val();
            /*** block with Mobile Number ****/
            if (BlockTypeMobile == 1 && Type == 2) {
                Account_info = $("#SingleblockingMobile").val();
                Reason = $("#SingleblockingMobileMsg").val();
            }
            if (BlockTypeMobile == 2 && Type == 2) {
                Account_info = $("#Multipleblockingmobile").val();
                Reason = $("#MultipleblockingmobileMsg").val();
            }

            if (BlockTypeMobile == 3 && Type == 2) {

                /** testing by karthik **/
                var accinfo = $('#HiBlukblockmobile').val();
                Account_info = accinfo;

                // Account_info = $("#Bulkblockingmobile").val();
                Reason = $("#BulkblockingmobileMsg").val();
            }
            /*** block with Mobile Number ****/
            if (isvalid) {
                verifyblockandunblock(processby, Product, sitecode, Type, Mode, Reason, Account_info);
            }


            clearblock();


            var $remaining1 = $('#remaining1');
            var $remaining2 = $('#remaining2');
            var $remaining3 = $('#remaining3');
            $remaining1.text('NB:Text Should be Less than  160 Characters');
            $remaining2.text('NB:Text Should be Less than  160 Characters');
            $remaining3.text('NB:Text Should be Less than  160 Characters');

            var $remaining11 = $('#remaining11');
            var $remaining21 = $('#remaining21');
            var $remaining31 = $('#remaining31');

            $remaining11.text('NB:Text Should be Less than  160 Characters');
            $remaining21.text('NB:Text Should be Less than  160 Characters');
            $remaining31.text('NB:Text Should be Less than  160 Characters');


        });


        /** UnBlock Submit   **/
        $("#BtnUnBlock").live("click", function () {
            var isvalid = validateproduct1();
            var processby = $.trim('@ViewBag.LoginName');
            var Product = $('#productListFinanceUnblock').val();
            var sitecode = $('#productListFinanceUnblock').find('option:selected').attr("alt");
            var Type = $("input[name='radiomobileiccidnumberunblock']:checked").val();
            var Mode = 2/** UnBlock Mode**/;


            var Account_info;
            var Reason;

            var UnBlockTypeIccid = $("input[name='radiounblockiccid']:checked").val();
            /*** block with ICCID ****/
            if (UnBlockTypeIccid == 1 && Type == 1) {
                Account_info = $("#Singleunblocking").val();
                Reason = $("#SingleunblockingMsg").val();
            }
            if (UnBlockTypeIccid == 2 && Type == 1) {
                Account_info = $("#Multipleunblocking").val();
                Reason = $("#MultipleunblockingMsg").val();
            }

            if (UnBlockTypeIccid == 3 && Type == 1) {
                /** testing by karthik **/
                var accinfo = $('#HiUnBlukICCID').val();
                Account_info = accinfo;
                // Account_info = $("#Bulkunblocking").val();
                Reason = $("#BulkunblockingMsg").val();
            }
            /*** block with ICCID ****/

            var UnBlockTypeMobile = $("input[name='radiounblockmobile']:checked").val();
            /*** block with Mobile Number ****/
            if (UnBlockTypeMobile == 1 && Type == 2) {
                Account_info = $("#SingleunblockingMobile").val();
                Reason = $("#SingleunblockingMobileMsg").val();
            }
            if (UnBlockTypeMobile == 2 && Type == 2) {
                Account_info = $("#Multipleunblockingmobile").val();
                Reason = $("#MultipleunblockingmobileMsg").val();
            }

            if (UnBlockTypeMobile == 3 && Type == 2) {

                /** testing by karthik **/
                var accinfo = $('#HiUnBlukmobile').val();
                Account_info = accinfo;
                //Account_info = $("#Bulkunblockingmobile").val();
                Reason = $("#BulkunblockingmobileMsg").val();
            }
            if (isvalid) {
                verifyblockandunblock(processby, Product, sitecode, Type, Mode, Reason, Account_info);
            }
            clearunblock();

            var $remaining4 = $('#remaining4');
            var $remaining5 = $('#remaining5');
            var $remaining6 = $('#remaining6');
            $remaining4.text('NB:Text Should be Less than  160 Characters');
            $remaining5.text('NB:Text Should be Less than  160 Characters');
            $remaining6.text('NB:Text Should be Less than  160 Characters');

            var $remaining41 = $('#remaining41');
            var $remaining51 = $('#remaining51');
            var $remaining61 = $('#remaining61');

            $remaining41.text('NB:Text Should be Less than  160 Characters');
            $remaining51.text('NB:Text Should be Less than  160 Characters');
            $remaining61.text('NB:Text Should be Less than  160 Characters');

        });


        //Display reports
        $("#BtnReports").live("click", function () {

            var Product = $('#productListFinanceReports').val();
            var mode = $('#ddlreporttype').val();
            var startDate = convertDate01($("input[name=startdate]").val());
            var endDate = convertDate01($("input[name=enddate]").val());

            if (Product == "0") {
                Product = "";
            }
            BlockandUnblockReportsdownload(Product, mode, startDate, endDate)
            //alert('Hlello');
        });

        //Export reports
        $("#btnExportBlockUnBlock").live("click", function () {
            var Product = $('#productListFinanceReports').val();
            var mode = $('#ddlreporttype').val();
            var startDate = convertDate01($("input[name=startdate]").val());
            var endDate = convertDate01($("input[name=enddate]").val());
            if (Product == "0") {
                Product = "";
            }
            var url = '/BlockandUnblock/BlockandUnBlockDownload';
            var IFrameURL = "";
            var JSONSendData = {
                product: Product,
                mode: mode,
                StartDate: startDate,
                EndDate: endDate,
                Block_Type: 3
            };
            $.ajax
            ({
                url: url,
                type: 'post',
                data: JSON.stringify(JSONSendData),
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                cache: false,
                beforeSend: function () {
                    $("#ajax-screen-masking").show();
                },
                success: function (feedback) {
                    if (feedback.errcode == 0) {
                        var IFrameData = $('<iframe/>', { id: 'downloadIFrame', src: '/BlockandUnblock/GoDownloadBlockUnblockHistory?id=' + feedback.Text + '&historyName=' + feedback.errmsg, style: 'display:none' });
                        $("#ajax-screen-masking").append(IFrameData);
                    }
                    $("#ajax-screen-masking").hide();
                }
            });
            //alert('Hello');
        });
        /* on Click all event ---------------------------------------*/


    </script>
}
