﻿@model CRM_API.Models.CustomerDetailPage

@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Customer Detail";
}

@Html.Partial("~/Views/Customer/_ErrorMessage.cshtml")
@Html.Partial("~/Views/Customer/_HeaderCustomerInfo.cshtml")
<style type="text/css">
    .btn.blue {
        text-decoration: none !important;
    }
</style>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="width: 180px; float: left; margin-top: 5px">
                    <h4>
                        <div style="font-size: 18px; font-weight: bold">Details</div>
                    </h4>
                </div>
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    @Html.Partial("~/Views/PAYM/_DetailHeaderButtonPAYM.cshtml")
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--BEGIN TABS-->
                        <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
                                <li id="litab0"><a id="aPAYMTabBundles" href="javascript:void(0)">Plan</a></li>
                                   <!-- 07-Aug-2015 : Moorthy Modified to display only for VMUK -->
@if(ViewBag._productcode =="VMUK"){
                                <li id="litab1"><a id="aTabBundle" href="javascript:void(0)">Bundles</a></li>
                                <li id="litab2"><a id="aTabLLOM" href="javascript:void(0)">LLOM</a></li>
                                <li id="litab3"><a id="aTabCountrySaver" href="javascript:void(0)">Country Saver</a></li>
}
                            </ul>
                            <!-- End Header Tabs -->
                            <div class="tab-content">
                                <div class="tab-pane" id="tab_1_0">
                                    @if (Model.ActiveTab == "TabBundles")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabBundles.cshtml")
                                        @Html.Partial("~/Views/PAYM/_TabBundleDetails.cshtml")
                                        @Html.Partial("~/Views/PAYM/_TabBundleHistory.cshtml")
                                        @Html.Partial("~/Views/PAYM/_TabChangePlanSelect.cshtml")
                                        @Html.Partial("~/Views/PAYM/_TabChangePlanConfirm.cshtml")
                                        @Html.Partial("~/Views/PAYM/_TabChangePlanOrder.cshtml")
                                        @Html.Partial("~/Views/PAYM/_TabCancelPlanSelect.cshtml")
                                        @Html.Partial("~/Views/PAYM/_TabCancelPlanOrder.cshtml")
                                        @Html.Partial("~/Views/PAYM/_PaymentMethodReactivate.cshtml")
                                        @Html.Partial("~/Views/PAYM/_PaymentMethod.cshtml")
                                        @Html.Partial("~/Views/PAYM/_PaymentConfirm.cshtml")
                                        //Added by Elango for Jira CRMT-216 
                                        @Html.Partial("~/Views/PAYM/_TabChangeCreditLimit.cshtml")
                                        @Html.Partial("~/Views/PAYM/_TabAcceptCreditLimit.cshtml");
                                        @Html.Partial("~/Views/PAYM/_TabNoRequestcreditlimit.cshtml");
                                    }
                                </div>
                                <div class="tab-pane" id="tab_1_1">
                                    @* 07-Aug-2015 : Moorthy Uncommented*@
                                    @if (Model.ActiveTab == "TabBundle")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabBundle.cshtml")
                                        @Html.Partial("~/Views/PAYM/_PaymentMethodReactivate.cshtml")
                                        @Html.Partial("~/Views/PAYM/_PaymentMethod.cshtml")
                                        @Html.Partial("~/Views/PAYM/_PaymentConfirm.cshtml")
                                    }
                                </div>
                                <div class="tab-pane" id="tab_1_2">
                                    @if (Model.ActiveTab == "TabLLOM")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabLLOM.cshtml")
                                        @Html.Partial("~/Views/PAYM/_PaymentMethodReactivate.cshtml")
                                        @Html.Partial("~/Views/PAYM/_PaymentMethod.cshtml")
                                        @Html.Partial("~/Views/PAYM/_PaymentConfirm.cshtml")
                                    }
                                </div>
                                <div class="tab-pane" id="tab_1_3">
                                    @if (Model.ActiveTab == "TabCountrySaver")
                                    {
                                        @Html.Partial("~/Views/PAYM/_TabCountrySaver.cshtml")                                        
                                    }
                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsTab {
    @if (Model.ActiveTab == "TabBundles")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.address.paymentmethod.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.PAYM.PlanBundles.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                ViewPAYMPlanList('@ViewBag._mobileno','@ViewBag._productcode');
                ViewPAYMPlanDetailList('@ViewBag._mobileno','@ViewBag._productcode');


                var CountryList = new Array("Austria", "Belgium", "Denmark", "Finland", "France", "Netherlands", "Poland", "Portugal", "Sweden", "United Kingdom");
                var ProductCode = $.trim('@ViewBag._productcode');
                var CountryCode = ProductCode.substr(ProductCode.length - 2);

                /* GetCountryList */
                getCountryList(ProductCode);

                var nowDate = new Date;
                var nowYear = nowDate.getFullYear();
                var strExpireYear = "";
                $("select[name=expiry_year]").html("").append("<option value=\"0\" selected>Select Year</option>");
                for (var i = nowYear; i <= (nowYear + 5) ; i++) {
                    strExpireYear += "<option value=\"" + i + "\">" + i + "</option>";
                }
                $("select[name=PaymentMethodExpiryYear]").append(strExpireYear);

                //$("input#PaymentMethodBtnFind").live("click", function () {
                //    if ($(this).val() == "Find Address") {
                //        AddressListBeginPaymentMethod("KG22-JN94-EF64-MW54", $("input#PaymentMethodPostcode").val());
                //        $(this).hide();
                //        $("img#PaymentMethodBtnFindLoader").show();
                //    } else if ($(this).val() == "Change") {
                //        $("input#PaymentMethodBtnFind").val("Find Address");
                //        $("input#PaymentMethodPostcode").focus().attr("readonly", false);
                //        $("input#PaymentMethodHouseNo").val("").attr("readonly", true);
                //        $("input#PaymentMethodAddress").val("").attr("readonly", true);
                //        $("input#PaymentMethodCity").val("").attr("readonly", true);
                //    }
                //});

                if (CountryCode.toLowerCase() != "uk") {
                    $("input#PaymentMethodBtnFind").hide();
                    $("input[name=PaymentMethodPostcode]").attr({ "style": "width:400px !important" });
                    var countryName = "";
                    switch (CountryCode.toLowerCase()) {
                        case 'at':
                            countryName = CountryList[0];
                            break;
                        case 'be':
                            countryName = CountryList[1];
                            break;
                        case 'dk':
                            countryName = CountryList[2];
                            break;
                        case 'fi':
                            countryName = CountryList[3];
                            break;
                        case 'fr':
                            countryName = CountryList[4];
                            break;
                        case 'nl':
                            countryName = CountryList[5];
                            break;
                        case 'pl':
                            countryName = CountryList[6];
                            break;
                        case 'pt':
                            countryName = CountryList[7];
                            break;
                        case 'se':
                            countryName = CountryList[8];
                            break;
                    }
                    $("select[name=PaymentMethodCountry]").html("").append("<option value=\"" + CountryCode + "\">" + countryName + "</option>");
                } else {
                    $("input[name=PaymentMethodPostcode]").css({ "width": "285px" });
                    $("button#PaymentMethodBtnFind").show();
                    $("[name=PaymentMethodHouseNo], [name=PaymentMethodAddress], [name=PaymentMethodCity]").attr("readonly", true);
                    $("select[name=PaymentMethodCountry]").html("").append("<option value=\"UK\">United Kingdom</option>");
                }
            });
        </script>                
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.postcode.js"></script>        
    }

    else if (Model.ActiveTab == "TabLLOM")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.PAYM.PlanBundles.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.address.paymentmethod.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                ViewLLOMList($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));

                var CountryList = new Array("Austria", "Belgium", "Denmark", "Finland", "France", "Netherlands", "Poland", "Portugal", "Sweden", "United Kingdom");
                var ProductCode = $.trim('@ViewBag._productcode');
                var CountryCode = ProductCode.substr(ProductCode.length - 2);

                /* GetCountryList */
                getCountryList(ProductCode);

                $("input#PaymentMethodBtnFind").live("click", function () {
                    if ($(this).val() == "Find Address") {
                        AddressListBeginPaymentMethod("KG22-JN94-EF64-MW54", $("input#PaymentMethodPostcode").val());
                        $(this).hide();
                        $("img#PaymentMethodBtnFindLoader").show();
                    } else if ($(this).val() == "Change") {
                        $("input#PaymentMethodBtnFind").val("Find Address");
                        $("input#PaymentMethodPostcode").focus().attr("readonly", false);
                        $("input#PaymentMethodHouseNo").val("").attr("readonly", true);
                        $("input#PaymentMethodAddress").val("").attr("readonly", true);
                        $("input#PaymentMethodCity").val("").attr("readonly", true);
                    }
                });


                if (CountryCode.toLowerCase() != "uk") {
                    $("input#PaymentMethodBtnFind").hide();
                    $("input[name=PaymentMethodPostcode]").attr({ "style": "width:400px !important" });
                    var countryName = "";
                    switch (CountryCode.toLowerCase()) {
                        case 'at':
                            countryName = CountryList[0];
                            break;
                        case 'be':
                            countryName = CountryList[1];
                            break;
                        case 'dk':
                            countryName = CountryList[2];
                            break;
                        case 'fi':
                            countryName = CountryList[3];
                            break;
                        case 'fr':
                            countryName = CountryList[4];
                            break;
                        case 'nl':
                            countryName = CountryList[5];
                            break;
                        case 'pl':
                            countryName = CountryList[6];
                            break;
                        case 'pt':
                            countryName = CountryList[7];
                            break;
                        case 'se':
                            countryName = CountryList[8];
                            break;
                    }
                    $("select[name=PaymentMethodCountry]").html("").append("<option value=\"" + CountryCode + "\">" + countryName + "</option>");
                } else {
                    $("input[name=PaymentMethodPostcode]").css({ "width": "285px" });
                    $("button#PaymentMethodBtnFind").show();
                    $("[name=PaymentMethodHouseNo], [name=PaymentMethodAddress], [name=PaymentMethodCity]").attr("readonly", true);
                    $("select[name=PaymentMethodCountry]").html("").append("<option value=\"UK\">United Kingdom</option>");
                }

                $("select.selectLLOMAction").live("change", function () {
                    var CountryName = $(this).attr("data-country");
                    var PaymentType = $(this).attr("data-pt");
                    var PaymentTypeDesc = $(this).attr("data-ptd");
                    var RegNo = $(this).attr("data-regno");
                    var SvcId = $(this).attr("data-svcid");
                    var PayMode = $(this).attr("data-paymode");
                    var Price = $(this).attr("data-price");
                    var actionNo = $(this).val();
                    switch (actionNo) {
                        case '1': // Cancel
                            $("input[name=LLOMSPRegNo]").val(RegNo);
                            $("input[name=LLOMSPSvcId]").val(SvcId);
                            $('#LLOMCancelSubscription').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                            break;
                        case '2': // Reactivate
                            $("input[name=RegNoReactivateLLOM]").val(RegNo);
                            $("input[name=SvcIDReactivateLLOM]").val(SvcId);
                            $("input[name=PayModeReactivateLLOM]").val(PayMode);
                            $("input[name=PriceReactivateLLOM]").val(Price);
                            $("#PaymentMethodReactivateLLOM td#tdPaymentMethodReactivateLLOMNumber").html(RegNo);

                            $('#PaymentMethodReactivateLLOM').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                            break;
                        case '3': // Show Subscription History                            
                            FillLLOMSubscriptionHistory($.trim('@ViewBag._mobileno'), RegNo, $.trim('@ViewBag._sitecode'));
                                break;
                        }
                    $(this).val(0);
                });

                /* Button Confirm Stop Payment */
                $("button#btnLOTGSPConfirm").live("click", function () {
                    var RegNo = $("input[name=LOTGSPRegNo]").val();
                    var PaymentType = $("input[name=LOTGSPPaymentType]").val();
                    LTOGStopPayment($.trim('@ViewBag._mobileno'), RegNo, $.trim('@ViewBag._sitecode'), PaymentType, '@ViewBag.UserName');
                });

                /* Button Confirm Renew Payment */
                $("button#btnLOTGRPConfirm").live("click", function () {
                    var RegNo = $("input[name=LOTGRPRegNo]").val();
                    LTOGRenewPayment($.trim('@ViewBag._mobileno'), RegNo, $.trim('@ViewBag._sitecode'), '@ViewBag.UserName');
                });

                /* Button Confirm Change Payment */
                $("button#btnLOTGCPConfirm").live("click", function () {
                    var RegNo = $("input[name=LOTGCPRegNo]").val();
                    var PaymentType = $("select#LOTCGCPSelectNewPayment option:selected").val();
                    if (PaymentType != "") {
                        LTOGChangePayment($.trim('@ViewBag._mobileno'), RegNo, $.trim('@ViewBag._sitecode'), PaymentType, '@ViewBag.UserName');
                    }
                });

                $(".btnPMSuccessOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 0) {
                        window.location = 'Customer/TabLOTG/' + $.trim('@ViewBag._mobileno');
                    } else if (attrAlt == 1) {
                        RefreshLOTGList($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
                    } else if (attrAlt == 2) {
                        RefreshCustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));
                        RefreshLOTGList($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
                    }
                });

                $(".btnPMFailedOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 0) {
                        window.location = 'Customer/TabLOTG/' + $.trim('@ViewBag._mobileno');
                    } else if (attrAlt == 1) {
                        RefreshLOTGList($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
                    }
                });

                /* Button Confirm Cancel */
                $("button#btnLLOMCancelConfirm").live("click", function () {
                    var RegNo = $("input[name=LLOMSPRegNo]").val();
                    //var PaymentType = $("input[name=LOTGSPPaymentType]").val();
                    var SvcId = $("input[name=LLOMSPSvcId]").val();
                    CancelLLOMConfirm($.trim('@ViewBag._mobileno'), RegNo, $.trim('@ViewBag._sitecode'), SvcId, '@ViewBag.UserName');
                });

                $("button#btnconfirmActivationProceedLLOMPayByCard").live("click", function () {
                    //if ($('input#byBalance:checked').length > 0) {

                    //}
                    //else if ($('input#byCreditCard:checked').length > 0) {
                    $('#tblProductLOTGContainer').hide();

                    var RegNo = $("input[name=RegNoReactivateLLOM]").val();
                    var SvcId = $("input[name=SvcIDReactivateLLOM]").val();
                    var PayMode = $("input[name=PayModeReactivateLLOM]").val();
                    var Price = $("input[name=PriceReactivateLLOM]").val();
                    CCPayMPlanLLOM($.trim('@ViewBag._mobileno'), RegNo, $.trim('@ViewBag._sitecode'), SvcId, '@ViewBag.UserName', PayMode, Price);
                    //}
                });

            });
        </script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.lotg.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.postcode.js"></script>        
    }

    else if (Model.ActiveTab == "TabBundle")
    {
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.PAYM.PlanBundles.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.address.paymentmethod.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {

                ViewBundleList($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));

                var CountryList = new Array("Austria", "Belgium", "Denmark", "Finland", "France", "Netherlands", "Poland", "Portugal", "Sweden", "United Kingdom");
                var ProductCode = $.trim('@ViewBag._productcode');
                var CountryCode = ProductCode.substr(ProductCode.length - 2);

                /* GetCountryList */
                getCountryList(ProductCode);


                $("input#PaymentMethodBtnFind").live("click", function () {
                    if ($(this).val() == "Find Address") {
                        AddressListBeginPaymentMethod("KG22-JN94-EF64-MW54", $("input#PaymentMethodPostcode").val());
                        $(this).hide();
                        $("img#PaymentMethodBtnFindLoader").show();
                    } else if ($(this).val() == "Change") {
                        $("input#PaymentMethodBtnFind").val("Find Address");
                        $("input#PaymentMethodPostcode").focus().attr("readonly", false);
                        $("input#PaymentMethodHouseNo").val("").attr("readonly", true);
                        $("input#PaymentMethodAddress").val("").attr("readonly", true);
                        $("input#PaymentMethodCity").val("").attr("readonly", true);
                    }
                });


                if (CountryCode.toLowerCase() != "uk") {
                    $("input#PaymentMethodBtnFind").hide();
                    $("input[name=PaymentMethodPostcode]").attr({ "style": "width:400px !important" });
                    var countryName = "";
                    switch (CountryCode.toLowerCase()) {
                        case 'at':
                            countryName = CountryList[0];
                            break;
                        case 'be':
                            countryName = CountryList[1];
                            break;
                        case 'dk':
                            countryName = CountryList[2];
                            break;
                        case 'fi':
                            countryName = CountryList[3];
                            break;
                        case 'fr':
                            countryName = CountryList[4];
                            break;
                        case 'nl':
                            countryName = CountryList[5];
                            break;
                        case 'pl':
                            countryName = CountryList[6];
                            break;
                        case 'pt':
                            countryName = CountryList[7];
                            break;
                        case 'se':
                            countryName = CountryList[8];
                            break;
                    }
                    $("select[name=PaymentMethodCountry]").html("").append("<option value=\"" + CountryCode + "\">" + countryName + "</option>");
                } else {
                    $("input[name=PaymentMethodPostcode]").css({ "width": "285px" });
                    $("button#PaymentMethodBtnFind").show();
                    $("[name=PaymentMethodHouseNo], [name=PaymentMethodAddress], [name=PaymentMethodCity]").attr("readonly", true);
                    $("select[name=PaymentMethodCountry]").html("").append("<option value=\"UK\">United Kingdom</option>");
                }

                $("select.selectBundleAction").live("change", function () {
                    var bundleId = $(this).attr("data-bundleid");
                    var bundleName = $(this).attr("data-bundlename");
                    var price = $(this).attr("data-price");
                    var actionNo = $(this).val();
                    switch (actionNo) {
                        case '1': // Cancel
                            $("input[name=BundleCancelBundleId]").val(bundleId);
                            $('#BundleCancelSubscription').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                            //ShowPAYMPlan(1);
                            break;
                        case '2': // Reactivate

                            $("input[name=BundleIdReactivate]").val(bundleId);
                            $("input[name=SiteCodeReactivate]").val($.trim('@ViewBag._sitecode'));
                            $("input[name=PriceReactivate]").val(price);
                            $("#PaymentMethodReactivate td#tdPaymentMethodReactivateBundleID").html(bundleId);
                            $("#PaymentMethodReactivate td#tdPaymentMethodReactivateDescription").html(bundleName);
                            $('#PaymentMethodReactivate').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                            //ShowPAYMPlan(2);
                            break;
                        case '3': // Show Subscription History

                            FillBundleSubscriptionHistory($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), bundleId);
                            break;
                    }
                    $(this).val(0);
                });

                /* Button Confirm Stop Payment */
                $("button#btnLOTGSPConfirm").live("click", function () {
                    var RegNo = $("input[name=LOTGSPRegNo]").val();
                    var PaymentType = $("input[name=LOTGSPPaymentType]").val();
                    LTOGStopPayment($.trim('@ViewBag._mobileno'), RegNo, $.trim('@ViewBag._sitecode'), PaymentType, '@ViewBag.UserName');
                });

                /* Button Confirm Renew Payment */
                $("button#btnLOTGRPConfirm").live("click", function () {
                    var RegNo = $("input[name=LOTGRPRegNo]").val();
                    LTOGRenewPayment($.trim('@ViewBag._mobileno'), RegNo, $.trim('@ViewBag._sitecode'), '@ViewBag.UserName');
                });

                /* Button Confirm Change Payment */
                $("button#btnLOTGCPConfirm").live("click", function () {
                    var RegNo = $("input[name=LOTGCPRegNo]").val();
                    var PaymentType = $("select#LOTCGCPSelectNewPayment option:selected").val();
                    if (PaymentType != "") {
                        LTOGChangePayment($.trim('@ViewBag._mobileno'), RegNo, $.trim('@ViewBag._sitecode'), PaymentType, '@ViewBag.UserName');
                    }
                });

                $(".btnPMSuccessOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 0) {
                        window.location = 'Customer/TabLOTG/' + $.trim('@ViewBag._mobileno');
                    } else if (attrAlt == 1) {
                        RefreshLOTGList($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
                    } else if (attrAlt == 2) {
                        RefreshCustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));
                        RefreshLOTGList($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
                    }
                });

                $(".btnPMFailedOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 0) {
                        window.location = 'Customer/TabLOTG/' + $.trim('@ViewBag._mobileno');
                    } else if (attrAlt == 1) {
                        RefreshLOTGList($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
                    }
                });

                /* Button Confirm Cancel */
                $("button#btnBundleCancelConfirm").live("click", function () {
                    //var RegNo = $("input[name=LOTGSPRegNo]").val();
                    //var PaymentType = $("input[name=LOTGSPPaymentType]").val();
                    var BundleId = $("input[name=BundleCancelBundleId]").val();
                    CancelBundleConfirm($.trim('@ViewBag._mobileno'), null, $.trim('@ViewBag._sitecode'), BundleId, '@ViewBag.UserName');
                });


                $("button#btnconfirmActivationProceedPayByCard").live("click", function () {
                    //if ($('input#byBalance:checked').length > 0) {

                    //}
                    //else if ($('input#byCreditCard:checked').length > 0) {
                    var BundleId = $("input[name=BundleIdReactivate]").val();
                    var price = $("input[name=PriceReactivate]").val();
                    $('#tblProductLOTGContainer').hide();
                    CCPayMPlanBundle($.trim('@ViewBag._mobileno'), null, $.trim('@ViewBag._sitecode'), BundleId, '@ViewBag.UserName', 2, price);
                    //}
                });
            });
        </script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.lotg.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.postcode.js"></script>        
    }

    else if (Model.ActiveTab == "TabCountrySaver")
    {        
        <script type="text/javascript">
            $(document).ready(function () {
                ViewCountrySaverListLLOM($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));

                var nowDate = new Date;
                var nowYear = nowDate.getFullYear();
                var strStartDateYear = "";
                var strEndDateYear = "";

                $("select[name=sCSPBCStartDateYear]").html("").append("<option value=\"0\" selected>Select Year</option>");
                for (var i = (nowYear - 5) ; i <= nowYear ; i++) {
                    $("select[name=sCSPBCStartDateYear]").append("<option value=\"" + i + "\">" + i + "</option>");
                }

                $("select[name=sCSPBCEndDateYear]").html("").append("<option value=\"0\" selected>Select Year</option>");
                for (var i = nowYear; i <= (nowYear + 5) ; i++) {
                    $("select[name=sCSPBCEndDateYear]").append("<option value=\"" + i + "\">" + i + "</option>");
                }

                /* Combo Box Actions */
                $("select.selectCountrySaverLLOMAction").live("change", function () {
                    var Action = parseInt($(this).val());
                    var DataParam = $(this).attr("data-param").split("|");
                    switch (Action) {
                        case 1: // Renew
                            $("#CountrySaverRenew input[name=RegIDRenew]").val(DataParam[0]);
                            //$("#CountrySaverRenew td#tdCountrySaverRenewPackageID").html(DataParam[1]);
                            $("#CountrySaverRenew td#tdCountrySaverRenewBundleID").html(DataParam[2]);
                            $("#CountrySaverRenew td#tdCountrySaverRenewDescription").html(DataParam[3]);
                            $("#CountrySaverRenew td#tdCountrySaverRenewDestNumber").html(DataParam[4]);
                            $("#CountrySaverRenew span#CountrySaverRenewCurrentPayment").html(DataParam[5]);
                            /*added on 17-06-2015*/
                            var DataPacketDest = $(this).attr("data-packdest");
                            $("#CountrySaverRenew input[name=DestNoReactivate]").val(DataPacketDest);
                            /*end added*/
                            /*added on 17-06-2015*/
                            var DataAccountNo = $(this).attr("data-AccountNo");
                            //$("#CountrySaverCancelSubscription input[name=DestNoReactivate]").val(DataAccountNo);
                            $("#CountrySaverRenew input[name=CSAccountNoRenew]").val(DataAccountNo);
                            /*end added*/
                            $('#CountrySaverRenew').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                            break;
                        case 2: // Cancel 
                            var DataPacketDest = $(this).attr("data-packdest");
                            $("#CountrySaverCancelSubscription input[name=CSBundleId]").val(DataPacketDest);
                            /*added on 17-06-2015*/
                            var DataAccountNo = $(this).attr("data-AccountNo");
                            $("#CountrySaverCancelSubscription input[name=CSAccountNo]").val(DataAccountNo);
                            $('#CountrySaverCancelSubscription').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                            break;
                        case 3: // Reactivate
                            $("#CountrySaverReactivate input[name=RegIDReactivate]").val(DataParam[0]);
                            //$("#CountrySaverReactivate td#tdCountrySaverReactivatePackageID").html(DataParam[1]);
                            $("#CountrySaverReactivate td#tdCountrySaverReactivateBundleID").html(DataParam[2]);
                            $("#CountrySaverReactivate td#tdCountrySaverReactivateDescription").html(DataParam[3]);
                            $("#CountrySaverReactivate td#tdCountrySaverReactivateDestNumber").html(DataParam[4]);
                            $("#CountrySaverReactivate span#CountrySaverReactivateCurrentPayment").html(DataParam[5]);
                            /*added on 17-06-2015*/
                            var DataPacketDest = $(this).attr("data-packdest");
                            $("#CountrySaverReactivate input[name=DestNoReactivate]").val(DataPacketDest);
                            /*end added*/
                            /*added on 17-06-2015*/
                            var DataAccountNo = $(this).attr("data-AccountNo");
                            //$("#CountrySaverCancelSubscription input[name=DestNoReactivate]").val(DataAccountNo);
                            $("#CountrySaverReactivate input[name=CSAccountNoReactivate]").val(DataAccountNo);
                            /*end added*/
                            /*added on 17-06-2015*/
                            var DataAmount = $(this).attr("data-Amount");
                            //$("#CountrySaverCancelSubscription input[name=DestNoReactivate]").val(DataAccountNo);
                            $("#CountrySaverReactivate input[name=CSAmount]").val(DataAmount);
                            /*end added*/
                            $('#CountrySaverReactivate').modal({ keyboard: false, backdrop: 'static' }).css({
                                'margin-left': function () {
                                    return window.pageXOffset - ($(this).width() / 2);
                                }
                            });
                            break;
                        case 4: //View Subscription History

                            FillCountrySaverSubscriptionHistory($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), DataParam[2]);
                            break;
                    }
                    $(this).val(0);
                });

                /* REACTIVATION */
                // Reactivate By Balance
                $("button#btnCountrySaverReactivatePayByBalance").live("click", function () {
                    $('#CountrySaverReactivateBalance').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });
                // Reactivate By Balance - Button NO
                $("button#btnCountrySaverReactivateBalanceNo").live("click", function () {
                    $('#CountrySaverReactivate').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                // Reactivate By Balance - Button YES
                $("button#btnCountrySaverReactivateBalanceYes").live("click", function () {
                    var RegID = $("#CountrySaverReactivate input[name=RegIDReactivate]").val();
                    var SiteCode = $.trim('@ViewBag._sitecode');
                    ReactivateByBalance(SiteCode, RegID);
                });

                // Reactivate By Card
                $("button#btnCountrySaverReactivatePayByCard").live("click", function () {
                    CCRegisteredList($.trim('@ViewBag._mobileno'));
                    //var DataParam = $(this).attr("data-param").split("|");
                    //var DestNo = $(this).attr("data-packdest");
                    var DataParam = $("#CountrySaverReactivate td#tdCountrySaverRenewBundleID")
                    var DestNo = $("#CountrySaverReactivate input[name=DestNoReactivate]").val();
                    var Amount = $("#CountrySaverReactivate input[name=CSAmount]").val();

                    $("button#btnCSPBCRegCardProceed").attr("disabled", true).removeClass("blue").addClass("gray");
                    $("#tblProductCountrySaverContainer").hide();
                    $("#CountrySaverPaymentByCard input[type=text]").val("");
                    $("#CountrySaverPaymentByCard select").val("");
                    $("#CountrySaverPaymentByCard input[type=radio]").removeAttr('checked');
                    $("#CountrySaverPaymentByCard input[name=ActionType]").val("reactivate");
                    //$("#CountrySaverPaymentByCard input[name=CSBundleIdPayment]").val(DataParam[2]);
                    $("#CountrySaverPaymentByCard input[name=CSBundleIdPayment]").val(DataParam);
                    $("#CountrySaverPaymentByCard input[name=DestNo]").val(DestNo);
                    $("#CountrySaverPaymentByCard input[name=Amount]").val(Amount);
                    $("#CountrySaverPaymentByCard #PaymentByCardTitle").html("Reactivate Package by Card");
                    $("#CountrySaverPaymentByCard").show();
                });
                /* ------------------  */

                /* RENEW */
                // Renew By Balance
                $("button#btnCountrySaverRenewPayByBalance").live("click", function () {
                    $('#CountrySaverRenewBalance').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });
                // Renew By Balance - Button NO
                $("button#btnCountrySaverRenewBalanceNo").live("click", function () {
                    $('#CountrySaverRenew').modal({ keyboard: false, backdrop: 'static' }).css({
                        'margin-left': function () {
                            return window.pageXOffset - ($(this).width() / 2);
                        }
                    });
                });

                // Renew By Balance - Button YES
                $("button#btnCountrySaverRenewBalanceYes").live("click", function () {
                    var RegID = $("#CountrySaverRenew input[name=RegIDRenew]").val();
                    var SiteCode = $.trim('@ViewBag._sitecode');
                    RenewByBalance(SiteCode, RegID);
                });

                // Renew By Card
                $("button#btnCountrySaverRenewPayByCard").live("click", function () {
                    CCRegisteredList($.trim('@ViewBag._mobileno'));
                    $("button#btnCSPBCRegCardProceed").attr("disabled", true).removeClass("blue").addClass("gray");
                    $("#tblProductCountrySaverContainer").hide();
                    $("#CountrySaverPaymentByCard input[type=text]").val("");
                    $("#CountrySaverPaymentByCard select").val("");
                    $("#CountrySaverPaymentByCard input[type=radio]").removeAttr('checked');
                    $("#CountrySaverPaymentByCard input[name=ActionType]").val("Renew");
                    $("#CountrySaverPaymentByCard #PaymentByCardTitle").html("Renew Package by Card");
                    $("#CountrySaverPaymentByCard").show();
                });
                /* ------------------  */

                // Button Proceed New Card
                $("button#btnCSPBCNewCardProceed").live("click", function () {

                    if (ValidatePayMCountryForm()) {

                        var Amount = $("input[name=iCSPBCAmount]").val();
                        var CardType = $("input[name=radioPaymentMethodCardType]:checked").val();
                        var CardNumber = $("input[name=iCSPBCCardNumber]").val();
                        var FirstName = $("input[name=iCSPBCFirstName]").val();
                        var LastName = $("input[name=iCSPBCLastName]").val();
                        var StartDateMonth = $("select[name=sCSPBCStartDateMonth] option:selected").val();
                        var StartDateYear = $("select[name=sCSPBCStartDateYear] option:selected").val();
                        var EndDateMonth = $("select[name=sCSPBCEndDateMonth] option:selected").val();
                        var EndDateYear = $("select[name=sCSPBCEndDateYear] option:selected").val();
                        var IssueNumber = $("input[name=iCSPBCIssueNumber]").val();
                        var CardSecurityCode = $("input[name=iCSPBCCardSecurityCode]").val();
                        //changed on 07-07-2015 - for postcode
                        //var PostCode = $("input[name=iCSPBCPostCode]").val();
                        var PostCode = $("div#postcode_lookup input[type=text]").val();
                        //end changed
                        var Address1 = $("input[name=iCSPBCAddress1]").val();
                        var Address2 = $("input[name=iCSPBCAddress2]").val();
                        var Address3 = $("input[name=iCSPBCAddress3]").val();
                        var Town = $("input[name=iCSPBCTown]").val();
                        var Country = $("select[name=sCSPBCCountry] option:selected").val();
                        var ActionType = $("input[name=ActionType]").val();
                        var bundleId = $("input[name=CSBundleIdPayment]").val();
                        var DestNo = $("input[name=DestNo]").val();
                        var newPlanValue = $("input[name=CSAmount]").val();
                        var SiteCode = $.trim('@ViewBag._sitecode');
                        var MobileNo = $.trim('@ViewBag._mobileno');
                        var totalValue = $("input[name=CSAmount]").val().split(" ")[1];
                        var subcriptionid = $("input[name=RegIDReactivate]").val();
                        /*
                        if (ActionType.toLowerCase() == "reactivate") {
                            alert("REACTIVATE");
                        } else {
                            alert("RENEW");
                        }
                        */
                        //31-Jul-2015 Moorthy Added
                        debugger;
                        var url = apiServer + "/api/PAYMPlanBundles";
                        var JSONSendData = {
                            requestType: 82,
                            SiteCode: SiteCode,
                            MobileNo: MobileNo,
                            BundleId: bundleId,
                            newplan: totalValue,
                            //newplantext: newPlanName,
                            calledby: "CRM-API",
                            //ordervalue: orderValue,
                            //discount: voucherValue,
                            totalvalue: totalValue,
                            SubscriptionID: subcriptionid,
                            card_number: CardNumber,
                            card_expiry_month: EndDateMonth,
                            card_expiry_year: EndDateYear,
                            card_issue_number: IssueNumber,
                            card_verf_code: CardSecurityCode,
                            card_first_name: FirstName,
                            card_last_name: LastName,
                            card_post_code: PostCode,
                            card_house_number: Address1 + ' ' + Address3,
                            card_address: Address2,
                            card_city: Town,
                            card_country: Country,
                            card_type: CardType,
                            Reg_Number: DestNo,
                            // SvcId: SvcId,
                            //username: UserName,
                            //payment_mode: payType
                        };
                        $.ajax
                        ({
                            url: url,
                            type: "post",
                            data: JSON.stringify(JSONSendData),
                            dataType: "json",
                            async: true,
                            contentType: "application/json;charset=utf-8",
                            cache: false,
                            success: function (feedback) {

                                //if (feedback != null && feedback.length > 0 && feedback[0] != null) {
                                //    if (feedback[0].errcode < 0) {
                                //        var ErrMsg = feedback[0].errmsg;
                                //        $("#ajax-screen-masking").hide();
                                //        alert(ErrMsg);
                                //    }
                                //    else
                                //        $("#ajax-screen-masking").hide();
                                //    alert(feedback[0].errmsg + " - Request Processed successfully");
                                //}
                                //else {
                                //    $("#ajax-screen-masking").hide();
                                //    alert("Empty Return");
                                //}
                                var stat = feedback[0].errcode;
                                if (stat == 0) {
                                    //window.console.log("PASSED");

                                    window.console.log("PASSED");
                                    $('.PMSuccess .modal-header').html(feedback[0].errsubject);
                                    $('.PMSuccess .modal-body').html(feedback[0].errmsg);
                                    $('.PMSuccess').modal({ keyboard: false, backdrop: 'static' }).css({
                                        'margin-left': function () {
                                            return window.pageXOffset - ($(this).width() / 2);
                                        }
                                    });

                                } else {
                                    $("#ajax-screen-masking").hide();
                                    $('.PMFailed .modal-footer .btnPMFailedOK').attr({ "alt": "" });
                                    $('.PMFailed .modal-header').html(feedback[0].errsubject);
                                    $('.PMFailed .modal-body').html(feedback[0].errmsg);
                                    $('.PMFailed').modal({ keyboard: false, backdrop: 'static' }).css({
                                        'margin-left': function () {
                                            return window.pageXOffset - ($(this).width() / 2);
                                        }
                                    });
                                }
                            },
                            error: function (feedback) {
                                /*
                                if (feedback != null && feedback.length > 0 && feedback[0] != null) {
                                    if (feedback[0].errcode < 0) {
                                        var ErrMsg = feedback[0].errmsg;
                                        $("#ajax-screen-masking").hide();
                                        alert(ErrMsg);
                                    }
                                    else
                                        $("#ajax-screen-masking").hide();
                                    alert("Empty Return");
                                }
                                else {
                                    $("#ajax-screen-masking").hide();
                                    alert("General Error");
                                }
                                */
                                $("#ajax-screen-masking").hide();
                                $('.PMFailed .modal-footer .btnPMFailedOK').attr({ "alt": "" });
                                $('.PMFailed .modal-header').html(feedback[0].errsubject);
                                $('.PMFailed .modal-body').html(feedback[0].errmsg);
                                $('.PMFailed').modal({ keyboard: false, backdrop: 'static' }).css({
                                    'margin-left': function () {
                                        return window.pageXOffset - ($(this).width() / 2);
                                    }
                                });
                            }
                        }).done(function () {
                            location.reload();
                        });
                    }
                });

                // Radio Button Registered Card
                $("input[name=optSelectRegisteredCC]").live("click", function () {
                    $("button#btnCSPBCRegCardProceed").bind("click").removeClass("gray").addClass("blue").attr("disabled", false);
                });

                // Button Proceed Registered Card
                $("button#btnCSPBCRegCardProceed").live("click", function () {
                    var idx = $("input[name=optSelectRegisteredCC]").index($("input[name=optSelectRegisteredCC]:checked"));
                    var CCNumber = $("input[name=optSelectRegisteredCC]:checked").val();
                    var CVCNumber = $("input.iCVCNumber").eq(idx).val();
                    var MobileNo = $.trim('@ViewBag._mobileno');
                    var SiteCode = $.trim('@ViewBag._sitecode');
                    //var BundleId = $("input[name=tdCIHCustomerId]").val();
                    var BundleId = $("input[name=RegIDReactivate]").val();
                    var AccountNo = $("input[name=CSAccountNoReactivate]").val();
                    var ActionType = $("input[name=ActionType]").val();
                    var DestNo = $("input[name=DestNo]").val();
                    var Amount = $("input[name=Amount]").val().split(" ")[1];
                    //if (ActionType.toLowerCase() == "reactivate") {
                    //ReactivateByRegisteredCard(MobileNo, CCNumber, CVCNumber);
                    ReactivateByRegisteredCardCountrySaver(MobileNo, CCNumber, CVCNumber, SiteCode, BundleId, DestNo, Amount, AccountNo);
                    //} else {
                    //    //RenewByRegisteredCard(MobileNo, CCNumber, CVCNumber);
                    //    RenewByRegisteredCardCountrySaver(MobileNo, CCNumber, CVCNumber);
                    //}
                });

                // Button Find Address
                $("button#CSPBCBtnFindAddress").live("click", function () {
                    if ($(this).html() == "Find Address") {
                        AddressListBeginPaymentMethod("KG22-JN94-EF64-MW54", $("input#iCSPBCPostCode").val());
                        $(this).hide();
                        $("img#CSPBCBtnFindAddressLoader").show();
                    } else if ($(this).html() == "Change") {
                        $("button#CSPBCBtnFindAddress").html("Find Address");
                        $("input#iCSPBCPostCode").focus().attr("readonly", false);
                        $("input#iCSPBCAddress1").val("").attr("readonly", true);
                        $("input#iCSPBCAddress2").val("").attr("readonly", true);
                        $("input#iCSPBCTown").val("").attr("readonly", true);
                    }
                }); $(".btnPMSuccessOK").live("click", function () {
                    var attrAlt = parseInt
                        ($(this).attr("alt"));
                    if (attrAlt == 0) {
                        window.location = 'Customer/TabCountrySaver/' + $.trim('@ViewBag._mobileno');
                    } else if (attrAlt == 1) {
                        RefreshCustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));
                        RefreshCountrySaverList($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
                    }
                });

                $(".btnPMFailedOK").live("click", function () {
                    var attrAlt = parseInt($(this).attr("alt"));
                    if (attrAlt == 0) {
                        window.location.reload();
                    } else if (attrAlt == 1) {
                        RefreshCountrySaverList($.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'));
                    }
                });

                /* Button Confirm Cancel */
                $("button#btnCountrySaverCancelConfirm").live("click", function () {
                    var bundleId = $("input[name=CSBundleId]").val();
                    var AccountNo = $("input[name=CSAccountNo]").val();
                    CancelCountrySaverConfirm($.trim('@ViewBag._mobileno'), bundleId, $.trim('@ViewBag._sitecode'), '@ViewBag.UserName', AccountNo);
                });

                $("button#btnconfirmActivationProceedPayByCard").live("click", function () {
                    //if ($('input#byBalance:checked').length > 0) {

                    //}
                    //else if ($('input#byCreditCard:checked').length > 0) {
                    //    $('#tblProductLOTGContainer').hide();                                      
                    CCPayMPlanCountrySaver($.trim('@ViewBag._mobileno'), 2, $.trim('@ViewBag._sitecode'), bundleId, '@ViewBag.UserName');
                    //}
                });
                               
                function ValidatePayMCountryForm() {
                    var passed = true;
                    $("#CountrySaverPaymentByCard label.errLabel").hide();

                    var PaymentMethodCardType = $("input[name=radioPaymentMethodCardType] option:selected").val();
                    if (PaymentMethodCardType == "") {
                        passed = false;
                    }

                    var cardno = $("input[name=iCSPBCCardNumber]").val();
                    if (cardno == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(0).show();
                        passed = false;
                    }

                    var FirstName = $("input[name=iCSPBCFirstName]").val();
                    if (FirstName == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(1).show();
                        passed = false;
                    }

                    var LastName = $("input[name=iCSPBCLastName]").val();
                    if (LastName == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(2).show();
                        passed = false;
                    }

                    var expMonth = $("#sCSPBCEndDateMonth").val();
                    var expYear = $("#sCSPBCEndDateYear").val();
                    if (expMonth == "0" || expYear == "0") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(3).show();
                        passed = false;
                    }

                    var csc = $("input[name=iCSPBCCardSecurityCode]").val();
                    if (csc == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(4).show();
                        passed = false;
                    }

                    var FirstName = $("input[name=postcode_lookup]").val();
                    if (FirstName == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(5).show();
                        passed = false;
                    }

                    var Address1 = $("input[name=iCSPBCAddress1]").val();
                    if (Address1 == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(6).show();
                        passed = false;
                    }

                    var Address2 = $("input[name=iCSPBCAddress2]").val();
                    if (Address2 == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(7).show();
                        passed = false;
                    }

                    var Address3 = $("input[name=iCSPBCAddress3]").val();
                    if (Address3 == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(8).show();
                        passed = false;
                    }

                    var Town = $("input[name=iCSPBCTown]").val();
                    if (Town == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(9).show();
                        passed = false;
                    }

                    var Country = $("input[name=sCSPBCCountry]").val();
                    if (Country == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(10).show();
                        passed = false;
                    }

                    var Email = $("input[name=iCSPBCEmail]").val();
                    if (Email == "") {
                        $("#CountrySaverPaymentByCard label.errLabel").eq(11).show();
                        passed = false;
                    }

                    return passed;
                }
                $("#CountrySaverPaymentByCard label.errLabel").hide();
            });
        </script>
        
        //post code finder//
        <script type="text/javascript">
            $(document).ready(function () {

                (function (n) {
                    "use strict";

                    function t(t) {
                        var r, i;
                        this.config = {};
                        n.extend(this, u);
                        t && n.extend(this, t);
                        r = {};
                        for (i in this.output_fields) this.output_fields[i] !== undefined && (r[i] = n(this.output_fields[i]));
                        this.$output_fields = r
                    }
                    var i = [],
                r, u = {
                    api_key: "",
                    output_fields: {
                        line_1: "#line1",
                        line_2: "#line2",
                        line_3: "#line3",
                        post_town: "#town",
                        postcode: "#postcode",
                        postcode_inward: undefined,
                        postcode_outward: undefined,
                        udprn: undefined,
                        dependant_locality: undefined,
                        double_dependant_locality: undefined,
                        thoroughfare: undefined,
                        dependant_thoroughfare: undefined,
                        building_number: undefined,
                        building_name: undefined,
                        sub_building_name: undefined,
                        po_box: undefined,
                        department_name: undefined,
                        organisation_name: undefined,
                        postcode_type: undefined,
                        su_organisation_indicator: undefined,
                        delivery_point_suffix: undefined
                    },
                    api_endpoint: "https://api.getAddress.io/uk",
                    input: undefined,
                    $input: undefined,
                    input_label: 'Enter Postcode',
                    input_muted_style: "color:#808080;",
                    input_class: "",
                    // input_id: "PaymentMethodPostcode",
                    button: undefined,
                    $button: undefined,
                    // button_id: "PaymentMethodBtnFind",
                    button_label: 'Find your Address',
                    button_class: "",
                    button_disabled_message: 'Fetching Addresses... ',
                    $dropdown: undefined,
                    //dropdown_id: "PaymentMethodListAddressIP",
                    dropdown_select_message: 'Select your Address',
                    dropdown_class: "",
                    $error_message: undefined,
                    error_message_id: "opc_error_message",
                    error_message_postcode_invalid: 'Please recheck your postcode, it seems to be incorrect',
                    error_message_postcode_not_found: 'Your postcode could not be found. Please type in your address',
                    error_message_default: "We were not able to your address from your Postcode. Please input your address manually",
                    error_message_class: "",
                    lookup_interval: 1e3,
                    debug_mode: !1,
                    onLookupSuccess: undefined,
                    onLookupError: undefined,
                    onAddressSelected: undefined
                };
                    t.prototype.setupPostcodeInput = function (n) {
                        this.$context = n;
                        this.setupInputField();
                        this.setupLookupButton()
                    };
                    t.prototype.setupInputField = function () {
                        var t = this;
                        return this.$input = n(this.input).length ? n(this.input).first() : n("<input />", {
                            type: "text",
                            id: this.input_id,
                            value: this.input_label
                        }).appendTo(this.$context).addClass(this.input_class).val(this.input_label).attr("style", "width:241px").attr("style", this.input_muted_style).attr("Id", "PaymentMethodPostcode").attr("autocomplete", "off").submit(function () {
                            return !1
                        }).keypress(function (n) {
                            n.which === 13 && t.$button.trigger("click")
                        }).focus(function () {
                            t.$input.removeAttr("style").val("")
                        }).blur(function () {
                            t.$input.val() || (t.$input.val(t.input_label), t.$input.attr("style", t.input_muted_style))
                        }), this.$input
                    };
                    t.prototype.setupLookupButton = function () {
                        var t = this;

                        return this.$button = n(this.button).length ? n(this.button).first() : n("<button />", {
                            html: this.button_label,
                            id: this.button_id,
                            type: "button"

                        }).appendTo(this.$context).addClass(this.button_class + " btn blue").attr("style", "margin-top:-9px;margin-left:30px").attr("Id", "BtnFindAddress").attr("onclick", "return false;").submit(function () {

                            return !1

                        }), this.$button.click(function () {
                            if ($('#PaymentMethodBtnFind').text() == 'Change') {
                                //document.getElementById("<%= divaddress.ClientID %>").style.display = "none";
                                // document.getElementById("PaymentMethodListAddressIP").style.display = "block";
                                $("[id$='PaymentMethodListAddressIP']").style.display = "block";
                                var n = t.$input.val();
                                t.disableLookup();
                                t.clearAll();
                                t.lookupPostcode(n)
                                $("#PaymentMethodBtnFind").html('Find your Address');

                            }
                            else {
                                var n = t.$input.val();
                                t.disableLookup();
                                t.clearAll();
                                t.lookupPostcode(n)
                            }

                        }), this.$button

                    };

                    t.prototype.disableLookup = function (n) {
                        n = n || this.button_disabled_message;
                        this.$button.prop("disabled", !0).html(n)
                    };
                    t.prototype.enableLookup = function () {
                        var n = this;
                        n.lookup_interval === 0 ? n.$button.prop("disabled", !1).html(n.button_label) : setTimeout(function () {
                            n.$button.prop("disabled", !1).html(n.button_label)
                        }, n.lookup_interval)
                    };
                    t.prototype.clearAll = function () {
                        this.setDropDown();
                        this.setErrorMessage();
                        this.setAddressFields()
                    };
                    t.prototype.removeAll = function () {
                        this.$context = null;
                        n.each([this.$input, this.$button, this.$dropdown, this.$error_message], function (n, t) {
                            t && t.remove()
                        })
                    };
                    t.prototype.lookupPostcode = function (t) {
                        var i = this;
                        if (!n.getAddress.validatePostcodeFormat(t)) return this.enableLookup(), i.setErrorMessage(this.error_message_postcode_invalid);
                        n.getAddress.lookupPostcode(t, i.api_key, function (n) {
                            if (i.enableLookup(), i.setDropDown(n.Addresses, t), i.onLookupSuccess) i.onLookupSuccess(n)
                        }, function (n) {
                            n.status == 404 ? i.setErrorMessage(i.error_message_postcode_not_found) : i.setErrorMessage("Unable to connect to server");
                            i.enableLookup();
                            i.onLookupError && i.onLookupError()
                        })
                    };
                    t.prototype.setDropDown = function (t, i) {
                        var r = this,
                    u, e, f;
                        if (this.$dropdown && this.$dropdown.length && (this.$dropdown.remove(), delete this.$dropdown), t) {
                            for (u = n("<select />", {
                                id: r.dropdown_id
                            }).attr("style", "width:500px").addClass(r.dropdown_class), n("<option />", {
                                value: "open",
                                text: r.dropdown_select_message
                            }).appendTo(u), e = t.length, f = 0; f < e; f += 1) n("<option />", {
                                value: f,
                                text: t[f]
                            }).appendTo(u);
                            return u.appendTo(r.$context).change(function () {
                                var u = n(this).val();
                                u >= 0 && (r.setAddressFields(t[u], i), r.onAddressSelected && r.onAddressSelected.call(this, t[u]))
                                // $("[id$='PaymentMethodListAddressIP']").style.display = "none";
                                //document.getElementById("PaymentMethodListAddressIP").style.display = "none";
                                //document.getElementById("<%= divaddress.ClientID %>").style.display = "block";
                                //document.getElementById("<%= txtHouseNo.ClientID %>").readOnly = true;
                                //document.getElementById("<%= txtStreet.ClientID %>").readOnly = true;
                                //document.getElementById("<%= txtStreet1.ClientID %>").readOnly = true;
                                //document.getElementById("<%= txtTown.ClientID %>").readOnly = true;                        
                                $("#PaymentMethodBtnFind").html('Change');
                            }), r.$dropdown = u, u
                        }
                    };
                    t.prototype.setErrorMessage = function (t) {
                        if (this.$error_message && this.$error_message.length && (this.$error_message.remove(), delete this.$error_message), t) return this.$error_message = n("<p />", {
                            html: t,
                            id: this.error_message_id
                        }).addClass(this.error_message_class).appendTo(this.$context), this.$error_message
                    };
                    t.prototype.setAddressFields = function (n, t) {
                        var f, r, u, i;
                        for (f in this.$output_fields) this.$output_fields[f].val("");
                        if (n) {
                            for (r = n.split(","), u = r.length, i = 0; i < u; i++) i == 0 ? this.$output_fields.line_1.val(r[i].trim() || "") : i + 1 == u ? this.$output_fields.post_town.val(r[i].trim() || "") : i == 1 ? this.$output_fields.line_2.val(r[i].trim() || "") : i == 2 && this.$output_fields.line_3.val(r[i].trim() || "");
                            t && (t = t.toUpperCase().trim());
                            this.$output_fields.postcode.val(t || "")
                        }
                    };
                    n.getAddress = {
                        defaults: function () {
                            return u
                        },
                        setup: function (n) {
                            r = new t(n);
                            i.push(r)
                        },
                        validatePostcodeFormat: function (n) {
                            return !!n.match(/^[a-zA-Z0-9]{1,4}\s?\d[a-zA-Z]{2}$/)
                        },
                        lookupPostcode: function (t, i, r, f) {
                            var o = u.api_endpoint,
                        s = [o, t].join("/"),
                        e = {
                            url: s,
                            data: {
                                "api-key": i
                            },
                            dataType: "json",
                            timeout: 3e5,
                            success: r
                        };
                            f && (e.error = f);
                            n.ajax(e)
                        },
                        clearAll: function () {
                            for (var t = i.length, n = 0; n < t; n += 1) i[n].removeAll()
                        }
                    };
                    n.fn.getAddress = function (u) {
                        if (u) {
                            var f = new t(u);
                            i.push(f);
                            f.setupPostcodeInput(n(this))
                        } else r.setupPostcodeInput(n(this));
                        return this
                    }
                })(jQuery);

                $('#postcode_lookup').getAddress({
                    api_key: '-PTg0SMM0EaWNMmiTz4gzw748',
                    output_fields: {
                        //line_1: '#<%= txtHouseNo.ClientID %>',
                        //line_2: '#<%= txtStreet.ClientID %>',
                        //line_3: '#<%= txtStreet1.ClientID %>',
                        //post_town: '#<%= txtTown.ClientID %>',
                        //postcode: '#<%= txtPostCode.ClientID %>'
                        line_1: $("[id$='iCSPBCAddress1']"),
                        line_2: $("[id$='iCSPBCAddress2']"),
                        line_3: $("[id$='iCSPBCAddress3']"),
                        post_town: $("[id$='iCSPBCTown']"),
                        postcode: $("[id$='sCSPBCCountry']")
                    }

                });
                $("<br/>").insertAfter($("#BtnFindAddress"));
            });
        </script>
        //post code finder//
        
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.lotg.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.engine.countrysaver.js"></script>
        <script type="text/javascript" src="~/Assets/Main/js/crm.address.countrysaver.js"></script>
        @*<script type="text/javascript" src="~/Assets/Main/js/crm.engine.postcode.js"></script>*@        
    }



}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(2);
            var currentURl = window.location.pathname;
            var splitURL = currentURl.split('/');
            if ($.trim(splitURL[2]).toLowerCase() === 'tabbundles') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab0").addClass("active");
                $("#tab_1_0").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMProduct").removeClass("lightblue").addClass("white");
            }
            else if ($.trim(splitURL[2]).toLowerCase() === 'tabbundle') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab1").addClass("active");
                $("#tab_1_1").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMProduct").removeClass("lightblue").addClass("white");
            }
            else if ($.trim(splitURL[2]).toLowerCase() === 'tabllom') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab2").addClass("active");
                $("#tab_1_2").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMProduct").removeClass("lightblue").addClass("white");
            }
            else if ($.trim(splitURL[2]).toLowerCase() === 'tabcountrysaver') {
                $("ul.ultab li").removeClass("active");
                $("div.tab-content div").removeClass("active");
                $("li#litab3").addClass("active");
                $("#tab_1_3").addClass("active");
                $("#detailHeaderButtons a").removeClass("white").addClass("lightblue");
                $("a#detailPAYMProduct").removeClass("lightblue").addClass("white");
            }
            ActionDetailHeaderButtons(2, $.trim('@ViewBag._mobileno'));
            CustomerInfoHeader($.trim('@ViewBag._productcode'), $.trim('@ViewBag._mobileno'), $.trim('@ViewBag._sitecode'), $.trim('@ViewBag._CustId'), $.trim('@ViewBag._ConnStatus'));
            $(window).scroll(function () {
                var ajaxSpinnerTop = ($(window).outerHeight() / 2) + $(this).scrollTop();
                $("#ajax-loader").css({ "margin-top": ajaxSpinnerTop + "px" });
            });
            //10-Aug-2015 : Moorthy Added to display More Info Tab when clicked
            /* TAB GENERAL */
            $("a#detailPAYMMoreInfo").live("click", function () {
                window.location = '/PAYM/TabGeneral/' + $.trim('@ViewBag._mobileno');
            });

            $("a#aPAYMTabBundles").live("click", function () {
                window.location = '/PAYM/TabBundles/' + $.trim('@ViewBag._mobileno');
            });

            /* TAB COUNTRY SAVER */
            $("a#aTabBundle").live("click", function () {
                window.location = '/PAYM/TabBundle/' + $.trim('@ViewBag._mobileno');
            });

            /* TAB COUNTRY SAVER */
            $("a#aTabCountrySaver").live("click", function () {
                window.location = '/PAYM/TabCountrySaver/' + $.trim('@ViewBag._mobileno');
            });

            /* TAB LLOM */
            $("a#aTabLLOM").live("click", function () {
                window.location = '/PAYM/TabLLOM/' + $.trim('@ViewBag._mobileno');
            });



        });
    </script>
}