﻿@{
    ViewBag.Title = "TabLchargebacksuspension";
    ViewBag.UserName = "Finance";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";    
}


<style>
    .Box-1
    {
        border: 1px solid #ccc;
        padding: 15px 0 35px 20px;
    }

    .tab
    {
        width: 100%;
        overflow: hidden;
    }

        .tab ul
        {
            overflow: hidden;
            margin: 0;
        }

    #tblDDOperation_length
    {
        display: none;
    }

    #tblDDOperation
    {
        overflow: scroll;
    }

        #tblDDOperation thead tr
        {
            background: linear-gradient(to bottom, #437edc, #4b8df8);
            color: #fff;
        }

        #tblDDOperation tbody .odd, #tblDDOperation tbody .even
        {
            background: #fff;
        }

    #tblDDOperationContainer
    {
        background-position: 50% 0;
    }

    .tab ul li
    {
        float: left;
        width: 33.1%;
        line-height: 40px;
        border: 1px solid #808080;
        color: #fff;
        list-style-type: none;
        text-align: center;
        background: #fff;
        font-size: 13px;
    }

        .tab ul li a
        {
            display: block;
            cursor: pointer;
        }

    .selectedtb
    {
        background: linear-gradient(to bottom, #437edc, #4b8df8) repeat scroll 0 0 rgba(0, 0, 0, 0);
        font-weight: bold;
        color: #fff;
        font-size: 13px;
    }

        .selectedtb:hover
        {
            color: #fff;
        }

    .None
    {
        display: none;
    }

    #cityview
    {
        float: right;
        margin-top: 25px;
    }

    #chkSelectAll
    {
        display: none;
    }

    #chkSelectpro3
    {
        display: none;
    }
    /** Reportds CSS design part**/
    .csstable
    {
        border-collapse: separate;
        border-spacing: 2px;
    }

        .csstable th,
        .csstable td
        {
            border: 1px;
            padding: 6px;
        }
    /** Reportds CSS design part**/
</style>
<div id="ajax-screen-masking">
    <div id="ajax-loader"></div>
</div>
<div id="ajax-screen-masking1">
    <div id="ajax-loader1" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">
    <div id="tblDDOperationContainer" style="width: 99%">
        <div class="clear" style="clear: both"></div>

        <div class="tab" style="width: 102%">
            <ul>
                <li style="width: 32.4%"><a id="Blockload">Chargeback Suspension</a></li>
                <li style="width: 32.4%"><a id="Approveload">Approve</a></li>
                <li style="width: 32.4%"><a id="Unblockload">Suspended & Activated List</a></li>
            </ul>
        </div>

        <div id="Main_Menu_BlockMobileIccidnumber">
            <div id="tblBlockinglist">
                <div id="blockingwithiccidnumber">
                    <table>
                        <tr>
                            <td style="width: 175px; font-weight: bold">Select Product :</td>
                            <td style="width: 10px; font-weight: bold">
                                <select id="productListFinance" name="productListFinance" disabled style="margin-top: 10px; margin-bottom: 15px"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Payment Reference : </td>
                            <td colspan="2">
                                <input id="txtPayReference" type="text" value="" placeholder="Enter Payment Reference" name="txtPayReference" maxlength="50" style="width: 466px; height: 24px">
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">MSISDN : </td>
                            <td colspan="2">
                                <input id="txtMSISDN" type="text" value="" placeholder="Enter MSISDN" name="txtMSISDN" maxlength="20" style="width: 466px; height: 24px">
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Customer Name : </td>
                            <td colspan="2">
                                <input id="txtCustomerName" type="text" value="" placeholder="Enter Customer Name" name="txtCustomerName" maxlength="100" style="width: 466px; height: 24px">
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Transaction Amount : </td>
                            <td colspan="2">
                                <input id="txtTransAmount" type="text" value="" placeholder="Enter Transaction Amount" name="txtTransAmount" maxlength="5" style="width: 466px; height: 24px">
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Chargeback Fee : </td>
                            <td colspan="2">
                                <input id="txtChargebackFee" type="text" value="" placeholder="Enter Chargeback Fee" name="txtChargebackFee" maxlength="5" style="width: 466px; height: 24px">
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Transaction Date : </td>
                            <td colspan="2">
                                <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
                                    <input class="span8" id="startdate" maxlength="10" name="startdate" type="text" value="">
                                    <input type="hidden" id="lastdate1" value="">
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">
                            Reason :   
                                    <td colspan="2">
                                        <textarea rows="4" cols="50" id="txtReason" name="txtReason" placeholder="Enter Reason" maxlength="160" style="width: 466px; height: 80px;"></textarea>
                                        <br />
                                        <span id="remaining1" style="color: #001452;">NB:Text Should be Less than 160 Characters</span>
                                    </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold">Chargeback Claim Date : </td>
                            <td colspan="2">
                                <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
                                    <input class="span8" id="enddate" maxlength="10" name="enddate" type="text" value="">
                                    <input type="hidden" id="lastdate2" value="">
                                    <span class="add-on"><i class="icon-calendar"></i></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <label class="lblBlockError" id="lblBlockError" style="color: red;"></label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 10px; font-weight: bold"></td>
                            <td>
                                <button id="BtnBlock" class="btn blue" style="width: 130px; margin-left: 850px">Block</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- Un block design part start -->
        <div id="Main_Menu_UnBlockMobileIccidnumber" style="display: none">
            <br />
            <div id="ttUnBlockFilterContainer">
                <div style="width: 99%">
                    <div style="float: left; width: 75%">
                        <table border="0" style="width: 100%">
                            <tr>
                                <td style="width: 110px">
                                    <div style="font-size: 14px; font-weight: bold; margin-top: -2px">Search By:</div>
                                </td>
                                <td style="width: 220px">
                                    <div style="float: left; margin-top: 7px; margin-right: 10px">Start Date</div>
                                    <div style="float: left; margin-top: 5px;">
                                        <div class="input-append date" id="ttStartDateContainer" data-date-format="dd/mm/yyyy">
                                            <input class="span8 dateInput" id="ttStartDate" size="16" type="text" value="" style="margin-top: -10px; width: 90px">
                                            <input type="hidden" id="ttStartDateH" value="">
                                            <span class="add-on" style="margin-top: -10px"><i class="icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 220px">
                                    <div style="float: left; margin-top: 7px; margin-right: 10px">End Date</div>
                                    <div style="float: left; margin-top: 5px;">
                                        <div class="input-append date" id="ttEndDateContainer" data-date-format="dd/mm/yyyy">
                                            <input class="span8 dateInput" id="ttEndDate" size="16" type="text" value="" style="margin-top: -10px; width: 90px">
                                            <input type="hidden" id="ttEndDateH" value="">
                                            <span class="add-on" style="margin-top: -10px"><i class="icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </td>
                                <td style="width: 50px; font-weight: bold">Status :</td>
                                <td style="width: 170px;">
                                    <select id="ddlSuspendStatus" name="ddlSuspendStatus" style="margin-top: 10px; margin-bottom: 15px;width:115px;">
                                        <option value="0" selected="selected">All</option>
                                        <option value="1">Suspended</option>
                                        <option value="2">Activated</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn blue" id="btnUnBlockSearch" style="width: 100px;">Search</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="float: left; width: 25%">
                        <table style="float: right;">
                            <tr>
                                <td>Total Suspended Accounts : </td>
                                <td style="font-weight: bold" id="tdSuspendedAccounts">0</td>
                            </tr>
                            <tr>
                                <td>Total Activated Accounts : </td>
                                <td style="font-weight: bold" id="tdActivatedAccounts">0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="portlet box blue">
                <div style="height: 30px; border-bottom: 0" class="portlet-title">
                    <h4><span style="font-size: 18px; font-weight: bold">Search Reports</span></h4>
                </div>
                <div class="portlet-body">
                    <div id="btnBlockUnBlockReportsSettingContainer1" style="width: 100%; height: 10px;"></div>
                    <div id="tblBlockUnBlockReportsContainer1" style="min-height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                        <table class="table table-bordered table-hover" id="tblBlockUnBlockReports1"></table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Un block design part end -->

        <!--- Approve Design part -->
        <div id="Main_Menu_ApproveMobileIccidnumber" style="display: none">
            <br />
            <div id="ttApproveFilterContainer">
                <table border="0" style="width: 100%">
                    <tr>
                        <td style="width: 110px">
                            <div style="font-size: 14px; font-weight: bold; margin-top: -2px">Search By:</div>
                        </td>
                        <td style="width: 220px">
                            <div style="float: left; margin-top: 7px; margin-right: 10px">Start Date</div>
                            <div style="float: left; margin-top: 5px;">
                                <div class="input-append date" id="ttAStartDateContainer" data-date-format="dd/mm/yyyy">
                                    <input class="span8 dateInput" id="ttAStartDate" size="16" type="text" value="" style="margin-top: -10px; width: 90px">
                                    <input type="hidden" id="ttAStartDateH" value="">
                                    <span class="add-on" style="margin-top: -10px"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </td>
                        <td style="width: 220px">
                            <div style="float: left; margin-top: 7px; margin-right: 10px">End Date</div>
                            <div style="float: left; margin-top: 5px;">
                                <div class="input-append date" id="ttAEndDateContainer" data-date-format="dd/mm/yyyy">
                                    <input class="span8 dateInput" id="ttAEndDate" size="16" type="text" value="" style="margin-top: -10px; width: 90px">
                                    <input type="hidden" id="ttAEndDateH" value="">
                                    <span class="add-on" style="margin-top: -10px"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </td>
                        <td style="width: 100px; font-weight: bold">Status :</td>
                        <td style="width: 10px; font-weight: bold">
                            <select id="ddlStatus" name="ddlStatus" style="margin-top: 10px; margin-bottom: 15px">
                                <option value="-1" selected="selected">All</option>
                                <option value="0">Need To Approve</option>
                            </select>
                        </td>
                        <td>
                            <button class="btn blue" id="btnApproveSearch" style="width: 100px; margin-left: 25px;">Search</button>
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <div class="portlet box blue">
                <div style="height: 30px; border-bottom: 0" class="portlet-title">
                    <h4><span style="font-size: 18px; font-weight: bold">Search Reports</span></h4>
                </div>
                <div class="portlet-body">
                    <div id="btnBlockUnBlockReportsSettingContainer2" style="width: 100%; height: 10px;"></div>
                    <div id="tblBlockUnBlockReportsContainer2" style="min-height: 100px; background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                        <table class="table table-bordered table-hover" id="tblBlockUnBlockReports2"></table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Approve Design part -->

        @Html.Partial("~/Views/Shared/_PopupMessages.cshtml")
    </div>
</div>

@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.ChargebackSuspension.js"></script>
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.com.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            ActivateTopbarMenu(8);

            var startdate = convertDate01($("input#lastdate1").val());
            var enddate = convertDate01($("input#lastdate2").val());

            var MobileNo = $.trim('@ViewBag._mobileno');
            var Sitecode = $.trim('@ViewBag._sitecode');
            var date_from = convertDate01($("input#lastdate1").val());
            var date_to = convertDate01($("input#lastdate2").val());

            /* SOF GetProductList -------------------- */
            $("select#productListFinance").html("").append("<option value=0  selected>-- Select Product --</option>");
            var url = apiServer + '/api/ChargebackSuspension';
            $.getJSON(url, function (data) {
                var optionData = "";
                for (var idx in data) {
                    optionData += "<option value=" + data[idx].mundio_product + " alt=\"" + data[idx].sitecode + "\">" + data[idx].product_name + "</option>";
                }
                $("[name=productListFinance]").append(optionData).removeAttr("disabled");
                $("[name=productListFinanceUnblock]").append(optionData).removeAttr("disabled");
                $("[name=productListFinanceApprove]").append(optionData).removeAttr("disabled");
            });
            /* EOF GetProductList -------------------- */

            $('#Approveload').removeClass('selectedtb');
            $('#Unblock').removeClass('selectedtb');
            $('#Blockload').addClass('selectedtb');
        });

        /* on Click all event ---------------------------------------*/

        /** Block load **/
        $("#Blockload").live("click", function () {
            var processby = $.trim('@ViewBag.LoginName');
            if (processby != null || processby != '') {
                $("#Main_Menu_BlockMobileIccidnumber").show();
                $("#Main_Menu_UnBlockMobileIccidnumber").hide();
                $("#Main_Menu_ApproveMobileIccidnumber").hide();

                $('#Unblockload').removeClass('selectedtb');
                $('#Approveload').removeClass('selectedtb');
                $(this).addClass('selectedtb');
            }
            else {
                window.location = '/Auth/Login'
            }
        });

            /** UnBlock load **/
            $("#Unblockload").live("click", function () {
                var processby = $.trim('@ViewBag.LoginName');
                if (processby != null || processby != '') {

                    $("#Main_Menu_BlockMobileIccidnumber").hide();
                    $("#Main_Menu_UnBlockMobileIccidnumber").show();
                    $("#Main_Menu_ApproveMobileIccidnumber").hide();

                    $('#Blockload').removeClass('selectedtb');
                    $('#Approveload').removeClass('selectedtb');
                    $(this).addClass('selectedtb');

                    var date_from = convertDate01($("input#ttStartDateH").val());
                    var date_to = convertDate01($("input#ttEndDateH").val());

                    var search_flag = $("#ddlSuspendStatus").val();
                    GetRequestedChargebackForUnBlock($.trim('@ViewBag._userid'), $.trim('@ViewBag._roleid'), $.trim('@ViewBag._role_id'), 1, date_from, date_to, search_flag);

                    GetRequestedChargebackCount(date_from, date_to);
                }
                else {
                    window.location = '/Auth/Login'
                }
            });

            /** Approve load **/
            $("#Approveload").live("click", function () {
                var processby = $.trim('@ViewBag.LoginName');
                if (processby != null || processby != '') {
                    $("#Main_Menu_BlockMobileIccidnumber").hide();
                    $("#Main_Menu_UnBlockMobileIccidnumber").hide();
                    $("#Main_Menu_ApproveMobileIccidnumber").show();

                    $('#Blockload').removeClass('selectedtb');
                    $('#Unblockload').removeClass('selectedtb');
                    $(this).addClass('selectedtb');

                    var date_from = convertDate01($("input#ttAStartDateH").val());
                    var date_to = convertDate01($("input#ttAEndDateH").val());

                    GetRequestedChargeback($.trim('@ViewBag._userid'), $.trim('@ViewBag._roleid'), $.trim('@ViewBag._role_id'), $("#ddlStatus").val(), date_from, date_to);
                }
                else {
                    window.location = '/Auth/Login'
                }
            });

            $("#btnApproveSearch").live("click", function () {
                var date_from = convertDate01($("input#ttAStartDateH").val());
                var date_to = convertDate01($("input#ttAEndDateH").val());

                GetRequestedChargeback($.trim('@ViewBag._userid'), $.trim('@ViewBag._roleid'), $.trim('@ViewBag._role_id'), $("#ddlStatus").val(), date_from, date_to);
        });

        $("#btnUnBlockSearch").live("click", function () {
            var date_from = convertDate01($("input#ttStartDateH").val());
            var date_to = convertDate01($("input#ttEndDateH").val());

            var search_flag = $("#ddlSuspendStatus").val();

            GetRequestedChargebackForUnBlock($.trim('@ViewBag._userid'), $.trim('@ViewBag._roleid'), $.trim('@ViewBag._role_id'), 1, date_from, date_to, search_flag);
            });


            /** Block Submit   **/
            $("#BtnBlock").live("click", function () {
                $(".lblBlockError").html("");
                if ($('#productListFinance').val() == "0") {
                    $(".lblBlockError").html("Select Product");
                    return;
                }
                if ($("#txtPayReference").val().trim().length == 0) {
                    $(".lblBlockError").html("Enter Payment Reference");
                    return;
                }
                if ($("#txtMSISDN").val().trim().length == 0) {
                    $(".lblBlockError").html("Enter MSISDN");
                    return;
                }
                if ($.isNumeric($("#txtMSISDN").val().trim()) == false) {
                    $(".lblBlockError").html("Enter Valid MSISDN");
                    return;
                }
                if ($("#txtCustomerName").val().trim().length == 0) {
                    $(".lblBlockError").html("Enter Customer Name");
                    return;
                }
                if ($("#txtTransAmount").val().trim().length == 0) {
                    $(".lblBlockError").html("Enter Transaction Amount");
                    return;
                }
                if ($.isNumeric($("#txtTransAmount").val().trim()) == false) {
                    $(".lblBlockError").html("Enter Valid Transaction Amount");
                    return;
                }
                if ($("#txtChargebackFee").val().trim().length == 0) {
                    $(".lblBlockError").html("Enter Chargeback Fee");
                    return;
                }
                if ($.isNumeric($("#txtChargebackFee").val().trim()) == false) {
                    $(".lblBlockError").html("Enter Valid Chargeback Fee");
                    return;
                }
                if ($("#txtReason").val().trim().length == 0) {
                    $(".lblBlockError").html("Enter Reason");
                    return;
                }
                if (confirm('Are you sure want to Block this customer?')) {
                    var processby = $.trim('@ViewBag.LoginName');

                    var Product = $('#productListFinance').val();
                    var SiteCode = $('#productListFinance').find('option:selected').attr("alt");
                    var pay_reference = $("#txtPayReference").val().trim();
                    var mobileno = $("#txtMSISDN").val().trim();
                    var reason = $("#txtReason").val().trim();
                    var req_type = 1/** Block Mode**/;
                    var FK_REQ_USERID = $.trim('@ViewBag._userid');
                    var transaction_date = convertDate01($("input#lastdate1").val());
                    var chargeback_claim_date = convertDate01($("input#lastdate2").val());
                    var customer_name = $("#txtCustomerName").val().trim();
                    var trans_amount = $("#txtTransAmount").val().trim();
                    var chargeback_fee = $("#txtChargebackFee").val().trim();
                    DoInsertChargebackTransaction(Product, SiteCode, pay_reference, transaction_date, mobileno, reason, chargeback_claim_date, processby, 1, req_type, customer_name, trans_amount, chargeback_fee);
                }
            });

            /** UnBlock Submit   **/
            $(".btnUnBlock").live("click", function () {
                if (confirm('Are you sure want to Unblock this customer?')) {
                    var loginuser_id = $.trim('@ViewBag._userid');
                    var role_id = $.trim('@ViewBag._role_id');
                    var processby = $.trim('@ViewBag.LoginName');
                    var pay_reference = $(this).attr("ctlValue");
                    var mobileno = $(this).attr("ctlValue2");
                    DoUnblockRequest(loginuser_id, role_id, pay_reference, mobileno, $.trim('@ViewBag._roleid'));
                }
            });

            //Approve
            $(".btnApprove").live("click", function () {
                if (confirm('Are you sure want to Approve this request?')) {
                    var loginuser_id = $.trim('@ViewBag._userid');
                    var role_id = $.trim('@ViewBag._role_id');
                    var pay_reference = $(this).attr("ctlValue");
                    var mobileno = $(this).attr("ctlValue2");
                    var req_type = $(this).attr("ctlValue3");
                    var sitecode = $(this).attr("ctlValue4");
                    var loginuser_name = $.trim('@ViewBag.LoginName');
                    DoApproveRequestedChargeback(loginuser_id, role_id, sitecode, pay_reference, mobileno, req_type, loginuser_name, $.trim('@ViewBag._roleid'))
                }
            });

    </script>
}
