﻿@model IEnumerable<CRM_API.Models.ManualMarkingPage>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ref1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.returnCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.returnDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.originalProcessingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valueOf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ref4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sortCode6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bankName7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.branchName8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numberOf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valueOf9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currency10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveTab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sitecode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ErrMsg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.errcode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ref1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.returnCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.returnDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.originalProcessingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valueOf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ref4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sortCode6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bankName7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.branchName8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numberOf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valueOf9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currency10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveTab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sitecode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ErrMsg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.errcode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
