﻿@model CRM_API.Models.CustomerSearchPage

@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Search Customer";
}

<div class="row-fluid">
    @*<div class="span12"><h2>@ViewBag.Title</h2></div>*@
    <div class="span12">
        <div style="font-size: 25px; background-color: #fff; color: #437edd; padding: 10px; margin-left: 1px; width: auto; border: 1px solid #b4cef8; border-left: 3px solid #4b8df8; border-bottom: 0">@ViewBag.Title</div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4><span style="font-size: 18px; font-weight: bold">Filter Customer Search</span></h4>
                <div class="tools">
                    <a href="#" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body" id="fcsContainer" style="height: 66px;">
                <table id="tblSearchBy" class=" table table-bordered" style="width: 100%; background-color: #f5f5f5">
                    <tr>
                        <td>Search By : </td>
                        <td>

                            @Html.DropDownListFor(m => m.SearchBy, CRM3.WebApp.Helpers.Collection.CustomerSearchOptions())
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.SearchText, new { placeholder = "input here" })

                            <div id="hint" style="z-index: 500; position: absolute">
                                <div class="arrow-up"></div>
                                <span id="hintext"></span>&emsp;&nbsp;
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            </div>
                        </td>
                        <td style="text-align: center">
                            <button id="btnSearch" class="btn blue" style="width: 80px">GO</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="row-fluid" id="customerContainer" style="display: none;">
    @*<div class="span2">&nbsp;</div>*@
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <h4><span style="font-size: 18px; font-weight: bold">Customers</span></h4>
                <div class="tools">
                    <a href="#" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body" id="customerContainerBody" style="background: #ffffff url('/Assets/Main/img/ajaxloader-02.gif') center center no-repeat;">
                <table class="table table-bordered" id="tblCustomerResult"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Assets/Main/js/swid-customersearch.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSearch").click(function () {
                var productCode = '@ViewBag._productcode';
                var searchBy = $("select[name=SearchBy] option:selected").val();
                var searchText = $.trim($("input[name=SearchText]").val());
                $("#customerContainerBody").html("").append("<table class=\"table table-bordered\" id=\"tblCustomerResult\"></table>");
                $("#customerContainerBody").css({ "min-height": "100px", "background-image": "url('/Assets/Main/img/ajaxloader-02.gif')" });
                var url = apiServer + '/api/customersearch';
                jQuery.support.cors = true;
                var JSONSendData = {
                    Product_Code: productCode,
                    SearchBy: searchBy,
                    SearchText: searchText,
                    Search_Type: 1
                };
                $.ajax
                ({
                    url: url,
                    type: 'post',
                    data: JSON.stringify(JSONSendData),
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    beforeSend: function () {
                        $("#customerContainer").show();
                    },
                    success: function (feedback) {
                        $("#customerContainerBody").css({ "background-image": "none" });
                        $('#tblCustomerResult').dataTable({
                            bDestroy: true,
                            bRetrieve: true,
                            aaData: feedback,
                            bPaginate: true,
                            bFilter: false,
                            bInfo: false,
                            iDisplayLength: 10,
                            aaSorting: [[0, "asc"]],
                            oLanguage: {
                                "sInfoEmpty": '',
                                "sEmptyTable": "No customer found."
                            },
                            aoColumns: [
                                {
                                    mDataProp: "MobileNo", sTitle: "Mobile Number",
                                    fnRender: function (ob) {
                                        return ob.aData.MobileNo;
                                    }
                                },
                                {
                                    mDataProp: "FirstName", sTitle: "Full Name",
                                    fnRender: function (ob) {
                                        var fullname = "";
                                        if (ob.aData.FirstName != null) {
                                            fullname += ob.aData.FirstName + " ";
                                        }
                                        if (ob.aData.LastName != null) {
                                            fullname += ob.aData.LastName;
                                        }

                                        return fullname;
                                    }
                                },
                                { mDataProp: "Email", sTitle: "Email" },
                                { mDataProp: "ICCID", sTitle: "ICCID" },
                                { mDataProp: "SerialNumber", sTitle: "Serial Number" },
                                {
                                    mDataProp: "postcode", sTitle: "Action",
                                    fnRender: function (ob) {
                                        var actionURL = "";
                                        actionURL = "<button class=\"btn blue btnSelectCustomer\" alt=\"" + ob.aData.MobileNo + "|" + productCode + "\">Select Customer</button>";
                                        return actionURL;
                                    }
                                },
                            ],
                            fnDrawCallback: function (ob) {
                                $("table#tblCustomerResult thead tr th").eq(5).css({ "width": "170px", "text-align": "center" });
                            }
                        });

                        $("#tblCustomerResult_wrapper .row-fluid:eq(0)").remove();
                        $("#tblCustomerResult_wrapper .row-fluid .span6:eq(0)").remove();
                        $("#tblCustomerResult_wrapper .row-fluid .span6").addClass("span12").removeClass("span6");
                    }
                });
            });
        });
    </script>
}