﻿@model CRM_API.Models.PMBOPageModel
@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "DD Gocardless Pay Monthly Submitted.";
}
<style type="text/css">
     #tblDDgoSubmit_length
    {
        display: none;
    }
</style>
<div id="ajax-screen-masking"><div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div></div>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    <a id="aTabDDOperations" href="/PMBO/TabDDOperation" class="btn lightblue">DD Operations</a>
                    <a id="aTabPaywayfiles" href="/PMBO/TabPaywayfiles" class="btn lightblue">Pay Way Files</a>
                    <a id="aTabManualMarking" href="/PMBO/TabUploadNUpdateFailures" class="btn lightblue">Manual Marking</a>
                    <a id="aTabgoSubmit" href="/PMBO/TabDDgoSubmit" class="btn white">DD - GoCardless</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                         <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
                                <li id="litab0" ><a id="aTabDDgoSubmit" href="/PMBO/TabDDgoSubmit">DD Submit</a></li>
                                <li id="litab1" class="active"><a id="aTabDDgoReceive" href="/PMBO/TabDDgoReceive">DD Received</a></li>
                                <li id="litab2"><a id="aTabDDgoReject" href="/PMBO/TabDDgoReject">DD Reject / Cancel</a></li>
                            </ul>
                            <!--END TABS-->
                        </div>

                        <div id="tblDDgoSuccessContainer" style="width: auto;">
                            <div id="ajax-screen-masking2" style="background: rgba(255, 255, 255, 0.4);">
                                <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
                            </div>
                            <table id="tblDDgoSuccess"></table>
                            
                        </div>
                         <div style="float: left;">
                                <button id="btnDownload" class="btn blue btn-add-profiles" style="float: right; margin: 15px 0">Download</button>&nbsp; &nbsp;
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsTab {
     <script type="text/javascript" src="~/Assets/Main/js/crm.engine.PMBO.PayAway.js"></script>
     <script type="text/javascript" src="~/Assets/Main/js/crm.engine.marketing.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(8);
            var SiteCode = $("input[name=gProductCode]").val();
            ViewDDgoScuccess(SiteCode);
        });
        $("#btnDownload").live("click", function () {
            var SiteCode = $("input[name=gProductCode]").val();
            DownloadgocardDDDtls("2", SiteCode);
        });
    </script>
}