﻿@model CRM_API.Models.PMBOPageModel
@{
    ViewBag.UserName = "PMBO";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "PMBO - Pay Monthly.";
}
<link type="text/css" rel="stylesheet" href="~/Assets/Main/css/crm.PMBO.DDoperations.css" />
<style type="text/css">
    .sorting_disabled {
        width: 13px !important;
    }

    .table .dataTables_empty {
        width: 500px !important;
    }
</style>

<div id="ajax-screen-masking">
    <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
</div>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    <a id="aTabDDOperations" href="/PMBO/TabDDOperation" class="btn white">DD Operations</a>
                    <a id="aTabPaywayfiles" href="/PMBO/TabPaywayfiles" class="btn lightblue">Pay Way Files</a>
                    <a id="aTabManualMarking" href="/PMBO/TabUploadNUpdateFailures" class="btn lightblue">Manual Marking</a>
                    <a id="aTabgoSubmit" href="/PMBO/TabDDgoSubmit" class="btn lightblue">DD - GoCardless</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div style="padding-bottom: 10px; padding-top: 10px; font-weight: bold;">Search Filter</div>
                        <table class="table table-bordered" style="width: 100%; background-color: #f5f5f5">
                            <tr>
                                <td>DD operation</td>
                                <td>
                                    <!--This the DDOperationd Select-->
                                    <select id="ddlDDoperation" style="width: 300px">
                                        <option value="1">Generate file for new Instructions Action</option>
                                        <option value="3">Generate file for Collections</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Date (dd/mm/yyyy)</td>
                                <td><span class="ADJ">From Date</span>
                                    <div class="input-append date" id="dp1" data-date-format="dd/mm/yyyy">
                                        <input class="span8" id="startdate" size="23" type="text" value="" maxlength="10">
                                        <input type="hidden" id="lastdate1" value="">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                    <span class="ADJ">To Date</span>
                                    <div class="input-append date" id="dp2" data-date-format="dd/mm/yyyy">
                                        <input class="span8" id="enddate" size="23" type="text" value="" maxlength="10">
                                        <input type="hidden" id="lastdate2" value="">
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                    <span class="ADJ-Optional">(optional)</span>
                                </td>
                            </tr>
                            <tr>
                                <td>CC Transaction ID </td>
                                <td>
                                    <input type="text" id="txtCCTransactionID" maxlength="20" />
                                    (optional)</td>
                            </tr>
                            <tr>
                                <td>Subscriber ID </td>
                                <td>
                                    <input type="text" id="txtSubscriberID" maxlength="15" />
                                    (optional)</td>
                            </tr>
                            <tr>
                                <td>Sort Code </td>
                                <td>
                                    <input type="text" id="txtSortCode" maxlength="8" />
                                    (optional)</td>
                            </tr>
                            <tr>
                                <td>Account Number </td>
                                <td>
                                    <input type="text" id="txtAccountNumber" maxlength="10" />
                                    (optional)</td>
                            </tr>
                        </table>
                        <div id="NewInstructions">
                            <div style="padding-top: 20px;">
                                <input type="button" id="btnSearch" value="Search" class="btn blue" />
                            </div>
                            <div id="tblDDOperationContainer" style="width: auto; height: 350px">
                                <table id="tblDDOperation"></table>
                            </div>
                        </div>
                    </div>
                    <div style="padding-top: 20px;">
                        <table class="table table-bordered" style="width: 100%; background-color: #f5f5f5">
                            <tr>
                                <td>Note For This Operation</td>
                                <td>
                                    <textarea id="txtCommands" rows="4" cols="50" style="resize: none; height: 70px; width: 690px;">
                                    </textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align: right">
                                    <input type="button" id="btnSubmitOperations" class="btn blue" value="Submit Operations" />
                                    <input type="button" id="btnClear" class="btn blue" value="Clear" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="FileGenrated" class="popup-message modal hide border-blue" style="width: 200px;">
    <div class="modal-header background-blue">
        Creating file.
    </div>
    <div id="filesName" class="modal-body">
        File Is Generated sucessfully.
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" id="btnODBack" style="width: 100px; float: left;">Back</button>
    </div>
</div>

<div id="Noselection" class="popup-message modal hide border-blue" style="width: 200px;">
    <div class="modal-header background-blue">
        General Info.
    </div>
    <div class="modal-body">
        Select Any of check box.
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" id="btnODBacks" style="width: 100px; float: left;">Back</button>
    </div>
</div>

<div id="SetupInProgressMsg" class="popup-message modal hide border-blue" style="width: 200px;">
    <div class="modal-header background-blue">
        Creating file.
    </div>
    <div id="SetupInProgressTitle" class="modal-body">
        File Is Generated sucessfully.
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" id="btnODOK" style="width: 100px; float: left;">Ok</button>
    </div>
</div>
@section ScriptsTab {
    <script type="text/javascript" src="~/Assets/Main/js/crm.engine.PMBO.DDoperations.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var date = new Date();
            var first_day = new Date(date.getFullYear(), date.getMonth(), 1);
            var last_day = new Date(date.getFullYear(), date.getMonth() + 1, 0);
            $('#FileGenrated').hide();
            $('#select').hide();
            $('#txtCommands').val('');
            ActivateTopbarMenu(8);
            $('#ddlDDoperation').change(function () {
                if ($('#ddlDDoperation').val() == '1') {
                    $("#startdate").val('');
                    $("#enddate").val('');
                    $("#NewInstructions").css("display", "block");
                    $('#txtAccountNumber').prop("disabled", false);
                    $('#startdate').prop("disabled", false);
                    $("#enddate").prop("disabled", false);
                    $("#txtCCTransactionID").prop("disabled", false);
                    $("#txtSubscriberID").prop("disabled", false);
                    $("#txtSortCode").prop("disabled", false);
                }
                else {
                    var dd = ""; var mm = "";
                    var dd1 = ""; var mm1 = "";
                    if (first_day.getDate() < 10) { dd = '0' + first_day.getDate(); }
                    else { dd = first_day.getDate(); }
                    if (first_day.getMonth() < 10) { mm = '0' + (first_day.getMonth() + 1); }
                    else { mm = first_day.getMonth(); }
                    if (last_day.getDate() < 10) { dd1 = '0' + last_day.getDate(); }
                    else { dd1 = last_day.getDate(); }
                    if (last_day.getMonth() < 10) { mm1 = '0' + (last_day.getMonth() + 1); }
                    else { mm1 = last_day.getDate(); }
                    fromdate = $.trim(dd + '/' + mm + '/' + first_day.getFullYear());
                    todate = $.trim(dd1 + '/' + mm1 + '/' + last_day.getFullYear());
                    $("#startdate").val(fromdate);
                    $("#enddate").val(todate);
                    $("#NewInstructions").css("display", "none");
                    $('#txtAccountNumber').prop("disabled", true);
                    $('#startdate').prop("disabled", true);
                    $("#enddate").prop("disabled", true);
                    $("#txtCCTransactionID").prop("disabled", true);
                    $("#txtSubscriberID").prop("disabled", true);
                    $("#txtSortCode").prop("disabled", true);
                }
            });
            //Search Function
            $('#btnSearch').click(function () {
                var DDoperation = $.trim($('#ddlDDoperation').val());
                var fromdate = $.trim($('#startdate').val());
                var todate = $.trim($('#enddate').val());
                var tranID = $.trim($('#txtCCTransactionID').val());
                var subID = $.trim($('#txtSubscriberID').val());
                var sorcode = $.trim($('#txtSortCode').val());
                var accountNo = $.trim($('#txtAccountNumber').val());
                var SiteCode = $("input[name=gProductCode]").val();

                if (DDoperation == '1') {
                    ViewDDStepUpProcess(DDoperation, fromdate, todate, tranID, subID, sorcode, accountNo, SiteCode);
                }
                else {
                    $('#tblDDOperation').html('');
                }
            });
            //Submit Operations.
            $('#btnSubmitOperations').click(function () {
                var DDoperation = $.trim($('#ddlDDoperation').val());
                var fromdate = $.trim($('#startdate').val());
                var todate = $.trim($('#enddate').val());
                var tranID = $.trim($('#txtCCTransactionID').val());
                var subID = $.trim($('#txtSubscriberID').val());
                var sorcode = $.trim($('#txtSortCode').val());
                var accountNo = $.trim($('#txtAccountNumber').val());
                var commands = $('#txtCommands').val();
                var aStatus = false;

                var checked = $('#chkSelectAll').prop('checked');
                if (checked) { aStatus = true; }
                else {
                    $('.value').each(function (index, value) {
                        if ($(this).prop('checked')) {
                            aStatus = true;
                        }
                    });
                }
                if (aStatus) {
                    var count = 0;
                    var subsId = "";
                    var CustId_AccNo_SortCode = "";
                    if (DDoperation == '1') {
                        var rows = $("#tblDDOperation").dataTable().fnGetNodes();
                        for (var i = 0; i < rows.length; i++) {
                            if ($('#chkChild_' + (i + 1)).prop('checked')) {
                                count = count + 1;
                                subsId = subsId + $(rows[i]).find('td:eq(1)').html() + ',';
                                //Added By Barani
                                CustId_AccNo_SortCode += $(rows[i]).find('td:eq(2)').html() + '-' + $(rows[i]).find('td:eq(7)').html() + '-' + $(rows[i]).find('td:eq(6)').html() + ',';
                            }
                        }
                        if (subsId == "") {
                            alert("There is no New Records to download!");
                            return;
                        }
                        CustId_AccNo_SortCode = CustId_AccNo_SortCode.substring(0, CustId_AccNo_SortCode.length - 1);
                        //DownloadDDNew(count, subsId, commands, CustId_AccNo_SortCode);
                        PayAwayDD(count, subsId, commands, CustId_AccNo_SortCode);
                    }
                }
                else {

                    //if (subID == "") {
                    //    alert("There is no New Records to download!");
                    //    return;
                    //}

                    if (DDoperation != '3') {
                        $('#FileGenrated').hide();
                        $('#Noselection').show();
                        $('#Noselection').modal({ keyboard: false, backdrop: 'static' }).css({
                            'margin-left': function () {
                                return window.pageXOffset - ($(this).width() / 2);
                            }
                        });
                    }
                    else {
                        DownloadDDcollection(commands);
                    }
                }
            });
            //CCTransaction Keypress values
            $('#txtCCTransactionID').keyup(function () {
                alphaNumber($('#txtCCTransactionID'));
            });
            //Subscriber Keypress values
            $('#txtSubscriberID').keyup(function () {
                Number($('#txtSubscriberID'));
            });
            //Sort Code Keypress values
            $('#txtSortCode').keyup(function () {
                SortCode($('#txtSortCode'));
            });
            //Datetime 
            $('#startdate').keyup(function () {
                DateTimeValues($('#startdate'));
            });
            $('#enddate').keyup(function () {
                DateTimeValues($('#enddate'));
            });
        });
    </script>
}