﻿@model CRM_API.Models.PMBOPageModel
@{
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "PMBO - Pay Monthly.";
}
<style type="text/css">
     #tblDDOperation_length
    {
        display: none;
    }
</style>
<div id="ajax-screen-masking"><div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div></div>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    <a id="aTabDDOperations" href="/PMBO/TabDDOperation" class="btn lightblue">DD Operations</a>
                    <a id="aTabPaywayfiles" href="/PMBO/TabPaywayfiles" class="btn white">Pay Way Files</a>
                    <a id="aTabManualMarking" href="/PMBO/TabUploadNUpdateFailures" class="btn lightblue">Manual Marking</a>
                    <a id="aTabgoSubmit" href="/PMBO/TabDDgoSubmit" class="btn lightblue">DD - GoCardless</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div id="tblDDOperationContainer" style="width: auto;">
                            <div id="ajax-screen-masking2" style="background: rgba(255, 255, 255, 0.4);">
                                <div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div>
                            </div>
                            <table id="tblDDOperation"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section ScriptsTab {
     <script type="text/javascript" src="~/Assets/Main/js/crm.engine.PMBO.PayAway.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(8);
            var SiteCode = $("input[name=gProductCode]").val();
            ViewDDStepUpProcess(SiteCode);
        });
    </script>
}