﻿@model CRM_API.Models.PMBOPageModel
@{
    ViewBag.UserName = "PMBO";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "PMBO - Pay Monthly.";
}
<div class="row-fluid">
    <div class="span12">
         @using (Html.BeginForm("UploadExcelSheet", "PMBO", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <label style="float: left; width: 130px;">Select File to Upload  </label>
                                        <input style="width: 140px;" type="text" id="txtXLSFilename" /> 
                                        <input type="file" id="fileToUpload" name="file" style="width: 83px;" onchange="TakeThePathOfFile()" />
                                        <button class="btn blue" type="submit" id="btn-submit" style="width: 130px;">Upload</button>        
                                    }

                                   

         <div id="tblDDOperationContainer">
        <table id="tblDDOperation"></table>
    </div>
        </div>
    </div>

@section ScriptsTab {
    <script src="~/Assets/Main/js/testFirst.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var list = "12";
            ActivateTopbarMenu(8);
            var SiteCode = $("input[name=gProductCode]").val();
            ViewOperator(list, SiteCode);
        });
    </script>

}
@*@model CRM_API.Models.PMBOPageModel
@{
      ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
        CRM_API.Helpers.Session.CurrentUser.user_login :
        string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "PMBO - Pay Monthly.";
}
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    <a id="aTabDDOperations" href="/PMBO/TabDDOperation" class="btn lightblue">DD Operations</a>
                    <a id="aTabPaywayfiles" href="/PMBO/TabPaywayfiles" class="btn lightblue">Pay Way Files</a>
                    <a id="aTabManualMarking" href="/PMBO/TabUploadNUpdateFailures" class="btn white">Manual Marking</a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
                                <li id="litab0"><a id="aTabFailureTransaction" href="#">Failure Transaction</a></li>
                                <li id="litab1"><a id="aTabSearchCustomer" href="#">Search Customer</a></li>
                            </ul>
                            <!-- End Header Tabs -->
                            <div class="tab-content">
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section ScriptsTab {
    <script type="text/javascript">
        $(document).ready(function () {
            ActivateTopbarMenu(8);
        });
    </script>
}*@