﻿@model CRM_API.Models.PMBOPageModel
@{
    //   ViewBag.UserName = "PMBO";
    ViewBag.UserName = string.IsNullOrEmpty(CRM_API.Helpers.Session.CurrentUser.first_name) ?
    CRM_API.Helpers.Session.CurrentUser.user_login :
    string.Format("{0} {1}", CRM_API.Helpers.Session.CurrentUser.first_name, CRM_API.Helpers.Session.CurrentUser.last_name);
    
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "View and Process Failures.";
}
<!--<link type="text/css" href="~/Assets/Main/css/crm.PMBO.ViewNProcessFailure.css" rel="stylesheet" />-->
<style type="text/css">
    /*.sorting_disabled
    {
        width: 13px !important;
    }

    .table .dataTables_empty
    {
        width: 500px !important;
    }*/

    /*#tblDDOperation tbody
    {
        height: 300px;
        scrollbar-3dlight-color:blueviolet;
        overflow-y: scroll;
        position: absolute;
        width: auto;
        border:medium;
    }*/
.table .dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

</style>
<div class="row-fluid">
    <div class="span12">
        <div class="portlet box blue">
            <div class="portlet-title" style="height: 30px; border-bottom: 0">
                <div style="float: left; margin-top: 4px" id="detailHeaderButtons">
                    <a id="aTabDDOperations" href="/PMBO/TabDDOperation" class="btn lightblue">DD Operations</a>
                    <a id="aTabPaywayfiles" href="/PMBO/TabPaywayfiles" class="btn lightblue">Pay Way Files</a>
                    <a id="aTabManualMarking" href="/PMBO/TabUploadNUpdateFailures" class="btn white">Manual Marking</a>
                    <a id="aTabgoSubmit" href="/PMBO/TabDDgoSubmit" class="btn lightblue">DD - GoCardless</a>
                    
                </div>
            </div>
            <div class="portlet-body">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="tabbable tabbable-custom">
                            <!-- Header Tabs -->
                            <ul class="ultab nav nav-tabs">
                                <li id="litab0" ><a id="aTabUploadNUpdateFailures" href="/PMBO/TabUploadNUpdateFailures">Upload & Update Failures</a></li>
                                <li id="litab1" class="active"><a id="aTabViewNProcessFailures" href="/PMBO/TabViewNProcessFailures">View & Process Failure</a></li>
                            </ul>
                            <div class="tab-content">
                                    <div id="tab_1_0" >
    
                                </div>
           
                                <div id="tab_1_1" class="tab-pane active">

                        <table class="table table-bordered" style="width: 100%; background-color: aliceblue">
                            <tr><td><h3>Select Filters</h3></td>
                                <td>
                                    <table class="table table-bordered" style="width: 100%; background-color: aliceblue ">
                                    <tr><td><h4>Year</h4></td> <td>
                                          <select id="ddYear" class="multiselect" name="Year" style="width:232px"  multiple="multiple"></select>   
                                    </td><td><h4>Month</h4></td> <td>
                                        <select id="ddMonth" class="multiselect" name="Month" style="width:80px"  multiple="multiple"></select>
                                    </td></tr>
                                    <tr><td><h4>DD Status</h4></td> <td>
                                    <select id="ddStatus"  class="multiselect" name="Year" style="width:140px"  multiple="multiple" > 
                                        <option value="3" >3 - Active</option>
                                        <option value="4" >4 - Cancelled</option>
                                    </select>
                                    </td><td><h4>Customer ID</h4></td> <td>
                                    <input type ="text" id ="txtCustomerId" />
                                    </td></tr>
                                    <tr><td><h4>Payment Status</h4></td> <td>
                                    <select id="PaymtStatus"  class="multiselect" name="Year" style="width:180px"  multiple="multiple">
                                        <option value="0" >0 - Payment Failed</option>
                                        <option value="1" >1 - Payment Successful</option>
                                        <option value="2" >2 - Payment Processed</option>
                                        <option value="3" >3 - Payment Declined</option>
                                        <option value="4" >4 - Payment Queued</option>
                                    </select>
                                    </td><td><h4>Mobile No</h4></td> <td>
                                    <input type ="text" id ="txtMobileNo" />
                                    </td></tr>
                                    <tr><td><h4>Connection Status</h4></td> <td>
                                    <select id="ConnStatus" class="multiselect" name="Year" style="width:180px"  multiple="multiple" >
                                        <option value="0" >0 - Active</option>
                                        <option value="2" >2 - Change Plan </option>
                                        <option value="3" >3 - Suspended</option>
                                        <option value="4" >4 - Unsubscribe </option>
                                        <option value="11" >11 - Closed </option>
                                        <option value="12" >12 - Closing </option>
                                        <option value="13" >13 - Excess blocked </option>
                                        <option value="14" >14 - Not dispatched </option>
                                        <option value="15" >15 - Unknown </option>
                                    </select>
                                    </td><td><h4>Payment Ref </h4></td> <td>
                                    <input type ="text" id ="txtPaymtRef" />
                                    </td></tr>
                                    <tr><td><h4>Payment Mode</h4></td> <td>
                                    <select id="PayMode" class="multiselect" name="ddPayMode" style="width:180px"  multiple="multiple" >
                                          <option value="Double Deductions" >Double Deductions</option>
                                          <option value="Mundio" >Mundio</option>
                                          <option value="PMSubscription" >PMSubscription</option>
                                          <option value="PPTools" >PPTools</option>
                                          <option value="VTBillG" >VTBillG</option>
                                          <option value="Web" >Web</option>
                                          <option value="CRM3PAYMConsole" >Process Payment CC</option>
                                    </select>
                                    </td><td><h4>       </h4></td> <td><h4>       </h4></td> </tr>

                                    </table>
                                </td>
                            <td><button class="btn blue" type="button" id="btnSearch" style="float:left; width:170px;" >Search</button></td></tr>
                        </table>

                                    <!-- <div id="tblDDOperationContainer" style="overflow:scroll; min-height: 100px; background-image: none; display: block;">-->

                                   <div id="tblDDOperationContainer" style="width: 1265px; height: 100px">

                                    <div id ="lblRows"></div>   
                                    <table id="tblDDOperation"></table>
                                </div>
                            <div id="ajax-screen-masking"><div id="ajax-loader" style="background: url('/Assets/Main/img/ajaxloader-00.gif') 0 0 no-repeat;"></div></div>
                                    <br />

                            </div>
                                    <div id="ddButtonGrps">
                                    <button class="btn blue" type="button" id="btn-Download" style="width:180px;">Download</button>        
                                    <button class="btn blue" type="button" id="btn-SuspendService" style="width: 180px;">Suspend Service</button>        
                                    <button class="btn blue" type="button" id="btn-ProcessPaymentCC" style="width: 180px;">Process Payment-CC</button>  
                                    <button class="btn blue" type="button" id="btn-ActivateService" style="width: 180px;">Activate Service</button>  
                                    </div>
                        </div>

                        <!--END TABS-->
                    </div>
                </div>
            </div>
        </div>
       
    </div>

   
    </div>
</div>

<!-- Modal Pop-ups  -->
<div id="FileGenrated" class="popup-message modal hide border-blue" style="width: 200px;">
    <div class="modal-header background-blue">
       View and Process Failures
    </div>
    <div id="filesName" class="modal-body">
        
    </div>
    <div class="modal-footer">
        <button data-dismiss="modal" class="btn darkgrey" id="btnODBack" style="width: 100px; float: left;">Back</button>
    </div>
</div>

@section ScriptsTab {
        <script type="text/javascript" src="~/Assets/Multiselect/js/bootstrap-multiselect.js"></script>
    <script src="~/Assets/Main/js/TabViewNProcessFailures.js"></script>

    <!-- Initialize the plugin: -->


    <script type="text/javascript">
        var valddYear = null;
        var valddMonth = null;
        var valddStatus = null;
        var valCustomerId = null;
        var valPaymtStatus = null;
        var valMobileNo = null;
        var valConnStatus = null;
        var valPaymentRef = null;
        var valPayMode = null;
        var ddYearSelVal = '';
        var ddMonthSelVal = '';
        var ddStatusSelVal = '';
        var ddPaymtStatusSelVal = '';
        var ddConnectionStatusSelVal = '';
        var ddPayModeVal = '';
        var DownloadAll = 'N';

        $(document).ready(function () {
            ActivateTopbarMenu(8);
            PopulateDDYearMonth(2008, new Date().getFullYear());
           // PopulatePaymentMode();
            $('#ddButtonGrps').css('display', 'none');
            // $("#tblDDOperationContainer").hide();
            $('#lblRows').css('display', 'none');

        });

        $('#btnSearch').click(function () {
            var ajaxSpinnerTop = $(window).outerHeight() / 2;
            $("#ajax-loader").css({ "margin-top": ajaxSpinnerTop + "px" });
            $("#ajax-screen-masking").css({ "height": $(document).outerHeight() + "px" });
            $('#tblDDOperationContainer').css({ "height": "400px" });

            PrepareDataForGrid();

            //$("#ajax-screen-masking").show();
            var SiteCode = $("input[name=gProductCode]").val();
            FetchData(valddYear, valddMonth, valddStatus, valCustomerId, valPaymtStatus, valMobileNo, valConnStatus, valPaymentRef, valPayMode, SiteCode);
            //$("#ajax-screen-masking").hide();
        });

        $('#btn-Download').click(function () {

            //ImportExcel('tblDDOperationContainer');
            //window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('#tblDDOperation').html()));
            //e.preventDefault();
            //window.open('data:application/vnd.ms-excel,' + $('#tblDDOperation').html());
             //e.preventDefault();
            PrepareDataForGrid();
            if (DownloadAll != 'Y') {
                var rows = $("#tblDDOperation").dataTable().fnGetNodes();
                var checkedRowCnt = 0, UncheckedRowCnt = 0;
                //var custId = "";
                var PaymtRef = '', UCPaymtRef = '';
                //alert(rows.length);
                for (var i = 0; i < rows.length; i++) {
                    if ($('#chkChild_' + (i + 1)).prop('checked')) {
                        //for (var j = 1; j <= 12 ; j++) {
                        //    custId = custId + $(rows[i]).find('td:eq(' + j + ')').html() + ',';
                        //}
                        PaymtRef += $(rows[i]).find('td:eq(6)').html() + ',';
                        checkedRowCnt++;
                        //custId = custId.toString().substring(0, custId.length - 1);
                        //custId += '\r\n'; //Carriage return and new line
                    }
                    else {
                        UncheckedRowCnt++;
                        UCPaymtRef += $(rows[i]).find('td:eq(6)').html() + ',';
                    }
                }
                // alert(GetCustomerIdsFromGrid());
                // alert(GetMobileNosFromGrid());
                //alert(custId);

                //PrepareDataForGrid();
                //if (custId != "" || custId != null)
                if (PaymtRef != "") {
                    PaymtRef = PaymtRef.toString().substring(0, PaymtRef.length - 1);

                    var SiteCode = $("input[name=gProductCode]").val();
                    DownloadDDFromFilterData(valddYear, valddMonth, valddStatus, valCustomerId, valPaymtStatus, valMobileNo, valConnStatus, /*valPaymentRef*/ PaymtRef, valPayMode, DownloadAll, SiteCode);
                }
                else
                    alert("No Data is checked to be downloaded");
            }
            else {
                var SiteCode = $("input[name=gProductCode]").val();
                DownloadDDFromFilterData(valddYear, valddMonth, valddStatus, valCustomerId, valPaymtStatus, valMobileNo, valConnStatus, valPaymentRef, valPayMode, DownloadAll,SiteCode);
            }

        });

        $('#btn-SuspendService').click(function () {
            //SuspendService('@ViewBag.UserName', GetCustomerIdsFromGrid());
            //Modified by BSK for Improvement : Jira CRMT-141
            
            var SiteCode = $("input[name=gProductCode]").val();
            alert(SiteCode);
            SuspendServiceNew('@ViewBag.UserName', GetCustomerIdsFromGrid(), SiteCode);

        });
        $('#btn-ProcessPaymentCC').click(function () {
            // ProcessPaymentCC('@ViewBag.UserName', GetCustomerIdsFromGrid());
            // ProcessPaymentCC(GetCustomerIdsFromGrid());
            var SiteCode = $("input[name=gProductCode]").val();
            ProcessPaymentCC(GetPayRefsFromGrid(), SiteCode);
            
        });
        $('#btn-ActivateService').click(function () {
            //ActivateService('@ViewBag.UserName', GetCustomerIdsFromGrid());
            //Modified by BSK for Improvement : Jira CRMT-141
            var SiteCode = $("input[name=gProductCode]").val();
            ActivateServiceNew('@ViewBag.UserName', GetCustomerIdsFromGrid(), SiteCode);
        });

        function PopulateDDYearMonth(StartYear, MaxYear) {
            option = "";
            for (var year1 = StartYear; year1 <= MaxYear; year1++) {
                option += '<option value="' + year1.toString() + '">' + year1.toString() + '</option>';
            }
            $('#ddYear').append(option);

            var months = ["January", "February", "March", "April", "May", "June",
               "July", "August", "September", "October", "November", "December"];
            option = "";
            for (var Month1 = 1; Month1 < 13; Month1++) {
                option += '<option value="' + Month1.toString() + '">' + Month1.toString() + '- ' + months[Month1 - 1] + '</option>';
            }
            $('#ddMonth').append(option);
        }

        function GetCustomerIdsFromGrid() {
            var custId = "";
            var rows = $("#tblDDOperation").dataTable().fnGetNodes();
            for (var i = 0; i < rows.length; i++) {
                if ($('#chkChild_' + (i + 1)).prop('checked')) {
                    custId = custId + $(rows[i]).find('td:eq(1)').html() + ',';
                }
            }
            custId = custId.toString().substring(0, custId.length - 1);
            return custId;
        }

        function GetPayRefsFromGrid() {
            var PayRefs = "";
            var rows = $("#tblDDOperation").dataTable().fnGetNodes();
            for (var i = 0; i < rows.length; i++) {
                if ($('#chkChild_' + (i + 1)).prop('checked')) {
                    PayRefs = PayRefs + $(rows[i]).find('td:eq(6)').html() + ',';
                }
            }
            PayRefs = PayRefs.toString().substring(0, PayRefs.length - 1);
            return PayRefs;
        }

        function GetMobileNosFromGrid() {
            var MobNo = "";
            var rows = $("#tblDDOperation").dataTable().fnGetNodes();
            for (var i = 0; i < rows.length; i++) {
                if ($('#chkChild_' + (i + 1)).prop('checked')) {
                    MobNo = MobNo + $(rows[i]).find('td:eq(3)').html() + ',';
                }
            }
            MobNo = MobNo.toString().substring(0, MobNo.length - 1);
            return MobNo;
        }

        function PrepareDataForGrid() {
            valddMonth = ddMonthSelVal;
            valddYear = ddYearSelVal;
            valddStatus = ddStatusSelVal;
            valCustomerId = $('#txtCustomerId').val();
            valPaymtStatus = ddPaymtStatusSelVal;
            valMobileNo = $('#txtMobileNo').val();
            valConnStatus = ddConnectionStatusSelVal;
            valPaymentRef = $('#txtPaymtRef').val();
            valPayMode = ddPayModeVal;
            if (valddMonth == '')
                valddMonth = null;
            if (valddYear == '')
                valddYear = null;
            if (valddStatus == '')
                valddStatus = null;
            if (valConnStatus == '')
                valConnStatus = null;
            if (valPayMode == '')
                valPayMode = null;
        }

        function PrepareDataForGrid1() {
            var dat = new Date();
            //valddYear = $('#ddYear option:selected').val();

            alert(ddMonthSelVal);

            valddMonth = $('#ddMonth').val();
            valddStatus = $('#ddStatus').val();
            valCustomerId = $('#txtCustomerId').val();
            valPaymtStatus = $('#PaymtStatus').val();
            valMobileNo = $('#txtMobileNo').val();
            valConnStatus = $('#ConnStatus').val();
            valPaymentRef = $('#txtPaymtRef').val();
            if (valddYear == 'A') {
                var yrStr = '';
                for (var yr1 = 2010; yr1 < dat.getFullYear() ; yr1++)
                    yrStr += yr1.toString();
                yrStr = yrStr.toString().substring(0, yrStr.length - 1);
            } else if (valddYear == 'N') {
                valddYear = null;
            }

            if ((valddMonth == 'A') || (valddMonth == 'N')) {
                valddMonth = null;
            }

            if (valddStatus == 'N') {
                valddMonth = null;
            } else if (valddStatus == 'A') {
                valddStatus = "0,1";
            }

            if (valPaymtStatus == 'N') {
                valddMonth = null;
            } else if (valPaymtStatus == 'A') {
                valPaymtStatus = "0,1,2,3";
            }

            if (valConnStatus == 'N') {
                valddMonth = null;
            } else if (valConnStatus == 'A') {
                valConnStatus = "0,3";
            }
        }


        $(document).ready(function () {

            $('#ddYear').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                maxHeight: 150,
                buttonTitle: function (options, select) {
                    var selected = '';
                    options.each(function () {
                        selected += $(this).text() + ', ';
                    });

                    ddYearSelVal = selected.substr(0, selected.length - 2);
                    return selected.substr(0, selected.length - 2);
                },
            });

            $('#ddMonth').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                maxHeight: 150,
                buttonTitle: function (options, select) {
                    var selected = '';
                    options.each(function () {
                        selected += $(this).val() + ', ';
                    });

                    ddMonthSelVal = selected.substr(0, selected.length - 2);
                    return selected.substr(0, selected.length - 2);
                },
            });

            $('#ddStatus').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                maxHeight: 150,
                buttonTitle: function (options, select) {
                    var selected = '';
                    options.each(function () {
                        selected += $(this).val() + ', ';
                    });

                    ddStatusSelVal = selected.substr(0, selected.length - 2);
                    return selected.substr(0, selected.length - 2);
                },
            });
            
            $('#PaymtStatus').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                maxHeight: 150,
                buttonTitle: function (options, select) {
                    var selected = '';
                    options.each(function () {
                        selected += $(this).val() + ', ';
                    });

                    ddPaymtStatusSelVal = selected.substr(0, selected.length - 2);
                    return selected.substr(0, selected.length - 2);
                },
            });

            $('#ConnStatus').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                maxHeight: 150,
                buttonTitle: function (options, select) {
                    var selected = '';
                    options.each(function () {
                        selected += $(this).val() + ', ';
                    });

                    ddConnectionStatusSelVal = selected.substr(0, selected.length - 2);
                    return selected.substr(0, selected.length - 2);
                },
            });

            $('#PayMode').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                maxHeight: 150,
                buttonTitle: function (options, select) {
                    var selected = '';
                    options.each(function () {
                        selected += $(this).val() + ',';
                    });

                    ddPayModeVal = selected.substr(0, selected.length - 1);
                    return selected.substr(0, selected.length - 1);
                },
            });
            //PopulatePaymentMode();
        });



        $('#btnODBack').click(function () {
            window.location = "/PMBO/TabViewNProcessFailures";
        });

        function PopulatePaymentMode() {
            var ajaxSpinnerTop = $(window).outerHeight() / 2;
            $("#ajax-screen-masking #ajax-loader").css({ "margin-top": ajaxSpinnerTop + "px" });
            $("#ajax-screen-masking").css({ "height": $(document).outerHeight() + "px" });
            $("#ajax-screen-masking").show();
            var url = apiServer + "/api/PopulatePayMode";
            jQuery.support.cors = true;
            var JSONSendData = {
            };
            $.ajax({
                url: url,
                type: 'get',
                data: JSONSendData,
                dataType: 'json',
                contentType: "application/json;charset=utf-8",
                cache: false,
                success: function (feedback) {
                    var optionData = "";
                    for (var idx = 0; idx < feedback.length ; idx++) {
                        optionData += '<option value="' + feedback[idx].Payment_Mode + '">' + feedback[idx].Payment_Mode + '</option>';
                    }
                    //$("select#PayMode").append(optionData);
                    $('#PayMode').append(optionData);
                },
                error: function (feedback) {
                }
            });

            //var url = apiServer + 'api/populatepaymode';
            //$.getJSON(url,null, function (data) {
            //    var optionData = "";
            //    for (var idx in data) {
            //        optionData += "<option value = '" + data[idx].Payment_Mode + "'>" + data[idx].Payment_Mode + "</option>";
            //    }
            //    $('#PayMode').append(optionData);
            //});
            $("#ajax-screen-masking").hide();
        }

        function ImportExcel(strid) {
            var prtContent = document.getElementById(strid);
            var pop1 = window.open ("", "import.xls", "left=0,top=0,width=800%,height=600,toolbar=1,scrollbars=1,status=1");
            var doc = pop1.document.open("application/vnd-msexcel");
            doc.write(prtContent.innerHTML);
            doc.close();
            pop1.focus();
        }
    </script>

  
}
