﻿@model CRM_API.Models.PMBOPageModel
@{
    ViewBag.UserName = "PMBO";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "PMBO - Pay Monthly.";
}
<div class="row-fluid">
    <div class="span12">
         @using (Html.BeginForm("UploadExcelSheet", "PMBO", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <label style="float: left; width: 130px;">Select File to Upload  </label>
                                        <input style="width: 140px;" type="text" id="txtXLSFilename" /> 
                                        <input type="file" id="fileToUpload" name="file" style="width: 83px;" onchange="TakeThePathOfFile()" />
                                        <button class="btn blue" type="submit" id="btn-submit" style="width: 130px;">Upload</button>        
                                    }

                                   

         <div id="tblDDOperationContainer">
        <table id="tblDDOperation"></table>
    </div>
        </div>
    </div>

@section ScriptsTab {
    <script src="~/Assets/Main/js/testFirst.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var value = '@Request["id"]';
            ActivateTopbarMenu(8);
            ViewOperator(list);
        });
    </script>

}