﻿ <div class="row-fluid" id="tbVoucherListContainer" style="display:none;margin-top:5px">
	<div class="span12" style="background-color:#ffffff;border:1px solid #81adf5;padding:10px">
        <table class="table table-bordered table-condensed table striped" id="tbVoucherList">
            <thead>
                <tr>
                    <th>CBS</th>
                    <th>Usage Date</th>
                    <th>Amount</th>
                    <th>Voucher Type</th>
                    <th>Tariff Class</th>
                    <th>Activation Date</th>
                </tr>
            </thead>
            <tbody>
                <tr id="voucherAvailable">
                    <td><span id="val_cbs"></span></td>
                    <td><span id="val_usageDate"></span></td>
                    <td><span id="val_amount"></span></td>
                    <td><span id="val_voucherType"></span></td>
                    <td><span id="val_tarifClass"></span></td>
                    <td><span id="val_activationDate"></span></td>
                </tr>
                <tr id="noVoucher" style="display:none;">
                    <td colspan="6">No voucher found!</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>