﻿        <div class="tab-pane" id="tab_1_0">
            <table class="table table-bordered" style="width: 100%; background-color: #f5f5f5">
                <tr>
                    <td>Select Option</td>
                    <td>
                        <input id ="radUpdCollFail" type ="radio" />Upload Collection Failures
                        <input id ="radDDCancReq" type ="radio" />Upload DD Cancellation Request

                    </td>
                </tr>
                          
                <tr>
                    <td>Select File to Upload </td>
                    <td>
                        <input type="text" id="txtXLSFilename" maxlength="100" />
                        </td>
                    <td>
                        <input type="button" id="btnBrowse" name ="Browse" /> 
                        </td>
                    <td>
                        <input type="button" id="btnUpload"  name="Upload" /> 
                        </td>
                </tr>
              
            </table>
                                    
        </div>


